In [1]:
import torch
# GPUの名称、CUDA Compute Capabilityを取得
print(torch.cuda.get_device_name())

NVIDIA GeForce RTX 2080 Ti

In [2]:
import cupy as cp
import numpy as np
import pandas as pd
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import scipy.stats as st
import pickle
import optuna
import re
import gc

from lightgbm import LGBMClassifier

from sklearn import metrics
from sklearn.tree import plot_tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.impute import SimpleImputer
from sklearn_pandas import DataFrameMapper
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import log_loss
from sklearn.metrics import mean_squared_log_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.metrics import roc_auc_score
from sklearn.datasets import make_moons
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_selection import mutual_info_classif
from sklearn.experimental import enable_iterative_imputer

from keras.layers import Dense, Dropout
from keras.models import Sequential

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

from tqdm import tqdm

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

import xgboost as xgb
from sklearn.metrics import log_loss
from xgboost.sklearn import XGBClassifier

from Modules import Modules
from Baseline import Baseline
from FeatureEngineering2 import FeatureEngineering2


%matplotlib inline

print("OK\n")

OK

## 共通関数定義

In [3]:
params = {
        'booster': 'gbtree'
        ,'objective': 'binary:logistic'
        ,'silent': 1
        ,'random_state': 17
        ,'eval_metric': 'auc'
        ,'eta': 0.1
        ,'max_depth': 8
        ,'subsample': 0.9
        ,'colsample_state': 71
        ,'colsample_bytree': 1.0
        ,'colsample_bylevel': 0.3
        ,'gamma': 0
        ,'lambda': 1
        ,'alpha': 0
        ,'min_child_weight': 1
        ,'gpu_id': 0
        ,'tree_method': 'gpu_hist'
        #,'num_round': 1000
}

## インスタンス生成

In [4]:
baseline = Baseline('SK_ID_CURR')
modules = Modules('SK_ID_CURR')
FeatureEngineering2 = FeatureEngineering2('SK_ID_CURR')

In [5]:
params_base = {
        'booster': 'gbtree'
        ,'objective': 'binary:logistic'
        ,'eta': 0.1
        ,'gamma': 0.0
        ,'alpha': 0.0
        ,'lambda': 1.0
        ,'min_child_weight': 6
        ,'max_depth': 1
        ,'subsample': 0.8
        ,'colsample_bytree': 0.8
        ,'random_state': 17
        ,'gpu_id': 0
        ,'tree_method': 'gpu_hist'
        ,'eval_metric': 'auc'
        ,'colsample_bylevel': 0.3
        #,'num_round': 100000
}


def objective(trial):
    # 探索するパラメータ
    param_tuning = {
            "min_child_weight": trial.suggest_float("min_child_weight", 0.1, 10, log=True)
            ,"max_depth": trial.suggest_int("max_depth", 1, 15, step=1, log=False)
            ,"subsample": trial.suggest_float("subsample", 0.1, 0.95,  step =0.05, log=False)
            ,"colsample_bytree": trial.suggest_float("colsample_bytree", 0.1, 0.95,  step =0.05, log=False)
            ,'colsample_bylevel': trial.suggest_float("colsample_bylevel", 0.1, 0.95,  step =0.05, log=False)
            ,"gamma": trial.suggest_float("gamma", 1e-8, 1.0, log=True)
            # 余裕があれば調整する
            ,"alpha": trial.suggest_float("alpha", 1e-8, 1.0, log=True)
            ,"lambda": trial.suggest_float("lambda", 1e-6, 10.0, log=True)
            
    }
    param_tuning.update(params_base)

    # モデル学習・評価:
    list_metrics = []
    cv = list(StratifiedKFold(n_splits=5, shuffle=True, random_state=123).split(x_train, y_train))
    list_fold = [0]
    for nfold in list_fold:
        idx_tr, idx_va = cv[nfold][0], cv[nfold][1]
        x_tr, y_tr = x_train.loc[idx_tr, :], y_train[idx_tr]
        x_va, y_va = x_train.loc[idx_va, :], y_train[idx_va]
        model = xgb.XGBClassifier(**params)
        model.fit(x_tr
                    ,y_tr
                    ,eval_set=[(x_tr, y_tr), (x_va, y_va)]
        )
        y_va_pred = model.predict_proba(x_va)[:,1]
        metric_va = roc_auc_score(y_va, y_va_pred)
        list_metrics.append(metric_va)

    # 評価指数の算出
    metrics = np.mean(list_metrics)

    return metrics

## 特徴量生成

In [6]:
### application
df = FeatureEngineering2.application()
df.head()

"Application_Train_Test" final shape: (356250, 234)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,APP_EXT_SOURCE_2*DAYS_EMPLOYED,APP_EXT_SOURCE_3*DAYS_EMPLOYED,APPS_GOODS_INCOME_RATIO,APPS_CNT_FAM_INCOME_RATIO,APPS_INCOME_EMPLOYED_RATIO,CREDIT_TO_GOODS_RATIO_2,APP_AMT_INCOME_TOTAL_12_AMT_ANNUITY_ratio,APP_INCOME_TO_EMPLOYED_RATIO,APP_DAYS_LAST_PHONE_CHANGE_DAYS_EMPLOYED_ratio,APP_DAYS_EMPLOYED_DAYS_BIRTH_diff
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,-167.498254,-88.782372,1.733333,202500.0,-317.896389,1.158397,-7825.5,-317.896389,1.780220,8824.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,-739.227981,NaN,4.183333,135000.0,-227.272727,1.145199,-13198.5,-227.272727,0.696970,15577.0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,-125.080219,-164.152505,2.000000,67500.0,-300.000000,1.000000,-1125.0,-300.000000,3.622222,18821.0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,-1976.692297,NaN,2.200000,67500.0,-44.422507,1.052803,-18436.5,-44.422507,0.203027,15966.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,-980.478916,NaN,4.222222,121500.0,-39.993417,1.000000,-11740.5,-39.993417,0.364055,16894.0

In [7]:
### bureau_balance
df = df.merge(FeatureEngineering2.bureau_bb(), how='left', on='SK_ID_CURR')
df.head()

"Bureau/Bureau Balance" final shape: (305811, 200)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_BUREAU_CREDIT_DEBT_RATIO_MIN,CLOSED_BUREAU_CREDIT_DEBT_RATIO_MAX,CLOSED_BUREAU_CREDIT_DEBT_RATIO_MEAN,CLOSED_DEBT_CREDIT_DIFF_MIN,CLOSED_DEBT_CREDIT_DIFF_MAX,CLOSED_DEBT_CREDIT_DIFF_MEAN,CLOSED_BUREAU_IS_DPD_MEAN,CLOSED_BUREAU_IS_DPD_SUM,CLOSED_BUREAU_IS_DPD_OVER120_MEAN,CLOSED_BUREAU_IS_DPD_OVER120_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,135000.0,85245.0,0.0,0.0,0.0,0.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,22248.0,112500.0,69133.5,0.0,0.0,0.0,0.0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,94500.0,94537.8,94518.9,0.0,0.0,0.0,0.0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,146250.0,146250.0,146250.0,0.0,0.0,0.0,0.0

In [8]:
### previos_application
df = df.merge(FeatureEngineering2.previous_application(), how='left', on='SK_ID_CURR')
df.head()

"Previous Applications" final shape: (338857, 321)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,REFUSED_PREV_GOODS_DIFF_MEAN,REFUSED_PREV_GOODS_DIFF_MAX,REFUSED_PREV_GOODS_DIFF_SUM,REFUSED_PREV_GOODS_APPL_RATIO_MEAN,REFUSED_PREV_GOODS_APPL_RATIO_MAX,REFUSED_DAYS_LAST_DUE_DIFF_MEAN,REFUSED_DAYS_LAST_DUE_DIFF_MAX,REFUSED_DAYS_LAST_DUE_DIFF_SUM,REFUSED_SIMPLE_INTERESTS_MEAN,REFUSED_SIMPLE_INTERESTS_MAX
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,1.0,1.0,NaN,NaN,0.0,0.015231,0.015231
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
### pos_cash
df = df.merge(FeatureEngineering2.pos_cash(), how='left', on='SK_ID_CURR')
df.head()

"Pos-Cash" balance final shape: (337252, 46)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,POS_NAME_CONTRACT_STATUS_Returned to the store_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_nan_MEAN,POS_COUNT,POS_LOAN_COMPLETED_MEAN,POS_COMPLETED_BEFORE_MEAN,POS_REMAINING_INSTALMENTS,POS_REMAINING_INSTALMENTS_RATIO,LATE_PAYMENT_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0.000000,0.000000,0.0,0.0,19.0,0.000000,0.0,6.0,0.250000,0.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0.000000,0.000000,0.0,0.0,28.0,0.250000,1.0,1.0,0.083333,0.0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0.000000,0.000000,0.0,0.0,4.0,0.250000,1.0,0.0,0.000000,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.047619,0.000000,0.0,0.0,21.0,0.458333,2.0,3.0,0.250000,0.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0.000000,0.015152,0.0,0.0,66.0,0.209402,1.0,14.0,0.641667,0.0

In [10]:
### instllment_payment
df = df.merge(FeatureEngineering2.installment(), how='left', on='SK_ID_CURR')
df.head()

"Installments Payments" final shape: (339587, 85)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,INS_D365PAYMENT_PERC_MAX,INS_D365DPD_DIFF_MEAN,INS_D365DPD_DIFF_MIN,INS_D365DPD_DIFF_MAX,INS_D365DPD_MEAN,INS_D365DPD_SUM,INS_D365INS_IS_DPD_UNDER_120_MEAN,INS_D365INS_IS_DPD_UNDER_120_SUM,INS_D365INS_IS_DPD_OVER_120_MEAN,INS_D365INS_IS_DPD_OVER_120_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1.0,-17.363636,-24.0,-12.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,1.0,-6.181818,-23.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,1.0,-2.250000,-4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
### credit_card_balance
df = df.merge(FeatureEngineering2.credit_card(), how='left', on='SK_ID_CURR')
df.head()

"Credit Card Balance" final shape: (103558, 284)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,INS_48M_SK_DPD_MAX,INS_48M_SK_DPD_SUM,INS_48M_DRAWING_LIMIT_RATIO_MIN,INS_48M_DRAWING_LIMIT_RATIO_MAX,INS_48M_LATE_PAYMENT_MEAN,INS_48M_LATE_PAYMENT_SUM,INS_48M_CARD_IS_DPD_UNDER_120_MEAN,INS_48M_CARD_IS_DPD_UNDER_120_SUM,INS_48M_CARD_IS_DPD_OVER_120_MEAN,INS_48M_CARD_IS_DPD_OVER_120_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
### 変数選択01
df = FeatureEngineering2.data_post_processing(df)
print('='*50, '\n')
print('---=> df final shape:', df.shape, ' <=---', '\n')
print('=' * 50)
df.head()

---=> the DATA POST-PROCESSING is beginning, the dataset has 1168 features
names of feature are renamed
---=> pandas data types of features in the dataset are converted for a reduced memory usage
---=> 1122 features are remained after removing non-informative features
123 features are eliminated by LightGBM classifier with an 0.7 auc score limit in step I
---=> 999 features are remained after removing features not interesting for LightGBM classifier
---=> 58 features are generated with the risk_groupanizer
---=> the DATA POST-PROCESSING is ended!, now the dataset has a total 1057 features
==================================================

---=> df final shape: (356250, 1057)  <=---

==================================================

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,POS_COMPLETED_BEFORE_MEAN_high_risk,POS_COMPLETED_BEFORE_MEAN_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,CC_NAME_CONTRACT_STATUS_Approved_VAR_high_risk,CC_NAME_CONTRACT_STATUS_Approved_VAR_low_risk,CC_NAME_CONTRACT_STATUS_Refused_VAR_high_risk,CC_NAME_CONTRACT_STATUS_Refused_VAR_low_risk
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,0,0,0,0,0,0,0,0,0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0,1,0,0,0,0,0,0,0,0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,1,0,0,0,0,0,0,0,0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,1,1,0,0,0,1,0,1,0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,1,0,0,0,0,0,0,0,0

In [13]:
### 変数選択02
df = FeatureEngineering2.data_post_processing(df)
print('='*50, '\n')
print('---=> df final shape:', df.shape, ' <=---', '\n')
print('=' * 50)
df.head()

---=> the DATA POST-PROCESSING is beginning, the dataset has 1057 features
names of feature are renamed
---=> pandas data types of features in the dataset are converted for a reduced memory usage
---=> 1051 features are remained after removing non-informative features
40 features are eliminated by LightGBM classifier with an 0.7 auc score limit in step I
---=> 1011 features are remained after removing features not interesting for LightGBM classifier
---=> 19 features are generated with the risk_groupanizer
---=> the DATA POST-PROCESSING is ended!, now the dataset has a total 1030 features
==================================================

---=> df final shape: (356250, 1030)  <=---

==================================================

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,0,0,1,1,0,0,0,0,0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,1,0,0,1,1,0,0,0,0,0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0,1,1,0,0,0,0,0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0,0,1,0,1,0,0,0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0,1,1,0,0,0,0,0

In [14]:
### 変数選択03
df = FeatureEngineering2.data_post_processing(df)
print('='*50, '\n')
print('---=> df final shape:', df.shape, ' <=---', '\n')
print('=' * 50)
df.head()

---=> the DATA POST-PROCESSING is beginning, the dataset has 1030 features
names of feature are renamed
---=> pandas data types of features in the dataset are converted for a reduced memory usage
---=> 1026 features are remained after removing non-informative features
15 features are eliminated by LightGBM classifier with an 0.7 auc score limit in step I
---=> 1011 features are remained after removing features not interesting for LightGBM classifier
---=> 19 features are generated with the risk_groupanizer
---=> the DATA POST-PROCESSING is ended!, now the dataset has a total 1030 features
==================================================

---=> df final shape: (356250, 1030)  <=---

==================================================

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,0,0,1,1,0,0,0,0,0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,1,0,0,1,1,0,0,0,0,0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0,1,1,0,0,0,0,0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0,0,1,0,1,0,0,0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0,1,1,0,0,0,0,0

In [15]:
df = df.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x))
df.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,0,0,1,1,0,0,0,0,0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,1,0,0,1,1,0,0,0,0,0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0,1,1,0,0,0,0,0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0,0,1,0,1,0,0,0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0,1,1,0,0,0,0,0

## 学習

### 001 baseline

In [16]:
# split train, and test datasets
df = df.replace([np.inf, -np.inf], np.nan)
app_train = df[df['TARGET'].notnull()]
app_test = df[df['TARGET'].isnull()]

print(app_test.shape)
app_test.head()

(48744, 1030)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
307506,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,0,0,1,1,0,0,0,0,0
307507,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,0,0,1,1,0,0,0,0,0
307508,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,0,0,1,1,0,1,0,1,0
307509,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0,1,1,0,1,0,1,0
307510,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0,0,1,0,0,0,0,0

In [17]:
pred_train_1b = pd.read_csv('./home-credit-default-risk/exports/pred_train_1b.csv')
pred_test_1b =  pd.read_csv('./home-credit-default-risk/exports/pred_test_1b.csv')
pred_test_1b.head()

   SK_ID_CURR   pred_1b
0      100001  0.051055
1      100005  0.166067
2      100013  0.043899
3      100028  0.056542
4      100038  0.183168

In [18]:
app_train = app_train.merge(pred_train_1b, how='left', on='SK_ID_CURR')
app_test = app_test.merge(pred_test_1b, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,1,1,0,0,0,0,0,0.051055
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,1,1,0,0,0,0,0,0.166067
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,0,1,1,0,1,0,1,0,0.043899
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0,0,1,1,0,1,0,1,0,0.056542
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0,1,0,0,0,0,0,0.183168

In [19]:
pred_train_1a = pd.read_csv('./home-credit-default-risk/exports/pred_train_1a.csv')
pred_test_1a =  pd.read_csv('./home-credit-default-risk/exports/pred_test_1a.csv')
pred_test_1b.head()

   SK_ID_CURR   pred_1b
0      100001  0.051055
1      100005  0.166067
2      100013  0.043899
3      100028  0.056542
4      100038  0.183168

In [20]:
app_train = app_train.merge(pred_train_1a, how='left', on='SK_ID_CURR')
app_test = app_test.merge(pred_test_1a, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,1,1,0,0,0,0,0,0.051055,0.038227
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,1,1,0,0,0,0,0,0.166067,0.112768
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,1,1,0,1,0,1,0,0.043899,0.033638
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0,1,1,0,1,0,1,0,0.056542,0.031213
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,1,0,0,0,0,0,0.183168,0.181109

In [21]:
train_set3a = pd.read_csv('./home-credit-default-risk/exports/train_set3a.csv')
test_set3a =  pd.read_csv('./home-credit-default-risk/exports/test_set3a.csv')
test_set3a.head()

   SK_ID_CURR     set3a
0      100001  0.038205
1      100005  0.103087
2      100013  0.058075
3      100028  0.035603
4      100038  0.184927

In [22]:
app_train = app_train.merge(train_set3a, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_set3a, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,1,0,0,0,0,0,0.051055,0.038227,0.038205
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,1,0,0,0,0,0,0.166067,0.112768,0.103087
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,1,0,1,0,1,0,0.043899,0.033638,0.058075
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,1,0,1,0,1,0,0.056542,0.031213,0.035603
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,1,0,0,0,0,0,0.183168,0.181109,0.184927

In [23]:
### indexを削除
app_train=app_train.reset_index()
app_test=app_test.reset_index()
app_test.head()

,level_0,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
0,0,0,100001,NaN,1,0,0,0,135000.0,568800.0,...,1,1,0,0,0,0,0,0.051055,0.038227,0.038205
1,1,1,100005,NaN,0,0,0,0,99000.0,222768.0,...,1,1,0,0,0,0,0,0.166067,0.112768,0.103087
2,2,2,100013,NaN,0,1,0,0,202500.0,663264.0,...,1,1,0,1,0,1,0,0.043899,0.033638,0.058075
3,3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,...,1,1,0,1,0,1,0,0.056542,0.031213,0.035603
4,4,4,100038,NaN,0,1,1,1,180000.0,625500.0,...,0,1,0,0,0,0,0,0.183168,0.181109,0.184927

In [24]:
### indexを削除
app_train = app_train.drop(columns=['index'])
app_test = app_test.drop(columns=['index'])
app_test.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,1,0,0,0,0,0,0.051055,0.038227,0.038205
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,1,0,0,0,0,0,0.166067,0.112768,0.103087
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,1,0,1,0,1,0,0.043899,0.033638,0.058075
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,1,0,1,0,1,0,0.056542,0.031213,0.035603
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,1,0,0,0,0,0,0.183168,0.181109,0.184927

In [25]:
app_train.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,1,0,0,0,0,0,0.516856,0.162368,0.254294
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,1,1,0,0,0,0,0,0.010645,0.027249,0.022026
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,1,1,0,0,0,0,0,0.054077,0.030869,0.035999
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,1,0,1,0,0,0,0.059492,0.029480,0.021632
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,1,1,0,0,0,0,0,0.076165,0.047569,0.025333

In [26]:
x_train = app_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = app_train['TARGET']
id_train = app_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=='O':
        x_train[col] = x_train[col].astype('category')

In [27]:
### 学習モデル構築
train_oof, imp, metrics = baseline.train_xgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246004, 1031) (61502, 1031)
[21:58:53] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79728	validation_1-auc:0.78825
[1]	validation_0-auc:0.80116	validation_1-auc:0.78937
[2]	validation_0-auc:0.80458	validation_1-auc:0.79043
[3]	validation_0-auc:0.80709	validation_1-auc:0.79076
[4]	validation_0-auc:0.80839	validation_1-auc:0.79080
[5]	validation_0-auc:0.81048	validation_1-auc:0.79082
[6]	validation_0-auc:0.81153	validation_1-auc:0.79100
[7]	validation_0-auc:0.81314	validation_1-auc:0.79116
[8]	validation_0-auc:0.81405	validation_1-auc:0.79113
[9]	validation_0-auc:0.81503	validation_1-auc:0.79110
[10]	validation_0-auc:0.81647	validation_1-auc:0.79131
[11]	validation_0-auc:0.81738	validation_1-auc:0.79119
[12]	validation_0-auc:0.81858	validation_1-auc:0.79119
[13]	validation_0-auc:0.81977	validation_1-auc:0.79114
[14]	validation_0-auc:0.82053	validation_1-auc:0.79115
[15]	validation_0-auc:0.82149	validation_1-auc:0.79097
[16]	validation_0-auc:0.82242	validation_1-auc:0.79104
[17]	validation_0-auc:0.82366	validation_1-auc:0.79099
[18]	validation_0-auc:0.82485	validation_1-auc:0.79108
[19]	validation_0-auc:0.82574	validation_1-auc:0.79114
[20]	validation_0-auc:0.82741	validation_1-auc:0.79115
[21]	validation_0-auc:0.82842	validation_1-auc:0.79105
[22]	validation_0-auc:0.82979	validation_1-auc:0.79102
[23]	validation_0-auc:0.83109	validation_1-auc:0.79070
[24]	validation_0-auc:0.83166	validation_1-auc:0.79067
[25]	validation_0-auc:0.83290	validation_1-auc:0.79046
[26]	validation_0-auc:0.83448	validation_1-auc:0.79044
[27]	validation_0-auc:0.83585	validation_1-auc:0.79057
[28]	validation_0-auc:0.83778	validation_1-auc:0.79055
[29]	validation_0-auc:0.83856	validation_1-auc:0.79035
[30]	validation_0-auc:0.84005	validation_1-auc:0.79041
[31]	validation_0-auc:0.84136	validation_1-auc:0.79033
[32]	validation_0-auc:0.84277	validation_1-auc:0.79026
[33]	validation_0-auc:0.84458	validation_1-auc:0.78995
[34]	validation_0-auc:0.84585	validation_1-auc:0.79002
[35]	validation_0-auc:0.84663	validation_1-auc:0.79004
[36]	validation_0-auc:0.84767	validation_1-auc:0.79000
[37]	validation_0-auc:0.84915	validation_1-auc:0.79010
[38]	validation_0-auc:0.85047	validation_1-auc:0.78999
[39]	validation_0-auc:0.85116	validation_1-auc:0.78998
[40]	validation_0-auc:0.85232	validation_1-auc:0.78999
[41]	validation_0-auc:0.85327	validation_1-auc:0.79019
[42]	validation_0-auc:0.85459	validation_1-auc:0.79009
[43]	validation_0-auc:0.85591	validation_1-auc:0.79020
[44]	validation_0-auc:0.85748	validation_1-auc:0.79011
[45]	validation_0-auc:0.85852	validation_1-auc:0.78998
[46]	validation_0-auc:0.85962	validation_1-auc:0.79001
[47]	validation_0-auc:0.86126	validation_1-auc:0.78998
[48]	validation_0-auc:0.86273	validation_1-auc:0.78996
[49]	validation_0-auc:0.86344	validation_1-auc:0.78992
[50]	validation_0-auc:0.86464	validation_1-auc:0.78995
[51]	validation_0-auc:0.86601	validation_1-auc:0.79004
[52]	validation_0-auc:0.86731	validation_1-auc:0.78992
[53]	validation_0-auc:0.86809	validation_1-auc:0.78979
[54]	validation_0-auc:0.86865	validation_1-auc:0.78983
[55]	validation_0-auc:0.86970	validation_1-auc:0.78982
[56]	validation_0-auc:0.87045	validation_1-auc:0.78984
[57]	validation_0-auc:0.87133	validation_1-auc:0.78979
[58]	validation_0-auc:0.87227	validation_1-auc:0.78973
[59]	validation_0-auc:0.87355	validation_1-auc:0.78953
[60]	validation_0-auc:0.87463	validation_1-auc:0.78954
[61]	validation_0-auc:0.87559	validation_1-auc:0.78951
[62]	validation_0-auc:0.87606	validation_1-auc:0.78954
[63]	validation_0-auc:0.87714	validation_1-auc:0.78931
[64]	validation_0-auc:0.87768	validation_1-auc:0.78929
[65]	validation_0-auc:0.87833	validation_1-auc:0.78926
[66]	validation_0-auc:0.87855	validation_1-auc:0.78923
[67]	validation_0-auc:0.87901	validation_1-auc:0.78924
[68]	validation_0-auc:0.87966	validation_1-auc:0.78918
[69]	validation_0-auc:0.88024	validation_1-auc:0.78915
[70]	validation_0-auc:0.88095	validation_1-auc:0.78913
[71]	validation_0-auc:0.88171	validation_1-auc:0.78927
[72]	validation_0-auc:0.88257	validation_1-auc:0.78923
[73]	validation_0-auc:0.88306	validation_1-auc:0.78931
[74]	validation_0-auc:0.88374	validation_1-auc:0.78920
[75]	validation_0-auc:0.88415	validation_1-auc:0.78929
[76]	validation_0-auc:0.88534	validation_1-auc:0.78918
[77]	validation_0-auc:0.88608	validation_1-auc:0.78916
[78]	validation_0-auc:0.88689	validation_1-auc:0.78915
[79]	validation_0-auc:0.88748	validation_1-auc:0.78904
[80]	validation_0-auc:0.88768	validation_1-auc:0.78901
[81]	validation_0-auc:0.88815	validation_1-auc:0.78898
[82]	validation_0-auc:0.88899	validation_1-auc:0.78889
[83]	validation_0-auc:0.88947	validation_1-auc:0.78878
[84]	validation_0-auc:0.89006	validation_1-auc:0.78875
[85]	validation_0-auc:0.89085	validation_1-auc:0.78862
[86]	validation_0-auc:0.89123	validation_1-auc:0.78865
[87]	validation_0-auc:0.89170	validation_1-auc:0.78860
[88]	validation_0-auc:0.89251	validation_1-auc:0.78864
[89]	validation_0-auc:0.89323	validation_1-auc:0.78867
[90]	validation_0-auc:0.89414	validation_1-auc:0.78877
[91]	validation_0-auc:0.89465	validation_1-auc:0.78875
[92]	validation_0-auc:0.89523	validation_1-auc:0.78871
[93]	validation_0-auc:0.89553	validation_1-auc:0.78861
[94]	validation_0-auc:0.89629	validation_1-auc:0.78855
[95]	validation_0-auc:0.89693	validation_1-auc:0.78842
[96]	validation_0-auc:0.89738	validation_1-auc:0.78847
[97]	validation_0-auc:0.89755	validation_1-auc:0.78846
[98]	validation_0-auc:0.89813	validation_1-auc:0.78850
[99]	validation_0-auc:0.89901	validation_1-auc:0.78851
[auc] tr:0.899008, va0.7885
-------------------- 1 --------------------
(246005, 1031) (61501, 1031)
[21:59:19] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79629	validation_1-auc:0.79003
[1]	validation_0-auc:0.80029	validation_1-auc:0.79389
[2]	validation_0-auc:0.80228	validation_1-auc:0.79427
[3]	validation_0-auc:0.80470	validation_1-auc:0.79428
[4]	validation_0-auc:0.80536	validation_1-auc:0.79433
[5]	validation_0-auc:0.80799	validation_1-auc:0.79473
[6]	validation_0-auc:0.80874	validation_1-auc:0.79493
[7]	validation_0-auc:0.80995	validation_1-auc:0.79493
[8]	validation_0-auc:0.81169	validation_1-auc:0.79497
[9]	validation_0-auc:0.81283	validation_1-auc:0.79526
[10]	validation_0-auc:0.81420	validation_1-auc:0.79499
[11]	validation_0-auc:0.81455	validation_1-auc:0.79520
[12]	validation_0-auc:0.81625	validation_1-auc:0.79514
[13]	validation_0-auc:0.81725	validation_1-auc:0.79538
[14]	validation_0-auc:0.81852	validation_1-auc:0.79547
[15]	validation_0-auc:0.82002	validation_1-auc:0.79576
[16]	validation_0-auc:0.82065	validation_1-auc:0.79585
[17]	validation_0-auc:0.82171	validation_1-auc:0.79584
[18]	validation_0-auc:0.82328	validation_1-auc:0.79571
[19]	validation_0-auc:0.82419	validation_1-auc:0.79563
[20]	validation_0-auc:0.82603	validation_1-auc:0.79552
[21]	validation_0-auc:0.82766	validation_1-auc:0.79545
[22]	validation_0-auc:0.82874	validation_1-auc:0.79555
[23]	validation_0-auc:0.83024	validation_1-auc:0.79526
[24]	validation_0-auc:0.83152	validation_1-auc:0.79514
[25]	validation_0-auc:0.83293	validation_1-auc:0.79513
[26]	validation_0-auc:0.83483	validation_1-auc:0.79484
[27]	validation_0-auc:0.83581	validation_1-auc:0.79484
[28]	validation_0-auc:0.83756	validation_1-auc:0.79469
[29]	validation_0-auc:0.83910	validation_1-auc:0.79459
[30]	validation_0-auc:0.84071	validation_1-auc:0.79429

[31]	validation_0-auc:0.84185	validation_1-auc:0.79419
[32]	validation_0-auc:0.84292	validation_1-auc:0.79412
[33]	validation_0-auc:0.84393	validation_1-auc:0.79415
[34]	validation_0-auc:0.84492	validation_1-auc:0.79432
[35]	validation_0-auc:0.84598	validation_1-auc:0.79437
[36]	validation_0-auc:0.84717	validation_1-auc:0.79446
[37]	validation_0-auc:0.84842	validation_1-auc:0.79453
[38]	validation_0-auc:0.84992	validation_1-auc:0.79464
[39]	validation_0-auc:0.85119	validation_1-auc:0.79452
[40]	validation_0-auc:0.85200	validation_1-auc:0.79453
[41]	validation_0-auc:0.85319	validation_1-auc:0.79439
[42]	validation_0-auc:0.85447	validation_1-auc:0.79453
[43]	validation_0-auc:0.85560	validation_1-auc:0.79448
[44]	validation_0-auc:0.85696	validation_1-auc:0.79438
[45]	validation_0-auc:0.85805	validation_1-auc:0.79413
[46]	validation_0-auc:0.85927	validation_1-auc:0.79415
[47]	validation_0-auc:0.86036	validation_1-auc:0.79409
[48]	validation_0-auc:0.86140	validation_1-auc:0.79404
[49]	validation_0-auc:0.86217	validation_1-auc:0.79412
[50]	validation_0-auc:0.86383	validation_1-auc:0.79410
[51]	validation_0-auc:0.86531	validation_1-auc:0.79419
[52]	validation_0-auc:0.86641	validation_1-auc:0.79428
[53]	validation_0-auc:0.86743	validation_1-auc:0.79416
[54]	validation_0-auc:0.86867	validation_1-auc:0.79408
[55]	validation_0-auc:0.86935	validation_1-auc:0.79409
[56]	validation_0-auc:0.86996	validation_1-auc:0.79404
[57]	validation_0-auc:0.87097	validation_1-auc:0.79400
[58]	validation_0-auc:0.87178	validation_1-auc:0.79386
[59]	validation_0-auc:0.87255	validation_1-auc:0.79398
[60]	validation_0-auc:0.87352	validation_1-auc:0.79417
[61]	validation_0-auc:0.87439	validation_1-auc:0.79422
[62]	validation_0-auc:0.87569	validation_1-auc:0.79413
[63]	validation_0-auc:0.87643	validation_1-auc:0.79400
[64]	validation_0-auc:0.87696	validation_1-auc:0.79400
[65]	validation_0-auc:0.87749	validation_1-auc:0.79396
[66]	validation_0-auc:0.87834	validation_1-auc:0.79393
[67]	validation_0-auc:0.87896	validation_1-auc:0.79381
[68]	validation_0-auc:0.87987	validation_1-auc:0.79384
[69]	validation_0-auc:0.88026	validation_1-auc:0.79382
[70]	validation_0-auc:0.88124	validation_1-auc:0.79375
[71]	validation_0-auc:0.88248	validation_1-auc:0.79373
[72]	validation_0-auc:0.88299	validation_1-auc:0.79364
[73]	validation_0-auc:0.88398	validation_1-auc:0.79350
[74]	validation_0-auc:0.88483	validation_1-auc:0.79346
[75]	validation_0-auc:0.88535	validation_1-auc:0.79350
[76]	validation_0-auc:0.88598	validation_1-auc:0.79353
[77]	validation_0-auc:0.88698	validation_1-auc:0.79337
[78]	validation_0-auc:0.88763	validation_1-auc:0.79333
[79]	validation_0-auc:0.88794	validation_1-auc:0.79325
[80]	validation_0-auc:0.88826	validation_1-auc:0.79326
[81]	validation_0-auc:0.88851	validation_1-auc:0.79324
[82]	validation_0-auc:0.88931	validation_1-auc:0.79331
[83]	validation_0-auc:0.88968	validation_1-auc:0.79334
[84]	validation_0-auc:0.89071	validation_1-auc:0.79332
[85]	validation_0-auc:0.89126	validation_1-auc:0.79340
[86]	validation_0-auc:0.89169	validation_1-auc:0.79337
[87]	validation_0-auc:0.89225	validation_1-auc:0.79330
[88]	validation_0-auc:0.89255	validation_1-auc:0.79331
[89]	validation_0-auc:0.89292	validation_1-auc:0.79333
[90]	validation_0-auc:0.89340	validation_1-auc:0.79327
[91]	validation_0-auc:0.89415	validation_1-auc:0.79329
[92]	validation_0-auc:0.89462	validation_1-auc:0.79322
[93]	validation_0-auc:0.89521	validation_1-auc:0.79325
[94]	validation_0-auc:0.89593	validation_1-auc:0.79319
[95]	validation_0-auc:0.89634	validation_1-auc:0.79313
[96]	validation_0-auc:0.89672	validation_1-auc:0.79311
[97]	validation_0-auc:0.89716	validation_1-auc:0.79307
[98]	validation_0-auc:0.89792	validation_1-auc:0.79306
[99]	validation_0-auc:0.89885	validation_1-auc:0.79291
[auc] tr:0.898847, va0.7929
-------------------- 2 --------------------
(246005, 1031) (61501, 1031)
[21:59:45] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79749	validation_1-auc:0.78592
[1]	validation_0-auc:0.80239	validation_1-auc:0.78719
[2]	validation_0-auc:0.80512	validation_1-auc:0.78760
[3]	validation_0-auc:0.80742	validation_1-auc:0.78781
[4]	validation_0-auc:0.80837	validation_1-auc:0.78796
[5]	validation_0-auc:0.81023	validation_1-auc:0.78849
[6]	validation_0-auc:0.81100	validation_1-auc:0.78886
[7]	validation_0-auc:0.81238	validation_1-auc:0.78913
[8]	validation_0-auc:0.81401	validation_1-auc:0.78892
[9]	validation_0-auc:0.81561	validation_1-auc:0.78899
[10]	validation_0-auc:0.81699	validation_1-auc:0.78893
[11]	validation_0-auc:0.81810	validation_1-auc:0.78910
[12]	validation_0-auc:0.81942	validation_1-auc:0.78874
[13]	validation_0-auc:0.82066	validation_1-auc:0.78875
[14]	validation_0-auc:0.82214	validation_1-auc:0.78872
[15]	validation_0-auc:0.82308	validation_1-auc:0.78862
[16]	validation_0-auc:0.82385	validation_1-auc:0.78886
[17]	validation_0-auc:0.82511	validation_1-auc:0.78844
[18]	validation_0-auc:0.82627	validation_1-auc:0.78849
[19]	validation_0-auc:0.82695	validation_1-auc:0.78866
[20]	validation_0-auc:0.82844	validation_1-auc:0.78850
[21]	validation_0-auc:0.82959	validation_1-auc:0.78841
[22]	validation_0-auc:0.83102	validation_1-auc:0.78839
[23]	validation_0-auc:0.83196	validation_1-auc:0.78819
[24]	validation_0-auc:0.83334	validation_1-auc:0.78813
[25]	validation_0-auc:0.83453	validation_1-auc:0.78840
[26]	validation_0-auc:0.83617	validation_1-auc:0.78815
[27]	validation_0-auc:0.83730	validation_1-auc:0.78834
[28]	validation_0-auc:0.83888	validation_1-auc:0.78830
[29]	validation_0-auc:0.83962	validation_1-auc:0.78830
[30]	validation_0-auc:0.84110	validation_1-auc:0.78786
[31]	validation_0-auc:0.84239	validation_1-auc:0.78802
[32]	validation_0-auc:0.84378	validation_1-auc:0.78792
[33]	validation_0-auc:0.84536	validation_1-auc:0.78780
[34]	validation_0-auc:0.84673	validation_1-auc:0.78786
[35]	validation_0-auc:0.84781	validation_1-auc:0.78791
[36]	validation_0-auc:0.84881	validation_1-auc:0.78781
[37]	validation_0-auc:0.85018	validation_1-auc:0.78772
[38]	validation_0-auc:0.85157	validation_1-auc:0.78774
[39]	validation_0-auc:0.85290	validation_1-auc:0.78755
[40]	validation_0-auc:0.85399	validation_1-auc:0.78740
[41]	validation_0-auc:0.85500	validation_1-auc:0.78728
[42]	validation_0-auc:0.85562	validation_1-auc:0.78738
[43]	validation_0-auc:0.85729	validation_1-auc:0.78715
[44]	validation_0-auc:0.85851	validation_1-auc:0.78699
[45]	validation_0-auc:0.85957	validation_1-auc:0.78704
[46]	validation_0-auc:0.86039	validation_1-auc:0.78706
[47]	validation_0-auc:0.86163	validation_1-auc:0.78707
[48]	validation_0-auc:0.86212	validation_1-auc:0.78715
[49]	validation_0-auc:0.86327	validation_1-auc:0.78718
[50]	validation_0-auc:0.86414	validation_1-auc:0.78705
[51]	validation_0-auc:0.86497	validation_1-auc:0.78697
[52]	validation_0-auc:0.86589	validation_1-auc:0.78690
[53]	validation_0-auc:0.86698	validation_1-auc:0.78682
[54]	validation_0-auc:0.86765	validation_1-auc:0.78678
[55]	validation_0-auc:0.86825	validation_1-auc:0.78698
[56]	validation_0-auc:0.86950	validation_1-auc:0.78675
[57]	validation_0-auc:0.87046	validation_1-auc:0.78666
[58]	validation_0-auc:0.87127	validation_1-auc:0.78685
[59]	validation_0-auc:0.87254	validation_1-auc:0.78667
[60]	validation_0-auc:0.87344	validation_1-auc:0.78669
[61]	validation_0-auc:0.87392	validation_1-auc:0.78651
[62]	validation_0-auc:0.87451	validation_1-auc:0.78652
[63]	validation_0-auc:0.87482	validation_1-auc:0.78653
[64]	validation_0-auc:0.87546	validation_1-auc:0.78649
[65]	validation_0-auc:0.87624	validation_1-auc:0.78643
[66]	validation_0-auc:0.87684	validation_1-auc:0.78641
[67]	validation_0-auc:0.87775	validation_1-auc:0.78642
[68]	validation_0-auc:0.87828	validation_1-auc:0.78635
[69]	validation_0-auc:0.87921	validation_1-auc:0.78644
[70]	validation_0-auc:0.88004	validation_1-auc:0.78630

[71]	validation_0-auc:0.88060	validation_1-auc:0.78632
[72]	validation_0-auc:0.88111	validation_1-auc:0.78637
[73]	validation_0-auc:0.88199	validation_1-auc:0.78644
[74]	validation_0-auc:0.88299	validation_1-auc:0.78629
[75]	validation_0-auc:0.88372	validation_1-auc:0.78630
[76]	validation_0-auc:0.88392	validation_1-auc:0.78634
[77]	validation_0-auc:0.88459	validation_1-auc:0.78640
[78]	validation_0-auc:0.88544	validation_1-auc:0.78630
[79]	validation_0-auc:0.88630	validation_1-auc:0.78623
[80]	validation_0-auc:0.88661	validation_1-auc:0.78621
[81]	validation_0-auc:0.88765	validation_1-auc:0.78606
[82]	validation_0-auc:0.88829	validation_1-auc:0.78601
[83]	validation_0-auc:0.88888	validation_1-auc:0.78599
[84]	validation_0-auc:0.88907	validation_1-auc:0.78597
[85]	validation_0-auc:0.88979	validation_1-auc:0.78587
[86]	validation_0-auc:0.89026	validation_1-auc:0.78585
[87]	validation_0-auc:0.89095	validation_1-auc:0.78577
[88]	validation_0-auc:0.89142	validation_1-auc:0.78580
[89]	validation_0-auc:0.89219	validation_1-auc:0.78572
[90]	validation_0-auc:0.89292	validation_1-auc:0.78570
[91]	validation_0-auc:0.89375	validation_1-auc:0.78561
[92]	validation_0-auc:0.89421	validation_1-auc:0.78561
[93]	validation_0-auc:0.89463	validation_1-auc:0.78560
[94]	validation_0-auc:0.89516	validation_1-auc:0.78555
[95]	validation_0-auc:0.89578	validation_1-auc:0.78555
[96]	validation_0-auc:0.89686	validation_1-auc:0.78548
[97]	validation_0-auc:0.89733	validation_1-auc:0.78542
[98]	validation_0-auc:0.89774	validation_1-auc:0.78543
[99]	validation_0-auc:0.89843	validation_1-auc:0.78542
[auc] tr:0.898427, va0.7854
-------------------- 3 --------------------
(246005, 1031) (61501, 1031)
[22:00:11] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79640	validation_1-auc:0.79314
[1]	validation_0-auc:0.80015	validation_1-auc:0.79433
[2]	validation_0-auc:0.80263	validation_1-auc:0.79487
[3]	validation_0-auc:0.80526	validation_1-auc:0.79526
[4]	validation_0-auc:0.80653	validation_1-auc:0.79569
[5]	validation_0-auc:0.80874	validation_1-auc:0.79605
[6]	validation_0-auc:0.80981	validation_1-auc:0.79636
[7]	validation_0-auc:0.81132	validation_1-auc:0.79613
[8]	validation_0-auc:0.81313	validation_1-auc:0.79617
[9]	validation_0-auc:0.81442	validation_1-auc:0.79639
[10]	validation_0-auc:0.81526	validation_1-auc:0.79666
[11]	validation_0-auc:0.81631	validation_1-auc:0.79665
[12]	validation_0-auc:0.81764	validation_1-auc:0.79697
[13]	validation_0-auc:0.81892	validation_1-auc:0.79706
[14]	validation_0-auc:0.81962	validation_1-auc:0.79707
[15]	validation_0-auc:0.82051	validation_1-auc:0.79699
[16]	validation_0-auc:0.82153	validation_1-auc:0.79711
[17]	validation_0-auc:0.82289	validation_1-auc:0.79710
[18]	validation_0-auc:0.82443	validation_1-auc:0.79714
[19]	validation_0-auc:0.82553	validation_1-auc:0.79718
[20]	validation_0-auc:0.82687	validation_1-auc:0.79705
[21]	validation_0-auc:0.82789	validation_1-auc:0.79710
[22]	validation_0-auc:0.82934	validation_1-auc:0.79712
[23]	validation_0-auc:0.83022	validation_1-auc:0.79703
[24]	validation_0-auc:0.83125	validation_1-auc:0.79691
[25]	validation_0-auc:0.83281	validation_1-auc:0.79668
[26]	validation_0-auc:0.83438	validation_1-auc:0.79662
[27]	validation_0-auc:0.83604	validation_1-auc:0.79645
[28]	validation_0-auc:0.83750	validation_1-auc:0.79636
[29]	validation_0-auc:0.83826	validation_1-auc:0.79658
[30]	validation_0-auc:0.83999	validation_1-auc:0.79639
[31]	validation_0-auc:0.84148	validation_1-auc:0.79619
[32]	validation_0-auc:0.84274	validation_1-auc:0.79625
[33]	validation_0-auc:0.84423	validation_1-auc:0.79607
[34]	validation_0-auc:0.84527	validation_1-auc:0.79605
[35]	validation_0-auc:0.84617	validation_1-auc:0.79611
[36]	validation_0-auc:0.84755	validation_1-auc:0.79611
[37]	validation_0-auc:0.84891	validation_1-auc:0.79611
[38]	validation_0-auc:0.85015	validation_1-auc:0.79614
[39]	validation_0-auc:0.85127	validation_1-auc:0.79609
[40]	validation_0-auc:0.85233	validation_1-auc:0.79611
[41]	validation_0-auc:0.85340	validation_1-auc:0.79619
[42]	validation_0-auc:0.85476	validation_1-auc:0.79619
[43]	validation_0-auc:0.85649	validation_1-auc:0.79637
[44]	validation_0-auc:0.85799	validation_1-auc:0.79623
[45]	validation_0-auc:0.85886	validation_1-auc:0.79623
[46]	validation_0-auc:0.86039	validation_1-auc:0.79634
[47]	validation_0-auc:0.86134	validation_1-auc:0.79630
[48]	validation_0-auc:0.86281	validation_1-auc:0.79614
[49]	validation_0-auc:0.86376	validation_1-auc:0.79611
[50]	validation_0-auc:0.86539	validation_1-auc:0.79599
[51]	validation_0-auc:0.86678	validation_1-auc:0.79593
[52]	validation_0-auc:0.86729	validation_1-auc:0.79592
[53]	validation_0-auc:0.86824	validation_1-auc:0.79590
[54]	validation_0-auc:0.86910	validation_1-auc:0.79594
[55]	validation_0-auc:0.86983	validation_1-auc:0.79587
[56]	validation_0-auc:0.87065	validation_1-auc:0.79591
[57]	validation_0-auc:0.87155	validation_1-auc:0.79582
[58]	validation_0-auc:0.87238	validation_1-auc:0.79563
[59]	validation_0-auc:0.87403	validation_1-auc:0.79560
[60]	validation_0-auc:0.87434	validation_1-auc:0.79565
[61]	validation_0-auc:0.87521	validation_1-auc:0.79564
[62]	validation_0-auc:0.87639	validation_1-auc:0.79554
[63]	validation_0-auc:0.87690	validation_1-auc:0.79549
[64]	validation_0-auc:0.87735	validation_1-auc:0.79541
[65]	validation_0-auc:0.87810	validation_1-auc:0.79550
[66]	validation_0-auc:0.87892	validation_1-auc:0.79533
[67]	validation_0-auc:0.87957	validation_1-auc:0.79535
[68]	validation_0-auc:0.88017	validation_1-auc:0.79522
[69]	validation_0-auc:0.88070	validation_1-auc:0.79523
[70]	validation_0-auc:0.88110	validation_1-auc:0.79511
[71]	validation_0-auc:0.88154	validation_1-auc:0.79516
[72]	validation_0-auc:0.88210	validation_1-auc:0.79508
[73]	validation_0-auc:0.88244	validation_1-auc:0.79509
[74]	validation_0-auc:0.88287	validation_1-auc:0.79510
[75]	validation_0-auc:0.88331	validation_1-auc:0.79507
[76]	validation_0-auc:0.88409	validation_1-auc:0.79508
[77]	validation_0-auc:0.88486	validation_1-auc:0.79510
[78]	validation_0-auc:0.88583	validation_1-auc:0.79488
[79]	validation_0-auc:0.88659	validation_1-auc:0.79484
[80]	validation_0-auc:0.88719	validation_1-auc:0.79491
[81]	validation_0-auc:0.88780	validation_1-auc:0.79481
[82]	validation_0-auc:0.88836	validation_1-auc:0.79470
[83]	validation_0-auc:0.88937	validation_1-auc:0.79453
[84]	validation_0-auc:0.88975	validation_1-auc:0.79449
[85]	validation_0-auc:0.89026	validation_1-auc:0.79434
[86]	validation_0-auc:0.89091	validation_1-auc:0.79443
[87]	validation_0-auc:0.89132	validation_1-auc:0.79437
[88]	validation_0-auc:0.89252	validation_1-auc:0.79437
[89]	validation_0-auc:0.89325	validation_1-auc:0.79439
[90]	validation_0-auc:0.89360	validation_1-auc:0.79439
[91]	validation_0-auc:0.89403	validation_1-auc:0.79434
[92]	validation_0-auc:0.89473	validation_1-auc:0.79425
[93]	validation_0-auc:0.89522	validation_1-auc:0.79431
[94]	validation_0-auc:0.89574	validation_1-auc:0.79424
[95]	validation_0-auc:0.89627	validation_1-auc:0.79422
[96]	validation_0-auc:0.89670	validation_1-auc:0.79423
[97]	validation_0-auc:0.89693	validation_1-auc:0.79426
[98]	validation_0-auc:0.89752	validation_1-auc:0.79430
[99]	validation_0-auc:0.89842	validation_1-auc:0.79432
[auc] tr:0.898420, va0.7943
-------------------- 4 --------------------
(246005, 1031) (61501, 1031)
[22:00:37] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79608	validation_1-auc:0.79304

[1]	validation_0-auc:0.79985	validation_1-auc:0.79449
[2]	validation_0-auc:0.80246	validation_1-auc:0.79471
[3]	validation_0-auc:0.80529	validation_1-auc:0.79460
[4]	validation_0-auc:0.80705	validation_1-auc:0.79458
[5]	validation_0-auc:0.80880	validation_1-auc:0.79469
[6]	validation_0-auc:0.80982	validation_1-auc:0.79490
[7]	validation_0-auc:0.81131	validation_1-auc:0.79522
[8]	validation_0-auc:0.81254	validation_1-auc:0.79499
[9]	validation_0-auc:0.81375	validation_1-auc:0.79523
[10]	validation_0-auc:0.81480	validation_1-auc:0.79533
[11]	validation_0-auc:0.81575	validation_1-auc:0.79538
[12]	validation_0-auc:0.81724	validation_1-auc:0.79523
[13]	validation_0-auc:0.81785	validation_1-auc:0.79506
[14]	validation_0-auc:0.81899	validation_1-auc:0.79517
[15]	validation_0-auc:0.81953	validation_1-auc:0.79522
[16]	validation_0-auc:0.82025	validation_1-auc:0.79532
[17]	validation_0-auc:0.82169	validation_1-auc:0.79528
[18]	validation_0-auc:0.82315	validation_1-auc:0.79518
[19]	validation_0-auc:0.82411	validation_1-auc:0.79528
[20]	validation_0-auc:0.82567	validation_1-auc:0.79509
[21]	validation_0-auc:0.82700	validation_1-auc:0.79510
[22]	validation_0-auc:0.82843	validation_1-auc:0.79511
[23]	validation_0-auc:0.82960	validation_1-auc:0.79500
[24]	validation_0-auc:0.83048	validation_1-auc:0.79495
[25]	validation_0-auc:0.83179	validation_1-auc:0.79468
[26]	validation_0-auc:0.83340	validation_1-auc:0.79476
[27]	validation_0-auc:0.83472	validation_1-auc:0.79484
[28]	validation_0-auc:0.83652	validation_1-auc:0.79441
[29]	validation_0-auc:0.83774	validation_1-auc:0.79439
[30]	validation_0-auc:0.83952	validation_1-auc:0.79424
[31]	validation_0-auc:0.84131	validation_1-auc:0.79422
[32]	validation_0-auc:0.84248	validation_1-auc:0.79431
[33]	validation_0-auc:0.84396	validation_1-auc:0.79430
[34]	validation_0-auc:0.84523	validation_1-auc:0.79429
[35]	validation_0-auc:0.84634	validation_1-auc:0.79417
[36]	validation_0-auc:0.84760	validation_1-auc:0.79423
[37]	validation_0-auc:0.84935	validation_1-auc:0.79409
[38]	validation_0-auc:0.85042	validation_1-auc:0.79401
[39]	validation_0-auc:0.85134	validation_1-auc:0.79414
[40]	validation_0-auc:0.85272	validation_1-auc:0.79417
[41]	validation_0-auc:0.85348	validation_1-auc:0.79422
[42]	validation_0-auc:0.85418	validation_1-auc:0.79427
[43]	validation_0-auc:0.85496	validation_1-auc:0.79432
[44]	validation_0-auc:0.85627	validation_1-auc:0.79427
[45]	validation_0-auc:0.85730	validation_1-auc:0.79425
[46]	validation_0-auc:0.85856	validation_1-auc:0.79424
[47]	validation_0-auc:0.86015	validation_1-auc:0.79414
[48]	validation_0-auc:0.86147	validation_1-auc:0.79397
[49]	validation_0-auc:0.86271	validation_1-auc:0.79377
[50]	validation_0-auc:0.86359	validation_1-auc:0.79368
[51]	validation_0-auc:0.86435	validation_1-auc:0.79367
[52]	validation_0-auc:0.86559	validation_1-auc:0.79366
[53]	validation_0-auc:0.86659	validation_1-auc:0.79358
[54]	validation_0-auc:0.86777	validation_1-auc:0.79350
[55]	validation_0-auc:0.86842	validation_1-auc:0.79342
[56]	validation_0-auc:0.86974	validation_1-auc:0.79324
[57]	validation_0-auc:0.87054	validation_1-auc:0.79330
[58]	validation_0-auc:0.87078	validation_1-auc:0.79337
[59]	validation_0-auc:0.87141	validation_1-auc:0.79330
[60]	validation_0-auc:0.87215	validation_1-auc:0.79318
[61]	validation_0-auc:0.87320	validation_1-auc:0.79309
[62]	validation_0-auc:0.87393	validation_1-auc:0.79317
[63]	validation_0-auc:0.87531	validation_1-auc:0.79306
[64]	validation_0-auc:0.87647	validation_1-auc:0.79296
[65]	validation_0-auc:0.87685	validation_1-auc:0.79290
[66]	validation_0-auc:0.87743	validation_1-auc:0.79297
[67]	validation_0-auc:0.87871	validation_1-auc:0.79297
[68]	validation_0-auc:0.87945	validation_1-auc:0.79306
[69]	validation_0-auc:0.87989	validation_1-auc:0.79299
[70]	validation_0-auc:0.88056	validation_1-auc:0.79299
[71]	validation_0-auc:0.88148	validation_1-auc:0.79296
[72]	validation_0-auc:0.88197	validation_1-auc:0.79291
[73]	validation_0-auc:0.88280	validation_1-auc:0.79280
[74]	validation_0-auc:0.88335	validation_1-auc:0.79280
[75]	validation_0-auc:0.88385	validation_1-auc:0.79280
[76]	validation_0-auc:0.88440	validation_1-auc:0.79289
[77]	validation_0-auc:0.88483	validation_1-auc:0.79284
[78]	validation_0-auc:0.88588	validation_1-auc:0.79287
[79]	validation_0-auc:0.88646	validation_1-auc:0.79286
[80]	validation_0-auc:0.88698	validation_1-auc:0.79278
[81]	validation_0-auc:0.88807	validation_1-auc:0.79259
[82]	validation_0-auc:0.88863	validation_1-auc:0.79264
[83]	validation_0-auc:0.88904	validation_1-auc:0.79263
[84]	validation_0-auc:0.88937	validation_1-auc:0.79262
[85]	validation_0-auc:0.89025	validation_1-auc:0.79258
[86]	validation_0-auc:0.89077	validation_1-auc:0.79256
[87]	validation_0-auc:0.89190	validation_1-auc:0.79253
[88]	validation_0-auc:0.89258	validation_1-auc:0.79247
[89]	validation_0-auc:0.89331	validation_1-auc:0.79246
[90]	validation_0-auc:0.89390	validation_1-auc:0.79239
[91]	validation_0-auc:0.89473	validation_1-auc:0.79234
[92]	validation_0-auc:0.89539	validation_1-auc:0.79229
[93]	validation_0-auc:0.89631	validation_1-auc:0.79232
[94]	validation_0-auc:0.89673	validation_1-auc:0.79233
[95]	validation_0-auc:0.89725	validation_1-auc:0.79229
[96]	validation_0-auc:0.89777	validation_1-auc:0.79235
[97]	validation_0-auc:0.89817	validation_1-auc:0.79231
[98]	validation_0-auc:0.89873	validation_1-auc:0.79236
[99]	validation_0-auc:0.89945	validation_1-auc:0.79234
[auc] tr:0.899452, va0.7923
-------------------- result --------------------
[[0.         0.89900809 0.78851269]
 [1.         0.89884747 0.79291327]
 [2.         0.89842664 0.78541571]
 [3.         0.8984201  0.79432193]
 [4.         0.8994524  0.79233862]]
[cv] tr:0.8988+-0.0004, va:0.7907+-0.0033
[oof]0.7906

In [28]:
imp.sort_values("imp", ascending=False)[:20]

                                              col       imp   imp_std
135                          APPS_EXT_SOURCE_MEAN  0.019049  0.003631
1030                                        set3a  0.017985  0.000702
1028                                      pred_1a  0.013863  0.001178
1029                                      pred_1b  0.008650  0.000447
475                              EXT_SOURCES_MEAN  0.006719  0.000415
146                 APP_EXT_SOURCE_2_EXT_SOURCE_3  0.004151  0.000555
477                         EXT_SOURCES_NANMEDIAN  0.002471  0.000348
474                               EXT_SOURCES_MAX  0.002176  0.000350
476                               EXT_SOURCES_MIN  0.002102  0.000511
483                                  EXT_SOURCE_3  0.001604  0.000066
295               CC_AMT_RECEIVABLE_PRINCIPAL_SUM  0.001505  0.000479
336              CC_CNT_INSTALMENT_MATURE_CUM_VAR  0.001410  0.000401
405           CLOSED_BUREAU_CREDIT_DEBT_RATIO_MAX  0.001402  0.000149
678                                  NEW_DOCUMENT  0.001321  0.000390
14              ACTIVE_AMT_CREDIT_SUM_OVERDUE_SUM  0.001314  0.000233
768                                POS_SK_DPD_VAR  0.001314  0.000465
272               CC_AMT_DRAWINGS_POS_CURRENT_MAX  0.001311  0.000593
911             PREV_NAME_TYPE_SUITE_Other_A_MEAN  0.001297  0.000582
567                      INS_12M_AMT_BALANCE_MEAN  0.001282  0.000271
902   PREV_NAME_SELLER_INDUSTRY_Construction_MEAN  0.001270  0.000164

In [29]:
app_test.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,1,0,0,0,0,0,0.051055,0.038227,0.038205
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,1,0,0,0,0,0,0.166067,0.112768,0.103087
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,1,0,1,0,1,0,0.043899,0.033638,0.058075
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,1,0,1,0,1,0,0.056542,0.031213,0.035603
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,1,0,0,0,0,0,0.183168,0.181109,0.184927

In [30]:
app_train.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,1,0,0,0,0,0,0.516856,0.162368,0.254294
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,1,1,0,0,0,0,0,0.010645,0.027249,0.022026
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,1,1,0,0,0,0,0,0.054077,0.030869,0.035999
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,1,0,1,0,0,0,0.059492,0.029480,0.021632
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,1,1,0,0,0,0,0,0.076165,0.047569,0.025333

In [31]:
# データセット作成
x_test = app_test.drop(columns=['SK_ID_CURR', 'TARGET'])
id_test = app_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [32]:
test_pred = baseline.predict_xgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [33]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineeringOtherSourceXgb2-1.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.038159
1      100005  0.125007
2      100013  0.046856
3      100028  0.025520
4      100038  0.193569

### 正規化＋対数変換

In [34]:
app_train_ord = app_train.copy()
app_test_ord = app_test.copy()
app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,1,0,0,0,0,0,0.051055,0.038227,0.038205
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,1,0,0,0,0,0,0.166067,0.112768,0.103087
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,1,0,1,0,1,0,0.043899,0.033638,0.058075
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,1,0,1,0,1,0,0.056542,0.031213,0.035603
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,1,0,0,0,0,0,0.183168,0.181109,0.184927

In [35]:
# infをnanへ置換
app_train_ord = app_train_ord.replace([np.inf, -np.inf], np.nan)
app_test_ord = app_test_ord.replace([np.inf, -np.inf], np.nan)
app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,1,0,0,0,0,0,0.051055,0.038227,0.038205
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,1,0,0,0,0,0,0.166067,0.112768,0.103087
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,1,0,1,0,1,0,0.043899,0.033638,0.058075
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,1,0,1,0,1,0,0.056542,0.031213,0.035603
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,1,0,0,0,0,0,0.183168,0.181109,0.184927

In [36]:
### 欠損値補完
#app_train_ord = app_train_ord.fillna(app_train_ord.max() + (app_train_ord.max() * 0.4))
app_train_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,1,0,0,0,0,0,0.516856,0.162368,0.254294
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,1,1,0,0,0,0,0,0.010645,0.027249,0.022026
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,1,1,0,0,0,0,0,0.054077,0.030869,0.035999
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,1,0,1,0,0,0,0.059492,0.029480,0.021632
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,1,1,0,0,0,0,0,0.076165,0.047569,0.025333

In [37]:
### 欠損値補完
#app_test_ord = app_test_ord.fillna(app_test_ord.max() + (app_test_ord.max() * 0.4))
app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,1,0,0,0,0,0,0.051055,0.038227,0.038205
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,1,0,0,0,0,0,0.166067,0.112768,0.103087
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,1,0,1,0,1,0,0.043899,0.033638,0.058075
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,1,0,1,0,1,0,0.056542,0.031213,0.035603
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,1,0,0,0,0,0,0.183168,0.181109,0.184927

In [38]:
# infをnanへ置換
app_train_ord = FeatureEngineering2.reduce_mem_usage(app_train_ord)
app_test_ord = FeatureEngineering2.reduce_mem_usage(app_test_ord)
app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,1,0,0,0,0,0,0.051056,0.038239,0.038208
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,1,0,0,0,0,0,0.166016,0.112793,0.103088
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,1,0,1,0,1,0,0.043884,0.033630,0.058075
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,1,0,1,0,1,0,0.056549,0.031219,0.035614
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,1,0,0,0,0,0,0.183228,0.181152,0.184937

In [39]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(app_test_ord.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')
encoding_columns.remove('TARGET')

In [40]:
### Yao-Jhonson変換
#for column in encoding_columns:
#    modules.process_yj_convert(app_train_ord, app_test_ord, column, [column])

app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,1,0,0,0,0,0,0.051056,0.038239,0.038208
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,1,0,0,0,0,0,0.166016,0.112793,0.103088
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,1,0,1,0,1,0,0.043884,0.033630,0.058075
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,1,0,1,0,1,0,0.056549,0.031219,0.035614
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,1,0,0,0,0,0,0.183228,0.181152,0.184937

In [41]:
### indexを設定
app_train_ord = app_train_ord.set_index('SK_ID_CURR')
app_test_ord = app_test_ord.set_index('SK_ID_CURR')
app_test_ord.head()

,level_0,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,0,NaN,1,0,0,0,135000.0,568800.0,20560.5,450000.0,...,1,1,0,0,0,0,0,0.051056,0.038239,0.038208
100005,1,NaN,0,0,0,0,99000.0,222768.0,17370.0,180000.0,...,1,1,0,0,0,0,0,0.166016,0.112793,0.103088
100013,2,NaN,0,1,0,0,202500.0,663264.0,69777.0,630000.0,...,1,1,0,1,0,1,0,0.043884,0.033630,0.058075
100028,3,NaN,1,0,0,2,315000.0,1575000.0,49018.5,1575000.0,...,1,1,0,1,0,1,0,0.056549,0.031219,0.035614
100038,4,NaN,0,1,1,1,180000.0,625500.0,32067.0,625500.0,...,0,1,0,0,0,0,0,0.183228,0.181152,0.184937

In [42]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(app_train_ord, app_test_ord, num_cols)
        
app_test_ord.head()

,level_0,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,-1.732045,NaN,0.720379,-0.717912,-0.664539,-0.577531,-0.307114,-0.075104,-0.451791,-0.239271,...,0.579736,0.245284,0.0,-0.593453,-0.150513,-0.498057,0.0,-0.369385,-0.423584,-0.436768
100005,-1.732034,NaN,-1.388158,-0.717912,-0.664539,-0.577531,-0.637959,-0.934826,-0.671920,-0.970093,...,0.579736,0.245284,0.0,-0.593453,-0.150513,-0.498057,0.0,0.969238,0.423340,0.236816
100013,-1.732023,NaN,-1.388158,1.392928,-0.664539,-0.577531,0.313221,0.159594,2.943903,0.247943,...,0.579736,0.245284,0.0,1.685055,-0.150513,2.007802,0.0,-0.452881,-0.476074,-0.230469
100028,-1.732011,NaN,0.720379,-0.717912,-0.664539,2.192099,1.347112,2.424818,1.511669,2.805819,...,0.579736,0.245284,0.0,1.685055,-0.150513,2.007802,0.0,-0.305420,-0.503418,-0.463867
100038,-1.732000,NaN,-1.388158,1.392928,1.504802,0.807284,0.106443,0.065768,0.342100,0.235763,...,-1.724923,0.245284,0.0,-0.593453,-0.150513,-0.498057,0.0,1.169922,1.200195,1.086914

In [43]:
### indexを削除
app_train_ord = app_train_ord.reset_index()
app_test_ord = app_test_ord.reset_index()
app_test_ord.head()

,SK_ID_CURR,level_0,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,pred_1b,pred_1a,set3a
0,100001,-1.732045,NaN,0.720379,-0.717912,-0.664539,-0.577531,-0.307114,-0.075104,-0.451791,...,0.579736,0.245284,0.0,-0.593453,-0.150513,-0.498057,0.0,-0.369385,-0.423584,-0.436768
1,100005,-1.732034,NaN,-1.388158,-0.717912,-0.664539,-0.577531,-0.637959,-0.934826,-0.671920,...,0.579736,0.245284,0.0,-0.593453,-0.150513,-0.498057,0.0,0.969238,0.423340,0.236816
2,100013,-1.732023,NaN,-1.388158,1.392928,-0.664539,-0.577531,0.313221,0.159594,2.943903,...,0.579736,0.245284,0.0,1.685055,-0.150513,2.007802,0.0,-0.452881,-0.476074,-0.230469
3,100028,-1.732011,NaN,0.720379,-0.717912,-0.664539,2.192099,1.347112,2.424818,1.511669,...,0.579736,0.245284,0.0,1.685055,-0.150513,2.007802,0.0,-0.305420,-0.503418,-0.463867
4,100038,-1.732000,NaN,-1.388158,1.392928,1.504802,0.807284,0.106443,0.065768,0.342100,...,-1.724923,0.245284,0.0,-0.593453,-0.150513,-0.498057,0.0,1.169922,1.200195,1.086914

In [44]:
x_train = app_train_ord.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = app_train_ord['TARGET']
id_train = app_train_ord[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=='O':
        x_train[col] = x_train[col].astype('category')

In [45]:
# データセット作成
x_test = app_test_ord.drop(columns=['SK_ID_CURR', 'TARGET'])
id_test = app_test_ord[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [46]:
#del app_train_ord
#del app_test_ord
#gc.collect()

In [47]:
### 学習モデル構築
train_oof, imp, metrics = baseline.train_xgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246004, 1031) (61502, 1031)
[22:01:41] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79756	validation_1-auc:0.78744
[1]	validation_0-auc:0.80167	validation_1-auc:0.78924
[2]	validation_0-auc:0.80528	validation_1-auc:0.79037
[3]	validation_0-auc:0.80761	validation_1-auc:0.79082
[4]	validation_0-auc:0.80865	validation_1-auc:0.79100
[5]	validation_0-auc:0.81072	validation_1-auc:0.79110
[6]	validation_0-auc:0.81148	validation_1-auc:0.79115
[7]	validation_0-auc:0.81291	validation_1-auc:0.79127
[8]	validation_0-auc:0.81395	validation_1-auc:0.79123
[9]	validation_0-auc:0.81506	validation_1-auc:0.79143
[10]	validation_0-auc:0.81654	validation_1-auc:0.79141
[11]	validation_0-auc:0.81757	validation_1-auc:0.79117
[12]	validation_0-auc:0.81879	validation_1-auc:0.79120
[13]	validation_0-auc:0.81975	validation_1-auc:0.79120
[14]	validation_0-auc:0.82036	validation_1-auc:0.79125
[15]	validation_0-auc:0.82116	validation_1-auc:0.79106
[16]	validation_0-auc:0.82214	validation_1-auc:0.79109
[17]	validation_0-auc:0.82348	validation_1-auc:0.79093
[18]	validation_0-auc:0.82465	validation_1-auc:0.79099
[19]	validation_0-auc:0.82532	validation_1-auc:0.79085
[20]	validation_0-auc:0.82702	validation_1-auc:0.79085
[21]	validation_0-auc:0.82788	validation_1-auc:0.79082
[22]	validation_0-auc:0.82930	validation_1-auc:0.79082
[23]	validation_0-auc:0.83030	validation_1-auc:0.79061
[24]	validation_0-auc:0.83111	validation_1-auc:0.79057
[25]	validation_0-auc:0.83248	validation_1-auc:0.79040
[26]	validation_0-auc:0.83398	validation_1-auc:0.79040
[27]	validation_0-auc:0.83519	validation_1-auc:0.79018
[28]	validation_0-auc:0.83704	validation_1-auc:0.79004
[29]	validation_0-auc:0.83793	validation_1-auc:0.78998
[30]	validation_0-auc:0.83938	validation_1-auc:0.79006
[31]	validation_0-auc:0.84067	validation_1-auc:0.78998
[32]	validation_0-auc:0.84164	validation_1-auc:0.78997
[33]	validation_0-auc:0.84331	validation_1-auc:0.78979
[34]	validation_0-auc:0.84465	validation_1-auc:0.78975
[35]	validation_0-auc:0.84547	validation_1-auc:0.78981
[36]	validation_0-auc:0.84678	validation_1-auc:0.78983
[37]	validation_0-auc:0.84799	validation_1-auc:0.78991
[38]	validation_0-auc:0.84942	validation_1-auc:0.78982
[39]	validation_0-auc:0.85009	validation_1-auc:0.78977
[40]	validation_0-auc:0.85106	validation_1-auc:0.78995
[41]	validation_0-auc:0.85196	validation_1-auc:0.78994
[42]	validation_0-auc:0.85324	validation_1-auc:0.78989
[43]	validation_0-auc:0.85492	validation_1-auc:0.78990
[44]	validation_0-auc:0.85649	validation_1-auc:0.78973
[45]	validation_0-auc:0.85777	validation_1-auc:0.78953
[46]	validation_0-auc:0.85868	validation_1-auc:0.78947
[47]	validation_0-auc:0.86014	validation_1-auc:0.78927
[48]	validation_0-auc:0.86169	validation_1-auc:0.78912
[49]	validation_0-auc:0.86247	validation_1-auc:0.78913
[50]	validation_0-auc:0.86351	validation_1-auc:0.78912
[51]	validation_0-auc:0.86504	validation_1-auc:0.78920
[52]	validation_0-auc:0.86639	validation_1-auc:0.78919
[53]	validation_0-auc:0.86738	validation_1-auc:0.78899
[54]	validation_0-auc:0.86786	validation_1-auc:0.78897
[55]	validation_0-auc:0.86865	validation_1-auc:0.78878
[56]	validation_0-auc:0.86949	validation_1-auc:0.78876
[57]	validation_0-auc:0.87041	validation_1-auc:0.78870
[58]	validation_0-auc:0.87090	validation_1-auc:0.78874
[59]	validation_0-auc:0.87231	validation_1-auc:0.78866
[60]	validation_0-auc:0.87337	validation_1-auc:0.78866
[61]	validation_0-auc:0.87447	validation_1-auc:0.78855
[62]	validation_0-auc:0.87503	validation_1-auc:0.78860
[63]	validation_0-auc:0.87630	validation_1-auc:0.78871
[64]	validation_0-auc:0.87686	validation_1-auc:0.78879
[65]	validation_0-auc:0.87736	validation_1-auc:0.78874
[66]	validation_0-auc:0.87806	validation_1-auc:0.78889
[67]	validation_0-auc:0.87878	validation_1-auc:0.78889
[68]	validation_0-auc:0.87942	validation_1-auc:0.78893
[69]	validation_0-auc:0.88004	validation_1-auc:0.78887
[70]	validation_0-auc:0.88064	validation_1-auc:0.78891
[71]	validation_0-auc:0.88144	validation_1-auc:0.78900
[72]	validation_0-auc:0.88187	validation_1-auc:0.78896
[73]	validation_0-auc:0.88237	validation_1-auc:0.78893
[74]	validation_0-auc:0.88318	validation_1-auc:0.78888
[75]	validation_0-auc:0.88376	validation_1-auc:0.78887
[76]	validation_0-auc:0.88436	validation_1-auc:0.78886
[77]	validation_0-auc:0.88491	validation_1-auc:0.78881
[78]	validation_0-auc:0.88556	validation_1-auc:0.78893
[79]	validation_0-auc:0.88617	validation_1-auc:0.78892
[80]	validation_0-auc:0.88682	validation_1-auc:0.78890
[81]	validation_0-auc:0.88774	validation_1-auc:0.78886
[82]	validation_0-auc:0.88814	validation_1-auc:0.78887
[83]	validation_0-auc:0.88832	validation_1-auc:0.78892
[84]	validation_0-auc:0.88866	validation_1-auc:0.78888
[85]	validation_0-auc:0.88936	validation_1-auc:0.78878
[86]	validation_0-auc:0.88977	validation_1-auc:0.78882
[87]	validation_0-auc:0.89052	validation_1-auc:0.78870
[88]	validation_0-auc:0.89093	validation_1-auc:0.78873
[89]	validation_0-auc:0.89163	validation_1-auc:0.78859
[90]	validation_0-auc:0.89193	validation_1-auc:0.78861
[91]	validation_0-auc:0.89285	validation_1-auc:0.78841
[92]	validation_0-auc:0.89340	validation_1-auc:0.78841
[93]	validation_0-auc:0.89406	validation_1-auc:0.78841
[94]	validation_0-auc:0.89481	validation_1-auc:0.78842
[95]	validation_0-auc:0.89559	validation_1-auc:0.78826
[96]	validation_0-auc:0.89607	validation_1-auc:0.78821
[97]	validation_0-auc:0.89630	validation_1-auc:0.78822
[98]	validation_0-auc:0.89727	validation_1-auc:0.78831
[99]	validation_0-auc:0.89751	validation_1-auc:0.78829
[auc] tr:0.897511, va0.7883
-------------------- 1 --------------------
(246005, 1031) (61501, 1031)
[22:02:06] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79632	validation_1-auc:0.78976
[1]	validation_0-auc:0.80024	validation_1-auc:0.79374
[2]	validation_0-auc:0.80263	validation_1-auc:0.79419
[3]	validation_0-auc:0.80504	validation_1-auc:0.79450
[4]	validation_0-auc:0.80562	validation_1-auc:0.79438
[5]	validation_0-auc:0.80819	validation_1-auc:0.79471
[6]	validation_0-auc:0.80906	validation_1-auc:0.79488
[7]	validation_0-auc:0.81019	validation_1-auc:0.79490
[8]	validation_0-auc:0.81198	validation_1-auc:0.79496
[9]	validation_0-auc:0.81293	validation_1-auc:0.79526
[10]	validation_0-auc:0.81393	validation_1-auc:0.79499
[11]	validation_0-auc:0.81445	validation_1-auc:0.79505
[12]	validation_0-auc:0.81579	validation_1-auc:0.79508
[13]	validation_0-auc:0.81707	validation_1-auc:0.79519
[14]	validation_0-auc:0.81809	validation_1-auc:0.79526
[15]	validation_0-auc:0.81942	validation_1-auc:0.79530
[16]	validation_0-auc:0.82027	validation_1-auc:0.79538
[17]	validation_0-auc:0.82131	validation_1-auc:0.79534
[18]	validation_0-auc:0.82305	validation_1-auc:0.79528
[19]	validation_0-auc:0.82418	validation_1-auc:0.79534
[20]	validation_0-auc:0.82582	validation_1-auc:0.79527
[21]	validation_0-auc:0.82710	validation_1-auc:0.79517
[22]	validation_0-auc:0.82868	validation_1-auc:0.79520
[23]	validation_0-auc:0.83020	validation_1-auc:0.79470
[24]	validation_0-auc:0.83080	validation_1-auc:0.79480
[25]	validation_0-auc:0.83224	validation_1-auc:0.79477
[26]	validation_0-auc:0.83418	validation_1-auc:0.79466
[27]	validation_0-auc:0.83545	validation_1-auc:0.79471
[28]	validation_0-auc:0.83725	validation_1-auc:0.79453
[29]	validation_0-auc:0.83862	validation_1-auc:0.79439
[30]	validation_0-auc:0.84022	validation_1-auc:0.79422

[31]	validation_0-auc:0.84108	validation_1-auc:0.79402
[32]	validation_0-auc:0.84215	validation_1-auc:0.79389
[33]	validation_0-auc:0.84319	validation_1-auc:0.79393
[34]	validation_0-auc:0.84419	validation_1-auc:0.79393
[35]	validation_0-auc:0.84515	validation_1-auc:0.79398
[36]	validation_0-auc:0.84659	validation_1-auc:0.79404
[37]	validation_0-auc:0.84786	validation_1-auc:0.79393
[38]	validation_0-auc:0.84888	validation_1-auc:0.79389
[39]	validation_0-auc:0.85049	validation_1-auc:0.79375
[40]	validation_0-auc:0.85189	validation_1-auc:0.79378
[41]	validation_0-auc:0.85349	validation_1-auc:0.79364
[42]	validation_0-auc:0.85461	validation_1-auc:0.79392
[43]	validation_0-auc:0.85597	validation_1-auc:0.79412
[44]	validation_0-auc:0.85716	validation_1-auc:0.79410
[45]	validation_0-auc:0.85833	validation_1-auc:0.79393
[46]	validation_0-auc:0.85937	validation_1-auc:0.79385
[47]	validation_0-auc:0.86023	validation_1-auc:0.79397
[48]	validation_0-auc:0.86133	validation_1-auc:0.79402
[49]	validation_0-auc:0.86236	validation_1-auc:0.79406
[50]	validation_0-auc:0.86417	validation_1-auc:0.79413
[51]	validation_0-auc:0.86549	validation_1-auc:0.79420
[52]	validation_0-auc:0.86625	validation_1-auc:0.79413
[53]	validation_0-auc:0.86723	validation_1-auc:0.79404
[54]	validation_0-auc:0.86850	validation_1-auc:0.79394
[55]	validation_0-auc:0.86941	validation_1-auc:0.79390
[56]	validation_0-auc:0.86998	validation_1-auc:0.79384
[57]	validation_0-auc:0.87083	validation_1-auc:0.79378
[58]	validation_0-auc:0.87172	validation_1-auc:0.79362
[59]	validation_0-auc:0.87282	validation_1-auc:0.79363
[60]	validation_0-auc:0.87354	validation_1-auc:0.79367
[61]	validation_0-auc:0.87423	validation_1-auc:0.79362
[62]	validation_0-auc:0.87542	validation_1-auc:0.79345
[63]	validation_0-auc:0.87629	validation_1-auc:0.79337
[64]	validation_0-auc:0.87692	validation_1-auc:0.79334
[65]	validation_0-auc:0.87760	validation_1-auc:0.79328
[66]	validation_0-auc:0.87859	validation_1-auc:0.79329
[67]	validation_0-auc:0.87933	validation_1-auc:0.79323
[68]	validation_0-auc:0.88016	validation_1-auc:0.79338
[69]	validation_0-auc:0.88098	validation_1-auc:0.79336
[70]	validation_0-auc:0.88192	validation_1-auc:0.79337
[71]	validation_0-auc:0.88288	validation_1-auc:0.79340
[72]	validation_0-auc:0.88315	validation_1-auc:0.79336
[73]	validation_0-auc:0.88373	validation_1-auc:0.79333
[74]	validation_0-auc:0.88400	validation_1-auc:0.79328
[75]	validation_0-auc:0.88458	validation_1-auc:0.79342
[76]	validation_0-auc:0.88537	validation_1-auc:0.79336
[77]	validation_0-auc:0.88626	validation_1-auc:0.79333
[78]	validation_0-auc:0.88678	validation_1-auc:0.79328
[79]	validation_0-auc:0.88708	validation_1-auc:0.79322
[80]	validation_0-auc:0.88736	validation_1-auc:0.79323
[81]	validation_0-auc:0.88781	validation_1-auc:0.79318
[82]	validation_0-auc:0.88819	validation_1-auc:0.79303
[83]	validation_0-auc:0.88944	validation_1-auc:0.79299
[84]	validation_0-auc:0.89023	validation_1-auc:0.79293
[85]	validation_0-auc:0.89113	validation_1-auc:0.79275
[86]	validation_0-auc:0.89216	validation_1-auc:0.79274
[87]	validation_0-auc:0.89277	validation_1-auc:0.79264
[88]	validation_0-auc:0.89312	validation_1-auc:0.79257
[89]	validation_0-auc:0.89325	validation_1-auc:0.79260
[90]	validation_0-auc:0.89394	validation_1-auc:0.79257
[91]	validation_0-auc:0.89457	validation_1-auc:0.79257
[92]	validation_0-auc:0.89487	validation_1-auc:0.79258
[93]	validation_0-auc:0.89545	validation_1-auc:0.79268
[94]	validation_0-auc:0.89644	validation_1-auc:0.79253
[95]	validation_0-auc:0.89683	validation_1-auc:0.79252
[96]	validation_0-auc:0.89717	validation_1-auc:0.79252
[97]	validation_0-auc:0.89767	validation_1-auc:0.79236
[98]	validation_0-auc:0.89815	validation_1-auc:0.79218
[99]	validation_0-auc:0.89915	validation_1-auc:0.79199
[auc] tr:0.899152, va0.7920
-------------------- 2 --------------------
(246005, 1031) (61501, 1031)
[22:02:32] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79763	validation_1-auc:0.78554
[1]	validation_0-auc:0.80286	validation_1-auc:0.78764
[2]	validation_0-auc:0.80543	validation_1-auc:0.78825
[3]	validation_0-auc:0.80799	validation_1-auc:0.78840
[4]	validation_0-auc:0.80918	validation_1-auc:0.78851
[5]	validation_0-auc:0.81105	validation_1-auc:0.78904
[6]	validation_0-auc:0.81180	validation_1-auc:0.78936
[7]	validation_0-auc:0.81289	validation_1-auc:0.78930
[8]	validation_0-auc:0.81401	validation_1-auc:0.78939
[9]	validation_0-auc:0.81540	validation_1-auc:0.78952
[10]	validation_0-auc:0.81684	validation_1-auc:0.78947
[11]	validation_0-auc:0.81779	validation_1-auc:0.78938
[12]	validation_0-auc:0.81906	validation_1-auc:0.78916
[13]	validation_0-auc:0.82046	validation_1-auc:0.78905
[14]	validation_0-auc:0.82191	validation_1-auc:0.78907
[15]	validation_0-auc:0.82282	validation_1-auc:0.78906
[16]	validation_0-auc:0.82379	validation_1-auc:0.78925
[17]	validation_0-auc:0.82495	validation_1-auc:0.78878
[18]	validation_0-auc:0.82604	validation_1-auc:0.78886
[19]	validation_0-auc:0.82688	validation_1-auc:0.78901
[20]	validation_0-auc:0.82836	validation_1-auc:0.78900
[21]	validation_0-auc:0.82955	validation_1-auc:0.78898
[22]	validation_0-auc:0.83085	validation_1-auc:0.78873
[23]	validation_0-auc:0.83203	validation_1-auc:0.78871
[24]	validation_0-auc:0.83348	validation_1-auc:0.78865
[25]	validation_0-auc:0.83453	validation_1-auc:0.78871
[26]	validation_0-auc:0.83624	validation_1-auc:0.78845
[27]	validation_0-auc:0.83755	validation_1-auc:0.78847
[28]	validation_0-auc:0.83900	validation_1-auc:0.78839
[29]	validation_0-auc:0.83992	validation_1-auc:0.78828
[30]	validation_0-auc:0.84139	validation_1-auc:0.78804
[31]	validation_0-auc:0.84266	validation_1-auc:0.78795
[32]	validation_0-auc:0.84401	validation_1-auc:0.78787
[33]	validation_0-auc:0.84563	validation_1-auc:0.78778
[34]	validation_0-auc:0.84695	validation_1-auc:0.78773
[35]	validation_0-auc:0.84781	validation_1-auc:0.78781
[36]	validation_0-auc:0.84880	validation_1-auc:0.78780
[37]	validation_0-auc:0.85004	validation_1-auc:0.78775
[38]	validation_0-auc:0.85151	validation_1-auc:0.78770
[39]	validation_0-auc:0.85290	validation_1-auc:0.78763
[40]	validation_0-auc:0.85384	validation_1-auc:0.78764
[41]	validation_0-auc:0.85494	validation_1-auc:0.78754
[42]	validation_0-auc:0.85566	validation_1-auc:0.78761
[43]	validation_0-auc:0.85734	validation_1-auc:0.78752
[44]	validation_0-auc:0.85802	validation_1-auc:0.78746
[45]	validation_0-auc:0.85923	validation_1-auc:0.78738
[46]	validation_0-auc:0.86009	validation_1-auc:0.78742
[47]	validation_0-auc:0.86146	validation_1-auc:0.78731
[48]	validation_0-auc:0.86240	validation_1-auc:0.78733
[49]	validation_0-auc:0.86352	validation_1-auc:0.78728
[50]	validation_0-auc:0.86445	validation_1-auc:0.78725
[51]	validation_0-auc:0.86551	validation_1-auc:0.78743
[52]	validation_0-auc:0.86602	validation_1-auc:0.78745
[53]	validation_0-auc:0.86696	validation_1-auc:0.78741
[54]	validation_0-auc:0.86772	validation_1-auc:0.78738
[55]	validation_0-auc:0.86815	validation_1-auc:0.78755
[56]	validation_0-auc:0.86929	validation_1-auc:0.78761
[57]	validation_0-auc:0.87022	validation_1-auc:0.78748
[58]	validation_0-auc:0.87110	validation_1-auc:0.78749
[59]	validation_0-auc:0.87233	validation_1-auc:0.78751
[60]	validation_0-auc:0.87310	validation_1-auc:0.78751
[61]	validation_0-auc:0.87394	validation_1-auc:0.78733
[62]	validation_0-auc:0.87470	validation_1-auc:0.78734
[63]	validation_0-auc:0.87502	validation_1-auc:0.78737
[64]	validation_0-auc:0.87547	validation_1-auc:0.78738
[65]	validation_0-auc:0.87629	validation_1-auc:0.78726
[66]	validation_0-auc:0.87682	validation_1-auc:0.78722
[67]	validation_0-auc:0.87774	validation_1-auc:0.78728
[68]	validation_0-auc:0.87864	validation_1-auc:0.78729
[69]	validation_0-auc:0.87961	validation_1-auc:0.78732
[70]	validation_0-auc:0.88031	validation_1-auc:0.78724

[71]	validation_0-auc:0.88072	validation_1-auc:0.78727
[72]	validation_0-auc:0.88148	validation_1-auc:0.78719
[73]	validation_0-auc:0.88240	validation_1-auc:0.78712
[74]	validation_0-auc:0.88343	validation_1-auc:0.78712
[75]	validation_0-auc:0.88387	validation_1-auc:0.78720
[76]	validation_0-auc:0.88437	validation_1-auc:0.78717
[77]	validation_0-auc:0.88511	validation_1-auc:0.78711
[78]	validation_0-auc:0.88595	validation_1-auc:0.78701
[79]	validation_0-auc:0.88656	validation_1-auc:0.78701
[80]	validation_0-auc:0.88724	validation_1-auc:0.78699
[81]	validation_0-auc:0.88778	validation_1-auc:0.78706
[82]	validation_0-auc:0.88834	validation_1-auc:0.78718
[83]	validation_0-auc:0.88928	validation_1-auc:0.78713
[84]	validation_0-auc:0.88993	validation_1-auc:0.78704
[85]	validation_0-auc:0.89052	validation_1-auc:0.78698
[86]	validation_0-auc:0.89070	validation_1-auc:0.78697
[87]	validation_0-auc:0.89165	validation_1-auc:0.78690
[88]	validation_0-auc:0.89242	validation_1-auc:0.78675
[89]	validation_0-auc:0.89324	validation_1-auc:0.78666
[90]	validation_0-auc:0.89358	validation_1-auc:0.78664
[91]	validation_0-auc:0.89457	validation_1-auc:0.78650
[92]	validation_0-auc:0.89528	validation_1-auc:0.78644
[93]	validation_0-auc:0.89558	validation_1-auc:0.78642
[94]	validation_0-auc:0.89612	validation_1-auc:0.78638
[95]	validation_0-auc:0.89674	validation_1-auc:0.78629
[96]	validation_0-auc:0.89799	validation_1-auc:0.78626
[97]	validation_0-auc:0.89850	validation_1-auc:0.78632
[98]	validation_0-auc:0.89885	validation_1-auc:0.78634
[99]	validation_0-auc:0.89940	validation_1-auc:0.78623
[auc] tr:0.899401, va0.7862
-------------------- 3 --------------------
(246005, 1031) (61501, 1031)
[22:02:57] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79608	validation_1-auc:0.79372
[1]	validation_0-auc:0.80026	validation_1-auc:0.79519
[2]	validation_0-auc:0.80304	validation_1-auc:0.79565
[3]	validation_0-auc:0.80571	validation_1-auc:0.79559
[4]	validation_0-auc:0.80705	validation_1-auc:0.79578
[5]	validation_0-auc:0.80913	validation_1-auc:0.79597
[6]	validation_0-auc:0.81013	validation_1-auc:0.79615
[7]	validation_0-auc:0.81128	validation_1-auc:0.79593
[8]	validation_0-auc:0.81284	validation_1-auc:0.79616
[9]	validation_0-auc:0.81384	validation_1-auc:0.79650
[10]	validation_0-auc:0.81453	validation_1-auc:0.79656
[11]	validation_0-auc:0.81586	validation_1-auc:0.79649
[12]	validation_0-auc:0.81725	validation_1-auc:0.79695
[13]	validation_0-auc:0.81849	validation_1-auc:0.79690
[14]	validation_0-auc:0.81928	validation_1-auc:0.79692
[15]	validation_0-auc:0.81984	validation_1-auc:0.79686
[16]	validation_0-auc:0.82091	validation_1-auc:0.79718
[17]	validation_0-auc:0.82239	validation_1-auc:0.79723
[18]	validation_0-auc:0.82412	validation_1-auc:0.79721
[19]	validation_0-auc:0.82520	validation_1-auc:0.79732
[20]	validation_0-auc:0.82658	validation_1-auc:0.79724
[21]	validation_0-auc:0.82780	validation_1-auc:0.79706
[22]	validation_0-auc:0.82920	validation_1-auc:0.79711
[23]	validation_0-auc:0.83016	validation_1-auc:0.79696
[24]	validation_0-auc:0.83117	validation_1-auc:0.79684
[25]	validation_0-auc:0.83270	validation_1-auc:0.79677
[26]	validation_0-auc:0.83425	validation_1-auc:0.79675
[27]	validation_0-auc:0.83583	validation_1-auc:0.79671
[28]	validation_0-auc:0.83759	validation_1-auc:0.79670
[29]	validation_0-auc:0.83835	validation_1-auc:0.79690
[30]	validation_0-auc:0.84006	validation_1-auc:0.79668
[31]	validation_0-auc:0.84130	validation_1-auc:0.79664
[32]	validation_0-auc:0.84258	validation_1-auc:0.79655
[33]	validation_0-auc:0.84416	validation_1-auc:0.79630
[34]	validation_0-auc:0.84525	validation_1-auc:0.79638
[35]	validation_0-auc:0.84586	validation_1-auc:0.79645
[36]	validation_0-auc:0.84722	validation_1-auc:0.79641
[37]	validation_0-auc:0.84858	validation_1-auc:0.79627
[38]	validation_0-auc:0.84992	validation_1-auc:0.79636
[39]	validation_0-auc:0.85078	validation_1-auc:0.79617
[40]	validation_0-auc:0.85187	validation_1-auc:0.79620
[41]	validation_0-auc:0.85276	validation_1-auc:0.79625
[42]	validation_0-auc:0.85367	validation_1-auc:0.79628
[43]	validation_0-auc:0.85513	validation_1-auc:0.79615
[44]	validation_0-auc:0.85646	validation_1-auc:0.79610
[45]	validation_0-auc:0.85737	validation_1-auc:0.79591
[46]	validation_0-auc:0.85871	validation_1-auc:0.79601
[47]	validation_0-auc:0.85986	validation_1-auc:0.79611
[48]	validation_0-auc:0.86104	validation_1-auc:0.79611
[49]	validation_0-auc:0.86212	validation_1-auc:0.79619
[50]	validation_0-auc:0.86395	validation_1-auc:0.79599
[51]	validation_0-auc:0.86548	validation_1-auc:0.79572
[52]	validation_0-auc:0.86673	validation_1-auc:0.79557
[53]	validation_0-auc:0.86750	validation_1-auc:0.79555
[54]	validation_0-auc:0.86823	validation_1-auc:0.79549
[55]	validation_0-auc:0.86864	validation_1-auc:0.79553
[56]	validation_0-auc:0.86937	validation_1-auc:0.79548
[57]	validation_0-auc:0.87004	validation_1-auc:0.79552
[58]	validation_0-auc:0.87070	validation_1-auc:0.79550
[59]	validation_0-auc:0.87167	validation_1-auc:0.79551
[60]	validation_0-auc:0.87255	validation_1-auc:0.79542
[61]	validation_0-auc:0.87381	validation_1-auc:0.79538
[62]	validation_0-auc:0.87485	validation_1-auc:0.79531
[63]	validation_0-auc:0.87604	validation_1-auc:0.79547
[64]	validation_0-auc:0.87658	validation_1-auc:0.79539
[65]	validation_0-auc:0.87776	validation_1-auc:0.79523
[66]	validation_0-auc:0.87833	validation_1-auc:0.79526
[67]	validation_0-auc:0.87869	validation_1-auc:0.79526
[68]	validation_0-auc:0.87910	validation_1-auc:0.79530
[69]	validation_0-auc:0.87959	validation_1-auc:0.79530
[70]	validation_0-auc:0.88023	validation_1-auc:0.79525
[71]	validation_0-auc:0.88136	validation_1-auc:0.79524
[72]	validation_0-auc:0.88232	validation_1-auc:0.79528
[73]	validation_0-auc:0.88277	validation_1-auc:0.79527
[74]	validation_0-auc:0.88322	validation_1-auc:0.79516
[75]	validation_0-auc:0.88380	validation_1-auc:0.79515
[76]	validation_0-auc:0.88457	validation_1-auc:0.79505
[77]	validation_0-auc:0.88547	validation_1-auc:0.79492
[78]	validation_0-auc:0.88628	validation_1-auc:0.79480
[79]	validation_0-auc:0.88696	validation_1-auc:0.79481
[80]	validation_0-auc:0.88791	validation_1-auc:0.79479
[81]	validation_0-auc:0.88880	validation_1-auc:0.79468
[82]	validation_0-auc:0.88929	validation_1-auc:0.79465
[83]	validation_0-auc:0.88974	validation_1-auc:0.79466
[84]	validation_0-auc:0.89111	validation_1-auc:0.79461
[85]	validation_0-auc:0.89158	validation_1-auc:0.79452
[86]	validation_0-auc:0.89218	validation_1-auc:0.79461
[87]	validation_0-auc:0.89251	validation_1-auc:0.79454
[88]	validation_0-auc:0.89353	validation_1-auc:0.79459
[89]	validation_0-auc:0.89410	validation_1-auc:0.79452
[90]	validation_0-auc:0.89452	validation_1-auc:0.79449
[91]	validation_0-auc:0.89502	validation_1-auc:0.79437
[92]	validation_0-auc:0.89572	validation_1-auc:0.79426
[93]	validation_0-auc:0.89628	validation_1-auc:0.79413
[94]	validation_0-auc:0.89703	validation_1-auc:0.79417
[95]	validation_0-auc:0.89730	validation_1-auc:0.79413
[96]	validation_0-auc:0.89840	validation_1-auc:0.79412
[97]	validation_0-auc:0.89872	validation_1-auc:0.79411
[98]	validation_0-auc:0.89914	validation_1-auc:0.79415
[99]	validation_0-auc:0.90016	validation_1-auc:0.79419
[auc] tr:0.900158, va0.7942
-------------------- 4 --------------------
(246005, 1031) (61501, 1031)
[22:03:21] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79621	validation_1-auc:0.79293

[1]	validation_0-auc:0.79984	validation_1-auc:0.79418
[2]	validation_0-auc:0.80254	validation_1-auc:0.79473
[3]	validation_0-auc:0.80583	validation_1-auc:0.79469
[4]	validation_0-auc:0.80754	validation_1-auc:0.79474
[5]	validation_0-auc:0.80915	validation_1-auc:0.79482
[6]	validation_0-auc:0.81018	validation_1-auc:0.79504
[7]	validation_0-auc:0.81172	validation_1-auc:0.79532
[8]	validation_0-auc:0.81305	validation_1-auc:0.79517
[9]	validation_0-auc:0.81440	validation_1-auc:0.79526
[10]	validation_0-auc:0.81536	validation_1-auc:0.79538
[11]	validation_0-auc:0.81612	validation_1-auc:0.79557
[12]	validation_0-auc:0.81762	validation_1-auc:0.79549
[13]	validation_0-auc:0.81822	validation_1-auc:0.79524
[14]	validation_0-auc:0.81933	validation_1-auc:0.79538
[15]	validation_0-auc:0.81981	validation_1-auc:0.79540
[16]	validation_0-auc:0.82044	validation_1-auc:0.79558
[17]	validation_0-auc:0.82188	validation_1-auc:0.79550
[18]	validation_0-auc:0.82350	validation_1-auc:0.79537
[19]	validation_0-auc:0.82450	validation_1-auc:0.79528
[20]	validation_0-auc:0.82612	validation_1-auc:0.79503
[21]	validation_0-auc:0.82723	validation_1-auc:0.79496
[22]	validation_0-auc:0.82858	validation_1-auc:0.79502
[23]	validation_0-auc:0.82976	validation_1-auc:0.79507
[24]	validation_0-auc:0.83063	validation_1-auc:0.79502
[25]	validation_0-auc:0.83205	validation_1-auc:0.79475
[26]	validation_0-auc:0.83367	validation_1-auc:0.79494
[27]	validation_0-auc:0.83525	validation_1-auc:0.79491
[28]	validation_0-auc:0.83700	validation_1-auc:0.79442
[29]	validation_0-auc:0.83845	validation_1-auc:0.79442
[30]	validation_0-auc:0.84018	validation_1-auc:0.79445
[31]	validation_0-auc:0.84164	validation_1-auc:0.79436
[32]	validation_0-auc:0.84266	validation_1-auc:0.79438
[33]	validation_0-auc:0.84421	validation_1-auc:0.79436
[34]	validation_0-auc:0.84545	validation_1-auc:0.79449
[35]	validation_0-auc:0.84661	validation_1-auc:0.79433
[36]	validation_0-auc:0.84780	validation_1-auc:0.79436
[37]	validation_0-auc:0.84952	validation_1-auc:0.79438
[38]	validation_0-auc:0.85056	validation_1-auc:0.79449
[39]	validation_0-auc:0.85137	validation_1-auc:0.79446
[40]	validation_0-auc:0.85260	validation_1-auc:0.79448
[41]	validation_0-auc:0.85340	validation_1-auc:0.79460
[42]	validation_0-auc:0.85419	validation_1-auc:0.79435
[43]	validation_0-auc:0.85488	validation_1-auc:0.79439
[44]	validation_0-auc:0.85586	validation_1-auc:0.79426
[45]	validation_0-auc:0.85690	validation_1-auc:0.79428
[46]	validation_0-auc:0.85795	validation_1-auc:0.79424
[47]	validation_0-auc:0.85933	validation_1-auc:0.79418
[48]	validation_0-auc:0.86023	validation_1-auc:0.79402
[49]	validation_0-auc:0.86118	validation_1-auc:0.79395
[50]	validation_0-auc:0.86211	validation_1-auc:0.79373
[51]	validation_0-auc:0.86301	validation_1-auc:0.79365
[52]	validation_0-auc:0.86422	validation_1-auc:0.79363
[53]	validation_0-auc:0.86511	validation_1-auc:0.79364
[54]	validation_0-auc:0.86637	validation_1-auc:0.79361
[55]	validation_0-auc:0.86709	validation_1-auc:0.79364
[56]	validation_0-auc:0.86827	validation_1-auc:0.79356
[57]	validation_0-auc:0.86933	validation_1-auc:0.79352
[58]	validation_0-auc:0.86983	validation_1-auc:0.79351
[59]	validation_0-auc:0.87063	validation_1-auc:0.79358
[60]	validation_0-auc:0.87137	validation_1-auc:0.79360
[61]	validation_0-auc:0.87241	validation_1-auc:0.79353
[62]	validation_0-auc:0.87370	validation_1-auc:0.79338
[63]	validation_0-auc:0.87486	validation_1-auc:0.79343
[64]	validation_0-auc:0.87553	validation_1-auc:0.79342
[65]	validation_0-auc:0.87573	validation_1-auc:0.79337
[66]	validation_0-auc:0.87634	validation_1-auc:0.79337
[67]	validation_0-auc:0.87720	validation_1-auc:0.79329
[68]	validation_0-auc:0.87793	validation_1-auc:0.79333
[69]	validation_0-auc:0.87828	validation_1-auc:0.79326
[70]	validation_0-auc:0.87913	validation_1-auc:0.79331
[71]	validation_0-auc:0.88011	validation_1-auc:0.79339
[72]	validation_0-auc:0.88072	validation_1-auc:0.79335
[73]	validation_0-auc:0.88171	validation_1-auc:0.79338
[74]	validation_0-auc:0.88233	validation_1-auc:0.79338
[75]	validation_0-auc:0.88303	validation_1-auc:0.79338
[76]	validation_0-auc:0.88390	validation_1-auc:0.79333
[77]	validation_0-auc:0.88438	validation_1-auc:0.79328
[78]	validation_0-auc:0.88475	validation_1-auc:0.79324
[79]	validation_0-auc:0.88548	validation_1-auc:0.79313
[80]	validation_0-auc:0.88599	validation_1-auc:0.79314
[81]	validation_0-auc:0.88675	validation_1-auc:0.79303
[82]	validation_0-auc:0.88707	validation_1-auc:0.79297
[83]	validation_0-auc:0.88747	validation_1-auc:0.79298
[84]	validation_0-auc:0.88823	validation_1-auc:0.79294
[85]	validation_0-auc:0.88893	validation_1-auc:0.79283
[86]	validation_0-auc:0.88953	validation_1-auc:0.79294
[87]	validation_0-auc:0.89043	validation_1-auc:0.79278
[88]	validation_0-auc:0.89091	validation_1-auc:0.79263
[89]	validation_0-auc:0.89126	validation_1-auc:0.79267
[90]	validation_0-auc:0.89169	validation_1-auc:0.79264
[91]	validation_0-auc:0.89219	validation_1-auc:0.79253
[92]	validation_0-auc:0.89275	validation_1-auc:0.79254
[93]	validation_0-auc:0.89314	validation_1-auc:0.79243
[94]	validation_0-auc:0.89363	validation_1-auc:0.79247
[95]	validation_0-auc:0.89407	validation_1-auc:0.79244
[96]	validation_0-auc:0.89496	validation_1-auc:0.79232
[97]	validation_0-auc:0.89518	validation_1-auc:0.79224
[98]	validation_0-auc:0.89587	validation_1-auc:0.79230
[99]	validation_0-auc:0.89647	validation_1-auc:0.79232
[auc] tr:0.896465, va0.7923
-------------------- result --------------------
[[0.         0.89751059 0.78829003]
 [1.         0.89915245 0.79199147]
 [2.         0.89940123 0.78623329]
 [3.         0.90015771 0.79418941]
 [4.         0.89646521 0.79232093]]
[cv] tr:0.8985+-0.0013, va:0.7906+-0.0029
[oof]0.7905

In [48]:
imp.sort_values("imp", ascending=False)[:20]

                                        col       imp   imp_std
135                    APPS_EXT_SOURCE_MEAN  0.018756  0.004708
1030                                  set3a  0.018108  0.001047
1028                                pred_1a  0.013741  0.000861
1029                                pred_1b  0.008941  0.000293
475                        EXT_SOURCES_MEAN  0.006938  0.000925
146           APP_EXT_SOURCE_2_EXT_SOURCE_3  0.004172  0.000645
477                   EXT_SOURCES_NANMEDIAN  0.002363  0.000322
476                         EXT_SOURCES_MIN  0.002116  0.000479
474                         EXT_SOURCES_MAX  0.002116  0.000547
483                            EXT_SOURCE_3  0.001524  0.000098
14        ACTIVE_AMT_CREDIT_SUM_OVERDUE_SUM  0.001442  0.000357
336        CC_CNT_INSTALMENT_MATURE_CUM_VAR  0.001296  0.000360
727                            PAYMENT_RATE  0.001291  0.000117
877   PREV_NAME_GOODS_CATEGORY_Jewelry_MEAN  0.001289  0.000278
302             CC_AMT_TOTAL_RECEIVABLE_MAX  0.001271  0.000303
309            CC_CARD_IS_DPD_UNDER_120_SUM  0.001269  0.001549
447                             CODE_GENDER  0.001262  0.000133
704                 OCCUPATION_TYPE_Drivers  0.001260  0.000210
911       PREV_NAME_TYPE_SUITE_Other_A_MEAN  0.001259  0.000459
345                    CC_LATE_PAYMENT_MEAN  0.001252  0.000297

In [49]:
test_pred = baseline.predict_xgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [50]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineeringOtherSourceXgb2-2.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.034175
1      100005  0.117800
2      100013  0.049855
3      100028  0.025669
4      100038  0.187002

## パラメータチューニング

In [51]:
#sampler = optuna.samplers.TPESampler(seed=123)
#study = optuna.create_study(sampler=sampler, direction='maximize')
#study.optimize(objective, n_trials=50, n_jobs=5)

In [52]:
#trial = study.best_trial
#print("auc(best)={:.4f}".format(trial.value))
#display(trial.params)

In [53]:
#params_best = trial.params
#params_best.update(params_base)
#display(params_best)

In [54]:
#train_oof, imp, metrics = baseline.train_xgb(x_train
#                                    ,y_train
#                                    ,id_train
#                                    ,list_nfold=[0,1,2,3,4]
#                                    ,n_splits=5
#                                    ,params=params_best)

In [55]:
### 推論用データセットの作成
#x_test = app_test.drop(columns=['SK_ID_CURR'])
#id_test = app_test[['SK_ID_CURR']]

### カテゴリ変数をcategory型へ変換
#for col in x_test.columns:
#    if x_test[col].dtype=="O":
#        x_test[col] = x_test[col].astype('category')

### predict
#test_pred = baseline.predict_xgb(x_test
#                       ,id_test
#                       ,list_nfold=[0,1,2,3,4])

### make submission-file
#df_submit = test_pred.rename(columns={"pred":"TARGET"})
#print(df_submit.shape)
#display(df_submit.head())
#df_submit.to_csv("./home-credit-default-risk/submit/submission_XgbHyperParameterTuningXgb2-3.csv", index=None)

In [56]:
#del app_train_ord
#del app_test_ord
#gc.collect()