In [1]:
import torch
# GPUの名称、CUDA Compute Capabilityを取得
print(torch.cuda.get_device_name())

NVIDIA GeForce RTX 2080 Ti

In [2]:
import cupy as cp
import numpy as np
import pandas as pd
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import scipy.stats as st
import pickle
import optuna
import re
import gc

from lightgbm import LGBMClassifier

from sklearn import metrics
from sklearn.tree import plot_tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.impute import SimpleImputer
from sklearn_pandas import DataFrameMapper
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import log_loss
from sklearn.metrics import mean_squared_log_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.metrics import roc_auc_score
from sklearn.datasets import make_moons
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_selection import mutual_info_classif
from sklearn.experimental import enable_iterative_imputer

from keras.layers import Dense, Dropout
from keras.models import Sequential

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

from tqdm import tqdm

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

import xgboost as xgb
from sklearn.metrics import log_loss
from xgboost.sklearn import XGBClassifier

from Modules import Modules
from Baseline import Baseline
from FeatureEngineering2 import FeatureEngineering2


%matplotlib inline

print("OK\n")

OK

## 共通関数定義

In [3]:
params = {
        'booster': 'gbtree'
        ,'objective': 'binary:logistic'
        ,'silent': 1
        ,'random_state': 17
        ,'eval_metric': 'auc'
        ,'eta': 0.1
        ,'max_depth': 8
        ,'subsample': 0.9
        ,'colsample_state': 71
        ,'colsample_bytree': 1.0
        ,'colsample_bylevel': 0.3
        ,'gamma': 0
        ,'lambda': 1
        ,'alpha': 0
        ,'min_child_weight': 1
        ,'gpu_id': 0
        ,'tree_method': 'gpu_hist'
        #,'num_round': 1000
}

## インスタンス生成

In [4]:
baseline = Baseline('SK_ID_CURR')
modules = Modules('SK_ID_CURR')
FeatureEngineering2 = FeatureEngineering2('SK_ID_CURR')

In [5]:
params_base = {
        'booster': 'gbtree'
        ,'objective': 'binary:logistic'
        ,'eta': 0.1
        ,'gamma': 0.0
        ,'alpha': 0.0
        ,'lambda': 1.0
        ,'min_child_weight': 6
        ,'max_depth': 1
        ,'subsample': 0.8
        ,'colsample_bytree': 0.8
        ,'random_state': 17
        ,'gpu_id': 0
        ,'tree_method': 'gpu_hist'
        ,'eval_metric': 'auc'
        ,'colsample_bylevel': 0.3
        #,'num_round': 100000
}


def objective(trial):
    # 探索するパラメータ
    param_tuning = {
            "min_child_weight": trial.suggest_float("min_child_weight", 0.1, 10, log=True)
            ,"max_depth": trial.suggest_int("max_depth", 1, 15, step=1, log=False)
            ,"subsample": trial.suggest_float("subsample", 0.1, 0.95,  step =0.05, log=False)
            ,"colsample_bytree": trial.suggest_float("colsample_bytree", 0.1, 0.95,  step =0.05, log=False)
            ,'colsample_bylevel': trial.suggest_float("colsample_bylevel", 0.1, 0.95,  step =0.05, log=False)
            ,"gamma": trial.suggest_float("gamma", 1e-8, 1.0, log=True)
            # 余裕があれば調整する
            ,"alpha": trial.suggest_float("alpha", 1e-8, 1.0, log=True)
            ,"lambda": trial.suggest_float("lambda", 1e-6, 10.0, log=True)
            
    }
    param_tuning.update(params_base)

    # モデル学習・評価:
    list_metrics = []
    cv = list(StratifiedKFold(n_splits=5, shuffle=True, random_state=123).split(x_train, y_train))
    list_fold = [0]
    for nfold in list_fold:
        idx_tr, idx_va = cv[nfold][0], cv[nfold][1]
        x_tr, y_tr = x_train.loc[idx_tr, :], y_train[idx_tr]
        x_va, y_va = x_train.loc[idx_va, :], y_train[idx_va]
        model = xgb.XGBClassifier(**params)
        model.fit(x_tr
                    ,y_tr
                    ,eval_set=[(x_tr, y_tr), (x_va, y_va)]
        )
        y_va_pred = model.predict_proba(x_va)[:,1]
        metric_va = roc_auc_score(y_va, y_va_pred)
        list_metrics.append(metric_va)

    # 評価指数の算出
    metrics = np.mean(list_metrics)

    return metrics

## 特徴量生成

In [6]:
### application
df = FeatureEngineering2.application()
df.head()

"Application_Train_Test" final shape: (356250, 234)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,APP_EXT_SOURCE_2*DAYS_EMPLOYED,APP_EXT_SOURCE_3*DAYS_EMPLOYED,APPS_GOODS_INCOME_RATIO,APPS_CNT_FAM_INCOME_RATIO,APPS_INCOME_EMPLOYED_RATIO,CREDIT_TO_GOODS_RATIO_2,APP_AMT_INCOME_TOTAL_12_AMT_ANNUITY_ratio,APP_INCOME_TO_EMPLOYED_RATIO,APP_DAYS_LAST_PHONE_CHANGE_DAYS_EMPLOYED_ratio,APP_DAYS_EMPLOYED_DAYS_BIRTH_diff
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,-167.498254,-88.782372,1.733333,202500.0,-317.896389,1.158397,-7825.5,-317.896389,1.780220,8824.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,-739.227981,NaN,4.183333,135000.0,-227.272727,1.145199,-13198.5,-227.272727,0.696970,15577.0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,-125.080219,-164.152505,2.000000,67500.0,-300.000000,1.000000,-1125.0,-300.000000,3.622222,18821.0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,-1976.692297,NaN,2.200000,67500.0,-44.422507,1.052803,-18436.5,-44.422507,0.203027,15966.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,-980.478916,NaN,4.222222,121500.0,-39.993417,1.000000,-11740.5,-39.993417,0.364055,16894.0

In [7]:
### bureau_balance
df = df.merge(FeatureEngineering2.bureau_bb(), how='left', on='SK_ID_CURR')
df.head()

"Bureau/Bureau Balance" final shape: (305811, 200)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_BUREAU_CREDIT_DEBT_RATIO_MIN,CLOSED_BUREAU_CREDIT_DEBT_RATIO_MAX,CLOSED_BUREAU_CREDIT_DEBT_RATIO_MEAN,CLOSED_DEBT_CREDIT_DIFF_MIN,CLOSED_DEBT_CREDIT_DIFF_MAX,CLOSED_DEBT_CREDIT_DIFF_MEAN,CLOSED_BUREAU_IS_DPD_MEAN,CLOSED_BUREAU_IS_DPD_SUM,CLOSED_BUREAU_IS_DPD_OVER120_MEAN,CLOSED_BUREAU_IS_DPD_OVER120_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,135000.0,85245.0,0.0,0.0,0.0,0.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,22248.0,112500.0,69133.5,0.0,0.0,0.0,0.0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,94500.0,94537.8,94518.9,0.0,0.0,0.0,0.0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,146250.0,146250.0,146250.0,0.0,0.0,0.0,0.0

In [8]:
### previos_application
df = df.merge(FeatureEngineering2.previous_application(), how='left', on='SK_ID_CURR')
df.head()

"Previous Applications" final shape: (338857, 321)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,REFUSED_PREV_GOODS_DIFF_MEAN,REFUSED_PREV_GOODS_DIFF_MAX,REFUSED_PREV_GOODS_DIFF_SUM,REFUSED_PREV_GOODS_APPL_RATIO_MEAN,REFUSED_PREV_GOODS_APPL_RATIO_MAX,REFUSED_DAYS_LAST_DUE_DIFF_MEAN,REFUSED_DAYS_LAST_DUE_DIFF_MAX,REFUSED_DAYS_LAST_DUE_DIFF_SUM,REFUSED_SIMPLE_INTERESTS_MEAN,REFUSED_SIMPLE_INTERESTS_MAX
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,1.0,1.0,NaN,NaN,0.0,0.015231,0.015231
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
### pos_cash
df = df.merge(FeatureEngineering2.pos_cash(), how='left', on='SK_ID_CURR')
df.head()

"Pos-Cash" balance final shape: (337252, 46)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,POS_NAME_CONTRACT_STATUS_Returned to the store_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_nan_MEAN,POS_COUNT,POS_LOAN_COMPLETED_MEAN,POS_COMPLETED_BEFORE_MEAN,POS_REMAINING_INSTALMENTS,POS_REMAINING_INSTALMENTS_RATIO,LATE_PAYMENT_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0.000000,0.000000,0.0,0.0,19.0,0.000000,0.0,6.0,0.250000,0.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0.000000,0.000000,0.0,0.0,28.0,0.250000,1.0,1.0,0.083333,0.0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0.000000,0.000000,0.0,0.0,4.0,0.250000,1.0,0.0,0.000000,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.047619,0.000000,0.0,0.0,21.0,0.458333,2.0,3.0,0.250000,0.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0.000000,0.015152,0.0,0.0,66.0,0.209402,1.0,14.0,0.641667,0.0

In [10]:
### instllment_payment
df = df.merge(FeatureEngineering2.installment(), how='left', on='SK_ID_CURR')
df.head()

"Installments Payments" final shape: (339587, 85)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,INS_D365PAYMENT_PERC_MAX,INS_D365DPD_DIFF_MEAN,INS_D365DPD_DIFF_MIN,INS_D365DPD_DIFF_MAX,INS_D365DPD_MEAN,INS_D365DPD_SUM,INS_D365INS_IS_DPD_UNDER_120_MEAN,INS_D365INS_IS_DPD_UNDER_120_SUM,INS_D365INS_IS_DPD_OVER_120_MEAN,INS_D365INS_IS_DPD_OVER_120_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1.0,-17.363636,-24.0,-12.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,1.0,-6.181818,-23.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,1.0,-2.250000,-4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
### credit_card_balance
df = df.merge(FeatureEngineering2.credit_card(), how='left', on='SK_ID_CURR')
df.head()

"Credit Card Balance" final shape: (103558, 284)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,INS_48M_SK_DPD_MAX,INS_48M_SK_DPD_SUM,INS_48M_DRAWING_LIMIT_RATIO_MIN,INS_48M_DRAWING_LIMIT_RATIO_MAX,INS_48M_LATE_PAYMENT_MEAN,INS_48M_LATE_PAYMENT_SUM,INS_48M_CARD_IS_DPD_UNDER_120_MEAN,INS_48M_CARD_IS_DPD_UNDER_120_SUM,INS_48M_CARD_IS_DPD_OVER_120_MEAN,INS_48M_CARD_IS_DPD_OVER_120_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
### 変数選択01
df = FeatureEngineering2.data_post_processing(df)
print('='*50, '\n')
print('---=> df final shape:', df.shape, ' <=---', '\n')
print('=' * 50)
df.head()

---=> the DATA POST-PROCESSING is beginning, the dataset has 1168 features
names of feature are renamed
---=> pandas data types of features in the dataset are converted for a reduced memory usage
---=> 1122 features are remained after removing non-informative features
123 features are eliminated by LightGBM classifier with an 0.7 auc score limit in step I
---=> 999 features are remained after removing features not interesting for LightGBM classifier
---=> 58 features are generated with the risk_groupanizer
---=> the DATA POST-PROCESSING is ended!, now the dataset has a total 1057 features
==================================================

---=> df final shape: (356250, 1057)  <=---

==================================================

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,POS_COMPLETED_BEFORE_MEAN_high_risk,POS_COMPLETED_BEFORE_MEAN_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,CC_NAME_CONTRACT_STATUS_Approved_VAR_high_risk,CC_NAME_CONTRACT_STATUS_Approved_VAR_low_risk,CC_NAME_CONTRACT_STATUS_Refused_VAR_high_risk,CC_NAME_CONTRACT_STATUS_Refused_VAR_low_risk
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,0,0,0,0,0,0,0,0,0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0,1,0,0,0,0,0,0,0,0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,1,0,0,0,0,0,0,0,0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,1,1,0,0,0,1,0,1,0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,1,0,0,0,0,0,0,0,0

In [13]:
### 変数選択02
df = FeatureEngineering2.data_post_processing(df)
print('='*50, '\n')
print('---=> df final shape:', df.shape, ' <=---', '\n')
print('=' * 50)
df.head()

---=> the DATA POST-PROCESSING is beginning, the dataset has 1057 features
names of feature are renamed
---=> pandas data types of features in the dataset are converted for a reduced memory usage
---=> 1051 features are remained after removing non-informative features
40 features are eliminated by LightGBM classifier with an 0.7 auc score limit in step I
---=> 1011 features are remained after removing features not interesting for LightGBM classifier
---=> 19 features are generated with the risk_groupanizer
---=> the DATA POST-PROCESSING is ended!, now the dataset has a total 1030 features
==================================================

---=> df final shape: (356250, 1030)  <=---

==================================================

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,0,0,1,1,0,0,0,0,0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,1,0,0,1,1,0,0,0,0,0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0,1,1,0,0,0,0,0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0,0,1,0,1,0,0,0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0,1,1,0,0,0,0,0

In [14]:
### 変数選択03
df = FeatureEngineering2.data_post_processing(df)
print('='*50, '\n')
print('---=> df final shape:', df.shape, ' <=---', '\n')
print('=' * 50)
df.head()

---=> the DATA POST-PROCESSING is beginning, the dataset has 1030 features
names of feature are renamed
---=> pandas data types of features in the dataset are converted for a reduced memory usage
---=> 1026 features are remained after removing non-informative features
15 features are eliminated by LightGBM classifier with an 0.7 auc score limit in step I
---=> 1011 features are remained after removing features not interesting for LightGBM classifier
---=> 19 features are generated with the risk_groupanizer
---=> the DATA POST-PROCESSING is ended!, now the dataset has a total 1030 features
==================================================

---=> df final shape: (356250, 1030)  <=---

==================================================

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,0,0,1,1,0,0,0,0,0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,1,0,0,1,1,0,0,0,0,0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0,1,1,0,0,0,0,0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0,0,1,0,1,0,0,0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0,1,1,0,0,0,0,0

In [15]:
df = df.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x))
df.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,0,0,1,1,0,0,0,0,0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,1,0,0,1,1,0,0,0,0,0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0,1,1,0,0,0,0,0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0,0,1,0,1,0,0,0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0,1,1,0,0,0,0,0

## 学習

### 001 baseline

In [16]:
# split train, and test datasets
df = df.replace([np.inf, -np.inf], np.nan)
app_train = df[df['TARGET'].notnull()]
app_test = df[df['TARGET'].isnull()]

print(app_test.shape)
app_test.head()

(48744, 1030)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
307506,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,0,0,1,1,0,0,0,0,0
307507,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,0,0,1,1,0,0,0,0,0
307508,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,0,0,1,1,0,1,0,1,0
307509,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0,1,1,0,1,0,1,0
307510,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0,0,1,0,0,0,0,0

In [17]:
train_setB1a = pd.read_csv('./home-credit-default-risk/exports/train_setB1a.csv')
test_setB1a =  pd.read_csv('./home-credit-default-risk/exports/test_setB1a.csv')
test_setB1a.head()

   SK_ID_CURR    setB1a
0      100001  0.033433
1      100005  0.098996
2      100013  0.042185
3      100028  0.039429
4      100038  0.161166

In [18]:
app_train = app_train.merge(train_setB1a, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_setB1a, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,1,1,0,0,0,0,0,0.033433
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,1,1,0,0,0,0,0,0.098996
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,0,1,1,0,1,0,1,0,0.042185
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0,0,1,1,0,1,0,1,0,0.039429
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0,1,0,0,0,0,0,0.161166

In [19]:
train_setB1xgb = pd.read_csv('./home-credit-default-risk/exports/train_setB1xgb.csv')
test_setB1xgb =  pd.read_csv('./home-credit-default-risk/exports/test_setB1xgb.csv')
test_setB1xgb.head()

   SK_ID_CURR    setB1x
0      100001  0.032762
1      100005  0.100620
2      100013  0.044999
3      100028  0.034211
4      100038  0.172532

In [20]:
app_train = app_train.merge(train_setB1xgb, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_setB1xgb, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,1,1,0,0,0,0,0,0.033433,0.032762
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,1,1,0,0,0,0,0,0.098996,0.100620
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,1,1,0,1,0,1,0,0.042185,0.044999
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0,1,1,0,1,0,1,0,0.039429,0.034211
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,1,0,0,0,0,0,0.161166,0.172532

In [21]:
pred_train_set1a = pd.read_csv('./home-credit-default-risk/exports/pred_train_set1a.csv')
pred_test_set1a =  pd.read_csv('./home-credit-default-risk/exports/pred_test_set1a.csv')
pred_test_set1a.head()

   SK_ID_CURR      set1
0      100001  0.040068
1      100005  0.095240
2      100013  0.044435
3      100028  0.036586
4      100038  0.141754

In [22]:
app_train = app_train.merge(pred_train_set1a, how='left', on='SK_ID_CURR')
app_test = app_test.merge(pred_test_set1a, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,1,0,0,0,0,0,0.033433,0.032762,0.040068
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,1,0,0,0,0,0,0.098996,0.100620,0.095240
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,1,0,1,0,1,0,0.042185,0.044999,0.044435
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,1,0,1,0,1,0,0.039429,0.034211,0.036586
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,1,0,0,0,0,0,0.161166,0.172532,0.141754

In [23]:
train_set1xgb = pd.read_csv('./home-credit-default-risk/exports/train_set1xgb.csv')
test_set1xgb =  pd.read_csv('./home-credit-default-risk/exports/test_set1xgb.csv')
test_set1xgb.head()

   SK_ID_CURR     set1x
0      100001  0.035234
1      100005  0.107426
2      100013  0.048029
3      100028  0.032975
4      100038  0.161962

In [24]:
app_train = app_train.merge(train_set1xgb, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_set1xgb, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,0,0,0,0,0,0.033433,0.032762,0.040068,0.035234
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,0,0,0,0,0,0.098996,0.100620,0.095240,0.107426
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,1,0,1,0,0.042185,0.044999,0.044435,0.048029
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,1,0,1,0,0.039429,0.034211,0.036586,0.032975
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,1,0,0,0,0,0,0.161166,0.172532,0.141754,0.161962

In [25]:
train_set2a = pd.read_csv('./home-credit-default-risk/exports/train_set2a.csv')
test_set2a =  pd.read_csv('./home-credit-default-risk/exports/test_set2a.csv')
test_set2a.head()

   SK_ID_CURR     set2a
0      100001  0.042769
1      100005  0.103694
2      100013  0.036006
3      100028  0.048812
4      100038  0.173045

In [26]:
app_train = app_train.merge(train_set2a, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_set2a, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0,0,0,0.033433,0.032762,0.040068,0.035234,0.042769
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0,0,0,0.098996,0.100620,0.095240,0.107426,0.103694
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,1,0,1,0,0.042185,0.044999,0.044435,0.048029,0.036006
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0,1,0,1,0,0.039429,0.034211,0.036586,0.032975,0.048812
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0,0,0,0.161166,0.172532,0.141754,0.161962,0.173045

In [27]:
train_set2nn = pd.read_csv('./home-credit-default-risk/exports/train_set2nn.csv')
test_set2nn =  pd.read_csv('./home-credit-default-risk/exports/test_set2nn.csv')
test_set2nn.head()

   SK_ID_CURR    set2nn
0      100001  0.048972
1      100005  0.141351
2      100013  0.028088
3      100028  0.039056
4      100038  0.192637

In [28]:
app_train = app_train.merge(train_set2nn, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_set2nn, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637

In [29]:
train_set3a = pd.read_csv('./home-credit-default-risk/exports/train_set3a.csv')
test_set3a =  pd.read_csv('./home-credit-default-risk/exports/test_set3a.csv')
test_set3a.head()

   SK_ID_CURR     set3a
0      100001  0.049120
1      100005  0.115729
2      100013  0.064166
3      100028  0.038931
4      100038  0.195575

In [30]:
app_train = app_train.merge(train_set3a, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_set3a, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575

In [31]:
train_set3xgb = pd.read_csv('./home-credit-default-risk/exports/train_set3xgb.csv')
test_set3xgb =  pd.read_csv('./home-credit-default-risk/exports/test_set3xgb.csv')
test_set3xgb.head()

   SK_ID_CURR     set3x
0      100001  0.034310
1      100005  0.127556
2      100013  0.044872
3      100028  0.030915
4      100038  0.201295

In [32]:
app_train = app_train.merge(train_set3xgb, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_set3xgb, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295

In [33]:
train_set4a = pd.read_csv('./home-credit-default-risk/exports/train_set4a.csv')
test_set4a =  pd.read_csv('./home-credit-default-risk/exports/test_set4a.csv')
test_set4a.head()

   SK_ID_CURR     set4a
0      100001  0.042113
1      100005  0.132192
2      100013  0.057271
3      100028  0.042206
4      100038  0.195048

In [34]:
#app_train = app_train.merge(train_set4a, how='left', on='SK_ID_CURR')
#app_test = app_test.merge(test_set4a, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295

In [35]:
train_set4xgb = pd.read_csv('./home-credit-default-risk/exports/train_set4xgb.csv')
test_set4xgb =  pd.read_csv('./home-credit-default-risk/exports/test_set4xgb.csv')
test_set4xgb.head()

   SK_ID_CURR     set4x
0      100001  0.034978
1      100005  0.118268
2      100013  0.039774
3      100028  0.037283
4      100038  0.164890

In [36]:
#app_train = app_train.merge(train_set4xgb, how='left', on='SK_ID_CURR')
#app_test = app_test.merge(test_set4xgb, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295

In [37]:
### indexを削除
app_train=app_train.reset_index()
app_test=app_test.reset_index()
app_test.head()

,level_0,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,0,100001,NaN,1,0,0,0,135000.0,568800.0,...,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310
1,1,1,100005,NaN,0,0,0,0,99000.0,222768.0,...,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556
2,2,2,100013,NaN,0,1,0,0,202500.0,663264.0,...,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872
3,3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,...,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915
4,4,4,100038,NaN,0,1,1,1,180000.0,625500.0,...,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295

In [38]:
### indexを削除
app_train = app_train.drop(columns=['index'])
app_test = app_test.drop(columns=['index'])
app_test.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295

In [39]:
app_train.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0,0,0.283935,0.234856,0.260928,0.199398,0.242499,0.240473,0.223662,0.259405
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0,0,0.023060,0.023065,0.012171,0.012061,0.017857,0.014736,0.024137,0.023080
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0.032398,0.038719,0.039950,0.047440,0.033203,0.029793,0.035314,0.033290
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0.028579,0.034008,0.030776,0.030071,0.048900,0.031804,0.031135,0.022860
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0.023252,0.027813,0.035088,0.023555,0.043556,0.060946,0.035167,0.033131

In [40]:
x_train = app_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = app_train['TARGET']
id_train = app_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=='O':
        x_train[col] = x_train[col].astype('category')

In [41]:
### 学習モデル構築
train_oof, imp, metrics = baseline.train_xgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246004, 1036) (61502, 1036)
[11:40:00] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79788	validation_1-auc:0.78922
[1]	validation_0-auc:0.80196	validation_1-auc:0.79109
[2]	validation_0-auc:0.80590	validation_1-auc:0.79198
[3]	validation_0-auc:0.80731	validation_1-auc:0.79269
[4]	validation_0-auc:0.80941	validation_1-auc:0.79316
[5]	validation_0-auc:0.81059	validation_1-auc:0.79335
[6]	validation_0-auc:0.81170	validation_1-auc:0.79344
[7]	validation_0-auc:0.81322	validation_1-auc:0.79364
[8]	validation_0-auc:0.81416	validation_1-auc:0.79324
[9]	validation_0-auc:0.81491	validation_1-auc:0.79321
[10]	validation_0-auc:0.81613	validation_1-auc:0.79340
[11]	validation_0-auc:0.81735	validation_1-auc:0.79330
[12]	validation_0-auc:0.81857	validation_1-auc:0.79320
[13]	validation_0-auc:0.81949	validation_1-auc:0.79305
[14]	validation_0-auc:0.82023	validation_1-auc:0.79297
[15]	validation_0-auc:0.82119	validation_1-auc:0.79300
[16]	validation_0-auc:0.82258	validation_1-auc:0.79295
[17]	validation_0-auc:0.82335	validation_1-auc:0.79307
[18]	validation_0-auc:0.82467	validation_1-auc:0.79305
[19]	validation_0-auc:0.82553	validation_1-auc:0.79310
[20]	validation_0-auc:0.82701	validation_1-auc:0.79297
[21]	validation_0-auc:0.82871	validation_1-auc:0.79309
[22]	validation_0-auc:0.82983	validation_1-auc:0.79282
[23]	validation_0-auc:0.83092	validation_1-auc:0.79273
[24]	validation_0-auc:0.83219	validation_1-auc:0.79281
[25]	validation_0-auc:0.83334	validation_1-auc:0.79291
[26]	validation_0-auc:0.83423	validation_1-auc:0.79281
[27]	validation_0-auc:0.83508	validation_1-auc:0.79277
[28]	validation_0-auc:0.83648	validation_1-auc:0.79274
[29]	validation_0-auc:0.83712	validation_1-auc:0.79268
[30]	validation_0-auc:0.83823	validation_1-auc:0.79272
[31]	validation_0-auc:0.83928	validation_1-auc:0.79253
[32]	validation_0-auc:0.84052	validation_1-auc:0.79247
[33]	validation_0-auc:0.84204	validation_1-auc:0.79244
[34]	validation_0-auc:0.84319	validation_1-auc:0.79239
[35]	validation_0-auc:0.84452	validation_1-auc:0.79226
[36]	validation_0-auc:0.84567	validation_1-auc:0.79208
[37]	validation_0-auc:0.84692	validation_1-auc:0.79189
[38]	validation_0-auc:0.84851	validation_1-auc:0.79185
[39]	validation_0-auc:0.84939	validation_1-auc:0.79192
[40]	validation_0-auc:0.85003	validation_1-auc:0.79208
[41]	validation_0-auc:0.85102	validation_1-auc:0.79209
[42]	validation_0-auc:0.85197	validation_1-auc:0.79216
[43]	validation_0-auc:0.85347	validation_1-auc:0.79217
[44]	validation_0-auc:0.85489	validation_1-auc:0.79203
[45]	validation_0-auc:0.85593	validation_1-auc:0.79209
[46]	validation_0-auc:0.85693	validation_1-auc:0.79195
[47]	validation_0-auc:0.85834	validation_1-auc:0.79180
[48]	validation_0-auc:0.85972	validation_1-auc:0.79170
[49]	validation_0-auc:0.86137	validation_1-auc:0.79155
[50]	validation_0-auc:0.86257	validation_1-auc:0.79176
[51]	validation_0-auc:0.86318	validation_1-auc:0.79170
[52]	validation_0-auc:0.86417	validation_1-auc:0.79161
[53]	validation_0-auc:0.86558	validation_1-auc:0.79149
[54]	validation_0-auc:0.86655	validation_1-auc:0.79139
[55]	validation_0-auc:0.86752	validation_1-auc:0.79132
[56]	validation_0-auc:0.86839	validation_1-auc:0.79135
[57]	validation_0-auc:0.86959	validation_1-auc:0.79120
[58]	validation_0-auc:0.87104	validation_1-auc:0.79108
[59]	validation_0-auc:0.87158	validation_1-auc:0.79108
[60]	validation_0-auc:0.87247	validation_1-auc:0.79112
[61]	validation_0-auc:0.87345	validation_1-auc:0.79107
[62]	validation_0-auc:0.87455	validation_1-auc:0.79098
[63]	validation_0-auc:0.87527	validation_1-auc:0.79096
[64]	validation_0-auc:0.87572	validation_1-auc:0.79099
[65]	validation_0-auc:0.87618	validation_1-auc:0.79099
[66]	validation_0-auc:0.87662	validation_1-auc:0.79094
[67]	validation_0-auc:0.87700	validation_1-auc:0.79092
[68]	validation_0-auc:0.87751	validation_1-auc:0.79094
[69]	validation_0-auc:0.87803	validation_1-auc:0.79086
[70]	validation_0-auc:0.87866	validation_1-auc:0.79082
[71]	validation_0-auc:0.87980	validation_1-auc:0.79083
[72]	validation_0-auc:0.88076	validation_1-auc:0.79082
[73]	validation_0-auc:0.88148	validation_1-auc:0.79076
[74]	validation_0-auc:0.88245	validation_1-auc:0.79077
[75]	validation_0-auc:0.88339	validation_1-auc:0.79076
[76]	validation_0-auc:0.88394	validation_1-auc:0.79076
[77]	validation_0-auc:0.88457	validation_1-auc:0.79076
[78]	validation_0-auc:0.88486	validation_1-auc:0.79072
[79]	validation_0-auc:0.88553	validation_1-auc:0.79066
[80]	validation_0-auc:0.88610	validation_1-auc:0.79072
[81]	validation_0-auc:0.88739	validation_1-auc:0.79066
[82]	validation_0-auc:0.88774	validation_1-auc:0.79066
[83]	validation_0-auc:0.88841	validation_1-auc:0.79058
[84]	validation_0-auc:0.88868	validation_1-auc:0.79062
[85]	validation_0-auc:0.88930	validation_1-auc:0.79058
[86]	validation_0-auc:0.88972	validation_1-auc:0.79054
[87]	validation_0-auc:0.89018	validation_1-auc:0.79052
[88]	validation_0-auc:0.89031	validation_1-auc:0.79053
[89]	validation_0-auc:0.89076	validation_1-auc:0.79048
[90]	validation_0-auc:0.89120	validation_1-auc:0.79043
[91]	validation_0-auc:0.89205	validation_1-auc:0.79047
[92]	validation_0-auc:0.89245	validation_1-auc:0.79052
[93]	validation_0-auc:0.89342	validation_1-auc:0.79054
[94]	validation_0-auc:0.89434	validation_1-auc:0.79050
[95]	validation_0-auc:0.89495	validation_1-auc:0.79038
[96]	validation_0-auc:0.89577	validation_1-auc:0.79035
[97]	validation_0-auc:0.89586	validation_1-auc:0.79037
[98]	validation_0-auc:0.89602	validation_1-auc:0.79040
[99]	validation_0-auc:0.89654	validation_1-auc:0.79042
[auc] tr:0.896537, va0.7904
-------------------- 1 --------------------
(246005, 1036) (61501, 1036)
[11:40:23] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79726	validation_1-auc:0.79138
[1]	validation_0-auc:0.80149	validation_1-auc:0.79368
[2]	validation_0-auc:0.80423	validation_1-auc:0.79397
[3]	validation_0-auc:0.80599	validation_1-auc:0.79425
[4]	validation_0-auc:0.80776	validation_1-auc:0.79426
[5]	validation_0-auc:0.80913	validation_1-auc:0.79421
[6]	validation_0-auc:0.81024	validation_1-auc:0.79430
[7]	validation_0-auc:0.81168	validation_1-auc:0.79441
[8]	validation_0-auc:0.81298	validation_1-auc:0.79431
[9]	validation_0-auc:0.81419	validation_1-auc:0.79455
[10]	validation_0-auc:0.81522	validation_1-auc:0.79476
[11]	validation_0-auc:0.81647	validation_1-auc:0.79472
[12]	validation_0-auc:0.81749	validation_1-auc:0.79467
[13]	validation_0-auc:0.81910	validation_1-auc:0.79479
[14]	validation_0-auc:0.82010	validation_1-auc:0.79457
[15]	validation_0-auc:0.82123	validation_1-auc:0.79457
[16]	validation_0-auc:0.82259	validation_1-auc:0.79469
[17]	validation_0-auc:0.82403	validation_1-auc:0.79450
[18]	validation_0-auc:0.82533	validation_1-auc:0.79448
[19]	validation_0-auc:0.82655	validation_1-auc:0.79451
[20]	validation_0-auc:0.82774	validation_1-auc:0.79427
[21]	validation_0-auc:0.82912	validation_1-auc:0.79433
[22]	validation_0-auc:0.82958	validation_1-auc:0.79439
[23]	validation_0-auc:0.83080	validation_1-auc:0.79432
[24]	validation_0-auc:0.83191	validation_1-auc:0.79426
[25]	validation_0-auc:0.83355	validation_1-auc:0.79438
[26]	validation_0-auc:0.83446	validation_1-auc:0.79435
[27]	validation_0-auc:0.83498	validation_1-auc:0.79448
[28]	validation_0-auc:0.83567	validation_1-auc:0.79450
[29]	validation_0-auc:0.83666	validation_1-auc:0.79440
[30]	validation_0-auc:0.83768	validation_1-auc:0.79433

[31]	validation_0-auc:0.83878	validation_1-auc:0.79431
[32]	validation_0-auc:0.84034	validation_1-auc:0.79416
[33]	validation_0-auc:0.84144	validation_1-auc:0.79412
[34]	validation_0-auc:0.84265	validation_1-auc:0.79410
[35]	validation_0-auc:0.84405	validation_1-auc:0.79410
[36]	validation_0-auc:0.84536	validation_1-auc:0.79402
[37]	validation_0-auc:0.84679	validation_1-auc:0.79389
[38]	validation_0-auc:0.84812	validation_1-auc:0.79370
[39]	validation_0-auc:0.84909	validation_1-auc:0.79372
[40]	validation_0-auc:0.85008	validation_1-auc:0.79361
[41]	validation_0-auc:0.85107	validation_1-auc:0.79358
[42]	validation_0-auc:0.85283	validation_1-auc:0.79357
[43]	validation_0-auc:0.85381	validation_1-auc:0.79372
[44]	validation_0-auc:0.85504	validation_1-auc:0.79369
[45]	validation_0-auc:0.85658	validation_1-auc:0.79356
[46]	validation_0-auc:0.85768	validation_1-auc:0.79350
[47]	validation_0-auc:0.85858	validation_1-auc:0.79354
[48]	validation_0-auc:0.85983	validation_1-auc:0.79363
[49]	validation_0-auc:0.86030	validation_1-auc:0.79358
[50]	validation_0-auc:0.86171	validation_1-auc:0.79353
[51]	validation_0-auc:0.86277	validation_1-auc:0.79351
[52]	validation_0-auc:0.86381	validation_1-auc:0.79353
[53]	validation_0-auc:0.86497	validation_1-auc:0.79360
[54]	validation_0-auc:0.86586	validation_1-auc:0.79353
[55]	validation_0-auc:0.86670	validation_1-auc:0.79358
[56]	validation_0-auc:0.86756	validation_1-auc:0.79358
[57]	validation_0-auc:0.86821	validation_1-auc:0.79353
[58]	validation_0-auc:0.86954	validation_1-auc:0.79353
[59]	validation_0-auc:0.87000	validation_1-auc:0.79346
[60]	validation_0-auc:0.87066	validation_1-auc:0.79359
[61]	validation_0-auc:0.87122	validation_1-auc:0.79366
[62]	validation_0-auc:0.87178	validation_1-auc:0.79370
[63]	validation_0-auc:0.87234	validation_1-auc:0.79356
[64]	validation_0-auc:0.87272	validation_1-auc:0.79347
[65]	validation_0-auc:0.87299	validation_1-auc:0.79342
[66]	validation_0-auc:0.87333	validation_1-auc:0.79333
[67]	validation_0-auc:0.87384	validation_1-auc:0.79332
[68]	validation_0-auc:0.87553	validation_1-auc:0.79313
[69]	validation_0-auc:0.87646	validation_1-auc:0.79315
[70]	validation_0-auc:0.87701	validation_1-auc:0.79308
[71]	validation_0-auc:0.87727	validation_1-auc:0.79306
[72]	validation_0-auc:0.87758	validation_1-auc:0.79303
[73]	validation_0-auc:0.87828	validation_1-auc:0.79306
[74]	validation_0-auc:0.87852	validation_1-auc:0.79312
[75]	validation_0-auc:0.87934	validation_1-auc:0.79296
[76]	validation_0-auc:0.87989	validation_1-auc:0.79289
[77]	validation_0-auc:0.88080	validation_1-auc:0.79282
[78]	validation_0-auc:0.88126	validation_1-auc:0.79277
[79]	validation_0-auc:0.88157	validation_1-auc:0.79275
[80]	validation_0-auc:0.88188	validation_1-auc:0.79270
[81]	validation_0-auc:0.88219	validation_1-auc:0.79266
[82]	validation_0-auc:0.88298	validation_1-auc:0.79253
[83]	validation_0-auc:0.88400	validation_1-auc:0.79227
[84]	validation_0-auc:0.88503	validation_1-auc:0.79211
[85]	validation_0-auc:0.88552	validation_1-auc:0.79213
[86]	validation_0-auc:0.88600	validation_1-auc:0.79209
[87]	validation_0-auc:0.88676	validation_1-auc:0.79207
[88]	validation_0-auc:0.88699	validation_1-auc:0.79205
[89]	validation_0-auc:0.88812	validation_1-auc:0.79193
[90]	validation_0-auc:0.88855	validation_1-auc:0.79191
[91]	validation_0-auc:0.88889	validation_1-auc:0.79194
[92]	validation_0-auc:0.88950	validation_1-auc:0.79195
[93]	validation_0-auc:0.89009	validation_1-auc:0.79200
[94]	validation_0-auc:0.89037	validation_1-auc:0.79204
[95]	validation_0-auc:0.89111	validation_1-auc:0.79199
[96]	validation_0-auc:0.89210	validation_1-auc:0.79185
[97]	validation_0-auc:0.89256	validation_1-auc:0.79177
[98]	validation_0-auc:0.89289	validation_1-auc:0.79182
[99]	validation_0-auc:0.89330	validation_1-auc:0.79178
[auc] tr:0.893303, va0.7918
-------------------- 2 --------------------
(246005, 1036) (61501, 1036)
[11:40:48] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79864	validation_1-auc:0.78644
[1]	validation_0-auc:0.80238	validation_1-auc:0.78939
[2]	validation_0-auc:0.80528	validation_1-auc:0.78979
[3]	validation_0-auc:0.80696	validation_1-auc:0.78967
[4]	validation_0-auc:0.80928	validation_1-auc:0.78934
[5]	validation_0-auc:0.81043	validation_1-auc:0.78945
[6]	validation_0-auc:0.81193	validation_1-auc:0.78984
[7]	validation_0-auc:0.81335	validation_1-auc:0.79031
[8]	validation_0-auc:0.81453	validation_1-auc:0.79021
[9]	validation_0-auc:0.81582	validation_1-auc:0.79031
[10]	validation_0-auc:0.81696	validation_1-auc:0.79033
[11]	validation_0-auc:0.81826	validation_1-auc:0.79009
[12]	validation_0-auc:0.81922	validation_1-auc:0.79021
[13]	validation_0-auc:0.82029	validation_1-auc:0.79047
[14]	validation_0-auc:0.82109	validation_1-auc:0.79064
[15]	validation_0-auc:0.82188	validation_1-auc:0.79067
[16]	validation_0-auc:0.82323	validation_1-auc:0.79070
[17]	validation_0-auc:0.82462	validation_1-auc:0.79055
[18]	validation_0-auc:0.82594	validation_1-auc:0.79036
[19]	validation_0-auc:0.82716	validation_1-auc:0.79024
[20]	validation_0-auc:0.82871	validation_1-auc:0.79008
[21]	validation_0-auc:0.83016	validation_1-auc:0.79013
[22]	validation_0-auc:0.83124	validation_1-auc:0.79014
[23]	validation_0-auc:0.83213	validation_1-auc:0.78991
[24]	validation_0-auc:0.83331	validation_1-auc:0.78999
[25]	validation_0-auc:0.83447	validation_1-auc:0.78986
[26]	validation_0-auc:0.83555	validation_1-auc:0.78970
[27]	validation_0-auc:0.83605	validation_1-auc:0.78973
[28]	validation_0-auc:0.83682	validation_1-auc:0.78990
[29]	validation_0-auc:0.83829	validation_1-auc:0.78984
[30]	validation_0-auc:0.83954	validation_1-auc:0.78982
[31]	validation_0-auc:0.84103	validation_1-auc:0.78999
[32]	validation_0-auc:0.84233	validation_1-auc:0.79013
[33]	validation_0-auc:0.84364	validation_1-auc:0.78994
[34]	validation_0-auc:0.84442	validation_1-auc:0.78997
[35]	validation_0-auc:0.84581	validation_1-auc:0.78991
[36]	validation_0-auc:0.84642	validation_1-auc:0.78986
[37]	validation_0-auc:0.84744	validation_1-auc:0.78981
[38]	validation_0-auc:0.84895	validation_1-auc:0.78972
[39]	validation_0-auc:0.84992	validation_1-auc:0.78959
[40]	validation_0-auc:0.85102	validation_1-auc:0.78946
[41]	validation_0-auc:0.85205	validation_1-auc:0.78929
[42]	validation_0-auc:0.85315	validation_1-auc:0.78907
[43]	validation_0-auc:0.85452	validation_1-auc:0.78892
[44]	validation_0-auc:0.85566	validation_1-auc:0.78885
[45]	validation_0-auc:0.85673	validation_1-auc:0.78900
[46]	validation_0-auc:0.85784	validation_1-auc:0.78900
[47]	validation_0-auc:0.85889	validation_1-auc:0.78877
[48]	validation_0-auc:0.85963	validation_1-auc:0.78877
[49]	validation_0-auc:0.86130	validation_1-auc:0.78871
[50]	validation_0-auc:0.86210	validation_1-auc:0.78876
[51]	validation_0-auc:0.86309	validation_1-auc:0.78875
[52]	validation_0-auc:0.86384	validation_1-auc:0.78864
[53]	validation_0-auc:0.86508	validation_1-auc:0.78858
[54]	validation_0-auc:0.86603	validation_1-auc:0.78850
[55]	validation_0-auc:0.86696	validation_1-auc:0.78839
[56]	validation_0-auc:0.86789	validation_1-auc:0.78829
[57]	validation_0-auc:0.86856	validation_1-auc:0.78821
[58]	validation_0-auc:0.86945	validation_1-auc:0.78815
[59]	validation_0-auc:0.87018	validation_1-auc:0.78834
[60]	validation_0-auc:0.87072	validation_1-auc:0.78826
[61]	validation_0-auc:0.87151	validation_1-auc:0.78818
[62]	validation_0-auc:0.87208	validation_1-auc:0.78807
[63]	validation_0-auc:0.87233	validation_1-auc:0.78811
[64]	validation_0-auc:0.87291	validation_1-auc:0.78813
[65]	validation_0-auc:0.87386	validation_1-auc:0.78806
[66]	validation_0-auc:0.87490	validation_1-auc:0.78789
[67]	validation_0-auc:0.87551	validation_1-auc:0.78787
[68]	validation_0-auc:0.87587	validation_1-auc:0.78791
[69]	validation_0-auc:0.87668	validation_1-auc:0.78791
[70]	validation_0-auc:0.87784	validation_1-auc:0.78779

[71]	validation_0-auc:0.87861	validation_1-auc:0.78774
[72]	validation_0-auc:0.87929	validation_1-auc:0.78776
[73]	validation_0-auc:0.87966	validation_1-auc:0.78769
[74]	validation_0-auc:0.88018	validation_1-auc:0.78758
[75]	validation_0-auc:0.88084	validation_1-auc:0.78768
[76]	validation_0-auc:0.88116	validation_1-auc:0.78769
[77]	validation_0-auc:0.88178	validation_1-auc:0.78762
[78]	validation_0-auc:0.88233	validation_1-auc:0.78766
[79]	validation_0-auc:0.88270	validation_1-auc:0.78770
[80]	validation_0-auc:0.88397	validation_1-auc:0.78770
[81]	validation_0-auc:0.88479	validation_1-auc:0.78760
[82]	validation_0-auc:0.88514	validation_1-auc:0.78758
[83]	validation_0-auc:0.88579	validation_1-auc:0.78750
[84]	validation_0-auc:0.88616	validation_1-auc:0.78753
[85]	validation_0-auc:0.88658	validation_1-auc:0.78749
[86]	validation_0-auc:0.88733	validation_1-auc:0.78740
[87]	validation_0-auc:0.88781	validation_1-auc:0.78732
[88]	validation_0-auc:0.88836	validation_1-auc:0.78727
[89]	validation_0-auc:0.88879	validation_1-auc:0.78727
[90]	validation_0-auc:0.88914	validation_1-auc:0.78731
[91]	validation_0-auc:0.88939	validation_1-auc:0.78727
[92]	validation_0-auc:0.89022	validation_1-auc:0.78737
[93]	validation_0-auc:0.89066	validation_1-auc:0.78729
[94]	validation_0-auc:0.89136	validation_1-auc:0.78722
[95]	validation_0-auc:0.89271	validation_1-auc:0.78698
[96]	validation_0-auc:0.89373	validation_1-auc:0.78695
[97]	validation_0-auc:0.89477	validation_1-auc:0.78689
[98]	validation_0-auc:0.89540	validation_1-auc:0.78683
[99]	validation_0-auc:0.89622	validation_1-auc:0.78672
[auc] tr:0.896222, va0.7867
-------------------- 3 --------------------
(246005, 1036) (61501, 1036)
[11:41:13] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79630	validation_1-auc:0.79385
[1]	validation_0-auc:0.80022	validation_1-auc:0.79587
[2]	validation_0-auc:0.80328	validation_1-auc:0.79684
[3]	validation_0-auc:0.80466	validation_1-auc:0.79716
[4]	validation_0-auc:0.80661	validation_1-auc:0.79721
[5]	validation_0-auc:0.80786	validation_1-auc:0.79731
[6]	validation_0-auc:0.80968	validation_1-auc:0.79717
[7]	validation_0-auc:0.81126	validation_1-auc:0.79724
[8]	validation_0-auc:0.81252	validation_1-auc:0.79738
[9]	validation_0-auc:0.81367	validation_1-auc:0.79756
[10]	validation_0-auc:0.81443	validation_1-auc:0.79760
[11]	validation_0-auc:0.81614	validation_1-auc:0.79745
[12]	validation_0-auc:0.81697	validation_1-auc:0.79756
[13]	validation_0-auc:0.81818	validation_1-auc:0.79779
[14]	validation_0-auc:0.81899	validation_1-auc:0.79777
[15]	validation_0-auc:0.81950	validation_1-auc:0.79778
[16]	validation_0-auc:0.82067	validation_1-auc:0.79780
[17]	validation_0-auc:0.82190	validation_1-auc:0.79773
[18]	validation_0-auc:0.82361	validation_1-auc:0.79770
[19]	validation_0-auc:0.82484	validation_1-auc:0.79756
[20]	validation_0-auc:0.82612	validation_1-auc:0.79759
[21]	validation_0-auc:0.82742	validation_1-auc:0.79733
[22]	validation_0-auc:0.82881	validation_1-auc:0.79733
[23]	validation_0-auc:0.82996	validation_1-auc:0.79741
[24]	validation_0-auc:0.83130	validation_1-auc:0.79744
[25]	validation_0-auc:0.83251	validation_1-auc:0.79735
[26]	validation_0-auc:0.83338	validation_1-auc:0.79743
[27]	validation_0-auc:0.83411	validation_1-auc:0.79735
[28]	validation_0-auc:0.83521	validation_1-auc:0.79729
[29]	validation_0-auc:0.83616	validation_1-auc:0.79730
[30]	validation_0-auc:0.83730	validation_1-auc:0.79703
[31]	validation_0-auc:0.83829	validation_1-auc:0.79698
[32]	validation_0-auc:0.83983	validation_1-auc:0.79688
[33]	validation_0-auc:0.84126	validation_1-auc:0.79690
[34]	validation_0-auc:0.84227	validation_1-auc:0.79683
[35]	validation_0-auc:0.84318	validation_1-auc:0.79688
[36]	validation_0-auc:0.84450	validation_1-auc:0.79661
[37]	validation_0-auc:0.84596	validation_1-auc:0.79650
[38]	validation_0-auc:0.84754	validation_1-auc:0.79638
[39]	validation_0-auc:0.84839	validation_1-auc:0.79638
[40]	validation_0-auc:0.84918	validation_1-auc:0.79659
[41]	validation_0-auc:0.85049	validation_1-auc:0.79661
[42]	validation_0-auc:0.85183	validation_1-auc:0.79662
[43]	validation_0-auc:0.85296	validation_1-auc:0.79664
[44]	validation_0-auc:0.85360	validation_1-auc:0.79662
[45]	validation_0-auc:0.85501	validation_1-auc:0.79642
[46]	validation_0-auc:0.85616	validation_1-auc:0.79653
[47]	validation_0-auc:0.85715	validation_1-auc:0.79654
[48]	validation_0-auc:0.85831	validation_1-auc:0.79640
[49]	validation_0-auc:0.85966	validation_1-auc:0.79629
[50]	validation_0-auc:0.86051	validation_1-auc:0.79617
[51]	validation_0-auc:0.86200	validation_1-auc:0.79623
[52]	validation_0-auc:0.86303	validation_1-auc:0.79624
[53]	validation_0-auc:0.86419	validation_1-auc:0.79630
[54]	validation_0-auc:0.86486	validation_1-auc:0.79627
[55]	validation_0-auc:0.86591	validation_1-auc:0.79621
[56]	validation_0-auc:0.86660	validation_1-auc:0.79617
[57]	validation_0-auc:0.86765	validation_1-auc:0.79614
[58]	validation_0-auc:0.86836	validation_1-auc:0.79613
[59]	validation_0-auc:0.86907	validation_1-auc:0.79614
[60]	validation_0-auc:0.87025	validation_1-auc:0.79603
[61]	validation_0-auc:0.87135	validation_1-auc:0.79602
[62]	validation_0-auc:0.87194	validation_1-auc:0.79606
[63]	validation_0-auc:0.87272	validation_1-auc:0.79597
[64]	validation_0-auc:0.87344	validation_1-auc:0.79598
[65]	validation_0-auc:0.87416	validation_1-auc:0.79597
[66]	validation_0-auc:0.87502	validation_1-auc:0.79596
[67]	validation_0-auc:0.87549	validation_1-auc:0.79597
[68]	validation_0-auc:0.87618	validation_1-auc:0.79594
[69]	validation_0-auc:0.87689	validation_1-auc:0.79586
[70]	validation_0-auc:0.87759	validation_1-auc:0.79586
[71]	validation_0-auc:0.87808	validation_1-auc:0.79587
[72]	validation_0-auc:0.87914	validation_1-auc:0.79589
[73]	validation_0-auc:0.87988	validation_1-auc:0.79574
[74]	validation_0-auc:0.88112	validation_1-auc:0.79562
[75]	validation_0-auc:0.88160	validation_1-auc:0.79558
[76]	validation_0-auc:0.88267	validation_1-auc:0.79551
[77]	validation_0-auc:0.88361	validation_1-auc:0.79536
[78]	validation_0-auc:0.88417	validation_1-auc:0.79530
[79]	validation_0-auc:0.88451	validation_1-auc:0.79537
[80]	validation_0-auc:0.88527	validation_1-auc:0.79534
[81]	validation_0-auc:0.88598	validation_1-auc:0.79526
[82]	validation_0-auc:0.88660	validation_1-auc:0.79520
[83]	validation_0-auc:0.88795	validation_1-auc:0.79506
[84]	validation_0-auc:0.88907	validation_1-auc:0.79503
[85]	validation_0-auc:0.88929	validation_1-auc:0.79501
[86]	validation_0-auc:0.88971	validation_1-auc:0.79504
[87]	validation_0-auc:0.89065	validation_1-auc:0.79506
[88]	validation_0-auc:0.89106	validation_1-auc:0.79494
[89]	validation_0-auc:0.89171	validation_1-auc:0.79490
[90]	validation_0-auc:0.89259	validation_1-auc:0.79486
[91]	validation_0-auc:0.89294	validation_1-auc:0.79484
[92]	validation_0-auc:0.89370	validation_1-auc:0.79472
[93]	validation_0-auc:0.89413	validation_1-auc:0.79459
[94]	validation_0-auc:0.89485	validation_1-auc:0.79453
[95]	validation_0-auc:0.89521	validation_1-auc:0.79446
[96]	validation_0-auc:0.89604	validation_1-auc:0.79446
[97]	validation_0-auc:0.89627	validation_1-auc:0.79449
[98]	validation_0-auc:0.89700	validation_1-auc:0.79447
[99]	validation_0-auc:0.89775	validation_1-auc:0.79440
[auc] tr:0.897747, va0.7944
-------------------- 4 --------------------
(246005, 1036) (61501, 1036)
[11:41:37] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79669	validation_1-auc:0.79363

[1]	validation_0-auc:0.80106	validation_1-auc:0.79545
[2]	validation_0-auc:0.80362	validation_1-auc:0.79591
[3]	validation_0-auc:0.80529	validation_1-auc:0.79627
[4]	validation_0-auc:0.80695	validation_1-auc:0.79622
[5]	validation_0-auc:0.80857	validation_1-auc:0.79601
[6]	validation_0-auc:0.81046	validation_1-auc:0.79633
[7]	validation_0-auc:0.81160	validation_1-auc:0.79657
[8]	validation_0-auc:0.81250	validation_1-auc:0.79653
[9]	validation_0-auc:0.81403	validation_1-auc:0.79686
[10]	validation_0-auc:0.81512	validation_1-auc:0.79681
[11]	validation_0-auc:0.81611	validation_1-auc:0.79667
[12]	validation_0-auc:0.81720	validation_1-auc:0.79659
[13]	validation_0-auc:0.81804	validation_1-auc:0.79664
[14]	validation_0-auc:0.81891	validation_1-auc:0.79661
[15]	validation_0-auc:0.81967	validation_1-auc:0.79667
[16]	validation_0-auc:0.82077	validation_1-auc:0.79662
[17]	validation_0-auc:0.82226	validation_1-auc:0.79655
[18]	validation_0-auc:0.82370	validation_1-auc:0.79644
[19]	validation_0-auc:0.82433	validation_1-auc:0.79667
[20]	validation_0-auc:0.82565	validation_1-auc:0.79652
[21]	validation_0-auc:0.82696	validation_1-auc:0.79674
[22]	validation_0-auc:0.82830	validation_1-auc:0.79683
[23]	validation_0-auc:0.82942	validation_1-auc:0.79671
[24]	validation_0-auc:0.83128	validation_1-auc:0.79682
[25]	validation_0-auc:0.83301	validation_1-auc:0.79672
[26]	validation_0-auc:0.83428	validation_1-auc:0.79659
[27]	validation_0-auc:0.83527	validation_1-auc:0.79655
[28]	validation_0-auc:0.83648	validation_1-auc:0.79647
[29]	validation_0-auc:0.83763	validation_1-auc:0.79637
[30]	validation_0-auc:0.83882	validation_1-auc:0.79605
[31]	validation_0-auc:0.83971	validation_1-auc:0.79592
[32]	validation_0-auc:0.84145	validation_1-auc:0.79570
[33]	validation_0-auc:0.84275	validation_1-auc:0.79576
[34]	validation_0-auc:0.84386	validation_1-auc:0.79586
[35]	validation_0-auc:0.84489	validation_1-auc:0.79583
[36]	validation_0-auc:0.84594	validation_1-auc:0.79577
[37]	validation_0-auc:0.84659	validation_1-auc:0.79564
[38]	validation_0-auc:0.84761	validation_1-auc:0.79579
[39]	validation_0-auc:0.84873	validation_1-auc:0.79570
[40]	validation_0-auc:0.84995	validation_1-auc:0.79579
[41]	validation_0-auc:0.85113	validation_1-auc:0.79567
[42]	validation_0-auc:0.85212	validation_1-auc:0.79557
[43]	validation_0-auc:0.85294	validation_1-auc:0.79556
[44]	validation_0-auc:0.85416	validation_1-auc:0.79538
[45]	validation_0-auc:0.85536	validation_1-auc:0.79517
[46]	validation_0-auc:0.85639	validation_1-auc:0.79531
[47]	validation_0-auc:0.85727	validation_1-auc:0.79544
[48]	validation_0-auc:0.85829	validation_1-auc:0.79539
[49]	validation_0-auc:0.85937	validation_1-auc:0.79528
[50]	validation_0-auc:0.86069	validation_1-auc:0.79509
[51]	validation_0-auc:0.86202	validation_1-auc:0.79499
[52]	validation_0-auc:0.86327	validation_1-auc:0.79500
[53]	validation_0-auc:0.86419	validation_1-auc:0.79490
[54]	validation_0-auc:0.86538	validation_1-auc:0.79488
[55]	validation_0-auc:0.86580	validation_1-auc:0.79481
[56]	validation_0-auc:0.86691	validation_1-auc:0.79481
[57]	validation_0-auc:0.86776	validation_1-auc:0.79480
[58]	validation_0-auc:0.86931	validation_1-auc:0.79474
[59]	validation_0-auc:0.86987	validation_1-auc:0.79488
[60]	validation_0-auc:0.87085	validation_1-auc:0.79475
[61]	validation_0-auc:0.87207	validation_1-auc:0.79478
[62]	validation_0-auc:0.87285	validation_1-auc:0.79469
[63]	validation_0-auc:0.87374	validation_1-auc:0.79466
[64]	validation_0-auc:0.87430	validation_1-auc:0.79470
[65]	validation_0-auc:0.87449	validation_1-auc:0.79465
[66]	validation_0-auc:0.87514	validation_1-auc:0.79460
[67]	validation_0-auc:0.87576	validation_1-auc:0.79455
[68]	validation_0-auc:0.87627	validation_1-auc:0.79452
[69]	validation_0-auc:0.87656	validation_1-auc:0.79446
[70]	validation_0-auc:0.87758	validation_1-auc:0.79433
[71]	validation_0-auc:0.87844	validation_1-auc:0.79421
[72]	validation_0-auc:0.87921	validation_1-auc:0.79411
[73]	validation_0-auc:0.87978	validation_1-auc:0.79412
[74]	validation_0-auc:0.88043	validation_1-auc:0.79414
[75]	validation_0-auc:0.88110	validation_1-auc:0.79407
[76]	validation_0-auc:0.88186	validation_1-auc:0.79397
[77]	validation_0-auc:0.88271	validation_1-auc:0.79386
[78]	validation_0-auc:0.88300	validation_1-auc:0.79383
[79]	validation_0-auc:0.88382	validation_1-auc:0.79385
[80]	validation_0-auc:0.88415	validation_1-auc:0.79384
[81]	validation_0-auc:0.88520	validation_1-auc:0.79376
[82]	validation_0-auc:0.88570	validation_1-auc:0.79364
[83]	validation_0-auc:0.88601	validation_1-auc:0.79366
[84]	validation_0-auc:0.88628	validation_1-auc:0.79361
[85]	validation_0-auc:0.88719	validation_1-auc:0.79335
[86]	validation_0-auc:0.88776	validation_1-auc:0.79332
[87]	validation_0-auc:0.88864	validation_1-auc:0.79328
[88]	validation_0-auc:0.88898	validation_1-auc:0.79323
[89]	validation_0-auc:0.88981	validation_1-auc:0.79327
[90]	validation_0-auc:0.89084	validation_1-auc:0.79327
[91]	validation_0-auc:0.89139	validation_1-auc:0.79320
[92]	validation_0-auc:0.89232	validation_1-auc:0.79312
[93]	validation_0-auc:0.89265	validation_1-auc:0.79307
[94]	validation_0-auc:0.89320	validation_1-auc:0.79301
[95]	validation_0-auc:0.89409	validation_1-auc:0.79305
[96]	validation_0-auc:0.89453	validation_1-auc:0.79301
[97]	validation_0-auc:0.89521	validation_1-auc:0.79292
[98]	validation_0-auc:0.89579	validation_1-auc:0.79285
[99]	validation_0-auc:0.89634	validation_1-auc:0.79285
[auc] tr:0.896341, va0.7928
-------------------- result --------------------
[[0.         0.89653716 0.79042354]
 [1.         0.89330257 0.79177987]
 [2.         0.89622182 0.78671968]
 [3.         0.89774667 0.79439708]
 [4.         0.89634104 0.79284594]]
[cv] tr:0.8960+-0.0015, va:0.7912+-0.0026
[oof]0.7911

In [42]:
imp.sort_values("imp", ascending=False)[:20]

                                                    col       imp   imp_std
1035                                             setB1x  0.021670  0.002031
1030                                              set2a  0.018365  0.001195
1028                                               set1  0.016807  0.002359
1034                                             setB1a  0.013172  0.002181
1032                                              set3a  0.012180  0.001514
1029                                              set1x  0.007248  0.003785
1033                                              set3x  0.005701  0.000129
477                               EXT_SOURCES_NANMEDIAN  0.002129  0.000271
808                 PREV_CODE_REJECT_REASON_CLIENT_MEAN  0.001346  0.000340
146                       APP_EXT_SOURCE_2_EXT_SOURCE_3  0.001336  0.000102
261                     CC_AMT_DRAWINGS_ATM_CURRENT_SUM  0.001334  0.000457
1031                                             set2nn  0.001315  0.000079
277                      CC_AMT_INST_MIN_REGULARITY_MAX  0.001298  0.000273
378                                  CC_SK_DPD_DEF_MEAN  0.001269  0.000220
938   PREV_PRODUCT_COMBINATION_POS_mobile_with_inter...  0.001264  0.000203
673                            NAME_TYPE_SUITE_Children  0.001261  0.000399
707                     OCCUPATION_TYPE_Low_skill_staff  0.001256  0.000347
135                                APPS_EXT_SOURCE_MEAN  0.001255  0.000125
175                     BURO_AMT_CREDIT_SUM_OVERDUE_MAX  0.001242  0.000356
363                  CC_NAME_CONTRACT_STATUS_Active_VAR  0.001241  0.000416

In [43]:
app_test.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295

In [44]:
app_train.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0,0,0.283935,0.234856,0.260928,0.199398,0.242499,0.240473,0.223662,0.259405
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0,0,0.023060,0.023065,0.012171,0.012061,0.017857,0.014736,0.024137,0.023080
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0.032398,0.038719,0.039950,0.047440,0.033203,0.029793,0.035314,0.033290
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0.028579,0.034008,0.030776,0.030071,0.048900,0.031804,0.031135,0.022860
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0.023252,0.027813,0.035088,0.023555,0.043556,0.060946,0.035167,0.033131

In [45]:
# データセット作成
x_test = app_test.drop(columns=['SK_ID_CURR', 'TARGET'])
id_test = app_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [46]:
test_pred = baseline.predict_xgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [47]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineeringOtherSourceXgb2-1.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.032829
1      100005  0.103780
2      100013  0.035130
3      100028  0.027752
4      100038  0.154395

### 正規化＋対数変換

In [48]:
app_train_ord = app_train.copy()
app_test_ord = app_test.copy()
app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295

In [49]:
# infをnanへ置換
app_train_ord = app_train_ord.replace([np.inf, -np.inf], np.nan)
app_test_ord = app_test_ord.replace([np.inf, -np.inf], np.nan)
app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295

In [50]:
### 欠損値補完
#app_train_ord = app_train_ord.fillna(app_train_ord.max() + (app_train_ord.max() * 0.4))
app_train_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0,0,0.283935,0.234856,0.260928,0.199398,0.242499,0.240473,0.223662,0.259405
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0,0,0.023060,0.023065,0.012171,0.012061,0.017857,0.014736,0.024137,0.023080
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0.032398,0.038719,0.039950,0.047440,0.033203,0.029793,0.035314,0.033290
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0.028579,0.034008,0.030776,0.030071,0.048900,0.031804,0.031135,0.022860
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0.023252,0.027813,0.035088,0.023555,0.043556,0.060946,0.035167,0.033131

In [51]:
### 欠損値補完
#app_test_ord = app_test_ord.fillna(app_test_ord.max() + (app_test_ord.max() * 0.4))
app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295

In [52]:
# infをnanへ置換
app_train_ord = FeatureEngineering2.reduce_mem_usage(app_train_ord)
app_test_ord = FeatureEngineering2.reduce_mem_usage(app_test_ord)
app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0.033447,0.032776,0.040070,0.035248,0.042755,0.048981,0.049133,0.034302
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0.098999,0.100647,0.095215,0.107422,0.103699,0.141357,0.115723,0.127563
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,0.042175,0.045013,0.044434,0.048035,0.036011,0.028091,0.064148,0.044861
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0.039429,0.034210,0.036591,0.032990,0.048798,0.039062,0.038940,0.030914
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0.161133,0.172485,0.141724,0.161987,0.173096,0.192627,0.195557,0.201294

In [53]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(app_test_ord.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')
encoding_columns.remove('TARGET')

In [54]:
### Yao-Jhonson変換
#for column in encoding_columns:
#    modules.process_yj_convert(app_train_ord, app_test_ord, column, [column])

app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0.033447,0.032776,0.040070,0.035248,0.042755,0.048981,0.049133,0.034302
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0.098999,0.100647,0.095215,0.107422,0.103699,0.141357,0.115723,0.127563
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,0.042175,0.045013,0.044434,0.048035,0.036011,0.028091,0.064148,0.044861
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0.039429,0.034210,0.036591,0.032990,0.048798,0.039062,0.038940,0.030914
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0.161133,0.172485,0.141724,0.161987,0.173096,0.192627,0.195557,0.201294

In [55]:
### indexを設定
app_train_ord = app_train_ord.set_index('SK_ID_CURR')
app_test_ord = app_test_ord.set_index('SK_ID_CURR')
app_test_ord.head()

,level_0,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,0,NaN,1,0,0,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0.033447,0.032776,0.040070,0.035248,0.042755,0.048981,0.049133,0.034302
100005,1,NaN,0,0,0,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0.098999,0.100647,0.095215,0.107422,0.103699,0.141357,0.115723,0.127563
100013,2,NaN,0,1,0,0,202500.0,663264.0,69777.0,630000.0,...,1,0,0.042175,0.045013,0.044434,0.048035,0.036011,0.028091,0.064148,0.044861
100028,3,NaN,1,0,0,2,315000.0,1575000.0,49018.5,1575000.0,...,1,0,0.039429,0.034210,0.036591,0.032990,0.048798,0.039062,0.038940,0.030914
100038,4,NaN,0,1,1,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0.161133,0.172485,0.141724,0.161987,0.173096,0.192627,0.195557,0.201294

In [56]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(app_train_ord, app_test_ord, num_cols)
        
app_test_ord.head()

,level_0,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,-1.732045,NaN,0.720379,-0.717912,-0.664539,-0.577531,-0.307114,-0.075104,-0.451791,-0.239271,...,-0.498057,0.0,-0.490723,-0.485840,-0.419189,-0.450684,-0.402832,-0.317139,-0.328125,-0.469482
100005,-1.732034,NaN,-1.388158,-0.717912,-0.664539,-0.577531,-0.637959,-0.934826,-0.671920,-0.970093,...,-0.498057,0.0,0.188843,0.226562,0.158813,0.319824,0.256592,0.678223,0.364990,0.507324
100013,-1.732023,NaN,-1.388158,1.392928,-0.664539,-0.577531,0.313221,0.159594,2.943903,0.247943,...,2.007802,0.0,-0.400146,-0.357422,-0.373535,-0.314209,-0.475830,-0.541992,-0.171875,-0.358887
100028,-1.732011,NaN,0.720379,-0.717912,-0.664539,2.192099,1.347112,2.424818,1.511669,2.805819,...,2.007802,0.0,-0.428711,-0.470947,-0.455566,-0.474609,-0.337402,-0.423828,-0.434326,-0.504883
100038,-1.732000,NaN,-1.388158,1.392928,1.504802,0.807284,0.106443,0.065768,0.342100,0.235763,...,-0.498057,0.0,0.833496,0.980957,0.646484,0.902344,1.007812,1.230469,1.195312,1.279297

In [57]:
### indexを削除
app_train_ord = app_train_ord.reset_index()
app_test_ord = app_test_ord.reset_index()
app_test_ord.head()

,SK_ID_CURR,level_0,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,100001,-1.732045,NaN,0.720379,-0.717912,-0.664539,-0.577531,-0.307114,-0.075104,-0.451791,...,-0.498057,0.0,-0.490723,-0.485840,-0.419189,-0.450684,-0.402832,-0.317139,-0.328125,-0.469482
1,100005,-1.732034,NaN,-1.388158,-0.717912,-0.664539,-0.577531,-0.637959,-0.934826,-0.671920,...,-0.498057,0.0,0.188843,0.226562,0.158813,0.319824,0.256592,0.678223,0.364990,0.507324
2,100013,-1.732023,NaN,-1.388158,1.392928,-0.664539,-0.577531,0.313221,0.159594,2.943903,...,2.007802,0.0,-0.400146,-0.357422,-0.373535,-0.314209,-0.475830,-0.541992,-0.171875,-0.358887
3,100028,-1.732011,NaN,0.720379,-0.717912,-0.664539,2.192099,1.347112,2.424818,1.511669,...,2.007802,0.0,-0.428711,-0.470947,-0.455566,-0.474609,-0.337402,-0.423828,-0.434326,-0.504883
4,100038,-1.732000,NaN,-1.388158,1.392928,1.504802,0.807284,0.106443,0.065768,0.342100,...,-0.498057,0.0,0.833496,0.980957,0.646484,0.902344,1.007812,1.230469,1.195312,1.279297

In [58]:
x_train = app_train_ord.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = app_train_ord['TARGET']
id_train = app_train_ord[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=='O':
        x_train[col] = x_train[col].astype('category')

In [59]:
# データセット作成
x_test = app_test_ord.drop(columns=['SK_ID_CURR', 'TARGET'])
id_test = app_test_ord[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [60]:
#del app_train_ord
#del app_test_ord
#gc.collect()

In [61]:
### 学習モデル構築
train_oof, imp, metrics = baseline.train_xgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246004, 1036) (61502, 1036)
[11:42:45] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79796	validation_1-auc:0.78949
[1]	validation_0-auc:0.80177	validation_1-auc:0.79097
[2]	validation_0-auc:0.80566	validation_1-auc:0.79167
[3]	validation_0-auc:0.80740	validation_1-auc:0.79255
[4]	validation_0-auc:0.80936	validation_1-auc:0.79323
[5]	validation_0-auc:0.81039	validation_1-auc:0.79365
[6]	validation_0-auc:0.81168	validation_1-auc:0.79380
[7]	validation_0-auc:0.81325	validation_1-auc:0.79387
[8]	validation_0-auc:0.81436	validation_1-auc:0.79361
[9]	validation_0-auc:0.81525	validation_1-auc:0.79354
[10]	validation_0-auc:0.81651	validation_1-auc:0.79342
[11]	validation_0-auc:0.81786	validation_1-auc:0.79319
[12]	validation_0-auc:0.81912	validation_1-auc:0.79317
[13]	validation_0-auc:0.81977	validation_1-auc:0.79304
[14]	validation_0-auc:0.82044	validation_1-auc:0.79296
[15]	validation_0-auc:0.82144	validation_1-auc:0.79286
[16]	validation_0-auc:0.82273	validation_1-auc:0.79293
[17]	validation_0-auc:0.82339	validation_1-auc:0.79307
[18]	validation_0-auc:0.82463	validation_1-auc:0.79306
[19]	validation_0-auc:0.82540	validation_1-auc:0.79310
[20]	validation_0-auc:0.82686	validation_1-auc:0.79304
[21]	validation_0-auc:0.82811	validation_1-auc:0.79317
[22]	validation_0-auc:0.82913	validation_1-auc:0.79303
[23]	validation_0-auc:0.83053	validation_1-auc:0.79278
[24]	validation_0-auc:0.83182	validation_1-auc:0.79288
[25]	validation_0-auc:0.83333	validation_1-auc:0.79300
[26]	validation_0-auc:0.83404	validation_1-auc:0.79314
[27]	validation_0-auc:0.83508	validation_1-auc:0.79312
[28]	validation_0-auc:0.83648	validation_1-auc:0.79308
[29]	validation_0-auc:0.83715	validation_1-auc:0.79298
[30]	validation_0-auc:0.83830	validation_1-auc:0.79305
[31]	validation_0-auc:0.83948	validation_1-auc:0.79291
[32]	validation_0-auc:0.84101	validation_1-auc:0.79284
[33]	validation_0-auc:0.84236	validation_1-auc:0.79285
[34]	validation_0-auc:0.84350	validation_1-auc:0.79280
[35]	validation_0-auc:0.84479	validation_1-auc:0.79278
[36]	validation_0-auc:0.84619	validation_1-auc:0.79259
[37]	validation_0-auc:0.84753	validation_1-auc:0.79244
[38]	validation_0-auc:0.84891	validation_1-auc:0.79245
[39]	validation_0-auc:0.84980	validation_1-auc:0.79251
[40]	validation_0-auc:0.85047	validation_1-auc:0.79238
[41]	validation_0-auc:0.85141	validation_1-auc:0.79231
[42]	validation_0-auc:0.85209	validation_1-auc:0.79237
[43]	validation_0-auc:0.85371	validation_1-auc:0.79224
[44]	validation_0-auc:0.85489	validation_1-auc:0.79227
[45]	validation_0-auc:0.85657	validation_1-auc:0.79226
[46]	validation_0-auc:0.85724	validation_1-auc:0.79213
[47]	validation_0-auc:0.85826	validation_1-auc:0.79208
[48]	validation_0-auc:0.85942	validation_1-auc:0.79205
[49]	validation_0-auc:0.86103	validation_1-auc:0.79183
[50]	validation_0-auc:0.86158	validation_1-auc:0.79187
[51]	validation_0-auc:0.86278	validation_1-auc:0.79177
[52]	validation_0-auc:0.86415	validation_1-auc:0.79172
[53]	validation_0-auc:0.86550	validation_1-auc:0.79144
[54]	validation_0-auc:0.86665	validation_1-auc:0.79138
[55]	validation_0-auc:0.86738	validation_1-auc:0.79134
[56]	validation_0-auc:0.86808	validation_1-auc:0.79134
[57]	validation_0-auc:0.86942	validation_1-auc:0.79124
[58]	validation_0-auc:0.87028	validation_1-auc:0.79126
[59]	validation_0-auc:0.87122	validation_1-auc:0.79113
[60]	validation_0-auc:0.87217	validation_1-auc:0.79136
[61]	validation_0-auc:0.87320	validation_1-auc:0.79127
[62]	validation_0-auc:0.87372	validation_1-auc:0.79127
[63]	validation_0-auc:0.87448	validation_1-auc:0.79128
[64]	validation_0-auc:0.87524	validation_1-auc:0.79133
[65]	validation_0-auc:0.87611	validation_1-auc:0.79131
[66]	validation_0-auc:0.87659	validation_1-auc:0.79131
[67]	validation_0-auc:0.87687	validation_1-auc:0.79131
[68]	validation_0-auc:0.87749	validation_1-auc:0.79129
[69]	validation_0-auc:0.87822	validation_1-auc:0.79121
[70]	validation_0-auc:0.87921	validation_1-auc:0.79113
[71]	validation_0-auc:0.88026	validation_1-auc:0.79112
[72]	validation_0-auc:0.88092	validation_1-auc:0.79104
[73]	validation_0-auc:0.88159	validation_1-auc:0.79100
[74]	validation_0-auc:0.88241	validation_1-auc:0.79088
[75]	validation_0-auc:0.88327	validation_1-auc:0.79092
[76]	validation_0-auc:0.88402	validation_1-auc:0.79090
[77]	validation_0-auc:0.88484	validation_1-auc:0.79088
[78]	validation_0-auc:0.88584	validation_1-auc:0.79081
[79]	validation_0-auc:0.88658	validation_1-auc:0.79059
[80]	validation_0-auc:0.88709	validation_1-auc:0.79058
[81]	validation_0-auc:0.88813	validation_1-auc:0.79043
[82]	validation_0-auc:0.88850	validation_1-auc:0.79038
[83]	validation_0-auc:0.88946	validation_1-auc:0.79031
[84]	validation_0-auc:0.88981	validation_1-auc:0.79029
[85]	validation_0-auc:0.89042	validation_1-auc:0.79019
[86]	validation_0-auc:0.89082	validation_1-auc:0.79025
[87]	validation_0-auc:0.89137	validation_1-auc:0.79025
[88]	validation_0-auc:0.89148	validation_1-auc:0.79024
[89]	validation_0-auc:0.89186	validation_1-auc:0.79014
[90]	validation_0-auc:0.89290	validation_1-auc:0.79001
[91]	validation_0-auc:0.89364	validation_1-auc:0.78999
[92]	validation_0-auc:0.89447	validation_1-auc:0.78989
[93]	validation_0-auc:0.89508	validation_1-auc:0.78977
[94]	validation_0-auc:0.89582	validation_1-auc:0.78973
[95]	validation_0-auc:0.89633	validation_1-auc:0.78974
[96]	validation_0-auc:0.89677	validation_1-auc:0.78971
[97]	validation_0-auc:0.89731	validation_1-auc:0.78969
[98]	validation_0-auc:0.89829	validation_1-auc:0.78960
[99]	validation_0-auc:0.89888	validation_1-auc:0.78955
[auc] tr:0.898884, va0.7896
-------------------- 1 --------------------
(246005, 1036) (61501, 1036)
[11:43:07] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79742	validation_1-auc:0.79112
[1]	validation_0-auc:0.80115	validation_1-auc:0.79343
[2]	validation_0-auc:0.80413	validation_1-auc:0.79416
[3]	validation_0-auc:0.80604	validation_1-auc:0.79434
[4]	validation_0-auc:0.80783	validation_1-auc:0.79440
[5]	validation_0-auc:0.80887	validation_1-auc:0.79485
[6]	validation_0-auc:0.81003	validation_1-auc:0.79476
[7]	validation_0-auc:0.81160	validation_1-auc:0.79483
[8]	validation_0-auc:0.81282	validation_1-auc:0.79455
[9]	validation_0-auc:0.81399	validation_1-auc:0.79480
[10]	validation_0-auc:0.81492	validation_1-auc:0.79514
[11]	validation_0-auc:0.81627	validation_1-auc:0.79505
[12]	validation_0-auc:0.81722	validation_1-auc:0.79517
[13]	validation_0-auc:0.81849	validation_1-auc:0.79535
[14]	validation_0-auc:0.81955	validation_1-auc:0.79516
[15]	validation_0-auc:0.82065	validation_1-auc:0.79502
[16]	validation_0-auc:0.82178	validation_1-auc:0.79516
[17]	validation_0-auc:0.82305	validation_1-auc:0.79525
[18]	validation_0-auc:0.82470	validation_1-auc:0.79524
[19]	validation_0-auc:0.82602	validation_1-auc:0.79519
[20]	validation_0-auc:0.82721	validation_1-auc:0.79508
[21]	validation_0-auc:0.82880	validation_1-auc:0.79522
[22]	validation_0-auc:0.82915	validation_1-auc:0.79535
[23]	validation_0-auc:0.83034	validation_1-auc:0.79526
[24]	validation_0-auc:0.83128	validation_1-auc:0.79521
[25]	validation_0-auc:0.83302	validation_1-auc:0.79548
[26]	validation_0-auc:0.83389	validation_1-auc:0.79540
[27]	validation_0-auc:0.83465	validation_1-auc:0.79545
[28]	validation_0-auc:0.83560	validation_1-auc:0.79537
[29]	validation_0-auc:0.83686	validation_1-auc:0.79541
[30]	validation_0-auc:0.83802	validation_1-auc:0.79531

[31]	validation_0-auc:0.83939	validation_1-auc:0.79521
[32]	validation_0-auc:0.84073	validation_1-auc:0.79509
[33]	validation_0-auc:0.84185	validation_1-auc:0.79491
[34]	validation_0-auc:0.84307	validation_1-auc:0.79492
[35]	validation_0-auc:0.84423	validation_1-auc:0.79478
[36]	validation_0-auc:0.84527	validation_1-auc:0.79482
[37]	validation_0-auc:0.84660	validation_1-auc:0.79479
[38]	validation_0-auc:0.84825	validation_1-auc:0.79455
[39]	validation_0-auc:0.84939	validation_1-auc:0.79456
[40]	validation_0-auc:0.85024	validation_1-auc:0.79459
[41]	validation_0-auc:0.85141	validation_1-auc:0.79457
[42]	validation_0-auc:0.85287	validation_1-auc:0.79452
[43]	validation_0-auc:0.85347	validation_1-auc:0.79476
[44]	validation_0-auc:0.85465	validation_1-auc:0.79472
[45]	validation_0-auc:0.85564	validation_1-auc:0.79457
[46]	validation_0-auc:0.85677	validation_1-auc:0.79459
[47]	validation_0-auc:0.85797	validation_1-auc:0.79447
[48]	validation_0-auc:0.85925	validation_1-auc:0.79452
[49]	validation_0-auc:0.86052	validation_1-auc:0.79453
[50]	validation_0-auc:0.86133	validation_1-auc:0.79439
[51]	validation_0-auc:0.86213	validation_1-auc:0.79434
[52]	validation_0-auc:0.86312	validation_1-auc:0.79437
[53]	validation_0-auc:0.86461	validation_1-auc:0.79441
[54]	validation_0-auc:0.86544	validation_1-auc:0.79438
[55]	validation_0-auc:0.86624	validation_1-auc:0.79425
[56]	validation_0-auc:0.86704	validation_1-auc:0.79417
[57]	validation_0-auc:0.86782	validation_1-auc:0.79405
[58]	validation_0-auc:0.86892	validation_1-auc:0.79419
[59]	validation_0-auc:0.86961	validation_1-auc:0.79409
[60]	validation_0-auc:0.87069	validation_1-auc:0.79406
[61]	validation_0-auc:0.87162	validation_1-auc:0.79416
[62]	validation_0-auc:0.87193	validation_1-auc:0.79413
[63]	validation_0-auc:0.87256	validation_1-auc:0.79413
[64]	validation_0-auc:0.87295	validation_1-auc:0.79415
[65]	validation_0-auc:0.87325	validation_1-auc:0.79423
[66]	validation_0-auc:0.87382	validation_1-auc:0.79425
[67]	validation_0-auc:0.87460	validation_1-auc:0.79417
[68]	validation_0-auc:0.87527	validation_1-auc:0.79414
[69]	validation_0-auc:0.87627	validation_1-auc:0.79420
[70]	validation_0-auc:0.87688	validation_1-auc:0.79405
[71]	validation_0-auc:0.87734	validation_1-auc:0.79400
[72]	validation_0-auc:0.87788	validation_1-auc:0.79402
[73]	validation_0-auc:0.87851	validation_1-auc:0.79402
[74]	validation_0-auc:0.87906	validation_1-auc:0.79388
[75]	validation_0-auc:0.87957	validation_1-auc:0.79376
[76]	validation_0-auc:0.88044	validation_1-auc:0.79360
[77]	validation_0-auc:0.88131	validation_1-auc:0.79354
[78]	validation_0-auc:0.88167	validation_1-auc:0.79350
[79]	validation_0-auc:0.88201	validation_1-auc:0.79343
[80]	validation_0-auc:0.88232	validation_1-auc:0.79344
[81]	validation_0-auc:0.88272	validation_1-auc:0.79334
[82]	validation_0-auc:0.88333	validation_1-auc:0.79328
[83]	validation_0-auc:0.88398	validation_1-auc:0.79324
[84]	validation_0-auc:0.88472	validation_1-auc:0.79306
[85]	validation_0-auc:0.88595	validation_1-auc:0.79286
[86]	validation_0-auc:0.88691	validation_1-auc:0.79278
[87]	validation_0-auc:0.88756	validation_1-auc:0.79258
[88]	validation_0-auc:0.88803	validation_1-auc:0.79249
[89]	validation_0-auc:0.88889	validation_1-auc:0.79241
[90]	validation_0-auc:0.88935	validation_1-auc:0.79240
[91]	validation_0-auc:0.88994	validation_1-auc:0.79232
[92]	validation_0-auc:0.89108	validation_1-auc:0.79236
[93]	validation_0-auc:0.89176	validation_1-auc:0.79235
[94]	validation_0-auc:0.89232	validation_1-auc:0.79231
[95]	validation_0-auc:0.89302	validation_1-auc:0.79230
[96]	validation_0-auc:0.89380	validation_1-auc:0.79223
[97]	validation_0-auc:0.89454	validation_1-auc:0.79211
[98]	validation_0-auc:0.89484	validation_1-auc:0.79215
[99]	validation_0-auc:0.89517	validation_1-auc:0.79214
[auc] tr:0.895172, va0.7921
-------------------- 2 --------------------
(246005, 1036) (61501, 1036)
[11:43:32] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79842	validation_1-auc:0.78605
[1]	validation_0-auc:0.80251	validation_1-auc:0.78912
[2]	validation_0-auc:0.80531	validation_1-auc:0.78969
[3]	validation_0-auc:0.80725	validation_1-auc:0.78966
[4]	validation_0-auc:0.80958	validation_1-auc:0.79002
[5]	validation_0-auc:0.81081	validation_1-auc:0.79000
[6]	validation_0-auc:0.81212	validation_1-auc:0.79000
[7]	validation_0-auc:0.81363	validation_1-auc:0.79048
[8]	validation_0-auc:0.81475	validation_1-auc:0.79022
[9]	validation_0-auc:0.81610	validation_1-auc:0.79033
[10]	validation_0-auc:0.81741	validation_1-auc:0.79026
[11]	validation_0-auc:0.81865	validation_1-auc:0.79015
[12]	validation_0-auc:0.81957	validation_1-auc:0.79031
[13]	validation_0-auc:0.82061	validation_1-auc:0.79061
[14]	validation_0-auc:0.82132	validation_1-auc:0.79059
[15]	validation_0-auc:0.82209	validation_1-auc:0.79060
[16]	validation_0-auc:0.82322	validation_1-auc:0.79067
[17]	validation_0-auc:0.82459	validation_1-auc:0.79047
[18]	validation_0-auc:0.82565	validation_1-auc:0.79037
[19]	validation_0-auc:0.82663	validation_1-auc:0.79032
[20]	validation_0-auc:0.82767	validation_1-auc:0.79027
[21]	validation_0-auc:0.82905	validation_1-auc:0.79022
[22]	validation_0-auc:0.83024	validation_1-auc:0.79027
[23]	validation_0-auc:0.83103	validation_1-auc:0.79022
[24]	validation_0-auc:0.83228	validation_1-auc:0.79021
[25]	validation_0-auc:0.83348	validation_1-auc:0.79005
[26]	validation_0-auc:0.83466	validation_1-auc:0.79002
[27]	validation_0-auc:0.83529	validation_1-auc:0.79006
[28]	validation_0-auc:0.83637	validation_1-auc:0.79006
[29]	validation_0-auc:0.83791	validation_1-auc:0.79009
[30]	validation_0-auc:0.83917	validation_1-auc:0.79012
[31]	validation_0-auc:0.84045	validation_1-auc:0.79017
[32]	validation_0-auc:0.84204	validation_1-auc:0.79020
[33]	validation_0-auc:0.84387	validation_1-auc:0.79010
[34]	validation_0-auc:0.84499	validation_1-auc:0.79009
[35]	validation_0-auc:0.84610	validation_1-auc:0.79011
[36]	validation_0-auc:0.84701	validation_1-auc:0.79014
[37]	validation_0-auc:0.84836	validation_1-auc:0.79004
[38]	validation_0-auc:0.84975	validation_1-auc:0.78998
[39]	validation_0-auc:0.85076	validation_1-auc:0.78991
[40]	validation_0-auc:0.85215	validation_1-auc:0.78975
[41]	validation_0-auc:0.85313	validation_1-auc:0.78972
[42]	validation_0-auc:0.85438	validation_1-auc:0.78961
[43]	validation_0-auc:0.85557	validation_1-auc:0.78954
[44]	validation_0-auc:0.85665	validation_1-auc:0.78934
[45]	validation_0-auc:0.85776	validation_1-auc:0.78953
[46]	validation_0-auc:0.85866	validation_1-auc:0.78931
[47]	validation_0-auc:0.86003	validation_1-auc:0.78918
[48]	validation_0-auc:0.86104	validation_1-auc:0.78915
[49]	validation_0-auc:0.86208	validation_1-auc:0.78894
[50]	validation_0-auc:0.86290	validation_1-auc:0.78900
[51]	validation_0-auc:0.86385	validation_1-auc:0.78906
[52]	validation_0-auc:0.86470	validation_1-auc:0.78902
[53]	validation_0-auc:0.86607	validation_1-auc:0.78893
[54]	validation_0-auc:0.86714	validation_1-auc:0.78900
[55]	validation_0-auc:0.86790	validation_1-auc:0.78896
[56]	validation_0-auc:0.86852	validation_1-auc:0.78886
[57]	validation_0-auc:0.86916	validation_1-auc:0.78877
[58]	validation_0-auc:0.87027	validation_1-auc:0.78875
[59]	validation_0-auc:0.87110	validation_1-auc:0.78878
[60]	validation_0-auc:0.87168	validation_1-auc:0.78881
[61]	validation_0-auc:0.87268	validation_1-auc:0.78894
[62]	validation_0-auc:0.87342	validation_1-auc:0.78896
[63]	validation_0-auc:0.87373	validation_1-auc:0.78896
[64]	validation_0-auc:0.87445	validation_1-auc:0.78896
[65]	validation_0-auc:0.87526	validation_1-auc:0.78901
[66]	validation_0-auc:0.87643	validation_1-auc:0.78899
[67]	validation_0-auc:0.87713	validation_1-auc:0.78894
[68]	validation_0-auc:0.87821	validation_1-auc:0.78873
[69]	validation_0-auc:0.87907	validation_1-auc:0.78868

[70]	validation_0-auc:0.87974	validation_1-auc:0.78859
[71]	validation_0-auc:0.88035	validation_1-auc:0.78851
[72]	validation_0-auc:0.88104	validation_1-auc:0.78849
[73]	validation_0-auc:0.88144	validation_1-auc:0.78844
[74]	validation_0-auc:0.88175	validation_1-auc:0.78845
[75]	validation_0-auc:0.88243	validation_1-auc:0.78855
[76]	validation_0-auc:0.88319	validation_1-auc:0.78837
[77]	validation_0-auc:0.88365	validation_1-auc:0.78840
[78]	validation_0-auc:0.88418	validation_1-auc:0.78828
[79]	validation_0-auc:0.88470	validation_1-auc:0.78832
[80]	validation_0-auc:0.88595	validation_1-auc:0.78822
[81]	validation_0-auc:0.88637	validation_1-auc:0.78820
[82]	validation_0-auc:0.88687	validation_1-auc:0.78815
[83]	validation_0-auc:0.88783	validation_1-auc:0.78826
[84]	validation_0-auc:0.88828	validation_1-auc:0.78820
[85]	validation_0-auc:0.88855	validation_1-auc:0.78818
[86]	validation_0-auc:0.88906	validation_1-auc:0.78807
[87]	validation_0-auc:0.88955	validation_1-auc:0.78801
[88]	validation_0-auc:0.89011	validation_1-auc:0.78793
[89]	validation_0-auc:0.89097	validation_1-auc:0.78800
[90]	validation_0-auc:0.89143	validation_1-auc:0.78794
[91]	validation_0-auc:0.89170	validation_1-auc:0.78798
[92]	validation_0-auc:0.89231	validation_1-auc:0.78797
[93]	validation_0-auc:0.89309	validation_1-auc:0.78783
[94]	validation_0-auc:0.89361	validation_1-auc:0.78780
[95]	validation_0-auc:0.89426	validation_1-auc:0.78772
[96]	validation_0-auc:0.89462	validation_1-auc:0.78772
[97]	validation_0-auc:0.89526	validation_1-auc:0.78763
[98]	validation_0-auc:0.89579	validation_1-auc:0.78765
[99]	validation_0-auc:0.89671	validation_1-auc:0.78769
[auc] tr:0.896712, va0.7877
-------------------- 3 --------------------
(246005, 1036) (61501, 1036)
[11:43:57] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79649	validation_1-auc:0.79404
[1]	validation_0-auc:0.80046	validation_1-auc:0.79610
[2]	validation_0-auc:0.80362	validation_1-auc:0.79678
[3]	validation_0-auc:0.80495	validation_1-auc:0.79710
[4]	validation_0-auc:0.80703	validation_1-auc:0.79721
[5]	validation_0-auc:0.80833	validation_1-auc:0.79734
[6]	validation_0-auc:0.80985	validation_1-auc:0.79736
[7]	validation_0-auc:0.81144	validation_1-auc:0.79771
[8]	validation_0-auc:0.81277	validation_1-auc:0.79767
[9]	validation_0-auc:0.81391	validation_1-auc:0.79787
[10]	validation_0-auc:0.81452	validation_1-auc:0.79789
[11]	validation_0-auc:0.81627	validation_1-auc:0.79795
[12]	validation_0-auc:0.81720	validation_1-auc:0.79793
[13]	validation_0-auc:0.81826	validation_1-auc:0.79778
[14]	validation_0-auc:0.81882	validation_1-auc:0.79764
[15]	validation_0-auc:0.81986	validation_1-auc:0.79756
[16]	validation_0-auc:0.82102	validation_1-auc:0.79750
[17]	validation_0-auc:0.82251	validation_1-auc:0.79751
[18]	validation_0-auc:0.82394	validation_1-auc:0.79740
[19]	validation_0-auc:0.82533	validation_1-auc:0.79729
[20]	validation_0-auc:0.82671	validation_1-auc:0.79733
[21]	validation_0-auc:0.82799	validation_1-auc:0.79729
[22]	validation_0-auc:0.82939	validation_1-auc:0.79739
[23]	validation_0-auc:0.83006	validation_1-auc:0.79759
[24]	validation_0-auc:0.83133	validation_1-auc:0.79771
[25]	validation_0-auc:0.83246	validation_1-auc:0.79755
[26]	validation_0-auc:0.83344	validation_1-auc:0.79759
[27]	validation_0-auc:0.83432	validation_1-auc:0.79743
[28]	validation_0-auc:0.83524	validation_1-auc:0.79741
[29]	validation_0-auc:0.83599	validation_1-auc:0.79734
[30]	validation_0-auc:0.83693	validation_1-auc:0.79720
[31]	validation_0-auc:0.83811	validation_1-auc:0.79703
[32]	validation_0-auc:0.83930	validation_1-auc:0.79698
[33]	validation_0-auc:0.84068	validation_1-auc:0.79698
[34]	validation_0-auc:0.84166	validation_1-auc:0.79695
[35]	validation_0-auc:0.84273	validation_1-auc:0.79676
[36]	validation_0-auc:0.84431	validation_1-auc:0.79664
[37]	validation_0-auc:0.84590	validation_1-auc:0.79669
[38]	validation_0-auc:0.84723	validation_1-auc:0.79664
[39]	validation_0-auc:0.84805	validation_1-auc:0.79658
[40]	validation_0-auc:0.84873	validation_1-auc:0.79660
[41]	validation_0-auc:0.84974	validation_1-auc:0.79648
[42]	validation_0-auc:0.85117	validation_1-auc:0.79653
[43]	validation_0-auc:0.85276	validation_1-auc:0.79653
[44]	validation_0-auc:0.85331	validation_1-auc:0.79651
[45]	validation_0-auc:0.85455	validation_1-auc:0.79638
[46]	validation_0-auc:0.85576	validation_1-auc:0.79649
[47]	validation_0-auc:0.85661	validation_1-auc:0.79645
[48]	validation_0-auc:0.85807	validation_1-auc:0.79628
[49]	validation_0-auc:0.85946	validation_1-auc:0.79621
[50]	validation_0-auc:0.86054	validation_1-auc:0.79626
[51]	validation_0-auc:0.86165	validation_1-auc:0.79629
[52]	validation_0-auc:0.86245	validation_1-auc:0.79622
[53]	validation_0-auc:0.86324	validation_1-auc:0.79614
[54]	validation_0-auc:0.86390	validation_1-auc:0.79615
[55]	validation_0-auc:0.86481	validation_1-auc:0.79602
[56]	validation_0-auc:0.86562	validation_1-auc:0.79602
[57]	validation_0-auc:0.86617	validation_1-auc:0.79606
[58]	validation_0-auc:0.86706	validation_1-auc:0.79608
[59]	validation_0-auc:0.86810	validation_1-auc:0.79602
[60]	validation_0-auc:0.86918	validation_1-auc:0.79586
[61]	validation_0-auc:0.87045	validation_1-auc:0.79575
[62]	validation_0-auc:0.87106	validation_1-auc:0.79582
[63]	validation_0-auc:0.87161	validation_1-auc:0.79573
[64]	validation_0-auc:0.87267	validation_1-auc:0.79553
[65]	validation_0-auc:0.87324	validation_1-auc:0.79555
[66]	validation_0-auc:0.87367	validation_1-auc:0.79555
[67]	validation_0-auc:0.87474	validation_1-auc:0.79546
[68]	validation_0-auc:0.87537	validation_1-auc:0.79540
[69]	validation_0-auc:0.87594	validation_1-auc:0.79543
[70]	validation_0-auc:0.87682	validation_1-auc:0.79541
[71]	validation_0-auc:0.87721	validation_1-auc:0.79539
[72]	validation_0-auc:0.87786	validation_1-auc:0.79528
[73]	validation_0-auc:0.87837	validation_1-auc:0.79516
[74]	validation_0-auc:0.87859	validation_1-auc:0.79512
[75]	validation_0-auc:0.87900	validation_1-auc:0.79518
[76]	validation_0-auc:0.87988	validation_1-auc:0.79532
[77]	validation_0-auc:0.88052	validation_1-auc:0.79537
[78]	validation_0-auc:0.88134	validation_1-auc:0.79529
[79]	validation_0-auc:0.88190	validation_1-auc:0.79523
[80]	validation_0-auc:0.88305	validation_1-auc:0.79520
[81]	validation_0-auc:0.88384	validation_1-auc:0.79514
[82]	validation_0-auc:0.88463	validation_1-auc:0.79507
[83]	validation_0-auc:0.88519	validation_1-auc:0.79504
[84]	validation_0-auc:0.88565	validation_1-auc:0.79497
[85]	validation_0-auc:0.88607	validation_1-auc:0.79502
[86]	validation_0-auc:0.88677	validation_1-auc:0.79507
[87]	validation_0-auc:0.88730	validation_1-auc:0.79502
[88]	validation_0-auc:0.88767	validation_1-auc:0.79497
[89]	validation_0-auc:0.88800	validation_1-auc:0.79493
[90]	validation_0-auc:0.88909	validation_1-auc:0.79466
[91]	validation_0-auc:0.88961	validation_1-auc:0.79461
[92]	validation_0-auc:0.89059	validation_1-auc:0.79452
[93]	validation_0-auc:0.89116	validation_1-auc:0.79441
[94]	validation_0-auc:0.89214	validation_1-auc:0.79423
[95]	validation_0-auc:0.89252	validation_1-auc:0.79417
[96]	validation_0-auc:0.89317	validation_1-auc:0.79413
[97]	validation_0-auc:0.89347	validation_1-auc:0.79419
[98]	validation_0-auc:0.89388	validation_1-auc:0.79415
[99]	validation_0-auc:0.89464	validation_1-auc:0.79409
[auc] tr:0.894636, va0.7941
-------------------- 4 --------------------
(246005, 1036) (61501, 1036)
[11:44:21] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.

[0]	validation_0-auc:0.79683	validation_1-auc:0.79419
[1]	validation_0-auc:0.80099	validation_1-auc:0.79584
[2]	validation_0-auc:0.80319	validation_1-auc:0.79629
[3]	validation_0-auc:0.80520	validation_1-auc:0.79649
[4]	validation_0-auc:0.80705	validation_1-auc:0.79645
[5]	validation_0-auc:0.80884	validation_1-auc:0.79679
[6]	validation_0-auc:0.81076	validation_1-auc:0.79691
[7]	validation_0-auc:0.81217	validation_1-auc:0.79690
[8]	validation_0-auc:0.81276	validation_1-auc:0.79694
[9]	validation_0-auc:0.81413	validation_1-auc:0.79702
[10]	validation_0-auc:0.81498	validation_1-auc:0.79692
[11]	validation_0-auc:0.81600	validation_1-auc:0.79679
[12]	validation_0-auc:0.81724	validation_1-auc:0.79693
[13]	validation_0-auc:0.81812	validation_1-auc:0.79685
[14]	validation_0-auc:0.81896	validation_1-auc:0.79672
[15]	validation_0-auc:0.81986	validation_1-auc:0.79664
[16]	validation_0-auc:0.82109	validation_1-auc:0.79657
[17]	validation_0-auc:0.82259	validation_1-auc:0.79666
[18]	validation_0-auc:0.82388	validation_1-auc:0.79675
[19]	validation_0-auc:0.82468	validation_1-auc:0.79699
[20]	validation_0-auc:0.82587	validation_1-auc:0.79681
[21]	validation_0-auc:0.82722	validation_1-auc:0.79677
[22]	validation_0-auc:0.82878	validation_1-auc:0.79681
[23]	validation_0-auc:0.82993	validation_1-auc:0.79660
[24]	validation_0-auc:0.83161	validation_1-auc:0.79655
[25]	validation_0-auc:0.83291	validation_1-auc:0.79641
[26]	validation_0-auc:0.83379	validation_1-auc:0.79643
[27]	validation_0-auc:0.83437	validation_1-auc:0.79630
[28]	validation_0-auc:0.83530	validation_1-auc:0.79630
[29]	validation_0-auc:0.83678	validation_1-auc:0.79623
[30]	validation_0-auc:0.83797	validation_1-auc:0.79601
[31]	validation_0-auc:0.83912	validation_1-auc:0.79574
[32]	validation_0-auc:0.84082	validation_1-auc:0.79551
[33]	validation_0-auc:0.84203	validation_1-auc:0.79557
[34]	validation_0-auc:0.84344	validation_1-auc:0.79559
[35]	validation_0-auc:0.84452	validation_1-auc:0.79553
[36]	validation_0-auc:0.84601	validation_1-auc:0.79545
[37]	validation_0-auc:0.84689	validation_1-auc:0.79555
[38]	validation_0-auc:0.84793	validation_1-auc:0.79556
[39]	validation_0-auc:0.84913	validation_1-auc:0.79554
[40]	validation_0-auc:0.84996	validation_1-auc:0.79553
[41]	validation_0-auc:0.85116	validation_1-auc:0.79548
[42]	validation_0-auc:0.85230	validation_1-auc:0.79555
[43]	validation_0-auc:0.85310	validation_1-auc:0.79559
[44]	validation_0-auc:0.85476	validation_1-auc:0.79553
[45]	validation_0-auc:0.85596	validation_1-auc:0.79546
[46]	validation_0-auc:0.85672	validation_1-auc:0.79548
[47]	validation_0-auc:0.85792	validation_1-auc:0.79538
[48]	validation_0-auc:0.85894	validation_1-auc:0.79531
[49]	validation_0-auc:0.85985	validation_1-auc:0.79535
[50]	validation_0-auc:0.86090	validation_1-auc:0.79528
[51]	validation_0-auc:0.86197	validation_1-auc:0.79523
[52]	validation_0-auc:0.86327	validation_1-auc:0.79526
[53]	validation_0-auc:0.86414	validation_1-auc:0.79520
[54]	validation_0-auc:0.86517	validation_1-auc:0.79504
[55]	validation_0-auc:0.86575	validation_1-auc:0.79515
[56]	validation_0-auc:0.86706	validation_1-auc:0.79518
[57]	validation_0-auc:0.86779	validation_1-auc:0.79510
[58]	validation_0-auc:0.86854	validation_1-auc:0.79518
[59]	validation_0-auc:0.86944	validation_1-auc:0.79512
[60]	validation_0-auc:0.87014	validation_1-auc:0.79493
[61]	validation_0-auc:0.87133	validation_1-auc:0.79477
[62]	validation_0-auc:0.87192	validation_1-auc:0.79474
[63]	validation_0-auc:0.87278	validation_1-auc:0.79482
[64]	validation_0-auc:0.87342	validation_1-auc:0.79484
[65]	validation_0-auc:0.87405	validation_1-auc:0.79494
[66]	validation_0-auc:0.87445	validation_1-auc:0.79503
[67]	validation_0-auc:0.87550	validation_1-auc:0.79500
[68]	validation_0-auc:0.87581	validation_1-auc:0.79488
[69]	validation_0-auc:0.87652	validation_1-auc:0.79478
[70]	validation_0-auc:0.87717	validation_1-auc:0.79476
[71]	validation_0-auc:0.87804	validation_1-auc:0.79467
[72]	validation_0-auc:0.87863	validation_1-auc:0.79455
[73]	validation_0-auc:0.87915	validation_1-auc:0.79462
[74]	validation_0-auc:0.87948	validation_1-auc:0.79463
[75]	validation_0-auc:0.88037	validation_1-auc:0.79471
[76]	validation_0-auc:0.88113	validation_1-auc:0.79453
[77]	validation_0-auc:0.88200	validation_1-auc:0.79459
[78]	validation_0-auc:0.88251	validation_1-auc:0.79452
[79]	validation_0-auc:0.88360	validation_1-auc:0.79452
[80]	validation_0-auc:0.88427	validation_1-auc:0.79463
[81]	validation_0-auc:0.88517	validation_1-auc:0.79455
[82]	validation_0-auc:0.88550	validation_1-auc:0.79450
[83]	validation_0-auc:0.88632	validation_1-auc:0.79452
[84]	validation_0-auc:0.88700	validation_1-auc:0.79449
[85]	validation_0-auc:0.88754	validation_1-auc:0.79441
[86]	validation_0-auc:0.88790	validation_1-auc:0.79436
[87]	validation_0-auc:0.88857	validation_1-auc:0.79434
[88]	validation_0-auc:0.88955	validation_1-auc:0.79425
[89]	validation_0-auc:0.89030	validation_1-auc:0.79421
[90]	validation_0-auc:0.89121	validation_1-auc:0.79421
[91]	validation_0-auc:0.89170	validation_1-auc:0.79410
[92]	validation_0-auc:0.89201	validation_1-auc:0.79407
[93]	validation_0-auc:0.89261	validation_1-auc:0.79408
[94]	validation_0-auc:0.89311	validation_1-auc:0.79404
[95]	validation_0-auc:0.89386	validation_1-auc:0.79399
[96]	validation_0-auc:0.89435	validation_1-auc:0.79408
[97]	validation_0-auc:0.89528	validation_1-auc:0.79392
[98]	validation_0-auc:0.89571	validation_1-auc:0.79388
[99]	validation_0-auc:0.89631	validation_1-auc:0.79374
[auc] tr:0.896306, va0.7937
-------------------- result --------------------
[[0.         0.89888372 0.78955386]
 [1.         0.89517238 0.7921378 ]
 [2.         0.89671195 0.78768606]
 [3.         0.89463617 0.79408721]
 [4.         0.89630613 0.7937426 ]]
[cv] tr:0.8963+-0.0015, va:0.7914+-0.0025
[oof]0.7913

In [62]:
imp.sort_values("imp", ascending=False)[:20]

                                            col       imp   imp_std
1035                                     setB1x  0.021915  0.001146
1030                                      set2a  0.018576  0.000776
1028                                       set1  0.016530  0.001798
1034                                     setB1a  0.013173  0.001791
1032                                      set3a  0.011692  0.001699
1029                                      set1x  0.008020  0.003605
1033                                      set3x  0.005226  0.000538
477                       EXT_SOURCES_NANMEDIAN  0.001995  0.000415
146               APP_EXT_SOURCE_2_EXT_SOURCE_3  0.001373  0.000144
135                        APPS_EXT_SOURCE_MEAN  0.001370  0.000117
1031                                     set2nn  0.001348  0.000102
447                                 CODE_GENDER  0.001252  0.000264
317                CC_CNT_DRAWINGS_CURRENT_MEAN  0.001239  0.000272
853              PREV_NAME_CLIENT_TYPE_New_MEAN  0.001229  0.000206
161                           BASEMENTAREA_MEDI  0.001216  0.000127
598            INS_24M_CNT_DRAWINGS_CURRENT_MAX  0.001210  0.000371
475                            EXT_SOURCES_MEAN  0.001196  0.000151
865   PREV_NAME_GOODS_CATEGORY_Audio_Video_MEAN  0.001195  0.000259
986         REFUSED_CREDIT_TO_ANNUITY_RATIO_MAX  0.001192  0.000108
290            CC_AMT_PAYMENT_TOTAL_CURRENT_SUM  0.001190  0.000176

In [63]:
test_pred = baseline.predict_xgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [64]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineeringOtherSourceXgb2-2.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.039521
1      100005  0.112866
2      100013  0.042107
3      100028  0.035372
4      100038  0.159177

## パラメータチューニング

In [65]:
#sampler = optuna.samplers.TPESampler(seed=123)
#study = optuna.create_study(sampler=sampler, direction='maximize')
#study.optimize(objective, n_trials=50, n_jobs=5)

In [66]:
#trial = study.best_trial
#print("auc(best)={:.4f}".format(trial.value))
#display(trial.params)

In [67]:
#params_best = trial.params
#params_best.update(params_base)
#display(params_best)

In [68]:
#train_oof, imp, metrics = baseline.train_xgb(x_train
#                                    ,y_train
#                                    ,id_train
#                                    ,list_nfold=[0,1,2,3,4]
#                                    ,n_splits=5
#                                    ,params=params_best)

In [69]:
### 推論用データセットの作成
#x_test = app_test.drop(columns=['SK_ID_CURR'])
#id_test = app_test[['SK_ID_CURR']]

### カテゴリ変数をcategory型へ変換
#for col in x_test.columns:
#    if x_test[col].dtype=="O":
#        x_test[col] = x_test[col].astype('category')

### predict
#test_pred = baseline.predict_xgb(x_test
#                       ,id_test
#                       ,list_nfold=[0,1,2,3,4])

### make submission-file
#df_submit = test_pred.rename(columns={"pred":"TARGET"})
#print(df_submit.shape)
#display(df_submit.head())
#df_submit.to_csv("./home-credit-default-risk/submit/submission_XgbHyperParameterTuningXgb2-3.csv", index=None)

In [70]:
#del app_train_ord
#del app_test_ord
#gc.collect()