In [39]:
import cupy as cp
import numpy as np
import pandas as pd
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import scipy.stats as st
import datawig as dw
import mxnet as mx
import optuna

from lightgbm import LGBMClassifier

from sklearn import metrics
from sklearn_pandas import DataFrameMapper
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss
from sklearn.metrics import mean_squared_log_error
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.experimental import enable_iterative_imputer
from sklearn.metrics import roc_auc_score
from sklearn.tree import plot_tree
from sklearn.datasets import make_moons
from sklearn.feature_selection import mutual_info_classif
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_selection import mutual_info_classif
from sklearn.experimental import enable_iterative_imputer



from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import SimpleImputer

from keras.layers import Dense, Dropout
from keras.models import Sequential

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

from tqdm import tqdm

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

import xgboost as xgb
from sklearn.metrics import log_loss
from xgboost.sklearn import XGBClassifier

from Modules import Modules
from Baseline import Baseline
from FeatureEngineering2 import FeatureEngineering2
from FeatureEngineering3 import FeatureEngineering3


%matplotlib inline

print("OK\n")

OK

In [2]:
baseline = Baseline('SK_ID_CURR')
modules = Modules('SK_ID_CURR')
FeatureEngineering2 = FeatureEngineering2('SK_ID_CURR')
FeatureEngineering3 = FeatureEngineering3('SK_ID_CURR')

In [35]:
"""
params_base = {
            'boosting_type': 'gbdt'
            ,'objective': 'binary'
            ,'metric': 'auc'
            ,'verbosity': -1
            ,'learning_rate': 0.05
            ,'n_estimators': 100000
            ,'random_state':123
            ,'bagging_freq': 1   
}
"""
params_base = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.02
    ,'max_bin':400
    ,'max_depth': -1
    ,'num_leaves': 30
    ,'min_child_samples': 70
    ,'subsample': 1.0
    ,'subsample_freq': 1
    ,'colsample_bytree': 0.05
    ,'min_split_gain': 0.5
    ,'reg_alpha': 0.0
    ,'reg_lambda': 100
    ,'n_estimators': 10000
}

def objective(trial):
    # 探索するパラメータ
    param_tuning = {
            "num_leaves": trial.suggest_int("num_leaves", 8, 256)
            ,"min_child_samples": trial.suggest_int("min_child_samples", 5, 200)
            ,"min_sum_hessian_in_leaf": trial.suggest_float("min_sum_hessian_in_leaf", 1e-5, 1e-2, log=True)
            ,"feature_fraction": trial.suggest_float("feature_fraction", 0.5, 1.0)
            ,"bagging_fraction": trial.suggest_float("bagging_fraction", 0.5, 1.0)
            ,"lambda_l1": trial.suggest_float("lambda_l1", 1e-2, 1e+2, log=True)
            ,"lambda_l2": trial.suggest_float("lambda_l2", 1e-2, 1e+2, log=True)
    }
    param_tuning.update(params_base)

    # モデル学習・評価:
    list_metrics = []
    cv = list(StratifiedKFold(n_splits=5, shuffle=True, random_state=123).split(x_train, y_train))
    list_fold = [0]
    for nfold in list_fold:
        idx_tr, idx_va = cv[nfold][0], cv[nfold][1]
        x_tr, y_tr = x_train.loc[idx_tr, :], y_train[idx_tr]
        x_va, y_va = x_train.loc[idx_va, :], y_train[idx_va]
        model = lgb.LGBMClassifier(**params)
        model.fit(x_tr
                    ,y_tr
                    ,eval_set=[(x_tr, y_tr), (x_va, y_va)]
                    ,early_stopping_rounds=100
                    ,verbose=0
        )
        y_va_pred = model.predict_proba(x_va)[:,1]
        metric_va = roc_auc_score(y_va, y_va_pred)
        list_metrics.append(metric_va)

    # 評価指数の算出
    metrics = np.mean(list_metrics)

    return metrics

In [29]:
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.02
    ,'max_bin':400
    ,'max_depth': -1
    ,'num_leaves': 30
    ,'min_child_samples': 70
    ,'subsample': 1.0
    ,'subsample_freq': 1
    ,'colsample_bytree': 0.05
    ,'min_split_gain': 0.5
    ,'reg_alpha': 0.0
    ,'reg_lambda': 100
    ,'n_estimators': 10000
}

In [3]:
apps, prev, bureau, bureau_bal, pos_bal, install, card_bal = FeatureEngineering3.get_dataset()
apps.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1.0,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0.0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0.0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0.0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0.0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df = FeatureEngineering3.get_apps_all_with_all_agg(apps, prev, bureau, bureau_bal, pos_bal, install, card_bal)
df.head()

prev_agg shape: (338857, 41) bureau_agg shape: (305811, 103)
pos_bal_agg shape: (337252, 45) install_agg shape: (339587, 59) card_bal_agg shape: (103558, 70)
apps_all before merge shape: (356255, 135)
apps_all after merge with all shape: (356255, 449)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CARD_M3BALANCE_LIMIT_RATIO_MIN,CARD_M3BALANCE_LIMIT_RATIO_MAX,CARD_M3DRAWING_LIMIT_RATIO_MIN,CARD_M3DRAWING_LIMIT_RATIO_MAX,CARD_M3CARD_IS_DPD_MEAN,CARD_M3CARD_IS_DPD_SUM,CARD_M3CARD_IS_DPD_UNDER_120_MEAN,CARD_M3CARD_IS_DPD_UNDER_120_SUM,CARD_M3CARD_IS_DPD_OVER_120_MEAN,CARD_M3CARD_IS_DPD_OVER_120_SUM
0,100002,1.0,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100003,0.0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100004,0.0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100006,0.0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100007,0.0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
### one-hotencoding
encoding_columns = []

#### one-hotencoding処理対象列を取得
for col in df.columns:
    if df[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
OCCUPATION_TYPE
WEEKDAY_APPR_PROCESS_START
ORGANIZATION_TYPE
FONDKAPREMONT_MODE
HOUSETYPE_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE

In [ ]:
# general cleaning procedures
df = df[df['CODE_GENDER'] != 'XNA']
df = df[df['AMT_INCOME_TOTAL'] < 20000000] # remove a outlier 117M
# NaN values for DAYS_EMPLOYED: 365.243 -> nan
df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True) # set null value
df['DAYS_LAST_PHONE_CHANGE'].replace(0, np.nan, inplace=True) # set null value

### CODE_GENDER, 
# Categorical features with Binary encode (0 or 1; two categories)
for bin_feature in ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']:
    df[bin_feature], uniques = pd.factorize(df[bin_feature])

### NAME_INCOME_TYPE
df['NAME_INCOME_TYPE'].replace(['Maternity leave'], ['Unemployed'], inplace=True)
df['NAME_INCOME_TYPE'].replace(['Working','Commercial associate','Pensioner','State servant','Unemployed','Student','Businessman','Maternity leave'], [0, 1, 2, 3, 4, 5, 6, 7], inplace=True)
### NAME_FAMILY_STATUS
df['NAME_FAMILY_STATUS'].replace('Unknown', 'Married', inplace=True)
df['NAME_FAMILY_STATUS'].replace(['Married','Single / not married','Civil marriage','Separated','Widow'], [0, 1, 2, 3, 4], inplace=True)

### 
df = df.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '_', x))

df.head()

In [6]:
#### one-hotencoding実行
for col in encoding_columns:
    df = pd.get_dummies(df, columns=[col], dummy_na=True)

df.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,WALLSMATERIAL_MODE_nan,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,EMERGENCYSTATE_MODE_nan
0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0,0,0,0,1,0,0,1,0,0
1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0,0,0,0,0,0,0,1,0,0
2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0,0,0,0,0,0,1,0,0,1
3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0,0,0,0,0,0,1,0,0,1
4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0,0,0,0,0,0,1,0,0,1

In [7]:
### infをnanへ置換
df = df.replace([np.inf, -np.inf], np.nan)

In [8]:
### 変数選択
df = FeatureEngineering2.data_post_processing(df)
print('='*50, '\n')
print('---=> df final shape:', df.shape, ' <=---', '\n')
print('=' * 50)
df.head()

---=> the DATA POST-PROCESSING is beginning, the dataset has 589 features
names of feature are renamed
---=> pandas data types of features in the dataset are converted for a reduced memory usage
---=> 579 features are remained after removing non-informative features
65 features are eliminated by LightGBM classifier with an 0.7 auc score limit in step I
---=> 514 features are remained after removing features not interesting for LightGBM classifier
---=> 32 features are generated with the risk_groupanizer
---=> the DATA POST-PROCESSING is ended!, now the dataset has a total 546 features
==================================================

---=> df final shape: (356255, 546)  <=---

==================================================

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,POS_M20MONTHS_BALANCE_MIN_high_risk,POS_M20MONTHS_BALANCE_MIN_low_risk,POS_M20MONTHS_BALANCE_MAX_high_risk,POS_M20MONTHS_BALANCE_MAX_low_risk,CARD_M3SK_ID_CURR_COUNT_high_risk,CARD_M3SK_ID_CURR_COUNT_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_low_risk
0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018799,-9461,-637,...,0,1,0,1,0,0,0,0,0,0
1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003542,-16765,-1188,...,0,1,1,0,0,0,0,0,0,0
2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010033,-19046,-225,...,0,0,0,0,0,0,0,0,0,0
3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008018,-19005,-3039,...,0,1,0,1,1,0,1,0,1,0
4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028656,-19932,-3038,...,0,1,0,1,0,0,0,0,0,0

In [11]:
df_train, df_test = FeatureEngineering3.get_apps_all_train_test(df)
df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,POS_M20MONTHS_BALANCE_MIN_high_risk,POS_M20MONTHS_BALANCE_MIN_low_risk,POS_M20MONTHS_BALANCE_MAX_high_risk,POS_M20MONTHS_BALANCE_MAX_low_risk,CARD_M3SK_ID_CURR_COUNT_high_risk,CARD_M3SK_ID_CURR_COUNT_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_low_risk
0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018799,-9461,-637,...,0,1,0,1,0,0,0,0,0,0
1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003542,-16765,-1188,...,0,1,1,0,0,0,0,0,0,0
2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010033,-19046,-225,...,0,0,0,0,0,0,0,0,0,0
3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008018,-19005,-3039,...,0,1,0,1,1,0,1,0,1,0
4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028656,-19932,-3038,...,0,1,0,1,0,0,0,0,0,0

In [12]:
df_test.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,POS_M20MONTHS_BALANCE_MIN_high_risk,POS_M20MONTHS_BALANCE_MIN_low_risk,POS_M20MONTHS_BALANCE_MAX_high_risk,POS_M20MONTHS_BALANCE_MAX_low_risk,CARD_M3SK_ID_CURR_COUNT_high_risk,CARD_M3SK_ID_CURR_COUNT_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_low_risk
307511,100001,0,135000.0,568800.0,20560.5,450000.0,0.018845,-19241,-2329,-5168.0,...,0,0,0,0,0,0,0,0,0,0
307512,100005,0,99000.0,222768.0,17370.0,180000.0,0.035797,-18064,-4469,-9120.0,...,0,1,1,1,0,0,0,0,0,0
307513,100013,0,202500.0,663264.0,69777.0,630000.0,0.019104,-20038,-4458,-2176.0,...,0,1,0,1,1,0,1,0,1,0
307514,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026398,-13976,-1866,-2000.0,...,0,0,0,0,1,0,1,0,1,0
307515,100038,1,180000.0,625500.0,32067.0,625500.0,0.010033,-13040,-2191,-4000.0,...,0,1,1,1,0,0,0,0,0,0

In [13]:
pred_train_1b = pd.read_csv('./home-credit-default-risk/exports/pred_train_1b.csv')
pred_test_1b =  pd.read_csv('./home-credit-default-risk/exports/pred_test_1b.csv')
pred_test_1b.head()

   SK_ID_CURR   pred_1b
0      100001  0.051055
1      100005  0.166067
2      100013  0.043899
3      100028  0.056542
4      100038  0.183168

In [14]:
df_train = df_train.merge(pred_train_1b, how='left', on='SK_ID_CURR')
df_test = df_test.merge(pred_test_1b, how='left', on='SK_ID_CURR')
df_test.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,POS_M20MONTHS_BALANCE_MIN_low_risk,POS_M20MONTHS_BALANCE_MAX_high_risk,POS_M20MONTHS_BALANCE_MAX_low_risk,CARD_M3SK_ID_CURR_COUNT_high_risk,CARD_M3SK_ID_CURR_COUNT_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_low_risk,pred_1b
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018845,-19241,-2329,-5168.0,...,0,0,0,0,0,0,0,0,0,0.051055
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035797,-18064,-4469,-9120.0,...,1,1,1,0,0,0,0,0,0,0.166067
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019104,-20038,-4458,-2176.0,...,1,0,1,1,0,1,0,1,0,0.043899
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026398,-13976,-1866,-2000.0,...,0,0,0,1,0,1,0,1,0,0.056542
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010033,-13040,-2191,-4000.0,...,1,1,1,0,0,0,0,0,0,0.183168

In [15]:
pred_train_1a = pd.read_csv('./home-credit-default-risk/exports/pred_train_1a.csv')
pred_test_1a =  pd.read_csv('./home-credit-default-risk/exports/pred_test_1a.csv')
pred_test_1b.head()

   SK_ID_CURR   pred_1b
0      100001  0.051055
1      100005  0.166067
2      100013  0.043899
3      100028  0.056542
4      100038  0.183168

In [16]:
df_train = df_train.merge(pred_train_1a, how='left', on='SK_ID_CURR')
df_test = df_test.merge(pred_test_1a, how='left', on='SK_ID_CURR')
df_test.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,POS_M20MONTHS_BALANCE_MAX_high_risk,POS_M20MONTHS_BALANCE_MAX_low_risk,CARD_M3SK_ID_CURR_COUNT_high_risk,CARD_M3SK_ID_CURR_COUNT_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_low_risk,pred_1b,pred_1a
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018845,-19241,-2329,-5168.0,...,0,0,0,0,0,0,0,0,0.051055,0.038227
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035797,-18064,-4469,-9120.0,...,1,1,0,0,0,0,0,0,0.166067,0.112768
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019104,-20038,-4458,-2176.0,...,0,1,1,0,1,0,1,0,0.043899,0.033638
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026398,-13976,-1866,-2000.0,...,0,0,1,0,1,0,1,0,0.056542,0.031213
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010033,-13040,-2191,-4000.0,...,1,1,0,0,0,0,0,0,0.183168,0.181109

In [17]:
train_set2a = pd.read_csv('./home-credit-default-risk/exports/train_set2a.csv')
test_set2a =  pd.read_csv('./home-credit-default-risk/exports/test_set2a.csv')
test_set2a.head()

   SK_ID_CURR     set2a
0      100001  0.025023
1      100005  0.090335
2      100013  0.037033
3      100028  0.036644
4      100038  0.172674

In [18]:
df_train = df_train.merge(train_set2a, how='left', on='SK_ID_CURR')
df_test = df_test.merge(test_set2a, how='left', on='SK_ID_CURR')
df_test.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,POS_M20MONTHS_BALANCE_MAX_low_risk,CARD_M3SK_ID_CURR_COUNT_high_risk,CARD_M3SK_ID_CURR_COUNT_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_low_risk,pred_1b,pred_1a,set2a
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018845,-19241,-2329,-5168.0,...,0,0,0,0,0,0,0,0.051055,0.038227,0.025023
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035797,-18064,-4469,-9120.0,...,1,0,0,0,0,0,0,0.166067,0.112768,0.090335
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019104,-20038,-4458,-2176.0,...,1,1,0,1,0,1,0,0.043899,0.033638,0.037033
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026398,-13976,-1866,-2000.0,...,0,1,0,1,0,1,0,0.056542,0.031213,0.036644
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010033,-13040,-2191,-4000.0,...,1,0,0,0,0,0,0,0.183168,0.181109,0.172674

In [19]:
### infをnanへ置換
df_train = df_train.replace([np.inf, -np.inf], np.nan)
df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,POS_M20MONTHS_BALANCE_MAX_low_risk,CARD_M3SK_ID_CURR_COUNT_high_risk,CARD_M3SK_ID_CURR_COUNT_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_low_risk,pred_1b,pred_1a,set2a
0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018799,-9461,-637,...,1,0,0,0,0,0,0,0.516856,0.162368,0.156048
1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003542,-16765,-1188,...,0,0,0,0,0,0,0,0.010645,0.027249,0.012034
2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010033,-19046,-225,...,0,0,0,0,0,0,0,0.054077,0.030869,0.026333
3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008018,-19005,-3039,...,1,1,0,1,0,1,0,0.059492,0.029480,0.029856
4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028656,-19932,-3038,...,1,0,0,0,0,0,0,0.076165,0.047569,0.034698

In [20]:
### infをnanへ置換
df_test = df_test.replace([np.inf, -np.inf], np.nan)
df_test.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,POS_M20MONTHS_BALANCE_MAX_low_risk,CARD_M3SK_ID_CURR_COUNT_high_risk,CARD_M3SK_ID_CURR_COUNT_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_low_risk,pred_1b,pred_1a,set2a
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018845,-19241,-2329,-5168.0,...,0,0,0,0,0,0,0,0.051055,0.038227,0.025023
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035797,-18064,-4469,-9120.0,...,1,0,0,0,0,0,0,0.166067,0.112768,0.090335
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019104,-20038,-4458,-2176.0,...,1,1,0,1,0,1,0,0.043899,0.033638,0.037033
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026398,-13976,-1866,-2000.0,...,0,1,0,1,0,1,0,0.056542,0.031213,0.036644
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010033,-13040,-2191,-4000.0,...,1,0,0,0,0,0,0,0.183168,0.181109,0.172674

In [21]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(df_test.select_dtypes(include='number').columns)
encoding_columns.remove('SK_ID_CURR')

In [22]:
### indexを設定
df_train = df_train.set_index('SK_ID_CURR')
df_test = df_test.set_index('SK_ID_CURR')
df_train.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,POS_M20MONTHS_BALANCE_MAX_low_risk,CARD_M3SK_ID_CURR_COUNT_high_risk,CARD_M3SK_ID_CURR_COUNT_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_low_risk,pred_1b,pred_1a,set2a
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018799,-9461,-637,-3648.0,...,1,0,0,0,0,0,0,0.516856,0.162368,0.156048
100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003542,-16765,-1188,-1186.0,...,0,0,0,0,0,0,0,0.010645,0.027249,0.012034
100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010033,-19046,-225,-4260.0,...,0,0,0,0,0,0,0,0.054077,0.030869,0.026333
100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008018,-19005,-3039,-9832.0,...,1,1,0,1,0,1,0,0.059492,0.029480,0.029856
100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028656,-19932,-3038,-4312.0,...,1,0,0,0,0,0,0,0.076165,0.047569,0.034698

In [23]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(df_train, df_test, num_cols)
        
df_train.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,POS_M20MONTHS_BALANCE_MAX_low_risk,CARD_M3SK_ID_CURR_COUNT_high_risk,CARD_M3SK_ID_CURR_COUNT_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_low_risk,pred_1b,pred_1a,set2a
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1.0,-0.577538,0.142129,-0.478095,-0.166146,-0.507236,-0.149780,1.506880,-0.456215,0.379883,...,1.042294,-0.590561,-0.138613,-0.619657,0.0,-0.619657,0.0,5.053162,0.986709,0.860543
100003,0.0,-0.577538,0.426792,1.725450,0.592666,1.599974,-1.252930,-0.166821,-0.460115,1.079102,...,-0.959422,-0.590561,-0.138613,-0.619657,0.0,-0.619657,0.0,-0.839862,-0.548398,-0.659948
100004,0.0,-0.577538,-0.427196,-1.152888,-1.404649,-1.091895,-0.783203,-0.689509,-0.453299,0.206055,...,-0.959422,-0.590561,-0.138613,-0.619657,0.0,-0.619657,0.0,-0.334248,-0.507271,-0.508977
100006,0.0,-0.577538,-0.142533,-0.711430,0.177865,-0.653401,-0.928711,-0.680114,-0.473217,-1.375000,...,1.042294,1.693306,-0.138613,1.613795,0.0,1.613795,0.0,-0.271209,-0.523054,-0.471789
100007,0.0,-0.577538,-0.199466,-0.213734,-0.361748,-0.068741,0.562988,-0.892535,-0.473210,0.191284,...,1.042294,-0.590561,-0.138613,-0.619657,0.0,-0.619657,0.0,-0.077109,-0.317542,-0.420660

In [24]:
### indexを削除
df_train = df_train.reset_index()
df_test = df_test.reset_index()
df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,POS_M20MONTHS_BALANCE_MAX_low_risk,CARD_M3SK_ID_CURR_COUNT_high_risk,CARD_M3SK_ID_CURR_COUNT_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_low_risk,pred_1b,pred_1a,set2a
0,100002,1.0,-0.577538,0.142129,-0.478095,-0.166146,-0.507236,-0.149780,1.506880,-0.456215,...,1.042294,-0.590561,-0.138613,-0.619657,0.0,-0.619657,0.0,5.053162,0.986709,0.860543
1,100003,0.0,-0.577538,0.426792,1.725450,0.592666,1.599974,-1.252930,-0.166821,-0.460115,...,-0.959422,-0.590561,-0.138613,-0.619657,0.0,-0.619657,0.0,-0.839862,-0.548398,-0.659948
2,100004,0.0,-0.577538,-0.427196,-1.152888,-1.404649,-1.091895,-0.783203,-0.689509,-0.453299,...,-0.959422,-0.590561,-0.138613,-0.619657,0.0,-0.619657,0.0,-0.334248,-0.507271,-0.508977
3,100006,0.0,-0.577538,-0.142533,-0.711430,0.177865,-0.653401,-0.928711,-0.680114,-0.473217,...,1.042294,1.693306,-0.138613,1.613795,0.0,1.613795,0.0,-0.271209,-0.523054,-0.471789
4,100007,0.0,-0.577538,-0.199466,-0.213734,-0.361748,-0.068741,0.562988,-0.892535,-0.473210,...,1.042294,-0.590561,-0.138613,-0.619657,0.0,-0.619657,0.0,-0.077109,-0.317542,-0.420660

In [25]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 686.24 MB
Memory usage of optimization is 675294284.00 MB
Decreased by -98404725.8%
Memory usage of dataframe is 108.68 MB
Memory usage of optimization is 106846976.00 MB
Decreased by -98309513.5%

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,POS_M20MONTHS_BALANCE_MAX_low_risk,CARD_M3SK_ID_CURR_COUNT_high_risk,CARD_M3SK_ID_CURR_COUNT_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_MEAN_low_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_high_risk,CARD_M3CARD_IS_DPD_UNDER_120_SUM_low_risk,pred_1b,pred_1a,set2a
0,100002,1.0,-0.577637,0.142090,-0.478027,-0.166138,-0.507324,-0.149780,1.506836,-0.456299,...,1.041992,-0.590332,-0.138672,-0.619629,0.0,-0.619629,0.0,5.054688,0.986816,0.860352
1,100003,0.0,-0.577637,0.426758,1.725586,0.592773,1.599609,-1.252930,-0.166870,-0.460205,...,-0.959473,-0.590332,-0.138672,-0.619629,0.0,-0.619629,0.0,-0.839844,-0.548340,-0.660156
2,100004,0.0,-0.577637,-0.427246,-1.153320,-1.404297,-1.091797,-0.783203,-0.689453,-0.453369,...,-0.959473,-0.590332,-0.138672,-0.619629,0.0,-0.619629,0.0,-0.334229,-0.507324,-0.508789
3,100006,0.0,-0.577637,-0.142578,-0.711426,0.177856,-0.653320,-0.928711,-0.680176,-0.473145,...,1.041992,1.693359,-0.138672,1.614258,0.0,1.614258,0.0,-0.271240,-0.522949,-0.471680
4,100007,0.0,-0.577637,-0.199463,-0.213745,-0.361816,-0.068726,0.562988,-0.892578,-0.473145,...,1.041992,-0.590332,-0.138672,-0.619629,0.0,-0.619629,0.0,-0.077087,-0.317627,-0.420654

In [26]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=='O':
        x_train[col] = x_train[col].astype('category')

In [27]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [30]:
train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 547) (61503, 547)
[100]	training's auc: 0.796643	valid_1's auc: 0.786582
[200]	training's auc: 0.802929	valid_1's auc: 0.790633
[300]	training's auc: 0.807765	valid_1's auc: 0.793177
[400]	training's auc: 0.811654	valid_1's auc: 0.794429
[500]	training's auc: 0.815245	valid_1's auc: 0.795242
[600]	training's auc: 0.818575	valid_1's auc: 0.795641
[700]	training's auc: 0.821627	valid_1's auc: 0.795839
[800]	training's auc: 0.82462	valid_1's auc: 0.796128
[900]	training's auc: 0.827489	valid_1's auc: 0.796293
[1000]	training's auc: 0.830275	valid_1's auc: 0.796316
[1100]	training's auc: 0.832855	valid_1's auc: 0.796454
[1200]	training's auc: 0.835368	valid_1's auc: 0.79644
[1300]	training's auc: 0.837764	valid_1's auc: 0.796455
[1400]	training's auc: 0.840123	valid_1's auc: 0.796354
[1500]	training's auc: 0.842326	valid_1's auc: 0.796321
[1600]	training's auc: 0.844464	valid_1's auc: 0.796252
[1700]	training's auc: 0.84658	valid_1's auc: 0.796219
[1800]	training's auc: 0.848597	valid_1's auc: 0.796139
[1900]	training's auc: 0.850625	valid_1's auc: 0.796016
[2000]	training's auc: 0.852529	valid_1's auc: 0.795956
[2100]	training's auc: 0.854381	valid_1's auc: 0.795886
[2200]	training's auc: 0.856265	valid_1's auc: 0.79584
[2300]	training's auc: 0.858162	valid_1's auc: 0.795703
[2400]	training's auc: 0.859992	valid_1's auc: 0.795617
[2500]	training's auc: 0.861727	valid_1's auc: 0.795517
[2600]	training's auc: 0.863401	valid_1's auc: 0.795454
[2700]	training's auc: 0.865231	valid_1's auc: 0.795383
[2800]	training's auc: 0.867057	valid_1's auc: 0.795419
[2900]	training's auc: 0.868795	valid_1's auc: 0.795258
[3000]	training's auc: 0.870506	valid_1's auc: 0.79526
[3100]	training's auc: 0.872246	valid_1's auc: 0.795192
[3200]	training's auc: 0.873894	valid_1's auc: 0.795139
[auc] tr:0.836103, va0.7965
-------------------- 1 --------------------
(246009, 547) (61502, 547)
[100]	training's auc: 0.795424	valid_1's auc: 0.790208
[200]	training's auc: 0.801857	valid_1's auc: 0.794503
[300]	training's auc: 0.806773	valid_1's auc: 0.797116
[400]	training's auc: 0.810772	valid_1's auc: 0.798535
[500]	training's auc: 0.814456	valid_1's auc: 0.799335
[600]	training's auc: 0.817848	valid_1's auc: 0.79984
[700]	training's auc: 0.820851	valid_1's auc: 0.800122
[800]	training's auc: 0.823857	valid_1's auc: 0.800481
[900]	training's auc: 0.826684	valid_1's auc: 0.800641
[1000]	training's auc: 0.829448	valid_1's auc: 0.800848
[1100]	training's auc: 0.832047	valid_1's auc: 0.800948
[1200]	training's auc: 0.834583	valid_1's auc: 0.800932
[1300]	training's auc: 0.836977	valid_1's auc: 0.800984
[1400]	training's auc: 0.839357	valid_1's auc: 0.800878
[1500]	training's auc: 0.841629	valid_1's auc: 0.800839
[1600]	training's auc: 0.843933	valid_1's auc: 0.800793
[1700]	training's auc: 0.846035	valid_1's auc: 0.800757
[1800]	training's auc: 0.848078	valid_1's auc: 0.800699
[1900]	training's auc: 0.850152	valid_1's auc: 0.800629
[2000]	training's auc: 0.852089	valid_1's auc: 0.800598
[2100]	training's auc: 0.854035	valid_1's auc: 0.800565
[2200]	training's auc: 0.855937	valid_1's auc: 0.800473
[2300]	training's auc: 0.85775	valid_1's auc: 0.800372
[2400]	training's auc: 0.859593	valid_1's auc: 0.800351
[2500]	training's auc: 0.861371	valid_1's auc: 0.800399
[2600]	training's auc: 0.863148	valid_1's auc: 0.800297
[2700]	training's auc: 0.864767	valid_1's auc: 0.800339
[2800]	training's auc: 0.866554	valid_1's auc: 0.800308
[2900]	training's auc: 0.868217	valid_1's auc: 0.800278
[3000]	training's auc: 0.869959	valid_1's auc: 0.800233
[3100]	training's auc: 0.871661	valid_1's auc: 0.800121
[3200]	training's auc: 0.873257	valid_1's auc: 0.799972
[3300]	training's auc: 0.874842	valid_1's auc: 0.799881
[auc] tr:0.837742, va0.8010
-------------------- 2 --------------------
(246009, 547) (61502, 547)
[100]	training's auc: 0.795637	valid_1's auc: 0.790584
[200]	training's auc: 0.802022	valid_1's auc: 0.79435
[300]	training's auc: 0.806896	valid_1's auc: 0.796596
[400]	training's auc: 0.810835	valid_1's auc: 0.797789
[500]	training's auc: 0.814421	valid_1's auc: 0.798533
[600]	training's auc: 0.8178	valid_1's auc: 0.79898
[700]	training's auc: 0.820904	valid_1's auc: 0.799172
[800]	training's auc: 0.823895	valid_1's auc: 0.799297
[900]	training's auc: 0.826774	valid_1's auc: 0.799405
[1000]	training's auc: 0.829548	valid_1's auc: 0.79947
[1100]	training's auc: 0.832156	valid_1's auc: 0.799465
[1200]	training's auc: 0.83468	valid_1's auc: 0.799479
[1300]	training's auc: 0.837049	valid_1's auc: 0.799456
[1400]	training's auc: 0.839373	valid_1's auc: 0.799433
[1500]	training's auc: 0.841685	valid_1's auc: 0.799382
[1600]	training's auc: 0.84393	valid_1's auc: 0.799361
[1700]	training's auc: 0.846101	valid_1's auc: 0.799319
[1800]	training's auc: 0.848192	valid_1's auc: 0.799205
[1900]	training's auc: 0.850267	valid_1's auc: 0.799133
[2000]	training's auc: 0.852242	valid_1's auc: 0.799003
[2100]	training's auc: 0.854065	valid_1's auc: 0.798938
[2200]	training's auc: 0.855982	valid_1's auc: 0.798807
[2300]	training's auc: 0.857841	valid_1's auc: 0.798721
[2400]	training's auc: 0.85974	valid_1's auc: 0.798601
[2500]	training's auc: 0.861522	valid_1's auc: 0.79852
[2600]	training's auc: 0.863272	valid_1's auc: 0.798486
[2700]	training's auc: 0.865075	valid_1's auc: 0.798437
[2800]	training's auc: 0.866859	valid_1's auc: 0.798405
[2900]	training's auc: 0.86857	valid_1's auc: 0.798317
[3000]	training's auc: 0.870256	valid_1's auc: 0.798279
[3100]	training's auc: 0.872037	valid_1's auc: 0.798222
[3200]	training's auc: 0.873797	valid_1's auc: 0.798107
[auc] tr:0.835854, va0.7995
-------------------- 3 --------------------
(246009, 547) (61502, 547)
[100]	training's auc: 0.796366	valid_1's auc: 0.787692
[200]	training's auc: 0.802781	valid_1's auc: 0.791433
[300]	training's auc: 0.807727	valid_1's auc: 0.79381
[400]	training's auc: 0.811703	valid_1's auc: 0.79497
[500]	training's auc: 0.815277	valid_1's auc: 0.795615
[600]	training's auc: 0.818626	valid_1's auc: 0.796132
[700]	training's auc: 0.821654	valid_1's auc: 0.796416
[800]	training's auc: 0.824662	valid_1's auc: 0.796582
[900]	training's auc: 0.827538	valid_1's auc: 0.79673
[1000]	training's auc: 0.830317	valid_1's auc: 0.796864
[1100]	training's auc: 0.832917	valid_1's auc: 0.796879
[1200]	training's auc: 0.83545	valid_1's auc: 0.796832
[1300]	training's auc: 0.83787	valid_1's auc: 0.796801
[1400]	training's auc: 0.840188	valid_1's auc: 0.796747
[1500]	training's auc: 0.842453	valid_1's auc: 0.796653
[1600]	training's auc: 0.844703	valid_1's auc: 0.796583
[1700]	training's auc: 0.846814	valid_1's auc: 0.796468
[1800]	training's auc: 0.848957	valid_1's auc: 0.796392
[1900]	training's auc: 0.850985	valid_1's auc: 0.796302
[2000]	training's auc: 0.852947	valid_1's auc: 0.796208
[2100]	training's auc: 0.854864	valid_1's auc: 0.796088
[2200]	training's auc: 0.85673	valid_1's auc: 0.795975
[2300]	training's auc: 0.858524	valid_1's auc: 0.795871
[2400]	training's auc: 0.860332	valid_1's auc: 0.795822
[2500]	training's auc: 0.862048	valid_1's auc: 0.795663
[2600]	training's auc: 0.863847	valid_1's auc: 0.795563
[2700]	training's auc: 0.865623	valid_1's auc: 0.795495
[2800]	training's auc: 0.867412	valid_1's auc: 0.795508
[2900]	training's auc: 0.869118	valid_1's auc: 0.795495
[3000]	training's auc: 0.870794	valid_1's auc: 0.795449
[3100]	training's auc: 0.872513	valid_1's auc: 0.795344
[auc] tr:0.833092, va0.7969
-------------------- 4 --------------------
(246009, 547) (61502, 547)
[100]	training's auc: 0.797224	valid_1's auc: 0.783238
[200]	training's auc: 0.803644	valid_1's auc: 0.786937
[300]	training's auc: 0.808544	valid_1's auc: 0.789305
[400]	training's auc: 0.812419	valid_1's auc: 0.790435
[500]	training's auc: 0.81606	valid_1's auc: 0.791184
[600]	training's auc: 0.819435	valid_1's auc: 0.791629
[700]	training's auc: 0.822527	valid_1's auc: 0.79179
[800]	training's auc: 0.825462	valid_1's auc: 0.792078
[900]	training's auc: 0.828307	valid_1's auc: 0.792167
[1000]	training's auc: 0.83102	valid_1's auc: 0.792247
[1100]	training's auc: 0.83376	valid_1's auc: 0.792329
[1200]	training's auc: 0.836326	valid_1's auc: 0.792195

[1300]	training's auc: 0.838732	valid_1's auc: 0.792231
[1400]	training's auc: 0.841172	valid_1's auc: 0.792147
[1500]	training's auc: 0.843573	valid_1's auc: 0.792112
[1600]	training's auc: 0.845841	valid_1's auc: 0.792017
[1700]	training's auc: 0.84792	valid_1's auc: 0.79196
[1800]	training's auc: 0.850027	valid_1's auc: 0.791921
[1900]	training's auc: 0.852175	valid_1's auc: 0.791859
[2000]	training's auc: 0.854201	valid_1's auc: 0.791737
[2100]	training's auc: 0.856085	valid_1's auc: 0.791665
[2200]	training's auc: 0.857992	valid_1's auc: 0.791605
[2300]	training's auc: 0.859817	valid_1's auc: 0.791554
[2400]	training's auc: 0.861704	valid_1's auc: 0.791412
[2500]	training's auc: 0.863487	valid_1's auc: 0.79131
[2600]	training's auc: 0.865222	valid_1's auc: 0.791196
[2700]	training's auc: 0.86698	valid_1's auc: 0.791116
[2800]	training's auc: 0.868741	valid_1's auc: 0.791044
[2900]	training's auc: 0.870455	valid_1's auc: 0.790925
[3000]	training's auc: 0.872086	valid_1's auc: 0.790802
[auc] tr:0.833726, va0.7923
-------------------- result --------------------
[[0.         0.83610325 0.79647588]
 [1.         0.83774182 0.80100047]
 [2.         0.83585441 0.79950851]
 [3.         0.83309157 0.79689383]
 [4.         0.83372601 0.79233869]]
[cv] tr:0.8353+-0.0017, va:0.7972+-0.0030
[oof]0.7972

In [31]:
imp.sort_values("imp", ascending=False)[:20]

                                     col    imp    imp_std
546                                set2a  840.6  37.845740
21             APPS_ANNUITY_CREDIT_RATIO  573.4  70.237454
545                              pred_1b  323.0  18.920888
544                              pred_1a  285.4  14.707141
241                         EXT_SOURCE_3  257.2  27.734455
219                           DAYS_BIRTH  248.8  25.223005
240                         EXT_SOURCE_2  240.4  23.287336
2                        AMT_GOODS_PRICE  229.0  18.096961
0                            AMT_ANNUITY  214.8  35.856659
510        PREV_PREV_INTERESTS_RATE_MEAN  209.6  16.102795
106   BUREAU_BUREAU_CREDIT_DEBT_DIFF_MAX  208.4  16.195678
320             INS_DAYS_INSTALMENT_MEAN  200.2  13.917615
28                  APPS_EXT_SOURCE_MEAN  199.2  12.833550
133              BUREAU_DAYS_CREDIT_MEAN  198.6  19.982492
109  BUREAU_BUREAU_CREDIT_DEBT_RATIO_MAX  196.4  11.013628
294              INS_D365AMT_PAYMENT_MAX  194.2  11.009087
22             APPS_ANNUITY_INCOME_RATIO  192.2  16.084154
509         PREV_PREV_INTERESTS_RATE_MAX  189.0  13.527749
440    POS_M20CNT_INSTALMENT_FUTURE_MEAN  188.8  12.091319
129       BUREAU_DAYS_CREDIT_ENDDATE_MAX  187.2  21.856349

In [32]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [33]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [34]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_OS_3-1.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.038155
1      100005  0.130656
2      100013  0.062050
3      100028  0.039034
4      100038  0.196963

## パラメータ・チューニング

In [40]:
baseline = Baseline('SK_ID_CURR')

sampler = optuna.samplers.TPESampler(seed=123)
study = optuna.create_study(sampler=sampler, direction='maximize')
study.optimize(objective, n_trials=50, n_jobs=5)

[I 2022-07-19 00:01:17,480] A new study created in memory with name: no-name-df862cdc-6017-489c-804c-d4086b6f1239
[I 2022-07-19 00:04:30,968] Trial 0 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 241, 'min_child_samples': 165, 'min_sum_hessian_in_leaf': 0.00019932485005063924, 'feature_fraction': 0.7094011018171225, 'bagging_fraction': 0.5664677719068973, 'lambda_l1': 0.21209200170811635, 'lambda_l2': 8.511905655877966}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:04:44,978] Trial 1 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 42, 'min_child_samples': 83, 'min_sum_hessian_in_leaf': 5.416847718980566e-05, 'feature_fraction': 0.810954568275315, 'bagging_fraction': 0.6826053986920511, 'lambda_l1': 0.05245187304250684, 'lambda_l2': 0.3898667165266898}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:04:52,133] Trial 2 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 9, 'min_child_samples': 65, 'min_sum_hessian_in_leaf': 0.00012246614333447884, 'feature_fraction': 0.6889519096669233, 'bagging_fraction': 0.6172849302395003, 'lambda_l1': 0.3387247690322146, 'lambda_l2': 0.08447174862148395}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:04:56,109] Trial 3 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 232, 'min_child_samples': 146, 'min_sum_hessian_in_leaf': 0.0005415472712473072, 'feature_fraction': 0.9828966812210269, 'bagging_fraction': 0.7070923626044497, 'lambda_l1': 0.6375998364096133, 'lambda_l2': 0.14353368136313116}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:05:00,257] Trial 4 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 223, 'min_child_samples': 89, 'min_sum_hessian_in_leaf': 0.006131751609337981, 'feature_fraction': 0.880588620340024, 'bagging_fraction': 0.7759378232943572, 'lambda_l1': 15.09167730182686, 'lambda_l2': 20.676900862876145}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:08:21,023] Trial 5 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 26, 'min_child_samples': 33, 'min_sum_hessian_in_leaf': 1.4266413332846503e-05, 'feature_fraction': 0.7520226393297662, 'bagging_fraction': 0.9322378014198043, 'lambda_l1': 92.604474848398, 'lambda_l2': 48.64022802354548}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:08:40,256] Trial 6 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 102, 'min_child_samples': 13, 'min_sum_hessian_in_leaf': 2.614619492107195e-05, 'feature_fraction': 0.9750228110107353, 'bagging_fraction': 0.5529766544623027, 'lambda_l1': 3.946833768665254, 'lambda_l2': 12.842083401308413}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:08:45,319] Trial 7 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 228, 'min_child_samples': 180, 'min_sum_hessian_in_leaf': 9.382000610258964e-05, 'feature_fraction': 0.6377874272165374, 'bagging_fraction': 0.7304777983530064, 'lambda_l1': 0.8625840871638484, 'lambda_l2': 1.7372643899074314}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:09:04,151] Trial 8 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 70, 'min_child_samples': 136, 'min_sum_hessian_in_leaf': 0.0018230221086883045, 'feature_fraction': 0.7879407562184508, 'bagging_fraction': 0.5644387433052623, 'lambda_l1': 0.02849881776295597, 'lambda_l2': 0.4521182530320773}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:09:08,961] Trial 9 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 135, 'min_child_samples': 14, 'min_sum_hessian_in_leaf': 0.004139491257674848, 'feature_fraction': 0.9177041704484391, 'bagging_fraction': 0.6647193004411924, 'lambda_l1': 4.48721936601996, 'lambda_l2': 4.937086720819022}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:12:08,189] Trial 10 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 225, 'min_child_samples': 8, 'min_sum_hessian_in_leaf': 0.001965951894867795, 'feature_fraction': 0.5133308770912881, 'bagging_fraction': 0.6591021911498147, 'lambda_l1': 0.010236786340597197, 'lambda_l2': 1.0956973617686256}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:12:40,847] Trial 11 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 174, 'min_child_samples': 150, 'min_sum_hessian_in_leaf': 5.436994532326505e-05, 'feature_fraction': 0.731347083702452, 'bagging_fraction': 0.7237539168598802, 'lambda_l1': 1.137343840661001, 'lambda_l2': 1.0687895285868285}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:12:54,617] Trial 12 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 243, 'min_child_samples': 176, 'min_sum_hessian_in_leaf': 0.001794617545154946, 'feature_fraction': 0.6487568610629078, 'bagging_fraction': 0.9883251303532445, 'lambda_l1': 1.1321164496545075, 'lambda_l2': 0.07625636940790331}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:13:04,858] Trial 13 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 53, 'min_child_samples': 140, 'min_sum_hessian_in_leaf': 8.009639183914956e-05, 'feature_fraction': 0.8230843547572162, 'bagging_fraction': 0.7081725863136354, 'lambda_l1': 35.142864511478265, 'lambda_l2': 0.1627852536982114}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:13:10,327] Trial 14 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 170, 'min_child_samples': 197, 'min_sum_hessian_in_leaf': 0.00047739580931462614, 'feature_fraction': 0.5739789846487554, 'bagging_fraction': 0.8794052219917938, 'lambda_l1': 0.06964912256904575, 'lambda_l2': 0.014964364109347024}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:16:06,743] Trial 15 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 165, 'min_child_samples': 118, 'min_sum_hessian_in_leaf': 7.345185779061816e-05, 'feature_fraction': 0.8252251120449758, 'bagging_fraction': 0.5045152359033596, 'lambda_l1': 0.09117519855843428, 'lambda_l2': 0.02113648778985323}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:16:58,906] Trial 16 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 170, 'min_child_samples': 200, 'min_sum_hessian_in_leaf': 0.00031210383944621663, 'feature_fraction': 0.839529965856049, 'bagging_fraction': 0.8265731314385538, 'lambda_l1': 0.10086776551248312, 'lambda_l2': 0.016205253888304204}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:17:16,541] Trial 17 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 167, 'min_child_samples': 104, 'min_sum_hessian_in_leaf': 0.0003104882098172157, 'feature_fraction': 0.8208944850398726, 'bagging_fraction': 0.5063341840202132, 'lambda_l1': 0.0748584250357898, 'lambda_l2': 95.71995012535089}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:17:23,486] Trial 18 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 173, 'min_child_samples': 102, 'min_sum_hessian_in_leaf': 0.0003906546840896631, 'feature_fraction': 0.5685423629902508, 'bagging_fraction': 0.5064360644845466, 'lambda_l1': 0.10288705854437558, 'lambda_l2': 0.011738123379359108}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:17:28,519] Trial 19 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 130, 'min_child_samples': 107, 'min_sum_hessian_in_leaf': 0.0001856652428638443, 'feature_fraction': 0.8308944365533495, 'bagging_fraction': 0.5167903806860009, 'lambda_l1': 0.11781314088199114, 'lambda_l2': 6.185438416489454}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:19:37,488] Trial 20 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 101, 'min_child_samples': 86, 'min_sum_hessian_in_leaf': 0.00021758431157543366, 'feature_fraction': 0.6960518603747997, 'bagging_fraction': 0.8013956967790091, 'lambda_l1': 0.13854289632125008, 'lambda_l2': 4.251819350028455}. Best is trial 0 with value: 0.7964578680641743.

[I 2022-07-19 00:20:24,923] Trial 21 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 195, 'min_child_samples': 196, 'min_sum_hessian_in_leaf': 0.0003768422025570726, 'feature_fraction': 0.5456476989928615, 'bagging_fraction': 0.8554006924480037, 'lambda_l1': 0.27500823611806446, 'lambda_l2': 3.928215620285373}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:20:52,737] Trial 22 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 203, 'min_child_samples': 116, 'min_sum_hessian_in_leaf': 0.00021110598692443303, 'feature_fraction': 0.7234463627109076, 'bagging_fraction': 0.5839528073055456, 'lambda_l1': 0.18545783220058185, 'lambda_l2': 4.088966166379457}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:20:54,278] Trial 23 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 206, 'min_child_samples': 199, 'min_sum_hessian_in_leaf': 0.00019330138731301716, 'feature_fraction': 0.8817588091673014, 'bagging_fraction': 0.8029093975065141, 'lambda_l1': 0.23270985771943647, 'lambda_l2': 5.434826105095938}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:20:59,896] Trial 24 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 256, 'min_child_samples': 57, 'min_sum_hessian_in_leaf': 0.0009314443539646027, 'feature_fraction': 0.7180533260790063, 'bagging_fraction': 0.6066050637873636, 'lambda_l1': 0.3438580375817932, 'lambda_l2': 94.84098732309985}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:23:14,582] Trial 25 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 198, 'min_child_samples': 61, 'min_sum_hessian_in_leaf': 0.0007733814531157727, 'feature_fraction': 0.5787514068810145, 'bagging_fraction': 0.5955523357915155, 'lambda_l1': 0.2785736758412169, 'lambda_l2': 67.473044614306}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:24:00,429] Trial 26 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 130, 'min_child_samples': 58, 'min_sum_hessian_in_leaf': 0.0008614160908681386, 'feature_fraction': 0.5980025793310204, 'bagging_fraction': 0.5813730620872438, 'lambda_l1': 0.2529025982918774, 'lambda_l2': 11.516941732696345}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:24:23,931] Trial 27 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 109, 'min_child_samples': 57, 'min_sum_hessian_in_leaf': 0.00016245831879799962, 'feature_fraction': 0.6620255142023453, 'bagging_fraction': 0.7687193545667745, 'lambda_l1': 0.028145618829548004, 'lambda_l2': 13.388347176282775}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:24:28,233] Trial 28 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 254, 'min_child_samples': 173, 'min_sum_hessian_in_leaf': 0.0007410248334864608, 'feature_fraction': 0.6204264753344731, 'bagging_fraction': 0.8619177431779056, 'lambda_l1': 0.025215928301811723, 'lambda_l2': 13.9202414157416}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:24:33,008] Trial 29 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 199, 'min_child_samples': 167, 'min_sum_hessian_in_leaf': 0.0008925242100391984, 'feature_fraction': 0.6296120947891496, 'bagging_fraction': 0.8624126734144896, 'lambda_l1': 0.026960539920049802, 'lambda_l2': 2.162337697573944}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:26:52,067] Trial 30 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 203, 'min_child_samples': 165, 'min_sum_hessian_in_leaf': 0.0001519447345247058, 'feature_fraction': 0.657839683554764, 'bagging_fraction': 0.6252595314244606, 'lambda_l1': 0.024416722597378773, 'lambda_l2': 15.054083884259676}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:27:50,181] Trial 31 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 254, 'min_child_samples': 172, 'min_sum_hessian_in_leaf': 0.0009329731722299672, 'feature_fraction': 0.7715202000989665, 'bagging_fraction': 0.6177467927028759, 'lambda_l1': 0.024933339149592122, 'lambda_l2': 20.584982950922598}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:28:11,870] Trial 33 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 151, 'min_child_samples': 38, 'min_sum_hessian_in_leaf': 0.0010196289379296184, 'feature_fraction': 0.5920365894253607, 'bagging_fraction': 0.6250341260601915, 'lambda_l1': 3.9045589190347494, 'lambda_l2': 34.82960254538255}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:28:15,663] Trial 32 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 245, 'min_child_samples': 41, 'min_sum_hessian_in_leaf': 0.0008723839306942939, 'feature_fraction': 0.6145358673511998, 'bagging_fraction': 0.628399249799193, 'lambda_l1': 2.9186304962796616, 'lambda_l2': 36.7832025829601}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:28:19,995] Trial 34 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 127, 'min_child_samples': 40, 'min_sum_hessian_in_leaf': 3.4746913390971686e-05, 'feature_fraction': 0.6717678433480897, 'bagging_fraction': 0.6398671137850503, 'lambda_l1': 0.01049773346008799, 'lambda_l2': 33.0913808407182}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:30:16,867] Trial 35 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 129, 'min_child_samples': 33, 'min_sum_hessian_in_leaf': 0.0012016697048350042, 'feature_fraction': 0.6146976557618476, 'bagging_fraction': 0.7564663130535332, 'lambda_l1': 0.013858398140692257, 'lambda_l2': 30.26128917320887}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:31:35,314] Trial 36 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 108, 'min_child_samples': 158, 'min_sum_hessian_in_leaf': 0.0006644359351217172, 'feature_fraction': 0.6229439634916917, 'bagging_fraction': 0.9138145495255395, 'lambda_l1': 0.014359582158527161, 'lambda_l2': 35.23947245093118}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:31:56,329] Trial 37 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 216, 'min_child_samples': 158, 'min_sum_hessian_in_leaf': 0.0006023098805333131, 'feature_fraction': 0.6246043525106224, 'bagging_fraction': 0.9057626553533953, 'lambda_l1': 0.012428001485960358, 'lambda_l2': 1.7780199545304665}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:32:01,032] Trial 39 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 94, 'min_child_samples': 76, 'min_sum_hessian_in_leaf': 0.00023317583890758285, 'feature_fraction': 0.5019345290785281, 'bagging_fraction': 0.9230949792606136, 'lambda_l1': 0.4646339620758317, 'lambda_l2': 2.9322998364167283}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:32:07,831] Trial 38 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 190, 'min_child_samples': 163, 'min_sum_hessian_in_leaf': 0.0034370504096547213, 'feature_fraction': 0.7758381698630078, 'bagging_fraction': 0.5440589196611446, 'lambda_l1': 0.01285529577866142, 'lambda_l2': 2.1692494621054546}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:34:05,577] Trial 40 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 98, 'min_child_samples': 78, 'min_sum_hessian_in_leaf': 0.00024881957201912765, 'feature_fraction': 0.6995397242157176, 'bagging_fraction': 0.9052673742871107, 'lambda_l1': 0.5054429055711881, 'lambda_l2': 2.7985311409199016}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:35:28,554] Trial 41 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 88, 'min_child_samples': 80, 'min_sum_hessian_in_leaf': 0.00025584853467140446, 'feature_fraction': 0.7194867499933136, 'bagging_fraction': 0.813424325726305, 'lambda_l1': 0.5139662290788898, 'lambda_l2': 3.2941388050138736}. Best is trial 0 with value: 0.7964578680641743.

[I 2022-07-19 00:35:47,312] Trial 43 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 188, 'min_child_samples': 188, 'min_sum_hessian_in_leaf': 0.00012303548020248576, 'feature_fraction': 0.8944851161023809, 'bagging_fraction': 0.8154160809247433, 'lambda_l1': 0.1622093753758021, 'lambda_l2': 0.6221773383201302}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:35:48,144] Trial 42 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 188, 'min_child_samples': 184, 'min_sum_hessian_in_leaf': 0.00011658990279733586, 'feature_fraction': 0.896091230130897, 'bagging_fraction': 0.8161297461325123, 'lambda_l1': 0.40905712107894415, 'lambda_l2': 3.3024075755899083}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:36:01,674] Trial 44 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 213, 'min_child_samples': 123, 'min_sum_hessian_in_leaf': 0.00010563083772892929, 'feature_fraction': 0.7245912200949765, 'bagging_fraction': 0.68434036412377, 'lambda_l1': 0.1791402943409379, 'lambda_l2': 8.216963607946669}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:38:15,182] Trial 45 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 212, 'min_child_samples': 186, 'min_sum_hessian_in_leaf': 0.00014571479526400175, 'feature_fraction': 0.7316914014605373, 'bagging_fraction': 0.5817323668731781, 'lambda_l1': 0.21645166280342576, 'lambda_l2': 86.02402879452472}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:39:29,630] Trial 46 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 214, 'min_child_samples': 64, 'min_sum_hessian_in_leaf': 0.0014996396683680361, 'feature_fraction': 0.754483691906668, 'bagging_fraction': 0.5837991534838519, 'lambda_l1': 0.2648810026910562, 'lambda_l2': 7.58526217682596}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:39:46,758] Trial 48 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 237, 'min_child_samples': 59, 'min_sum_hessian_in_leaf': 0.0015355976497153831, 'feature_fraction': 0.5350552639880275, 'bagging_fraction': 0.5922950841917772, 'lambda_l1': 1.6666718127661233, 'lambda_l2': 87.09179377075041}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:39:48,234] Trial 47 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 216, 'min_child_samples': 54, 'min_sum_hessian_in_leaf': 0.0013558631216916651, 'feature_fraction': 0.9496381982870834, 'bagging_fraction': 0.6007345982126757, 'lambda_l1': 0.2628449995343908, 'lambda_l2': 97.03882020201118}. Best is trial 0 with value: 0.7964578680641743.
[I 2022-07-19 00:39:49,913] Trial 49 finished with value: 0.7964578680641743 and parameters: {'num_leaves': 239, 'min_child_samples': 54, 'min_sum_hessian_in_leaf': 0.0027399119951552115, 'feature_fraction': 0.5432563796517565, 'bagging_fraction': 0.5776353409680023, 'lambda_l1': 1.7639045488969414, 'lambda_l2': 78.02137465319551}. Best is trial 0 with value: 0.7964578680641743.

In [41]:
trial = study.best_trial
print("auc(best)={:.4f}".format(trial.value))
display(trial.params)

auc(best)=0.7965

{'num_leaves': 241,
 'min_child_samples': 165,
 'min_sum_hessian_in_leaf': 0.00019932485005063924,
 'feature_fraction': 0.7094011018171225,
 'bagging_fraction': 0.5664677719068973,
 'lambda_l1': 0.21209200170811635,
 'lambda_l2': 8.511905655877966}

In [42]:
params_best = trial.params
params_best.update(params_base)
display(params_best)

{'num_leaves': 30,
 'min_child_samples': 70,
 'min_sum_hessian_in_leaf': 0.00019932485005063924,
 'feature_fraction': 0.7094011018171225,
 'bagging_fraction': 0.5664677719068973,
 'lambda_l1': 0.21209200170811635,
 'lambda_l2': 8.511905655877966,
 'boosting_type': 'gbdt',
 'objective': 'binary',
 'metric': 'auc',
 'learning_rate': 0.02,
 'max_bin': 400,
 'max_depth': -1,
 'subsample': 1.0,
 'subsample_freq': 1,
 'colsample_bytree': 0.05,
 'min_split_gain': 0.5,
 'reg_alpha': 0.0,
 'reg_lambda': 100,
 'n_estimators': 10000}

In [43]:
train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5
                                    ,params=params_best)

-------------------- 0 --------------------
(246008, 547) (61503, 547)
[LightGBM] [Warning] feature_fraction is set=0.7094011018171225, colsample_bytree=0.05 will be ignored. Current value: feature_fraction=0.7094011018171225
[LightGBM] [Warning] lambda_l1 is set=0.21209200170811635, reg_alpha=0.0 will be ignored. Current value: lambda_l1=0.21209200170811635
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.00019932485005063924, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.00019932485005063924
[LightGBM] [Warning] bagging_fraction is set=0.5664677719068973, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5664677719068973
[LightGBM] [Warning] lambda_l2 is set=8.511905655877966, reg_lambda=100 will be ignored. Current value: lambda_l2=8.511905655877966
[100]	training's auc: 0.804767	valid_1's auc: 0.795659
[200]	training's auc: 0.811101	valid_1's auc: 0.796051
[300]	training's auc: 0.817213	valid_1's auc: 0.796016
[400]	training's auc: 0.823086	valid_1's auc: 0.795942
[500]	training's auc: 0.828681	valid_1's auc: 0.795697
[600]	training's auc: 0.83423	valid_1's auc: 0.795572
[700]	training's auc: 0.839562	valid_1's auc: 0.795116
[800]	training's auc: 0.844799	valid_1's auc: 0.794879
[900]	training's auc: 0.849899	valid_1's auc: 0.794745
[1000]	training's auc: 0.854809	valid_1's auc: 0.794421
[1100]	training's auc: 0.859865	valid_1's auc: 0.794293
[1200]	training's auc: 0.865039	valid_1's auc: 0.793975
[1300]	training's auc: 0.869736	valid_1's auc: 0.793641
[1400]	training's auc: 0.874387	valid_1's auc: 0.793552
[1500]	training's auc: 0.879083	valid_1's auc: 0.793179
[1600]	training's auc: 0.883399	valid_1's auc: 0.792992
[1700]	training's auc: 0.887849	valid_1's auc: 0.792818
[1800]	training's auc: 0.892047	valid_1's auc: 0.792703
[1900]	training's auc: 0.896089	valid_1's auc: 0.792451
[2000]	training's auc: 0.900459	valid_1's auc: 0.79215
[2100]	training's auc: 0.904356	valid_1's auc: 0.791963
[2200]	training's auc: 0.908016	valid_1's auc: 0.791887
[auc] tr:0.813734, va0.7961
-------------------- 1 --------------------
(246009, 547) (61502, 547)
[LightGBM] [Warning] feature_fraction is set=0.7094011018171225, colsample_bytree=0.05 will be ignored. Current value: feature_fraction=0.7094011018171225
[LightGBM] [Warning] lambda_l1 is set=0.21209200170811635, reg_alpha=0.0 will be ignored. Current value: lambda_l1=0.21209200170811635
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.00019932485005063924, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.00019932485005063924
[LightGBM] [Warning] bagging_fraction is set=0.5664677719068973, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5664677719068973
[LightGBM] [Warning] lambda_l2 is set=8.511905655877966, reg_lambda=100 will be ignored. Current value: lambda_l2=8.511905655877966
[100]	training's auc: 0.80397	valid_1's auc: 0.799357
[200]	training's auc: 0.810123	valid_1's auc: 0.799954
[300]	training's auc: 0.816301	valid_1's auc: 0.800088
[400]	training's auc: 0.822261	valid_1's auc: 0.799852
[500]	training's auc: 0.827935	valid_1's auc: 0.799768
[600]	training's auc: 0.8333	valid_1's auc: 0.799625
[700]	training's auc: 0.838675	valid_1's auc: 0.799439
[800]	training's auc: 0.844016	valid_1's auc: 0.79939
[900]	training's auc: 0.849396	valid_1's auc: 0.799194
[1000]	training's auc: 0.854458	valid_1's auc: 0.79901
[1100]	training's auc: 0.859321	valid_1's auc: 0.798996
[1200]	training's auc: 0.864056	valid_1's auc: 0.798698
[1300]	training's auc: 0.86885	valid_1's auc: 0.798683
[1400]	training's auc: 0.873656	valid_1's auc: 0.798424
[1500]	training's auc: 0.878286	valid_1's auc: 0.79834
[1600]	training's auc: 0.882741	valid_1's auc: 0.798324
[1700]	training's auc: 0.887181	valid_1's auc: 0.798137
[1800]	training's auc: 0.891658	valid_1's auc: 0.797918
[1900]	training's auc: 0.895861	valid_1's auc: 0.797654
[2000]	training's auc: 0.899736	valid_1's auc: 0.797472
[2100]	training's auc: 0.903588	valid_1's auc: 0.797305
[2200]	training's auc: 0.907286	valid_1's auc: 0.797193
[auc] tr:0.814901, va0.8002
-------------------- 2 --------------------
(246009, 547) (61502, 547)
[LightGBM] [Warning] feature_fraction is set=0.7094011018171225, colsample_bytree=0.05 will be ignored. Current value: feature_fraction=0.7094011018171225
[LightGBM] [Warning] lambda_l1 is set=0.21209200170811635, reg_alpha=0.0 will be ignored. Current value: lambda_l1=0.21209200170811635
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.00019932485005063924, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.00019932485005063924
[LightGBM] [Warning] bagging_fraction is set=0.5664677719068973, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5664677719068973
[LightGBM] [Warning] lambda_l2 is set=8.511905655877966, reg_lambda=100 will be ignored. Current value: lambda_l2=8.511905655877966
[100]	training's auc: 0.80423	valid_1's auc: 0.799418
[200]	training's auc: 0.810412	valid_1's auc: 0.799509
[300]	training's auc: 0.816655	valid_1's auc: 0.799554
[400]	training's auc: 0.822609	valid_1's auc: 0.799384
[500]	training's auc: 0.828348	valid_1's auc: 0.799089
[600]	training's auc: 0.833977	valid_1's auc: 0.799052
[700]	training's auc: 0.839355	valid_1's auc: 0.798983
[800]	training's auc: 0.84467	valid_1's auc: 0.798783
[900]	training's auc: 0.849892	valid_1's auc: 0.798475
[1000]	training's auc: 0.854853	valid_1's auc: 0.798167
[1100]	training's auc: 0.859813	valid_1's auc: 0.798127
[1200]	training's auc: 0.864618	valid_1's auc: 0.797966
[1300]	training's auc: 0.869364	valid_1's auc: 0.797702
[1400]	training's auc: 0.873949	valid_1's auc: 0.797482
[1500]	training's auc: 0.878491	valid_1's auc: 0.79733
[1600]	training's auc: 0.883143	valid_1's auc: 0.797029
[1700]	training's auc: 0.88721	valid_1's auc: 0.796811
[1800]	training's auc: 0.891519	valid_1's auc: 0.796741
[1900]	training's auc: 0.895642	valid_1's auc: 0.796587
[2000]	training's auc: 0.899547	valid_1's auc: 0.79642
[2100]	training's auc: 0.903199	valid_1's auc: 0.796286
[2200]	training's auc: 0.906996	valid_1's auc: 0.796107
[auc] tr:0.815487, va0.7996
-------------------- 3 --------------------
(246009, 547) (61502, 547)
[LightGBM] [Warning] feature_fraction is set=0.7094011018171225, colsample_bytree=0.05 will be ignored. Current value: feature_fraction=0.7094011018171225
[LightGBM] [Warning] lambda_l1 is set=0.21209200170811635, reg_alpha=0.0 will be ignored. Current value: lambda_l1=0.21209200170811635
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.00019932485005063924, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.00019932485005063924
[LightGBM] [Warning] bagging_fraction is set=0.5664677719068973, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5664677719068973
[LightGBM] [Warning] lambda_l2 is set=8.511905655877966, reg_lambda=100 will be ignored. Current value: lambda_l2=8.511905655877966
[100]	training's auc: 0.804831	valid_1's auc: 0.796154
[200]	training's auc: 0.811046	valid_1's auc: 0.796352
[300]	training's auc: 0.817365	valid_1's auc: 0.796111
[400]	training's auc: 0.823294	valid_1's auc: 0.795933
[500]	training's auc: 0.829095	valid_1's auc: 0.795983
[600]	training's auc: 0.834504	valid_1's auc: 0.795697
[700]	training's auc: 0.839882	valid_1's auc: 0.795494
[800]	training's auc: 0.845192	valid_1's auc: 0.795182
[900]	training's auc: 0.85028	valid_1's auc: 0.795095
[1000]	training's auc: 0.855405	valid_1's auc: 0.794797
[1100]	training's auc: 0.860416	valid_1's auc: 0.794561
[1200]	training's auc: 0.86536	valid_1's auc: 0.794287
[1300]	training's auc: 0.870281	valid_1's auc: 0.794057
[1400]	training's auc: 0.874834	valid_1's auc: 0.793798
[1500]	training's auc: 0.879145	valid_1's auc: 0.793595
[1600]	training's auc: 0.883545	valid_1's auc: 0.793308
[1700]	training's auc: 0.888053	valid_1's auc: 0.793092
[1800]	training's auc: 0.892111	valid_1's auc: 0.792803
[1900]	training's auc: 0.896185	valid_1's auc: 0.792549
[2000]	training's auc: 0.900526	valid_1's auc: 0.792311
[2100]	training's auc: 0.904369	valid_1's auc: 0.792143
[2200]	training's auc: 0.907976	valid_1's auc: 0.791955

[auc] tr:0.811564, va0.7964
-------------------- 4 --------------------
(246009, 547) (61502, 547)
[LightGBM] [Warning] feature_fraction is set=0.7094011018171225, colsample_bytree=0.05 will be ignored. Current value: feature_fraction=0.7094011018171225
[LightGBM] [Warning] lambda_l1 is set=0.21209200170811635, reg_alpha=0.0 will be ignored. Current value: lambda_l1=0.21209200170811635
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.00019932485005063924, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.00019932485005063924
[LightGBM] [Warning] bagging_fraction is set=0.5664677719068973, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5664677719068973
[LightGBM] [Warning] lambda_l2 is set=8.511905655877966, reg_lambda=100 will be ignored. Current value: lambda_l2=8.511905655877966
[100]	training's auc: 0.805576	valid_1's auc: 0.792812
[200]	training's auc: 0.811685	valid_1's auc: 0.793101
[300]	training's auc: 0.817898	valid_1's auc: 0.792882
[400]	training's auc: 0.823987	valid_1's auc: 0.792701
[500]	training's auc: 0.829723	valid_1's auc: 0.792549
[600]	training's auc: 0.835217	valid_1's auc: 0.792079
[700]	training's auc: 0.840441	valid_1's auc: 0.791783
[800]	training's auc: 0.845591	valid_1's auc: 0.791315
[900]	training's auc: 0.850763	valid_1's auc: 0.790995
[1000]	training's auc: 0.855857	valid_1's auc: 0.790682
[1100]	training's auc: 0.860645	valid_1's auc: 0.790468
[1200]	training's auc: 0.865722	valid_1's auc: 0.790308
[1300]	training's auc: 0.870284	valid_1's auc: 0.790165
[1400]	training's auc: 0.87502	valid_1's auc: 0.789845
[1500]	training's auc: 0.879428	valid_1's auc: 0.789662
[1600]	training's auc: 0.883897	valid_1's auc: 0.789249
[1700]	training's auc: 0.888259	valid_1's auc: 0.789075
[1800]	training's auc: 0.892443	valid_1's auc: 0.788962
[1900]	training's auc: 0.896678	valid_1's auc: 0.788706
[2000]	training's auc: 0.900554	valid_1's auc: 0.788529
[2100]	training's auc: 0.904301	valid_1's auc: 0.78834
[auc] tr:0.811100, va0.7931
-------------------- result --------------------
[[0.         0.8137342  0.79613646]
 [1.         0.81490062 0.80017141]
 [2.         0.81548707 0.79961344]
 [3.         0.81156409 0.79637745]
 [4.         0.81109964 0.7931138 ]]
[cv] tr:0.8134+-0.0018, va:0.7971+-0.0026
[oof]0.7971

In [44]:
# 推論用データセットの作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

# predict
test_pred = baseline.predict_lgb(x_test
                       ,id_test
                       ,list_nfold=[0,1,2,3,4])

# make submission-file
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv("./home-credit-default-risk/submit/submission_OS_3-2.csv", index=None)

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.
(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.035072
1      100005  0.112501
2      100013  0.052645
3      100028  0.037694
4      100038  0.189779