In [1]:
import torch
# GPUの名称、CUDA Compute Capabilityを取得
print(torch.cuda.get_device_name())

NVIDIA GeForce RTX 2080 Ti

## CSV読み込み

In [2]:
import cupy as cp
import numpy as np
import pandas as pd
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import scipy.stats as st
import pickle
import optuna
import re
import gc

from lightgbm import LGBMClassifier

from sklearn import metrics
from sklearn.tree import plot_tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.impute import SimpleImputer
from sklearn_pandas import DataFrameMapper
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import log_loss
from sklearn.metrics import mean_squared_log_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.metrics import roc_auc_score
from sklearn.datasets import make_moons
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_selection import mutual_info_classif
from sklearn.experimental import enable_iterative_imputer

from keras.layers import Dense, Dropout
from keras.models import Sequential

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

from tqdm import tqdm

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

import xgboost as xgb
from sklearn.metrics import log_loss
from xgboost.sklearn import XGBClassifier

from Modules import Modules

from Baseline import Baseline

from FeatureEngineering import FeatureEngineering

from sqlalchemy import null, true

%matplotlib inline

gc.enable()

print("OK\n")

OK

In [3]:
"""
params_base = {
            'boosting_type': 'gbdt'
            ,'objective': 'binary'
            ,'metric': 'auc'
            ,'verbosity': -1
            ,'learning_rate': 0.05
            ,'n_estimators': 100000
            ,'random_state':123
            ,'bagging_freq': 1   
}
"""
params_base = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_samples': 165
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}


def objective(trial):
    # 探索するパラメータ
    param_tuning = {
            "num_leaves": trial.suggest_int("num_leaves", 8, 256)
            ,"min_child_samples": trial.suggest_int("min_child_samples", 5, 200)
            ,"min_sum_hessian_in_leaf": trial.suggest_float("min_sum_hessian_in_leaf", 1e-5, 1e-2, log=True)
            ,"feature_fraction": trial.suggest_float("feature_fraction", 0.5, 1.0)
            ,"bagging_fraction": trial.suggest_float("bagging_fraction", 0.5, 1.0)
            ,"lambda_l1": trial.suggest_float("lambda_l1", 1e-2, 1e+2, log=True)
            ,"lambda_l2": trial.suggest_float("lambda_l2", 1e-2, 1e+2, log=True)
    }
    param_tuning.update(params_base)

    # モデル学習・評価:
    list_metrics = []
    cv = list(StratifiedKFold(n_splits=5, shuffle=True, random_state=123).split(x_train, y_train))
    list_fold = [0]
    for nfold in list_fold:
        idx_tr, idx_va = cv[nfold][0], cv[nfold][1]
        x_tr, y_tr = x_train.loc[idx_tr, :], y_train[idx_tr]
        x_va, y_va = x_train.loc[idx_va, :], y_train[idx_va]
        model = lgb.LGBMClassifier(**params)
        model.fit(x_tr
                    ,y_tr
                    ,eval_set=[(x_tr, y_tr), (x_va, y_va)]
                    ,early_stopping_rounds=100
                    ,verbose=0
        )
        y_va_pred = model.predict_proba(x_va)[:,1]
        metric_va = roc_auc_score(y_va, y_va_pred)
        list_metrics.append(metric_va)

    # 評価指数の算出
    metrics = np.mean(list_metrics)

    return metrics

In [4]:
df_train_origin = pd.read_csv('./home-credit-default-risk/exports/df_train.csv')
df_test_origin =  pd.read_csv('./home-credit-default-risk/exports/df_test.csv')
df_train_origin.head()

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Returned_to_the_store_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_Amortized_debt_MEAN,POS_COUNT
0,100002,1,0,0,0,0,202500.0,406597.5,24700.5,351000.0,...,1.0000,0.00000,0.00000,0.0,0.0000,0.0,0.0,0.0,0.0,19.0
1,100003,0,1,0,1,0,270000.0,1293502.5,35698.5,1129500.0,...,0.9287,0.07140,0.00000,0.0,0.0000,0.0,0.0,0.0,0.0,28.0
2,100004,0,0,1,0,0,67500.0,135000.0,6750.0,135000.0,...,0.7500,0.25000,0.00000,0.0,0.0000,0.0,0.0,0.0,0.0,4.0
3,100006,0,1,0,0,0,135000.0,312682.5,29686.5,297000.0,...,0.8570,0.09520,0.00000,0.0,0.0476,0.0,0.0,0.0,0.0,21.0
4,100007,0,0,0,0,0,121500.0,513000.0,21865.5,513000.0,...,0.9395,0.04544,0.01515,0.0,0.0000,0.0,0.0,0.0,0.0,66.0

## 前処理

In [5]:
# infをnanへ置換
df_train_origin = df_train_origin.replace([np.inf, -np.inf], np.nan)
df_test_origin = df_test_origin.replace([np.inf, -np.inf], np.nan)
df_train_origin.head()

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Returned_to_the_store_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_Amortized_debt_MEAN,POS_COUNT
0,100002,1,0,0,0,0,202500.0,406597.5,24700.5,351000.0,...,1.0000,0.00000,0.00000,0.0,0.0000,0.0,0.0,0.0,0.0,19.0
1,100003,0,1,0,1,0,270000.0,1293502.5,35698.5,1129500.0,...,0.9287,0.07140,0.00000,0.0,0.0000,0.0,0.0,0.0,0.0,28.0
2,100004,0,0,1,0,0,67500.0,135000.0,6750.0,135000.0,...,0.7500,0.25000,0.00000,0.0,0.0000,0.0,0.0,0.0,0.0,4.0
3,100006,0,1,0,0,0,135000.0,312682.5,29686.5,297000.0,...,0.8570,0.09520,0.00000,0.0,0.0476,0.0,0.0,0.0,0.0,21.0
4,100007,0,0,0,0,0,121500.0,513000.0,21865.5,513000.0,...,0.9395,0.04544,0.01515,0.0,0.0000,0.0,0.0,0.0,0.0,66.0

In [6]:
#df_train_origin = df_train_origin.fillna(0)
#df_test_origin = df_test_origin.fillna(0)
#df_train_origin.head()

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Returned_to_the_store_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_Amortized_debt_MEAN,POS_COUNT
0,100002,1,0,0,0,0,202500.0,406597.5,24700.5,351000.0,...,1.0000,0.00000,0.00000,0.0,0.0000,0.0,0.0,0.0,0.0,19.0
1,100003,0,1,0,1,0,270000.0,1293502.5,35698.5,1129500.0,...,0.9287,0.07140,0.00000,0.0,0.0000,0.0,0.0,0.0,0.0,28.0
2,100004,0,0,1,0,0,67500.0,135000.0,6750.0,135000.0,...,0.7500,0.25000,0.00000,0.0,0.0000,0.0,0.0,0.0,0.0,4.0
3,100006,0,1,0,0,0,135000.0,312682.5,29686.5,297000.0,...,0.8570,0.09520,0.00000,0.0,0.0476,0.0,0.0,0.0,0.0,21.0
4,100007,0,0,0,0,0,121500.0,513000.0,21865.5,513000.0,...,0.9395,0.04544,0.01515,0.0,0.0000,0.0,0.0,0.0,0.0,66.0

In [7]:
for col in df_train_origin.columns:
    df_train_origin[col] = df_train_origin[col].replace('\s', '_', regex=True)
    df_train_origin[col] = df_train_origin[col].replace(':', '_', regex=True)
    df_train_origin[col] = df_train_origin[col].replace('/', '_', regex=True)
    df_train_origin[col] = df_train_origin[col].replace(r'\(', r'_', regex=True)
    df_train_origin[col] = df_train_origin[col].replace(r'\)', r'_', regex=True)
    df_train_origin[col] = df_train_origin[col].replace(r'\+', r'_', regex=True)

df_train_origin.head()

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Returned_to_the_store_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_Amortized_debt_MEAN,POS_COUNT
0,100002,1,0,0,0,0,202500.0,406597.5,24700.5,351000.0,...,1.0000,0.00000,0.00000,0.0,0.0000,0.0,0.0,0.0,0.0,19.0
1,100003,0,1,0,1,0,270000.0,1293502.5,35698.5,1129500.0,...,0.9287,0.07140,0.00000,0.0,0.0000,0.0,0.0,0.0,0.0,28.0
2,100004,0,0,1,0,0,67500.0,135000.0,6750.0,135000.0,...,0.7500,0.25000,0.00000,0.0,0.0000,0.0,0.0,0.0,0.0,4.0
3,100006,0,1,0,0,0,135000.0,312682.5,29686.5,297000.0,...,0.8570,0.09520,0.00000,0.0,0.0476,0.0,0.0,0.0,0.0,21.0
4,100007,0,0,0,0,0,121500.0,513000.0,21865.5,513000.0,...,0.9395,0.04544,0.01515,0.0,0.0000,0.0,0.0,0.0,0.0,66.0

In [8]:
for col in df_test_origin.columns:
    df_test_origin[col] = df_test_origin[col].replace('\s', '_', regex=True)
    df_test_origin[col] = df_test_origin[col].replace(':', '_', regex=True)
    df_test_origin[col] = df_test_origin[col].replace('/', '_', regex=True)
    df_test_origin[col] = df_test_origin[col].replace(r'\(', r'_', regex=True)
    df_test_origin[col] = df_test_origin[col].replace(r'\)', r'_', regex=True)
    df_test_origin[col] = df_test_origin[col].replace(r'\+', r'_', regex=True)

df_test_origin.head()

,SK_ID_CURR,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Returned_to_the_store_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_Amortized_debt_MEAN,POS_COUNT
0,100001,0,0,0,0,135000.0,568800.0,20560.5,450000.0,0.01884,...,0.7780,0.2222,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,9.0
1,100005,1,0,0,0,99000.0,222768.0,17370.0,180000.0,0.03580,...,0.8184,0.0909,0.09090,0.0,0.0,0.0,0.0,0.0,0.0,11.0
2,100013,1,1,0,0,202500.0,663264.0,69777.0,630000.0,0.01910,...,0.8887,0.0833,0.02777,0.0,0.0,0.0,0.0,0.0,0.0,36.0
3,100028,0,0,0,2,315000.0,1575000.0,49018.5,1575000.0,0.02640,...,0.9355,0.0645,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,31.0
4,100038,1,1,1,1,180000.0,625500.0,32067.0,625500.0,0.01003,...,0.9230,0.0769,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,13.0

In [9]:
baseline = Baseline('SK_ID_CURR')
modules = Modules('SK_ID_CURR')

In [10]:
encoding_columns = []

for col in df_test_origin.columns:
    print(col)
    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')
encoding_columns.remove('EXT_SOURCE_3')
encoding_columns.remove('EXT_SOURCE_2')
encoding_columns.remove('EXT_SOURCE_1')

SK_ID_CURR
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
TOTALAREA_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_11
FLAG_DOCUMENT_18
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR
NAME_CONTRACT_TYPE_Cash_loans
NAME_CONTRACT_TYPE_Revolving_loans
NAME_TYPE_SUITE_Unaccompanied
NAME_TYPE_SUITE_nan
NAME_TYPE_SUITE_Family
NAME_TYPE_SUITE_Spouse_partner
NAME_TYPE_SUITE_Group_of_people
NAME_TYPE_SUITE_Other_B
NAME_TYPE_SUITE_Children
NAME_TYPE_SUITE_Other_A
NAME_INCOME_TYPE_Working
NAME_INCOME_TYPE_State_servant
NAME_INCOME_TYPE_Pensioner
NAME_INCOME_TYPE_Commercial_associate
NAME_INCOME_TYPE_Businessman
NAME_INCOME_TYPE_Student
NAME_INCOME_TYPE_Unemployed
NAME_EDUCATION_TYPE_Higher_education
NAME_EDUCATION_TYPE_Secondary___secondary_special
NAME_EDUCATION_TYPE_Incomplete_higher
NAME_EDUCATION_TYPE_Lower_secondary
NAME_EDUCATION_TYPE_Academic_degree
NAME_FAMILY_STATUS_Married
NAME_FAMILY_STATUS_Single___not_married
NAME_FAMILY_STATUS_Civil_marriage
NAME_FAMILY_STATUS_Widow
NAME_FAMILY_STATUS_Separated
NAME_HOUSING_TYPE_House___apartment
NAME_HOUSING_TYPE_With_parents
NAME_HOUSING_TYPE_Rented_apartment
NAME_HOUSING_TYPE_Municipal_apartment
NAME_HOUSING_TYPE_Office_apartment
NAME_HOUSING_TYPE_Co_op_apartment
OCCUPATION_TYPE_nan
OCCUPATION_TYPE_Low_skill_Laborers
OCCUPATION_TYPE_Drivers
OCCUPATION_TYPE_Sales_staff
OCCUPATION_TYPE_High_skill_tech_staff
OCCUPATION_TYPE_Core_staff
OCCUPATION_TYPE_Laborers
OCCUPATION_TYPE_Managers
OCCUPATION_TYPE_Accountants
OCCUPATION_TYPE_Medicine_staff
OCCUPATION_TYPE_Security_staff
OCCUPATION_TYPE_Private_service_staff
OCCUPATION_TYPE_Secretaries
OCCUPATION_TYPE_Cleaning_staff
OCCUPATION_TYPE_Cooking_staff
OCCUPATION_TYPE_HR_staff
OCCUPATION_TYPE_Waiters_barmen_staff
OCCUPATION_TYPE_Realty_agents
OCCUPATION_TYPE_IT_staff
WEEKDAY_APPR_PROCESS_START_TUESDAY
WEEKDAY_APPR_PROCESS_START_FRIDAY
WEEKDAY_APPR_PROCESS_START_MONDAY
WEEKDAY_APPR_PROCESS_START_WEDNESDAY
WEEKDAY_APPR_PROCESS_START_THURSDAY
WEEKDAY_APPR_PROCESS_START_SATURDAY
WEEKDAY_APPR_PROCESS_START_SUNDAY
ORGANIZATION_TYPE_Kindergarten
ORGANIZATION_TYPE_Self_employed
ORGANIZATION_TYPE_Transport__type_3
ORGANIZATION_TYPE_Business_Entity_Type_3
ORGANIZATION_TYPE_Government
ORGANIZATION_TYPE_Industry__type_9
ORGANIZATION_TYPE_School
ORGANIZATION_TYPE_Trade__type_2
ORGANIZATION_TYPE_XNA
ORGANIZATION_TYPE_Services
ORGANIZATION_TYPE_Bank
ORGANIZATION_TYPE_Industry__type_3
ORGANIZATION_TYPE_Other
ORGANIZATION_TYPE_Trade__type_6
ORGANIZATION_TYPE_Industry__type_12
ORGANIZATION_TYPE_Trade__type_7
ORGANIZATION_TYPE_Postal
ORGANIZATION_TYPE_Medicine
ORGANIZATION_TYPE_Housing
ORGANIZATION_TYPE_Business_Entity_Type_2
ORGANIZATION_TYPE_Construction
ORGANIZATION_TYPE_Military
ORGANIZATION_TYPE_Industry__type_4
ORGANIZATION_TYPE_Trade__type_3
ORGANIZATION_TYPE_Legal_Services
ORGANIZATION_TYPE_Security
ORGANIZATION_TYPE_Industry__type_11
ORGANIZATION_TYPE_University
ORGANIZATION_TYPE_Business_Entity_Type_1
ORGANIZATION_TYPE_Agriculture
ORGANIZATION_TYPE_Security_Ministries
ORGANIZATION_TYPE_Transport__type_2
ORGANIZATION_TYPE_Industry__type_7
ORGANIZATION_TYPE_Transport__type_4
ORGANIZATION_TYPE_Telecom
ORGANIZATION_TYPE_Emergency
ORGANIZATION_TYPE_Police
ORGANIZATION_TYPE_Industry__type_1
ORGANIZATION_TYPE_Transport__type_1
ORGANIZATION_TYPE_Electricity
ORGANIZATION_TYPE_Industry__type_5
ORGANIZATION_TYPE_Hotel
ORGANIZATION_TYPE_Restaurant
ORGANIZATION_TYPE_Advertising
ORGANIZATION_TYPE_Mobile
ORGANIZATION_TYPE_Trade__type_1
ORGANIZATION_TYPE_Industry__type_8
ORGANIZATION_TYPE_Realtor
ORGANIZATION_TYPE_Cleaning
ORGANIZATION_TYPE_Industry__type_2
ORGANIZATION_TYPE_Trade__type_4
ORGANIZATION_TYPE_Industry__type_6
ORGANIZATION_TYPE_Culture
ORGANIZATION_TYPE_Insurance
ORGANIZATION_TYPE_Religion
ORGANIZATION_TYPE_Industry__type_13
ORGANIZATION_TYPE_Industry__type_10
ORGANIZATION_TYPE_Trade__type_5
app_missing
NEW_SOURCES_PROD
app_NEW_EXT_SOURCES_MEAN
app_NEW_SCORES_STD
app_EXT_SOURCE_prod
app_EXT_SOURCE_1_times_EXT_SOURCE_2
app_EXT_SOURCE_1_times_EXT_SOURCE_3
app_EXT_SOURCE_2_times_EXT_SOURCE_3
app_EXT_SOURCE_1_times_DAYS_EMPLOYED
app_EXT_SOURCE_2_times_DAYS_EMPLOYED
app_EXT_SOURCE_3_times_DAYS_EMPLOYED
app_EXT_SOURCE_1_PER_DAYS_BIRTH
app_EXT_SOURCE_2_PER_DAYS_BIRTH
app_EXT_SOURCE_3_PER_DAYS_BIRTH
app_AMT_CREDIT_AMT_GOODS_PRICE
app_AMT_CREDIT_PER_AMT_GOODS_PRICE
app_AMT_CREDIT_PER_AMT_ANNUITY
app_PAYMENT_RATE
app_AMT_CREDIT_PER_AMT_INCOME_TOTAL
app_INCOME_CREDIT_PERC
app_AMT_INCOME_TOTAL_div_12_AMT_ANNUITY
app_AMT_INCOME_TOTAL_PER_AMT_ANNUITY
app_ANNUITY_INCOME_PERC
app_AMT_INCOME_TOTAL_AMT_GOODS_PRICE
app_INCOME_PER_PERSON
app_AMT_INCOME_TOTAL_div_CNT_CHILDREN
app_most_popular_AMT_GOODS_PRICE
app_popular_AMT_GOODS_PRICE
app_OWN_CAR_AGE_div_DAYS_BIRTH
app_OWN_CAR_AGE_div_DAYS_EMPLOYED
app_DAYS_LAST_PHONE_CHANGE_div_DAYS_BIRTH
app_DAYS_LAST_PHONE_CHANGE_div_DAYS_EMPLOYED
app_DAYS_EMPLOYED_PERC
app_DAYS_EMPLOYED_div_DAYS_BIRTH
app_CNT_CHILDREN_div_CNT_FAM_MEMBERS
BURO_SK_ID_CURR_MIN
BURO_SK_ID_CURR_MAX
BURO_SK_ID_CURR_SIZE
BURO_SK_ID_CURR_MEAN
BURO_SK_ID_CURR_VAR
BURO_SK_ID_CURR_SUM
BURO_DAYS_CREDIT_MIN
BURO_DAYS_CREDIT_MAX
BURO_DAYS_CREDIT_SIZE
BURO_DAYS_CREDIT_MEAN
BURO_DAYS_CREDIT_VAR
BURO_DAYS_CREDIT_SUM
BURO_CREDIT_DAY_OVERDUE_MIN
BURO_CREDIT_DAY_OVERDUE_MAX
BURO_CREDIT_DAY_OVERDUE_SIZE
BURO_CREDIT_DAY_OVERDUE_MEAN
BURO_CREDIT_DAY_OVERDUE_VAR
BURO_CREDIT_DAY_OVERDUE_SUM
BURO_DAYS_CREDIT_ENDDATE_MIN
BURO_DAYS_CREDIT_ENDDATE_MAX
BURO_DAYS_CREDIT_ENDDATE_SIZE
BURO_DAYS_CREDIT_ENDDATE_MEAN
BURO_DAYS_CREDIT_ENDDATE_VAR
BURO_DAYS_CREDIT_ENDDATE_SUM
BURO_DAYS_ENDDATE_FACT_MIN
BURO_DAYS_ENDDATE_FACT_MAX
BURO_DAYS_ENDDATE_FACT_SIZE
BURO_DAYS_ENDDATE_FACT_MEAN
BURO_DAYS_ENDDATE_FACT_VAR
BURO_DAYS_ENDDATE_FACT_SUM
BURO_AMT_CREDIT_MAX_OVERDUE_MIN
BURO_AMT_CREDIT_MAX_OVERDUE_MAX
BURO_AMT_CREDIT_MAX_OVERDUE_SIZE
BURO_AMT_CREDIT_MAX_OVERDUE_MEAN
BURO_AMT_CREDIT_MAX_OVERDUE_VAR
BURO_AMT_CREDIT_MAX_OVERDUE_SUM
BURO_CNT_CREDIT_PROLONG_MIN
BURO_CNT_CREDIT_PROLONG_MAX
BURO_CNT_CREDIT_PROLONG_SIZE
BURO_CNT_CREDIT_PROLONG_MEAN
BURO_CNT_CREDIT_PROLONG_VAR
BURO_CNT_CREDIT_PROLONG_SUM
BURO_AMT_CREDIT_SUM_MIN
BURO_AMT_CREDIT_SUM_MAX
BURO_AMT_CREDIT_SUM_SIZE
BURO_AMT_CREDIT_SUM_MEAN
BURO_AMT_CREDIT_SUM_VAR
BURO_AMT_CREDIT_SUM_SUM
BURO_AMT_CREDIT_SUM_DEBT_MIN
BURO_AMT_CREDIT_SUM_DEBT_MAX
BURO_AMT_CREDIT_SUM_DEBT_SIZE
BURO_AMT_CREDIT_SUM_DEBT_MEAN
BURO_AMT_CREDIT_SUM_DEBT_VAR
BURO_AMT_CREDIT_SUM_DEBT_SUM
BURO_AMT_CREDIT_SUM_LIMIT_MIN
BURO_AMT_CREDIT_SUM_LIMIT_MAX
BURO_AMT_CREDIT_SUM_LIMIT_SIZE
BURO_AMT_CREDIT_SUM_LIMIT_MEAN
BURO_AMT_CREDIT_SUM_LIMIT_VAR
BURO_AMT_CREDIT_SUM_LIMIT_SUM
BURO_AMT_CREDIT_SUM_OVERDUE_MIN
BURO_AMT_CREDIT_SUM_OVERDUE_MAX
BURO_AMT_CREDIT_SUM_OVERDUE_SIZE
BURO_AMT_CREDIT_SUM_OVERDUE_MEAN
BURO_AMT_CREDIT_SUM_OVERDUE_VAR
BURO_AMT_CREDIT_SUM_OVERDUE_SUM
BURO_DAYS_CREDIT_UPDATE_MIN
BURO_DAYS_CREDIT_UPDATE_MAX
BURO_DAYS_CREDIT_UPDATE_SIZE
BURO_DAYS_CREDIT_UPDATE_MEAN
BURO_DAYS_CREDIT_UPDATE_VAR
BURO_DAYS_CREDIT_UPDATE_SUM
BURO_AMT_ANNUITY_MIN
BURO_AMT_ANNUITY_MAX
BURO_AMT_ANNUITY_SIZE
BURO_AMT_ANNUITY_MEAN
BURO_AMT_ANNUITY_VAR
BURO_AMT_ANNUITY_SUM
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MAX
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_SIZE
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MEAN
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_VAR
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_SUM
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_LIMIT_MIN
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_LIMIT_MAX
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_LIMIT_SIZE
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_LIMIT_MEAN
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_LIMIT_VAR
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_LIMIT_SUM
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_OVERDUE_MIN
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_OVERDUE_MAX
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_OVERDUE_SIZE
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_OVERDUE_MEAN
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_OVERDUE_VAR
BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_OVERDUE_SUM
BURO_bureau_DAYS_CREDIT__CREDIT_DAY_OVERDUE_MIN
BURO_bureau_DAYS_CREDIT__CREDIT_DAY_OVERDUE_MAX
BURO_bureau_DAYS_CREDIT__CREDIT_DAY_OVERDUE_SIZE
BURO_bureau_DAYS_CREDIT__CREDIT_DAY_OVERDUE_MEAN
BURO_bureau_DAYS_CREDIT__CREDIT_DAY_OVERDUE_VAR
BURO_bureau_DAYS_CREDIT__CREDIT_DAY_OVERDUE_SUM
BURO_bureau_DAYS_CREDIT__DAYS_CREDIT_ENDDATE_MIN
BURO_bureau_DAYS_CREDIT__DAYS_CREDIT_ENDDATE_MAX
BURO_bureau_DAYS_CREDIT__DAYS_CREDIT_ENDDATE_SIZE
BURO_bureau_DAYS_CREDIT__DAYS_CREDIT_ENDDATE_MEAN
BURO_bureau_DAYS_CREDIT__DAYS_CREDIT_ENDDATE_VAR
BURO_bureau_DAYS_CREDIT__DAYS_CREDIT_ENDDATE_SUM
BURO_bureau_DAYS_CREDIT__DAYS_ENDDATE_FACT_MIN
BURO_bureau_DAYS_CREDIT__DAYS_ENDDATE_FACT_MAX
BURO_bureau_DAYS_CREDIT__DAYS_ENDDATE_FACT_SIZE
BURO_bureau_DAYS_CREDIT__DAYS_ENDDATE_FACT_MEAN
BURO_bureau_DAYS_CREDIT__DAYS_ENDDATE_FACT_VAR
BURO_bureau_DAYS_CREDIT__DAYS_ENDDATE_FACT_SUM
BURO_bureau_DAYS_CREDIT_ENDDATE__DAYS_ENDDATE_FACT_MIN
BURO_bureau_DAYS_CREDIT_ENDDATE__DAYS_ENDDATE_FACT_MAX
BURO_bureau_DAYS_CREDIT_ENDDATE__DAYS_ENDDATE_FACT_SIZE
BURO_bureau_DAYS_CREDIT_ENDDATE__DAYS_ENDDATE_FACT_MEAN
BURO_bureau_DAYS_CREDIT_ENDDATE__DAYS_ENDDATE_FACT_VAR
BURO_bureau_DAYS_CREDIT_ENDDATE__DAYS_ENDDATE_FACT_SUM
BURO_bureau_DAYS_CREDIT_UPDATE__DAYS_CREDIT_ENDDATE_MIN
BURO_bureau_DAYS_CREDIT_UPDATE__DAYS_CREDIT_ENDDATE_MAX
BURO_bureau_DAYS_CREDIT_UPDATE__DAYS_CREDIT_ENDDATE_SIZE
BURO_bureau_DAYS_CREDIT_UPDATE__DAYS_CREDIT_ENDDATE_MEAN
BURO_bureau_DAYS_CREDIT_UPDATE__DAYS_CREDIT_ENDDATE_VAR
BURO_bureau_DAYS_CREDIT_UPDATE__DAYS_CREDIT_ENDDATE_SUM
BURO_CREDIT_ACTIVE_Closed_MEAN
BURO_CREDIT_ACTIVE_Active_MEAN
BURO_CREDIT_ACTIVE_Sold_MEAN
BURO_CREDIT_ACTIVE_Bad_debt_MEAN
BURO_CREDIT_CURRENCY_currency_1_MEAN
BURO_CREDIT_CURRENCY_currency_2_MEAN
BURO_CREDIT_CURRENCY_currency_4_MEAN
BURO_CREDIT_CURRENCY_currency_3_MEAN
BURO_CREDIT_TYPE_Consumer_credit_MEAN
BURO_CREDIT_TYPE_Credit_card_MEAN
BURO_CREDIT_TYPE_Mortgage_MEAN
BURO_CREDIT_TYPE_Car_loan_MEAN
BURO_CREDIT_TYPE_Microloan_MEAN
BURO_CREDIT_TYPE_Loan_for_working_capital_replenishment_MEAN
BURO_CREDIT_TYPE_Loan_for_business_development_MEAN
BURO_CREDIT_TYPE_Real_estate_loan_MEAN
BURO_CREDIT_TYPE_Unknown_type_of_loan_MEAN
BURO_CREDIT_TYPE_Another_type_of_loan_MEAN
BURO_CREDIT_TYPE_Cash_loan__non_earmarked__MEAN
BURO_CREDIT_TYPE_Loan_for_the_purchase_of_equipment_MEAN
BURO_CREDIT_TYPE_Mobile_operator_loan_MEAN
BURO_CREDIT_TYPE_Interbank_credit_MEAN
BURO_CREDIT_TYPE_Loan_for_purchase_of_shares__margin_lending__MEAN
BURO_SK_ID_BUREAU_MIN_MIN
BURO_SK_ID_BUREAU_MIN_MAX
BURO_SK_ID_BUREAU_MIN_SIZE
BURO_SK_ID_BUREAU_MIN_MEAN
BURO_SK_ID_BUREAU_MIN_VAR
BURO_SK_ID_BUREAU_MIN_SUM
BURO_SK_ID_BUREAU_MAX_MIN
BURO_SK_ID_BUREAU_MAX_MAX
BURO_SK_ID_BUREAU_MAX_SIZE
BURO_SK_ID_BUREAU_MAX_MEAN
BURO_SK_ID_BUREAU_MAX_VAR
BURO_SK_ID_BUREAU_MAX_SUM
BURO_SK_ID_BUREAU_SIZE_MIN
BURO_SK_ID_BUREAU_SIZE_MAX
BURO_SK_ID_BUREAU_SIZE_SIZE
BURO_SK_ID_BUREAU_SIZE_MEAN
BURO_SK_ID_BUREAU_SIZE_VAR
BURO_SK_ID_BUREAU_SIZE_SUM
BURO_MONTHS_BALANCE_MIN_MIN
BURO_MONTHS_BALANCE_MIN_MAX
BURO_MONTHS_BALANCE_MIN_SIZE
BURO_MONTHS_BALANCE_MIN_MEAN
BURO_MONTHS_BALANCE_MIN_VAR
BURO_MONTHS_BALANCE_MIN_SUM
BURO_MONTHS_BALANCE_MAX_MIN
BURO_MONTHS_BALANCE_MAX_MAX
BURO_MONTHS_BALANCE_MAX_SIZE
BURO_MONTHS_BALANCE_MAX_MEAN
BURO_MONTHS_BALANCE_MAX_VAR
BURO_MONTHS_BALANCE_MAX_SUM
BURO_MONTHS_BALANCE_SIZE_MIN
BURO_MONTHS_BALANCE_SIZE_MAX
BURO_MONTHS_BALANCE_SIZE_SIZE
BURO_MONTHS_BALANCE_SIZE_MEAN
BURO_MONTHS_BALANCE_SIZE_VAR
BURO_MONTHS_BALANCE_SIZE_SUM
BURO_Month_MIN_MIN
BURO_Month_MIN_MAX
BURO_Month_MIN_SIZE
BURO_Month_MIN_MEAN
BURO_Month_MIN_VAR
BURO_Month_MIN_SUM
BURO_Month_MAX_MIN
BURO_Month_MAX_MAX
BURO_Month_MAX_SIZE
BURO_Month_MAX_MEAN
BURO_Month_MAX_VAR
BURO_Month_MAX_SUM
BURO_Month_SIZE_MIN
BURO_Month_SIZE_MAX
BURO_Month_SIZE_SIZE
BURO_Month_SIZE_MEAN
BURO_Month_SIZE_VAR
BURO_Month_SIZE_SUM
BURO_When_closed_MIN_MIN
BURO_When_closed_MIN_MAX
BURO_When_closed_MIN_SIZE
BURO_When_closed_MIN_MEAN
BURO_When_closed_MIN_VAR
BURO_When_closed_MIN_SUM
BURO_When_closed_MAX_MIN
BURO_When_closed_MAX_MAX
BURO_When_closed_MAX_SIZE
BURO_When_closed_MAX_MEAN
BURO_When_closed_MAX_VAR
BURO_When_closed_MAX_SUM
BURO_When_closed_SIZE_MIN
BURO_When_closed_SIZE_MAX
BURO_When_closed_SIZE_SIZE
BURO_When_closed_SIZE_MEAN
BURO_When_closed_SIZE_VAR
BURO_When_closed_SIZE_SUM
BURO_Month_closed_to_end_MIN_MIN
BURO_Month_closed_to_end_MIN_MAX
BURO_Month_closed_to_end_MIN_SIZE
BURO_Month_closed_to_end_MIN_MEAN
BURO_Month_closed_to_end_MIN_VAR
BURO_Month_closed_to_end_MIN_SUM
BURO_Month_closed_to_end_MAX_MIN
BURO_Month_closed_to_end_MAX_MAX
BURO_Month_closed_to_end_MAX_SIZE
BURO_Month_closed_to_end_MAX_MEAN
BURO_Month_closed_to_end_MAX_VAR
BURO_Month_closed_to_end_MAX_SUM
BURO_Month_closed_to_end_SIZE_MIN
BURO_Month_closed_to_end_SIZE_MAX
BURO_Month_closed_to_end_SIZE_SIZE
BURO_Month_closed_to_end_SIZE_MEAN
BURO_Month_closed_to_end_SIZE_VAR
BURO_Month_closed_to_end_SIZE_SUM
BURO_DPD_0_cnt_MIN_MIN
BURO_DPD_0_cnt_MIN_MAX
BURO_DPD_0_cnt_MIN_SIZE
BURO_DPD_0_cnt_MIN_MEAN
BURO_DPD_0_cnt_MIN_VAR
BURO_DPD_0_cnt_MIN_SUM
BURO_DPD_0_cnt_MAX_MIN
BURO_DPD_0_cnt_MAX_MAX
BURO_DPD_0_cnt_MAX_SIZE
BURO_DPD_0_cnt_MAX_MEAN
BURO_DPD_0_cnt_MAX_VAR
BURO_DPD_0_cnt_MAX_SUM
BURO_DPD_0_cnt_SIZE_MIN
BURO_DPD_0_cnt_SIZE_MAX
BURO_DPD_0_cnt_SIZE_SIZE
BURO_DPD_0_cnt_SIZE_MEAN
BURO_DPD_0_cnt_SIZE_VAR
BURO_DPD_0_cnt_SIZE_SUM
BURO_DPD_0_Month_MIN_MIN
BURO_DPD_0_Month_MIN_MAX
BURO_DPD_0_Month_MIN_SIZE
BURO_DPD_0_Month_MIN_MEAN
BURO_DPD_0_Month_MIN_VAR
BURO_DPD_0_Month_MIN_SUM
BURO_DPD_0_Month_MAX_MIN
BURO_DPD_0_Month_MAX_MAX
BURO_DPD_0_Month_MAX_SIZE
BURO_DPD_0_Month_MAX_MEAN
BURO_DPD_0_Month_MAX_VAR
BURO_DPD_0_Month_MAX_SUM
BURO_DPD_0_Month_SIZE_MIN
BURO_DPD_0_Month_SIZE_MAX
BURO_DPD_0_Month_SIZE_SIZE
BURO_DPD_0_Month_SIZE_MEAN
BURO_DPD_0_Month_SIZE_VAR
BURO_DPD_0_Month_SIZE_SUM
BURO_DPD_1_cnt_MIN_MIN
BURO_DPD_1_cnt_MIN_MAX
BURO_DPD_1_cnt_MIN_SIZE
BURO_DPD_1_cnt_MIN_MEAN
BURO_DPD_1_cnt_MIN_VAR
BURO_DPD_1_cnt_MIN_SUM
BURO_DPD_1_cnt_MAX_MIN
BURO_DPD_1_cnt_MAX_MAX
BURO_DPD_1_cnt_MAX_SIZE
BURO_DPD_1_cnt_MAX_MEAN
BURO_DPD_1_cnt_MAX_VAR
BURO_DPD_1_cnt_MAX_SUM
BURO_DPD_1_cnt_SIZE_MIN
BURO_DPD_1_cnt_SIZE_MAX
BURO_DPD_1_cnt_SIZE_SIZE
BURO_DPD_1_cnt_SIZE_MEAN
BURO_DPD_1_cnt_SIZE_VAR
BURO_DPD_1_cnt_SIZE_SUM
BURO_DPD_1_Month_MIN_MIN
BURO_DPD_1_Month_MIN_MAX
BURO_DPD_1_Month_MIN_SIZE
BURO_DPD_1_Month_MIN_MEAN
BURO_DPD_1_Month_MIN_VAR
BURO_DPD_1_Month_MIN_SUM
BURO_DPD_1_Month_MAX_MIN
BURO_DPD_1_Month_MAX_MAX
BURO_DPD_1_Month_MAX_SIZE
BURO_DPD_1_Month_MAX_MEAN
BURO_DPD_1_Month_MAX_VAR
BURO_DPD_1_Month_MAX_SUM
BURO_DPD_1_Month_SIZE_MIN
BURO_DPD_1_Month_SIZE_MAX
BURO_DPD_1_Month_SIZE_SIZE
BURO_DPD_1_Month_SIZE_MEAN
BURO_DPD_1_Month_SIZE_VAR
BURO_DPD_1_Month_SIZE_SUM
BURO_DPD_2_cnt_MIN_MIN
BURO_DPD_2_cnt_MIN_MAX
BURO_DPD_2_cnt_MIN_SIZE
BURO_DPD_2_cnt_MIN_MEAN
BURO_DPD_2_cnt_MIN_VAR
BURO_DPD_2_cnt_MIN_SUM
BURO_DPD_2_cnt_MAX_MIN
BURO_DPD_2_cnt_MAX_MAX
BURO_DPD_2_cnt_MAX_SIZE
BURO_DPD_2_cnt_MAX_MEAN
BURO_DPD_2_cnt_MAX_VAR
BURO_DPD_2_cnt_MAX_SUM
BURO_DPD_2_cnt_SIZE_MIN
BURO_DPD_2_cnt_SIZE_MAX
BURO_DPD_2_cnt_SIZE_SIZE
BURO_DPD_2_cnt_SIZE_MEAN
BURO_DPD_2_cnt_SIZE_VAR
BURO_DPD_2_cnt_SIZE_SUM
BURO_DPD_2_Month_MIN_MIN
BURO_DPD_2_Month_MIN_MAX
BURO_DPD_2_Month_MIN_SIZE
BURO_DPD_2_Month_MIN_MEAN
BURO_DPD_2_Month_MIN_VAR
BURO_DPD_2_Month_MIN_SUM
BURO_DPD_2_Month_MAX_MIN
BURO_DPD_2_Month_MAX_MAX
BURO_DPD_2_Month_MAX_SIZE
BURO_DPD_2_Month_MAX_MEAN
BURO_DPD_2_Month_MAX_VAR
BURO_DPD_2_Month_MAX_SUM
BURO_DPD_2_Month_SIZE_MIN
BURO_DPD_2_Month_SIZE_MAX
BURO_DPD_2_Month_SIZE_SIZE
BURO_DPD_2_Month_SIZE_MEAN
BURO_DPD_2_Month_SIZE_VAR
BURO_DPD_2_Month_SIZE_SUM
BURO_DPD_3_cnt_MIN_MIN
BURO_DPD_3_cnt_MIN_MAX
BURO_DPD_3_cnt_MIN_SIZE
BURO_DPD_3_cnt_MIN_MEAN
BURO_DPD_3_cnt_MIN_VAR
BURO_DPD_3_cnt_MIN_SUM
BURO_DPD_3_cnt_MAX_MIN
BURO_DPD_3_cnt_MAX_MAX
BURO_DPD_3_cnt_MAX_SIZE
BURO_DPD_3_cnt_MAX_MEAN
BURO_DPD_3_cnt_MAX_VAR
BURO_DPD_3_cnt_MAX_SUM
BURO_DPD_3_cnt_SIZE_MIN
BURO_DPD_3_cnt_SIZE_MAX
BURO_DPD_3_cnt_SIZE_SIZE
BURO_DPD_3_cnt_SIZE_MEAN
BURO_DPD_3_cnt_SIZE_VAR
BURO_DPD_3_cnt_SIZE_SUM
BURO_DPD_3_Month_MIN_MIN
BURO_DPD_3_Month_MIN_MAX
BURO_DPD_3_Month_MIN_SIZE
BURO_DPD_3_Month_MIN_MEAN
BURO_DPD_3_Month_MIN_VAR
BURO_DPD_3_Month_MIN_SUM
BURO_DPD_3_Month_MAX_MIN
BURO_DPD_3_Month_MAX_MAX
BURO_DPD_3_Month_MAX_SIZE
BURO_DPD_3_Month_MAX_MEAN
BURO_DPD_3_Month_MAX_VAR
BURO_DPD_3_Month_MAX_SUM
BURO_DPD_3_Month_SIZE_MIN
BURO_DPD_3_Month_SIZE_MAX
BURO_DPD_3_Month_SIZE_SIZE
BURO_DPD_3_Month_SIZE_MEAN
BURO_DPD_3_Month_SIZE_VAR
BURO_DPD_3_Month_SIZE_SUM
BURO_DPD_4_cnt_MIN_MIN
BURO_DPD_4_cnt_MIN_MAX
BURO_DPD_4_cnt_MIN_SIZE
BURO_DPD_4_cnt_MIN_MEAN
BURO_DPD_4_cnt_MIN_VAR
BURO_DPD_4_cnt_MIN_SUM
BURO_DPD_4_cnt_MAX_MIN
BURO_DPD_4_cnt_MAX_MAX
BURO_DPD_4_cnt_MAX_SIZE
BURO_DPD_4_cnt_MAX_MEAN
BURO_DPD_4_cnt_MAX_VAR
BURO_DPD_4_cnt_MAX_SUM
BURO_DPD_4_cnt_SIZE_MIN
BURO_DPD_4_cnt_SIZE_MAX
BURO_DPD_4_cnt_SIZE_SIZE
BURO_DPD_4_cnt_SIZE_MEAN
BURO_DPD_4_cnt_SIZE_VAR
BURO_DPD_4_cnt_SIZE_SUM
BURO_DPD_4_Month_MIN_MIN
BURO_DPD_4_Month_MIN_MAX
BURO_DPD_4_Month_MIN_SIZE
BURO_DPD_4_Month_MIN_MEAN
BURO_DPD_4_Month_MIN_VAR
BURO_DPD_4_Month_MIN_SUM
BURO_DPD_4_Month_MAX_MIN
BURO_DPD_4_Month_MAX_MAX
BURO_DPD_4_Month_MAX_SIZE
BURO_DPD_4_Month_MAX_MEAN
BURO_DPD_4_Month_MAX_VAR
BURO_DPD_4_Month_MAX_SUM
BURO_DPD_4_Month_SIZE_MIN
BURO_DPD_4_Month_SIZE_MAX
BURO_DPD_4_Month_SIZE_SIZE
BURO_DPD_4_Month_SIZE_MEAN
BURO_DPD_4_Month_SIZE_VAR
BURO_DPD_4_Month_SIZE_SUM
BURO_DPD_5_cnt_MIN_MIN
BURO_DPD_5_cnt_MIN_MAX
BURO_DPD_5_cnt_MIN_SIZE
BURO_DPD_5_cnt_MIN_MEAN
BURO_DPD_5_cnt_MIN_VAR
BURO_DPD_5_cnt_MIN_SUM
BURO_DPD_5_cnt_MAX_MIN
BURO_DPD_5_cnt_MAX_MAX
BURO_DPD_5_cnt_MAX_SIZE
BURO_DPD_5_cnt_MAX_MEAN
BURO_DPD_5_cnt_MAX_VAR
BURO_DPD_5_cnt_MAX_SUM
BURO_DPD_5_cnt_SIZE_MIN
BURO_DPD_5_cnt_SIZE_MAX
BURO_DPD_5_cnt_SIZE_SIZE
BURO_DPD_5_cnt_SIZE_MEAN
BURO_DPD_5_cnt_SIZE_VAR
BURO_DPD_5_cnt_SIZE_SUM
BURO_DPD_5_Month_MIN_MIN
BURO_DPD_5_Month_MIN_MAX
BURO_DPD_5_Month_MIN_SIZE
BURO_DPD_5_Month_MIN_MEAN
BURO_DPD_5_Month_MIN_VAR
BURO_DPD_5_Month_MIN_SUM
BURO_DPD_5_Month_MAX_MIN
BURO_DPD_5_Month_MAX_MAX
BURO_DPD_5_Month_MAX_SIZE
BURO_DPD_5_Month_MAX_MEAN
BURO_DPD_5_Month_MAX_VAR
BURO_DPD_5_Month_MAX_SUM
BURO_DPD_5_Month_SIZE_MIN
BURO_DPD_5_Month_SIZE_MAX
BURO_DPD_5_Month_SIZE_SIZE
BURO_DPD_5_Month_SIZE_MEAN
BURO_DPD_5_Month_SIZE_VAR
BURO_DPD_5_Month_SIZE_SUM
BURO_Non_zero_DPD_cnt_MIN_MIN
BURO_Non_zero_DPD_cnt_MIN_MAX
BURO_Non_zero_DPD_cnt_MIN_SIZE
BURO_Non_zero_DPD_cnt_MIN_MEAN
BURO_Non_zero_DPD_cnt_MIN_VAR
BURO_Non_zero_DPD_cnt_MIN_SUM

In [11]:
### Yao-Jhonson変換
#for column in encoding_columns:
#    modules.process_yj_convert(df_train_origin, df_test_origin, column, [column])
#
#encoding_columns.append('EXT_SOURCE_3')
#encoding_columns.append('EXT_SOURCE_2')
#encoding_columns.append('EXT_SOURCE_1')
#df_train_origin.head()

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Returned_to_the_store_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_Amortized_debt_MEAN,POS_COUNT
0,100002,1,-1.388135,-0.717914,-0.664531,-0.653139,0.647368,-0.284044,0.028202,-0.315489,...,1.625994,-1.653296,-0.476503,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,-0.118159
1,100003,0,0.720391,-0.717914,1.504820,-0.653139,1.212877,1.495411,0.744282,1.406475,...,0.360092,0.055439,-0.476503,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,0.298617
2,100004,0,-1.388135,1.392925,-0.664531,-0.653139,-1.655422,-1.648326,-2.085939,-1.539612,...,-1.443666,2.201572,-0.476503,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,-1.311051
3,100006,0,0.720391,-0.717914,-0.664531,-0.653139,-0.175535,-0.635708,0.378604,-0.540733,...,-0.553674,0.479660,-0.476503,-0.113778,8.437188,-0.031869,-0.006247,-0.00255,-0.005981,-0.015781
4,100007,0,-1.388135,-0.717914,-0.664531,-0.653139,-0.394442,0.042354,-0.196589,0.214928,...,0.526336,-0.481236,1.595372,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,1.433840

In [12]:
# indexを設定
#df_train_origin = df_train_origin.set_index('SK_ID_CURR')
#df_test_origin = df_test_origin.set_index('SK_ID_CURR')
#df_train_origin.head()

,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Returned_to_the_store_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_Amortized_debt_MEAN,POS_COUNT
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,-1.388135,-0.717914,-0.664531,-0.653139,0.647368,-0.284044,0.028202,-0.315489,0.046984,...,1.625994,-1.653296,-0.476503,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,-0.118159
100003,0,0.720391,-0.717914,1.504820,-0.653139,1.212877,1.495411,0.744282,1.406475,-1.730410,...,0.360092,0.055439,-0.476503,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,0.298617
100004,0,-1.388135,1.392925,-0.664531,-0.653139,-1.655422,-1.648326,-2.085939,-1.539612,-0.863345,...,-1.443666,2.201572,-0.476503,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,-1.311051
100006,0,0.720391,-0.717914,-0.664531,-0.653139,-0.175535,-0.635708,0.378604,-0.540733,-1.112140,...,-0.553674,0.479660,-0.476503,-0.113778,8.437188,-0.031869,-0.006247,-0.00255,-0.005981,-0.015781
100007,0,-1.388135,-0.717914,-0.664531,-0.653139,-0.394442,0.042354,-0.196589,0.214928,0.799861,...,0.526336,-0.481236,1.595372,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,1.433840

In [13]:
## 標準化
#for column in encoding_columns:
#    num_cols = []
#    num_cols.append(column)
#    result = modules.process_standardization(df_train_origin, df_test_origin, num_cols)
#        
#df_train_origin.head()

,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Returned_to_the_store_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_Amortized_debt_MEAN,POS_COUNT
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,-1.388135,-0.717914,-0.664531,-0.653139,0.647368,-0.284044,0.028202,-0.315489,0.046984,...,1.625994,-1.653296,-0.476503,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,-0.118159
100003,0,0.720391,-0.717914,1.504820,-0.653139,1.212877,1.495411,0.744282,1.406475,-1.730410,...,0.360092,0.055439,-0.476503,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,0.298617
100004,0,-1.388135,1.392925,-0.664531,-0.653139,-1.655422,-1.648326,-2.085939,-1.539612,-0.863345,...,-1.443666,2.201572,-0.476503,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,-1.311051
100006,0,0.720391,-0.717914,-0.664531,-0.653139,-0.175535,-0.635708,0.378604,-0.540733,-1.112140,...,-0.553674,0.479660,-0.476503,-0.113778,8.437188,-0.031869,-0.006247,-0.00255,-0.005981,-0.015781
100007,0,-1.388135,-0.717914,-0.664531,-0.653139,-0.394442,0.042354,-0.196589,0.214928,0.799861,...,0.526336,-0.481236,1.595372,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,1.433840

In [14]:
### indexを削除
#df_train_origin=df_train_origin.reset_index()
#df_test_origin=df_test_origin.reset_index()
#df_train_origin.head()

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Returned_to_the_store_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_Amortized_debt_MEAN,POS_COUNT
0,100002,1,-1.388135,-0.717914,-0.664531,-0.653139,0.647368,-0.284044,0.028202,-0.315489,...,1.625994,-1.653296,-0.476503,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,-0.118159
1,100003,0,0.720391,-0.717914,1.504820,-0.653139,1.212877,1.495411,0.744282,1.406475,...,0.360092,0.055439,-0.476503,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,0.298617
2,100004,0,-1.388135,1.392925,-0.664531,-0.653139,-1.655422,-1.648326,-2.085939,-1.539612,...,-1.443666,2.201572,-0.476503,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,-1.311051
3,100006,0,0.720391,-0.717914,-0.664531,-0.653139,-0.175535,-0.635708,0.378604,-0.540733,...,-0.553674,0.479660,-0.476503,-0.113778,8.437188,-0.031869,-0.006247,-0.00255,-0.005981,-0.015781
4,100007,0,-1.388135,-0.717914,-0.664531,-0.653139,-0.394442,0.042354,-0.196589,0.214928,...,0.526336,-0.481236,1.595372,-0.113778,-0.118523,-0.031869,-0.006247,-0.00255,-0.005981,1.433840

In [16]:
df_train_origin = baseline.reduce_mem_usage(df_train_origin)
df_test_origin = baseline.reduce_mem_usage(df_test_origin)
df_train_origin.head()

Memory usage of dataframe is 7965.09 MB
Memory usage of optimization is 4175076975.00 MB
Decreased by -52417118.6%
Memory usage of dataframe is 1262.19 MB
Memory usage of optimization is 661748672.00 MB
Decreased by -52428705.1%

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Returned_to_the_store_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_Amortized_debt_MEAN,POS_COUNT
0,100002,1,-1.387695,-0.717773,-0.664551,-0.65332,0.647461,-0.283936,0.028198,-0.315430,...,1.625977,-1.653320,-0.476562,-0.11377,-0.11853,-0.03186,-0.006248,-0.00255,-0.005981,-0.118164
1,100003,0,0.720215,-0.717773,1.504883,-0.65332,1.212891,1.495117,0.744141,1.406250,...,0.360107,0.055450,-0.476562,-0.11377,-0.11853,-0.03186,-0.006248,-0.00255,-0.005981,0.298584
2,100004,0,-1.387695,1.392578,-0.664551,-0.65332,-1.655273,-1.648438,-2.085938,-1.540039,...,-1.443359,2.201172,-0.476562,-0.11377,-0.11853,-0.03186,-0.006248,-0.00255,-0.005981,-1.311523
3,100006,0,0.720215,-0.717773,-0.664551,-0.65332,-0.175537,-0.635742,0.378662,-0.540527,...,-0.553711,0.479736,-0.476562,-0.11377,8.43750,-0.03186,-0.006248,-0.00255,-0.005981,-0.015778
4,100007,0,-1.387695,-0.717773,-0.664551,-0.65332,-0.394531,0.042358,-0.196533,0.214966,...,0.526367,-0.481201,1.595703,-0.11377,-0.11853,-0.03186,-0.006248,-0.00255,-0.005981,1.433594

In [17]:
df_train = df_train_origin.copy()
df_test = df_test_origin.copy()
df_train.head()

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,POS_NAME_CONTRACT_STATUS_Active_MEAN,POS_NAME_CONTRACT_STATUS_Completed_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,POS_NAME_CONTRACT_STATUS_Returned_to_the_store_MEAN,POS_NAME_CONTRACT_STATUS_Demand_MEAN,POS_NAME_CONTRACT_STATUS_Canceled_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_Amortized_debt_MEAN,POS_COUNT
0,100002,1,-1.387695,-0.717773,-0.664551,-0.65332,0.647461,-0.283936,0.028198,-0.315430,...,1.625977,-1.653320,-0.476562,-0.11377,-0.11853,-0.03186,-0.006248,-0.00255,-0.005981,-0.118164
1,100003,0,0.720215,-0.717773,1.504883,-0.65332,1.212891,1.495117,0.744141,1.406250,...,0.360107,0.055450,-0.476562,-0.11377,-0.11853,-0.03186,-0.006248,-0.00255,-0.005981,0.298584
2,100004,0,-1.387695,1.392578,-0.664551,-0.65332,-1.655273,-1.648438,-2.085938,-1.540039,...,-1.443359,2.201172,-0.476562,-0.11377,-0.11853,-0.03186,-0.006248,-0.00255,-0.005981,-1.311523
3,100006,0,0.720215,-0.717773,-0.664551,-0.65332,-0.175537,-0.635742,0.378662,-0.540527,...,-0.553711,0.479736,-0.476562,-0.11377,8.43750,-0.03186,-0.006248,-0.00255,-0.005981,-0.015778
4,100007,0,-1.387695,-0.717773,-0.664551,-0.65332,-0.394531,0.042358,-0.196533,0.214966,...,0.526367,-0.481201,1.595703,-0.11377,-0.11853,-0.03186,-0.006248,-0.00255,-0.005981,1.433594

## 学習(#001)

In [18]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [19]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 3393) (61503, 3393)
[100]	training's auc: 0.811063	valid_1's auc: 0.778075
[200]	training's auc: 0.845576	valid_1's auc: 0.785386
[300]	training's auc: 0.870394	valid_1's auc: 0.787129
[400]	training's auc: 0.890369	valid_1's auc: 0.787755
[500]	training's auc: 0.906558	valid_1's auc: 0.787983
[600]	training's auc: 0.920601	valid_1's auc: 0.787747
[auc] tr:0.906874, va0.7881
-------------------- 1 --------------------
(246009, 3393) (61502, 3393)
[100]	training's auc: 0.81071	valid_1's auc: 0.781851
[200]	training's auc: 0.845063	valid_1's auc: 0.790146
[300]	training's auc: 0.87055	valid_1's auc: 0.79169
[400]	training's auc: 0.891048	valid_1's auc: 0.791895
[500]	training's auc: 0.907988	valid_1's auc: 0.792004
[auc] tr:0.904772, va0.7921
-------------------- 2 --------------------
(246009, 3393) (61502, 3393)
[100]	training's auc: 0.810418	valid_1's auc: 0.781908
[200]	training's auc: 0.844633	valid_1's auc: 0.789486
[300]	training's auc: 0.869986	valid_1's auc: 0.790749
[400]	training's auc: 0.889756	valid_1's auc: 0.790811
[500]	training's auc: 0.906925	valid_1's auc: 0.791282
[600]	training's auc: 0.920777	valid_1's auc: 0.791121
[auc] tr:0.912614, va0.7915
-------------------- 3 --------------------
(246009, 3393) (61502, 3393)
[100]	training's auc: 0.810929	valid_1's auc: 0.7791
[200]	training's auc: 0.845334	valid_1's auc: 0.78624
[300]	training's auc: 0.871518	valid_1's auc: 0.787568
[400]	training's auc: 0.891582	valid_1's auc: 0.788114
[500]	training's auc: 0.90821	valid_1's auc: 0.788297
[600]	training's auc: 0.922473	valid_1's auc: 0.788882
[700]	training's auc: 0.934228	valid_1's auc: 0.788945
[800]	training's auc: 0.944135	valid_1's auc: 0.788663
[auc] tr:0.934539, va0.7891
-------------------- 4 --------------------
(246009, 3393) (61502, 3393)
[100]	training's auc: 0.810989	valid_1's auc: 0.773786
[200]	training's auc: 0.845795	valid_1's auc: 0.781774
[300]	training's auc: 0.871569	valid_1's auc: 0.782894
[400]	training's auc: 0.891697	valid_1's auc: 0.782763
[auc] tr:0.879722, va0.7831
-------------------- result --------------------
[[0.         0.90687408 0.78809483]
 [1.         0.90477213 0.79213764]
 [2.         0.91261415 0.79146235]
 [3.         0.93453876 0.78906785]
 [4.         0.87972187 0.78312165]]
[cv] tr:0.9077+-0.0175, va:0.7888+-0.0032
[oof]0.7887

In [20]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
3385,app_NEW_EXT_SOURCES_MEAN,112749.838874,1036.281037
3360,app_AMT_CREDIT_PER_AMT_ANNUITY,7489.275394,703.606336
3370,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4918.332694,549.084802
2404,DAYS_BIRTH,4806.900466,383.957265
3361,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4695.325947,326.364922
3373,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4428.443591,289.186320
3379,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4125.406948,342.325878
571,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,4038.673796,847.418263
2505,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3874.134936,252.294262
3359,app_AMT_CREDIT_AMT_GOODS_PRICE,3817.883008,240.339228
2400,CODE_GENDER,3511.133711,193.000717
2840,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3329.229255,419.207970
2494,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3197.881537,104.430497
3389,app_PAYMENT_RATE,2970.201018,641.141729
617,AMT_ANNUITY,2954.533043,252.882612
2419,EXT_SOURCE_3,2922.724874,338.082492
1516,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2917.272159,343.008814
2537,NAME_EDUCATION_TYPE_Higher_education,2829.868254,789.287445
1517,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2486.540109,628.332594
2655,POS_CNT_INSTALMENT_FUTURE_MEAN,2414.693938,294.341818

### 変数選択001

In [21]:
from tensorflow.python.client import device_lib
device_lib.list_local_devices()

[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 826147475224061181
 xla_global_id: -1,
 name: "/device:GPU:0"
 device_type: "GPU"
 memory_limit: 9374597120
 locality {
   bus_id: 1
   links {
   }
 }
 incarnation: 11714727779472560353
 physical_device_desc: "device: 0, name: NVIDIA GeForce RTX 2080 Ti, pci bus id: 0000:22:00.0, compute capability: 7.5"
 xla_global_id: 416903419,
 name: "/device:GPU:1"
 device_type: "GPU"
 memory_limit: 1720110286
 locality {
   bus_id: 1
   links {
   }
 }
 incarnation: 2309915562146741646
 physical_device_desc: "device: 1, name: NVIDIA RTX A2000 Laptop GPU, pci bus id: 0000:01:00.0, compute capability: 8.6"
 xla_global_id: 2144165316]

In [22]:
import torch
# GPUの名称、CUDA Compute Capabilityを取得
print(torch.cuda.get_device_name())

NVIDIA RTX A2000 Laptop GPU

In [23]:
len(df_train.columns)

3395

In [24]:
length = int(len(df_train.columns) * 0.95)
length

3225

In [25]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [26]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train.head()

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,app_AMT_CREDIT_AMT_GOODS_PRICE,...,CLOSED_First_status_2_MEAN_SUM,CLOSED_First_status_2_MEAN_SIZE,CLOSED_First_status_2_MEAN_MIN,CLOSED_First_status_2_MEAN_MEAN,CLOSED_First_status_2_MEAN_MAX,CLOSED_First_status_1_MEAN_VAR,CLOSED_First_status_1_MEAN_SUM,CLOSED_DPD_5_Month_SIZE_MIN,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,1.597656,0.388672,0.141479,-1.687500,-0.399170,-1.705078,-0.032013,...,-0.348633,0.537109,0.0,-1.209961,-1.209961,-1.374023,-0.349121,-1.388672,100002,1
1,-0.362793,1.686523,-0.817871,-0.222778,0.290283,-0.532715,1.546875,-0.328125,-0.032410,1.289062,...,-0.348633,0.062012,0.0,0.826172,0.826172,0.727539,-0.349121,0.787598,100003,0
2,0.889648,-0.109741,-1.407227,-0.716797,-1.044922,0.843262,0.272705,1.808594,-0.240479,-0.790039,...,-0.348633,-0.225464,0.0,0.826172,0.826172,0.727539,-0.349121,0.787598,100004,0
3,0.950195,-1.558594,-0.159912,-0.708008,-0.514648,0.843262,1.546875,-0.403564,-0.032410,-0.557129,...,-0.348633,-1.672852,0.0,-1.209961,-1.209961,-1.374023,-0.349121,-1.636719,100006,0
4,-1.232422,0.326172,-0.206299,-0.901367,-1.044922,0.843262,1.546875,1.808594,0.416260,-0.790039,...,-0.348633,-0.689453,0.0,0.826172,0.826172,0.727539,-0.349121,0.787598,100007,0

In [27]:
len(df_train.columns)

3227

In [28]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [29]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 3225) (61503, 3225)
[100]	training's auc: 0.8106	valid_1's auc: 0.77906
[200]	training's auc: 0.845054	valid_1's auc: 0.786338
[300]	training's auc: 0.870691	valid_1's auc: 0.787157
[400]	training's auc: 0.890334	valid_1's auc: 0.787371
[500]	training's auc: 0.907336	valid_1's auc: 0.787757
[auc] tr:0.905211, va0.7878
-------------------- 1 --------------------
(246009, 3225) (61502, 3225)
[100]	training's auc: 0.810094	valid_1's auc: 0.781603
[200]	training's auc: 0.844448	valid_1's auc: 0.789501
[300]	training's auc: 0.869323	valid_1's auc: 0.791097
[400]	training's auc: 0.889406	valid_1's auc: 0.791552
[500]	training's auc: 0.906406	valid_1's auc: 0.792093
[600]	training's auc: 0.920161	valid_1's auc: 0.791782
[auc] tr:0.904732, va0.7922
-------------------- 2 --------------------
(246009, 3225) (61502, 3225)
[100]	training's auc: 0.810614	valid_1's auc: 0.782918
[200]	training's auc: 0.844827	valid_1's auc: 0.78936
[300]	training's auc: 0.869081	valid_1's auc: 0.790571
[400]	training's auc: 0.889645	valid_1's auc: 0.791145
[500]	training's auc: 0.906521	valid_1's auc: 0.791305
[auc] tr:0.903650, va0.7914
-------------------- 3 --------------------
(246009, 3225) (61502, 3225)
[100]	training's auc: 0.810791	valid_1's auc: 0.778278
[200]	training's auc: 0.845997	valid_1's auc: 0.786563
[300]	training's auc: 0.871798	valid_1's auc: 0.787925
[400]	training's auc: 0.891629	valid_1's auc: 0.788285
[500]	training's auc: 0.907655	valid_1's auc: 0.788216
[auc] tr:0.893896, va0.7884
-------------------- 4 --------------------
(246009, 3225) (61502, 3225)
[100]	training's auc: 0.810879	valid_1's auc: 0.773501
[200]	training's auc: 0.846586	valid_1's auc: 0.781979
[300]	training's auc: 0.872048	valid_1's auc: 0.783466
[400]	training's auc: 0.892103	valid_1's auc: 0.784095
[500]	training's auc: 0.9088	valid_1's auc: 0.784413
[auc] tr:0.898920, va0.7845
-------------------- result --------------------
[[0.         0.90521121 0.78781663]
 [1.         0.90473242 0.79215205]
 [2.         0.90364993 0.79139878]
 [3.         0.89389577 0.78838653]
 [4.         0.89891952 0.78453933]]
[cv] tr:0.9013+-0.0043, va:0.7889+-0.0027
[oof]0.7888

In [30]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
3217,app_NEW_EXT_SOURCES_MEAN,112756.944371,1052.305870
3192,app_AMT_CREDIT_PER_AMT_ANNUITY,7487.884074,737.791562
3202,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4852.509812,367.476512
2236,DAYS_BIRTH,4679.423087,288.932013
3193,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4676.166401,328.163866
3205,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4354.403611,206.860218
3211,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4180.735569,309.404271
571,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,4042.792746,1005.117025
3191,app_AMT_CREDIT_AMT_GOODS_PRICE,3702.019805,355.733876
2337,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3627.968131,348.630173
2232,CODE_GENDER,3533.707686,172.063143
2672,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3433.354298,477.215735
2326,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3315.157243,236.547707
617,AMT_ANNUITY,3163.126003,399.674031
3221,app_PAYMENT_RATE,3049.162103,594.749164
1488,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2988.250552,316.993723
2251,EXT_SOURCE_3,2833.357467,242.752760
2372,NAME_EDUCATION_TYPE_Secondary___secondary_special,2678.291590,189.210031
1681,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2650.184286,523.625203
2487,POS_CNT_INSTALMENT_FUTURE_MEAN,2501.365396,238.489808

In [31]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [32]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [33]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection1.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.065215
1      100005  0.114357
2      100013  0.043379
3      100028  0.036281
4      100038  0.164656

### 変数選択002

In [35]:
len(df_train.columns)

3227

In [36]:
length = int(len(df_train.columns) * 0.95)
length

3065

In [37]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [38]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 3596.90 MB
Memory usage of optimization is 3771622543.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 570.10 MB
Memory usage of optimization is 597796544.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,app_AMT_CREDIT_AMT_GOODS_PRICE,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,...,APPROVED_NAME_GOODS_CATEGORY_House_Construction_MEAN,APPROVED_NAME_GOODS_CATEGORY_Insurance_MEAN,CARD_card_missing_SIZE,CARD_card_missing_MIN,APPROVED_NAME_GOODS_CATEGORY_Medical_Supplies_MEAN,CARD_card_SK_DPD__SK_DPD_DEF_SUM,CARD_card_SK_DPD__SK_DPD_DEF_SIZE,CARD_card_SK_DPD__SK_DPD_DEF_MIN,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,1.597656,0.388672,0.141479,-1.687500,-0.399170,-0.032013,-1.705078,...,0.0,-0.058105,-0.624512,-0.304688,-0.111511,-0.14624,-0.624512,0.0,100002,1
1,-0.362793,1.686523,-0.817871,-0.222778,0.290283,-0.532715,1.546875,-0.328125,1.289062,-0.032410,...,0.0,-0.058105,-0.624512,-0.304688,-0.111511,-0.14624,-0.624512,0.0,100003,0
2,0.889648,-0.109741,-1.407227,-0.716797,-1.044922,0.843262,0.272705,1.808594,-0.790039,-0.240479,...,0.0,-0.058105,-0.624512,-0.304688,-0.111511,-0.14624,-0.624512,0.0,100004,0
3,0.950195,-1.558594,-0.159912,-0.708008,-0.514648,0.843262,1.546875,-0.403564,-0.557129,-0.032410,...,0.0,-0.058105,1.372070,3.283203,-0.111511,-0.14624,1.372070,0.0,100006,0
4,-1.232422,0.326172,-0.206299,-0.901367,-1.044922,0.843262,1.546875,1.808594,-0.790039,0.416260,...,0.0,-0.058105,-0.624512,-0.304688,-0.111511,-0.14624,-0.624512,0.0,100007,0

In [39]:
len(df_train.columns)

3067

In [40]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [41]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 3065) (61503, 3065)
[100]	training's auc: 0.811004	valid_1's auc: 0.779219
[200]	training's auc: 0.845838	valid_1's auc: 0.786153
[300]	training's auc: 0.87024	valid_1's auc: 0.786773
[400]	training's auc: 0.890752	valid_1's auc: 0.787098
[500]	training's auc: 0.907669	valid_1's auc: 0.78682
[auc] tr:0.891556, va0.7871
-------------------- 1 --------------------
(246009, 3065) (61502, 3065)
[100]	training's auc: 0.810581	valid_1's auc: 0.780285
[200]	training's auc: 0.845271	valid_1's auc: 0.789007
[300]	training's auc: 0.86943	valid_1's auc: 0.790632
[400]	training's auc: 0.889746	valid_1's auc: 0.790404
[auc] tr:0.877068, va0.7910
-------------------- 2 --------------------
(246009, 3065) (61502, 3065)
[100]	training's auc: 0.810822	valid_1's auc: 0.782273
[200]	training's auc: 0.844258	valid_1's auc: 0.787846
[300]	training's auc: 0.869228	valid_1's auc: 0.788621
[auc] tr:0.861413, va0.7894
-------------------- 3 --------------------
(246009, 3065) (61502, 3065)
[100]	training's auc: 0.811114	valid_1's auc: 0.779376
[200]	training's auc: 0.845532	valid_1's auc: 0.7867
[300]	training's auc: 0.870633	valid_1's auc: 0.788296
[400]	training's auc: 0.891119	valid_1's auc: 0.788558
[auc] tr:0.887931, va0.7887
-------------------- 4 --------------------
(246009, 3065) (61502, 3065)
[100]	training's auc: 0.811544	valid_1's auc: 0.773442
[200]	training's auc: 0.846424	valid_1's auc: 0.780954
[300]	training's auc: 0.87152	valid_1's auc: 0.782564
[400]	training's auc: 0.891482	valid_1's auc: 0.782823
[500]	training's auc: 0.907758	valid_1's auc: 0.782779
[auc] tr:0.896090, va0.7831
-------------------- result --------------------
[[0.         0.89155598 0.78711462]
 [1.         0.87706823 0.7909632 ]
 [2.         0.86141334 0.78935245]
 [3.         0.88793066 0.78865337]
 [4.         0.8960902  0.7830562 ]]
[cv] tr:0.8828+-0.0124, va:0.7878+-0.0027
[oof]0.7878

In [42]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
3057,app_NEW_EXT_SOURCES_MEAN,112292.758584,1365.993599
3032,app_AMT_CREDIT_PER_AMT_ANNUITY,7209.941145,621.676627
3042,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4691.080790,339.963041
3033,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4643.394622,190.181651
2076,DAYS_BIRTH,4458.767223,343.809312
3045,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4280.418418,135.668462
3051,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4211.536550,325.136599
571,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,3892.758780,952.717332
2177,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3591.023136,142.727151
3031,app_AMT_CREDIT_AMT_GOODS_PRICE,3520.932335,425.428712
2072,CODE_GENDER,3512.728713,204.215439
2512,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3410.276199,403.870093
2166,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3169.263802,269.168511
617,AMT_ANNUITY,2905.520086,341.106353
1472,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2899.521080,288.152522
3061,app_PAYMENT_RATE,2769.470431,366.232821
3063,app_most_popular_AMT_GOODS_PRICE,2767.696505,259.506287
2091,EXT_SOURCE_3,2623.815625,262.193653
1665,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2504.127707,472.808088
2327,POS_CNT_INSTALMENT_FUTURE_MEAN,2431.372155,164.937066

In [43]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [44]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [45]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection2.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.049913
1      100005  0.113793
2      100013  0.033444
3      100028  0.033927
4      100038  0.147003

### 変数選択003

In [46]:
len(df_train.columns)

3067

In [47]:
length = int(len(df_train.columns) * 0.95)
length

2913

In [48]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [49]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 3418.59 MB
Memory usage of optimization is 3584655855.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 541.84 MB
Memory usage of optimization is 568160192.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,DAYS_BIRTH,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,app_AMT_CREDIT_AMT_GOODS_PRICE,...,APPROVED_NAME_CLIENT_TYPE_XNA_MEAN,APPROVED_NAME_CONTRACT_STATUS_Approved_MEAN,CARD_card_AMT_BALANCE__AMT_RECIVABLE_SIZE,APPROVED_NAME_CONTRACT_STATUS_Canceled_MEAN,APPROVED_NAME_PAYMENT_TYPE_Non_cash_from_your_account_MEAN,CARD_CNT_DRAWINGS_POS_CURRENT_SIZE,APPROVED_NAME_PORTFOLIO_Cars_MEAN,APPROVED_NAME_PORTFOLIO_Cash_MEAN,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,0.388672,1.597656,0.141479,-1.687500,-0.399170,-1.705078,-0.032013,...,-0.067993,0.151855,-0.624512,0.0,-0.143311,-0.624512,-0.062805,-0.851562,100002,1
1,-0.362793,1.686523,-0.817871,0.290283,-0.222778,-0.532715,1.546875,-0.328125,-0.032410,1.289062,...,-0.067993,0.151855,-0.624512,0.0,-0.143311,-0.624512,-0.062805,0.847656,100003,0
2,0.889648,-0.109741,-1.407227,-1.044922,-0.716797,0.843262,0.272705,1.808594,-0.240479,-0.790039,...,-0.067993,0.151855,-0.624512,0.0,-0.143311,-0.624512,-0.062805,-0.851562,100004,0
3,0.950195,-1.558594,-0.159912,-0.514648,-0.708008,0.843262,1.546875,-0.403564,-0.032410,-0.557129,...,-0.067993,0.151855,1.372070,0.0,-0.143311,1.372070,-0.062805,1.009766,100006,0
4,-1.232422,0.326172,-0.206299,-1.044922,-0.901367,0.843262,1.546875,1.808594,0.416260,-0.790039,...,-0.067993,0.151855,-0.624512,0.0,-0.143311,-0.624512,-0.062805,1.417969,100007,0

In [50]:
len(df_train.columns)

2915

In [51]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [52]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 2913) (61503, 2913)
[100]	training's auc: 0.810369	valid_1's auc: 0.778087
[200]	training's auc: 0.846031	valid_1's auc: 0.785216
[300]	training's auc: 0.870846	valid_1's auc: 0.786499
[400]	training's auc: 0.891174	valid_1's auc: 0.786649
[500]	training's auc: 0.907309	valid_1's auc: 0.786849
[600]	training's auc: 0.921029	valid_1's auc: 0.786877
[auc] tr:0.912433, va0.7871
-------------------- 1 --------------------
(246009, 2913) (61502, 2913)
[100]	training's auc: 0.810312	valid_1's auc: 0.780966
[200]	training's auc: 0.845586	valid_1's auc: 0.78946
[300]	training's auc: 0.870621	valid_1's auc: 0.790411
[400]	training's auc: 0.891072	valid_1's auc: 0.790794
[500]	training's auc: 0.908273	valid_1's auc: 0.79123
[600]	training's auc: 0.921892	valid_1's auc: 0.79141
[auc] tr:0.916070, va0.7916
-------------------- 2 --------------------
(246009, 2913) (61502, 2913)
[100]	training's auc: 0.810601	valid_1's auc: 0.782179
[200]	training's auc: 0.844166	valid_1's auc: 0.788764
[300]	training's auc: 0.870018	valid_1's auc: 0.788847
[auc] tr:0.856835, va0.7898
-------------------- 3 --------------------
(246009, 2913) (61502, 2913)
[100]	training's auc: 0.811067	valid_1's auc: 0.777833
[200]	training's auc: 0.845592	valid_1's auc: 0.785646
[300]	training's auc: 0.870463	valid_1's auc: 0.786996
[400]	training's auc: 0.891373	valid_1's auc: 0.787377
[500]	training's auc: 0.908087	valid_1's auc: 0.787366
[auc] tr:0.892642, va0.7875
-------------------- 4 --------------------
(246009, 2913) (61502, 2913)
[100]	training's auc: 0.810995	valid_1's auc: 0.774274
[200]	training's auc: 0.845658	valid_1's auc: 0.781669
[300]	training's auc: 0.870988	valid_1's auc: 0.782836
[400]	training's auc: 0.891547	valid_1's auc: 0.783464
[500]	training's auc: 0.908041	valid_1's auc: 0.783458
[600]	training's auc: 0.92128	valid_1's auc: 0.783304
[700]	training's auc: 0.933274	valid_1's auc: 0.783756
[800]	training's auc: 0.943266	valid_1's auc: 0.78401
[auc] tr:0.937693, va0.7842
-------------------- result --------------------
[[0.         0.91243314 0.7870724 ]
 [1.         0.91607037 0.79162786]
 [2.         0.85683484 0.78980505]
 [3.         0.89264234 0.7875263 ]
 [4.         0.93769324 0.78421916]]
[cv] tr:0.9031+-0.0272, va:0.7881+-0.0025
[oof]0.7879

In [53]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
2905,app_NEW_EXT_SOURCES_MEAN,112691.181889,1614.131788
2880,app_AMT_CREDIT_PER_AMT_ANNUITY,7707.299501,876.897575
2890,app_DAYS_EMPLOYED_div_DAYS_BIRTH,5052.987576,370.887000
2881,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4786.255717,201.930224
1924,DAYS_BIRTH,4695.102295,530.659042
2893,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4386.581643,135.341260
2899,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4186.838401,428.888168
570,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,3920.993668,985.888260
2025,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3645.489972,352.458365
2879,app_AMT_CREDIT_AMT_GOODS_PRICE,3642.181315,595.719345
1920,CODE_GENDER,3531.987689,182.451532
2360,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3451.626932,456.791930
616,AMT_ANNUITY,3224.096780,627.265140
2014,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3154.941126,304.386338
1433,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2981.899379,299.141939
2909,app_PAYMENT_RATE,2899.186679,424.691056
1939,EXT_SOURCE_3,2887.831451,273.837576
2060,NAME_EDUCATION_TYPE_Secondary___secondary_special,2734.067938,152.922742
1594,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2628.270769,338.079964
2175,POS_CNT_INSTALMENT_FUTURE_MEAN,2523.938210,323.734521

In [54]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [55]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [56]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection3.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.058165
1      100005  0.107014
2      100013  0.025455
3      100028  0.038042
4      100038  0.162251

### 変数選択004

In [57]:
len(df_train.columns)

2915

In [58]:
length = int(len(df_train.columns) * 0.95)
length

2769

In [59]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [60]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 3249.67 MB
Memory usage of optimization is 3407529519.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 515.06 MB
Memory usage of optimization is 540083648.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,DAYS_BIRTH,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,app_AMT_CREDIT_AMT_GOODS_PRICE,...,CARD_card_missing_SIZE,CARD_card_missing_MIN,APPROVED_NAME_CASH_LOAN_PURPOSE_Buying_a_new_car_MEAN,APPROVED_NAME_CASH_LOAN_PURPOSE_Buying_a_used_car_MEAN,CARD_card_SK_DPD__SK_DPD_DEF_SUM,CARD_card_SK_DPD__SK_DPD_DEF_SIZE,CARD_card_SK_DPD__SK_DPD_DEF_MIN,CARD_card_SK_DPD__MONTHS_BALANCE_SIZE,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,0.388672,1.597656,0.141479,-1.687500,-0.399170,-1.705078,-0.032013,...,-0.624512,-0.304688,-0.062103,-0.074951,-0.14624,-0.624512,0.0,-0.624512,100002,1
1,-0.362793,1.686523,-0.817871,0.290283,-0.222778,-0.532715,1.546875,-0.328125,-0.032410,1.289062,...,-0.624512,-0.304688,-0.062103,-0.074951,-0.14624,-0.624512,0.0,-0.624512,100003,0
2,0.889648,-0.109741,-1.407227,-1.044922,-0.716797,0.843262,0.272705,1.808594,-0.240479,-0.790039,...,-0.624512,-0.304688,-0.062103,-0.074951,-0.14624,-0.624512,0.0,-0.624512,100004,0
3,0.950195,-1.558594,-0.159912,-0.514648,-0.708008,0.843262,1.546875,-0.403564,-0.032410,-0.557129,...,1.372070,3.283203,-0.062103,-0.074951,-0.14624,1.372070,0.0,1.372070,100006,0
4,-1.232422,0.326172,-0.206299,-1.044922,-0.901367,0.843262,1.546875,1.808594,0.416260,-0.790039,...,-0.624512,-0.304688,-0.062103,-0.074951,-0.14624,-0.624512,0.0,-0.624512,100007,0

In [61]:
len(df_train.columns)

2771

In [62]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [63]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 2769) (61503, 2769)
[100]	training's auc: 0.810761	valid_1's auc: 0.779093
[200]	training's auc: 0.845853	valid_1's auc: 0.786037
[300]	training's auc: 0.871257	valid_1's auc: 0.78713
[400]	training's auc: 0.892257	valid_1's auc: 0.787479
[500]	training's auc: 0.90831	valid_1's auc: 0.787349
[auc] tr:0.898554, va0.7877
-------------------- 1 --------------------
(246009, 2769) (61502, 2769)
[100]	training's auc: 0.81032	valid_1's auc: 0.781007
[200]	training's auc: 0.845009	valid_1's auc: 0.788615
[300]	training's auc: 0.871395	valid_1's auc: 0.790801
[400]	training's auc: 0.891877	valid_1's auc: 0.791014
[500]	training's auc: 0.908037	valid_1's auc: 0.791273
[auc] tr:0.898470, va0.7915
-------------------- 2 --------------------
(246009, 2769) (61502, 2769)
[100]	training's auc: 0.810648	valid_1's auc: 0.781912
[200]	training's auc: 0.843786	valid_1's auc: 0.788499
[300]	training's auc: 0.869493	valid_1's auc: 0.789955
[400]	training's auc: 0.889577	valid_1's auc: 0.791135
[500]	training's auc: 0.906715	valid_1's auc: 0.791516
[600]	training's auc: 0.920356	valid_1's auc: 0.791087
[auc] tr:0.907002, va0.7916
-------------------- 3 --------------------
(246009, 2769) (61502, 2769)
[100]	training's auc: 0.811351	valid_1's auc: 0.778866
[200]	training's auc: 0.845543	valid_1's auc: 0.787023
[300]	training's auc: 0.871024	valid_1's auc: 0.788671
[400]	training's auc: 0.891648	valid_1's auc: 0.789169
[500]	training's auc: 0.908167	valid_1's auc: 0.789459
[600]	training's auc: 0.922381	valid_1's auc: 0.789786
[auc] tr:0.920852, va0.7898
-------------------- 4 --------------------
(246009, 2769) (61502, 2769)
[100]	training's auc: 0.811102	valid_1's auc: 0.773566
[200]	training's auc: 0.846089	valid_1's auc: 0.78146
[300]	training's auc: 0.871033	valid_1's auc: 0.782929
[400]	training's auc: 0.891904	valid_1's auc: 0.783094
[500]	training's auc: 0.90815	valid_1's auc: 0.78321
[auc] tr:0.905130, va0.7834
-------------------- result --------------------
[[0.         0.8985538  0.78768304]
 [1.         0.89846955 0.79147616]
 [2.         0.90700217 0.79157691]
 [3.         0.92085164 0.78981282]
 [4.         0.90513017 0.78338793]]
[cv] tr:0.9060+-0.0082, va:0.7888+-0.0030
[oof]0.7888

In [64]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
2761,app_NEW_EXT_SOURCES_MEAN,112530.356757,1273.530731
2736,app_AMT_CREDIT_PER_AMT_ANNUITY,7268.677735,614.837401
2737,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4843.080393,213.003679
2746,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4793.505998,443.883014
1780,DAYS_BIRTH,4729.947327,412.400675
2749,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4383.117934,225.318900
2755,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4332.918330,333.674944
557,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,3962.051017,1064.892221
1881,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3655.395834,218.406821
1776,CODE_GENDER,3544.642767,256.030932
2735,app_AMT_CREDIT_AMT_GOODS_PRICE,3463.697364,251.069841
2216,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3416.274931,513.196062
1870,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3322.853779,262.378817
588,AMT_ANNUITY,3040.109054,297.226881
1358,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,3021.857671,246.028009
2765,app_PAYMENT_RATE,2853.529944,729.477217
1795,EXT_SOURCE_3,2753.333524,192.938752
1502,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2681.412741,481.061380
1359,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2445.791424,685.699471
1913,NAME_EDUCATION_TYPE_Higher_education,2433.404230,183.241085

In [65]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [66]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [67]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection4.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.050067
1      100005  0.111334
2      100013  0.035095
3      100028  0.039011
4      100038  0.160877

### 変数選択005

In [68]:
len(df_train.columns)

2771

In [69]:
length = int(len(df_train.columns) * 0.95)
length

2632

In [70]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [71]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 3088.96 MB
Memory usage of optimization is 3239013491.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 489.59 MB
Memory usage of optimization is 513371936.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,app_DAYS_EMPLOYED_div_DAYS_BIRTH,DAYS_BIRTH,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,CODE_GENDER,...,BURO_DPD_0_cnt_MIN_SIZE,BURO_DPD_0_cnt_SIZE_MAX,INS_NUM_INSTALMENT_NUMBER_SIZE,BURO_DPD_0_cnt_SIZE_MEAN,BURO_DPD_0_cnt_SIZE_MIN,BURO_DPD_0_cnt_SIZE_SIZE,BURO_DPD_0_cnt_SIZE_VAR,BURO_DPD_1_Month_MAX_MAX,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,0.388672,-0.849609,1.597656,0.141479,-1.687500,-0.399170,-1.705078,-1.387695,...,0.910156,-1.052734,-0.216431,-1.050781,-1.177734,0.910156,-1.208008,-1.753906,100002,1
1,-0.362793,1.686523,0.290283,-0.817871,-0.222778,-0.532715,1.546875,-0.328125,-0.032410,0.720215,...,0.139893,0.798340,0.019257,0.836426,0.852539,0.139893,0.784668,0.563477,100003,0
2,0.889648,-0.109741,-1.044922,-1.407227,-0.716797,0.843262,0.272705,1.808594,-0.240479,-1.387695,...,-0.474365,0.798340,-1.433594,0.836426,0.852539,-0.474365,0.784668,0.563477,100004,0
3,0.950195,-1.558594,-0.514648,-0.159912,-0.708008,0.843262,1.546875,-0.403564,-0.032410,0.720215,...,-1.640625,-1.750000,-0.356689,-1.669922,-1.535156,-1.640625,-1.599609,-1.784180,100006,0
4,-1.232422,0.326172,-1.044922,-0.206299,-0.901367,0.843262,1.546875,1.808594,0.416260,-1.387695,...,-0.928223,0.798340,0.973145,0.836426,0.852539,-0.928223,0.784668,0.563477,100007,0

In [72]:
len(df_train.columns)

2634

In [73]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [74]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 2632) (61503, 2632)
[100]	training's auc: 0.810961	valid_1's auc: 0.778297
[200]	training's auc: 0.844892	valid_1's auc: 0.785253
[300]	training's auc: 0.870685	valid_1's auc: 0.785673
[400]	training's auc: 0.89136	valid_1's auc: 0.785699
[500]	training's auc: 0.907742	valid_1's auc: 0.785674
[auc] tr:0.898610, va0.7860
-------------------- 1 --------------------
(246009, 2632) (61502, 2632)
[100]	training's auc: 0.810714	valid_1's auc: 0.781454
[200]	training's auc: 0.84498	valid_1's auc: 0.789347
[300]	training's auc: 0.870158	valid_1's auc: 0.790885
[auc] tr:0.867537, va0.7911
-------------------- 2 --------------------
(246009, 2632) (61502, 2632)
[100]	training's auc: 0.810627	valid_1's auc: 0.782893
[200]	training's auc: 0.844845	valid_1's auc: 0.789343
[300]	training's auc: 0.870742	valid_1's auc: 0.788612
[auc] tr:0.850295, va0.7897
-------------------- 3 --------------------
(246009, 2632) (61502, 2632)
[100]	training's auc: 0.810743	valid_1's auc: 0.777842
[200]	training's auc: 0.846055	valid_1's auc: 0.78484
[300]	training's auc: 0.872361	valid_1's auc: 0.786329
[400]	training's auc: 0.892289	valid_1's auc: 0.786931
[auc] tr:0.890462, va0.7870
-------------------- 4 --------------------
(246009, 2632) (61502, 2632)
[100]	training's auc: 0.811165	valid_1's auc: 0.773744
[200]	training's auc: 0.846199	valid_1's auc: 0.78261
[300]	training's auc: 0.871466	valid_1's auc: 0.783467
[400]	training's auc: 0.891156	valid_1's auc: 0.783709
[500]	training's auc: 0.908009	valid_1's auc: 0.784418
[600]	training's auc: 0.922152	valid_1's auc: 0.784599
[700]	training's auc: 0.933628	valid_1's auc: 0.784615
[auc] tr:0.924848, va0.7847
-------------------- result --------------------
[[0.         0.89861038 0.78595828]
 [1.         0.86753731 0.79110373]
 [2.         0.85029456 0.78970297]
 [3.         0.89046156 0.78697625]
 [4.         0.92484808 0.78470336]]
[cv] tr:0.8864+-0.0257, va:0.7877+-0.0024
[oof]0.7876

In [75]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
2624,app_NEW_EXT_SOURCES_MEAN,112318.420307,1467.089785
2599,app_AMT_CREDIT_PER_AMT_ANNUITY,7066.882400,858.815521
2600,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4730.801845,171.508571
2609,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4720.208463,355.570755
1672,DAYS_BIRTH,4302.413911,443.314688
2612,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4256.108204,174.767684
2618,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4233.982469,287.685777
557,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,3892.784861,1043.195804
1758,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3569.306157,201.840315
1668,CODE_GENDER,3486.647041,328.124916
2598,app_AMT_CREDIT_AMT_GOODS_PRICE,3429.530161,626.255017
2079,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3292.538801,509.998251
1749,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3264.530383,386.945109
588,AMT_ANNUITY,2949.210252,494.787219
2628,app_PAYMENT_RATE,2785.429923,442.880323
1687,EXT_SOURCE_3,2768.389094,451.468741
1251,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2759.591470,266.727491
1894,POS_CNT_INSTALMENT_FUTURE_MEAN,2555.770865,273.024231
2630,app_most_popular_AMT_GOODS_PRICE,2537.947259,184.298437
1892,OWN_CAR_AGE,2504.416272,392.295299

In [76]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [77]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [78]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection5.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.053575
1      100005  0.109456
2      100013  0.028859
3      100028  0.037416
4      100038  0.165993

### 変数選択006

In [79]:
len(df_train.columns)

2634

In [80]:
length = int(len(df_train.columns) * 0.95)
length

2502

In [81]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [82]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 2936.47 MB
Memory usage of optimization is 3079107771.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 465.42 MB
Memory usage of optimization is 488025056.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,app_DAYS_EMPLOYED_div_DAYS_BIRTH,DAYS_BIRTH,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,CODE_GENDER,...,CLOSED_First_status_X_MEAN_SUM,CLOSED_STATUS_4_MEAN_MEAN,CLOSED_STATUS_5_MEAN_MAX,CLOSED_STATUS_X_MEAN_SIZE,CLOSED_When_closed_MAX_MAX,CLOSED_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_SIZE,ACTIVE_SK_ID_CURR_MAX,ACTIVE_SK_ID_CURR_MEAN,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,0.388672,-0.849609,1.597656,0.141479,-1.687500,-0.399170,-1.705078,-1.387695,...,1.660156,-1.210938,-1.213867,0.537109,-1.069336,0.537109,-0.575195,-0.575195,100002,1
1,-0.362793,1.686523,0.290283,-0.817871,-0.222778,-0.532715,1.546875,-0.328125,-0.032410,0.720215,...,-0.602051,0.826172,0.825684,0.062012,0.694336,0.062012,-0.575195,-0.575195,100003,0
2,0.889648,-0.109741,-1.044922,-1.407227,-0.716797,0.843262,0.272705,1.808594,-0.240479,-1.387695,...,-0.602051,0.826172,0.825684,-0.225464,0.694336,-0.225464,1.174805,1.174805,100004,0
3,0.950195,-1.558594,-0.514648,-0.159912,-0.708008,0.843262,1.546875,-0.403564,-0.032410,0.720215,...,-0.602051,-1.210938,-1.213867,-1.672852,-1.855469,-1.672852,-2.162109,-2.162109,100006,0
4,-1.232422,0.326172,-1.044922,-0.206299,-0.901367,0.843262,1.546875,1.808594,0.416260,-1.387695,...,-0.602051,0.826172,0.825684,-0.689453,0.694336,-0.689453,1.174805,1.174805,100007,0

In [83]:
len(df_train.columns)

2504

In [84]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [85]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 2502) (61503, 2502)
[100]	training's auc: 0.810827	valid_1's auc: 0.77864
[200]	training's auc: 0.844749	valid_1's auc: 0.785635
[300]	training's auc: 0.871199	valid_1's auc: 0.786904
[400]	training's auc: 0.891291	valid_1's auc: 0.787125
[500]	training's auc: 0.907699	valid_1's auc: 0.787081
[auc] tr:0.900190, va0.7873
-------------------- 1 --------------------
(246009, 2502) (61502, 2502)
[100]	training's auc: 0.810881	valid_1's auc: 0.781355
[200]	training's auc: 0.844697	valid_1's auc: 0.789632
[300]	training's auc: 0.869827	valid_1's auc: 0.791719
[400]	training's auc: 0.889844	valid_1's auc: 0.79134
[auc] tr:0.870096, va0.7918
-------------------- 2 --------------------
(246009, 2502) (61502, 2502)
[100]	training's auc: 0.810682	valid_1's auc: 0.781927
[200]	training's auc: 0.843721	valid_1's auc: 0.7884
[300]	training's auc: 0.870501	valid_1's auc: 0.789364
[400]	training's auc: 0.890723	valid_1's auc: 0.790102
[500]	training's auc: 0.907454	valid_1's auc: 0.790396
[auc] tr:0.897235, va0.7906
-------------------- 3 --------------------
(246009, 2502) (61502, 2502)
[100]	training's auc: 0.810819	valid_1's auc: 0.779406
[200]	training's auc: 0.845851	valid_1's auc: 0.78639
[300]	training's auc: 0.87124	valid_1's auc: 0.787698
[400]	training's auc: 0.891928	valid_1's auc: 0.788133
[auc] tr:0.889780, va0.7882
-------------------- 4 --------------------
(246009, 2502) (61502, 2502)
[100]	training's auc: 0.81082	valid_1's auc: 0.773877
[200]	training's auc: 0.845817	valid_1's auc: 0.781814
[300]	training's auc: 0.871015	valid_1's auc: 0.783525
[400]	training's auc: 0.891422	valid_1's auc: 0.784299
[500]	training's auc: 0.907414	valid_1's auc: 0.783942
[auc] tr:0.892379, va0.7844
-------------------- result --------------------
[[0.         0.90019013 0.78727628]
 [1.         0.87009584 0.79177544]
 [2.         0.89723475 0.79060694]
 [3.         0.88977998 0.78819484]
 [4.         0.89237903 0.78441249]]
[cv] tr:0.8899+-0.0106, va:0.7885+-0.0026
[oof]0.7884

In [86]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
2494,app_NEW_EXT_SOURCES_MEAN,112594.159842,1062.298246
2469,app_AMT_CREDIT_PER_AMT_ANNUITY,7070.700012,660.486632
2479,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4713.262020,372.757929
2470,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4700.442400,296.283715
1547,DAYS_BIRTH,4437.626697,190.493476
2482,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4235.597968,140.174913
2488,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4124.734429,407.711342
468,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,3890.961292,972.274372
1628,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3549.387680,121.428487
1543,CODE_GENDER,3470.553158,273.056304
2468,app_AMT_CREDIT_AMT_GOODS_PRICE,3422.582987,269.729305
1949,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3297.887432,484.442432
1619,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3153.455602,318.424876
498,AMT_ANNUITY,3023.058099,306.250224
1158,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2907.779020,378.674677
1562,EXT_SOURCE_3,2762.530971,239.253172
1301,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2759.794085,307.990690
2498,app_PAYMENT_RATE,2699.852580,651.022553
1764,POS_CNT_INSTALMENT_FUTURE_MEAN,2469.269459,256.312601
1159,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2428.877976,693.011246

In [87]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [88]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [89]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection6.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.062555
1      100005  0.108517
2      100013  0.028590
3      100028  0.035915
4      100038  0.172655

### 変数選択007

In [90]:
len(df_train.columns)

2504

In [91]:
length = int(len(df_train.columns) * 0.95)
length

2378

In [92]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [93]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 2791.01 MB
Memory usage of optimization is 2926582315.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 442.36 MB
Memory usage of optimization is 463848032.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,DAYS_BIRTH,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,CODE_GENDER,...,PREV_NAME_CASH_LOAN_PURPOSE_Buying_a_home_MEAN,PREV_NAME_CASH_LOAN_PURPOSE_Buying_a_new_car_MEAN,ACTIVE_Last_status_2_MEAN_MEAN,POS_pos_CNT_INSTALMENT_more_CNT_INSTALMENT_FUTURE_SIZE,POS_pos_CNT_INSTALMENT_more_CNT_INSTALMENT_FUTURE_MIN,ACTIVE_Last_status_2_MEAN_MIN,BURO_DPD_0_cnt_MAX_VAR,BURO_DPD_0_cnt_MAX_SIZE,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,0.388672,1.597656,0.141479,-1.687500,-0.399170,-1.705078,-1.387695,...,-0.039917,-0.04306,-1.246094,-0.118164,-0.098572,-1.246094,-1.052734,0.910156,100002,1
1,-0.362793,1.686523,-0.817871,0.290283,-0.222778,-0.532715,1.546875,-0.328125,-0.032410,0.720215,...,-0.039917,-0.04306,0.802734,0.298584,-0.098572,0.802734,0.784668,0.139893,100003,0
2,0.889648,-0.109741,-1.407227,-1.044922,-0.716797,0.843262,0.272705,1.808594,-0.240479,-1.387695,...,-0.039917,-0.04306,0.802734,-1.311523,-0.098572,0.802734,0.784668,-0.474365,100004,0
3,0.950195,-1.558594,-0.159912,-0.514648,-0.708008,0.843262,1.546875,-0.403564,-0.032410,0.720215,...,-0.039917,-0.04306,-1.246094,-0.015778,-0.098572,-1.246094,-1.459961,-1.640625,100006,0
4,-1.232422,0.326172,-0.206299,-1.044922,-0.901367,0.843262,1.546875,1.808594,0.416260,-1.387695,...,-0.039917,-0.04306,0.802734,1.433594,-0.098572,0.802734,0.784668,-0.928223,100007,0

In [94]:
len(df_train.columns)

2380

In [95]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [96]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 2378) (61503, 2378)
[100]	training's auc: 0.810551	valid_1's auc: 0.778121
[200]	training's auc: 0.845174	valid_1's auc: 0.785453
[300]	training's auc: 0.871612	valid_1's auc: 0.78606
[400]	training's auc: 0.891028	valid_1's auc: 0.786091
[auc] tr:0.870116, va0.7862
-------------------- 1 --------------------
(246009, 2378) (61502, 2378)
[100]	training's auc: 0.810518	valid_1's auc: 0.780544
[200]	training's auc: 0.844958	valid_1's auc: 0.788901
[300]	training's auc: 0.869878	valid_1's auc: 0.79001
[400]	training's auc: 0.89095	valid_1's auc: 0.790382
[auc] tr:0.887549, va0.7904
-------------------- 2 --------------------
(246009, 2378) (61502, 2378)
[100]	training's auc: 0.81044	valid_1's auc: 0.782284
[200]	training's auc: 0.844574	valid_1's auc: 0.789434
[300]	training's auc: 0.870371	valid_1's auc: 0.790855
[400]	training's auc: 0.890489	valid_1's auc: 0.791399
[auc] tr:0.878144, va0.7916
-------------------- 3 --------------------
(246009, 2378) (61502, 2378)
[100]	training's auc: 0.811211	valid_1's auc: 0.77744
[200]	training's auc: 0.845567	valid_1's auc: 0.787081
[300]	training's auc: 0.870928	valid_1's auc: 0.787629
[400]	training's auc: 0.891095	valid_1's auc: 0.787903
[500]	training's auc: 0.907575	valid_1's auc: 0.787789
[auc] tr:0.894039, va0.7880
-------------------- 4 --------------------
(246009, 2378) (61502, 2378)
[100]	training's auc: 0.810322	valid_1's auc: 0.773061
[200]	training's auc: 0.846238	valid_1's auc: 0.781705
[300]	training's auc: 0.872106	valid_1's auc: 0.783432
[400]	training's auc: 0.892365	valid_1's auc: 0.783594
[500]	training's auc: 0.909094	valid_1's auc: 0.783867
[auc] tr:0.906117, va0.7839
-------------------- result --------------------
[[0.         0.87011628 0.78615809]
 [1.         0.88754853 0.7904052 ]
 [2.         0.87814364 0.79157283]
 [3.         0.89403894 0.78803023]
 [4.         0.90611695 0.78394172]]
[cv] tr:0.8872+-0.0125, va:0.7880+-0.0028
[oof]0.7880

In [97]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
2370,app_NEW_EXT_SOURCES_MEAN,112342.793222,1220.784440
2345,app_AMT_CREDIT_PER_AMT_ANNUITY,7490.641855,640.729723
2346,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4865.910138,234.590595
2355,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4815.924062,459.907400
1465,DAYS_BIRTH,4428.792413,364.491460
2358,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4249.537229,189.112023
2364,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4113.253618,247.044972
439,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,3895.595921,994.100876
1546,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3611.290333,287.951406
1461,CODE_GENDER,3542.792220,237.293004
2344,app_AMT_CREDIT_AMT_GOODS_PRICE,3407.351913,475.437825
1825,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3355.933206,408.394961
1537,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3267.944010,203.844840
469,AMT_ANNUITY,3129.218468,249.913865
1076,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2861.084303,396.016917
1480,EXT_SOURCE_3,2789.498826,383.377709
2374,app_PAYMENT_RATE,2646.424831,561.426876
1219,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2580.663277,154.513611
1572,NAME_EDUCATION_TYPE_Secondary___secondary_special,2431.677807,235.031866
1655,POS_CNT_INSTALMENT_FUTURE_MEAN,2340.765238,304.739496

In [98]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [99]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [100]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection7.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.057324
1      100005  0.128481
2      100013  0.032475
3      100028  0.034905
4      100038  0.177032

### 変数選択008

In [101]:
len(df_train.columns)

2380

In [102]:
length = int(len(df_train.columns) * 0.95)
length

2261

In [103]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [104]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 2653.76 MB
Memory usage of optimization is 2782667167.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 420.60 MB
Memory usage of optimization is 441035840.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,app_DAYS_EMPLOYED_div_DAYS_BIRTH,DAYS_BIRTH,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,CODE_GENDER,...,ACTIVE_DPD_4_Month_MIN_MIN,BURO_Month_closed_to_end_SIZE_VAR,ACTIVE_DPD_4_Month_MIN_MAX,ACTIVE_DPD_4_Month_MAX_VAR,ACTIVE_DPD_4_Month_MAX_SUM,ACTIVE_DPD_4_Month_MAX_SIZE,BURO_Non_zero_DPD_cnt_MAX_MAX,ACTIVE_DPD_4_Month_MAX_MIN,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,0.388672,-0.849609,1.597656,0.141479,-1.687500,-0.399170,-1.705078,-1.387695,...,0.412109,-1.208008,0.412109,0.409424,-0.423340,-0.055267,-0.572266,0.412109,100002,1
1,-0.362793,1.686523,0.290283,-0.817871,-0.222778,-0.532715,1.546875,-0.328125,-0.032410,0.720215,...,0.412109,0.784668,0.412109,0.409424,-0.423340,-0.561523,0.883301,0.412109,100003,0
2,0.889648,-0.109741,-1.044922,-1.407227,-0.716797,0.843262,0.272705,1.808594,-0.240479,-1.387695,...,0.412109,0.784668,0.412109,0.409424,2.369141,1.738281,0.883301,0.412109,100004,0
3,0.950195,-1.558594,-0.514648,-0.159912,-0.708008,0.843262,1.546875,-0.403564,-0.032410,0.720215,...,-2.425781,-1.599609,-2.425781,-2.443359,-0.423340,-1.671875,-1.201172,-2.425781,100006,0
4,-1.232422,0.326172,-1.044922,-0.206299,-0.901367,0.843262,1.546875,1.808594,0.416260,-1.387695,...,0.412109,0.784668,0.412109,0.409424,2.369141,1.738281,0.883301,0.412109,100007,0

In [105]:
len(df_train.columns)

2263

In [106]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [107]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 2261) (61503, 2261)
[100]	training's auc: 0.81073	valid_1's auc: 0.778621
[200]	training's auc: 0.845424	valid_1's auc: 0.782825
[auc] tr:0.834352, va0.7839
-------------------- 1 --------------------
(246009, 2261) (61502, 2261)
[100]	training's auc: 0.8102	valid_1's auc: 0.781453
[200]	training's auc: 0.843997	valid_1's auc: 0.790121
[300]	training's auc: 0.869228	valid_1's auc: 0.791057
[auc] tr:0.859788, va0.7916
-------------------- 2 --------------------
(246009, 2261) (61502, 2261)
[100]	training's auc: 0.810551	valid_1's auc: 0.781575
[200]	training's auc: 0.844204	valid_1's auc: 0.785689
[300]	training's auc: 0.870153	valid_1's auc: 0.787473
[400]	training's auc: 0.890031	valid_1's auc: 0.787834
[auc] tr:0.878178, va0.7884
-------------------- 3 --------------------
(246009, 2261) (61502, 2261)
[100]	training's auc: 0.811071	valid_1's auc: 0.779379
[200]	training's auc: 0.845919	valid_1's auc: 0.78718
[300]	training's auc: 0.871434	valid_1's auc: 0.788035
[400]	training's auc: 0.892294	valid_1's auc: 0.788272
[500]	training's auc: 0.908984	valid_1's auc: 0.787614
[auc] tr:0.893811, va0.7885
-------------------- 4 --------------------
(246009, 2261) (61502, 2261)
[100]	training's auc: 0.810776	valid_1's auc: 0.773292
[200]	training's auc: 0.846118	valid_1's auc: 0.782118
[300]	training's auc: 0.871209	valid_1's auc: 0.783596
[400]	training's auc: 0.8916	valid_1's auc: 0.784294
[500]	training's auc: 0.907884	valid_1's auc: 0.784538
[auc] tr:0.896943, va0.7849
-------------------- result --------------------
[[0.         0.83435215 0.78385443]
 [1.         0.85978752 0.79159295]
 [2.         0.87817756 0.78840542]
 [3.         0.89381143 0.7884981 ]
 [4.         0.89694333 0.78487056]]
[cv] tr:0.8726+-0.0232, va:0.7874+-0.0028
[oof]0.7873

In [108]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
2253,app_NEW_EXT_SOURCES_MEAN,112020.506607,1144.874170
2228,app_AMT_CREDIT_PER_AMT_ANNUITY,7059.907736,469.018206
2238,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4681.057034,461.122897
2229,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4613.040843,329.057255
1379,DAYS_BIRTH,4279.070571,416.573247
2241,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4203.736921,375.725360
2247,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4026.441920,133.997063
383,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,3953.013209,1006.864274
1722,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3496.569398,540.344102
1375,CODE_GENDER,3491.714947,235.759569
2227,app_AMT_CREDIT_AMT_GOODS_PRICE,3474.499846,478.258189
1460,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3469.335726,307.795494
1451,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3099.657964,258.899035
413,AMT_ANNUITY,3010.878849,292.345217
2257,app_PAYMENT_RATE,2831.725164,517.652530
992,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2771.995858,464.482235
1394,EXT_SOURCE_3,2668.231535,506.465736
1134,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2531.180331,384.747266
1569,POS_CNT_INSTALMENT_FUTURE_MEAN,2310.671538,282.940201
1567,OWN_CAR_AGE,2277.808586,352.387789

In [109]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [110]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [111]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection8.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.052987
1      100005  0.115211
2      100013  0.025382
3      100028  0.036537
4      100038  0.196259

### 変数選択009

In [112]:
len(df_train.columns)

2263

In [113]:
length = int(len(df_train.columns) * 0.95)
length

2149

In [114]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [115]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 2522.38 MB
Memory usage of optimization is 2644902239.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 399.78 MB
Memory usage of optimization is 419198528.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,DAYS_BIRTH,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,CODE_GENDER,...,PREV_SELLERPLACE_AREA_SIZE,PREV_RATE_INTEREST_PRIMARY_SUM,PREV_RATE_INTEREST_PRIMARY_VAR,PREV_RATE_INTEREST_PRIVILEGED_MEAN,PREV_RATE_INTEREST_PRIVILEGED_MIN,PREV_RATE_INTEREST_PRIVILEGED_SIZE,PREV_RATE_INTEREST_PRIVILEGED_VAR,ACTIVE_DPD_4_cnt_SIZE_MAX,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,0.388672,1.597656,0.141479,-1.687500,-0.399170,-0.683105,-1.387695,...,-1.130859,-0.123352,0.239136,0.27124,0.27124,-1.130859,0.239136,-1.062500,100002,1
1,-0.362793,1.686523,-0.817871,0.290283,-0.222778,-0.532715,1.546875,-0.328125,-0.683105,0.720215,...,-0.149780,-0.123352,0.239136,0.27124,0.27124,-0.149780,0.239136,0.765137,100003,0
2,0.889648,-0.109741,-1.407227,-1.044922,-0.716797,0.843262,0.272705,1.808594,-0.683105,-1.387695,...,-1.130859,-0.123352,0.239136,0.27124,0.27124,-1.130859,0.239136,0.765137,100004,0
3,0.950195,-1.558594,-0.159912,-0.514648,-0.708008,0.843262,1.546875,-0.403564,0.790039,0.720215,...,1.176758,-0.123352,0.239136,0.27124,0.27124,1.176758,0.239136,-1.665039,100006,0
4,-1.232422,0.326172,-0.206299,-1.044922,-0.901367,0.843262,1.546875,1.808594,-0.683105,-1.387695,...,0.656250,-0.123352,0.239136,0.27124,0.27124,0.656250,0.239136,0.765137,100007,0

In [116]:
len(df_train.columns)

2151

In [117]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [118]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 2149) (61503, 2149)
[100]	training's auc: 0.81094	valid_1's auc: 0.778719
[200]	training's auc: 0.844916	valid_1's auc: 0.786514
[300]	training's auc: 0.87063	valid_1's auc: 0.788002
[400]	training's auc: 0.890683	valid_1's auc: 0.788642
[500]	training's auc: 0.907568	valid_1's auc: 0.78905
[600]	training's auc: 0.920772	valid_1's auc: 0.788848
[auc] tr:0.906210, va0.7890
-------------------- 1 --------------------
(246009, 2149) (61502, 2149)
[100]	training's auc: 0.810677	valid_1's auc: 0.780744
[200]	training's auc: 0.845141	valid_1's auc: 0.789017
[300]	training's auc: 0.870097	valid_1's auc: 0.791226
[400]	training's auc: 0.889778	valid_1's auc: 0.791493
[500]	training's auc: 0.90667	valid_1's auc: 0.791428
[600]	training's auc: 0.920499	valid_1's auc: 0.791321
[auc] tr:0.908692, va0.7917
-------------------- 2 --------------------
(246009, 2149) (61502, 2149)
[100]	training's auc: 0.810436	valid_1's auc: 0.782295
[200]	training's auc: 0.843979	valid_1's auc: 0.78938
[300]	training's auc: 0.869956	valid_1's auc: 0.790809
[400]	training's auc: 0.890422	valid_1's auc: 0.790487
[auc] tr:0.875720, va0.7914
-------------------- 3 --------------------
(246009, 2149) (61502, 2149)
[100]	training's auc: 0.81074	valid_1's auc: 0.778963
[200]	training's auc: 0.8461	valid_1's auc: 0.786822
[300]	training's auc: 0.870754	valid_1's auc: 0.788462
[400]	training's auc: 0.890797	valid_1's auc: 0.788598
[500]	training's auc: 0.907543	valid_1's auc: 0.788804
[auc] tr:0.901755, va0.7890
-------------------- 4 --------------------
(246009, 2149) (61502, 2149)
[100]	training's auc: 0.810989	valid_1's auc: 0.772434
[200]	training's auc: 0.846453	valid_1's auc: 0.780466
[300]	training's auc: 0.871332	valid_1's auc: 0.781667
[400]	training's auc: 0.891724	valid_1's auc: 0.782223
[500]	training's auc: 0.908124	valid_1's auc: 0.782484
[600]	training's auc: 0.922376	valid_1's auc: 0.782248
[auc] tr:0.910232, va0.7826
-------------------- result --------------------
[[0.         0.9062101  0.78904973]
 [1.         0.90869217 0.79166018]
 [2.         0.87571977 0.79140995]
 [3.         0.90175541 0.78897   ]
 [4.         0.91023201 0.78259586]]
[cv] tr:0.9005+-0.0127, va:0.7887+-0.0033
[oof]0.7887

In [119]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
2142,app_NEW_EXT_SOURCES_MEAN,112682.899443,1262.459096
2117,app_AMT_CREDIT_PER_AMT_ANNUITY,7492.676528,916.234402
2127,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4735.331215,170.294815
2118,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4714.559672,267.888601
1290,DAYS_BIRTH,4685.310134,432.643887
2130,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4462.906354,41.886360
2136,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4233.706144,369.427725
363,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,3983.679467,893.959513
2116,app_AMT_CREDIT_AMT_GOODS_PRICE,3692.245592,421.528597
1371,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3635.487297,296.284671
1286,CODE_GENDER,3537.583847,233.360829
1620,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3456.285316,429.657964
392,AMT_ANNUITY,3377.318941,375.440782
1362,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3321.321029,146.924139
1394,NAME_EDUCATION_TYPE_Higher_education,3161.257787,230.604081
903,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2894.294501,469.139413
2146,app_PAYMENT_RATE,2889.194567,516.670455
1305,EXT_SOURCE_3,2874.156256,344.449414
1045,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2686.748416,348.546379
1480,POS_CNT_INSTALMENT_FUTURE_MEAN,2479.343996,301.656431

In [120]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [121]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [122]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection9.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.048708
1      100005  0.121432
2      100013  0.030778
3      100028  0.046486
4      100038  0.163791

### 変数選択009

In [123]:
len(df_train.columns)

2151

In [124]:
length = int(len(df_train.columns) * 0.95)
length

2043

In [125]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [126]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 2398.03 MB
Memory usage of optimization is 2514517575.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 380.07 MB
Memory usage of optimization is 398531072.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,DAYS_BIRTH,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,app_AMT_CREDIT_AMT_GOODS_PRICE,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,...,BURO_Non_zero_DPD_cnt_SIZE_VAR,BURO_SK_ID_BUREAU_MAX_MAX,ACTIVE_DPD_0_cnt_SIZE_SIZE,REFUSED_AMT_CREDIT_SIZE,ACTIVE_DPD_0_cnt_SIZE_MIN,ACTIVE_DPD_0_cnt_SIZE_MEAN,BURO_SK_ID_BUREAU_MAX_MEAN,REFUSED_AMT_DOWN_PAYMENT_SIZE,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,0.388672,1.597656,0.141479,-1.687500,-0.399170,-0.032013,-1.705078,...,-1.208008,0.087097,-0.055267,0.778809,-1.273438,-1.144531,0.090576,0.778809,100002,1
1,-0.362793,1.686523,-0.817871,0.290283,-0.222778,-0.532715,1.546875,-0.328125,1.289062,-0.032410,...,0.784668,0.576660,-0.561523,0.778809,0.781738,0.776855,0.580078,0.778809,100003,0
2,0.889648,-0.109741,-1.407227,-1.044922,-0.716797,0.843262,0.272705,1.808594,-0.790039,-0.240479,...,0.784668,0.576660,1.738281,0.778809,0.781738,0.776855,0.580078,0.778809,100004,0
3,0.950195,-1.558594,-0.159912,-0.514648,-0.708008,0.843262,1.546875,-0.403564,-0.557129,-0.032410,...,-1.599609,-2.380859,-1.671875,-1.346680,-1.558594,-1.625000,-2.378906,-1.346680,100006,0
4,-1.232422,0.326172,-0.206299,-1.044922,-0.901367,0.843262,1.546875,1.808594,-0.790039,0.416260,...,0.784668,0.576660,1.738281,0.778809,0.781738,0.776855,0.580078,0.778809,100007,0

In [127]:
len(df_train.columns)

2045

In [128]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [129]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 2043) (61503, 2043)
[100]	training's auc: 0.81064	valid_1's auc: 0.77849
[200]	training's auc: 0.844839	valid_1's auc: 0.785934
[300]	training's auc: 0.87019	valid_1's auc: 0.78689
[400]	training's auc: 0.890924	valid_1's auc: 0.787442
[500]	training's auc: 0.907606	valid_1's auc: 0.787486
[auc] tr:0.893618, va0.7877
-------------------- 1 --------------------
(246009, 2043) (61502, 2043)
[100]	training's auc: 0.81054	valid_1's auc: 0.780958
[200]	training's auc: 0.844954	valid_1's auc: 0.789634
[300]	training's auc: 0.869757	valid_1's auc: 0.791189
[auc] tr:0.866258, va0.7913
-------------------- 2 --------------------
(246009, 2043) (61502, 2043)
[100]	training's auc: 0.810587	valid_1's auc: 0.782395
[200]	training's auc: 0.844433	valid_1's auc: 0.788997
[300]	training's auc: 0.87031	valid_1's auc: 0.790531
[400]	training's auc: 0.890345	valid_1's auc: 0.791178
[500]	training's auc: 0.90764	valid_1's auc: 0.79142
[600]	training's auc: 0.921281	valid_1's auc: 0.79166
[auc] tr:0.910747, va0.7918
-------------------- 3 --------------------
(246009, 2043) (61502, 2043)
[100]	training's auc: 0.811026	valid_1's auc: 0.77843
[200]	training's auc: 0.845691	valid_1's auc: 0.786688
[300]	training's auc: 0.871185	valid_1's auc: 0.788021
[400]	training's auc: 0.891693	valid_1's auc: 0.788273
[500]	training's auc: 0.908169	valid_1's auc: 0.788498
[600]	training's auc: 0.922508	valid_1's auc: 0.788601
[auc] tr:0.916656, va0.7888
-------------------- 4 --------------------
(246009, 2043) (61502, 2043)
[100]	training's auc: 0.810699	valid_1's auc: 0.773346
[200]	training's auc: 0.845925	valid_1's auc: 0.781923
[300]	training's auc: 0.871764	valid_1's auc: 0.783414
[400]	training's auc: 0.892359	valid_1's auc: 0.784252
[500]	training's auc: 0.908776	valid_1's auc: 0.783836
[auc] tr:0.891676, va0.7843
-------------------- result --------------------
[[0.         0.89361793 0.78769219]
 [1.         0.86625807 0.79129186]
 [2.         0.91074675 0.79177314]
 [3.         0.91665619 0.78880851]
 [4.         0.89167611 0.78431962]]
[cv] tr:0.8958+-0.0176, va:0.7888+-0.0027
[oof]0.7887

In [130]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
2036,app_NEW_EXT_SOURCES_MEAN,112623.698231,984.679271
2011,app_AMT_CREDIT_PER_AMT_ANNUITY,7511.636046,429.164427
2021,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4781.190257,670.528967
2012,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4634.576392,423.876988
1202,DAYS_BIRTH,4491.243669,265.563254
2024,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4305.846792,516.832566
2030,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4177.840982,357.443674
295,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,3861.706289,996.105633
1283,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3681.735385,412.457184
2010,app_AMT_CREDIT_AMT_GOODS_PRICE,3662.016300,401.239465
1198,CODE_GENDER,3544.604871,316.727577
1530,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3360.655593,459.449729
1274,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3269.244054,246.708371
324,AMT_ANNUITY,3213.326465,306.825394
817,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2960.954139,393.060531
1217,EXT_SOURCE_3,2925.578972,290.143054
2040,app_PAYMENT_RATE,2874.251346,707.287103
1309,NAME_EDUCATION_TYPE_Secondary___secondary_special,2724.717319,157.749652
959,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2440.240933,337.027218
1392,POS_CNT_INSTALMENT_FUTURE_MEAN,2425.931856,375.493813

In [131]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [132]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [133]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection10.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.051351
1      100005  0.123765
2      100013  0.030665
3      100028  0.035735
4      100038  0.163064

### 変数選択011

In [134]:
len(df_train.columns)

2045

In [135]:
length = int(len(df_train.columns) * 0.95)
length

1942

In [136]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [137]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 2279.55 MB
Memory usage of optimization is 2390283131.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 361.29 MB
Memory usage of optimization is 378838496.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,DAYS_BIRTH,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,app_AMT_CREDIT_AMT_GOODS_PRICE,...,REFUSED_CHANNEL_TYPE_Channel_of_corporate_sales_MEAN,REFUSED_CHANNEL_TYPE_Car_dealer_MEAN,BURO_Last_status_4_MEAN_SIZE,BURO_When_closed_MIN_SIZE,REFUSED_AMT_GOODS_PRICE_SIZE,ACTIVE_DPD_1_Month_MAX_MIN,REFUSED_DAYS_FIRST_DRAWING_MAX,REFUSED_DAYS_FIRST_DRAWING_MIN,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,0.388672,1.597656,0.141479,-1.687500,-0.399170,-1.705078,-0.032013,...,0.780762,0.782227,0.910156,0.910156,0.778809,-2.015625,0.0,0.0,100002,1
1,-0.362793,1.686523,-0.817871,0.290283,-0.222778,-0.532715,1.546875,-0.328125,-0.032410,1.289062,...,0.780762,0.782227,0.139893,0.139893,0.778809,0.493408,0.0,0.0,100003,0
2,0.889648,-0.109741,-1.407227,-1.044922,-0.716797,0.843262,0.272705,1.808594,-0.240479,-0.790039,...,0.780762,0.782227,-0.474365,-0.474365,0.778809,0.493408,0.0,0.0,100004,0
3,0.950195,-1.558594,-0.159912,-0.514648,-0.708008,0.843262,1.546875,-0.403564,-0.032410,-0.557129,...,-1.284180,-1.278320,-1.640625,-1.640625,-1.346680,-2.029297,0.0,0.0,100006,0
4,-1.232422,0.326172,-0.206299,-1.044922,-0.901367,0.843262,1.546875,1.808594,0.416260,-0.790039,...,0.780762,0.782227,-0.928223,-0.928223,0.778809,0.493408,0.0,0.0,100007,0

In [138]:
len(df_train.columns)

1944

In [139]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [140]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 1942) (61503, 1942)
[100]	training's auc: 0.811239	valid_1's auc: 0.778998
[200]	training's auc: 0.845043	valid_1's auc: 0.785824
[300]	training's auc: 0.870187	valid_1's auc: 0.787418
[400]	training's auc: 0.890069	valid_1's auc: 0.78768
[500]	training's auc: 0.906545	valid_1's auc: 0.787505
[auc] tr:0.890328, va0.7879
-------------------- 1 --------------------
(246009, 1942) (61502, 1942)
[100]	training's auc: 0.810875	valid_1's auc: 0.781185
[200]	training's auc: 0.844584	valid_1's auc: 0.78947
[300]	training's auc: 0.870404	valid_1's auc: 0.790781
[400]	training's auc: 0.890898	valid_1's auc: 0.791061
[auc] tr:0.882564, va0.7913
-------------------- 2 --------------------
(246009, 1942) (61502, 1942)
[100]	training's auc: 0.810437	valid_1's auc: 0.782097
[200]	training's auc: 0.844304	valid_1's auc: 0.788609
[300]	training's auc: 0.869506	valid_1's auc: 0.790026
[400]	training's auc: 0.889776	valid_1's auc: 0.7908
[500]	training's auc: 0.907076	valid_1's auc: 0.791187
[600]	training's auc: 0.920447	valid_1's auc: 0.791306
[700]	training's auc: 0.9325	valid_1's auc: 0.791597
[800]	training's auc: 0.942505	valid_1's auc: 0.791371
[auc] tr:0.935200, va0.7917
-------------------- 3 --------------------
(246009, 1942) (61502, 1942)
[100]	training's auc: 0.811157	valid_1's auc: 0.778481
[200]	training's auc: 0.845964	valid_1's auc: 0.786413
[300]	training's auc: 0.871627	valid_1's auc: 0.787417
[400]	training's auc: 0.891593	valid_1's auc: 0.788072
[500]	training's auc: 0.908452	valid_1's auc: 0.788099
[auc] tr:0.903420, va0.7884
-------------------- 4 --------------------
(246009, 1942) (61502, 1942)
[100]	training's auc: 0.810797	valid_1's auc: 0.773313
[200]	training's auc: 0.845916	valid_1's auc: 0.781314
[300]	training's auc: 0.870367	valid_1's auc: 0.782614
[400]	training's auc: 0.891643	valid_1's auc: 0.783043
[500]	training's auc: 0.908651	valid_1's auc: 0.783196
[auc] tr:0.901243, va0.7834
-------------------- result --------------------
[[0.         0.89032848 0.78788777]
 [1.         0.88256411 0.791333  ]
 [2.         0.93519968 0.79174392]
 [3.         0.90341959 0.78838566]
 [4.         0.90124273 0.78338666]]
[cv] tr:0.9026+-0.0180, va:0.7885+-0.0030
[oof]0.7885

In [141]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
1935,app_NEW_EXT_SOURCES_MEAN,112565.831048,1070.142375
1910,app_AMT_CREDIT_PER_AMT_ANNUITY,7440.793497,499.720179
1911,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4847.553265,312.855734
1920,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4830.541175,565.262033
1140,DAYS_BIRTH,4750.456211,408.151463
1923,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4399.244352,320.714399
1929,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4337.824089,340.812406
256,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,3870.196958,952.121595
1221,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3680.869448,399.873973
1909,app_AMT_CREDIT_AMT_GOODS_PRICE,3607.921303,347.510911
1136,CODE_GENDER,3485.679931,200.196160
1468,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3377.282121,512.236679
1212,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3313.408262,297.554133
285,AMT_ANNUITY,3144.015533,233.729090
897,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,3025.046831,252.323499
755,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2981.496443,419.195554
1155,EXT_SOURCE_3,2840.567355,309.051413
1939,app_PAYMENT_RATE,2820.354773,878.580126
1941,app_most_popular_AMT_GOODS_PRICE,2797.173381,208.774923
1330,POS_CNT_INSTALMENT_FUTURE_MEAN,2540.125753,349.511960

In [142]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [143]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [144]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection11.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.050674
1      100005  0.111354
2      100013  0.025098
3      100028  0.032931
4      100038  0.154721

### 変数選択012

In [145]:
len(df_train.columns)

1944

In [146]:
length = int(len(df_train.columns) * 0.95)
length

1846

In [147]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [148]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 2166.94 MB
Memory usage of optimization is 2272198907.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 343.44 MB
Memory usage of optimization is 360120800.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,app_DAYS_EMPLOYED_div_DAYS_BIRTH,DAYS_BIRTH,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,app_AMT_CREDIT_AMT_GOODS_PRICE,...,BURO_STATUS_5_MEAN_SIZE,BURO_Non_zero_DPD_cnt_SIZE_VAR,REFUSED_NAME_CASH_LOAN_PURPOSE_Refusal_to_name_the_goal_MEAN,REFUSED_NAME_CONTRACT_STATUS_Refused_MEAN,REFUSED_NAME_CONTRACT_STATUS_Canceled_MEAN,REFUSED_NAME_CONTRACT_STATUS_Approved_MEAN,REFUSED_NAME_CLIENT_TYPE_XNA_MEAN,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_SIZE,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,0.388672,-0.849609,1.597656,0.141479,-1.687500,-0.399170,-1.705078,-0.032013,...,0.910156,-1.208008,0.782227,0.763672,0.0,0.0,0.782227,0.910156,100002,1
1,-0.362793,1.686523,0.290283,-0.817871,-0.222778,-0.532715,1.546875,-0.328125,-0.032410,1.289062,...,0.139893,0.784668,0.782227,0.763672,0.0,0.0,0.782227,0.139893,100003,0
2,0.889648,-0.109741,-1.044922,-1.407227,-0.716797,0.843262,0.272705,1.808594,-0.240479,-0.790039,...,-0.474365,0.784668,0.782227,0.763672,0.0,0.0,0.782227,-0.474365,100004,0
3,0.950195,-1.558594,-0.514648,-0.159912,-0.708008,0.843262,1.546875,-0.403564,-0.032410,-0.557129,...,-1.640625,-1.599609,-1.278320,-1.106445,0.0,0.0,-1.279297,-1.640625,100006,0
4,-1.232422,0.326172,-1.044922,-0.206299,-0.901367,0.843262,1.546875,1.808594,0.416260,-0.790039,...,-0.928223,0.784668,0.782227,0.763672,0.0,0.0,0.782227,-0.928223,100007,0

In [149]:
len(df_train.columns)

1848

In [150]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [151]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 1846) (61503, 1846)
[100]	training's auc: 0.81056	valid_1's auc: 0.777934
[200]	training's auc: 0.84492	valid_1's auc: 0.785734
[300]	training's auc: 0.870552	valid_1's auc: 0.787015
[400]	training's auc: 0.891052	valid_1's auc: 0.78762
[auc] tr:0.886149, va0.7878
-------------------- 1 --------------------
(246009, 1846) (61502, 1846)
[100]	training's auc: 0.810392	valid_1's auc: 0.78146
[200]	training's auc: 0.844277	valid_1's auc: 0.789859
[300]	training's auc: 0.869779	valid_1's auc: 0.79146
[400]	training's auc: 0.889947	valid_1's auc: 0.791869
[500]	training's auc: 0.906791	valid_1's auc: 0.792417
[600]	training's auc: 0.920793	valid_1's auc: 0.791921
[auc] tr:0.907285, va0.7925
-------------------- 2 --------------------
(246009, 1846) (61502, 1846)
[100]	training's auc: 0.810404	valid_1's auc: 0.782348
[200]	training's auc: 0.844022	valid_1's auc: 0.789706
[300]	training's auc: 0.869476	valid_1's auc: 0.791074
[400]	training's auc: 0.889008	valid_1's auc: 0.791789
[500]	training's auc: 0.905407	valid_1's auc: 0.791876
[auc] tr:0.902851, va0.7919
-------------------- 3 --------------------
(246009, 1846) (61502, 1846)
[100]	training's auc: 0.811297	valid_1's auc: 0.778474
[200]	training's auc: 0.846263	valid_1's auc: 0.785748
[300]	training's auc: 0.871189	valid_1's auc: 0.786558
[400]	training's auc: 0.891559	valid_1's auc: 0.786923
[500]	training's auc: 0.908574	valid_1's auc: 0.786848
[auc] tr:0.895937, va0.7871
-------------------- 4 --------------------
(246009, 1846) (61502, 1846)
[100]	training's auc: 0.81058	valid_1's auc: 0.773212
[200]	training's auc: 0.845811	valid_1's auc: 0.781542
[300]	training's auc: 0.871034	valid_1's auc: 0.782803
[400]	training's auc: 0.891438	valid_1's auc: 0.783039
[500]	training's auc: 0.90783	valid_1's auc: 0.783915
[600]	training's auc: 0.921766	valid_1's auc: 0.783838
[auc] tr:0.918189, va0.7840
-------------------- result --------------------
[[0.         0.88614945 0.78775529]
 [1.         0.90728465 0.7925398 ]
 [2.         0.90285118 0.79191842]
 [3.         0.89593723 0.78708239]
 [4.         0.91818902 0.78402752]]
[cv] tr:0.9021+-0.0108, va:0.7887+-0.0032
[oof]0.7886

In [152]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
1839,app_NEW_EXT_SOURCES_MEAN,112683.104552,1245.577367
1814,app_AMT_CREDIT_PER_AMT_ANNUITY,7430.307892,581.434452
1824,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4912.330643,451.611087
1098,DAYS_BIRTH,4832.751315,508.665330
1815,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4807.859635,364.553886
1827,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4326.383385,276.464970
1833,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4208.369443,254.473137
246,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,3889.278417,1023.048814
1094,CODE_GENDER,3571.324077,200.304969
1179,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3545.086981,372.416963
1813,app_AMT_CREDIT_AMT_GOODS_PRICE,3536.850531,440.270376
1426,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3351.954910,407.234699
1170,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3231.824911,307.827061
275,AMT_ANNUITY,3198.617549,305.857742
1843,app_PAYMENT_RATE,3000.201954,611.452177
1113,EXT_SOURCE_3,2966.499010,260.256477
716,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2928.589263,334.334751
1205,NAME_EDUCATION_TYPE_Secondary___secondary_special,2561.162844,244.121032
717,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2559.697445,561.885155
1288,POS_CNT_INSTALMENT_FUTURE_MEAN,2533.251375,341.041348

In [153]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [154]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [155]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection12.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.047885
1      100005  0.110154
2      100013  0.026342
3      100028  0.038437
4      100038  0.164935

### 変数選択013

In [156]:
len(df_train.columns)

1848

In [157]:
length = int(len(df_train.columns) * 0.95)
length

1755

In [158]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [159]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 2060.19 MB
Memory usage of optimization is 2160264903.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 326.52 MB
Memory usage of optimization is 342377984.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,CODE_GENDER,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,...,ACTIVE_CREDIT_TYPE_Loan_for_business_development_MEAN,BURO_DPD_5_cnt_MAX_MEAN,BURO_First_status_4_MEAN_MAX,ACTIVE_CREDIT_TYPE_Loan_for_purchase_of_shares__margin_lending__MEAN,BURO_DPD_5_cnt_MAX_SUM,BURO_First_status_3_MEAN_VAR,ACTIVE_CREDIT_TYPE_Loan_for_the_purchase_of_equipment_MEAN,BURO_DPD_5_cnt_MIN_MAX,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,1.597656,0.388672,0.141479,-1.687500,-0.399170,-1.387695,-1.705078,...,-0.422607,0.420410,-1.121094,-0.421143,-0.085022,0.0,-0.421143,0.420410,100002,1
1,-0.362793,1.686523,-0.817871,-0.222778,0.290283,-0.532715,1.546875,-0.328125,0.720215,-0.032410,...,-0.422607,0.420410,0.892090,-0.421143,-0.085022,0.0,-0.421143,0.420410,100003,0
2,0.889648,-0.109741,-1.407227,-0.716797,-1.044922,0.843262,0.272705,1.808594,-1.387695,-0.240479,...,2.367188,0.420410,0.892090,2.373047,-0.085022,0.0,2.373047,0.420410,100004,0
3,0.950195,-1.558594,-0.159912,-0.708008,-0.514648,0.843262,1.546875,-0.403564,0.720215,-0.032410,...,-0.422607,-2.382812,-1.121094,-0.421143,-0.085022,0.0,-0.421143,-2.384766,100006,0
4,-1.232422,0.326172,-0.206299,-0.901367,-1.044922,0.843262,1.546875,1.808594,-1.387695,0.416260,...,2.367188,0.420410,0.892090,2.373047,-0.085022,0.0,2.373047,0.420410,100007,0

In [160]:
len(df_train.columns)

1757

In [161]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [162]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 1755) (61503, 1755)
[100]	training's auc: 0.810626	valid_1's auc: 0.778723
[200]	training's auc: 0.844583	valid_1's auc: 0.78617
[300]	training's auc: 0.870712	valid_1's auc: 0.786899
[400]	training's auc: 0.89104	valid_1's auc: 0.787512
[500]	training's auc: 0.908284	valid_1's auc: 0.787891
[600]	training's auc: 0.92191	valid_1's auc: 0.788037
[auc] tr:0.908464, va0.7881
-------------------- 1 --------------------
(246009, 1755) (61502, 1755)
[100]	training's auc: 0.810643	valid_1's auc: 0.780904
[200]	training's auc: 0.845064	valid_1's auc: 0.789818
[300]	training's auc: 0.870453	valid_1's auc: 0.791706
[400]	training's auc: 0.890615	valid_1's auc: 0.79167
[auc] tr:0.882746, va0.7921
-------------------- 2 --------------------
(246009, 1755) (61502, 1755)
[100]	training's auc: 0.81077	valid_1's auc: 0.782577
[200]	training's auc: 0.844227	valid_1's auc: 0.789438
[300]	training's auc: 0.869718	valid_1's auc: 0.790532
[400]	training's auc: 0.890292	valid_1's auc: 0.79106
[500]	training's auc: 0.906349	valid_1's auc: 0.791237
[600]	training's auc: 0.920828	valid_1's auc: 0.791416
[700]	training's auc: 0.932866	valid_1's auc: 0.791395
[auc] tr:0.926093, va0.7917
-------------------- 3 --------------------
(246009, 1755) (61502, 1755)
[100]	training's auc: 0.811272	valid_1's auc: 0.778575
[200]	training's auc: 0.845248	valid_1's auc: 0.786712
[300]	training's auc: 0.871274	valid_1's auc: 0.78765
[400]	training's auc: 0.891358	valid_1's auc: 0.787936
[500]	training's auc: 0.907995	valid_1's auc: 0.788169
[600]	training's auc: 0.922075	valid_1's auc: 0.788157
[auc] tr:0.909910, va0.7884
-------------------- 4 --------------------
(246009, 1755) (61502, 1755)
[100]	training's auc: 0.811033	valid_1's auc: 0.773229
[200]	training's auc: 0.845968	valid_1's auc: 0.781139
[300]	training's auc: 0.871778	valid_1's auc: 0.782063
[400]	training's auc: 0.891964	valid_1's auc: 0.782474
[500]	training's auc: 0.908739	valid_1's auc: 0.782833
[600]	training's auc: 0.922615	valid_1's auc: 0.782785
[auc] tr:0.914227, va0.7830
-------------------- result --------------------
[[0.         0.90846387 0.7881042 ]
 [1.         0.8827464  0.79213369]
 [2.         0.92609267 0.79169599]
 [3.         0.9099098  0.78843978]
 [4.         0.91422672 0.78296599]]
[cv] tr:0.9083+-0.0142, va:0.7887+-0.0033
[oof]0.7886

In [163]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
1748,app_NEW_EXT_SOURCES_MEAN,112885.263211,884.415420
1723,app_AMT_CREDIT_PER_AMT_ANNUITY,7578.748626,370.164943
1733,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4959.053815,600.199735
1038,DAYS_BIRTH,4784.646671,243.013630
1724,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4736.666330,377.782723
1736,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4409.421458,295.197516
1742,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4252.794545,277.254579
220,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,4078.339364,944.533376
1119,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3726.142515,407.762459
1722,app_AMT_CREDIT_AMT_GOODS_PRICE,3714.349835,385.757262
1034,CODE_GENDER,3581.748633,175.528385
1365,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3480.294064,508.884184
249,AMT_ANNUITY,3343.766239,261.392822
1110,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3273.162516,252.498583
1752,app_PAYMENT_RATE,2992.316587,564.015779
802,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2936.269161,351.379658
662,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2847.981238,386.243292
1053,EXT_SOURCE_3,2844.415060,288.973940
1228,POS_CNT_INSTALMENT_FUTURE_MEAN,2532.225979,264.443962
1226,OWN_CAR_AGE,2447.303507,392.946416

In [164]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [165]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [166]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection13.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.048524
1      100005  0.129395
2      100013  0.028917
3      100028  0.034393
4      100038  0.165921

### 変数選択014

In [167]:
len(df_train.columns)

1757

In [168]:
length = int(len(df_train.columns) * 0.90)
length

1581

In [169]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [170]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 1856.08 MB
Memory usage of optimization is 1946237247.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 294.16 MB
Memory usage of optimization is 308452160.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,app_AMT_CREDIT_AMT_GOODS_PRICE,...,BURO_STATUS_3_MEAN_MEAN,REFUSED_prev_DAYS_TERMINATION_less__500_SIZE,REFUSED_prev_DAYS_TERMINATION_less__500_MIN,REFUSED_prev_missing_MAX,REFUSED_prev_DAYS_TERMINATION_less__500_SUM,ACTIVE_AMT_CREDIT_SUM_LIMIT_SIZE,ACTIVE_First_status_C_MEAN_MEAN,ACTIVE_AMT_CREDIT_SUM_SIZE,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,1.597656,0.388672,0.141479,-1.687500,-0.399170,-1.705078,-0.032013,...,-1.12207,0.778809,0.0,0.752930,0.0,-0.055267,-1.249023,-0.055267,100002,1
1,-0.362793,1.686523,-0.817871,-0.222778,0.290283,-0.532715,1.546875,-0.328125,-0.032410,1.289062,...,0.89209,0.778809,0.0,0.752930,0.0,-0.561523,0.802246,-0.561523,100003,0
2,0.889648,-0.109741,-1.407227,-0.716797,-1.044922,0.843262,0.272705,1.808594,-0.240479,-0.790039,...,0.89209,0.778809,0.0,0.752930,0.0,1.738281,0.802246,1.738281,100004,0
3,0.950195,-1.558594,-0.159912,-0.708008,-0.514648,0.843262,1.546875,-0.403564,-0.032410,-0.557129,...,-1.12207,-1.346680,0.0,-1.089844,0.0,-1.671875,-1.249023,-1.671875,100006,0
4,-1.232422,0.326172,-0.206299,-0.901367,-1.044922,0.843262,1.546875,1.808594,0.416260,-0.790039,...,0.89209,0.778809,0.0,0.752930,0.0,1.738281,0.802246,1.738281,100007,0

In [171]:
len(df_train.columns)

1583

In [172]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [173]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 1581) (61503, 1581)
[100]	training's auc: 0.811126	valid_1's auc: 0.777896
[200]	training's auc: 0.845493	valid_1's auc: 0.784943
[300]	training's auc: 0.870505	valid_1's auc: 0.785526
[400]	training's auc: 0.890474	valid_1's auc: 0.785515
[auc] tr:0.872792, va0.7857
-------------------- 1 --------------------
(246009, 1581) (61502, 1581)
[100]	training's auc: 0.809942	valid_1's auc: 0.781245
[200]	training's auc: 0.844685	valid_1's auc: 0.789683
[300]	training's auc: 0.870152	valid_1's auc: 0.790982
[400]	training's auc: 0.890167	valid_1's auc: 0.791138
[500]	training's auc: 0.907254	valid_1's auc: 0.791057
[auc] tr:0.894327, va0.7912
-------------------- 2 --------------------
(246009, 1581) (61502, 1581)
[100]	training's auc: 0.810463	valid_1's auc: 0.782413
[200]	training's auc: 0.844231	valid_1's auc: 0.789646
[300]	training's auc: 0.8692	valid_1's auc: 0.791363
[400]	training's auc: 0.889014	valid_1's auc: 0.791953
[500]	training's auc: 0.905266	valid_1's auc: 0.792033
[600]	training's auc: 0.919652	valid_1's auc: 0.79229
[700]	training's auc: 0.931355	valid_1's auc: 0.792231
[auc] tr:0.921318, va0.7924
-------------------- 3 --------------------
(246009, 1581) (61502, 1581)
[100]	training's auc: 0.810986	valid_1's auc: 0.778746
[200]	training's auc: 0.845444	valid_1's auc: 0.786626
[300]	training's auc: 0.870605	valid_1's auc: 0.787141
[400]	training's auc: 0.891213	valid_1's auc: 0.787624
[500]	training's auc: 0.908012	valid_1's auc: 0.787837
[600]	training's auc: 0.922262	valid_1's auc: 0.7881
[700]	training's auc: 0.934438	valid_1's auc: 0.788258
[auc] tr:0.929229, va0.7884
-------------------- 4 --------------------
(246009, 1581) (61502, 1581)
[100]	training's auc: 0.810173	valid_1's auc: 0.773144
[200]	training's auc: 0.845948	valid_1's auc: 0.781263
[300]	training's auc: 0.871445	valid_1's auc: 0.782927
[400]	training's auc: 0.891695	valid_1's auc: 0.783241
[500]	training's auc: 0.908238	valid_1's auc: 0.783331
[600]	training's auc: 0.921483	valid_1's auc: 0.783589
[700]	training's auc: 0.933275	valid_1's auc: 0.783628
[800]	training's auc: 0.943271	valid_1's auc: 0.783763
[auc] tr:0.935037, va0.7839
-------------------- result --------------------
[[0.         0.87279165 0.78574296]
 [1.         0.89432676 0.79124244]
 [2.         0.92131768 0.79237979]
 [3.         0.92922864 0.78835958]
 [4.         0.93503748 0.78388291]]
[cv] tr:0.9105+-0.0235, va:0.7883+-0.0032
[oof]0.7882

In [174]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
1574,app_NEW_EXT_SOURCES_MEAN,112958.796957,1233.895648
1550,app_AMT_CREDIT_PER_AMT_ANNUITY,7634.537381,783.509990
1560,app_DAYS_EMPLOYED_div_DAYS_BIRTH,5040.596843,667.365968
918,DAYS_BIRTH,4818.774355,575.137984
1551,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4778.946915,242.466973
1569,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4431.801769,136.093304
1563,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4345.462940,294.825625
163,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,4062.137785,1003.678504
999,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3745.916153,349.481790
1549,app_AMT_CREDIT_AMT_GOODS_PRICE,3668.506573,598.440034
914,CODE_GENDER,3530.855677,222.116169
1241,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3374.168659,498.839224
990,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3336.666579,296.953552
192,AMT_ANNUITY,3242.234930,371.306732
1578,app_PAYMENT_RATE,2998.063695,445.328610
933,EXT_SOURCE_3,2973.443030,282.538014
552,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2917.800522,392.289060
1025,NAME_EDUCATION_TYPE_Secondary___secondary_special,2754.130036,214.186903
686,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2538.727731,470.271073
1105,POS_CNT_INSTALMENT_FUTURE_MEAN,2535.853305,243.118878

In [175]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [176]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [177]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection14.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.056879
1      100005  0.102419
2      100013  0.025238
3      100028  0.040458
4      100038  0.149693

### 変数選択015

In [178]:
len(df_train.columns)

1583

In [179]:
length = int(len(df_train.columns) * 0.95)
length

1503

In [180]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [181]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 1764.58 MB
Memory usage of optimization is 1850293815.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 279.66 MB
Memory usage of optimization is 293244032.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,app_EXT_SOURCE_2_times_EXT_SOURCE_3,app_EXT_SOURCE_1_PER_DAYS_BIRTH,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,app_AMT_CREDIT_AMT_GOODS_PRICE,...,APPROVED_NAME_CASH_LOAN_PURPOSE_Car_repairs_MEAN,CLOSED_STATUS_1_MEAN_MIN,PREV_FLAG_LAST_APPL_PER_CONTRACT_N_MEAN,REFUSED_NAME_GOODS_CATEGORY_Computers_MEAN,INS_ins_DAYS_INSTALMENT_more_NUM_INSTALMENT_NUMBER_VAR,ORGANIZATION_TYPE_Insurance,APPROVED_NFLAG_INSURED_ON_APPROVAL_SUM,NAME_INCOME_TYPE_Commercial_associate,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,1.597656,0.388672,-1.687500,0.141479,-0.399170,-1.705078,-0.032013,...,-0.06488,-1.214844,-0.128906,0.771973,-0.102051,-0.044098,-0.959473,-0.550781,100002,1
1,-0.362793,1.686523,-0.817871,-0.222778,0.290283,1.546875,-0.532715,-0.328125,-0.032410,1.289062,...,-0.06488,0.826172,-0.128906,0.771973,-0.102051,-0.044098,1.166992,-0.550781,100003,0
2,0.889648,-0.109741,-1.407227,-0.716797,-1.044922,0.272705,0.843262,1.808594,-0.240479,-0.790039,...,-0.06488,0.826172,-0.128906,0.771973,-0.102051,-0.044098,-0.959473,-0.550781,100004,0
3,0.950195,-1.558594,-0.159912,-0.708008,-0.514648,1.546875,0.843262,-0.403564,-0.032410,-0.557129,...,-0.06488,-1.214844,-0.128906,-1.324219,-0.102051,-0.044098,-0.959473,-0.550781,100006,0
4,-1.232422,0.326172,-0.206299,-0.901367,-1.044922,1.546875,0.843262,1.808594,0.416260,-0.790039,...,-0.06488,0.826172,-0.128906,0.771973,-0.102051,-0.044098,1.455078,-0.550781,100007,0

In [182]:
len(df_train.columns)

1505

In [183]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [184]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 1503) (61503, 1503)
[100]	training's auc: 0.810576	valid_1's auc: 0.77816
[200]	training's auc: 0.845077	valid_1's auc: 0.78532
[300]	training's auc: 0.870083	valid_1's auc: 0.786246
[400]	training's auc: 0.890316	valid_1's auc: 0.786284
[500]	training's auc: 0.906869	valid_1's auc: 0.786521
[auc] tr:0.904142, va0.7868
-------------------- 1 --------------------
(246009, 1503) (61502, 1503)
[100]	training's auc: 0.8107	valid_1's auc: 0.780573
[200]	training's auc: 0.844767	valid_1's auc: 0.789087
[300]	training's auc: 0.870778	valid_1's auc: 0.790937
[400]	training's auc: 0.890902	valid_1's auc: 0.791397
[500]	training's auc: 0.907246	valid_1's auc: 0.791627
[600]	training's auc: 0.921132	valid_1's auc: 0.792012
[700]	training's auc: 0.93309	valid_1's auc: 0.791754
[auc] tr:0.922767, va0.7922
-------------------- 2 --------------------
(246009, 1503) (61502, 1503)
[100]	training's auc: 0.810264	valid_1's auc: 0.781661
[200]	training's auc: 0.84377	valid_1's auc: 0.788756
[300]	training's auc: 0.869579	valid_1's auc: 0.790364
[400]	training's auc: 0.889542	valid_1's auc: 0.791279
[500]	training's auc: 0.906149	valid_1's auc: 0.791399
[auc] tr:0.900478, va0.7916
-------------------- 3 --------------------
(246009, 1503) (61502, 1503)
[100]	training's auc: 0.811608	valid_1's auc: 0.778558
[200]	training's auc: 0.845287	valid_1's auc: 0.786398
[300]	training's auc: 0.871357	valid_1's auc: 0.788182
[400]	training's auc: 0.891499	valid_1's auc: 0.788158
[500]	training's auc: 0.907935	valid_1's auc: 0.788394
[600]	training's auc: 0.921941	valid_1's auc: 0.788386
[auc] tr:0.910488, va0.7886
-------------------- 4 --------------------
(246009, 1503) (61502, 1503)
[100]	training's auc: 0.810871	valid_1's auc: 0.7734
[200]	training's auc: 0.846266	valid_1's auc: 0.782033
[300]	training's auc: 0.872553	valid_1's auc: 0.783545
[400]	training's auc: 0.892695	valid_1's auc: 0.784292
[500]	training's auc: 0.90916	valid_1's auc: 0.784347
[600]	training's auc: 0.922303	valid_1's auc: 0.784526
[auc] tr:0.920208, va0.7846
-------------------- result --------------------
[[0.         0.90414237 0.78679109]
 [1.         0.9227669  0.79215777]
 [2.         0.90047817 0.79156517]
 [3.         0.91048816 0.78859674]
 [4.         0.92020768 0.7845824 ]]
[cv] tr:0.9116+-0.0087, va:0.7887+-0.0029
[oof]0.7887

In [185]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
1496,app_NEW_EXT_SOURCES_MEAN,112937.047807,1283.637208
1472,app_AMT_CREDIT_PER_AMT_ANNUITY,7634.618386,936.896535
1482,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4921.465687,369.283818
1473,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4919.817090,204.071506
872,DAYS_BIRTH,4650.516525,425.352214
1485,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4500.766024,205.663291
1491,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4299.917683,339.951306
141,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,4061.482078,935.799248
953,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3776.085937,336.475582
1471,app_AMT_CREDIT_AMT_GOODS_PRICE,3609.013968,420.349163
868,CODE_GENDER,3534.782943,235.378280
1192,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3329.568724,465.168106
944,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3219.592596,201.558210
170,AMT_ANNUITY,3098.083888,336.663130
511,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2956.672789,336.091457
887,EXT_SOURCE_3,2879.600657,316.130522
1500,app_PAYMENT_RATE,2759.180231,677.028522
978,NAME_EDUCATION_TYPE_Secondary___secondary_special,2751.548571,197.205769
1057,POS_CNT_INSTALMENT_FUTURE_MEAN,2550.591771,276.331722
1055,OWN_CAR_AGE,2491.666343,279.591178

In [186]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [187]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [188]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection15.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.049797
1      100005  0.115536
2      100013  0.034282
3      100028  0.036639
4      100038  0.159417

### 変数選択016

In [189]:
len(df_train.columns)

1505

In [190]:
length = int(len(df_train.columns) * 0.95)
length

1429

In [191]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [192]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 1677.77 MB
Memory usage of optimization is 1759270559.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 265.90 MB
Memory usage of optimization is 278815808.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,DAYS_BIRTH,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,app_AMT_CREDIT_AMT_GOODS_PRICE,...,PREV_NAME_CASH_LOAN_PURPOSE_Buying_a_used_car_MEAN,REFUSED_PRODUCT_COMBINATION_Cash_Street__high_MEAN,NAME_EDUCATION_TYPE_Academic_degree,FLAG_DOCUMENT_5,PREV_NFLAG_LAST_APPL_IN_DAY_SUM,APPROVED_PRODUCT_COMBINATION_POS_other_with_interest_MEAN,REFUSED_PRODUCT_COMBINATION_Cash_MEAN,CARD_MONTHS_BALANCE_SUM,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,0.388672,1.597656,0.141479,-1.687500,-0.399170,-1.705078,-0.032013,...,-0.075195,0.771973,-0.023102,-0.123901,-1.129883,4.203125,0.770508,0.623047,100002,1
1,-0.362793,1.686523,-0.817871,0.290283,-0.222778,-0.532715,1.546875,-0.328125,-0.032410,1.289062,...,-0.075195,0.771973,-0.023102,-0.123901,-0.147095,-0.238037,0.770508,0.623047,100003,0
2,0.889648,-0.109741,-1.407227,-1.044922,-0.716797,0.843262,0.272705,1.808594,-0.240479,-0.790039,...,-0.075195,0.771973,-0.023102,-0.123901,-1.129883,-0.238037,0.770508,0.623047,100004,0
3,0.950195,-1.558594,-0.159912,-0.514648,-0.708008,0.843262,1.546875,-0.403564,-0.032410,-0.557129,...,-0.075195,-1.333008,-0.023102,-0.123901,1.181641,-0.238037,-1.340820,-1.296875,100006,0
4,-1.232422,0.326172,-0.206299,-1.044922,-0.901367,0.843262,1.546875,1.808594,0.416260,-0.790039,...,-0.075195,0.771973,-0.023102,-0.123901,0.660156,-0.238037,0.770508,0.623047,100007,0

In [193]:
len(df_train.columns)

1431

In [194]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [195]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 1429) (61503, 1429)
[100]	training's auc: 0.811236	valid_1's auc: 0.778639
[200]	training's auc: 0.84513	valid_1's auc: 0.785771
[300]	training's auc: 0.870339	valid_1's auc: 0.786729
[400]	training's auc: 0.890529	valid_1's auc: 0.787486
[auc] tr:0.888845, va0.7876
-------------------- 1 --------------------
(246009, 1429) (61502, 1429)
[100]	training's auc: 0.810749	valid_1's auc: 0.780891
[200]	training's auc: 0.844748	valid_1's auc: 0.789195
[300]	training's auc: 0.869719	valid_1's auc: 0.790542
[400]	training's auc: 0.890448	valid_1's auc: 0.790765
[500]	training's auc: 0.906934	valid_1's auc: 0.79118
[auc] tr:0.905383, va0.7912
-------------------- 2 --------------------
(246009, 1429) (61502, 1429)
[100]	training's auc: 0.810853	valid_1's auc: 0.783133
[200]	training's auc: 0.844558	valid_1's auc: 0.789695
[300]	training's auc: 0.869548	valid_1's auc: 0.791132
[400]	training's auc: 0.889763	valid_1's auc: 0.791344
[500]	training's auc: 0.906869	valid_1's auc: 0.791615
[600]	training's auc: 0.92017	valid_1's auc: 0.791479
[auc] tr:0.916288, va0.7918
-------------------- 3 --------------------
(246009, 1429) (61502, 1429)
[100]	training's auc: 0.810799	valid_1's auc: 0.778134
[200]	training's auc: 0.845818	valid_1's auc: 0.786635
[300]	training's auc: 0.870925	valid_1's auc: 0.787987
[400]	training's auc: 0.891099	valid_1's auc: 0.787933
[500]	training's auc: 0.90765	valid_1's auc: 0.788513
[auc] tr:0.903920, va0.7886
-------------------- 4 --------------------
(246009, 1429) (61502, 1429)
[100]	training's auc: 0.81164	valid_1's auc: 0.773101
[200]	training's auc: 0.846241	valid_1's auc: 0.780556
[300]	training's auc: 0.871496	valid_1's auc: 0.781579
[400]	training's auc: 0.891119	valid_1's auc: 0.782014
[500]	training's auc: 0.907607	valid_1's auc: 0.78225
[600]	training's auc: 0.921454	valid_1's auc: 0.782265
[auc] tr:0.918503, va0.7825
-------------------- result --------------------
[[0.         0.88884451 0.78755518]
 [1.         0.90538307 0.79122839]
 [2.         0.91628764 0.79182399]
 [3.         0.9039205  0.78859041]
 [4.         0.91850333 0.78246683]]
[cv] tr:0.9066+-0.0106, va:0.7883+-0.0033
[oof]0.7883

In [196]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
1422,app_NEW_EXT_SOURCES_MEAN,113005.745068,1065.214452
1398,app_AMT_CREDIT_PER_AMT_ANNUITY,7383.551766,619.844828
1408,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4904.912721,336.443483
1399,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4892.511949,259.267113
829,DAYS_BIRTH,4551.680619,417.217761
1411,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4434.693282,189.239023
1417,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4150.209293,223.768918
129,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,3832.423555,1017.958972
908,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3621.819711,444.275532
1397,app_AMT_CREDIT_AMT_GOODS_PRICE,3548.773837,384.054590
825,CODE_GENDER,3508.522827,283.323359
1133,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3379.381496,490.955294
899,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3354.943029,304.340287
480,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,3037.186565,354.335383
158,AMT_ANNUITY,2885.518504,273.884202
1426,app_PAYMENT_RATE,2823.854786,826.922692
1428,app_most_popular_AMT_GOODS_PRICE,2774.811672,157.182520
843,EXT_SOURCE_3,2771.855689,298.262775
1001,POS_CNT_INSTALMENT_FUTURE_MEAN,2597.865925,350.485294
608,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2565.543261,435.535439

In [197]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [198]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [199]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection16.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.062864
1      100005  0.114234
2      100013  0.030747
3      100028  0.036082
4      100038  0.159958

### 変数選択017

In [200]:
len(df_train.columns)

1431

In [201]:
length = int(len(df_train.columns) * 0.95)
length

1359

In [202]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [203]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 1595.66 MB
Memory usage of optimization is 1673167479.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 252.88 MB
Memory usage of optimization is 265167488.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,DAYS_BIRTH,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,app_AMT_CREDIT_AMT_GOODS_PRICE,...,ORGANIZATION_TYPE_Transport__type_4,CLOSED_STATUS_1_MEAN_MEAN,REFUSED_NAME_SELLER_INDUSTRY_Consumer_electronics_MEAN,APPROVED_NAME_CASH_LOAN_PURPOSE_Medicine_MEAN,POS_NAME_CONTRACT_STATUS_Approved_MEAN,ORGANIZATION_TYPE_Restaurant,CLOSED_STATUS_X_MEAN_MIN,CARD_AMT_RECIVABLE_SUM,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,0.388672,1.597656,0.141479,-1.687500,-0.399170,-1.705078,-0.032013,...,-0.133667,-0.837891,0.752441,-0.077759,-0.11377,-0.076965,-1.260742,-0.258545,100002,1
1,-0.362793,1.686523,-0.817871,0.290283,-0.222778,-0.532715,1.546875,-0.328125,-0.032410,1.289062,...,-0.133667,0.825684,0.752441,-0.077759,-0.11377,-0.076965,0.817383,-0.258545,100003,0
2,0.889648,-0.109741,-1.407227,-1.044922,-0.716797,0.843262,0.272705,1.808594,-0.240479,-0.790039,...,-0.133667,0.825684,0.752441,-0.077759,-0.11377,-0.076965,0.817383,-0.258545,100004,0
3,0.950195,-1.558594,-0.159912,-0.514648,-0.708008,0.843262,1.546875,-0.403564,-0.032410,-0.557129,...,-0.133667,-1.220703,-1.440430,-0.077759,-0.11377,-0.076965,-1.260742,-0.258545,100006,0
4,-1.232422,0.326172,-0.206299,-1.044922,-0.901367,0.843262,1.546875,1.808594,0.416260,-0.790039,...,-0.133667,0.825684,0.752441,-0.077759,-0.11377,-0.076965,0.817383,-0.258545,100007,0

In [204]:
len(df_train.columns)

1361

In [205]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [206]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 1359) (61503, 1359)
[100]	training's auc: 0.81075	valid_1's auc: 0.778531
[200]	training's auc: 0.844744	valid_1's auc: 0.786452
[300]	training's auc: 0.869918	valid_1's auc: 0.787746
[auc] tr:0.861415, va0.7879
-------------------- 1 --------------------
(246009, 1359) (61502, 1359)
[100]	training's auc: 0.810974	valid_1's auc: 0.781165
[200]	training's auc: 0.845185	valid_1's auc: 0.78998
[300]	training's auc: 0.870089	valid_1's auc: 0.791948
[400]	training's auc: 0.890826	valid_1's auc: 0.792491
[500]	training's auc: 0.907418	valid_1's auc: 0.792847
[600]	training's auc: 0.921651	valid_1's auc: 0.792981
[700]	training's auc: 0.932824	valid_1's auc: 0.792959
[auc] tr:0.921784, va0.7931
-------------------- 2 --------------------
(246009, 1359) (61502, 1359)
[100]	training's auc: 0.81089	valid_1's auc: 0.782682
[200]	training's auc: 0.844303	valid_1's auc: 0.78932
[300]	training's auc: 0.869218	valid_1's auc: 0.790597
[400]	training's auc: 0.88932	valid_1's auc: 0.791481
[500]	training's auc: 0.906628	valid_1's auc: 0.791604
[auc] tr:0.901482, va0.7918
-------------------- 3 --------------------
(246009, 1359) (61502, 1359)
[100]	training's auc: 0.810992	valid_1's auc: 0.777748
[200]	training's auc: 0.845258	valid_1's auc: 0.785761
[300]	training's auc: 0.87045	valid_1's auc: 0.787466
[400]	training's auc: 0.890982	valid_1's auc: 0.787734
[500]	training's auc: 0.907637	valid_1's auc: 0.788277
[600]	training's auc: 0.921756	valid_1's auc: 0.788586
[700]	training's auc: 0.933883	valid_1's auc: 0.788632
[auc] tr:0.926272, va0.7888
-------------------- 4 --------------------
(246009, 1359) (61502, 1359)
[100]	training's auc: 0.81117	valid_1's auc: 0.772697
[200]	training's auc: 0.846183	valid_1's auc: 0.780647
[300]	training's auc: 0.871306	valid_1's auc: 0.782047
[400]	training's auc: 0.891602	valid_1's auc: 0.782037
[auc] tr:0.872316, va0.7822
-------------------- result --------------------
[[0.         0.86141534 0.78787092]
 [1.         0.92178379 0.79314058]
 [2.         0.90148163 0.79175129]
 [3.         0.92627241 0.78879643]
 [4.         0.87231601 0.782177  ]]
[cv] tr:0.8967+-0.0259, va:0.7887+-0.0038
[oof]0.7887

In [207]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
1352,app_NEW_EXT_SOURCES_MEAN,112610.341055,1162.302602
1328,app_AMT_CREDIT_PER_AMT_ANNUITY,7293.540553,508.473950
1329,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4879.978229,343.785951
1338,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4867.154303,282.915876
792,DAYS_BIRTH,4715.655567,699.305547
1341,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4463.146068,307.296747
1347,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4229.089985,414.664052
122,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,4021.867539,1034.640255
865,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3754.891745,486.617227
788,CODE_GENDER,3513.559208,223.638503
1327,app_AMT_CREDIT_AMT_GOODS_PRICE,3424.184437,467.155190
1079,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3352.850997,519.743614
856,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3302.918303,194.915854
150,AMT_ANNUITY,3155.592133,327.509272
1356,app_PAYMENT_RATE,2933.760533,686.586156
458,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2918.850560,450.378557
806,EXT_SOURCE_3,2779.945964,388.033861
1358,app_most_popular_AMT_GOODS_PRICE,2491.517064,231.530113
950,POS_CNT_INSTALMENT_FUTURE_MEAN,2476.032767,249.644939
948,OWN_CAR_AGE,2443.331859,205.024514

In [208]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [209]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [210]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection17.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.056230
1      100005  0.118310
2      100013  0.029540
3      100028  0.040367
4      100038  0.152151

### 変数選択018

In [211]:
len(df_train.columns)

1361

In [212]:
length = int(len(df_train.columns) * 0.90)
length

1224

In [213]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [214]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 1437.29 MB
Memory usage of optimization is 1507111539.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 227.78 MB
Memory usage of optimization is 238845728.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,app_DAYS_EMPLOYED_div_DAYS_BIRTH,DAYS_BIRTH,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,CODE_GENDER,...,CARD_AMT_DRAWINGS_ATM_CURRENT_MAX,PREV_NAME_CONTRACT_STATUS_Unused_offer_MEAN,CLOSED_STATUS_C_MEAN_MEAN,CARD_CNT_INSTALMENT_MATURE_CUM_SUM,ACTIVE_AMT_ANNUITY_MAX,PREV_NAME_TYPE_SUITE_Children_MEAN,WEEKDAY_APPR_PROCESS_START_FRIDAY,REFUSED_NAME_CLIENT_TYPE_New_MEAN,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,0.388672,-0.849609,1.597656,0.141479,-1.687500,-0.399170,-1.705078,-1.387695,...,-0.578125,-0.256836,-1.298828,-0.48877,-1.594727,-0.2771,-0.442383,0.768555,100002,1
1,-0.362793,1.686523,0.290283,-0.817871,-0.222778,-0.532715,1.546875,-0.328125,-0.032410,0.720215,...,-0.578125,-0.256836,0.801758,-0.48877,0.712891,-0.2771,-0.442383,0.768555,100003,0
2,0.889648,-0.109741,-1.044922,-1.407227,-0.716797,0.843262,0.272705,1.808594,-0.240479,-1.387695,...,-0.578125,-0.256836,0.801758,-0.48877,0.712891,-0.2771,-0.442383,0.768555,100004,0
3,0.950195,-1.558594,-0.514648,-0.159912,-0.708008,0.843262,1.546875,-0.403564,-0.032410,0.720215,...,1.771484,-0.256836,-1.491211,-0.48877,-1.594727,-0.2771,-0.442383,-1.336914,100006,0
4,-1.232422,0.326172,-1.044922,-0.206299,-0.901367,0.843262,1.546875,1.808594,0.416260,-1.387695,...,-0.578125,-0.256836,0.801758,-0.48877,0.712891,-0.2771,-0.442383,0.768555,100007,0

In [215]:
len(df_train.columns)

1226

In [216]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [217]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}
train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 1224) (61503, 1224)
[100]	training's auc: 0.810748	valid_1's auc: 0.777429
[200]	training's auc: 0.845697	valid_1's auc: 0.784888
[300]	training's auc: 0.870565	valid_1's auc: 0.785919
[400]	training's auc: 0.890372	valid_1's auc: 0.786908
[500]	training's auc: 0.906813	valid_1's auc: 0.786749
[auc] tr:0.889497, va0.7870
-------------------- 1 --------------------
(246009, 1224) (61502, 1224)
[100]	training's auc: 0.810568	valid_1's auc: 0.781296
[200]	training's auc: 0.844649	valid_1's auc: 0.789669
[300]	training's auc: 0.870434	valid_1's auc: 0.791096
[400]	training's auc: 0.891161	valid_1's auc: 0.791749
[500]	training's auc: 0.907747	valid_1's auc: 0.791641
[auc] tr:0.894289, va0.7919
-------------------- 2 --------------------
(246009, 1224) (61502, 1224)
[100]	training's auc: 0.810747	valid_1's auc: 0.782742
[200]	training's auc: 0.843741	valid_1's auc: 0.790008
[300]	training's auc: 0.869093	valid_1's auc: 0.791458
[400]	training's auc: 0.889339	valid_1's auc: 0.792034
[500]	training's auc: 0.906131	valid_1's auc: 0.792121
[600]	training's auc: 0.920555	valid_1's auc: 0.792351
[700]	training's auc: 0.932465	valid_1's auc: 0.792349
[800]	training's auc: 0.942543	valid_1's auc: 0.792758
[900]	training's auc: 0.951249	valid_1's auc: 0.792805
[auc] tr:0.944787, va0.7929
-------------------- 3 --------------------
(246009, 1224) (61502, 1224)
[100]	training's auc: 0.811173	valid_1's auc: 0.778798
[200]	training's auc: 0.846324	valid_1's auc: 0.78618
[300]	training's auc: 0.871739	valid_1's auc: 0.78777
[400]	training's auc: 0.8921	valid_1's auc: 0.788354
[500]	training's auc: 0.90817	valid_1's auc: 0.788468
[auc] tr:0.899347, va0.7886
-------------------- 4 --------------------
(246009, 1224) (61502, 1224)
[100]	training's auc: 0.810936	valid_1's auc: 0.773852
[200]	training's auc: 0.845995	valid_1's auc: 0.781613
[300]	training's auc: 0.871967	valid_1's auc: 0.782604
[400]	training's auc: 0.891909	valid_1's auc: 0.783102
[500]	training's auc: 0.90806	valid_1's auc: 0.783111
[auc] tr:0.893779, va0.7832
-------------------- result --------------------
[[0.         0.88949669 0.78695632]
 [1.         0.89428939 0.79191203]
 [2.         0.94478691 0.79293909]
 [3.         0.89934725 0.78859184]
 [4.         0.89377862 0.78320485]]
[cv] tr:0.9043+-0.0205, va:0.7887+-0.0035
[oof]0.7887

In [218]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
1217,app_NEW_EXT_SOURCES_MEAN,112842.575104,820.388503
1193,app_AMT_CREDIT_PER_AMT_ANNUITY,7495.451350,260.296766
1203,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4972.184438,622.286919
1194,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4885.316122,386.679927
710,DAYS_BIRTH,4615.766086,545.162217
1212,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4406.207184,360.878584
1206,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4376.569661,341.876786
101,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,3885.448201,1044.945211
780,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3685.464831,365.599141
1192,app_AMT_CREDIT_AMT_GOODS_PRICE,3527.195984,554.742348
707,CODE_GENDER,3484.450402,225.568920
771,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3337.535908,282.980496
967,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3336.147246,578.456575
129,AMT_ANNUITY,3181.728855,301.555745
412,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,3064.220925,252.629604
723,EXT_SOURCE_3,2799.519534,263.149684
1221,app_PAYMENT_RATE,2753.266674,487.148614
525,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2680.030666,597.505527
844,POS_CNT_INSTALMENT_FUTURE_MEAN,2597.730270,356.594290
1223,app_most_popular_AMT_GOODS_PRICE,2470.207576,183.645927

In [219]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [220]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [221]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection18.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.058468
1      100005  0.120277
2      100013  0.029495
3      100028  0.044094
4      100038  0.154820

### 変数選択019

In [222]:
len(df_train.columns)

1226

In [223]:
length = int(len(df_train.columns) * 0.95)
length

1164

In [224]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [225]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 1366.91 MB
Memory usage of optimization is 1433308899.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 216.62 MB
Memory usage of optimization is 227147168.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,app_EXT_SOURCE_1_PER_DAYS_BIRTH,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,app_AMT_CREDIT_AMT_GOODS_PRICE,...,PREV_NAME_TYPE_SUITE_Other_B_MEAN,CLOSED_DPD_3_cnt_MIN_VAR,CLOSED_STATUS_C_MEAN_MEAN,FLOORSMAX_MODE,BURO_DPD_1_Month_MIN_MAX,REFUSED_SELLERPLACE_AREA_VAR,BURO_First_status_X_MEAN_VAR,BURO_Last_status_C_MEAN_MEAN,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,0.388672,1.597656,-1.687500,0.141479,-0.399170,-1.705078,-0.032013,...,-0.209229,0.412354,-1.298828,-1.257812,-1.753906,0.542969,-0.995605,-0.560547,100002,1
1,-0.362793,1.686523,-0.817871,0.290283,-0.222778,1.546875,-0.532715,-0.328125,-0.032410,1.289062,...,-0.209229,0.412354,0.801758,-0.827148,0.563477,0.542969,0.806152,0.837402,100003,0
2,0.889648,-0.109741,-1.407227,-1.044922,-0.716797,0.272705,0.843262,1.808594,-0.240479,-0.790039,...,-0.209229,0.412354,0.801758,0.984375,0.563477,0.542969,0.806152,0.837402,100004,0
3,0.950195,-1.558594,-0.159912,-0.514648,-0.708008,1.546875,0.843262,-0.403564,-0.032410,-0.557129,...,-0.209229,-2.425781,-1.491211,0.984375,-1.784180,0.542969,-1.411133,-1.495117,100006,0
4,-1.232422,0.326172,-0.206299,-1.044922,-0.901367,1.546875,0.843262,1.808594,0.416260,-0.790039,...,-0.209229,0.412354,0.801758,0.984375,0.563477,0.542969,0.806152,0.837402,100007,0

In [226]:
len(df_train.columns)

1166

In [227]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [228]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 1164) (61503, 1164)
[100]	training's auc: 0.810992	valid_1's auc: 0.778614
[200]	training's auc: 0.845243	valid_1's auc: 0.786099
[300]	training's auc: 0.870109	valid_1's auc: 0.787285
[400]	training's auc: 0.889815	valid_1's auc: 0.7876
[500]	training's auc: 0.907345	valid_1's auc: 0.787814
[600]	training's auc: 0.921231	valid_1's auc: 0.788018
[700]	training's auc: 0.933055	valid_1's auc: 0.788294
[800]	training's auc: 0.942588	valid_1's auc: 0.788348
[900]	training's auc: 0.950571	valid_1's auc: 0.788335
[auc] tr:0.943175, va0.7885
-------------------- 1 --------------------
(246009, 1164) (61502, 1164)
[100]	training's auc: 0.810479	valid_1's auc: 0.780848
[200]	training's auc: 0.844422	valid_1's auc: 0.788856
[300]	training's auc: 0.868732	valid_1's auc: 0.790692
[400]	training's auc: 0.889605	valid_1's auc: 0.791403
[500]	training's auc: 0.906703	valid_1's auc: 0.791775
[auc] tr:0.904890, va0.7918
-------------------- 2 --------------------
(246009, 1164) (61502, 1164)
[100]	training's auc: 0.810284	valid_1's auc: 0.782989
[200]	training's auc: 0.843449	valid_1's auc: 0.790069
[300]	training's auc: 0.869597	valid_1's auc: 0.791636
[400]	training's auc: 0.890256	valid_1's auc: 0.79217
[500]	training's auc: 0.906903	valid_1's auc: 0.792381
[600]	training's auc: 0.921034	valid_1's auc: 0.792591
[auc] tr:0.916078, va0.7928
-------------------- 3 --------------------
(246009, 1164) (61502, 1164)
[100]	training's auc: 0.811435	valid_1's auc: 0.778822
[200]	training's auc: 0.845586	valid_1's auc: 0.786272
[300]	training's auc: 0.87119	valid_1's auc: 0.78757
[400]	training's auc: 0.89119	valid_1's auc: 0.788151
[auc] tr:0.883342, va0.7882
-------------------- 4 --------------------
(246009, 1164) (61502, 1164)
[100]	training's auc: 0.811214	valid_1's auc: 0.773309
[200]	training's auc: 0.845901	valid_1's auc: 0.7816
[300]	training's auc: 0.871358	valid_1's auc: 0.783124
[400]	training's auc: 0.891603	valid_1's auc: 0.78365
[500]	training's auc: 0.908939	valid_1's auc: 0.783975
[600]	training's auc: 0.922561	valid_1's auc: 0.783872
[auc] tr:0.920266, va0.7841
-------------------- result --------------------
[[0.         0.94317454 0.78851483]
 [1.         0.90489025 0.79180136]
 [2.         0.91607757 0.7927806 ]
 [3.         0.88334208 0.78819218]
 [4.         0.92026599 0.78405699]]
[cv] tr:0.9136+-0.0196, va:0.7891+-0.0031
[oof]0.7890

In [229]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
1157,app_NEW_EXT_SOURCES_MEAN,112905.940924,1127.016729
1133,app_AMT_CREDIT_PER_AMT_ANNUITY,7691.127827,615.738996
1143,app_DAYS_EMPLOYED_div_DAYS_BIRTH,5057.563534,478.966013
672,DAYS_BIRTH,4950.760686,302.898949
1134,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4774.596087,332.563817
1146,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4521.047779,231.303251
1152,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4335.881024,430.710991
96,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,4064.179579,895.945672
741,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3824.147513,216.159581
1132,app_AMT_CREDIT_AMT_GOODS_PRICE,3755.606243,387.627030
669,CODE_GENDER,3584.871152,235.030261
919,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3469.696454,553.635330
732,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3396.585037,191.042876
124,AMT_ANNUITY,3100.602585,517.645328
684,EXT_SOURCE_3,3008.858946,252.180697
396,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2988.905225,233.319958
1161,app_PAYMENT_RATE,2903.401586,388.403000
500,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2746.894285,601.460262
397,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2591.084638,897.345101
798,POS_CNT_INSTALMENT_FUTURE_MEAN,2552.868038,329.800941

In [230]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [231]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [232]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection19.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.048043
1      100005  0.110114
2      100013  0.031256
3      100028  0.036632
4      100038  0.154070

### 変数選択020

In [233]:
len(df_train.columns)

1166

In [234]:
length = int(len(df_train.columns) * 0.95)
length

1107

In [235]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [236]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 1300.05 MB
Memory usage of optimization is 1363196391.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 206.03 MB
Memory usage of optimization is 216033536.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,app_AMT_CREDIT_AMT_GOODS_PRICE,...,ACTIVE_DPD_1_Month_MIN_MAX,APPROVED_NAME_GOODS_CATEGORY_Clothing_and_Accessories_MEAN,APPROVED_NAME_CONTRACT_TYPE_Cash_loans_MEAN,AMT_REQ_CREDIT_BUREAU_MON,BURO_DPD_1_Month_MIN_SUM,ACTIVE_Month_closed_to_end_MIN_MIN,REFUSED_SELLERPLACE_AREA_VAR,CARD_card_AMT_DRAWINGS_CURRENT__AMT_DRAWINGS_OTHER_CURRENT_MEAN,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,1.597656,0.388672,0.141479,-1.687500,-0.399170,-1.705078,-0.032013,...,-2.017578,-0.241821,-0.851562,-0.599609,3.273438,-1.426758,0.542969,-0.613770,100002,1
1,-0.362793,1.686523,-0.817871,-0.222778,0.290283,-0.532715,1.546875,-0.328125,-0.032410,1.289062,...,0.493408,-0.241821,0.847656,-0.599609,-0.325684,0.591797,0.542969,-0.613770,100003,0
2,0.889648,-0.109741,-1.407227,-0.716797,-1.044922,0.843262,0.272705,1.808594,-0.240479,-0.790039,...,0.493408,-0.241821,-0.851562,-0.599609,-0.325684,0.591797,0.542969,-0.613770,100004,0
3,0.950195,-1.558594,-0.159912,-0.708008,-0.514648,0.843262,1.546875,-0.403564,-0.032410,-0.557129,...,-2.031250,-0.241821,1.009766,2.009766,-0.325684,-1.779297,0.542969,1.735352,100006,0
4,-1.232422,0.326172,-0.206299,-0.901367,-1.044922,0.843262,1.546875,1.808594,0.416260,-0.790039,...,0.493408,-0.241821,1.417969,-0.599609,-0.325684,0.591797,0.542969,-0.613770,100007,0

In [237]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [238]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 1107) (61503, 1107)
[100]	training's auc: 0.810771	valid_1's auc: 0.777427
[200]	training's auc: 0.844792	valid_1's auc: 0.784294
[300]	training's auc: 0.870237	valid_1's auc: 0.78554
[400]	training's auc: 0.889728	valid_1's auc: 0.785698
[500]	training's auc: 0.907147	valid_1's auc: 0.785977
[600]	training's auc: 0.92104	valid_1's auc: 0.786309
[auc] tr:0.917419, va0.7864
-------------------- 1 --------------------
(246009, 1107) (61502, 1107)
[100]	training's auc: 0.810102	valid_1's auc: 0.781412
[200]	training's auc: 0.84525	valid_1's auc: 0.789413
[300]	training's auc: 0.869845	valid_1's auc: 0.790408
[400]	training's auc: 0.890254	valid_1's auc: 0.790689
[500]	training's auc: 0.906943	valid_1's auc: 0.791186
[600]	training's auc: 0.921926	valid_1's auc: 0.791276
[auc] tr:0.917456, va0.7913
-------------------- 2 --------------------
(246009, 1107) (61502, 1107)
[100]	training's auc: 0.810602	valid_1's auc: 0.782563
[200]	training's auc: 0.843575	valid_1's auc: 0.789489
[300]	training's auc: 0.869191	valid_1's auc: 0.79115
[400]	training's auc: 0.889709	valid_1's auc: 0.79234
[500]	training's auc: 0.906805	valid_1's auc: 0.79247
[600]	training's auc: 0.921037	valid_1's auc: 0.792631
[700]	training's auc: 0.932886	valid_1's auc: 0.792657
[auc] tr:0.927204, va0.7927
-------------------- 3 --------------------
(246009, 1107) (61502, 1107)
[100]	training's auc: 0.81036	valid_1's auc: 0.778105
[200]	training's auc: 0.845032	valid_1's auc: 0.786031
[300]	training's auc: 0.870881	valid_1's auc: 0.787202
[400]	training's auc: 0.8912	valid_1's auc: 0.787875
[500]	training's auc: 0.9081	valid_1's auc: 0.78827
[600]	training's auc: 0.922271	valid_1's auc: 0.788407
[700]	training's auc: 0.934105	valid_1's auc: 0.788108
[auc] tr:0.922252, va0.7885
-------------------- 4 --------------------
(246009, 1107) (61502, 1107)
[100]	training's auc: 0.810435	valid_1's auc: 0.773468
[200]	training's auc: 0.845891	valid_1's auc: 0.782194
[300]	training's auc: 0.871848	valid_1's auc: 0.783273
[400]	training's auc: 0.891934	valid_1's auc: 0.783608
[500]	training's auc: 0.908813	valid_1's auc: 0.783913
[600]	training's auc: 0.922886	valid_1's auc: 0.783968
[auc] tr:0.918670, va0.7842
-------------------- result --------------------
[[0.         0.91741892 0.78637416]
 [1.         0.91745555 0.79134889]
 [2.         0.92720357 0.79273416]
 [3.         0.92225223 0.78852189]
 [4.         0.91867037 0.7841891 ]]
[cv] tr:0.9206+-0.0037, va:0.7886+-0.0031
[oof]0.7886

In [239]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
1100,app_NEW_EXT_SOURCES_MEAN,112771.561680,1047.237388
1076,app_AMT_CREDIT_PER_AMT_ANNUITY,7564.229065,752.768155
1086,app_DAYS_EMPLOYED_div_DAYS_BIRTH,5130.128359,504.331164
632,DAYS_BIRTH,5074.214322,246.661674
1077,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4999.047601,312.319646
1089,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4712.621716,125.702537
1095,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4487.711628,217.421072
86,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,4100.991156,1079.526333
701,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3932.567430,387.845520
1075,app_AMT_CREDIT_AMT_GOODS_PRICE,3749.627934,480.533767
629,CODE_GENDER,3550.333915,165.291467
692,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3431.790122,258.765747
114,AMT_ANNUITY,3412.799907,234.539086
872,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3393.681137,437.943712
375,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,3133.545177,422.546916
1104,app_PAYMENT_RATE,3039.215324,621.050741
644,EXT_SOURCE_3,2946.931641,145.765635
473,CARD_card_AMT_BALANCE__AMT_RECIVABLE_MEAN,2920.832212,446.047488
754,POS_CNT_INSTALMENT_FUTURE_MEAN,2670.054993,193.408448
376,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2530.399474,668.296872

In [240]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [241]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [242]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection20.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.058012
1      100005  0.114733
2      100013  0.034330
3      100028  0.036448
4      100038  0.149179

### 変数選択021

In [243]:
len(df_train.columns)

1109

In [244]:
length = int(len(df_train.columns) * 0.95)
length

1053

In [245]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [246]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 1236.70 MB
Memory usage of optimization is 1296774015.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 195.98 MB
Memory usage of optimization is 205504832.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,app_AMT_CREDIT_PER_AMT_ANNUITY,app_DAYS_EMPLOYED_div_DAYS_BIRTH,DAYS_BIRTH,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_times_EXT_SOURCE_3,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEBT_MIN,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,app_AMT_CREDIT_AMT_GOODS_PRICE,...,BURO_MONTHS_BALANCE_MIN_MIN,APPROVED_NAME_GOODS_CATEGORY_Clothing_and_Accessories_MEAN,BURO_AMT_ANNUITY_VAR,BURO_STATUS_X_MEAN_MEAN,REFUSED_HOUR_APPR_PROCESS_START_MAX,CLOSED_SK_ID_BUREAU_MIN_SUM,CLOSED_bureau_DAYS_CREDIT__CREDIT_DAY_OVERDUE_VAR,CARD_AMT_TOTAL_RECEIVABLE_MAX,SK_ID_CURR,TARGET
0,-2.046875,-0.596191,-0.849609,1.597656,0.388672,0.141479,-1.687500,-0.399170,-1.705078,-0.032013,...,-1.553711,-0.241821,-1.557617,-1.061523,0.758301,1.287109,-0.347656,-0.489014,100002,1
1,-0.362793,1.686523,-0.817871,-0.222778,0.290283,-0.532715,1.546875,-0.328125,-0.032410,1.289062,...,0.651367,-0.241821,0.719238,0.873535,0.758301,-0.766602,0.261475,-0.489014,100003,0
2,0.889648,-0.109741,-1.407227,-0.716797,-1.044922,0.843262,0.272705,1.808594,-0.240479,-0.790039,...,0.651367,-0.241821,0.719238,0.873535,0.758301,-0.766602,0.024277,-0.489014,100004,0
3,0.950195,-1.558594,-0.159912,-0.708008,-0.514648,0.843262,1.546875,-0.403564,-0.032410,-0.557129,...,0.651367,-0.241821,-1.557617,-1.285156,-0.980469,-0.766602,-1.752930,-0.489014,100006,0
4,-1.232422,0.326172,-0.206299,-0.901367,-1.044922,0.843262,1.546875,1.808594,0.416260,-0.790039,...,0.651367,-0.241821,0.719238,0.873535,0.758301,-0.766602,1.218750,-0.489014,100007,0

In [247]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [248]:
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 1053) (61503, 1053)
[100]	training's auc: 0.810504	valid_1's auc: 0.778514
[200]	training's auc: 0.845624	valid_1's auc: 0.786135
[300]	training's auc: 0.870906	valid_1's auc: 0.786601
[400]	training's auc: 0.890758	valid_1's auc: 0.786821
[auc] tr:0.885193, va0.7871
-------------------- 1 --------------------
(246009, 1053) (61502, 1053)
[100]	training's auc: 0.810241	valid_1's auc: 0.780785
[200]	training's auc: 0.844421	valid_1's auc: 0.789727
[300]	training's auc: 0.869464	valid_1's auc: 0.791347
[400]	training's auc: 0.889554	valid_1's auc: 0.792288
[500]	training's auc: 0.906164	valid_1's auc: 0.792038
[auc] tr:0.897588, va0.7923
-------------------- 2 --------------------
(246009, 1053) (61502, 1053)
[100]	training's auc: 0.810609	valid_1's auc: 0.782312
[200]	training's auc: 0.844141	valid_1's auc: 0.789172
[300]	training's auc: 0.86888	valid_1's auc: 0.790978
[400]	training's auc: 0.889306	valid_1's auc: 0.791863
[500]	training's auc: 0.906089	valid_1's auc: 0.792058
[auc] tr:0.899489, va0.7922
-------------------- 3 --------------------
(246009, 1053) (61502, 1053)
[100]	training's auc: 0.810857	valid_1's auc: 0.778284
[200]	training's auc: 0.845259	valid_1's auc: 0.786371
[300]	training's auc: 0.871265	valid_1's auc: 0.787811
[400]	training's auc: 0.891184	valid_1's auc: 0.788361
[500]	training's auc: 0.90891	valid_1's auc: 0.788481
[auc] tr:0.894260, va0.7887
-------------------- 4 --------------------
(246009, 1053) (61502, 1053)
[100]	training's auc: 0.810743	valid_1's auc: 0.773699
[200]	training's auc: 0.845862	valid_1's auc: 0.781757
[300]	training's auc: 0.871323	valid_1's auc: 0.783047
[400]	training's auc: 0.891274	valid_1's auc: 0.783507
[500]	training's auc: 0.907947	valid_1's auc: 0.783851
[600]	training's auc: 0.922145	valid_1's auc: 0.78394
[auc] tr:0.917288, va0.7841
-------------------- result --------------------
[[0.         0.88519327 0.78705446]
 [1.         0.89758762 0.79234766]
 [2.         0.8994892  0.79216012]
 [3.         0.89426029 0.78870262]
 [4.         0.91728844 0.78414488]]
[cv] tr:0.8988+-0.0105, va:0.7889+-0.0031
[oof]0.7889

In [249]:
imp.sort_values("imp", ascending=False)[:20]

,col,imp,imp_std
1046,app_NEW_EXT_SOURCES_MEAN,112550.420831,1257.659889
1022,app_AMT_CREDIT_PER_AMT_ANNUITY,7296.487948,562.283262
1023,app_AMT_CREDIT_PER_AMT_GOODS_PRICE,4872.934829,197.667230
1032,app_DAYS_EMPLOYED_div_DAYS_BIRTH,4847.433805,460.923476
602,DAYS_BIRTH,4679.309706,318.581676
1035,app_EXT_SOURCE_1_PER_DAYS_BIRTH,4386.032012,223.842706
1041,app_EXT_SOURCE_2_times_EXT_SOURCE_3,4219.788895,314.862023
80,ACTIVE_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_D...,3940.742475,948.341072
670,INS_ins_DAYS_ENTRY_PAYMENT_DAYS_INSTALMENT_MAX,3595.575191,225.586561
599,CODE_GENDER,3477.583220,265.667011
1021,app_AMT_CREDIT_AMT_GOODS_PRICE,3471.365768,339.132624
834,PREV_NAME_CONTRACT_STATUS_Refused_MEAN,3377.451192,496.426718
661,INS_ins_AMT_INSTALMENT_AMT_PAYMENT_MEAN,3349.752998,194.570989
108,AMT_ANNUITY,3201.607195,240.799259
359,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,3093.834368,388.385544
1050,app_PAYMENT_RATE,2886.117924,634.554947
614,EXT_SOURCE_3,2795.912907,257.614152
718,POS_CNT_INSTALMENT_FUTURE_MEAN,2552.573909,291.102437
360,BURO_bureau_AMT_CREDIT_SUM__AMT_CREDIT_SUM_DEB...,2484.160901,516.302382
1052,app_most_popular_AMT_GOODS_PRICE,2479.950251,145.950292

In [250]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [251]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [252]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection21.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.050896
1      100005  0.109332
2      100013  0.032331
3      100028  0.037270
4      100038  0.155683

### 変数選択022

### 変数選択023

### 変数選択024

### 変数選択025

### 変数選択026

### 変数選択027

### 変数選択028

### 変数選択029

### 変数選択030

### 変数選択031

### 変数選択032

### 変数選択033

### 変数選択034

### 変数選択035

In [253]:
baseline = Baseline('SK_ID_CURR')

sampler = optuna.samplers.TPESampler(seed=123)
study = optuna.create_study(sampler=sampler, direction='maximize')
study.optimize(objective, n_trials=50, n_jobs=5)

[I 2022-06-27 08:28:11,991] A new study created in memory with name: no-name-4b5e37df-b93d-4f68-b865-9223d1ff284a
[I 2022-06-27 08:34:53,045] Trial 0 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 69, 'min_child_samples': 131, 'min_sum_hessian_in_leaf': 0.0029386882627703125, 'feature_fraction': 0.9512156486284564, 'bagging_fraction': 0.5071733172647104, 'lambda_l1': 11.794853171333024, 'lambda_l2': 0.01812867963167791}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:34:53,269] Trial 4 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 220, 'min_child_samples': 114, 'min_sum_hessian_in_leaf': 5.2564008946518467e-05, 'feature_fraction': 0.882679616887935, 'bagging_fraction': 0.7817479308321091, 'lambda_l1': 67.63583517713327, 'lambda_l2': 19.738992272834807}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:34:53,953] Trial 2 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 86, 'min_child_samples': 50, 'min_sum_hessian_in_leaf': 0.0001103624845547055, 'feature_fraction': 0.7618346978183475, 'bagging_fraction': 0.8315533974277263, 'lambda_l1': 1.8080146353571227, 'lambda_l2': 0.025119928364194063}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:34:55,870] Trial 3 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 39, 'min_child_samples': 165, 'min_sum_hessian_in_leaf': 5.711366291888411e-05, 'feature_fraction': 0.6636303863671714, 'bagging_fraction': 0.8763229092589135, 'lambda_l1': 8.117440999757568, 'lambda_l2': 3.4414087188646763}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:34:56,756] Trial 1 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 130, 'min_child_samples': 45, 'min_sum_hessian_in_leaf': 0.00354632053534479, 'feature_fraction': 0.5699389962380368, 'bagging_fraction': 0.8642145268113701, 'lambda_l1': 2.2801190234704225, 'lambda_l2': 0.01743095235090625}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:41:29,887] Trial 5 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 76, 'min_child_samples': 18, 'min_sum_hessian_in_leaf': 0.009400344403503914, 'feature_fraction': 0.5704370518219716, 'bagging_fraction': 0.5689739375121294, 'lambda_l1': 0.6126879516886143, 'lambda_l2': 0.044920066843357545}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:41:33,582] Trial 8 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 197, 'min_child_samples': 63, 'min_sum_hessian_in_leaf': 0.0050855362900190555, 'feature_fraction': 0.7921590762469061, 'bagging_fraction': 0.6142021715173067, 'lambda_l1': 1.061265984195258, 'lambda_l2': 0.01153025758589876}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:41:35,237] Trial 6 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 46, 'min_child_samples': 68, 'min_sum_hessian_in_leaf': 0.0002294733441528215, 'feature_fraction': 0.6880306208560945, 'bagging_fraction': 0.7899198189679519, 'lambda_l1': 0.16845492459132788, 'lambda_l2': 92.8487414021486}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:41:35,308] Trial 7 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 108, 'min_child_samples': 89, 'min_sum_hessian_in_leaf': 7.283217972619281e-05, 'feature_fraction': 0.6021881811171618, 'bagging_fraction': 0.5594867860268828, 'lambda_l1': 0.013237393657603715, 'lambda_l2': 1.3706979638763912}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:41:37,432] Trial 9 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 58, 'min_child_samples': 169, 'min_sum_hessian_in_leaf': 0.0005160809208454994, 'feature_fraction': 0.8490554689194323, 'bagging_fraction': 0.6597612884674132, 'lambda_l1': 1.0086536563965078, 'lambda_l2': 0.2252063176619162}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:48:01,025] Trial 10 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 133, 'min_child_samples': 118, 'min_sum_hessian_in_leaf': 1.4985624353502778e-05, 'feature_fraction': 0.6415327739829786, 'bagging_fraction': 0.8979503818899408, 'lambda_l1': 20.5611183426067, 'lambda_l2': 0.045579613099652146}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:48:06,603] Trial 11 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 86, 'min_child_samples': 99, 'min_sum_hessian_in_leaf': 0.0015731873006652021, 'feature_fraction': 0.5770843206651439, 'bagging_fraction': 0.6197411752753359, 'lambda_l1': 0.013477626105499418, 'lambda_l2': 2.7044101378073164}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:48:06,708] Trial 13 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 240, 'min_child_samples': 158, 'min_sum_hessian_in_leaf': 0.0005311054424930832, 'feature_fraction': 0.9114628911756136, 'bagging_fraction': 0.6257345270801349, 'lambda_l1': 0.026734044406126978, 'lambda_l2': 4.753725621771625}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:48:06,736] Trial 12 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 16, 'min_child_samples': 68, 'min_sum_hessian_in_leaf': 0.0001931984017575695, 'feature_fraction': 0.9932363547862444, 'bagging_fraction': 0.7785160003568076, 'lambda_l1': 0.024010542696886655, 'lambda_l2': 0.1828907146914221}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:48:09,818] Trial 14 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 170, 'min_child_samples': 132, 'min_sum_hessian_in_leaf': 1.2374992577906776e-05, 'feature_fraction': 0.9972030927582565, 'bagging_fraction': 0.7063156059564538, 'lambda_l1': 85.15831167486864, 'lambda_l2': 0.17952159708547732}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:56:09,636] Trial 15 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 156, 'min_child_samples': 5, 'min_sum_hessian_in_leaf': 0.0019543721794263373, 'feature_fraction': 0.9987572757322694, 'bagging_fraction': 0.9736115742749281, 'lambda_l1': 7.908313158709424, 'lambda_l2': 0.2684592799028912}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:56:19,326] Trial 16 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 129, 'min_child_samples': 140, 'min_sum_hessian_in_leaf': 0.002166653945639772, 'feature_fraction': 0.5073286392055701, 'bagging_fraction': 0.7054911262835508, 'lambda_l1': 6.857383177852873, 'lambda_l2': 0.26418043019125376}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:56:21,054] Trial 19 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 145, 'min_child_samples': 18, 'min_sum_hessian_in_leaf': 0.0018726911228507041, 'feature_fraction': 0.5005911842657896, 'bagging_fraction': 0.995551303695336, 'lambda_l1': 7.5423874740552295, 'lambda_l2': 0.011617423851663212}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:56:21,074] Trial 18 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 161, 'min_child_samples': 200, 'min_sum_hessian_in_leaf': 0.0017409196696358618, 'feature_fraction': 0.9779076328762895, 'bagging_fraction': 0.9631036445608335, 'lambda_l1': 7.071786211302223, 'lambda_l2': 0.24555683841671366}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 08:56:23,262] Trial 17 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 168, 'min_child_samples': 12, 'min_sum_hessian_in_leaf': 0.0019857951009700477, 'feature_fraction': 0.5026080895528624, 'bagging_fraction': 0.9995372149877123, 'lambda_l1': 6.201965919903915, 'lambda_l2': 0.1401926053145483}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:02:48,865] Trial 20 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 123, 'min_child_samples': 33, 'min_sum_hessian_in_leaf': 0.001723684344511862, 'feature_fraction': 0.5059306020659746, 'bagging_fraction': 0.5080649973354951, 'lambda_l1': 4.348050333041847, 'lambda_l2': 0.023049012389787033}. Best is trial 0 with value: 0.7870544624212851.

[I 2022-06-27 09:02:53,496] Trial 24 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 194, 'min_child_samples': 188, 'min_sum_hessian_in_leaf': 0.0007827299992072825, 'feature_fraction': 0.7071712102170387, 'bagging_fraction': 0.5119953597448146, 'lambda_l1': 24.009268158449423, 'lambda_l2': 0.06983091971904934}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:02:55,446] Trial 21 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 179, 'min_child_samples': 139, 'min_sum_hessian_in_leaf': 1.372055510239543e-05, 'feature_fraction': 0.9423709360932294, 'bagging_fraction': 0.5089576586340028, 'lambda_l1': 61.90875939396014, 'lambda_l2': 0.07986745551165396}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:02:57,066] Trial 22 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 169, 'min_child_samples': 142, 'min_sum_hessian_in_leaf': 0.0008149367390501666, 'feature_fraction': 0.7123312105089946, 'bagging_fraction': 0.5064305366904925, 'lambda_l1': 27.5871167705234, 'lambda_l2': 0.06783673810105537}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:02:58,014] Trial 23 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 114, 'min_child_samples': 141, 'min_sum_hessian_in_leaf': 0.0006614711308774222, 'feature_fraction': 0.8117944799775438, 'bagging_fraction': 0.517689917484814, 'lambda_l1': 31.803030109383972, 'lambda_l2': 0.6198761282375314}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:11:11,900] Trial 27 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 107, 'min_child_samples': 30, 'min_sum_hessian_in_leaf': 0.0009211724551758224, 'feature_fraction': 0.5304302290493528, 'bagging_fraction': 0.550846069666399, 'lambda_l1': 28.893023225354444, 'lambda_l2': 0.011272642000417442}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:11:13,185] Trial 25 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 176, 'min_child_samples': 199, 'min_sum_hessian_in_leaf': 0.0006990354153328937, 'feature_fraction': 0.928607069945477, 'bagging_fraction': 0.9368914060224892, 'lambda_l1': 21.250712275211864, 'lambda_l2': 0.07824265945041016}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:11:16,198] Trial 28 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 108, 'min_child_samples': 88, 'min_sum_hessian_in_leaf': 2.9074620137593417e-05, 'feature_fraction': 0.9356000348614193, 'bagging_fraction': 0.5566388061375728, 'lambda_l1': 49.024328473897235, 'lambda_l2': 0.02716427664170946}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:11:18,249] Trial 26 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 156, 'min_child_samples': 199, 'min_sum_hessian_in_leaf': 0.009683372702391743, 'feature_fraction': 0.9378284702481344, 'bagging_fraction': 0.939782653029926, 'lambda_l1': 21.31304765549761, 'lambda_l2': 0.010011356258088345}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:11:18,311] Trial 29 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 190, 'min_child_samples': 152, 'min_sum_hessian_in_leaf': 2.369225422007968e-05, 'feature_fraction': 0.9310584948044157, 'bagging_fraction': 0.5674386596641592, 'lambda_l1': 40.935894105265426, 'lambda_l2': 0.06875904994623538}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:17:54,499] Trial 30 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 68, 'min_child_samples': 153, 'min_sum_hessian_in_leaf': 0.00040576383656944405, 'feature_fraction': 0.8112303971556869, 'bagging_fraction': 0.5761545918402274, 'lambda_l1': 20.226355641866796, 'lambda_l2': 0.8434033170410803}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:17:54,503] Trial 31 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 249, 'min_child_samples': 180, 'min_sum_hessian_in_leaf': 0.00035101546597206165, 'feature_fraction': 0.8235445565217293, 'bagging_fraction': 0.5740814400841345, 'lambda_l1': 13.850814791701458, 'lambda_l2': 0.8230106670193337}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:17:56,815] Trial 32 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 198, 'min_child_samples': 200, 'min_sum_hessian_in_leaf': 0.00038148474319487855, 'feature_fraction': 0.8475038004217502, 'bagging_fraction': 0.704393247142422, 'lambda_l1': 17.275106526610845, 'lambda_l2': 0.694047184819304}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:17:56,877] Trial 34 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 68, 'min_child_samples': 174, 'min_sum_hessian_in_leaf': 0.005089009619852665, 'feature_fraction': 0.8509517816554087, 'bagging_fraction': 0.7175475931683675, 'lambda_l1': 13.360292790161541, 'lambda_l2': 0.01328018635527797}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:17:56,898] Trial 33 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 212, 'min_child_samples': 182, 'min_sum_hessian_in_leaf': 0.004441753983794771, 'feature_fraction': 0.8777372811442143, 'bagging_fraction': 0.930014563594131, 'lambda_l1': 14.056843829405134, 'lambda_l2': 0.010384259246424646}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:26:18,518] Trial 36 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 99, 'min_child_samples': 90, 'min_sum_hessian_in_leaf': 3.5318944896756274e-05, 'feature_fraction': 0.8778301394115258, 'bagging_fraction': 0.5466997119620876, 'lambda_l1': 42.789269969477296, 'lambda_l2': 0.026672754842424783}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:26:20,333] Trial 35 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 99, 'min_child_samples': 122, 'min_sum_hessian_in_leaf': 2.44776434712962e-05, 'feature_fraction': 0.8855973465161753, 'bagging_fraction': 0.5451299274188394, 'lambda_l1': 53.945811842044044, 'lambda_l2': 0.02634587764191978}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:26:22,706] Trial 39 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 142, 'min_child_samples': 32, 'min_sum_hessian_in_leaf': 0.0030194393348662554, 'feature_fraction': 0.626994455178185, 'bagging_fraction': 0.8403010961624398, 'lambda_l1': 2.4983175726706657, 'lambda_l2': 0.02556755054159976}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:26:23,949] Trial 38 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 254, 'min_child_samples': 153, 'min_sum_hessian_in_leaf': 0.002891644741356423, 'feature_fraction': 0.6168743556394222, 'bagging_fraction': 0.8236236099475027, 'lambda_l1': 3.279793301683996, 'lambda_l2': 0.02421273734740665}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:26:34,846] Trial 37 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 90, 'min_child_samples': 156, 'min_sum_hessian_in_leaf': 0.0031471601991069423, 'feature_fraction': 0.5357655303072929, 'bagging_fraction': 0.8318814088315435, 'lambda_l1': 2.039455433566309, 'lambda_l2': 0.02266243746961975}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:33:19,859] Trial 41 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 26, 'min_child_samples': 108, 'min_sum_hessian_in_leaf': 0.0012085682849276185, 'feature_fraction': 0.7681655120459973, 'bagging_fraction': 0.5009922638086289, 'lambda_l1': 2.544220988991711, 'lambda_l2': 0.041781585007876994}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:33:22,975] Trial 40 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 23, 'min_child_samples': 121, 'min_sum_hessian_in_leaf': 0.0011656929524634734, 'feature_fraction': 0.7541371721781666, 'bagging_fraction': 0.5169723400284346, 'lambda_l1': 3.6846635492353847, 'lambda_l2': 0.025273910355986674}. Best is trial 0 with value: 0.7870544624212851.

[I 2022-06-27 09:33:26,607] Trial 43 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 22, 'min_child_samples': 143, 'min_sum_hessian_in_leaf': 0.00015168898478091247, 'feature_fraction': 0.7632422395718983, 'bagging_fraction': 0.517032940478842, 'lambda_l1': 0.4152262424879434, 'lambda_l2': 0.46927048268505644}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:33:28,044] Trial 42 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 23, 'min_child_samples': 135, 'min_sum_hessian_in_leaf': 0.0001592490493234275, 'feature_fraction': 0.7625967873039254, 'bagging_fraction': 0.5046400898582202, 'lambda_l1': 93.10873371264582, 'lambda_l2': 0.43160690821343517}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:33:29,708] Trial 44 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 39, 'min_child_samples': 111, 'min_sum_hessian_in_leaf': 0.0010991637012374774, 'feature_fraction': 0.7164380505863198, 'bagging_fraction': 0.5155037178072176, 'lambda_l1': 0.479175837198469, 'lambda_l2': 0.4119944817227018}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:40:07,963] Trial 46 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 215, 'min_child_samples': 189, 'min_sum_hessian_in_leaf': 0.009223373175440431, 'feature_fraction': 0.7100605809140108, 'bagging_fraction': 0.8993576860396905, 'lambda_l1': 0.27152939820030775, 'lambda_l2': 0.1058458565667861}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:40:08,546] Trial 45 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 229, 'min_child_samples': 184, 'min_sum_hessian_in_leaf': 0.0007857373268025293, 'feature_fraction': 0.712200695695536, 'bagging_fraction': 0.5270172970433052, 'lambda_l1': 0.27169577754809643, 'lambda_l2': 0.09299921931021488}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:40:12,404] Trial 47 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 220, 'min_child_samples': 189, 'min_sum_hessian_in_leaf': 0.008669499377266314, 'feature_fraction': 0.7153670888366418, 'bagging_fraction': 0.9004258082267824, 'lambda_l1': 30.705815480073905, 'lambda_l2': 0.09912228529807908}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:40:13,517] Trial 49 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 219, 'min_child_samples': 189, 'min_sum_hessian_in_leaf': 0.009568335328325399, 'feature_fraction': 0.9541229833830714, 'bagging_fraction': 0.8945063846987529, 'lambda_l1': 28.687646054913614, 'lambda_l2': 0.04367574877363049}. Best is trial 0 with value: 0.7870544624212851.
[I 2022-06-27 09:40:14,050] Trial 48 finished with value: 0.7870544624212851 and parameters: {'num_leaves': 221, 'min_child_samples': 190, 'min_sum_hessian_in_leaf': 0.009505991348326564, 'feature_fraction': 0.7286276101341163, 'bagging_fraction': 0.8953952892079198, 'lambda_l1': 27.110029311164354, 'lambda_l2': 0.11078898087296728}. Best is trial 0 with value: 0.7870544624212851.

In [254]:
trial = study.best_trial
print("auc(best)={:.4f}".format(trial.value))
display(trial.params)

auc(best)=0.7871

{'num_leaves': 69,
 'min_child_samples': 131,
 'min_sum_hessian_in_leaf': 0.0029386882627703125,
 'feature_fraction': 0.9512156486284564,
 'bagging_fraction': 0.5071733172647104,
 'lambda_l1': 11.794853171333024,
 'lambda_l2': 0.01812867963167791}

In [255]:
params_best = trial.params
params_best.update(params_base)
display(params_best)

{'num_leaves': 69,
 'min_child_samples': 131,
 'min_sum_hessian_in_leaf': 0.0029386882627703125,
 'feature_fraction': 0.9512156486284564,
 'bagging_fraction': 0.5071733172647104,
 'lambda_l1': 11.794853171333024,
 'lambda_l2': 0.01812867963167791,
 'boosting_type': 'gbdt',
 'objective': 'binary',
 'metric': 'auc',
 'verbosity': -1,
 'learning_rate': 0.05,
 'n_estimators': 100000,
 'random_state': 123,
 'bagging_freq': 1}

In [256]:
train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5
                                    ,params=params_best)

-------------------- 0 --------------------
(246008, 1053) (61503, 1053)
[LightGBM] [Warning] feature_fraction is set=0.9512156486284564, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9512156486284564
[LightGBM] [Warning] lambda_l1 is set=11.794853171333024, reg_alpha=0.0 will be ignored. Current value: lambda_l1=11.794853171333024
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.0029386882627703125, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.0029386882627703125
[LightGBM] [Warning] bagging_fraction is set=0.5071733172647104, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5071733172647104
[LightGBM] [Warning] lambda_l2 is set=0.01812867963167791, reg_lambda=0.0 will be ignored. Current value: lambda_l2=0.01812867963167791
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[100]	training's auc: 0.821951	valid_1's auc: 0.779774
[200]	training's auc: 0.857166	valid_1's auc: 0.784851
[300]	training's auc: 0.884416	valid_1's auc: 0.78613
[auc] tr:0.874361, va0.7866
-------------------- 1 --------------------
(246009, 1053) (61502, 1053)
[LightGBM] [Warning] feature_fraction is set=0.9512156486284564, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9512156486284564
[LightGBM] [Warning] lambda_l1 is set=11.794853171333024, reg_alpha=0.0 will be ignored. Current value: lambda_l1=11.794853171333024
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.0029386882627703125, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.0029386882627703125
[LightGBM] [Warning] bagging_fraction is set=0.5071733172647104, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5071733172647104
[LightGBM] [Warning] lambda_l2 is set=0.01812867963167791, reg_lambda=0.0 will be ignored. Current value: lambda_l2=0.01812867963167791
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[100]	training's auc: 0.820944	valid_1's auc: 0.782695
[200]	training's auc: 0.856501	valid_1's auc: 0.789659
[300]	training's auc: 0.884125	valid_1's auc: 0.791706
[400]	training's auc: 0.906408	valid_1's auc: 0.792271
[500]	training's auc: 0.923985	valid_1's auc: 0.791583
[auc] tr:0.908734, va0.7924
-------------------- 2 --------------------
(246009, 1053) (61502, 1053)
[LightGBM] [Warning] feature_fraction is set=0.9512156486284564, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9512156486284564
[LightGBM] [Warning] lambda_l1 is set=11.794853171333024, reg_alpha=0.0 will be ignored. Current value: lambda_l1=11.794853171333024
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.0029386882627703125, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.0029386882627703125
[LightGBM] [Warning] bagging_fraction is set=0.5071733172647104, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5071733172647104
[LightGBM] [Warning] lambda_l2 is set=0.01812867963167791, reg_lambda=0.0 will be ignored. Current value: lambda_l2=0.01812867963167791
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[100]	training's auc: 0.821668	valid_1's auc: 0.783167
[200]	training's auc: 0.857063	valid_1's auc: 0.789112
[300]	training's auc: 0.884484	valid_1's auc: 0.790228
[400]	training's auc: 0.906116	valid_1's auc: 0.790529
[500]	training's auc: 0.923992	valid_1's auc: 0.790835
[auc] tr:0.918394, va0.7911
-------------------- 3 --------------------
(246009, 1053) (61502, 1053)
[LightGBM] [Warning] feature_fraction is set=0.9512156486284564, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9512156486284564
[LightGBM] [Warning] lambda_l1 is set=11.794853171333024, reg_alpha=0.0 will be ignored. Current value: lambda_l1=11.794853171333024
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.0029386882627703125, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.0029386882627703125
[LightGBM] [Warning] bagging_fraction is set=0.5071733172647104, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5071733172647104
[LightGBM] [Warning] lambda_l2 is set=0.01812867963167791, reg_lambda=0.0 will be ignored. Current value: lambda_l2=0.01812867963167791
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[100]	training's auc: 0.822239	valid_1's auc: 0.778822
[200]	training's auc: 0.858072	valid_1's auc: 0.785128
[300]	training's auc: 0.885458	valid_1's auc: 0.786455
[400]	training's auc: 0.906974	valid_1's auc: 0.786106
[auc] tr:0.895915, va0.7865
-------------------- 4 --------------------
(246009, 1053) (61502, 1053)
[LightGBM] [Warning] feature_fraction is set=0.9512156486284564, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.9512156486284564
[LightGBM] [Warning] lambda_l1 is set=11.794853171333024, reg_alpha=0.0 will be ignored. Current value: lambda_l1=11.794853171333024
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.0029386882627703125, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.0029386882627703125
[LightGBM] [Warning] bagging_fraction is set=0.5071733172647104, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5071733172647104
[LightGBM] [Warning] lambda_l2 is set=0.01812867963167791, reg_lambda=0.0 will be ignored. Current value: lambda_l2=0.01812867963167791
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[100]	training's auc: 0.822447	valid_1's auc: 0.774642
[200]	training's auc: 0.858128	valid_1's auc: 0.78103
[300]	training's auc: 0.885215	valid_1's auc: 0.782712
[400]	training's auc: 0.90733	valid_1's auc: 0.782685
[auc] tr:0.903599, va0.7829
-------------------- result --------------------
[[0.         0.87436054 0.78660653]
 [1.         0.90873428 0.79238183]
 [2.         0.91839404 0.79114606]
 [3.         0.89591461 0.78647843]
 [4.         0.90359886 0.7828976 ]]
[cv] tr:0.9002+-0.0148, va:0.7879+-0.0034
[oof]0.7879

In [257]:
# 推論用データセットの作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

# predict
test_pred = baseline.predict_lgb(x_test
                       ,id_test
                       ,list_nfold=[0,1,2,3,4])

# make submission-file
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv("./home-credit-default-risk/submit/submission_LgbFeatureSelection39.csv", index=None)

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.
(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.052232
1      100005  0.080591
2      100013  0.044494
3      100028  0.045518
4      100038  0.109767

### 変数選択040

In [258]:
length = 1053

In [259]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [260]:
del df_train
del df_test
gc.collect()
df_train = df_train_origin[train_columns].copy()
df_test = df_test_origin[test_columns].copy()
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 1236.70 MB
Memory usage of optimization is 1296774015.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 195.98 MB
Memory usage of optimization is 205504832.00 MB
Decreased by -104857500.0%

,app_NEW_EXT_SOURCES_MEAN,DAYS_BIRTH,DAYS_ID_PUBLISH,app_AMT_CREDIT_PER_AMT_ANNUITY,AMT_ANNUITY,DAYS_REGISTRATION,app_DAYS_EMPLOYED_div_DAYS_BIRTH,REGION_POPULATION_RELATIVE,EXT_SOURCE_2,app_EXT_SOURCE_1_PER_DAYS_BIRTH,...,CARD_AMT_DRAWINGS_CURRENT_MIN,ORGANIZATION_TYPE_Industry__type_9,OCCUPATION_TYPE_Low_skill_Laborers,REFUSED_CODE_REJECT_REASON_SCOFR_MEAN,FLAG_DOCUMENT_18,ORGANIZATION_TYPE_Realtor,NAME_HOUSING_TYPE_Office_apartment,ACTIVE_CREDIT_TYPE_Microloan_MEAN,SK_ID_CURR,TARGET
0,-2.046875,1.597656,0.553711,-0.596191,0.028198,0.171143,-0.849609,0.046997,-1.306641,0.141479,...,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,-0.430420,100002,1
1,-0.362793,-0.222778,1.837891,1.686523,0.744141,1.122070,-0.817871,-1.730469,0.548828,-0.532715,...,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,-0.430420,100003,0
2,0.889648,-0.716797,0.281250,-0.109741,-2.085938,-0.007088,-1.407227,-0.863281,0.207520,0.843262,...,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,2.335938,100004,0
3,0.950195,-0.708008,0.343262,-1.558594,0.378662,-1.244141,-0.159912,-1.112305,0.695312,0.843262,...,-0.035004,-0.105225,-0.082764,-1.311523,-0.090515,-0.035919,-0.092651,-0.430420,100006,0
4,-1.232422,-0.901367,-0.322754,0.326172,-0.196533,-0.021057,-0.206299,0.799805,-0.998047,0.843262,...,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,2.335938,100007,0

In [261]:
### infをnanへ置換
df_train = df_train.replace([np.inf, -np.inf], np.nan)
df_train.head()

,app_NEW_EXT_SOURCES_MEAN,DAYS_BIRTH,DAYS_ID_PUBLISH,app_AMT_CREDIT_PER_AMT_ANNUITY,AMT_ANNUITY,DAYS_REGISTRATION,app_DAYS_EMPLOYED_div_DAYS_BIRTH,REGION_POPULATION_RELATIVE,EXT_SOURCE_2,app_EXT_SOURCE_1_PER_DAYS_BIRTH,...,CARD_AMT_DRAWINGS_CURRENT_MIN,ORGANIZATION_TYPE_Industry__type_9,OCCUPATION_TYPE_Low_skill_Laborers,REFUSED_CODE_REJECT_REASON_SCOFR_MEAN,FLAG_DOCUMENT_18,ORGANIZATION_TYPE_Realtor,NAME_HOUSING_TYPE_Office_apartment,ACTIVE_CREDIT_TYPE_Microloan_MEAN,SK_ID_CURR,TARGET
0,-2.046875,1.597656,0.553711,-0.596191,0.028198,0.171143,-0.849609,0.046997,-1.306641,0.141479,...,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,-0.430420,100002,1
1,-0.362793,-0.222778,1.837891,1.686523,0.744141,1.122070,-0.817871,-1.730469,0.548828,-0.532715,...,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,-0.430420,100003,0
2,0.889648,-0.716797,0.281250,-0.109741,-2.085938,-0.007088,-1.407227,-0.863281,0.207520,0.843262,...,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,2.335938,100004,0
3,0.950195,-0.708008,0.343262,-1.558594,0.378662,-1.244141,-0.159912,-1.112305,0.695312,0.843262,...,-0.035004,-0.105225,-0.082764,-1.311523,-0.090515,-0.035919,-0.092651,-0.430420,100006,0
4,-1.232422,-0.901367,-0.322754,0.326172,-0.196533,-0.021057,-0.206299,0.799805,-0.998047,0.843262,...,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,2.335938,100007,0

In [262]:
### 欠損値補完
df_train = df_train.fillna(df_train.max() + (df_train.max() * 0.4))
df_train.head()

,app_NEW_EXT_SOURCES_MEAN,DAYS_BIRTH,DAYS_ID_PUBLISH,app_AMT_CREDIT_PER_AMT_ANNUITY,AMT_ANNUITY,DAYS_REGISTRATION,app_DAYS_EMPLOYED_div_DAYS_BIRTH,REGION_POPULATION_RELATIVE,EXT_SOURCE_2,app_EXT_SOURCE_1_PER_DAYS_BIRTH,...,CARD_AMT_DRAWINGS_CURRENT_MIN,ORGANIZATION_TYPE_Industry__type_9,OCCUPATION_TYPE_Low_skill_Laborers,REFUSED_CODE_REJECT_REASON_SCOFR_MEAN,FLAG_DOCUMENT_18,ORGANIZATION_TYPE_Realtor,NAME_HOUSING_TYPE_Office_apartment,ACTIVE_CREDIT_TYPE_Microloan_MEAN,SK_ID_CURR,TARGET
0,-2.046875,1.597656,0.553711,-0.596191,0.028198,0.171143,-0.849609,0.046997,-1.306641,0.141479,...,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,-0.430420,100002,1
1,-0.362793,-0.222778,1.837891,1.686523,0.744141,1.122070,-0.817871,-1.730469,0.548828,-0.532715,...,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,-0.430420,100003,0
2,0.889648,-0.716797,0.281250,-0.109741,-2.085938,-0.007088,-1.407227,-0.863281,0.207520,0.843262,...,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,2.335938,100004,0
3,0.950195,-0.708008,0.343262,-1.558594,0.378662,-1.244141,-0.159912,-1.112305,0.695312,0.843262,...,-0.035004,-0.105225,-0.082764,-1.311523,-0.090515,-0.035919,-0.092651,-0.430420,100006,0
4,-1.232422,-0.901367,-0.322754,0.326172,-0.196533,-0.021057,-0.206299,0.799805,-0.998047,0.843262,...,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,2.335938,100007,0

In [263]:
### infをnanへ置換
df_test = df_test.replace([np.inf, -np.inf], np.nan)
df_test.head()

,app_NEW_EXT_SOURCES_MEAN,DAYS_BIRTH,DAYS_ID_PUBLISH,app_AMT_CREDIT_PER_AMT_ANNUITY,AMT_ANNUITY,DAYS_REGISTRATION,app_DAYS_EMPLOYED_div_DAYS_BIRTH,REGION_POPULATION_RELATIVE,EXT_SOURCE_2,app_EXT_SOURCE_1_PER_DAYS_BIRTH,...,ACTIVE_AMT_CREDIT_SUM_OVERDUE_MAX,CARD_AMT_DRAWINGS_CURRENT_MIN,ORGANIZATION_TYPE_Industry__type_9,OCCUPATION_TYPE_Low_skill_Laborers,REFUSED_CODE_REJECT_REASON_SCOFR_MEAN,FLAG_DOCUMENT_18,ORGANIZATION_TYPE_Realtor,NAME_HOUSING_TYPE_Office_apartment,ACTIVE_CREDIT_TYPE_Microloan_MEAN,SK_ID_CURR
0,0.327393,-0.757324,1.453125,0.810059,-0.307861,-0.249634,-0.418945,0.050568,1.415039,-1.323242,...,-0.437256,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,-0.430420,100001
1,-0.598145,-0.507324,0.888672,-1.159180,-0.604980,-1.111328,0.302002,1.211914,-1.159180,-1.096680,...,-0.437256,-0.035004,-0.105225,12.078125,0.775879,-0.090515,-0.035919,-0.092651,-0.430420,100005
2,0.988281,-0.923340,-0.351562,-1.750000,2.203125,0.674805,0.185181,0.073669,0.950195,0.865723,...,2.306641,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,2.335938,100013
3,0.197998,0.421875,-0.802246,1.282227,1.408203,0.745117,-0.331543,0.648438,-0.030289,-1.285156,...,-0.437256,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,-0.430420,100028
4,-1.281250,0.650391,-0.836914,-0.175781,0.529785,0.066895,-0.110596,-0.863281,-0.465576,-0.350830,...,-0.437256,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,-0.430420,100038

In [264]:
### 欠損値補完
df_test = df_test.fillna(df_test.max() + (df_test.max() * 0.4))
df_test.head()

,app_NEW_EXT_SOURCES_MEAN,DAYS_BIRTH,DAYS_ID_PUBLISH,app_AMT_CREDIT_PER_AMT_ANNUITY,AMT_ANNUITY,DAYS_REGISTRATION,app_DAYS_EMPLOYED_div_DAYS_BIRTH,REGION_POPULATION_RELATIVE,EXT_SOURCE_2,app_EXT_SOURCE_1_PER_DAYS_BIRTH,...,ACTIVE_AMT_CREDIT_SUM_OVERDUE_MAX,CARD_AMT_DRAWINGS_CURRENT_MIN,ORGANIZATION_TYPE_Industry__type_9,OCCUPATION_TYPE_Low_skill_Laborers,REFUSED_CODE_REJECT_REASON_SCOFR_MEAN,FLAG_DOCUMENT_18,ORGANIZATION_TYPE_Realtor,NAME_HOUSING_TYPE_Office_apartment,ACTIVE_CREDIT_TYPE_Microloan_MEAN,SK_ID_CURR
0,0.327393,-0.757324,1.453125,0.810059,-0.307861,-0.249634,-0.418945,0.050568,1.415039,-1.323242,...,-0.437256,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,-0.430420,100001
1,-0.598145,-0.507324,0.888672,-1.159180,-0.604980,-1.111328,0.302002,1.211914,-1.159180,-1.096680,...,-0.437256,-0.035004,-0.105225,12.078125,0.775879,-0.090515,-0.035919,-0.092651,-0.430420,100005
2,0.988281,-0.923340,-0.351562,-1.750000,2.203125,0.674805,0.185181,0.073669,0.950195,0.865723,...,2.306641,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,2.335938,100013
3,0.197998,0.421875,-0.802246,1.282227,1.408203,0.745117,-0.331543,0.648438,-0.030289,-1.285156,...,-0.437256,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,-0.430420,100028
4,-1.281250,0.650391,-0.836914,-0.175781,0.529785,0.066895,-0.110596,-0.863281,-0.465576,-0.350830,...,-0.437256,-0.035004,-0.105225,-0.082764,0.775879,-0.090515,-0.035919,-0.092651,-0.430420,100038

In [265]:
### 処理対象の列名を配列化
encoding_columns = list(df_test.select_dtypes(include='number').columns)
encoding_columns.remove('SK_ID_CURR')

In [1]:
### Yao-Jhonson変換
#for column in encoding_columns:
#    modules.process_yj_convert(df_train, df_test, column, [column])

#df_train.head()

In [ ]:
### indexを設定
df_train = df_train.set_index('SK_ID_CURR')
df_test = df_test.set_index('SK_ID_CURR')
df_train.head()

In [ ]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(df_train, df_test, num_cols)
        
df_train.head()

In [ ]:
### indexを削除
df_train = df_train.reset_index()
df_test = df_test.reset_index()
df_train.head()

In [ ]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [ ]:


params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

In [ ]:
imp.sort_values("imp", ascending=False)[:20]

In [ ]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [ ]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

In [ ]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_LgbFeatureSelection40.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

### 変数選択041

In [ ]:
baseline = Baseline('SK_ID_CURR')

sampler = optuna.samplers.TPESampler(seed=123)
study = optuna.create_study(sampler=sampler, direction='maximize')
study.optimize(objective, n_trials=50, n_jobs=5)

In [ ]:
trial = study.best_trial
print("auc(best)={:.4f}".format(trial.value))
display(trial.params)

In [ ]:
params_best = trial.params
params_best.update(params_base)
display(params_best)

In [ ]:
train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5
                                    ,params=params_best)

In [ ]:
# 推論用データセットの作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

# predict
test_pred = baseline.predict_lgb(x_test
                       ,id_test
                       ,list_nfold=[0,1,2,3,4])

# make submission-file
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv("./home-credit-default-risk/submit/submission_LgbFeatureSelection41.csv", index=None)

In [ ]:
del df_train
del df_train_origin
del df_test
del df_test_origin
gc.collect()