In [1]:
import torch
# GPUの名称、CUDA Compute Capabilityを取得
print(torch.cuda.get_device_name())

NVIDIA GeForce RTX 2080 Ti

In [2]:
import cupy as cp
import numpy as np
import pandas as pd
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import scipy.stats as st
import pickle
import optuna
import re
import gc

from lightgbm import LGBMClassifier

from sklearn import metrics
from sklearn.tree import plot_tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.impute import SimpleImputer
from sklearn_pandas import DataFrameMapper
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import log_loss
from sklearn.metrics import mean_squared_log_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.metrics import roc_auc_score
from sklearn.datasets import make_moons
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_selection import mutual_info_classif
from sklearn.experimental import enable_iterative_imputer

from keras.layers import Dense, Dropout
from keras.models import Sequential

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

from tqdm import tqdm

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

import xgboost as xgb
from sklearn.metrics import log_loss
from xgboost.sklearn import XGBClassifier

from Modules import Modules
from Baseline import Baseline
from FeatureEngineering2 import FeatureEngineering2


%matplotlib inline

print("OK\n")

OK

## 共通関数定義

In [3]:
params = {
        'booster': 'gbtree'
        ,'objective': 'binary:logistic'
        ,'silent': 1
        ,'random_state': 17
        ,'eval_metric': 'auc'
        ,'eta': 0.1
        ,'max_depth': 8
        ,'subsample': 0.9
        ,'colsample_state': 71
        ,'colsample_bytree': 1.0
        ,'colsample_bylevel': 0.3
        ,'gamma': 0
        ,'lambda': 1
        ,'alpha': 0
        ,'min_child_weight': 1
        ,'gpu_id': 0
        ,'tree_method': 'gpu_hist'
        #,'num_round': 1000
}

## インスタンス生成

In [4]:
baseline = Baseline('SK_ID_CURR')
modules = Modules('SK_ID_CURR')
FeatureEngineering2 = FeatureEngineering2('SK_ID_CURR')

In [5]:
params_base = {
        'booster': 'gbtree'
        ,'objective': 'binary:logistic'
        ,'eta': 0.1
        ,'gamma': 0.0
        ,'alpha': 0.0
        ,'lambda': 1.0
        ,'min_child_weight': 6
        ,'max_depth': 1
        ,'subsample': 0.8
        ,'colsample_bytree': 0.8
        ,'random_state': 17
        ,'gpu_id': 0
        ,'tree_method': 'gpu_hist'
        ,'eval_metric': 'auc'
        ,'colsample_bylevel': 0.3
        #,'num_round': 100000
}


def objective(trial):
    # 探索するパラメータ
    param_tuning = {
            "min_child_weight": trial.suggest_float("min_child_weight", 0.1, 10, log=True)
            ,"max_depth": trial.suggest_int("max_depth", 1, 15, step=1, log=False)
            ,"subsample": trial.suggest_float("subsample", 0.1, 0.95,  step =0.05, log=False)
            ,"colsample_bytree": trial.suggest_float("colsample_bytree", 0.1, 0.95,  step =0.05, log=False)
            ,'colsample_bylevel': trial.suggest_float("colsample_bylevel", 0.1, 0.95,  step =0.05, log=False)
            ,"gamma": trial.suggest_float("gamma", 1e-8, 1.0, log=True)
            # 余裕があれば調整する
            ,"alpha": trial.suggest_float("alpha", 1e-8, 1.0, log=True)
            ,"lambda": trial.suggest_float("lambda", 1e-6, 10.0, log=True)
            
    }
    param_tuning.update(params_base)

    # モデル学習・評価:
    list_metrics = []
    cv = list(StratifiedKFold(n_splits=5, shuffle=True, random_state=123).split(x_train, y_train))
    list_fold = [0]
    for nfold in list_fold:
        idx_tr, idx_va = cv[nfold][0], cv[nfold][1]
        x_tr, y_tr = x_train.loc[idx_tr, :], y_train[idx_tr]
        x_va, y_va = x_train.loc[idx_va, :], y_train[idx_va]
        model = xgb.XGBClassifier(**params)
        model.fit(x_tr
                    ,y_tr
                    ,eval_set=[(x_tr, y_tr), (x_va, y_va)]
        )
        y_va_pred = model.predict_proba(x_va)[:,1]
        metric_va = roc_auc_score(y_va, y_va_pred)
        list_metrics.append(metric_va)

    # 評価指数の算出
    metrics = np.mean(list_metrics)

    return metrics

## 特徴量生成

In [6]:
### application
df = FeatureEngineering2.application()
df.head()

"Application_Train_Test" final shape: (356250, 234)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,APP_EXT_SOURCE_2*DAYS_EMPLOYED,APP_EXT_SOURCE_3*DAYS_EMPLOYED,APPS_GOODS_INCOME_RATIO,APPS_CNT_FAM_INCOME_RATIO,APPS_INCOME_EMPLOYED_RATIO,CREDIT_TO_GOODS_RATIO_2,APP_AMT_INCOME_TOTAL_12_AMT_ANNUITY_ratio,APP_INCOME_TO_EMPLOYED_RATIO,APP_DAYS_LAST_PHONE_CHANGE_DAYS_EMPLOYED_ratio,APP_DAYS_EMPLOYED_DAYS_BIRTH_diff
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,-167.498254,-88.782372,1.733333,202500.0,-317.896389,1.158397,-7825.5,-317.896389,1.780220,8824.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,-739.227981,NaN,4.183333,135000.0,-227.272727,1.145199,-13198.5,-227.272727,0.696970,15577.0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,-125.080219,-164.152505,2.000000,67500.0,-300.000000,1.000000,-1125.0,-300.000000,3.622222,18821.0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,-1976.692297,NaN,2.200000,67500.0,-44.422507,1.052803,-18436.5,-44.422507,0.203027,15966.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,-980.478916,NaN,4.222222,121500.0,-39.993417,1.000000,-11740.5,-39.993417,0.364055,16894.0

In [7]:
### bureau_balance
df = df.merge(FeatureEngineering2.bureau_bb(), how='left', on='SK_ID_CURR')
df.head()

"Bureau/Bureau Balance" final shape: (305811, 200)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_BUREAU_CREDIT_DEBT_RATIO_MIN,CLOSED_BUREAU_CREDIT_DEBT_RATIO_MAX,CLOSED_BUREAU_CREDIT_DEBT_RATIO_MEAN,CLOSED_DEBT_CREDIT_DIFF_MIN,CLOSED_DEBT_CREDIT_DIFF_MAX,CLOSED_DEBT_CREDIT_DIFF_MEAN,CLOSED_BUREAU_IS_DPD_MEAN,CLOSED_BUREAU_IS_DPD_SUM,CLOSED_BUREAU_IS_DPD_OVER120_MEAN,CLOSED_BUREAU_IS_DPD_OVER120_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,135000.0,85245.0,0.0,0.0,0.0,0.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,22248.0,112500.0,69133.5,0.0,0.0,0.0,0.0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,94500.0,94537.8,94518.9,0.0,0.0,0.0,0.0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,146250.0,146250.0,146250.0,0.0,0.0,0.0,0.0

In [8]:
### previos_application
df = df.merge(FeatureEngineering2.previous_application(), how='left', on='SK_ID_CURR')
df.head()

"Previous Applications" final shape: (338857, 321)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,REFUSED_PREV_GOODS_DIFF_MEAN,REFUSED_PREV_GOODS_DIFF_MAX,REFUSED_PREV_GOODS_DIFF_SUM,REFUSED_PREV_GOODS_APPL_RATIO_MEAN,REFUSED_PREV_GOODS_APPL_RATIO_MAX,REFUSED_DAYS_LAST_DUE_DIFF_MEAN,REFUSED_DAYS_LAST_DUE_DIFF_MAX,REFUSED_DAYS_LAST_DUE_DIFF_SUM,REFUSED_SIMPLE_INTERESTS_MEAN,REFUSED_SIMPLE_INTERESTS_MAX
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,1.0,1.0,NaN,NaN,0.0,0.015231,0.015231
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
### pos_cash
df = df.merge(FeatureEngineering2.pos_cash(), how='left', on='SK_ID_CURR')
df.head()

"Pos-Cash" balance final shape: (337252, 46)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,POS_NAME_CONTRACT_STATUS_Returned to the store_MEAN,POS_NAME_CONTRACT_STATUS_Signed_MEAN,POS_NAME_CONTRACT_STATUS_XNA_MEAN,POS_NAME_CONTRACT_STATUS_nan_MEAN,POS_COUNT,POS_LOAN_COMPLETED_MEAN,POS_COMPLETED_BEFORE_MEAN,POS_REMAINING_INSTALMENTS,POS_REMAINING_INSTALMENTS_RATIO,LATE_PAYMENT_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0.000000,0.000000,0.0,0.0,19.0,0.000000,0.0,6.0,0.250000,0.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0.000000,0.000000,0.0,0.0,28.0,0.250000,1.0,1.0,0.083333,0.0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0.000000,0.000000,0.0,0.0,4.0,0.250000,1.0,0.0,0.000000,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.047619,0.000000,0.0,0.0,21.0,0.458333,2.0,3.0,0.250000,0.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0.000000,0.015152,0.0,0.0,66.0,0.209402,1.0,14.0,0.641667,0.0

In [10]:
### instllment_payment
df = df.merge(FeatureEngineering2.installment(), how='left', on='SK_ID_CURR')
df.head()

"Installments Payments" final shape: (339587, 85)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,INS_D365PAYMENT_PERC_MAX,INS_D365DPD_DIFF_MEAN,INS_D365DPD_DIFF_MIN,INS_D365DPD_DIFF_MAX,INS_D365DPD_MEAN,INS_D365DPD_SUM,INS_D365INS_IS_DPD_UNDER_120_MEAN,INS_D365INS_IS_DPD_UNDER_120_SUM,INS_D365INS_IS_DPD_OVER_120_MEAN,INS_D365INS_IS_DPD_OVER_120_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1.0,-17.363636,-24.0,-12.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,1.0,-6.181818,-23.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,1.0,-2.250000,-4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
### credit_card_balance
df = df.merge(FeatureEngineering2.credit_card(), how='left', on='SK_ID_CURR')
df.head()

"Credit Card Balance" final shape: (103558, 284)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,INS_48M_SK_DPD_MAX,INS_48M_SK_DPD_SUM,INS_48M_DRAWING_LIMIT_RATIO_MIN,INS_48M_DRAWING_LIMIT_RATIO_MAX,INS_48M_LATE_PAYMENT_MEAN,INS_48M_LATE_PAYMENT_SUM,INS_48M_CARD_IS_DPD_UNDER_120_MEAN,INS_48M_CARD_IS_DPD_UNDER_120_SUM,INS_48M_CARD_IS_DPD_OVER_120_MEAN,INS_48M_CARD_IS_DPD_OVER_120_SUM
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
### 変数選択01
df = FeatureEngineering2.data_post_processing(df)
print('='*50, '\n')
print('---=> df final shape:', df.shape, ' <=---', '\n')
print('=' * 50)
df.head()

---=> the DATA POST-PROCESSING is beginning, the dataset has 1168 features
names of feature are renamed
---=> pandas data types of features in the dataset are converted for a reduced memory usage
---=> 1122 features are remained after removing non-informative features
123 features are eliminated by LightGBM classifier with an 0.7 auc score limit in step I
---=> 999 features are remained after removing features not interesting for LightGBM classifier
---=> 58 features are generated with the risk_groupanizer
---=> the DATA POST-PROCESSING is ended!, now the dataset has a total 1057 features
==================================================

---=> df final shape: (356250, 1057)  <=---

==================================================

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,POS_COMPLETED_BEFORE_MEAN_high_risk,POS_COMPLETED_BEFORE_MEAN_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,CC_NAME_CONTRACT_STATUS_Approved_VAR_high_risk,CC_NAME_CONTRACT_STATUS_Approved_VAR_low_risk,CC_NAME_CONTRACT_STATUS_Refused_VAR_high_risk,CC_NAME_CONTRACT_STATUS_Refused_VAR_low_risk
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,0,0,0,0,0,0,0,0,0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0,1,0,0,0,0,0,0,0,0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,1,0,0,0,0,0,0,0,0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,1,1,0,0,0,1,0,1,0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,1,0,0,0,0,0,0,0,0

In [13]:
### 変数選択02
df = FeatureEngineering2.data_post_processing(df)
print('='*50, '\n')
print('---=> df final shape:', df.shape, ' <=---', '\n')
print('=' * 50)
df.head()

---=> the DATA POST-PROCESSING is beginning, the dataset has 1057 features
names of feature are renamed
---=> pandas data types of features in the dataset are converted for a reduced memory usage
---=> 1051 features are remained after removing non-informative features
40 features are eliminated by LightGBM classifier with an 0.7 auc score limit in step I
---=> 1011 features are remained after removing features not interesting for LightGBM classifier
---=> 19 features are generated with the risk_groupanizer
---=> the DATA POST-PROCESSING is ended!, now the dataset has a total 1030 features
==================================================

---=> df final shape: (356250, 1030)  <=---

==================================================

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,0,0,1,1,0,0,0,0,0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,1,0,0,1,1,0,0,0,0,0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0,1,1,0,0,0,0,0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0,0,1,0,1,0,0,0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0,1,1,0,0,0,0,0

In [14]:
### 変数選択03
df = FeatureEngineering2.data_post_processing(df)
print('='*50, '\n')
print('---=> df final shape:', df.shape, ' <=---', '\n')
print('=' * 50)
df.head()

---=> the DATA POST-PROCESSING is beginning, the dataset has 1030 features
names of feature are renamed
---=> pandas data types of features in the dataset are converted for a reduced memory usage
---=> 1026 features are remained after removing non-informative features
15 features are eliminated by LightGBM classifier with an 0.7 auc score limit in step I
---=> 1011 features are remained after removing features not interesting for LightGBM classifier
---=> 19 features are generated with the risk_groupanizer
---=> the DATA POST-PROCESSING is ended!, now the dataset has a total 1030 features
==================================================

---=> df final shape: (356250, 1030)  <=---

==================================================

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,0,0,1,1,0,0,0,0,0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,1,0,0,1,1,0,0,0,0,0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0,1,1,0,0,0,0,0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0,0,1,0,1,0,0,0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0,1,1,0,0,0,0,0

In [15]:
df = df.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '', x))
df.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,1,0,0,1,1,0,0,0,0,0
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,1,0,0,1,1,0,0,0,0,0
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0,0,0,1,1,0,0,0,0,0
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0,0,0,0,1,0,1,0,0,0
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0,0,0,1,1,0,0,0,0,0

## 学習

### 001 baseline

In [16]:
# split train, and test datasets
df = df.replace([np.inf, -np.inf], np.nan)
app_train = df[df['TARGET'].notnull()]
app_test = df[df['TARGET'].isnull()]

print(app_test.shape)
app_test.head()

(48744, 1030)

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_high_risk,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk
307506,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,0,0,1,1,0,0,0,0,0
307507,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,0,0,1,1,0,0,0,0,0
307508,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,0,0,1,1,0,1,0,1,0
307509,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0,1,1,0,1,0,1,0
307510,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0,0,1,0,0,0,0,0

In [17]:
train_setB1a = pd.read_csv('./home-credit-default-risk/exports/train_setB1a.csv')
test_setB1a =  pd.read_csv('./home-credit-default-risk/exports/test_setB1a.csv')
test_setB1a.head()

   SK_ID_CURR    setB1a
0      100001  0.033433
1      100005  0.098996
2      100013  0.042185
3      100028  0.039429
4      100038  0.161166

In [18]:
app_train = app_train.merge(train_setB1a, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_setB1a, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,ACTIVE_BUREAU_IS_DPD_OVER120_SUM_low_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,1,1,0,0,0,0,0,0.033433
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,1,1,0,0,0,0,0,0.098996
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,0,1,1,0,1,0,1,0,0.042185
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0,0,1,1,0,1,0,1,0,0.039429
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0,1,0,0,0,0,0,0.161166

In [19]:
train_setB1xgb = pd.read_csv('./home-credit-default-risk/exports/train_setB1xgb.csv')
test_setB1xgb =  pd.read_csv('./home-credit-default-risk/exports/test_setB1xgb.csv')
test_setB1xgb.head()

   SK_ID_CURR    setB1x
0      100001  0.032762
1      100005  0.100620
2      100013  0.044999
3      100028  0.034211
4      100038  0.172532

In [20]:
app_train = app_train.merge(train_setB1xgb, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_setB1xgb, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_high_risk,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,1,1,0,0,0,0,0,0.033433,0.032762
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,1,1,0,0,0,0,0,0.098996,0.100620
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,1,1,0,1,0,1,0,0.042185,0.044999
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0,1,1,0,1,0,1,0,0.039429,0.034211
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,1,0,0,0,0,0,0.161166,0.172532

In [21]:
pred_train_set1a = pd.read_csv('./home-credit-default-risk/exports/pred_train_set1a.csv')
pred_test_set1a =  pd.read_csv('./home-credit-default-risk/exports/pred_test_set1a.csv')
pred_test_set1a.head()

   SK_ID_CURR      set1
0      100001  0.040068
1      100005  0.095240
2      100013  0.044435
3      100028  0.036586
4      100038  0.141754

In [22]:
app_train = app_train.merge(pred_train_set1a, how='left', on='SK_ID_CURR')
app_test = app_test.merge(pred_test_set1a, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CLOSED_CNT_CREDIT_PROLONG_SUM_low_risk,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,1,0,0,0,0,0,0.033433,0.032762,0.040068
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,1,0,0,0,0,0,0.098996,0.100620,0.095240
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,1,0,1,0,1,0,0.042185,0.044999,0.044435
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,1,0,1,0,1,0,0.039429,0.034211,0.036586
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,1,0,0,0,0,0,0.161166,0.172532,0.141754

In [23]:
train_set1xgb = pd.read_csv('./home-credit-default-risk/exports/train_set1xgb.csv')
test_set1xgb =  pd.read_csv('./home-credit-default-risk/exports/test_set1xgb.csv')
test_set1xgb.head()

   SK_ID_CURR     set1x
0      100001  0.035234
1      100005  0.107426
2      100013  0.048029
3      100028  0.032975
4      100038  0.161962

In [24]:
app_train = app_train.merge(train_set1xgb, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_set1xgb, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,PREV_PREV_GOODS_DIFF_MAX_high_risk,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,1,0,0,0,0,0,0.033433,0.032762,0.040068,0.035234
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,1,0,0,0,0,0,0.098996,0.100620,0.095240,0.107426
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,1,0,1,0,0.042185,0.044999,0.044435,0.048029
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,1,0,1,0,0.039429,0.034211,0.036586,0.032975
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,1,0,0,0,0,0,0.161166,0.172532,0.141754,0.161962

In [25]:
train_set2a = pd.read_csv('./home-credit-default-risk/exports/train_set2a.csv')
test_set2a =  pd.read_csv('./home-credit-default-risk/exports/test_set2a.csv')
test_set2a.head()

   SK_ID_CURR     set2a
0      100001  0.042769
1      100005  0.103694
2      100013  0.036006
3      100028  0.048812
4      100038  0.173045

In [26]:
app_train = app_train.merge(train_set2a, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_set2a, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,PREV_PREV_GOODS_DIFF_MAX_low_risk,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0,0,0,0.033433,0.032762,0.040068,0.035234,0.042769
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0,0,0,0.098996,0.100620,0.095240,0.107426,0.103694
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,1,0,1,0,0.042185,0.044999,0.044435,0.048029,0.036006
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0,1,0,1,0,0.039429,0.034211,0.036586,0.032975,0.048812
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0,0,0,0.161166,0.172532,0.141754,0.161962,0.173045

In [27]:
train_set2nn = pd.read_csv('./home-credit-default-risk/exports/train_set2nn.csv')
test_set2nn =  pd.read_csv('./home-credit-default-risk/exports/test_set2nn.csv')
test_set2nn.head()

   SK_ID_CURR    set2nn
0      100001  0.048972
1      100005  0.141351
2      100013  0.028088
3      100028  0.039056
4      100038  0.192637

In [28]:
app_train = app_train.merge(train_set2nn, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_set2nn, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_MONTHS_BALANCE_MAX_high_risk,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637

In [29]:
train_set3a = pd.read_csv('./home-credit-default-risk/exports/train_set3a.csv')
test_set3a =  pd.read_csv('./home-credit-default-risk/exports/test_set3a.csv')
test_set3a.head()

   SK_ID_CURR     set3a
0      100001  0.049120
1      100005  0.115729
2      100013  0.064166
3      100028  0.038931
4      100038  0.195575

In [30]:
app_train = app_train.merge(train_set3a, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_set3a, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_MONTHS_BALANCE_MAX_low_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575

In [31]:
train_set3xgb = pd.read_csv('./home-credit-default-risk/exports/train_set3xgb.csv')
test_set3xgb =  pd.read_csv('./home-credit-default-risk/exports/test_set3xgb.csv')
test_set3xgb.head()

   SK_ID_CURR     set3x
0      100001  0.034310
1      100005  0.127556
2      100013  0.044872
3      100028  0.030915
4      100038  0.201295

In [32]:
app_train = app_train.merge(train_set3xgb, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_set3xgb, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295

In [33]:
train_set4a = pd.read_csv('./home-credit-default-risk/exports/train_set4a.csv')
test_set4a =  pd.read_csv('./home-credit-default-risk/exports/test_set4a.csv')
test_set4a.head()

   SK_ID_CURR     set4a
0      100001  0.042113
1      100005  0.132192
2      100013  0.057271
3      100028  0.042206
4      100038  0.195048

In [34]:
#app_train = app_train.merge(train_set4a, how='left', on='SK_ID_CURR')
#app_test = app_test.merge(test_set4a, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295

In [35]:
train_set4xgb = pd.read_csv('./home-credit-default-risk/exports/train_set4xgb.csv')
test_set4xgb =  pd.read_csv('./home-credit-default-risk/exports/test_set4xgb.csv')
test_set4xgb.head()

   SK_ID_CURR     set4x
0      100001  0.034978
1      100005  0.118268
2      100013  0.039774
3      100028  0.037283
4      100038  0.164890

In [36]:
#app_train = app_train.merge(train_set4xgb, how='left', on='SK_ID_CURR')
#app_test = app_test.merge(test_set4xgb, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_high_risk,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,1,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,1,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295

In [37]:
train_set5a = pd.read_csv('./home-credit-default-risk/exports/train_set5a.csv')
test_set5a =  pd.read_csv('./home-credit-default-risk/exports/test_set5a.csv')
test_set4a.head()

   SK_ID_CURR     set4a
0      100001  0.042113
1      100005  0.132192
2      100013  0.057271
3      100028  0.042206
4      100038  0.195048

In [38]:
app_train = app_train.merge(train_set5a, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_set5a, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,CC_CNT_DRAWINGS_OTHER_CURRENT_MAX_low_risk,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310,0.034370
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556,0.116919
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872,0.037191
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915,0.051958
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295,0.141608

In [39]:
train_set5xgb = pd.read_csv('./home-credit-default-risk/exports/train_set5xgb.csv')
test_set5xgb =  pd.read_csv('./home-credit-default-risk/exports/test_set5xgb.csv')
test_set5xgb.head()

   SK_ID_CURR     set5x
0      100001  0.028969
1      100005  0.116288
2      100013  0.041057
3      100028  0.045375
4      100038  0.136362

In [40]:
app_train = app_train.merge(train_set5xgb, how='left', on='SK_ID_CURR')
app_test = app_test.merge(test_set5xgb, how='left', on='SK_ID_CURR')
app_test.head()

,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310,0.034370,0.028969
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556,0.116919,0.116288
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872,0.037191,0.041057
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915,0.051958,0.045375
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295,0.141608,0.136362

In [41]:
### indexを削除
app_train=app_train.reset_index()
app_test=app_test.reset_index()
app_test.head()

,level_0,index,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
0,0,0,100001,NaN,1,0,0,0,135000.0,568800.0,...,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310,0.034370,0.028969
1,1,1,100005,NaN,0,0,0,0,99000.0,222768.0,...,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556,0.116919,0.116288
2,2,2,100013,NaN,0,1,0,0,202500.0,663264.0,...,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872,0.037191,0.041057
3,3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,...,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915,0.051958,0.045375
4,4,4,100038,NaN,0,1,1,1,180000.0,625500.0,...,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295,0.141608,0.136362

In [42]:
### indexを削除
app_train = app_train.drop(columns=['index'])
app_test = app_test.drop(columns=['index'])
app_test.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310,0.034370,0.028969
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556,0.116919,0.116288
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872,0.037191,0.041057
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915,0.051958,0.045375
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295,0.141608,0.136362

In [43]:
app_train.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0.283935,0.234856,0.260928,0.199398,0.242499,0.240473,0.223662,0.259405,0.196429,0.244814
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0.023060,0.023065,0.012171,0.012061,0.017857,0.014736,0.024137,0.023080,0.013261,0.014884
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0.032398,0.038719,0.039950,0.047440,0.033203,0.029793,0.035314,0.033290,0.030715,0.036912
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.028579,0.034008,0.030776,0.030071,0.048900,0.031804,0.031135,0.022860,0.034176,0.037270
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0.023252,0.027813,0.035088,0.023555,0.043556,0.060946,0.035167,0.033131,0.038256,0.035143

In [44]:
x_train = app_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = app_train['TARGET']
id_train = app_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=='O':
        x_train[col] = x_train[col].astype('category')

In [45]:
### 学習モデル構築
train_oof, imp, metrics = baseline.train_xgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246004, 1038) (61502, 1038)
[23:10:54] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79800	validation_1-auc:0.78971
[1]	validation_0-auc:0.80269	validation_1-auc:0.79114
[2]	validation_0-auc:0.80515	validation_1-auc:0.79108
[3]	validation_0-auc:0.80694	validation_1-auc:0.79176
[4]	validation_0-auc:0.80887	validation_1-auc:0.79232
[5]	validation_0-auc:0.81053	validation_1-auc:0.79245
[6]	validation_0-auc:0.81183	validation_1-auc:0.79298
[7]	validation_0-auc:0.81300	validation_1-auc:0.79281
[8]	validation_0-auc:0.81430	validation_1-auc:0.79285
[9]	validation_0-auc:0.81551	validation_1-auc:0.79300
[10]	validation_0-auc:0.81668	validation_1-auc:0.79296
[11]	validation_0-auc:0.81785	validation_1-auc:0.79316
[12]	validation_0-auc:0.81851	validation_1-auc:0.79303
[13]	validation_0-auc:0.81947	validation_1-auc:0.79295
[14]	validation_0-auc:0.82007	validation_1-auc:0.79337
[15]	validation_0-auc:0.82088	validation_1-auc:0.79327
[16]	validation_0-auc:0.82190	validation_1-auc:0.79313
[17]	validation_0-auc:0.82302	validation_1-auc:0.79313
[18]	validation_0-auc:0.82412	validation_1-auc:0.79305
[19]	validation_0-auc:0.82471	validation_1-auc:0.79302
[20]	validation_0-auc:0.82632	validation_1-auc:0.79300
[21]	validation_0-auc:0.82750	validation_1-auc:0.79302
[22]	validation_0-auc:0.82891	validation_1-auc:0.79299
[23]	validation_0-auc:0.82981	validation_1-auc:0.79295
[24]	validation_0-auc:0.83076	validation_1-auc:0.79297
[25]	validation_0-auc:0.83209	validation_1-auc:0.79270
[26]	validation_0-auc:0.83329	validation_1-auc:0.79249
[27]	validation_0-auc:0.83471	validation_1-auc:0.79229
[28]	validation_0-auc:0.83563	validation_1-auc:0.79224
[29]	validation_0-auc:0.83661	validation_1-auc:0.79207
[30]	validation_0-auc:0.83799	validation_1-auc:0.79193
[31]	validation_0-auc:0.83906	validation_1-auc:0.79191
[32]	validation_0-auc:0.84020	validation_1-auc:0.79190
[33]	validation_0-auc:0.84158	validation_1-auc:0.79190
[34]	validation_0-auc:0.84281	validation_1-auc:0.79200
[35]	validation_0-auc:0.84409	validation_1-auc:0.79196
[36]	validation_0-auc:0.84522	validation_1-auc:0.79188
[37]	validation_0-auc:0.84595	validation_1-auc:0.79194
[38]	validation_0-auc:0.84684	validation_1-auc:0.79191
[39]	validation_0-auc:0.84786	validation_1-auc:0.79176
[40]	validation_0-auc:0.84946	validation_1-auc:0.79162
[41]	validation_0-auc:0.85052	validation_1-auc:0.79169
[42]	validation_0-auc:0.85156	validation_1-auc:0.79182
[43]	validation_0-auc:0.85320	validation_1-auc:0.79192
[44]	validation_0-auc:0.85410	validation_1-auc:0.79186
[45]	validation_0-auc:0.85560	validation_1-auc:0.79170
[46]	validation_0-auc:0.85683	validation_1-auc:0.79168
[47]	validation_0-auc:0.85823	validation_1-auc:0.79145
[48]	validation_0-auc:0.85959	validation_1-auc:0.79155
[49]	validation_0-auc:0.86039	validation_1-auc:0.79151
[50]	validation_0-auc:0.86155	validation_1-auc:0.79155
[51]	validation_0-auc:0.86263	validation_1-auc:0.79157
[52]	validation_0-auc:0.86356	validation_1-auc:0.79146
[53]	validation_0-auc:0.86479	validation_1-auc:0.79138
[54]	validation_0-auc:0.86589	validation_1-auc:0.79139
[55]	validation_0-auc:0.86701	validation_1-auc:0.79143
[56]	validation_0-auc:0.86752	validation_1-auc:0.79141
[57]	validation_0-auc:0.86883	validation_1-auc:0.79138
[58]	validation_0-auc:0.87034	validation_1-auc:0.79130
[59]	validation_0-auc:0.87143	validation_1-auc:0.79115
[60]	validation_0-auc:0.87290	validation_1-auc:0.79112
[61]	validation_0-auc:0.87375	validation_1-auc:0.79114
[62]	validation_0-auc:0.87460	validation_1-auc:0.79106
[63]	validation_0-auc:0.87508	validation_1-auc:0.79109
[64]	validation_0-auc:0.87591	validation_1-auc:0.79110
[65]	validation_0-auc:0.87689	validation_1-auc:0.79114
[66]	validation_0-auc:0.87733	validation_1-auc:0.79119
[67]	validation_0-auc:0.87828	validation_1-auc:0.79118
[68]	validation_0-auc:0.87910	validation_1-auc:0.79119
[69]	validation_0-auc:0.88035	validation_1-auc:0.79099
[70]	validation_0-auc:0.88114	validation_1-auc:0.79106
[71]	validation_0-auc:0.88191	validation_1-auc:0.79098
[72]	validation_0-auc:0.88248	validation_1-auc:0.79094
[73]	validation_0-auc:0.88318	validation_1-auc:0.79089
[74]	validation_0-auc:0.88397	validation_1-auc:0.79086
[75]	validation_0-auc:0.88452	validation_1-auc:0.79084
[76]	validation_0-auc:0.88545	validation_1-auc:0.79083
[77]	validation_0-auc:0.88620	validation_1-auc:0.79084
[78]	validation_0-auc:0.88648	validation_1-auc:0.79091
[79]	validation_0-auc:0.88695	validation_1-auc:0.79089
[80]	validation_0-auc:0.88762	validation_1-auc:0.79080
[81]	validation_0-auc:0.88849	validation_1-auc:0.79074
[82]	validation_0-auc:0.88938	validation_1-auc:0.79062
[83]	validation_0-auc:0.89006	validation_1-auc:0.79057
[84]	validation_0-auc:0.89049	validation_1-auc:0.79054
[85]	validation_0-auc:0.89122	validation_1-auc:0.79048
[86]	validation_0-auc:0.89160	validation_1-auc:0.79052
[87]	validation_0-auc:0.89200	validation_1-auc:0.79057
[88]	validation_0-auc:0.89223	validation_1-auc:0.79049
[89]	validation_0-auc:0.89288	validation_1-auc:0.79038
[90]	validation_0-auc:0.89376	validation_1-auc:0.79036
[91]	validation_0-auc:0.89445	validation_1-auc:0.79029
[92]	validation_0-auc:0.89510	validation_1-auc:0.79026
[93]	validation_0-auc:0.89605	validation_1-auc:0.79014
[94]	validation_0-auc:0.89646	validation_1-auc:0.79009
[95]	validation_0-auc:0.89704	validation_1-auc:0.79008
[96]	validation_0-auc:0.89769	validation_1-auc:0.79006
[97]	validation_0-auc:0.89816	validation_1-auc:0.79017
[98]	validation_0-auc:0.89873	validation_1-auc:0.79009
[99]	validation_0-auc:0.89915	validation_1-auc:0.78993
[auc] tr:0.899152, va0.7899
-------------------- 1 --------------------
(246005, 1038) (61501, 1038)
[23:11:16] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79707	validation_1-auc:0.79036
[1]	validation_0-auc:0.80133	validation_1-auc:0.79310
[2]	validation_0-auc:0.80362	validation_1-auc:0.79366
[3]	validation_0-auc:0.80532	validation_1-auc:0.79427
[4]	validation_0-auc:0.80686	validation_1-auc:0.79469
[5]	validation_0-auc:0.80836	validation_1-auc:0.79492
[6]	validation_0-auc:0.80962	validation_1-auc:0.79494
[7]	validation_0-auc:0.81106	validation_1-auc:0.79486
[8]	validation_0-auc:0.81237	validation_1-auc:0.79484
[9]	validation_0-auc:0.81382	validation_1-auc:0.79515
[10]	validation_0-auc:0.81509	validation_1-auc:0.79522
[11]	validation_0-auc:0.81591	validation_1-auc:0.79541
[12]	validation_0-auc:0.81708	validation_1-auc:0.79564
[13]	validation_0-auc:0.81834	validation_1-auc:0.79566
[14]	validation_0-auc:0.81915	validation_1-auc:0.79557
[15]	validation_0-auc:0.82033	validation_1-auc:0.79553
[16]	validation_0-auc:0.82163	validation_1-auc:0.79520
[17]	validation_0-auc:0.82291	validation_1-auc:0.79507
[18]	validation_0-auc:0.82409	validation_1-auc:0.79532
[19]	validation_0-auc:0.82526	validation_1-auc:0.79524
[20]	validation_0-auc:0.82648	validation_1-auc:0.79515
[21]	validation_0-auc:0.82808	validation_1-auc:0.79496
[22]	validation_0-auc:0.82919	validation_1-auc:0.79469
[23]	validation_0-auc:0.83006	validation_1-auc:0.79450
[24]	validation_0-auc:0.83110	validation_1-auc:0.79448
[25]	validation_0-auc:0.83212	validation_1-auc:0.79458
[26]	validation_0-auc:0.83351	validation_1-auc:0.79449
[27]	validation_0-auc:0.83428	validation_1-auc:0.79440
[28]	validation_0-auc:0.83553	validation_1-auc:0.79427
[29]	validation_0-auc:0.83736	validation_1-auc:0.79414
[30]	validation_0-auc:0.83829	validation_1-auc:0.79422

[31]	validation_0-auc:0.83950	validation_1-auc:0.79414
[32]	validation_0-auc:0.84081	validation_1-auc:0.79426
[33]	validation_0-auc:0.84196	validation_1-auc:0.79415
[34]	validation_0-auc:0.84365	validation_1-auc:0.79390
[35]	validation_0-auc:0.84500	validation_1-auc:0.79381
[36]	validation_0-auc:0.84581	validation_1-auc:0.79360
[37]	validation_0-auc:0.84684	validation_1-auc:0.79345
[38]	validation_0-auc:0.84822	validation_1-auc:0.79342
[39]	validation_0-auc:0.84925	validation_1-auc:0.79342
[40]	validation_0-auc:0.85058	validation_1-auc:0.79339
[41]	validation_0-auc:0.85191	validation_1-auc:0.79334
[42]	validation_0-auc:0.85321	validation_1-auc:0.79348
[43]	validation_0-auc:0.85444	validation_1-auc:0.79333
[44]	validation_0-auc:0.85602	validation_1-auc:0.79334
[45]	validation_0-auc:0.85706	validation_1-auc:0.79334
[46]	validation_0-auc:0.85839	validation_1-auc:0.79329
[47]	validation_0-auc:0.85954	validation_1-auc:0.79324
[48]	validation_0-auc:0.86092	validation_1-auc:0.79324
[49]	validation_0-auc:0.86190	validation_1-auc:0.79303
[50]	validation_0-auc:0.86237	validation_1-auc:0.79301
[51]	validation_0-auc:0.86339	validation_1-auc:0.79297
[52]	validation_0-auc:0.86477	validation_1-auc:0.79283
[53]	validation_0-auc:0.86588	validation_1-auc:0.79285
[54]	validation_0-auc:0.86675	validation_1-auc:0.79301
[55]	validation_0-auc:0.86787	validation_1-auc:0.79287
[56]	validation_0-auc:0.86862	validation_1-auc:0.79273
[57]	validation_0-auc:0.86932	validation_1-auc:0.79278
[58]	validation_0-auc:0.87006	validation_1-auc:0.79271
[59]	validation_0-auc:0.87084	validation_1-auc:0.79264
[60]	validation_0-auc:0.87145	validation_1-auc:0.79282
[61]	validation_0-auc:0.87206	validation_1-auc:0.79282
[62]	validation_0-auc:0.87342	validation_1-auc:0.79265
[63]	validation_0-auc:0.87425	validation_1-auc:0.79252
[64]	validation_0-auc:0.87474	validation_1-auc:0.79241
[65]	validation_0-auc:0.87505	validation_1-auc:0.79241
[66]	validation_0-auc:0.87558	validation_1-auc:0.79239
[67]	validation_0-auc:0.87693	validation_1-auc:0.79231
[68]	validation_0-auc:0.87789	validation_1-auc:0.79227
[69]	validation_0-auc:0.87824	validation_1-auc:0.79223
[70]	validation_0-auc:0.87871	validation_1-auc:0.79220
[71]	validation_0-auc:0.87939	validation_1-auc:0.79218
[72]	validation_0-auc:0.87967	validation_1-auc:0.79218
[73]	validation_0-auc:0.88008	validation_1-auc:0.79211
[74]	validation_0-auc:0.88074	validation_1-auc:0.79207
[75]	validation_0-auc:0.88110	validation_1-auc:0.79192
[76]	validation_0-auc:0.88152	validation_1-auc:0.79195
[77]	validation_0-auc:0.88197	validation_1-auc:0.79188
[78]	validation_0-auc:0.88306	validation_1-auc:0.79169
[79]	validation_0-auc:0.88338	validation_1-auc:0.79166
[80]	validation_0-auc:0.88418	validation_1-auc:0.79178
[81]	validation_0-auc:0.88472	validation_1-auc:0.79172
[82]	validation_0-auc:0.88557	validation_1-auc:0.79167
[83]	validation_0-auc:0.88623	validation_1-auc:0.79168
[84]	validation_0-auc:0.88681	validation_1-auc:0.79177
[85]	validation_0-auc:0.88770	validation_1-auc:0.79166
[86]	validation_0-auc:0.88836	validation_1-auc:0.79169
[87]	validation_0-auc:0.88921	validation_1-auc:0.79151
[88]	validation_0-auc:0.88994	validation_1-auc:0.79149
[89]	validation_0-auc:0.89024	validation_1-auc:0.79147
[90]	validation_0-auc:0.89097	validation_1-auc:0.79138
[91]	validation_0-auc:0.89169	validation_1-auc:0.79138
[92]	validation_0-auc:0.89221	validation_1-auc:0.79137
[93]	validation_0-auc:0.89298	validation_1-auc:0.79129
[94]	validation_0-auc:0.89351	validation_1-auc:0.79122
[95]	validation_0-auc:0.89418	validation_1-auc:0.79111
[96]	validation_0-auc:0.89527	validation_1-auc:0.79109
[97]	validation_0-auc:0.89565	validation_1-auc:0.79109
[98]	validation_0-auc:0.89604	validation_1-auc:0.79113
[99]	validation_0-auc:0.89656	validation_1-auc:0.79114
[auc] tr:0.896555, va0.7911
-------------------- 2 --------------------
(246005, 1038) (61501, 1038)
[23:11:39] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79805	validation_1-auc:0.78590
[1]	validation_0-auc:0.80275	validation_1-auc:0.78904
[2]	validation_0-auc:0.80545	validation_1-auc:0.78959
[3]	validation_0-auc:0.80745	validation_1-auc:0.78997
[4]	validation_0-auc:0.80936	validation_1-auc:0.78978
[5]	validation_0-auc:0.81102	validation_1-auc:0.78988
[6]	validation_0-auc:0.81227	validation_1-auc:0.78997
[7]	validation_0-auc:0.81395	validation_1-auc:0.79000
[8]	validation_0-auc:0.81532	validation_1-auc:0.78988
[9]	validation_0-auc:0.81662	validation_1-auc:0.78978
[10]	validation_0-auc:0.81810	validation_1-auc:0.78968
[11]	validation_0-auc:0.81901	validation_1-auc:0.78985
[12]	validation_0-auc:0.81997	validation_1-auc:0.78993
[13]	validation_0-auc:0.82112	validation_1-auc:0.78999
[14]	validation_0-auc:0.82221	validation_1-auc:0.79014
[15]	validation_0-auc:0.82315	validation_1-auc:0.79013
[16]	validation_0-auc:0.82401	validation_1-auc:0.78995
[17]	validation_0-auc:0.82538	validation_1-auc:0.78991
[18]	validation_0-auc:0.82648	validation_1-auc:0.79010
[19]	validation_0-auc:0.82736	validation_1-auc:0.79017
[20]	validation_0-auc:0.82802	validation_1-auc:0.79017
[21]	validation_0-auc:0.82971	validation_1-auc:0.79007
[22]	validation_0-auc:0.83093	validation_1-auc:0.78992
[23]	validation_0-auc:0.83167	validation_1-auc:0.78973
[24]	validation_0-auc:0.83275	validation_1-auc:0.78963
[25]	validation_0-auc:0.83402	validation_1-auc:0.78957
[26]	validation_0-auc:0.83513	validation_1-auc:0.78944
[27]	validation_0-auc:0.83620	validation_1-auc:0.78940
[28]	validation_0-auc:0.83719	validation_1-auc:0.78955
[29]	validation_0-auc:0.83837	validation_1-auc:0.78944
[30]	validation_0-auc:0.83981	validation_1-auc:0.78937
[31]	validation_0-auc:0.84110	validation_1-auc:0.78942
[32]	validation_0-auc:0.84224	validation_1-auc:0.78939
[33]	validation_0-auc:0.84317	validation_1-auc:0.78946
[34]	validation_0-auc:0.84443	validation_1-auc:0.78937
[35]	validation_0-auc:0.84540	validation_1-auc:0.78921
[36]	validation_0-auc:0.84687	validation_1-auc:0.78922
[37]	validation_0-auc:0.84833	validation_1-auc:0.78918
[38]	validation_0-auc:0.84963	validation_1-auc:0.78907
[39]	validation_0-auc:0.85063	validation_1-auc:0.78913
[40]	validation_0-auc:0.85178	validation_1-auc:0.78912
[41]	validation_0-auc:0.85314	validation_1-auc:0.78905
[42]	validation_0-auc:0.85454	validation_1-auc:0.78901
[43]	validation_0-auc:0.85542	validation_1-auc:0.78881
[44]	validation_0-auc:0.85633	validation_1-auc:0.78874
[45]	validation_0-auc:0.85747	validation_1-auc:0.78873
[46]	validation_0-auc:0.85881	validation_1-auc:0.78880
[47]	validation_0-auc:0.86024	validation_1-auc:0.78873
[48]	validation_0-auc:0.86101	validation_1-auc:0.78873
[49]	validation_0-auc:0.86229	validation_1-auc:0.78870
[50]	validation_0-auc:0.86313	validation_1-auc:0.78863
[51]	validation_0-auc:0.86450	validation_1-auc:0.78867
[52]	validation_0-auc:0.86557	validation_1-auc:0.78860
[53]	validation_0-auc:0.86628	validation_1-auc:0.78855
[54]	validation_0-auc:0.86776	validation_1-auc:0.78849
[55]	validation_0-auc:0.86854	validation_1-auc:0.78850
[56]	validation_0-auc:0.86909	validation_1-auc:0.78845
[57]	validation_0-auc:0.86972	validation_1-auc:0.78840
[58]	validation_0-auc:0.87072	validation_1-auc:0.78840
[59]	validation_0-auc:0.87217	validation_1-auc:0.78837
[60]	validation_0-auc:0.87288	validation_1-auc:0.78840
[61]	validation_0-auc:0.87344	validation_1-auc:0.78837
[62]	validation_0-auc:0.87393	validation_1-auc:0.78846
[63]	validation_0-auc:0.87458	validation_1-auc:0.78835
[64]	validation_0-auc:0.87535	validation_1-auc:0.78842
[65]	validation_0-auc:0.87593	validation_1-auc:0.78836
[66]	validation_0-auc:0.87690	validation_1-auc:0.78824
[67]	validation_0-auc:0.87773	validation_1-auc:0.78819
[68]	validation_0-auc:0.87798	validation_1-auc:0.78816
[69]	validation_0-auc:0.87893	validation_1-auc:0.78821
[70]	validation_0-auc:0.87969	validation_1-auc:0.78814

[71]	validation_0-auc:0.88006	validation_1-auc:0.78810
[72]	validation_0-auc:0.88099	validation_1-auc:0.78802
[73]	validation_0-auc:0.88148	validation_1-auc:0.78798
[74]	validation_0-auc:0.88253	validation_1-auc:0.78783
[75]	validation_0-auc:0.88335	validation_1-auc:0.78778
[76]	validation_0-auc:0.88374	validation_1-auc:0.78768
[77]	validation_0-auc:0.88438	validation_1-auc:0.78767
[78]	validation_0-auc:0.88476	validation_1-auc:0.78763
[79]	validation_0-auc:0.88510	validation_1-auc:0.78759
[80]	validation_0-auc:0.88553	validation_1-auc:0.78760
[81]	validation_0-auc:0.88634	validation_1-auc:0.78756
[82]	validation_0-auc:0.88739	validation_1-auc:0.78765
[83]	validation_0-auc:0.88770	validation_1-auc:0.78767
[84]	validation_0-auc:0.88860	validation_1-auc:0.78763
[85]	validation_0-auc:0.88912	validation_1-auc:0.78773
[86]	validation_0-auc:0.88942	validation_1-auc:0.78766
[87]	validation_0-auc:0.89003	validation_1-auc:0.78755
[88]	validation_0-auc:0.89113	validation_1-auc:0.78750
[89]	validation_0-auc:0.89134	validation_1-auc:0.78748
[90]	validation_0-auc:0.89167	validation_1-auc:0.78738
[91]	validation_0-auc:0.89241	validation_1-auc:0.78728
[92]	validation_0-auc:0.89321	validation_1-auc:0.78735
[93]	validation_0-auc:0.89432	validation_1-auc:0.78724
[94]	validation_0-auc:0.89487	validation_1-auc:0.78716
[95]	validation_0-auc:0.89559	validation_1-auc:0.78703
[96]	validation_0-auc:0.89599	validation_1-auc:0.78696
[97]	validation_0-auc:0.89656	validation_1-auc:0.78697
[98]	validation_0-auc:0.89699	validation_1-auc:0.78706
[99]	validation_0-auc:0.89728	validation_1-auc:0.78702
[auc] tr:0.897279, va0.7870
-------------------- 3 --------------------
(246005, 1038) (61501, 1038)
[23:12:01] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79646	validation_1-auc:0.79503
[1]	validation_0-auc:0.80098	validation_1-auc:0.79675
[2]	validation_0-auc:0.80318	validation_1-auc:0.79728
[3]	validation_0-auc:0.80492	validation_1-auc:0.79734
[4]	validation_0-auc:0.80663	validation_1-auc:0.79722
[5]	validation_0-auc:0.80755	validation_1-auc:0.79726
[6]	validation_0-auc:0.80943	validation_1-auc:0.79736
[7]	validation_0-auc:0.81029	validation_1-auc:0.79749
[8]	validation_0-auc:0.81172	validation_1-auc:0.79761
[9]	validation_0-auc:0.81297	validation_1-auc:0.79773
[10]	validation_0-auc:0.81447	validation_1-auc:0.79789
[11]	validation_0-auc:0.81560	validation_1-auc:0.79794
[12]	validation_0-auc:0.81706	validation_1-auc:0.79804
[13]	validation_0-auc:0.81818	validation_1-auc:0.79824
[14]	validation_0-auc:0.81974	validation_1-auc:0.79790
[15]	validation_0-auc:0.82098	validation_1-auc:0.79803
[16]	validation_0-auc:0.82219	validation_1-auc:0.79805
[17]	validation_0-auc:0.82346	validation_1-auc:0.79808
[18]	validation_0-auc:0.82467	validation_1-auc:0.79818
[19]	validation_0-auc:0.82532	validation_1-auc:0.79830
[20]	validation_0-auc:0.82638	validation_1-auc:0.79822
[21]	validation_0-auc:0.82743	validation_1-auc:0.79828
[22]	validation_0-auc:0.82857	validation_1-auc:0.79830
[23]	validation_0-auc:0.82994	validation_1-auc:0.79824
[24]	validation_0-auc:0.83067	validation_1-auc:0.79821
[25]	validation_0-auc:0.83180	validation_1-auc:0.79833
[26]	validation_0-auc:0.83309	validation_1-auc:0.79852
[27]	validation_0-auc:0.83438	validation_1-auc:0.79835
[28]	validation_0-auc:0.83536	validation_1-auc:0.79837
[29]	validation_0-auc:0.83587	validation_1-auc:0.79838
[30]	validation_0-auc:0.83704	validation_1-auc:0.79830
[31]	validation_0-auc:0.83838	validation_1-auc:0.79829
[32]	validation_0-auc:0.83978	validation_1-auc:0.79816
[33]	validation_0-auc:0.84107	validation_1-auc:0.79803
[34]	validation_0-auc:0.84203	validation_1-auc:0.79785
[35]	validation_0-auc:0.84274	validation_1-auc:0.79781
[36]	validation_0-auc:0.84402	validation_1-auc:0.79766
[37]	validation_0-auc:0.84520	validation_1-auc:0.79776
[38]	validation_0-auc:0.84595	validation_1-auc:0.79787
[39]	validation_0-auc:0.84688	validation_1-auc:0.79783
[40]	validation_0-auc:0.84818	validation_1-auc:0.79779
[41]	validation_0-auc:0.84896	validation_1-auc:0.79782
[42]	validation_0-auc:0.84980	validation_1-auc:0.79786
[43]	validation_0-auc:0.85111	validation_1-auc:0.79768
[44]	validation_0-auc:0.85197	validation_1-auc:0.79752
[45]	validation_0-auc:0.85300	validation_1-auc:0.79738
[46]	validation_0-auc:0.85391	validation_1-auc:0.79737
[47]	validation_0-auc:0.85514	validation_1-auc:0.79720
[48]	validation_0-auc:0.85645	validation_1-auc:0.79720
[49]	validation_0-auc:0.85771	validation_1-auc:0.79729
[50]	validation_0-auc:0.85845	validation_1-auc:0.79723
[51]	validation_0-auc:0.85933	validation_1-auc:0.79721
[52]	validation_0-auc:0.86022	validation_1-auc:0.79711
[53]	validation_0-auc:0.86130	validation_1-auc:0.79716
[54]	validation_0-auc:0.86198	validation_1-auc:0.79711
[55]	validation_0-auc:0.86281	validation_1-auc:0.79711
[56]	validation_0-auc:0.86377	validation_1-auc:0.79714
[57]	validation_0-auc:0.86493	validation_1-auc:0.79700
[58]	validation_0-auc:0.86610	validation_1-auc:0.79691
[59]	validation_0-auc:0.86754	validation_1-auc:0.79687
[60]	validation_0-auc:0.86849	validation_1-auc:0.79685
[61]	validation_0-auc:0.86928	validation_1-auc:0.79688
[62]	validation_0-auc:0.87006	validation_1-auc:0.79696
[63]	validation_0-auc:0.87108	validation_1-auc:0.79689
[64]	validation_0-auc:0.87179	validation_1-auc:0.79693
[65]	validation_0-auc:0.87203	validation_1-auc:0.79688
[66]	validation_0-auc:0.87235	validation_1-auc:0.79682
[67]	validation_0-auc:0.87304	validation_1-auc:0.79681
[68]	validation_0-auc:0.87357	validation_1-auc:0.79676
[69]	validation_0-auc:0.87444	validation_1-auc:0.79675
[70]	validation_0-auc:0.87515	validation_1-auc:0.79659
[71]	validation_0-auc:0.87650	validation_1-auc:0.79648
[72]	validation_0-auc:0.87713	validation_1-auc:0.79641
[73]	validation_0-auc:0.87770	validation_1-auc:0.79633
[74]	validation_0-auc:0.87807	validation_1-auc:0.79639
[75]	validation_0-auc:0.87921	validation_1-auc:0.79643
[76]	validation_0-auc:0.88012	validation_1-auc:0.79628
[77]	validation_0-auc:0.88049	validation_1-auc:0.79622
[78]	validation_0-auc:0.88129	validation_1-auc:0.79625
[79]	validation_0-auc:0.88188	validation_1-auc:0.79616
[80]	validation_0-auc:0.88297	validation_1-auc:0.79612
[81]	validation_0-auc:0.88352	validation_1-auc:0.79610
[82]	validation_0-auc:0.88440	validation_1-auc:0.79600
[83]	validation_0-auc:0.88493	validation_1-auc:0.79597
[84]	validation_0-auc:0.88537	validation_1-auc:0.79593
[85]	validation_0-auc:0.88569	validation_1-auc:0.79589
[86]	validation_0-auc:0.88604	validation_1-auc:0.79588
[87]	validation_0-auc:0.88629	validation_1-auc:0.79583
[88]	validation_0-auc:0.88702	validation_1-auc:0.79577
[89]	validation_0-auc:0.88810	validation_1-auc:0.79569
[90]	validation_0-auc:0.88844	validation_1-auc:0.79567
[91]	validation_0-auc:0.88871	validation_1-auc:0.79567
[92]	validation_0-auc:0.88906	validation_1-auc:0.79559
[93]	validation_0-auc:0.88961	validation_1-auc:0.79550
[94]	validation_0-auc:0.89036	validation_1-auc:0.79540
[95]	validation_0-auc:0.89066	validation_1-auc:0.79531
[96]	validation_0-auc:0.89213	validation_1-auc:0.79525
[97]	validation_0-auc:0.89268	validation_1-auc:0.79522
[98]	validation_0-auc:0.89311	validation_1-auc:0.79519
[99]	validation_0-auc:0.89353	validation_1-auc:0.79509
[auc] tr:0.893529, va0.7951
-------------------- 4 --------------------
(246005, 1038) (61501, 1038)
[23:12:26] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79649	validation_1-auc:0.79271

[1]	validation_0-auc:0.80214	validation_1-auc:0.79519
[2]	validation_0-auc:0.80461	validation_1-auc:0.79633
[3]	validation_0-auc:0.80689	validation_1-auc:0.79668
[4]	validation_0-auc:0.80849	validation_1-auc:0.79674
[5]	validation_0-auc:0.80956	validation_1-auc:0.79679
[6]	validation_0-auc:0.81143	validation_1-auc:0.79680
[7]	validation_0-auc:0.81255	validation_1-auc:0.79694
[8]	validation_0-auc:0.81339	validation_1-auc:0.79704
[9]	validation_0-auc:0.81472	validation_1-auc:0.79702
[10]	validation_0-auc:0.81627	validation_1-auc:0.79701
[11]	validation_0-auc:0.81733	validation_1-auc:0.79688
[12]	validation_0-auc:0.81851	validation_1-auc:0.79684
[13]	validation_0-auc:0.81937	validation_1-auc:0.79677
[14]	validation_0-auc:0.82003	validation_1-auc:0.79673
[15]	validation_0-auc:0.82093	validation_1-auc:0.79680
[16]	validation_0-auc:0.82172	validation_1-auc:0.79692
[17]	validation_0-auc:0.82284	validation_1-auc:0.79676
[18]	validation_0-auc:0.82410	validation_1-auc:0.79684
[19]	validation_0-auc:0.82500	validation_1-auc:0.79673
[20]	validation_0-auc:0.82597	validation_1-auc:0.79662
[21]	validation_0-auc:0.82686	validation_1-auc:0.79653
[22]	validation_0-auc:0.82851	validation_1-auc:0.79643
[23]	validation_0-auc:0.82996	validation_1-auc:0.79626
[24]	validation_0-auc:0.83101	validation_1-auc:0.79654
[25]	validation_0-auc:0.83233	validation_1-auc:0.79666
[26]	validation_0-auc:0.83358	validation_1-auc:0.79666
[27]	validation_0-auc:0.83488	validation_1-auc:0.79654
[28]	validation_0-auc:0.83603	validation_1-auc:0.79671
[29]	validation_0-auc:0.83703	validation_1-auc:0.79664
[30]	validation_0-auc:0.83864	validation_1-auc:0.79643
[31]	validation_0-auc:0.83940	validation_1-auc:0.79633
[32]	validation_0-auc:0.84058	validation_1-auc:0.79622
[33]	validation_0-auc:0.84171	validation_1-auc:0.79619
[34]	validation_0-auc:0.84295	validation_1-auc:0.79603
[35]	validation_0-auc:0.84450	validation_1-auc:0.79588
[36]	validation_0-auc:0.84554	validation_1-auc:0.79582
[37]	validation_0-auc:0.84640	validation_1-auc:0.79576
[38]	validation_0-auc:0.84752	validation_1-auc:0.79578
[39]	validation_0-auc:0.84842	validation_1-auc:0.79574
[40]	validation_0-auc:0.85018	validation_1-auc:0.79572
[41]	validation_0-auc:0.85133	validation_1-auc:0.79568
[42]	validation_0-auc:0.85264	validation_1-auc:0.79587
[43]	validation_0-auc:0.85325	validation_1-auc:0.79596
[44]	validation_0-auc:0.85446	validation_1-auc:0.79594
[45]	validation_0-auc:0.85543	validation_1-auc:0.79575
[46]	validation_0-auc:0.85671	validation_1-auc:0.79575
[47]	validation_0-auc:0.85799	validation_1-auc:0.79564
[48]	validation_0-auc:0.85930	validation_1-auc:0.79572
[49]	validation_0-auc:0.86043	validation_1-auc:0.79555
[50]	validation_0-auc:0.86142	validation_1-auc:0.79554
[51]	validation_0-auc:0.86227	validation_1-auc:0.79554
[52]	validation_0-auc:0.86307	validation_1-auc:0.79550
[53]	validation_0-auc:0.86358	validation_1-auc:0.79550
[54]	validation_0-auc:0.86436	validation_1-auc:0.79557
[55]	validation_0-auc:0.86525	validation_1-auc:0.79547
[56]	validation_0-auc:0.86674	validation_1-auc:0.79522
[57]	validation_0-auc:0.86780	validation_1-auc:0.79515
[58]	validation_0-auc:0.86853	validation_1-auc:0.79509
[59]	validation_0-auc:0.86961	validation_1-auc:0.79490
[60]	validation_0-auc:0.87013	validation_1-auc:0.79490
[61]	validation_0-auc:0.87090	validation_1-auc:0.79486
[62]	validation_0-auc:0.87161	validation_1-auc:0.79475
[63]	validation_0-auc:0.87258	validation_1-auc:0.79480
[64]	validation_0-auc:0.87329	validation_1-auc:0.79480
[65]	validation_0-auc:0.87387	validation_1-auc:0.79476
[66]	validation_0-auc:0.87419	validation_1-auc:0.79470
[67]	validation_0-auc:0.87519	validation_1-auc:0.79470
[68]	validation_0-auc:0.87586	validation_1-auc:0.79459
[69]	validation_0-auc:0.87626	validation_1-auc:0.79458
[70]	validation_0-auc:0.87744	validation_1-auc:0.79456
[71]	validation_0-auc:0.87811	validation_1-auc:0.79459
[72]	validation_0-auc:0.87874	validation_1-auc:0.79457
[73]	validation_0-auc:0.87927	validation_1-auc:0.79457
[74]	validation_0-auc:0.87966	validation_1-auc:0.79456
[75]	validation_0-auc:0.88060	validation_1-auc:0.79431
[76]	validation_0-auc:0.88129	validation_1-auc:0.79423
[77]	validation_0-auc:0.88174	validation_1-auc:0.79407
[78]	validation_0-auc:0.88218	validation_1-auc:0.79402
[79]	validation_0-auc:0.88279	validation_1-auc:0.79397
[80]	validation_0-auc:0.88383	validation_1-auc:0.79394
[81]	validation_0-auc:0.88452	validation_1-auc:0.79386
[82]	validation_0-auc:0.88490	validation_1-auc:0.79384
[83]	validation_0-auc:0.88570	validation_1-auc:0.79382
[84]	validation_0-auc:0.88639	validation_1-auc:0.79369
[85]	validation_0-auc:0.88754	validation_1-auc:0.79364
[86]	validation_0-auc:0.88800	validation_1-auc:0.79363
[87]	validation_0-auc:0.88832	validation_1-auc:0.79365
[88]	validation_0-auc:0.88894	validation_1-auc:0.79359
[89]	validation_0-auc:0.88969	validation_1-auc:0.79356
[90]	validation_0-auc:0.89053	validation_1-auc:0.79338
[91]	validation_0-auc:0.89120	validation_1-auc:0.79330
[92]	validation_0-auc:0.89192	validation_1-auc:0.79327
[93]	validation_0-auc:0.89238	validation_1-auc:0.79322
[94]	validation_0-auc:0.89312	validation_1-auc:0.79314
[95]	validation_0-auc:0.89343	validation_1-auc:0.79307
[96]	validation_0-auc:0.89393	validation_1-auc:0.79296
[97]	validation_0-auc:0.89441	validation_1-auc:0.79296
[98]	validation_0-auc:0.89472	validation_1-auc:0.79288
[99]	validation_0-auc:0.89535	validation_1-auc:0.79287
[auc] tr:0.895345, va0.7929
-------------------- result --------------------
[[0.         0.899152   0.78992972]
 [1.         0.8965553  0.79113817]
 [2.         0.89727857 0.78701849]
 [3.         0.89352934 0.7950919 ]
 [4.         0.89534509 0.79286777]]
[cv] tr:0.8964+-0.0019, va:0.7912+-0.0027
[oof]0.7911

In [46]:
imp.sort_values("imp", ascending=False)[:20]

                                                    col       imp   imp_std
1035                                              set5x  0.027401  0.004612
1034                                              set5a  0.024781  0.002401
1037                                             setB1x  0.017102  0.002530
1028                                               set1  0.012156  0.000859
1032                                              set3a  0.011264  0.001359
1030                                              set2a  0.011057  0.001910
1029                                              set1x  0.006727  0.000583
1033                                              set3x  0.006356  0.001259
1036                                             setB1a  0.003048  0.000910
1031                                             set2nn  0.002712  0.000122
939   PREV_PRODUCT_COMBINATION_POS_mobile_without_in...  0.001265  0.000509
930    PREV_PRODUCT_COMBINATION_Cash_Street_middle_MEAN  0.001259  0.000228
290                    CC_AMT_PAYMENT_TOTAL_CURRENT_SUM  0.001255  0.000198
14                    ACTIVE_AMT_CREDIT_SUM_OVERDUE_SUM  0.001223  0.000126
258                     CC_AMT_DRAWINGS_ATM_CURRENT_MAX  0.001186  0.000107
935   PREV_PRODUCT_COMBINATION_POS_household_without...  0.001178  0.000117
288                   CC_AMT_PAYMENT_TOTAL_CURRENT_MEAN  0.001174  0.000165
873             PREV_NAME_GOODS_CATEGORY_Furniture_MEAN  0.001162  0.000238
533                                  INSTAL_DPD_15_MEAN  0.001159  0.000171
487                                          FLAG_PHONE  0.001158  0.000363

In [47]:
app_test.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310,0.034370,0.028969
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556,0.116919,0.116288
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872,0.037191,0.041057
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915,0.051958,0.045375
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295,0.141608,0.136362

In [48]:
app_train.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0.283935,0.234856,0.260928,0.199398,0.242499,0.240473,0.223662,0.259405,0.196429,0.244814
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0.023060,0.023065,0.012171,0.012061,0.017857,0.014736,0.024137,0.023080,0.013261,0.014884
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0.032398,0.038719,0.039950,0.047440,0.033203,0.029793,0.035314,0.033290,0.030715,0.036912
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.028579,0.034008,0.030776,0.030071,0.048900,0.031804,0.031135,0.022860,0.034176,0.037270
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0.023252,0.027813,0.035088,0.023555,0.043556,0.060946,0.035167,0.033131,0.038256,0.035143

In [49]:
# データセット作成
x_test = app_test.drop(columns=['SK_ID_CURR', 'TARGET'])
id_test = app_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [50]:
test_pred = baseline.predict_xgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [51]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineeringOtherSourceXgb2-1.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.031610
1      100005  0.111530
2      100013  0.044441
3      100028  0.035599
4      100038  0.136990

### 正規化＋対数変換

In [52]:
app_train_ord = app_train.copy()
app_test_ord = app_test.copy()
app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310,0.034370,0.028969
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556,0.116919,0.116288
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872,0.037191,0.041057
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915,0.051958,0.045375
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295,0.141608,0.136362

In [53]:
# infをnanへ置換
app_train_ord = app_train_ord.replace([np.inf, -np.inf], np.nan)
app_test_ord = app_test_ord.replace([np.inf, -np.inf], np.nan)
app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310,0.034370,0.028969
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556,0.116919,0.116288
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872,0.037191,0.041057
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915,0.051958,0.045375
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295,0.141608,0.136362

In [54]:
### 欠損値補完
#app_train_ord = app_train_ord.fillna(app_train_ord.max() + (app_train_ord.max() * 0.4))
app_train_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
0,0,100002,1.0,0,0,0,0,202500.0,406597.5,24700.5,...,0.283935,0.234856,0.260928,0.199398,0.242499,0.240473,0.223662,0.259405,0.196429,0.244814
1,1,100003,0.0,1,0,1,0,270000.0,1293502.5,35698.5,...,0.023060,0.023065,0.012171,0.012061,0.017857,0.014736,0.024137,0.023080,0.013261,0.014884
2,2,100004,0.0,0,1,0,0,67500.0,135000.0,6750.0,...,0.032398,0.038719,0.039950,0.047440,0.033203,0.029793,0.035314,0.033290,0.030715,0.036912
3,3,100006,0.0,1,0,0,0,135000.0,312682.5,29686.5,...,0.028579,0.034008,0.030776,0.030071,0.048900,0.031804,0.031135,0.022860,0.034176,0.037270
4,4,100007,0.0,0,0,0,0,121500.0,513000.0,21865.5,...,0.023252,0.027813,0.035088,0.023555,0.043556,0.060946,0.035167,0.033131,0.038256,0.035143

In [55]:
### 欠損値補完
#app_test_ord = app_test_ord.fillna(app_test_ord.max() + (app_test_ord.max() * 0.4))
app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0.033433,0.032762,0.040068,0.035234,0.042769,0.048972,0.049120,0.034310,0.034370,0.028969
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0.098996,0.100620,0.095240,0.107426,0.103694,0.141351,0.115729,0.127556,0.116919,0.116288
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0.042185,0.044999,0.044435,0.048029,0.036006,0.028088,0.064166,0.044872,0.037191,0.041057
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0.039429,0.034211,0.036586,0.032975,0.048812,0.039056,0.038931,0.030915,0.051958,0.045375
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0.161166,0.172532,0.141754,0.161962,0.173045,0.192637,0.195575,0.201295,0.141608,0.136362

In [56]:
# infをnanへ置換
app_train_ord = FeatureEngineering2.reduce_mem_usage(app_train_ord)
app_test_ord = FeatureEngineering2.reduce_mem_usage(app_test_ord)
app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0.033447,0.032776,0.040070,0.035248,0.042755,0.048981,0.049133,0.034302,0.034363,0.028976
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0.098999,0.100647,0.095215,0.107422,0.103699,0.141357,0.115723,0.127563,0.116943,0.116272
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0.042175,0.045013,0.044434,0.048035,0.036011,0.028091,0.064148,0.044861,0.037201,0.041046
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0.039429,0.034210,0.036591,0.032990,0.048798,0.039062,0.038940,0.030914,0.051971,0.045380
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0.161133,0.172485,0.141724,0.161987,0.173096,0.192627,0.195557,0.201294,0.141602,0.136353

In [57]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(app_test_ord.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')
encoding_columns.remove('TARGET')

In [58]:
### Yao-Jhonson変換
#for column in encoding_columns:
#    modules.process_yj_convert(app_train_ord, app_test_ord, column, [column])

app_test_ord.head()

,level_0,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
0,0,100001,NaN,1,0,0,0,135000.0,568800.0,20560.5,...,0.033447,0.032776,0.040070,0.035248,0.042755,0.048981,0.049133,0.034302,0.034363,0.028976
1,1,100005,NaN,0,0,0,0,99000.0,222768.0,17370.0,...,0.098999,0.100647,0.095215,0.107422,0.103699,0.141357,0.115723,0.127563,0.116943,0.116272
2,2,100013,NaN,0,1,0,0,202500.0,663264.0,69777.0,...,0.042175,0.045013,0.044434,0.048035,0.036011,0.028091,0.064148,0.044861,0.037201,0.041046
3,3,100028,NaN,1,0,0,2,315000.0,1575000.0,49018.5,...,0.039429,0.034210,0.036591,0.032990,0.048798,0.039062,0.038940,0.030914,0.051971,0.045380
4,4,100038,NaN,0,1,1,1,180000.0,625500.0,32067.0,...,0.161133,0.172485,0.141724,0.161987,0.173096,0.192627,0.195557,0.201294,0.141602,0.136353

In [59]:
### indexを設定
app_train_ord = app_train_ord.set_index('SK_ID_CURR')
app_test_ord = app_test_ord.set_index('SK_ID_CURR')
app_test_ord.head()

,level_0,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,0,NaN,1,0,0,0,135000.0,568800.0,20560.5,450000.0,...,0.033447,0.032776,0.040070,0.035248,0.042755,0.048981,0.049133,0.034302,0.034363,0.028976
100005,1,NaN,0,0,0,0,99000.0,222768.0,17370.0,180000.0,...,0.098999,0.100647,0.095215,0.107422,0.103699,0.141357,0.115723,0.127563,0.116943,0.116272
100013,2,NaN,0,1,0,0,202500.0,663264.0,69777.0,630000.0,...,0.042175,0.045013,0.044434,0.048035,0.036011,0.028091,0.064148,0.044861,0.037201,0.041046
100028,3,NaN,1,0,0,2,315000.0,1575000.0,49018.5,1575000.0,...,0.039429,0.034210,0.036591,0.032990,0.048798,0.039062,0.038940,0.030914,0.051971,0.045380
100038,4,NaN,0,1,1,1,180000.0,625500.0,32067.0,625500.0,...,0.161133,0.172485,0.141724,0.161987,0.173096,0.192627,0.195557,0.201294,0.141602,0.136353

In [60]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(app_train_ord, app_test_ord, num_cols)
        
app_test_ord.head()

,level_0,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100001,-1.732045,NaN,0.720379,-0.717912,-0.664539,-0.577531,-0.307114,-0.075104,-0.451791,-0.239271,...,-0.490723,-0.485840,-0.419189,-0.450684,-0.402832,-0.317139,-0.328125,-0.469482,-0.475830,-0.514648
100005,-1.732034,NaN,-1.388158,-0.717912,-0.664539,-0.577531,-0.637959,-0.934826,-0.671920,-0.970093,...,0.188843,0.226562,0.158813,0.319824,0.256592,0.678223,0.364990,0.507324,0.374756,0.403564
100013,-1.732023,NaN,-1.388158,1.392928,-0.664539,-0.577531,0.313221,0.159594,2.943903,0.247943,...,-0.400146,-0.357422,-0.373535,-0.314209,-0.475830,-0.541992,-0.171875,-0.358887,-0.446533,-0.387695
100028,-1.732011,NaN,0.720379,-0.717912,-0.664539,2.192099,1.347112,2.424818,1.511669,2.805819,...,-0.428711,-0.470947,-0.455566,-0.474609,-0.337402,-0.423828,-0.434326,-0.504883,-0.294434,-0.342285
100038,-1.732000,NaN,-1.388158,1.392928,1.504802,0.807284,0.106443,0.065768,0.342100,0.235763,...,0.833496,0.980957,0.646484,0.902344,1.007812,1.230469,1.195312,1.279297,0.628418,0.614746

In [61]:
### indexを削除
app_train_ord = app_train_ord.reset_index()
app_test_ord = app_test_ord.reset_index()
app_test_ord.head()

,SK_ID_CURR,level_0,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,setB1a,setB1x,set1,set1x,set2a,set2nn,set3a,set3x,set5a,set5x
0,100001,-1.732045,NaN,0.720379,-0.717912,-0.664539,-0.577531,-0.307114,-0.075104,-0.451791,...,-0.490723,-0.485840,-0.419189,-0.450684,-0.402832,-0.317139,-0.328125,-0.469482,-0.475830,-0.514648
1,100005,-1.732034,NaN,-1.388158,-0.717912,-0.664539,-0.577531,-0.637959,-0.934826,-0.671920,...,0.188843,0.226562,0.158813,0.319824,0.256592,0.678223,0.364990,0.507324,0.374756,0.403564
2,100013,-1.732023,NaN,-1.388158,1.392928,-0.664539,-0.577531,0.313221,0.159594,2.943903,...,-0.400146,-0.357422,-0.373535,-0.314209,-0.475830,-0.541992,-0.171875,-0.358887,-0.446533,-0.387695
3,100028,-1.732011,NaN,0.720379,-0.717912,-0.664539,2.192099,1.347112,2.424818,1.511669,...,-0.428711,-0.470947,-0.455566,-0.474609,-0.337402,-0.423828,-0.434326,-0.504883,-0.294434,-0.342285
4,100038,-1.732000,NaN,-1.388158,1.392928,1.504802,0.807284,0.106443,0.065768,0.342100,...,0.833496,0.980957,0.646484,0.902344,1.007812,1.230469,1.195312,1.279297,0.628418,0.614746

In [62]:
x_train = app_train_ord.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = app_train_ord['TARGET']
id_train = app_train_ord[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=='O':
        x_train[col] = x_train[col].astype('category')

In [63]:
# データセット作成
x_test = app_test_ord.drop(columns=['SK_ID_CURR', 'TARGET'])
id_test = app_test_ord[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [64]:
#del app_train_ord
#del app_test_ord
#gc.collect()

In [65]:
### 学習モデル構築
train_oof, imp, metrics = baseline.train_xgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246004, 1038) (61502, 1038)
[23:13:40] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79780	validation_1-auc:0.78972
[1]	validation_0-auc:0.80238	validation_1-auc:0.79141
[2]	validation_0-auc:0.80484	validation_1-auc:0.79146
[3]	validation_0-auc:0.80673	validation_1-auc:0.79154
[4]	validation_0-auc:0.80840	validation_1-auc:0.79214
[5]	validation_0-auc:0.80999	validation_1-auc:0.79234
[6]	validation_0-auc:0.81113	validation_1-auc:0.79281
[7]	validation_0-auc:0.81242	validation_1-auc:0.79264
[8]	validation_0-auc:0.81378	validation_1-auc:0.79256
[9]	validation_0-auc:0.81472	validation_1-auc:0.79272
[10]	validation_0-auc:0.81604	validation_1-auc:0.79271
[11]	validation_0-auc:0.81715	validation_1-auc:0.79292
[12]	validation_0-auc:0.81812	validation_1-auc:0.79279
[13]	validation_0-auc:0.81984	validation_1-auc:0.79274
[14]	validation_0-auc:0.82057	validation_1-auc:0.79302
[15]	validation_0-auc:0.82125	validation_1-auc:0.79298
[16]	validation_0-auc:0.82236	validation_1-auc:0.79298
[17]	validation_0-auc:0.82334	validation_1-auc:0.79302
[18]	validation_0-auc:0.82423	validation_1-auc:0.79285
[19]	validation_0-auc:0.82483	validation_1-auc:0.79287
[20]	validation_0-auc:0.82656	validation_1-auc:0.79289
[21]	validation_0-auc:0.82792	validation_1-auc:0.79289
[22]	validation_0-auc:0.82945	validation_1-auc:0.79274
[23]	validation_0-auc:0.83031	validation_1-auc:0.79263
[24]	validation_0-auc:0.83127	validation_1-auc:0.79256
[25]	validation_0-auc:0.83221	validation_1-auc:0.79251
[26]	validation_0-auc:0.83354	validation_1-auc:0.79232
[27]	validation_0-auc:0.83453	validation_1-auc:0.79240
[28]	validation_0-auc:0.83543	validation_1-auc:0.79234
[29]	validation_0-auc:0.83624	validation_1-auc:0.79209
[30]	validation_0-auc:0.83761	validation_1-auc:0.79201
[31]	validation_0-auc:0.83884	validation_1-auc:0.79185
[32]	validation_0-auc:0.83991	validation_1-auc:0.79185
[33]	validation_0-auc:0.84147	validation_1-auc:0.79192
[34]	validation_0-auc:0.84261	validation_1-auc:0.79190
[35]	validation_0-auc:0.84399	validation_1-auc:0.79199
[36]	validation_0-auc:0.84517	validation_1-auc:0.79192
[37]	validation_0-auc:0.84641	validation_1-auc:0.79199
[38]	validation_0-auc:0.84712	validation_1-auc:0.79191
[39]	validation_0-auc:0.84810	validation_1-auc:0.79180
[40]	validation_0-auc:0.84992	validation_1-auc:0.79184
[41]	validation_0-auc:0.85110	validation_1-auc:0.79201
[42]	validation_0-auc:0.85218	validation_1-auc:0.79216
[43]	validation_0-auc:0.85366	validation_1-auc:0.79218
[44]	validation_0-auc:0.85444	validation_1-auc:0.79207
[45]	validation_0-auc:0.85561	validation_1-auc:0.79193
[46]	validation_0-auc:0.85708	validation_1-auc:0.79184
[47]	validation_0-auc:0.85823	validation_1-auc:0.79183
[48]	validation_0-auc:0.85946	validation_1-auc:0.79187
[49]	validation_0-auc:0.86034	validation_1-auc:0.79180
[50]	validation_0-auc:0.86156	validation_1-auc:0.79197
[51]	validation_0-auc:0.86246	validation_1-auc:0.79192
[52]	validation_0-auc:0.86351	validation_1-auc:0.79180
[53]	validation_0-auc:0.86491	validation_1-auc:0.79172
[54]	validation_0-auc:0.86587	validation_1-auc:0.79169
[55]	validation_0-auc:0.86681	validation_1-auc:0.79172
[56]	validation_0-auc:0.86751	validation_1-auc:0.79172
[57]	validation_0-auc:0.86884	validation_1-auc:0.79160
[58]	validation_0-auc:0.86980	validation_1-auc:0.79144
[59]	validation_0-auc:0.87086	validation_1-auc:0.79139
[60]	validation_0-auc:0.87228	validation_1-auc:0.79127
[61]	validation_0-auc:0.87330	validation_1-auc:0.79122
[62]	validation_0-auc:0.87419	validation_1-auc:0.79114
[63]	validation_0-auc:0.87479	validation_1-auc:0.79113
[64]	validation_0-auc:0.87520	validation_1-auc:0.79108
[65]	validation_0-auc:0.87632	validation_1-auc:0.79105
[66]	validation_0-auc:0.87683	validation_1-auc:0.79121
[67]	validation_0-auc:0.87725	validation_1-auc:0.79115
[68]	validation_0-auc:0.87795	validation_1-auc:0.79110
[69]	validation_0-auc:0.87915	validation_1-auc:0.79098
[70]	validation_0-auc:0.87994	validation_1-auc:0.79096
[71]	validation_0-auc:0.88051	validation_1-auc:0.79089
[72]	validation_0-auc:0.88135	validation_1-auc:0.79093
[73]	validation_0-auc:0.88196	validation_1-auc:0.79087
[74]	validation_0-auc:0.88259	validation_1-auc:0.79089
[75]	validation_0-auc:0.88299	validation_1-auc:0.79088
[76]	validation_0-auc:0.88419	validation_1-auc:0.79072
[77]	validation_0-auc:0.88541	validation_1-auc:0.79079
[78]	validation_0-auc:0.88626	validation_1-auc:0.79065
[79]	validation_0-auc:0.88676	validation_1-auc:0.79063
[80]	validation_0-auc:0.88739	validation_1-auc:0.79060
[81]	validation_0-auc:0.88814	validation_1-auc:0.79050
[82]	validation_0-auc:0.88873	validation_1-auc:0.79058
[83]	validation_0-auc:0.88894	validation_1-auc:0.79060
[84]	validation_0-auc:0.88922	validation_1-auc:0.79063
[85]	validation_0-auc:0.88971	validation_1-auc:0.79065
[86]	validation_0-auc:0.89015	validation_1-auc:0.79059
[87]	validation_0-auc:0.89079	validation_1-auc:0.79050
[88]	validation_0-auc:0.89098	validation_1-auc:0.79046
[89]	validation_0-auc:0.89163	validation_1-auc:0.79036
[90]	validation_0-auc:0.89209	validation_1-auc:0.79031
[91]	validation_0-auc:0.89282	validation_1-auc:0.79018
[92]	validation_0-auc:0.89364	validation_1-auc:0.79016
[93]	validation_0-auc:0.89453	validation_1-auc:0.79010
[94]	validation_0-auc:0.89540	validation_1-auc:0.79001
[95]	validation_0-auc:0.89595	validation_1-auc:0.78996
[96]	validation_0-auc:0.89645	validation_1-auc:0.78999
[97]	validation_0-auc:0.89709	validation_1-auc:0.79006
[98]	validation_0-auc:0.89770	validation_1-auc:0.78995
[99]	validation_0-auc:0.89841	validation_1-auc:0.79004
[auc] tr:0.898410, va0.7900
-------------------- 1 --------------------
(246005, 1038) (61501, 1038)
[23:14:02] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79702	validation_1-auc:0.79170
[1]	validation_0-auc:0.80094	validation_1-auc:0.79341
[2]	validation_0-auc:0.80348	validation_1-auc:0.79392
[3]	validation_0-auc:0.80549	validation_1-auc:0.79462
[4]	validation_0-auc:0.80697	validation_1-auc:0.79457
[5]	validation_0-auc:0.80845	validation_1-auc:0.79494
[6]	validation_0-auc:0.80984	validation_1-auc:0.79518
[7]	validation_0-auc:0.81116	validation_1-auc:0.79527
[8]	validation_0-auc:0.81262	validation_1-auc:0.79549
[9]	validation_0-auc:0.81395	validation_1-auc:0.79562
[10]	validation_0-auc:0.81522	validation_1-auc:0.79565
[11]	validation_0-auc:0.81609	validation_1-auc:0.79561
[12]	validation_0-auc:0.81724	validation_1-auc:0.79559
[13]	validation_0-auc:0.81851	validation_1-auc:0.79566
[14]	validation_0-auc:0.81944	validation_1-auc:0.79569
[15]	validation_0-auc:0.82059	validation_1-auc:0.79557
[16]	validation_0-auc:0.82187	validation_1-auc:0.79532
[17]	validation_0-auc:0.82278	validation_1-auc:0.79527
[18]	validation_0-auc:0.82407	validation_1-auc:0.79529
[19]	validation_0-auc:0.82504	validation_1-auc:0.79530
[20]	validation_0-auc:0.82597	validation_1-auc:0.79523
[21]	validation_0-auc:0.82745	validation_1-auc:0.79518
[22]	validation_0-auc:0.82843	validation_1-auc:0.79511
[23]	validation_0-auc:0.82912	validation_1-auc:0.79502
[24]	validation_0-auc:0.83012	validation_1-auc:0.79516
[25]	validation_0-auc:0.83120	validation_1-auc:0.79528
[26]	validation_0-auc:0.83300	validation_1-auc:0.79511
[27]	validation_0-auc:0.83411	validation_1-auc:0.79502
[28]	validation_0-auc:0.83528	validation_1-auc:0.79502
[29]	validation_0-auc:0.83707	validation_1-auc:0.79486
[30]	validation_0-auc:0.83789	validation_1-auc:0.79485

[31]	validation_0-auc:0.83893	validation_1-auc:0.79478
[32]	validation_0-auc:0.84020	validation_1-auc:0.79493
[33]	validation_0-auc:0.84126	validation_1-auc:0.79494
[34]	validation_0-auc:0.84276	validation_1-auc:0.79499
[35]	validation_0-auc:0.84414	validation_1-auc:0.79503
[36]	validation_0-auc:0.84507	validation_1-auc:0.79478
[37]	validation_0-auc:0.84643	validation_1-auc:0.79471
[38]	validation_0-auc:0.84779	validation_1-auc:0.79468
[39]	validation_0-auc:0.84877	validation_1-auc:0.79470
[40]	validation_0-auc:0.84998	validation_1-auc:0.79450
[41]	validation_0-auc:0.85127	validation_1-auc:0.79429
[42]	validation_0-auc:0.85270	validation_1-auc:0.79436
[43]	validation_0-auc:0.85412	validation_1-auc:0.79433
[44]	validation_0-auc:0.85595	validation_1-auc:0.79434
[45]	validation_0-auc:0.85686	validation_1-auc:0.79429
[46]	validation_0-auc:0.85799	validation_1-auc:0.79431
[47]	validation_0-auc:0.85918	validation_1-auc:0.79440
[48]	validation_0-auc:0.86048	validation_1-auc:0.79443
[49]	validation_0-auc:0.86171	validation_1-auc:0.79437
[50]	validation_0-auc:0.86222	validation_1-auc:0.79434
[51]	validation_0-auc:0.86330	validation_1-auc:0.79430
[52]	validation_0-auc:0.86461	validation_1-auc:0.79416
[53]	validation_0-auc:0.86564	validation_1-auc:0.79427
[54]	validation_0-auc:0.86622	validation_1-auc:0.79437
[55]	validation_0-auc:0.86751	validation_1-auc:0.79441
[56]	validation_0-auc:0.86844	validation_1-auc:0.79435
[57]	validation_0-auc:0.86921	validation_1-auc:0.79435
[58]	validation_0-auc:0.86962	validation_1-auc:0.79429
[59]	validation_0-auc:0.87048	validation_1-auc:0.79441
[60]	validation_0-auc:0.87134	validation_1-auc:0.79453
[61]	validation_0-auc:0.87241	validation_1-auc:0.79442
[62]	validation_0-auc:0.87330	validation_1-auc:0.79427
[63]	validation_0-auc:0.87412	validation_1-auc:0.79410
[64]	validation_0-auc:0.87459	validation_1-auc:0.79406
[65]	validation_0-auc:0.87495	validation_1-auc:0.79401
[66]	validation_0-auc:0.87553	validation_1-auc:0.79402
[67]	validation_0-auc:0.87591	validation_1-auc:0.79401
[68]	validation_0-auc:0.87634	validation_1-auc:0.79394
[69]	validation_0-auc:0.87678	validation_1-auc:0.79391
[70]	validation_0-auc:0.87755	validation_1-auc:0.79390
[71]	validation_0-auc:0.87842	validation_1-auc:0.79395
[72]	validation_0-auc:0.87875	validation_1-auc:0.79395
[73]	validation_0-auc:0.87908	validation_1-auc:0.79388
[74]	validation_0-auc:0.87974	validation_1-auc:0.79392
[75]	validation_0-auc:0.88019	validation_1-auc:0.79387
[76]	validation_0-auc:0.88075	validation_1-auc:0.79378
[77]	validation_0-auc:0.88104	validation_1-auc:0.79372
[78]	validation_0-auc:0.88180	validation_1-auc:0.79369
[79]	validation_0-auc:0.88268	validation_1-auc:0.79365
[80]	validation_0-auc:0.88313	validation_1-auc:0.79367
[81]	validation_0-auc:0.88386	validation_1-auc:0.79361
[82]	validation_0-auc:0.88439	validation_1-auc:0.79353
[83]	validation_0-auc:0.88481	validation_1-auc:0.79354
[84]	validation_0-auc:0.88528	validation_1-auc:0.79353
[85]	validation_0-auc:0.88656	validation_1-auc:0.79342
[86]	validation_0-auc:0.88726	validation_1-auc:0.79342
[87]	validation_0-auc:0.88805	validation_1-auc:0.79334
[88]	validation_0-auc:0.88889	validation_1-auc:0.79319
[89]	validation_0-auc:0.88926	validation_1-auc:0.79316
[90]	validation_0-auc:0.88986	validation_1-auc:0.79317
[91]	validation_0-auc:0.89059	validation_1-auc:0.79333
[92]	validation_0-auc:0.89114	validation_1-auc:0.79314
[93]	validation_0-auc:0.89185	validation_1-auc:0.79303
[94]	validation_0-auc:0.89230	validation_1-auc:0.79301
[95]	validation_0-auc:0.89298	validation_1-auc:0.79297
[96]	validation_0-auc:0.89372	validation_1-auc:0.79289
[97]	validation_0-auc:0.89407	validation_1-auc:0.79283
[98]	validation_0-auc:0.89434	validation_1-auc:0.79278
[99]	validation_0-auc:0.89469	validation_1-auc:0.79273
[auc] tr:0.894685, va0.7927
-------------------- 2 --------------------
(246005, 1038) (61501, 1038)
[23:14:23] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79830	validation_1-auc:0.78626
[1]	validation_0-auc:0.80307	validation_1-auc:0.78886
[2]	validation_0-auc:0.80533	validation_1-auc:0.78964
[3]	validation_0-auc:0.80694	validation_1-auc:0.79009
[4]	validation_0-auc:0.80902	validation_1-auc:0.79017
[5]	validation_0-auc:0.81079	validation_1-auc:0.79043
[6]	validation_0-auc:0.81226	validation_1-auc:0.79050
[7]	validation_0-auc:0.81399	validation_1-auc:0.79078
[8]	validation_0-auc:0.81521	validation_1-auc:0.79073
[9]	validation_0-auc:0.81660	validation_1-auc:0.79066
[10]	validation_0-auc:0.81792	validation_1-auc:0.79067
[11]	validation_0-auc:0.81922	validation_1-auc:0.79105
[12]	validation_0-auc:0.82041	validation_1-auc:0.79098
[13]	validation_0-auc:0.82124	validation_1-auc:0.79106
[14]	validation_0-auc:0.82218	validation_1-auc:0.79119
[15]	validation_0-auc:0.82341	validation_1-auc:0.79096
[16]	validation_0-auc:0.82446	validation_1-auc:0.79088
[17]	validation_0-auc:0.82563	validation_1-auc:0.79074
[18]	validation_0-auc:0.82685	validation_1-auc:0.79062
[19]	validation_0-auc:0.82793	validation_1-auc:0.79051
[20]	validation_0-auc:0.82888	validation_1-auc:0.79049
[21]	validation_0-auc:0.83050	validation_1-auc:0.79045
[22]	validation_0-auc:0.83163	validation_1-auc:0.79031
[23]	validation_0-auc:0.83246	validation_1-auc:0.79024
[24]	validation_0-auc:0.83362	validation_1-auc:0.79012
[25]	validation_0-auc:0.83501	validation_1-auc:0.79018
[26]	validation_0-auc:0.83647	validation_1-auc:0.78995
[27]	validation_0-auc:0.83798	validation_1-auc:0.78996
[28]	validation_0-auc:0.83902	validation_1-auc:0.79004
[29]	validation_0-auc:0.84025	validation_1-auc:0.78993
[30]	validation_0-auc:0.84152	validation_1-auc:0.78985
[31]	validation_0-auc:0.84273	validation_1-auc:0.78988
[32]	validation_0-auc:0.84401	validation_1-auc:0.78979
[33]	validation_0-auc:0.84529	validation_1-auc:0.78992
[34]	validation_0-auc:0.84621	validation_1-auc:0.78995
[35]	validation_0-auc:0.84702	validation_1-auc:0.78996
[36]	validation_0-auc:0.84822	validation_1-auc:0.79000
[37]	validation_0-auc:0.84990	validation_1-auc:0.78983
[38]	validation_0-auc:0.85066	validation_1-auc:0.78984
[39]	validation_0-auc:0.85187	validation_1-auc:0.78981
[40]	validation_0-auc:0.85296	validation_1-auc:0.78973
[41]	validation_0-auc:0.85431	validation_1-auc:0.78954
[42]	validation_0-auc:0.85544	validation_1-auc:0.78951
[43]	validation_0-auc:0.85633	validation_1-auc:0.78946
[44]	validation_0-auc:0.85746	validation_1-auc:0.78935
[45]	validation_0-auc:0.85869	validation_1-auc:0.78943
[46]	validation_0-auc:0.85967	validation_1-auc:0.78928
[47]	validation_0-auc:0.86115	validation_1-auc:0.78941
[48]	validation_0-auc:0.86267	validation_1-auc:0.78933
[49]	validation_0-auc:0.86380	validation_1-auc:0.78940
[50]	validation_0-auc:0.86474	validation_1-auc:0.78923
[51]	validation_0-auc:0.86577	validation_1-auc:0.78935
[52]	validation_0-auc:0.86671	validation_1-auc:0.78936
[53]	validation_0-auc:0.86714	validation_1-auc:0.78928
[54]	validation_0-auc:0.86808	validation_1-auc:0.78928
[55]	validation_0-auc:0.86872	validation_1-auc:0.78931
[56]	validation_0-auc:0.86956	validation_1-auc:0.78942
[57]	validation_0-auc:0.87060	validation_1-auc:0.78926
[58]	validation_0-auc:0.87146	validation_1-auc:0.78925
[59]	validation_0-auc:0.87241	validation_1-auc:0.78923
[60]	validation_0-auc:0.87327	validation_1-auc:0.78928
[61]	validation_0-auc:0.87380	validation_1-auc:0.78924
[62]	validation_0-auc:0.87455	validation_1-auc:0.78930
[63]	validation_0-auc:0.87499	validation_1-auc:0.78917
[64]	validation_0-auc:0.87564	validation_1-auc:0.78913
[65]	validation_0-auc:0.87628	validation_1-auc:0.78900
[66]	validation_0-auc:0.87678	validation_1-auc:0.78897
[67]	validation_0-auc:0.87745	validation_1-auc:0.78894
[68]	validation_0-auc:0.87801	validation_1-auc:0.78892
[69]	validation_0-auc:0.87881	validation_1-auc:0.78888
[70]	validation_0-auc:0.87945	validation_1-auc:0.78890

[71]	validation_0-auc:0.88029	validation_1-auc:0.78881
[72]	validation_0-auc:0.88080	validation_1-auc:0.78880
[73]	validation_0-auc:0.88124	validation_1-auc:0.78871
[74]	validation_0-auc:0.88192	validation_1-auc:0.78869
[75]	validation_0-auc:0.88276	validation_1-auc:0.78865
[76]	validation_0-auc:0.88349	validation_1-auc:0.78862
[77]	validation_0-auc:0.88432	validation_1-auc:0.78856
[78]	validation_0-auc:0.88509	validation_1-auc:0.78860
[79]	validation_0-auc:0.88567	validation_1-auc:0.78839
[80]	validation_0-auc:0.88646	validation_1-auc:0.78842
[81]	validation_0-auc:0.88731	validation_1-auc:0.78832
[82]	validation_0-auc:0.88772	validation_1-auc:0.78833
[83]	validation_0-auc:0.88811	validation_1-auc:0.78839
[84]	validation_0-auc:0.88883	validation_1-auc:0.78838
[85]	validation_0-auc:0.88929	validation_1-auc:0.78842
[86]	validation_0-auc:0.88980	validation_1-auc:0.78827
[87]	validation_0-auc:0.89057	validation_1-auc:0.78822
[88]	validation_0-auc:0.89107	validation_1-auc:0.78824
[89]	validation_0-auc:0.89171	validation_1-auc:0.78817
[90]	validation_0-auc:0.89192	validation_1-auc:0.78815
[91]	validation_0-auc:0.89254	validation_1-auc:0.78810
[92]	validation_0-auc:0.89278	validation_1-auc:0.78806
[93]	validation_0-auc:0.89360	validation_1-auc:0.78803
[94]	validation_0-auc:0.89412	validation_1-auc:0.78794
[95]	validation_0-auc:0.89470	validation_1-auc:0.78783
[96]	validation_0-auc:0.89519	validation_1-auc:0.78790
[97]	validation_0-auc:0.89564	validation_1-auc:0.78790
[98]	validation_0-auc:0.89616	validation_1-auc:0.78789
[99]	validation_0-auc:0.89702	validation_1-auc:0.78786
[auc] tr:0.897018, va0.7879
-------------------- 3 --------------------
(246005, 1038) (61501, 1038)
[23:14:47] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79646	validation_1-auc:0.79383
[1]	validation_0-auc:0.80107	validation_1-auc:0.79644
[2]	validation_0-auc:0.80353	validation_1-auc:0.79694
[3]	validation_0-auc:0.80510	validation_1-auc:0.79720
[4]	validation_0-auc:0.80645	validation_1-auc:0.79728
[5]	validation_0-auc:0.80753	validation_1-auc:0.79725
[6]	validation_0-auc:0.80850	validation_1-auc:0.79739
[7]	validation_0-auc:0.80973	validation_1-auc:0.79745
[8]	validation_0-auc:0.81133	validation_1-auc:0.79750
[9]	validation_0-auc:0.81287	validation_1-auc:0.79759
[10]	validation_0-auc:0.81429	validation_1-auc:0.79773
[11]	validation_0-auc:0.81537	validation_1-auc:0.79798
[12]	validation_0-auc:0.81670	validation_1-auc:0.79799
[13]	validation_0-auc:0.81796	validation_1-auc:0.79808
[14]	validation_0-auc:0.81956	validation_1-auc:0.79789
[15]	validation_0-auc:0.82043	validation_1-auc:0.79793
[16]	validation_0-auc:0.82176	validation_1-auc:0.79808
[17]	validation_0-auc:0.82283	validation_1-auc:0.79808
[18]	validation_0-auc:0.82405	validation_1-auc:0.79825
[19]	validation_0-auc:0.82481	validation_1-auc:0.79828
[20]	validation_0-auc:0.82601	validation_1-auc:0.79824
[21]	validation_0-auc:0.82718	validation_1-auc:0.79830
[22]	validation_0-auc:0.82854	validation_1-auc:0.79826
[23]	validation_0-auc:0.83009	validation_1-auc:0.79814
[24]	validation_0-auc:0.83077	validation_1-auc:0.79799
[25]	validation_0-auc:0.83181	validation_1-auc:0.79807
[26]	validation_0-auc:0.83308	validation_1-auc:0.79822
[27]	validation_0-auc:0.83430	validation_1-auc:0.79816
[28]	validation_0-auc:0.83512	validation_1-auc:0.79825
[29]	validation_0-auc:0.83585	validation_1-auc:0.79820
[30]	validation_0-auc:0.83677	validation_1-auc:0.79824
[31]	validation_0-auc:0.83841	validation_1-auc:0.79814
[32]	validation_0-auc:0.83979	validation_1-auc:0.79792
[33]	validation_0-auc:0.84115	validation_1-auc:0.79781
[34]	validation_0-auc:0.84200	validation_1-auc:0.79767
[35]	validation_0-auc:0.84316	validation_1-auc:0.79745
[36]	validation_0-auc:0.84445	validation_1-auc:0.79733
[37]	validation_0-auc:0.84572	validation_1-auc:0.79734
[38]	validation_0-auc:0.84678	validation_1-auc:0.79719
[39]	validation_0-auc:0.84771	validation_1-auc:0.79723
[40]	validation_0-auc:0.84949	validation_1-auc:0.79711
[41]	validation_0-auc:0.85030	validation_1-auc:0.79715
[42]	validation_0-auc:0.85106	validation_1-auc:0.79710
[43]	validation_0-auc:0.85241	validation_1-auc:0.79703
[44]	validation_0-auc:0.85336	validation_1-auc:0.79713
[45]	validation_0-auc:0.85435	validation_1-auc:0.79685
[46]	validation_0-auc:0.85544	validation_1-auc:0.79680
[47]	validation_0-auc:0.85647	validation_1-auc:0.79673
[48]	validation_0-auc:0.85735	validation_1-auc:0.79678
[49]	validation_0-auc:0.85842	validation_1-auc:0.79673
[50]	validation_0-auc:0.85968	validation_1-auc:0.79668
[51]	validation_0-auc:0.86089	validation_1-auc:0.79673
[52]	validation_0-auc:0.86160	validation_1-auc:0.79676
[53]	validation_0-auc:0.86284	validation_1-auc:0.79665
[54]	validation_0-auc:0.86366	validation_1-auc:0.79666
[55]	validation_0-auc:0.86498	validation_1-auc:0.79661
[56]	validation_0-auc:0.86584	validation_1-auc:0.79659
[57]	validation_0-auc:0.86654	validation_1-auc:0.79645
[58]	validation_0-auc:0.86696	validation_1-auc:0.79642
[59]	validation_0-auc:0.86832	validation_1-auc:0.79640
[60]	validation_0-auc:0.86982	validation_1-auc:0.79655
[61]	validation_0-auc:0.87057	validation_1-auc:0.79671
[62]	validation_0-auc:0.87124	validation_1-auc:0.79687
[63]	validation_0-auc:0.87256	validation_1-auc:0.79676
[64]	validation_0-auc:0.87317	validation_1-auc:0.79671
[65]	validation_0-auc:0.87422	validation_1-auc:0.79672
[66]	validation_0-auc:0.87441	validation_1-auc:0.79671
[67]	validation_0-auc:0.87527	validation_1-auc:0.79658
[68]	validation_0-auc:0.87575	validation_1-auc:0.79661
[69]	validation_0-auc:0.87649	validation_1-auc:0.79658
[70]	validation_0-auc:0.87723	validation_1-auc:0.79662
[71]	validation_0-auc:0.87770	validation_1-auc:0.79658
[72]	validation_0-auc:0.87828	validation_1-auc:0.79653
[73]	validation_0-auc:0.87927	validation_1-auc:0.79651
[74]	validation_0-auc:0.87980	validation_1-auc:0.79652
[75]	validation_0-auc:0.88055	validation_1-auc:0.79640
[76]	validation_0-auc:0.88136	validation_1-auc:0.79640
[77]	validation_0-auc:0.88179	validation_1-auc:0.79640
[78]	validation_0-auc:0.88232	validation_1-auc:0.79625
[79]	validation_0-auc:0.88314	validation_1-auc:0.79625
[80]	validation_0-auc:0.88357	validation_1-auc:0.79627
[81]	validation_0-auc:0.88425	validation_1-auc:0.79621
[82]	validation_0-auc:0.88479	validation_1-auc:0.79617
[83]	validation_0-auc:0.88546	validation_1-auc:0.79613
[84]	validation_0-auc:0.88607	validation_1-auc:0.79611
[85]	validation_0-auc:0.88630	validation_1-auc:0.79601
[86]	validation_0-auc:0.88731	validation_1-auc:0.79596
[87]	validation_0-auc:0.88755	validation_1-auc:0.79598
[88]	validation_0-auc:0.88827	validation_1-auc:0.79595
[89]	validation_0-auc:0.88854	validation_1-auc:0.79595
[90]	validation_0-auc:0.88889	validation_1-auc:0.79599
[91]	validation_0-auc:0.88929	validation_1-auc:0.79595
[92]	validation_0-auc:0.89012	validation_1-auc:0.79587
[93]	validation_0-auc:0.89068	validation_1-auc:0.79578
[94]	validation_0-auc:0.89137	validation_1-auc:0.79572
[95]	validation_0-auc:0.89165	validation_1-auc:0.79571
[96]	validation_0-auc:0.89245	validation_1-auc:0.79583
[97]	validation_0-auc:0.89307	validation_1-auc:0.79580
[98]	validation_0-auc:0.89352	validation_1-auc:0.79574
[99]	validation_0-auc:0.89381	validation_1-auc:0.79573
[auc] tr:0.893806, va0.7957
-------------------- 4 --------------------
(246005, 1038) (61501, 1038)
[23:15:12] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "silent" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.


[0]	validation_0-auc:0.79697	validation_1-auc:0.79302

[1]	validation_0-auc:0.80132	validation_1-auc:0.79509
[2]	validation_0-auc:0.80401	validation_1-auc:0.79605
[3]	validation_0-auc:0.80603	validation_1-auc:0.79653
[4]	validation_0-auc:0.80766	validation_1-auc:0.79655
[5]	validation_0-auc:0.80912	validation_1-auc:0.79672
[6]	validation_0-auc:0.81107	validation_1-auc:0.79651
[7]	validation_0-auc:0.81247	validation_1-auc:0.79660
[8]	validation_0-auc:0.81358	validation_1-auc:0.79682
[9]	validation_0-auc:0.81488	validation_1-auc:0.79671
[10]	validation_0-auc:0.81636	validation_1-auc:0.79669
[11]	validation_0-auc:0.81720	validation_1-auc:0.79664
[12]	validation_0-auc:0.81823	validation_1-auc:0.79644
[13]	validation_0-auc:0.81892	validation_1-auc:0.79643
[14]	validation_0-auc:0.81999	validation_1-auc:0.79632
[15]	validation_0-auc:0.82075	validation_1-auc:0.79648
[16]	validation_0-auc:0.82162	validation_1-auc:0.79639
[17]	validation_0-auc:0.82256	validation_1-auc:0.79626
[18]	validation_0-auc:0.82376	validation_1-auc:0.79626
[19]	validation_0-auc:0.82488	validation_1-auc:0.79612
[20]	validation_0-auc:0.82595	validation_1-auc:0.79623
[21]	validation_0-auc:0.82762	validation_1-auc:0.79627
[22]	validation_0-auc:0.82933	validation_1-auc:0.79615
[23]	validation_0-auc:0.83050	validation_1-auc:0.79610
[24]	validation_0-auc:0.83157	validation_1-auc:0.79599
[25]	validation_0-auc:0.83289	validation_1-auc:0.79608
[26]	validation_0-auc:0.83403	validation_1-auc:0.79601
[27]	validation_0-auc:0.83523	validation_1-auc:0.79608
[28]	validation_0-auc:0.83674	validation_1-auc:0.79586
[29]	validation_0-auc:0.83782	validation_1-auc:0.79563
[30]	validation_0-auc:0.83922	validation_1-auc:0.79557
[31]	validation_0-auc:0.84021	validation_1-auc:0.79561
[32]	validation_0-auc:0.84143	validation_1-auc:0.79566
[33]	validation_0-auc:0.84236	validation_1-auc:0.79550
[34]	validation_0-auc:0.84354	validation_1-auc:0.79546
[35]	validation_0-auc:0.84501	validation_1-auc:0.79529
[36]	validation_0-auc:0.84625	validation_1-auc:0.79522
[37]	validation_0-auc:0.84790	validation_1-auc:0.79503
[38]	validation_0-auc:0.84884	validation_1-auc:0.79500
[39]	validation_0-auc:0.84998	validation_1-auc:0.79488
[40]	validation_0-auc:0.85121	validation_1-auc:0.79519
[41]	validation_0-auc:0.85224	validation_1-auc:0.79510
[42]	validation_0-auc:0.85343	validation_1-auc:0.79515
[43]	validation_0-auc:0.85424	validation_1-auc:0.79516
[44]	validation_0-auc:0.85556	validation_1-auc:0.79526
[45]	validation_0-auc:0.85646	validation_1-auc:0.79519
[46]	validation_0-auc:0.85742	validation_1-auc:0.79511
[47]	validation_0-auc:0.85835	validation_1-auc:0.79516
[48]	validation_0-auc:0.85941	validation_1-auc:0.79511
[49]	validation_0-auc:0.86024	validation_1-auc:0.79499
[50]	validation_0-auc:0.86130	validation_1-auc:0.79496
[51]	validation_0-auc:0.86261	validation_1-auc:0.79497
[52]	validation_0-auc:0.86343	validation_1-auc:0.79493
[53]	validation_0-auc:0.86435	validation_1-auc:0.79496
[54]	validation_0-auc:0.86514	validation_1-auc:0.79487
[55]	validation_0-auc:0.86609	validation_1-auc:0.79479
[56]	validation_0-auc:0.86714	validation_1-auc:0.79464
[57]	validation_0-auc:0.86826	validation_1-auc:0.79458
[58]	validation_0-auc:0.86907	validation_1-auc:0.79451
[59]	validation_0-auc:0.86961	validation_1-auc:0.79453
[60]	validation_0-auc:0.87029	validation_1-auc:0.79455
[61]	validation_0-auc:0.87092	validation_1-auc:0.79446
[62]	validation_0-auc:0.87222	validation_1-auc:0.79442
[63]	validation_0-auc:0.87317	validation_1-auc:0.79439
[64]	validation_0-auc:0.87378	validation_1-auc:0.79439
[65]	validation_0-auc:0.87404	validation_1-auc:0.79438
[66]	validation_0-auc:0.87446	validation_1-auc:0.79429
[67]	validation_0-auc:0.87521	validation_1-auc:0.79426
[68]	validation_0-auc:0.87593	validation_1-auc:0.79424
[69]	validation_0-auc:0.87642	validation_1-auc:0.79435
[70]	validation_0-auc:0.87701	validation_1-auc:0.79433
[71]	validation_0-auc:0.87781	validation_1-auc:0.79434
[72]	validation_0-auc:0.87832	validation_1-auc:0.79427
[73]	validation_0-auc:0.87910	validation_1-auc:0.79409
[74]	validation_0-auc:0.88004	validation_1-auc:0.79400
[75]	validation_0-auc:0.88062	validation_1-auc:0.79392
[76]	validation_0-auc:0.88119	validation_1-auc:0.79392
[77]	validation_0-auc:0.88170	validation_1-auc:0.79384
[78]	validation_0-auc:0.88266	validation_1-auc:0.79379
[79]	validation_0-auc:0.88305	validation_1-auc:0.79381
[80]	validation_0-auc:0.88343	validation_1-auc:0.79374
[81]	validation_0-auc:0.88414	validation_1-auc:0.79375
[82]	validation_0-auc:0.88462	validation_1-auc:0.79368
[83]	validation_0-auc:0.88523	validation_1-auc:0.79361
[84]	validation_0-auc:0.88573	validation_1-auc:0.79352
[85]	validation_0-auc:0.88664	validation_1-auc:0.79337
[86]	validation_0-auc:0.88728	validation_1-auc:0.79337
[87]	validation_0-auc:0.88826	validation_1-auc:0.79337
[88]	validation_0-auc:0.88898	validation_1-auc:0.79337
[89]	validation_0-auc:0.88963	validation_1-auc:0.79330
[90]	validation_0-auc:0.89029	validation_1-auc:0.79323
[91]	validation_0-auc:0.89085	validation_1-auc:0.79324
[92]	validation_0-auc:0.89189	validation_1-auc:0.79325
[93]	validation_0-auc:0.89242	validation_1-auc:0.79316
[94]	validation_0-auc:0.89298	validation_1-auc:0.79311
[95]	validation_0-auc:0.89363	validation_1-auc:0.79315
[96]	validation_0-auc:0.89394	validation_1-auc:0.79307
[97]	validation_0-auc:0.89440	validation_1-auc:0.79300
[98]	validation_0-auc:0.89470	validation_1-auc:0.79293
[99]	validation_0-auc:0.89529	validation_1-auc:0.79284
[auc] tr:0.895290, va0.7928
-------------------- result --------------------
[[0.         0.89841008 0.79003549]
 [1.         0.89468522 0.79272937]
 [2.         0.89701824 0.78785794]
 [3.         0.89380637 0.79572751]
 [4.         0.89529012 0.79283845]]
[cv] tr:0.8958+-0.0017, va:0.7918+-0.0027
[oof]0.7918

In [66]:
imp.sort_values("imp", ascending=False)[:20]

                                                    col       imp   imp_std
1035                                              set5x  0.025072  0.005341
1034                                              set5a  0.024177  0.003832
1037                                             setB1x  0.016879  0.004803
1028                                               set1  0.011788  0.000835
1030                                              set2a  0.011716  0.002030
1032                                              set3a  0.011445  0.002380
1029                                              set1x  0.006676  0.000476
1033                                              set3x  0.006158  0.000789
1036                                             setB1a  0.002940  0.000686
1031                                             set2nn  0.002577  0.000131
369                 CC_NAME_CONTRACT_STATUS_Signed_MEAN  0.001340  0.000497
301                                CC_AMT_RECIVABLE_VAR  0.001295  0.000336
266                         CC_AMT_DRAWINGS_CURRENT_SUM  0.001256  0.000131
904            PREV_NAME_SELLER_INDUSTRY_Furniture_MEAN  0.001229  0.000143
980                         REFUSED_APP_CREDIT_PERC_MAX  0.001210  0.000097
935   PREV_PRODUCT_COMBINATION_POS_household_without...  0.001195  0.000260
252                                  CC_AMT_BALANCE_VAR  0.001195  0.000304
866      PREV_NAME_GOODS_CATEGORY_Auto_Accessories_MEAN  0.001190  0.000182
873             PREV_NAME_GOODS_CATEGORY_Furniture_MEAN  0.001171  0.000290
1001                       REFUSED_SIMPLE_INTERESTS_MAX  0.001167  0.000060

In [67]:
test_pred = baseline.predict_xgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [68]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineeringOtherSourceXgb2-2.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.033538
1      100005  0.114836
2      100013  0.040002
3      100028  0.043327
4      100038  0.143078

## パラメータチューニング

In [69]:
#sampler = optuna.samplers.TPESampler(seed=123)
#study = optuna.create_study(sampler=sampler, direction='maximize')
#study.optimize(objective, n_trials=50, n_jobs=5)

In [70]:
#trial = study.best_trial
#print("auc(best)={:.4f}".format(trial.value))
#display(trial.params)

In [71]:
#params_best = trial.params
#params_best.update(params_base)
#display(params_best)

In [72]:
#train_oof, imp, metrics = baseline.train_xgb(x_train
#                                    ,y_train
#                                    ,id_train
#                                    ,list_nfold=[0,1,2,3,4]
#                                    ,n_splits=5
#                                    ,params=params_best)

In [73]:
### 推論用データセットの作成
#x_test = app_test.drop(columns=['SK_ID_CURR'])
#id_test = app_test[['SK_ID_CURR']]

### カテゴリ変数をcategory型へ変換
#for col in x_test.columns:
#    if x_test[col].dtype=="O":
#        x_test[col] = x_test[col].astype('category')

### predict
#test_pred = baseline.predict_xgb(x_test
#                       ,id_test
#                       ,list_nfold=[0,1,2,3,4])

### make submission-file
#df_submit = test_pred.rename(columns={"pred":"TARGET"})
#print(df_submit.shape)
#display(df_submit.head())
#df_submit.to_csv("./home-credit-default-risk/submit/submission_XgbHyperParameterTuningXgb2-3.csv", index=None)

In [74]:
#del app_train_ord
#del app_test_ord
#gc.collect()