In [1]:
import cupy as cp
import numpy as np
import pandas as pd
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import scipy.stats as st
import pickle
import optuna
import re
import gc

from lightgbm import LGBMClassifier

from sklearn import metrics
from sklearn.tree import plot_tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.impute import SimpleImputer
from sklearn_pandas import DataFrameMapper
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import log_loss
from sklearn.metrics import mean_squared_log_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.metrics import roc_auc_score
from sklearn.datasets import make_moons
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_selection import mutual_info_classif
from sklearn.experimental import enable_iterative_imputer

from keras.layers import Dense, Dropout
from keras.models import Sequential

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

from tqdm import tqdm

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

import xgboost as xgb
from sklearn.metrics import log_loss
from xgboost.sklearn import XGBClassifier

from Modules import Modules

from Baseline import Baseline

%matplotlib inline

print("OK\n")

OK

In [2]:
def geometric_mean(x):
    return np.exp(np.log(x[x>0]).mean())

In [3]:
app_train_origin =  pd.read_csv('./home-credit-default-risk/application_train.csv')
app_test_origin =  pd.read_csv('./home-credit-default-risk/application_test.csv')
app_train_origin.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
app_train = app_train_origin.copy()
app_test = app_test_origin.copy()
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
display(app_train['DAYS_EMPLOYED'].value_counts())
print("正の値の割合: {:.4f}".format((app_train['DAYS_EMPLOYED']>0).mean()))
print("正の値の個数: {}".format((app_train['DAYS_EMPLOYED']>0).sum()))

 365243    55374
-200         156
-224         152
-230         151
-199         151
           ...
-13961         1
-11827         1
-10176         1
-9459          1
-8694          1
Name: DAYS_EMPLOYED, Length: 12574, dtype: int64

正の値の割合: 0.1801
正の値の個数: 55374

### one-hot-encoding

In [6]:
app_train = app_train_origin.copy()
app_test = app_test_origin.copy()
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
### 
for col in app_train.columns:
    app_train[col] = app_train[col].replace('\s', '_', regex=True)
    app_train[col] = app_train[col].replace(':', '_', regex=True)
    app_train[col] = app_train[col].replace('/', '_', regex=True)
    
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash_loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash_loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving_loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash_loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash_loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
### 
for col in app_test.columns:
    app_test[col] = app_test[col].replace('\s', '_', regex=True)
    app_test[col] = app_test[col].replace(':', '_', regex=True)
    app_test[col] = app_test[col].replace('/', '_', regex=True)
    
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash_loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash_loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving_loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash_loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash_loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# one-hotencoding
encoding_columns = []

for col in app_test.columns:
    if app_test[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

#encoding_columns

NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
OCCUPATION_TYPE
WEEKDAY_APPR_PROCESS_START
ORGANIZATION_TYPE
FONDKAPREMONT_MODE
HOUSETYPE_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE

In [10]:
### CODE_GENDER
app_train['CODE_GENDER'].replace(['F', 'M', 'XNA'], [0, 1, 2], inplace=True)
app_test['CODE_GENDER'].replace(['F', 'M', 'XNA'], [0, 1, 2], inplace=True)
encoding_columns.remove('CODE_GENDER')
### NAME_INCOME_TYPE
app_train['NAME_INCOME_TYPE'].replace(['Working','Commercial associate','Pensioner','State servant','Unemployed','Student','Businessman','Maternity leave'], [0, 1, 2, 3, 4, 5, 6, 7], inplace=True)
app_test['NAME_INCOME_TYPE'].replace(['Working','Commercial associate','Pensioner','State servant','Unemployed','Student','Businessman','Maternity leave'], [0, 1, 2, 3, 4, 5, 6, 7], inplace=True)
encoding_columns.remove('NAME_INCOME_TYPE')
### NAME_FAMILY_STATUS
app_train['NAME_FAMILY_STATUS'].replace(['Married','Single / not married','Civil marriage','Separated','Widow','Unknown'], [0, 1, 2, 3, 4, 5], inplace=True)
app_test['NAME_FAMILY_STATUS'].replace(['Married','Single / not married','Civil marriage','Separated','Widow','Unknown'], [0, 1, 2, 3, 4, 5], inplace=True)
encoding_columns.remove('NAME_FAMILY_STATUS')

In [11]:
for col in encoding_columns:
    app_train = pd.get_dummies(app_train, columns=[col], dummy_na=True)
    app_test = pd.get_dummies(app_test, columns=[col], dummy_na=True)
    
app_train.head()

,SK_ID_CURR,TARGET,CODE_GENDER,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,NAME_FAMILY_STATUS,...,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone,_brick",WALLSMATERIAL_MODE_Wooden,WALLSMATERIAL_MODE_nan,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,EMERGENCYSTATE_MODE_nan
0,100002,1,1,0,202500.0,406597.5,24700.5,351000.0,0,Single___not_married,...,0,0,0,0,1,0,0,1,0,0
1,100003,0,0,0,270000.0,1293502.5,35698.5,1129500.0,State_servant,0,...,0,0,0,0,0,0,0,1,0,0
2,100004,0,1,0,67500.0,135000.0,6750.0,135000.0,0,Single___not_married,...,0,0,0,0,0,0,1,0,0,1
3,100006,0,0,0,135000.0,312682.5,29686.5,297000.0,0,Civil_marriage,...,0,0,0,0,0,0,1,0,0,1
4,100007,0,1,0,121500.0,513000.0,21865.5,513000.0,0,Single___not_married,...,0,0,0,0,0,0,1,0,0,1

In [12]:
len(app_train.columns)

245

In [13]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'CODE_GENDER', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'NAME_INCOME_TYPE', 'NAME_FAMILY_STATUS',
       ...
       'WALLSMATERIAL_MODE_Mixed', 'WALLSMATERIAL_MODE_Monolithic',
       'WALLSMATERIAL_MODE_Others', 'WALLSMATERIAL_MODE_Panel',
       'WALLSMATERIAL_MODE_Stone,_brick', 'WALLSMATERIAL_MODE_Wooden',
       'WALLSMATERIAL_MODE_nan', 'EMERGENCYSTATE_MODE_No',
       'EMERGENCYSTATE_MODE_Yes', 'EMERGENCYSTATE_MODE_nan'],
      dtype='object', length=245)

In [14]:
app_test.head()

,SK_ID_CURR,CODE_GENDER,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,NAME_FAMILY_STATUS,REGION_POPULATION_RELATIVE,...,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone,_brick",WALLSMATERIAL_MODE_Wooden,WALLSMATERIAL_MODE_nan,EMERGENCYSTATE_MODE_No,EMERGENCYSTATE_MODE_Yes,EMERGENCYSTATE_MODE_nan
0,100001,0,0,135000.0,568800.0,20560.5,450000.0,0,0,0.018850,...,0,0,0,0,1,0,0,1,0,0
1,100005,1,0,99000.0,222768.0,17370.0,180000.0,0,0,0.035792,...,0,0,0,0,0,0,1,0,0,1
2,100013,1,0,202500.0,663264.0,69777.0,630000.0,0,0,0.019101,...,0,0,0,0,0,0,1,0,0,1
3,100028,0,2,315000.0,1575000.0,49018.5,1575000.0,0,0,0.026392,...,0,0,0,1,0,0,0,1,0,0
4,100038,1,1,180000.0,625500.0,32067.0,625500.0,0,0,0.010032,...,0,0,0,0,0,0,1,0,0,1

In [15]:
len(app_test.columns)

244

In [16]:
app_test.columns

Index(['SK_ID_CURR', 'CODE_GENDER', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_INCOME_TYPE',
       'NAME_FAMILY_STATUS', 'REGION_POPULATION_RELATIVE',
       ...
       'WALLSMATERIAL_MODE_Mixed', 'WALLSMATERIAL_MODE_Monolithic',
       'WALLSMATERIAL_MODE_Others', 'WALLSMATERIAL_MODE_Panel',
       'WALLSMATERIAL_MODE_Stone,_brick', 'WALLSMATERIAL_MODE_Wooden',
       'WALLSMATERIAL_MODE_nan', 'EMERGENCYSTATE_MODE_No',
       'EMERGENCYSTATE_MODE_Yes', 'EMERGENCYSTATE_MODE_nan'],
      dtype='object', length=244)

In [17]:
app_train = app_train.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '_', x))
app_test = app_test.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '_', x))

In [18]:
app_train.to_csv(
    path_or_buf="./home-credit-default-risk/submit/aaaaaaaaaaaaaaaaaaaa.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

### 特徴量作成①

In [19]:
app_train['DAYS_EMPLOYED'] = app_train['DAYS_EMPLOYED'].replace(365243, np.nan)

In [20]:
docs = [_f for _f in app_train.columns if 'FLAG_DOC' in _f]
live = [_f for _f in app_train.columns if ('FLAG_' in _f) & ('FLAG_DOC' not in _f) & ('_FLAG_' not in _f)]
app_train['ORGANIZATION_TYPE'] = app_train_origin['ORGANIZATION_TYPE'].copy()

# nullに置き換え
app_train['DAYS_EMPLOYED'] = app_train['DAYS_EMPLOYED'].replace(365243, np.nan)

inc_by_org = app_train[['AMT_INCOME_TOTAL', 'ORGANIZATION_TYPE']].groupby('ORGANIZATION_TYPE').median()['AMT_INCOME_TOTAL']

# 特徴量1: 総所得金額を世帯人数で除した値
app_train['INCOME_div_PERSON'] = app_train['AMT_INCOME_TOTAL'] / app_train['CNT_FAM_MEMBERS']

# 特徴量2: 総所得額を就労期間で除した値
app_train['INCOME_div_EMPLOYED'] = app_train['AMT_INCOME_TOTAL'] / app_train['DAYS_EMPLOYED']

#
app_train['NEW_CREDIT_TO_ANNUITY_RATIO'] = app_train['AMT_CREDIT'] / app_train['AMT_ANNUITY']

app_train['NEW_CREDIT_TO_GOODS_RATIO'] = app_train['AMT_CREDIT'] / app_train['AMT_GOODS_PRICE']

app_train['NEW_DOC_IND_KURT'] = app_train[docs].kurtosis(axis=1)

app_train['NEW_LIVE_IND_SUM'] = app_train[live].sum(axis=1)

app_train['NEW_INC_PER_CHLD'] = app_train['AMT_INCOME_TOTAL'] / (1 + app_train['CNT_CHILDREN'])

app_train['NEW_INC_BY_ORG'] = app_train['ORGANIZATION_TYPE'].map(inc_by_org)

app_train['NEW_EMPLOY_TO_BIRTH_RATIO'] = app_train['DAYS_EMPLOYED'] / app_train['DAYS_BIRTH']

app_train['NEW_EMPLOY_TO_BIRTH-18_RATIO'] = app_train['DAYS_EMPLOYED'] / (app_train['DAYS_BIRTH'] + 18*365)

app_train['NEW_BIRTH_TO_EMPLOY_RATIO'] = app_train['DAYS_BIRTH'] / (1 + app_train['DAYS_EMPLOYED'])

app_train['NEW_INCOME_TO_ANNUITY_RATIO'] = app_train['AMT_INCOME_TOTAL'] / (1 + app_train['AMT_ANNUITY'])

app_train['NEW_ANNUITY_TO_INCOME_RATIO'] = app_train['AMT_ANNUITY'] / (1 + app_train['AMT_INCOME_TOTAL'])


# 特徴量3: 外部スコアの平均
app_train['NEW_EXT_SOURCES_MEDIAN'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].median(axis=1, skipna=True)

app_train['EXT_SOURCE_mean'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis=1)
    
app_train['EXT_SOURCE_max'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].max(axis=1)

app_train['EXT_SOURCE_min'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].min(axis=1)

app_train['EXT_SOURCE_std'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].std(axis=1)

app_train['EXT_SOURCE_count'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].notnull().sum(axis=1)

app_train['NEW_EXT_SOURCES_PROD'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].prod(axis=1, skipna=True, min_count=1)

app_train['NEW_EXT_SOURCES_MAD'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mad(axis=1, skipna=True)

app_train['NEW_EXT_SOURCES_GEO'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].apply(geometric_mean, axis=1)

# 特徴量4: 就労期間を年齢で除した値
app_train['DAYS_EMPLOYED_div_BERTH'] = app_train['DAYS_EMPLOYED'] / app_train['DAYS_BIRTH']

# 特徴量5: 年金支払金額を所得金額で除した値
app_train['ANNUITY_div_INCOME'] = app_train['AMT_ANNUITY'] / app_train['AMT_INCOME_TOTAL']

# 特徴量6: 年金支払額を借入金で除した値
app_train['ANNUITY_div_CREDIT'] = app_train['AMT_ANNUITY'] / app_train['AMT_CREDIT']

# 
app_train['credit_goods_price_ratio'] = app_train['AMT_CREDIT'] / app_train['AMT_GOODS_PRICE']
 
app_train['credit_downpayment'] = app_train['AMT_GOODS_PRICE'] - app_train['AMT_CREDIT']

app_train['USER_AGE'] = abs(app_train['DAYS_BIRTH'])/364.25

app_train['NEW_CAR_TO_BIRTH_RATIO'] = app_train['OWN_CAR_AGE'] / app_train['DAYS_BIRTH']

app_train['NEW_CAR_TO_EMPLOY_RATIO'] = app_train['OWN_CAR_AGE'] / app_train['DAYS_EMPLOYED']

app_train['NEW_PHONE_TO_BIRTH_RATIO'] = app_train['DAYS_LAST_PHONE_CHANGE'] / app_train['DAYS_BIRTH']

app_train['NEW_PHONE_TO_EMPLOYED_RATIO'] = app_train['DAYS_LAST_PHONE_CHANGE'] / app_train['DAYS_EMPLOYED']

app_train['NEW_CREDIT_TO_INCOME_RATIO'] = app_train['AMT_CREDIT'] / app_train['AMT_INCOME_TOTAL']

app_train['NEW_INCOME_CREDIT_PERC'] = app_train['AMT_INCOME_TOTAL'] / app_train['AMT_CREDIT']

app_train['NEW_INCOME_PER_PERSON'] = app_train['AMT_INCOME_TOTAL'] / app_train['CNT_FAM_MEMBERS']


app_train.drop('ORGANIZATION_TYPE', axis=1, inplace=True)

len(app_train.columns)

280

In [21]:
x_train = app_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = app_train['TARGET']
id_train = app_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=='O':
        x_train[col] = x_train[col].astype('category')

In [22]:
baseline = Baseline('SK_ID_CURR')

params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 278) (61503, 278)
[100]	training's auc: 0.787067	valid_1's auc: 0.762349
[200]	training's auc: 0.815194	valid_1's auc: 0.766627
[300]	training's auc: 0.836018	valid_1's auc: 0.76707
[400]	training's auc: 0.851931	valid_1's auc: 0.767088
[auc] tr:0.848843, va0.7673
-------------------- 1 --------------------
(246009, 278) (61502, 278)
[100]	training's auc: 0.78725	valid_1's auc: 0.762702
[200]	training's auc: 0.8156	valid_1's auc: 0.767437
[300]	training's auc: 0.835486	valid_1's auc: 0.767843
[400]	training's auc: 0.853153	valid_1's auc: 0.767963
[auc] tr:0.836822, va0.7680
-------------------- 2 --------------------
(246009, 278) (61502, 278)
[100]	training's auc: 0.786899	valid_1's auc: 0.765874
[200]	training's auc: 0.81497	valid_1's auc: 0.769732
[300]	training's auc: 0.835985	valid_1's auc: 0.770186
[auc] tr:0.830244, va0.7703
-------------------- 3 --------------------
(246009, 278) (61502, 278)
[100]	training's auc: 0.787701	valid_1's auc: 0.76147
[200]	training's auc: 0.815998	valid_1's auc: 0.766329
[300]	training's auc: 0.837046	valid_1's auc: 0.766788
[auc] tr:0.831856, va0.7668
-------------------- 4 --------------------
(246009, 278) (61502, 278)
[100]	training's auc: 0.788534	valid_1's auc: 0.757088
[200]	training's auc: 0.816419	valid_1's auc: 0.761316
[300]	training's auc: 0.836653	valid_1's auc: 0.761696
[400]	training's auc: 0.853838	valid_1's auc: 0.762356
[500]	training's auc: 0.868259	valid_1's auc: 0.762109
[auc] tr:0.859596, va0.7625
-------------------- result --------------------
[[0.         0.8488429  0.76731857]
 [1.         0.83682196 0.76797531]
 [2.         0.83024377 0.77029204]
 [3.         0.83185613 0.76682045]
 [4.         0.85959603 0.76248188]]
[cv] tr:0.8415+-0.0112, va:0.7670+-0.0025
[oof]0.7669

In [23]:
imp.sort_values("imp", ascending=False)[:10]

                             col           imp      imp_std
46               EXT_SOURCE_mean  96658.122916  3529.294012
146          NEW_EXT_SOURCES_GEO  17440.698490  3887.441580
140  NEW_CREDIT_TO_ANNUITY_RATIO  11480.026701  1553.493322
43                  EXT_SOURCE_3  10362.046296   723.746308
10            ANNUITY_div_CREDIT   9303.612171  1207.960760
141    NEW_CREDIT_TO_GOODS_RATIO   7756.933464   393.585085
41                  EXT_SOURCE_1   5908.944105   538.331640
25                 DAYS_EMPLOYED   4796.625726   444.827882
24                    DAYS_BIRTH   4730.491962   325.466308
27               DAYS_ID_PUBLISH   4684.055909   736.992121

In [24]:
docs = [_f for _f in app_test.columns if 'FLAG_DOC' in _f]
live = [_f for _f in app_test.columns if ('FLAG_' in _f) & ('FLAG_DOC' not in _f) & ('_FLAG_' not in _f)]
app_test['ORGANIZATION_TYPE'] = app_test_origin['ORGANIZATION_TYPE'].copy()

# nullに置き換え
app_test['DAYS_EMPLOYED'] = app_test['DAYS_EMPLOYED'].replace(365243, np.nan)

inc_by_org = app_test[['AMT_INCOME_TOTAL', 'ORGANIZATION_TYPE']].groupby('ORGANIZATION_TYPE').median()['AMT_INCOME_TOTAL']

# 特徴量1: 総所得金額を世帯人数で除した値
app_test['INCOME_div_PERSON'] = app_test['AMT_INCOME_TOTAL'] / app_test['CNT_FAM_MEMBERS']

# 特徴量2: 総所得額を就労期間で除した値
app_test['INCOME_div_EMPLOYED'] = app_test['AMT_INCOME_TOTAL'] / app_test['DAYS_EMPLOYED']

#
app_test['NEW_CREDIT_TO_ANNUITY_RATIO'] = app_test['AMT_CREDIT'] / app_test['AMT_ANNUITY']

app_test['NEW_CREDIT_TO_GOODS_RATIO'] = app_test['AMT_CREDIT'] / app_test['AMT_GOODS_PRICE']

app_test['NEW_DOC_IND_KURT'] = app_test[docs].kurtosis(axis=1)

app_test['NEW_LIVE_IND_SUM'] = app_test[live].sum(axis=1)

app_test['NEW_INC_PER_CHLD'] = app_test['AMT_INCOME_TOTAL'] / (1 + app_test['CNT_CHILDREN'])

app_test['NEW_INC_BY_ORG'] = app_test['ORGANIZATION_TYPE'].map(inc_by_org)

app_test['NEW_EMPLOY_TO_BIRTH_RATIO'] = app_test['DAYS_EMPLOYED'] / app_test['DAYS_BIRTH']

app_test['NEW_EMPLOY_TO_BIRTH-18_RATIO'] = app_test['DAYS_EMPLOYED'] / (app_test['DAYS_BIRTH'] + 18*365)

app_test['NEW_BIRTH_TO_EMPLOY_RATIO'] = app_test['DAYS_BIRTH'] / (1 + app_test['DAYS_EMPLOYED'])

app_test['NEW_INCOME_TO_ANNUITY_RATIO'] = app_test['AMT_INCOME_TOTAL'] / (1 + app_test['AMT_ANNUITY'])

app_test['NEW_ANNUITY_TO_INCOME_RATIO'] = app_test['AMT_ANNUITY'] / (1 + app_test['AMT_INCOME_TOTAL'])


# 特徴量3: 外部スコアの平均
app_test['NEW_EXT_SOURCES_MEDIAN'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].median(axis=1, skipna=True)

app_test['EXT_SOURCE_mean'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis=1)
    
app_test['EXT_SOURCE_max'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].max(axis=1)

app_test['EXT_SOURCE_min'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].min(axis=1)

app_test['EXT_SOURCE_std'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].std(axis=1)

app_test['EXT_SOURCE_count'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].notnull().sum(axis=1)

app_test['NEW_EXT_SOURCES_PROD'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].prod(axis=1, skipna=True, min_count=1)

app_test['NEW_EXT_SOURCES_MAD'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mad(axis=1, skipna=True)

app_test['NEW_EXT_SOURCES_GEO'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].apply(geometric_mean, axis=1)

# 特徴量4: 就労期間を年齢で除した値
app_test['DAYS_EMPLOYED_div_BERTH'] = app_test['DAYS_EMPLOYED'] / app_test['DAYS_BIRTH']

# 特徴量5: 年金支払金額を所得金額で除した値
app_test['ANNUITY_div_INCOME'] = app_test['AMT_ANNUITY'] / app_test['AMT_INCOME_TOTAL']

# 特徴量6: 年金支払額を借入金で除した値
app_test['ANNUITY_div_CREDIT'] = app_test['AMT_ANNUITY'] / app_test['AMT_CREDIT']

# 
app_test['credit_goods_price_ratio'] = app_test['AMT_CREDIT'] / app_test['AMT_GOODS_PRICE']
 
app_test['credit_downpayment'] = app_test['AMT_GOODS_PRICE'] - app_test['AMT_CREDIT']

app_test['USER_AGE'] = abs(app_test['DAYS_BIRTH'])/364.25

app_test['NEW_CAR_TO_BIRTH_RATIO'] = app_test['OWN_CAR_AGE'] / app_test['DAYS_BIRTH']

app_test['NEW_CAR_TO_EMPLOY_RATIO'] = app_test['OWN_CAR_AGE'] / app_test['DAYS_EMPLOYED']

app_test['NEW_PHONE_TO_BIRTH_RATIO'] = app_test['DAYS_LAST_PHONE_CHANGE'] / app_test['DAYS_BIRTH']

app_test['NEW_PHONE_TO_EMPLOYED_RATIO'] = app_test['DAYS_LAST_PHONE_CHANGE'] / app_test['DAYS_EMPLOYED']

app_test['NEW_CREDIT_TO_INCOME_RATIO'] = app_test['AMT_CREDIT'] / app_test['AMT_INCOME_TOTAL']

app_test['NEW_INCOME_CREDIT_PERC'] = app_test['AMT_INCOME_TOTAL'] / app_test['AMT_CREDIT']

app_test['NEW_INCOME_PER_PERSON'] = app_test['AMT_INCOME_TOTAL'] / app_test['CNT_FAM_MEMBERS']


app_test.drop('ORGANIZATION_TYPE', axis=1, inplace=True)

len(app_test.columns)

279

In [25]:
# データセット
x_test = app_test.drop(columns=['SK_ID_CURR'])
id_test = app_test[['SK_ID_CURR']]

for col in x_test.columns:
    if x_test[col].dtype=='O':
        x_test[col] = x_test[col].astype('category')

In [26]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [27]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering1.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.029873
1      100005  0.086445
2      100013  0.015085
3      100028  0.034761
4      100038  0.163141

In [28]:
#app_train_origin = pd.read_csv('./home-credit-default-risk/exports/app_train.csv')
#app_test_origin =  pd.read_csv('./home-credit-default-risk/exports/app_test.csv')
bureau_origin = pd.read_csv('./home-credit-default-risk/bureau.csv')
bureau_balance_origin = pd.read_csv('./home-credit-default-risk/bureau_balance.csv')
pos_cash_balance_origin = pd.read_csv('./home-credit-default-risk/POS_CASH_balance.csv')
credit_card_balance_origin = pd.read_csv('./home-credit-default-risk/credit_card_balance.csv')
previous_application_origin = pd.read_csv('./home-credit-default-risk/previous_application.csv')
installments_payments_origin = pd.read_csv('./home-credit-default-risk/installments_payments.csv')
# custom data
#app_train_loan_from_hc_only_cash_origin = pd.read_csv('./home-credit-default-risk/datasets/app_train_loan_from_hc_only_cash.csv')
#app_test_loan_from_hc_only_cash_origin = pd.read_csv('./home-credit-default-risk/datasets/app_test_loan_from_hc_only_cash.csv')
#app_train_1000_mean_origin = pd.read_csv('./home-credit-default-risk/exports/train_hc_only_cash_installment_payment_ratio_1000_mean_mean.csv')
#app_test_1000_mean_origin = pd.read_csv('./home-credit-default-risk/exports/test_hc_only_cash_installment_payment_ratio_1000_mean_mean.csv')
#app_train_max_installment_ratio_origin = pd.read_csv('./home-credit-default-risk/exports/train_hc_annuity_to_max_installment_ratio.csv')
#app_test_max_installment_ratio_origin = pd.read_csv('./home-credit-default-risk/exports/test_hc_annuity_to_max_installment_ratio.csv')

In [29]:
#app_train = app_train_origin.copy()
#app_test = app_test_origin.copy()
bureau = bureau_origin.copy()
bureau_balance = bureau_balance_origin.copy()
pos_cash_balance = pos_cash_balance_origin.copy()
credit_card_balance = credit_card_balance_origin.copy()
previous_application = previous_application_origin.copy()
installments_payments = installments_payments_origin.copy()
#app_train_1000_mean = app_train_1000_mean_origin.copy()
#app_test_1000_mean = app_test_1000_mean_origin.copy()
#app_train_max_installment_ratio = app_train_max_installment_ratio_origin.copy()
#app_test_max_installment_ratio = app_test_max_installment_ratio_origin.copy()
pos_cash_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [30]:
baseline = Baseline('SK_ID_CURR')

pos = pos_cash_balance.copy()
pos = baseline.reduce_mem_usage(pos)
print(pos.shape)
pos.head()

Memory usage of dataframe is 610.43 MB
Memory usage of optimization is 290039510.00 MB
Decreased by -47513511.5%
(10001358, 8)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [31]:
pos_ohe = pd.get_dummies(pos, columns=['NAME_CONTRACT_STATUS'], dummy_na=True)
col_ohe = sorted(list(set(pos_ohe.columns) - set(pos.columns)))
print(len(col_ohe))
col_ohe

10

['NAME_CONTRACT_STATUS_Active',
 'NAME_CONTRACT_STATUS_Amortized debt',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Canceled',
 'NAME_CONTRACT_STATUS_Completed',
 'NAME_CONTRACT_STATUS_Demand',
 'NAME_CONTRACT_STATUS_Returned to the store',
 'NAME_CONTRACT_STATUS_Signed',
 'NAME_CONTRACT_STATUS_XNA',
 'NAME_CONTRACT_STATUS_nan']

In [32]:
pos_ohe_agg = pos_ohe.groupby('SK_ID_CURR').agg({
    "MONTHS_BALANCE": ["mean", "std", "min", "max"]
    ,"CNT_INSTALMENT": ["mean", "std", "min", "max"]
    ,"CNT_INSTALMENT_FUTURE": ["mean", "std", "min", "max"]
    ,"SK_DPD": ["mean", "std", "min", "max"]
    ,"SK_DPD_DEF": ["mean", "std", "min", "max"]
    # カテゴリ変数をone-hot-encodingした値の集約
    ,"NAME_CONTRACT_STATUS_Active": ["mean"]
    ,"NAME_CONTRACT_STATUS_Amortized debt": ["mean"]
    ,"NAME_CONTRACT_STATUS_Approved": ["mean"]
    ,"NAME_CONTRACT_STATUS_Canceled": ["mean"]
    ,"NAME_CONTRACT_STATUS_Completed": ["mean"]
    ,"NAME_CONTRACT_STATUS_Demand": ["mean"]
    ,"NAME_CONTRACT_STATUS_Returned to the store": ["mean"]
    ,"NAME_CONTRACT_STATUS_Signed": ["mean"]
    ,"NAME_CONTRACT_STATUS_XNA": ["mean"]
    ,"NAME_CONTRACT_STATUS_nan": ["mean"]
    # IDのユニーク数をカウント
    ,"SK_ID_PREV":["count", "nunique"]
})

# カラム名の付与
pos_ohe_agg.columns = [i + "_" + j for i,j in pos_ohe_agg.columns]
pos_ohe_agg = pos_ohe_agg.reset_index(drop=False)

print(pos_ohe_agg.shape)
pos_ohe_agg.head()

(337252, 33)

,SK_ID_CURR,MONTHS_BALANCE_mean,MONTHS_BALANCE_std,MONTHS_BALANCE_min,MONTHS_BALANCE_max,CNT_INSTALMENT_mean,CNT_INSTALMENT_std,CNT_INSTALMENT_min,CNT_INSTALMENT_max,CNT_INSTALMENT_FUTURE_mean,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100001,-72.555556,20.863312,-96,-53,4.000000,0.000000,4.0,4.0,1.444444,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9,2
1,100002,-10.000000,5.627314,-19,-1,24.000000,0.000000,24.0,24.0,15.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,19,1
2,100003,-43.785714,24.640162,-77,-18,10.107142,2.806597,6.0,12.0,5.785714,...,0.0,0.0,0.071429,0.0,0.0,0.000000,0.0,0.0,28,3
3,100004,-25.500000,1.290994,-27,-24,3.750000,0.500000,3.0,4.0,2.250000,...,0.0,0.0,0.250000,0.0,0.0,0.000000,0.0,0.0,4,1
4,100005,-20.000000,3.316625,-25,-15,11.700000,0.948683,9.0,12.0,7.200000,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11,1

In [33]:
df_train = pd.merge(app_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307511, 312)

,SK_ID_CURR,TARGET,CODE_GENDER,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,NAME_FAMILY_STATUS,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,1,0,202500.0,406597.5,24700.5,351000.0,0,Single___not_married,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,100003,0,0,0,270000.0,1293502.5,35698.5,1129500.0,State_servant,0,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,100004,0,1,0,67500.0,135000.0,6750.0,135000.0,0,Single___not_married,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,100006,0,0,0,135000.0,312682.5,29686.5,297000.0,0,Civil_marriage,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,100007,0,1,0,121500.0,513000.0,21865.5,513000.0,0,Single___not_married,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [34]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [35]:
baseline = Baseline('SK_ID_CURR')

params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 310) (61503, 310)
[100]	training's auc: 0.793993	valid_1's auc: 0.766502
[200]	training's auc: 0.822712	valid_1's auc: 0.771881
[300]	training's auc: 0.844561	valid_1's auc: 0.772588
[400]	training's auc: 0.860939	valid_1's auc: 0.772156
[auc] tr:0.846588, va0.7726
-------------------- 1 --------------------
(246009, 310) (61502, 310)
[100]	training's auc: 0.793849	valid_1's auc: 0.768895
[200]	training's auc: 0.822908	valid_1's auc: 0.775118
[300]	training's auc: 0.844273	valid_1's auc: 0.776987
[400]	training's auc: 0.862243	valid_1's auc: 0.776863
[auc] tr:0.851432, va0.7771
-------------------- 2 --------------------
(246009, 310) (61502, 310)
[100]	training's auc: 0.793787	valid_1's auc: 0.77073
[200]	training's auc: 0.823778	valid_1's auc: 0.775413
[300]	training's auc: 0.844471	valid_1's auc: 0.775911
[auc] tr:0.840307, va0.7761
-------------------- 3 --------------------
(246009, 310) (61502, 310)
[100]	training's auc: 0.794396	valid_1's auc: 0.766932
[200]	training's auc: 0.823309	valid_1's auc: 0.771732
[300]	training's auc: 0.844321	valid_1's auc: 0.772267
[400]	training's auc: 0.861237	valid_1's auc: 0.77276
[500]	training's auc: 0.87599	valid_1's auc: 0.772695
[auc] tr:0.862785, va0.7728
-------------------- 4 --------------------
(246009, 310) (61502, 310)
[100]	training's auc: 0.794833	valid_1's auc: 0.761508
[200]	training's auc: 0.824339	valid_1's auc: 0.76672
[300]	training's auc: 0.84576	valid_1's auc: 0.766943
[400]	training's auc: 0.863575	valid_1's auc: 0.767036
[auc] tr:0.852113, va0.7673
-------------------- result --------------------
[[0.         0.84658816 0.77264579]
 [1.         0.85143162 0.77711908]
 [2.         0.8403068  0.77609119]
 [3.         0.86278501 0.77279865]
 [4.         0.85211292 0.76725438]]
[cv] tr:0.8506+-0.0074, va:0.7732+-0.0035
[oof]0.7732

In [36]:
imp.sort_values("imp", ascending=False)[:10]

                             col           imp      imp_std
54               EXT_SOURCE_mean  95761.950876  4091.301103
168          NEW_EXT_SOURCES_GEO  17344.221165  4575.189930
51                  EXT_SOURCE_3   9976.013143   682.785786
162  NEW_CREDIT_TO_ANNUITY_RATIO   9096.449519   774.114856
10            ANNUITY_div_CREDIT   7409.387167  1281.902731
163    NEW_CREDIT_TO_GOODS_RATIO   7091.580614   111.380473
21    CNT_INSTALMENT_FUTURE_mean   6020.092216   303.239153
49                  EXT_SOURCE_1   5752.639758   450.451806
121           MONTHS_BALANCE_std   5045.888588   247.884521
33                 DAYS_EMPLOYED   4843.589862   384.145360

In [37]:
# テーブル結合
df_test = pd.merge(app_test, pos_ohe_agg, on='SK_ID_CURR', how="left")

# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [38]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [39]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering2.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.032338
1      100005  0.101472
2      100013  0.020908
3      100028  0.035027
4      100038  0.190258

In [40]:
params_base = {
            'boosting_type': 'gbdt'
            ,'objective': 'binary'
            ,'metric': 'auc'
            ,'verbosity': -1
            ,'learning_rate': 0.05
            ,'n_estimators': 100000
            ,'random_state':123
            ,'bagging_freq': 1   
}


def objective(trial):
    # 探索するパラメータ
    param_tuning = {
            "num_leaves": trial.suggest_int("num_leaves", 8, 256)
            ,"min_child_samples": trial.suggest_int("min_child_samples", 5, 200)
            ,"min_sum_hessian_in_leaf": trial.suggest_float("min_sum_hessian_in_leaf", 1e-5, 1e-2, log=True)
            ,"feature_fraction": trial.suggest_float("feature_fraction", 0.5, 1.0)
            ,"bagging_fraction": trial.suggest_float("bagging_fraction", 0.5, 1.0)
            ,"lambda_l1": trial.suggest_float("lambda_l1", 1e-2, 1e+2, log=True)
            ,"lambda_l2": trial.suggest_float("lambda_l2", 1e-2, 1e+2, log=True)
    }
    param_tuning.update(params_base)

    # モデル学習・評価:
    list_metrics = []
    cv = list(StratifiedKFold(n_splits=5, shuffle=True, random_state=123).split(x_train, y_train))
    list_fold = [0]
    for nfold in list_fold:
        idx_tr, idx_va = cv[nfold][0], cv[nfold][1]
        x_tr, y_tr = x_train.loc[idx_tr, :], y_train[idx_tr]
        x_va, y_va = x_train.loc[idx_va, :], y_train[idx_va]
        model = lgb.LGBMClassifier(**params)
        model.fit(x_tr
                    ,y_tr
                    ,eval_set=[(x_tr, y_tr), (x_va, y_va)]
                    ,early_stopping_rounds=100
                    ,verbose=0
        )
        y_va_pred = model.predict_proba(x_va)[:,1]
        metric_va = roc_auc_score(y_va, y_va_pred)
        list_metrics.append(metric_va)

    # 評価指数の算出
    metrics = np.mean(list_metrics)

    return metrics

In [41]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [42]:
#baseline = Baseline('SK_ID_CURR')

#sampler = optuna.samplers.TPESampler(seed=123)
#study = optuna.create_study(sampler=sampler, direction='maximize')
#study.optimize(objective, n_trials=50, n_jobs=5)

In [43]:
#trial = study.best_trial
#print("auc(best)={:.4f}".format(trial.value))
#display(trial.params)

In [44]:
#params_best = trial.params
#params_best.update(params_base)
#display(params_best)

In [45]:
#train_oof, imp, metrics = baseline.train_lgb(x_train
#                                    ,y_train
#                                    ,id_train
#                                    ,list_nfold=[0,1,2,3,4]
#                                    ,n_splits=5
#                                    ,params=params_best)

In [46]:
# 推論用データセットの作成
#x_test = df_test.drop(columns=['SK_ID_CURR'])
#id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
#for col in x_test.columns:
#    if x_test[col].dtype=="O":
#        x_test[col] = x_test[col].astype('category')

# predict
#test_pred = baseline.predict_lgb(x_test
#                       ,id_test
#                       ,list_nfold=[0,1,2,3,4])

# make submission-file
#df_submit = test_pred.rename(columns={"pred":"TARGET"})
#print(df_submit.shape)
#display(df_submit.head())
#df_submit.to_csv("./home-credit-default-risk/submit/submission_HyperParameterTuning.csv", index=None)

### ### credit card blanceの読み込み

In [47]:
credit = credit_card_balance_origin.copy()
cerdit = baseline.reduce_mem_usage(credit)
print(credit.shape)
credit.head()

Memory usage of dataframe is 673.88 MB
Memory usage of optimization is 334107272.00 MB
Decreased by -49579318.7%
(3840312, 23)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970001,135000,0.0,877.5,0.0,877.5,1700.324951,...,0.000000,0.000000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.554688,45000,2250.0,2250.0,0.0,0.0,2250.000000,...,64875.554688,64875.554688,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.224609,450000,0.0,0.0,0.0,0.0,2250.000000,...,31460.085938,31460.085938,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.109375,225000,2250.0,2250.0,0.0,0.0,11795.759766,...,233048.968750,233048.968750,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.468750,450000,0.0,11547.0,0.0,11547.0,22924.890625,...,453919.468750,453919.468750,0.0,1,0.0,1.0,101.0,Active,0,0

In [48]:
# one-hotencoding(処理対象カラムを取得)
encoding_columns = []

for col in credit.columns:
    if credit[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

#encoding_columns

NAME_CONTRACT_STATUS

In [49]:
# one-hot-encoding
for col in encoding_columns:
    credit_ohe = pd.get_dummies(credit, columns=[col], dummy_na=True)
    col_ohe = sorted(list(set(credit_ohe.columns) - set(credit.columns)))

print(len(col_ohe))
col_ohe

8

['NAME_CONTRACT_STATUS_Active',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Completed',
 'NAME_CONTRACT_STATUS_Demand',
 'NAME_CONTRACT_STATUS_Refused',
 'NAME_CONTRACT_STATUS_Sent proposal',
 'NAME_CONTRACT_STATUS_Signed',
 'NAME_CONTRACT_STATUS_nan']

In [50]:
print(credit.columns)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [51]:
credit_ohe_agg = credit_ohe.groupby('SK_ID_CURR').agg(
    {
        # 数値変数の集約
        'SK_ID_CURR': ['mean', 'std', 'min', 'max']
        ,'MONTHS_BALANCE': ['mean', 'std', 'min', 'max']
        ,'AMT_BALANCE': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_LIMIT_ACTUAL': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_ATM_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_OTHER_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_POS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_INST_MIN_REGULARITY': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT_TOTAL_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_RECEIVABLE_PRINCIPAL': ['mean', 'std', 'min', 'max']
        ,'AMT_RECIVABLE': ['mean', 'std', 'min', 'max']
        ,'AMT_TOTAL_RECEIVABLE': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_ATM_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_OTHER_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_POS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_INSTALMENT_MATURE_CUM': ['mean', 'std', 'min', 'max']
        ,'SK_DPD': ['mean', 'std', 'min', 'max']
        ,'SK_DPD_DEF': ['mean', 'std', 'min', 'max']
        # 
        ,'NAME_CONTRACT_STATUS_Active': ['mean']
        ,'NAME_CONTRACT_STATUS_Approved': ['mean']
        ,'NAME_CONTRACT_STATUS_Completed': ['mean']
        ,'NAME_CONTRACT_STATUS_Demand': ['mean']
        ,'NAME_CONTRACT_STATUS_Refused': ['mean']
        ,'NAME_CONTRACT_STATUS_Sent proposal': ['mean']
        ,'NAME_CONTRACT_STATUS_Signed': ['mean']
        ,'NAME_CONTRACT_STATUS_nan': ['mean']
        # IDのユニーク数をカウント
        ,"SK_ID_PREV":["count", "nunique"]
    }
)

# カラム名の付与
credit_ohe_agg.columns = [i + "_" + j for i,j in credit_ohe_agg.columns]
credit_ohe_agg = credit_ohe_agg.reset_index(drop=False)

print(credit_ohe_agg.shape)
credit_ohe_agg.head()

(103558, 95)

,SK_ID_CURR,SK_ID_CURR_mean,SK_ID_CURR_std,SK_ID_CURR_min,SK_ID_CURR_max,MONTHS_BALANCE_mean,MONTHS_BALANCE_std,MONTHS_BALANCE_min,MONTHS_BALANCE_max,AMT_BALANCE_mean,...,NAME_CONTRACT_STATUS_Active_mean,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Refused_mean,NAME_CONTRACT_STATUS_Sent proposal_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100006,100006.0,0.0,100006,100006,-3.5,1.870829,-6,-1,0.000000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,6,1
1,100011,100011.0,0.0,100011,100011,-38.5,21.505813,-75,-2,54482.109375,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,74,1
2,100013,100013.0,0.0,100013,100013,-48.5,27.856777,-96,-1,18159.919922,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,96,1
3,100021,100021.0,0.0,100021,100021,-10.0,5.049752,-18,-2,0.000000,...,0.411765,0.0,0.588235,0.0,0.0,0.0,0.0,0.0,17,1
4,100023,100023.0,0.0,100023,100023,-7.5,2.449490,-11,-4,0.000000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,8,1

In [52]:
# infをnanへ置換
credit_ohe_agg = credit_ohe_agg.replace([np.inf, -np.inf], np.nan)

In [53]:
df_train = pd.merge(app_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307511, 406)

,SK_ID_CURR,TARGET,CODE_GENDER,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,NAME_FAMILY_STATUS,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
0,100002,1,1,0,202500.0,406597.5,24700.5,351000.0,0,Single___not_married,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,100003,0,0,0,270000.0,1293502.5,35698.5,1129500.0,State_servant,0,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,100004,0,1,0,67500.0,135000.0,6750.0,135000.0,0,Single___not_married,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,100006,0,0,0,135000.0,312682.5,29686.5,297000.0,0,Civil_marriage,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,100007,0,1,0,121500.0,513000.0,21865.5,513000.0,0,Single___not_married,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [54]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [55]:
baseline = Baseline('SK_ID_CURR')

params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 404) (61503, 404)
[100]	training's auc: 0.797425	valid_1's auc: 0.768121
[200]	training's auc: 0.825432	valid_1's auc: 0.774166
[300]	training's auc: 0.847928	valid_1's auc: 0.775268
[400]	training's auc: 0.864854	valid_1's auc: 0.775515
[auc] tr:0.850347, va0.7756
-------------------- 1 --------------------
(246009, 404) (61502, 404)
[100]	training's auc: 0.796726	valid_1's auc: 0.772774
[200]	training's auc: 0.825732	valid_1's auc: 0.7794
[300]	training's auc: 0.846351	valid_1's auc: 0.781419
[400]	training's auc: 0.863408	valid_1's auc: 0.782069
[500]	training's auc: 0.877495	valid_1's auc: 0.78229
[auc] tr:0.876346, va0.7823
-------------------- 2 --------------------
(246009, 404) (61502, 404)
[100]	training's auc: 0.796761	valid_1's auc: 0.772637
[200]	training's auc: 0.825557	valid_1's auc: 0.777022
[300]	training's auc: 0.846418	valid_1's auc: 0.777375
[400]	training's auc: 0.864011	valid_1's auc: 0.777991
[500]	training's auc: 0.878517	valid_1's auc: 0.777864
[auc] tr:0.873791, va0.7781
-------------------- 3 --------------------
(246009, 404) (61502, 404)
[100]	training's auc: 0.797731	valid_1's auc: 0.770662
[200]	training's auc: 0.825751	valid_1's auc: 0.775889
[300]	training's auc: 0.846754	valid_1's auc: 0.776776
[400]	training's auc: 0.863744	valid_1's auc: 0.777151
[auc] tr:0.859016, va0.7772
-------------------- 4 --------------------
(246009, 404) (61502, 404)
[100]	training's auc: 0.797771	valid_1's auc: 0.763956
[200]	training's auc: 0.826437	valid_1's auc: 0.769
[300]	training's auc: 0.847611	valid_1's auc: 0.770155
[400]	training's auc: 0.864119	valid_1's auc: 0.770134
[auc] tr:0.857055, va0.7705
-------------------- result --------------------
[[0.         0.85034676 0.77558946]
 [1.         0.87634572 0.78231858]
 [2.         0.87379146 0.77808634]
 [3.         0.85901569 0.77723121]
 [4.         0.85705542 0.77050188]]
[cv] tr:0.8633+-0.0101, va:0.7767+-0.0038
[oof]0.7767

In [56]:
imp.sort_values("imp", ascending=False)[:20]

                               col           imp      imp_std
122                EXT_SOURCE_mean  95568.930744  3963.711698
248            NEW_EXT_SOURCES_GEO  17109.095091  3985.978572
119                   EXT_SOURCE_3   9908.895128   745.103312
242    NEW_CREDIT_TO_ANNUITY_RATIO   8821.961026  1126.121057
58              ANNUITY_div_CREDIT   7062.710664   931.070372
243      NEW_CREDIT_TO_GOODS_RATIO   6334.755291   305.592979
117                   EXT_SOURCE_1   5771.153906   648.627737
85      CNT_INSTALMENT_FUTURE_mean   5571.460891   386.524051
193           MONTHS_BALANCE_std_y   5081.093994   342.440352
101                  DAYS_EMPLOYED   4779.436839   575.403239
402             credit_downpayment   4452.391303   696.497331
100                     DAYS_BIRTH   4116.718501   425.628088
68   CNT_DRAWINGS_ATM_CURRENT_mean   4049.303719   561.485412
103                DAYS_ID_PUBLISH   3998.161053   596.262066
0                      AMT_ANNUITY   3973.381515   436.864311
87       CNT_INSTALMENT_FUTURE_std   3950.616758   325.880570
246   NEW_EMPLOY_TO_BIRTH-18_RATIO   3935.048584   789.475001
121                 EXT_SOURCE_max   3815.449537   167.381110
124                 EXT_SOURCE_std   3770.563185   284.837970
250         NEW_EXT_SOURCES_MEDIAN   3561.850351   582.037280

In [57]:
# テーブル結合
df_test = pd.merge(app_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')

# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [58]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [59]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering3.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.030817
1      100005  0.094781
2      100013  0.027192
3      100028  0.049567
4      100038  0.182530

### previous applicationの読み込み

In [60]:
previous = previous_application_origin.copy()
previous = baseline.reduce_mem_usage(credit)
print(previous.shape)
previous.head()

Memory usage of dataframe is 318.63 MB
Memory usage of optimization is 334107272.00 MB
Decreased by -104857500.0%
(3840312, 23)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970001,135000,0.0,877.5,0.0,877.5,1700.324951,...,0.000000,0.000000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.554688,45000,2250.0,2250.0,0.0,0.0,2250.000000,...,64875.554688,64875.554688,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.224609,450000,0.0,0.0,0.0,0.0,2250.000000,...,31460.085938,31460.085938,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.109375,225000,2250.0,2250.0,0.0,0.0,11795.759766,...,233048.968750,233048.968750,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.468750,450000,0.0,11547.0,0.0,11547.0,22924.890625,...,453919.468750,453919.468750,0.0,1,0.0,1.0,101.0,Active,0,0

In [61]:
# one-hotencoding(処理対象カラムを取得)
encoding_columns = []

for col in previous.columns:
    if previous[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

#encoding_columns

NAME_CONTRACT_STATUS

In [62]:
# one-hot-encoding
for col in encoding_columns:
    previous_ohe = pd.get_dummies(previous, columns=[col], dummy_na=True)
    col_ohe = sorted(list(set(previous_ohe.columns) - set(previous.columns)))

print(len(col_ohe))
col_ohe

8

['NAME_CONTRACT_STATUS_Active',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Completed',
 'NAME_CONTRACT_STATUS_Demand',
 'NAME_CONTRACT_STATUS_Refused',
 'NAME_CONTRACT_STATUS_Sent proposal',
 'NAME_CONTRACT_STATUS_Signed',
 'NAME_CONTRACT_STATUS_nan']

In [63]:
print(previous.columns)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [64]:
previous_ohe_agg = credit_ohe.groupby('SK_ID_CURR').agg(
    {
        # 数値変数の集約
        'MONTHS_BALANCE': ['mean', 'std', 'min', 'max']
        ,'AMT_BALANCE': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_LIMIT_ACTUAL': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_ATM_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_OTHER_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_POS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_INST_MIN_REGULARITY': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT_TOTAL_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_RECEIVABLE_PRINCIPAL': ['mean', 'std', 'min', 'max']
        ,'AMT_RECIVABLE': ['mean', 'std', 'min', 'max']
        ,'AMT_TOTAL_RECEIVABLE': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_ATM_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_OTHER_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_POS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_INSTALMENT_MATURE_CUM': ['mean', 'std', 'min', 'max']
        ,'SK_DPD': ['mean', 'std', 'min', 'max']
        ,'SK_DPD_DEF': ['mean', 'std', 'min', 'max']
        # 
        ,'NAME_CONTRACT_STATUS_Active': ['mean']
        ,'NAME_CONTRACT_STATUS_Approved': ['mean']
        ,'NAME_CONTRACT_STATUS_Completed': ['mean']
        ,'NAME_CONTRACT_STATUS_Demand': ['mean']
        ,'NAME_CONTRACT_STATUS_Refused': ['mean']
        ,'NAME_CONTRACT_STATUS_Sent proposal': ['mean']
        ,'NAME_CONTRACT_STATUS_Signed': ['mean']
        ,'NAME_CONTRACT_STATUS_nan': ['mean']
        # IDのユニーク数をカウント
        ,"SK_ID_PREV":["count", "nunique"]
    }
)

# カラム名の付与
previous_ohe_agg.columns = [i + "_" + j for i,j in previous_ohe_agg.columns]
previous_ohe_agg = previous_ohe_agg.reset_index(drop=False)

print(previous_ohe_agg.shape)
previous_ohe_agg.head()

(103558, 91)

,SK_ID_CURR,MONTHS_BALANCE_mean,MONTHS_BALANCE_std,MONTHS_BALANCE_min,MONTHS_BALANCE_max,AMT_BALANCE_mean,AMT_BALANCE_std,AMT_BALANCE_min,AMT_BALANCE_max,AMT_CREDIT_LIMIT_ACTUAL_mean,...,NAME_CONTRACT_STATUS_Active_mean,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Refused_mean,NAME_CONTRACT_STATUS_Sent proposal_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100006,-3.5,1.870829,-6,-1,0.000000,0.000000,0.0,0.00000,270000.000000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,6,1
1,100011,-38.5,21.505813,-75,-2,54482.109375,68127.238133,0.0,189000.00000,164189.189189,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,74,1
2,100013,-48.5,27.856777,-96,-1,18159.919922,43237.406465,0.0,161420.21875,131718.750000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,96,1
3,100021,-10.0,5.049752,-18,-2,0.000000,0.000000,0.0,0.00000,675000.000000,...,0.411765,0.0,0.588235,0.0,0.0,0.0,0.0,0.0,17,1
4,100023,-7.5,2.449490,-11,-4,0.000000,0.000000,0.0,0.00000,135000.000000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,8,1

In [65]:
# infをnanへ置換
previous_ohe_agg = previous_ohe_agg.replace([np.inf, -np.inf], np.nan)

In [66]:
df_train = pd.merge(app_train, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307511, 496)

,SK_ID_CURR,TARGET,CODE_GENDER,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,NAME_FAMILY_STATUS,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,1,0,202500.0,406597.5,24700.5,351000.0,0,Single___not_married,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,100003,0,0,0,270000.0,1293502.5,35698.5,1129500.0,State_servant,0,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,100004,0,1,0,67500.0,135000.0,6750.0,135000.0,0,Single___not_married,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,100006,0,0,0,135000.0,312682.5,29686.5,297000.0,0,Civil_marriage,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,100007,0,1,0,121500.0,513000.0,21865.5,513000.0,0,Single___not_married,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [67]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [68]:
baseline = Baseline('SK_ID_CURR')

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 494) (61503, 494)
[100]	training's auc: 0.797425	valid_1's auc: 0.768121
[200]	training's auc: 0.825432	valid_1's auc: 0.774166
[300]	training's auc: 0.847928	valid_1's auc: 0.775268
[400]	training's auc: 0.864854	valid_1's auc: 0.775515
[auc] tr:0.850347, va0.7756
-------------------- 1 --------------------
(246009, 494) (61502, 494)
[100]	training's auc: 0.796726	valid_1's auc: 0.772774
[200]	training's auc: 0.825732	valid_1's auc: 0.7794
[300]	training's auc: 0.846351	valid_1's auc: 0.781419
[400]	training's auc: 0.863408	valid_1's auc: 0.782069
[500]	training's auc: 0.877495	valid_1's auc: 0.78229
[auc] tr:0.876346, va0.7823
-------------------- 2 --------------------
(246009, 494) (61502, 494)
[100]	training's auc: 0.796761	valid_1's auc: 0.772637
[200]	training's auc: 0.825557	valid_1's auc: 0.777022
[300]	training's auc: 0.846418	valid_1's auc: 0.777375
[400]	training's auc: 0.864011	valid_1's auc: 0.777991
[500]	training's auc: 0.878517	valid_1's auc: 0.777864
[auc] tr:0.873791, va0.7781
-------------------- 3 --------------------
(246009, 494) (61502, 494)
[100]	training's auc: 0.797731	valid_1's auc: 0.770662
[200]	training's auc: 0.825751	valid_1's auc: 0.775889
[300]	training's auc: 0.846754	valid_1's auc: 0.776776
[400]	training's auc: 0.863744	valid_1's auc: 0.777151
[auc] tr:0.859016, va0.7772
-------------------- 4 --------------------
(246009, 494) (61502, 494)
[100]	training's auc: 0.797771	valid_1's auc: 0.763956
[200]	training's auc: 0.826437	valid_1's auc: 0.769
[300]	training's auc: 0.847611	valid_1's auc: 0.770155
[400]	training's auc: 0.864119	valid_1's auc: 0.770134
[auc] tr:0.857055, va0.7705
-------------------- result --------------------
[[0.         0.85034676 0.77558946]
 [1.         0.87634572 0.78231858]
 [2.         0.87379146 0.77808634]
 [3.         0.85901569 0.77723121]
 [4.         0.85705542 0.77050188]]
[cv] tr:0.8633+-0.0101, va:0.7767+-0.0038
[oof]0.7767

In [69]:
imp.sort_values("imp", ascending=False)[:20]

                                 col           imp      imp_std
190                  EXT_SOURCE_mean  95568.930744  3963.711698
328              NEW_EXT_SOURCES_GEO  17109.095091  3985.978572
187                     EXT_SOURCE_3   9908.895128   745.103312
322      NEW_CREDIT_TO_ANNUITY_RATIO   8821.961026  1126.121057
106               ANNUITY_div_CREDIT   7062.710664   931.070372
323        NEW_CREDIT_TO_GOODS_RATIO   6334.755291   305.592979
185                     EXT_SOURCE_1   5771.153906   648.627737
149       CNT_INSTALMENT_FUTURE_mean   5571.460891   386.524051
263               MONTHS_BALANCE_std   5081.093994   342.440352
169                    DAYS_EMPLOYED   4779.436839   575.403239
492               credit_downpayment   4452.391303   696.497331
168                       DAYS_BIRTH   4116.718501   425.628088
117  CNT_DRAWINGS_ATM_CURRENT_mean_x   4049.303719   561.485412
171                  DAYS_ID_PUBLISH   3998.161053   596.262066
0                        AMT_ANNUITY   3973.381515   436.864311
151        CNT_INSTALMENT_FUTURE_std   3950.616758   325.880570
326     NEW_EMPLOY_TO_BIRTH-18_RATIO   3935.048584   789.475001
189                   EXT_SOURCE_max   3815.449537   167.381110
192                   EXT_SOURCE_std   3770.563185   284.837970
330           NEW_EXT_SOURCES_MEDIAN   3561.850351   582.037280

In [70]:
# テーブル結合
df_test = pd.merge(app_test, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')

# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [71]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [72]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering4.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.030817
1      100005  0.094781
2      100013  0.027192
3      100028  0.049567
4      100038  0.182530

### installments paymentsの読み込み

In [73]:
installments = installments_payments_origin.copy()
installments = baseline.reduce_mem_usage(installments)
print(installments.shape)
installments.head()

Memory usage of dataframe is 830.41 MB
Memory usage of optimization is 408162158.00 MB
Decreased by -49151908.2%
(13605401, 8)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.359863,6948.359863
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525024,1716.525024
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000000,25425.000000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130859,24350.130859
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040039,2160.584961

In [74]:
# one-hotencoding(処理対象カラムを取得)
encoding_columns = []

for col in installments.columns:
    if installments[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

encoding_columns

[]

In [75]:
# one-hot-encoding
#for col in encoding_columns:
#    installments_ohe = pd.get_dummies(installments, columns=[col], dummy_na=True)
#    col_ohe = sorted(list(set(installments_ohe.columns) - set(installments.columns)))

#print(len(col_ohe))
#col_ohe
installments_ohe = installments.copy()

In [76]:
print(installments.columns)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT'],
      dtype='object')

In [77]:
installments_ohe = installments_ohe.rename(columns={'SK_ID_PREV': 'SK_ID_PREV_IP'})

In [78]:
installments_ohe_agg = installments_ohe.groupby('SK_ID_CURR').agg(
    {
        # 数値変数の集約
        'NUM_INSTALMENT_VERSION': ['mean', 'std', 'min', 'max']
        ,'NUM_INSTALMENT_NUMBER': ['mean', 'std', 'min', 'max']
        ,'DAYS_INSTALMENT': ['mean', 'std', 'min', 'max']
        ,'DAYS_ENTRY_PAYMENT': ['mean', 'std', 'min', 'max']
        ,'AMT_INSTALMENT': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT': ['mean', 'std', 'min', 'max']
        # IDのユニーク数をカウント
        ,"SK_ID_PREV_IP":["count", "nunique"]
    }
)

# カラム名の付与
installments_ohe_agg.columns = [i + "_" + j for i,j in installments_ohe_agg.columns]
installments_ohe_agg = installments_ohe_agg.reset_index(drop=False)

print(installments_ohe_agg.shape)
installments_ohe_agg.head()

(339587, 27)

,SK_ID_CURR,NUM_INSTALMENT_VERSION_mean,NUM_INSTALMENT_VERSION_std,NUM_INSTALMENT_VERSION_min,NUM_INSTALMENT_VERSION_max,NUM_INSTALMENT_NUMBER_mean,NUM_INSTALMENT_NUMBER_std,NUM_INSTALMENT_NUMBER_min,NUM_INSTALMENT_NUMBER_max,DAYS_INSTALMENT_mean,...,AMT_INSTALMENT_mean,AMT_INSTALMENT_std,AMT_INSTALMENT_min,AMT_INSTALMENT_max,AMT_PAYMENT_mean,AMT_PAYMENT_std,AMT_PAYMENT_min,AMT_PAYMENT_max,SK_ID_PREV_IP_count,SK_ID_PREV_IP_nunique
0,100001,1.142857,0.377964,1.0,2.0,2.714286,1.112697,1,4,-2187.714355,...,5885.132324,5076.676763,3951.000000,17397.900391,5885.132324,5076.676763,3951.000000,17397.900391,7,2
1,100002,1.052632,0.229416,1.0,2.0,10.000000,5.627314,1,19,-295.000000,...,11559.247070,10058.037883,9251.775391,53093.746094,11559.247070,10058.037883,9251.775391,53093.746094,19,1
2,100003,1.040000,0.200000,1.0,2.0,5.080000,3.134751,1,12,-1378.160034,...,64754.585938,110542.594872,6662.970215,560835.375000,64754.585938,110542.594872,6662.970215,560835.375000,25,3
3,100004,1.333333,0.577350,1.0,2.0,2.000000,1.000000,1,3,-754.000000,...,7096.154785,3011.871719,5357.250000,10573.964844,7096.154785,3011.871719,5357.250000,10573.964844,3,1
4,100005,1.111111,0.333333,1.0,2.0,5.000000,2.738613,1,9,-586.000000,...,6240.205078,4281.014648,4813.200195,17656.244141,6240.205078,4281.014648,4813.200195,17656.244141,9,1

In [79]:
# infをnanへ置換
installments_ohe_agg = installments_ohe_agg.replace([np.inf, -np.inf], np.nan)

In [80]:
df_train = pd.merge(app_train, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307511, 522)

,SK_ID_CURR,TARGET,CODE_GENDER,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,NAME_FAMILY_STATUS,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,1,0,202500.0,406597.5,24700.5,351000.0,0,Single___not_married,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,100003,0,0,0,270000.0,1293502.5,35698.5,1129500.0,State_servant,0,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,100004,0,1,0,67500.0,135000.0,6750.0,135000.0,0,Single___not_married,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,100006,0,0,0,135000.0,312682.5,29686.5,297000.0,0,Civil_marriage,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,100007,0,1,0,121500.0,513000.0,21865.5,513000.0,0,Single___not_married,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [81]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [82]:
baseline = Baseline('SK_ID_CURR')

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 520) (61503, 520)
[100]	training's auc: 0.800115	valid_1's auc: 0.770878
[200]	training's auc: 0.829269	valid_1's auc: 0.777369
[300]	training's auc: 0.851611	valid_1's auc: 0.777981
[400]	training's auc: 0.869001	valid_1's auc: 0.778326
[auc] tr:0.868223, va0.7785
-------------------- 1 --------------------
(246009, 520) (61502, 520)
[100]	training's auc: 0.80013	valid_1's auc: 0.77526
[200]	training's auc: 0.82957	valid_1's auc: 0.781786
[300]	training's auc: 0.850638	valid_1's auc: 0.782844
[400]	training's auc: 0.868385	valid_1's auc: 0.783559
[500]	training's auc: 0.883135	valid_1's auc: 0.783291
[auc] tr:0.877092, va0.7836
-------------------- 2 --------------------
(246009, 520) (61502, 520)
[100]	training's auc: 0.799843	valid_1's auc: 0.77473
[200]	training's auc: 0.829553	valid_1's auc: 0.779889
[300]	training's auc: 0.851636	valid_1's auc: 0.780704
[400]	training's auc: 0.86963	valid_1's auc: 0.780797
[500]	training's auc: 0.884593	valid_1's auc: 0.780987
[600]	training's auc: 0.897333	valid_1's auc: 0.780699
[700]	training's auc: 0.908981	valid_1's auc: 0.780925
[auc] tr:0.901115, va0.7810
-------------------- 3 --------------------
(246009, 520) (61502, 520)
[100]	training's auc: 0.800647	valid_1's auc: 0.773069
[200]	training's auc: 0.83023	valid_1's auc: 0.779046
[300]	training's auc: 0.851974	valid_1's auc: 0.779624
[400]	training's auc: 0.868911	valid_1's auc: 0.780243
[500]	training's auc: 0.883322	valid_1's auc: 0.780448
[auc] tr:0.877783, va0.7807
-------------------- 4 --------------------
(246009, 520) (61502, 520)
[100]	training's auc: 0.800823	valid_1's auc: 0.766946
[200]	training's auc: 0.831099	valid_1's auc: 0.773653
[300]	training's auc: 0.853308	valid_1's auc: 0.774108
[auc] tr:0.845220, va0.7743
-------------------- result --------------------
[[0.         0.8682234  0.77846563]
 [1.         0.87709236 0.78362271]
 [2.         0.90111529 0.78103191]
 [3.         0.87778257 0.78065183]
 [4.         0.84522044 0.77433331]]
[cv] tr:0.8739+-0.0180, va:0.7796+-0.0031
[oof]0.7796

In [83]:
imp.sort_values("imp", ascending=False)[:20]

                                 col           imp      imp_std
206                  EXT_SOURCE_mean  95605.943248  3823.195701
344              NEW_EXT_SOURCES_GEO  17016.111733  3739.549519
203                     EXT_SOURCE_3   9764.331454   948.959455
338      NEW_CREDIT_TO_ANNUITY_RATIO   8245.097921   913.532421
114               ANNUITY_div_CREDIT   6529.697043  1015.830206
82                   AMT_PAYMENT_min   6519.077799   506.858640
339        NEW_CREDIT_TO_GOODS_RATIO   6235.953862   594.256078
157       CNT_INSTALMENT_FUTURE_mean   5969.114690   808.245192
201                     EXT_SOURCE_1   5593.175350   927.372822
177                    DAYS_EMPLOYED   4753.527427   629.612043
0                        AMT_ANNUITY   4426.629899   525.101193
518               credit_downpayment   4338.495493   435.908048
176                       DAYS_BIRTH   4040.225196   529.886294
183                  DAYS_ID_PUBLISH   3856.989725   833.184138
205                   EXT_SOURCE_max   3782.323445   394.554937
159        CNT_INSTALMENT_FUTURE_std   3771.268569   310.664953
81                  AMT_PAYMENT_mean   3760.535972   642.152501
208                   EXT_SOURCE_std   3730.862385   865.273187
342     NEW_EMPLOY_TO_BIRTH-18_RATIO   3704.273524   464.599648
125  CNT_DRAWINGS_ATM_CURRENT_mean_x   3637.623779   557.385565

In [84]:
# テーブル結合
df_test = pd.merge(app_test, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')

# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [85]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [86]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering5.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.027373
1      100005  0.108963
2      100013  0.043294
3      100028  0.039288
4      100038  0.158379

### bureauの読み込み

In [87]:
bureau = bureau_origin.copy()
bureau = baseline.reduce_mem_usage(bureau)
print(bureau.shape)
bureau.head()

Memory usage of dataframe is 222.62 MB
Memory usage of optimization is 125299372.00 MB
Decreased by -56283785.5%
(1716428, 17)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [88]:
### 
for col in bureau.columns:
    bureau[col] = bureau[col].replace('\s', '_', regex=True)
    bureau[col] = bureau[col].replace(':', '_', regex=True)
    bureau[col] = bureau[col].replace('/', '_', regex=True)
    
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency_1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer_credit,-131,NaN
1,215354,5714463,Active,currency_1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit_card,-20,NaN
2,215354,5714464,Active,currency_1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer_credit,-16,NaN
3,215354,5714465,Active,currency_1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit_card,-16,NaN
4,215354,5714466,Active,currency_1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer_credit,-21,NaN

In [89]:
# one-hotencoding(処理対象カラムを取得)
encoding_columns = []

for col in bureau.columns:
    if bureau[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

CREDIT_ACTIVE
CREDIT_CURRENCY
CREDIT_TYPE

In [90]:
# one-hot-encoding
bureau_ohe = pd.get_dummies(bureau, columns=['CREDIT_ACTIVE'], dummy_na=True)
col_ohe = sorted(list(set(bureau_ohe.columns) - set(bureau.columns)))

bureau_ohe = pd.get_dummies(bureau_ohe, columns=['CREDIT_CURRENCY'], dummy_na=True)
col_ohe = sorted(list(set(bureau_ohe.columns) - set(bureau.columns)))

bureau_ohe = pd.get_dummies(bureau_ohe, columns=['CREDIT_TYPE'], dummy_na=True)
col_ohe = sorted(list(set(bureau_ohe.columns) - set(bureau.columns)))

print(len(col_ohe))
col_ohe

26

['CREDIT_ACTIVE_Active',
 'CREDIT_ACTIVE_Bad_debt',
 'CREDIT_ACTIVE_Closed',
 'CREDIT_ACTIVE_Sold',
 'CREDIT_ACTIVE_nan',
 'CREDIT_CURRENCY_currency_1',
 'CREDIT_CURRENCY_currency_2',
 'CREDIT_CURRENCY_currency_3',
 'CREDIT_CURRENCY_currency_4',
 'CREDIT_CURRENCY_nan',
 'CREDIT_TYPE_Another_type_of_loan',
 'CREDIT_TYPE_Car_loan',
 'CREDIT_TYPE_Cash_loan_(non-earmarked)',
 'CREDIT_TYPE_Consumer_credit',
 'CREDIT_TYPE_Credit_card',
 'CREDIT_TYPE_Interbank_credit',
 'CREDIT_TYPE_Loan_for_business_development',
 'CREDIT_TYPE_Loan_for_purchase_of_shares_(margin_lending)',
 'CREDIT_TYPE_Loan_for_the_purchase_of_equipment',
 'CREDIT_TYPE_Loan_for_working_capital_replenishment',
 'CREDIT_TYPE_Microloan',
 'CREDIT_TYPE_Mobile_operator_loan',
 'CREDIT_TYPE_Mortgage',
 'CREDIT_TYPE_Real_estate_loan',
 'CREDIT_TYPE_Unknown_type_of_loan',
 'CREDIT_TYPE_nan']

In [91]:
bureau_ohe = bureau_ohe.rename(columns={'SK_ID_BUREAU': 'SK_ID_BUREAU_BUREAU'})

In [92]:
bureau_ohe.head()

,SK_ID_CURR,SK_ID_BUREAU_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,...,CREDIT_TYPE_Loan_for_business_development,CREDIT_TYPE_Loan_for_purchase_of_shares_(margin_lending),CREDIT_TYPE_Loan_for_the_purchase_of_equipment,CREDIT_TYPE_Loan_for_working_capital_replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile_operator_loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real_estate_loan,CREDIT_TYPE_Unknown_type_of_loan,CREDIT_TYPE_nan
0,215354,5714462,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,215354,5714463,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,...,0,0,0,0,0,0,0,0,0,0
2,215354,5714464,-203,0,528.0,NaN,NaN,0,464323.5,NaN,...,0,0,0,0,0,0,0,0,0,0
3,215354,5714465,-203,0,NaN,NaN,NaN,0,90000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
4,215354,5714466,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,...,0,0,0,0,0,0,0,0,0,0

In [93]:
bureau_ohe_agg = bureau_ohe.groupby('SK_ID_CURR').agg(
    {
        # 数値変数の集約
        'DAYS_CREDIT': ['mean', 'std', 'min', 'max', 'var']
        ,'CREDIT_DAY_OVERDUE': ['mean', 'std', 'min', 'max']
        ,'DAYS_CREDIT_ENDDATE': ['mean', 'std', 'min', 'max']
        ,'DAYS_ENDDATE_FACT': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_MAX_OVERDUE': ['mean', 'std', 'min', 'max']
        ,'CNT_CREDIT_PROLONG': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_SUM': ['mean', 'std', 'min', 'max', 'sum']
        ,'AMT_CREDIT_SUM_DEBT': ['mean', 'std', 'min', 'max', 'sum']
        ,'AMT_CREDIT_SUM_LIMIT': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_SUM_OVERDUE': ['mean', 'std', 'min', 'max']
        ,'DAYS_CREDIT_UPDATE': ['mean', 'std', 'min', 'max']
        ,'AMT_ANNUITY': ['mean', 'std', 'min', 'max']
        # 
        ,'CREDIT_TYPE_Another_type_of_loan': ['mean']
        ,'CREDIT_TYPE_Car_loan': ['mean']
        ,'CREDIT_TYPE_Cash_loan_(non-earmarked)': ['mean']
        ,'CREDIT_TYPE_Consumer_credit': ['mean']
        ,'CREDIT_TYPE_Credit_card': ['mean']
        ,'CREDIT_TYPE_Interbank_credit': ['mean']
        ,'CREDIT_TYPE_Loan_for_business_development': ['mean']
        ,'CREDIT_TYPE_Loan_for_purchase_of_shares_(margin_lending)': ['mean']
        ,'CREDIT_TYPE_Loan_for_the_purchase_of_equipment': ['mean']
        ,'CREDIT_TYPE_Loan_for_working_capital_replenishment': ['mean']
        ,'CREDIT_TYPE_Microloan': ['mean']
        ,'CREDIT_TYPE_Mobile_operator_loan': ['mean']
        ,'CREDIT_TYPE_Mortgage': ['mean']
        ,'CREDIT_TYPE_Real_estate_loan': ['mean']
        ,'CREDIT_TYPE_Unknown_type_of_loan': ['mean']
        ,'CREDIT_TYPE_nan': ['mean']
        ,'CREDIT_ACTIVE_Active': ['mean']
        ,'CREDIT_ACTIVE_Bad_debt': ['mean']
        ,'CREDIT_ACTIVE_Closed': ['mean']
        ,'CREDIT_ACTIVE_Sold': ['mean']
        ,'CREDIT_ACTIVE_nan': ['mean']
        ,'CREDIT_CURRENCY_currency_1': ['mean']
        ,'CREDIT_CURRENCY_currency_2': ['mean']
        ,'CREDIT_CURRENCY_currency_3': ['mean']
        ,'CREDIT_CURRENCY_currency_4': ['mean']
        ,'CREDIT_CURRENCY_nan': ['mean']
        ,'CREDIT_TYPE_Another_type_of_loan': ['mean']
        ,'CREDIT_TYPE_Car_loan': ['mean']
        ,'CREDIT_TYPE_Cash_loan_(non-earmarked)': ['mean']
        ,'CREDIT_TYPE_Consumer_credit': ['mean']
        ,'CREDIT_TYPE_Credit_card': ['mean']
        ,'CREDIT_TYPE_Interbank_credit': ['mean']
        ,'CREDIT_TYPE_Loan_for_business_development': ['mean']
        ,'CREDIT_TYPE_Loan_for_purchase_of_shares_(margin_lending)': ['mean']
        ,'CREDIT_TYPE_Loan_for_the_purchase_of_equipment': ['mean']
        ,'CREDIT_TYPE_Loan_for_working_capital_replenishment': ['mean']
        ,'CREDIT_TYPE_Microloan': ['mean']
        ,'CREDIT_TYPE_Mobile_operator_loan': ['mean']
        ,'CREDIT_TYPE_Mortgage': ['mean']
        ,'CREDIT_TYPE_Real_estate_loan': ['mean']
        ,'CREDIT_TYPE_Unknown_type_of_loan': ['mean']
        ,'CREDIT_TYPE_nan': ['mean']
        # IDのユニーク数をカウント
        ,'SK_ID_BUREAU_BUREAU': ["count", "nunique"]
    }
)

# カラム名の付与
bureau_ohe_agg.columns = [i + "_" + j for i,j in bureau_ohe_agg.columns]
bureau_ohe_agg = bureau_ohe_agg.reset_index(drop=False)

#
bureau_ohe_agg['debt_credit_ratio_None'] = bureau_ohe_agg['AMT_CREDIT_SUM_DEBT_sum'] / bureau_ohe_agg['AMT_CREDIT_SUM_sum']

print(bureau_ohe_agg.shape)
bureau_ohe_agg.head()

(305811, 80)

,SK_ID_CURR,DAYS_CREDIT_mean,DAYS_CREDIT_std,DAYS_CREDIT_min,DAYS_CREDIT_max,CREDIT_DAY_OVERDUE_mean,CREDIT_DAY_OVERDUE_std,CREDIT_DAY_OVERDUE_min,CREDIT_DAY_OVERDUE_max,DAYS_CREDIT_ENDDATE_mean,...,CREDIT_ACTIVE_Sold_mean,CREDIT_ACTIVE_nan_mean,CREDIT_CURRENCY_currency_1_mean,CREDIT_CURRENCY_currency_2_mean,CREDIT_CURRENCY_currency_3_mean,CREDIT_CURRENCY_currency_4_mean,CREDIT_CURRENCY_nan_mean,SK_ID_BUREAU_BUREAU_count,SK_ID_BUREAU_BUREAU_nunique,debt_credit_ratio_None
0,100001,-735.000000,489.942514,-1572,-49,0.0,0.0,0,0,82.428574,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7,7,0.410555
1,100002,-874.000000,431.451040,-1437,-103,0.0,0.0,0,0,-349.000000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,8,8,0.284122
2,100003,-1400.750000,909.826128,-2586,-606,0.0,0.0,0,0,-544.500000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4,4,0.000000
3,100004,-867.000000,649.124025,-1326,-408,0.0,0.0,0,0,-488.500000,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2,2,0.000000
4,100005,-190.666667,162.297053,-373,-62,0.0,0.0,0,0,439.333344,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3,3,0.864992

In [94]:
# infをnanへ置換
bureau_ohe_agg = bureau_ohe_agg.replace([np.inf, -np.inf], np.nan)

In [95]:
df_train = pd.merge(app_train, bureau_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307511, 601)

,SK_ID_CURR,TARGET,CODE_GENDER,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,NAME_FAMILY_STATUS,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,1,0,202500.0,406597.5,24700.5,351000.0,0,Single___not_married,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,100003,0,0,0,270000.0,1293502.5,35698.5,1129500.0,State_servant,0,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,100004,0,1,0,67500.0,135000.0,6750.0,135000.0,0,Single___not_married,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,100006,0,0,0,135000.0,312682.5,29686.5,297000.0,0,Civil_marriage,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,100007,0,1,0,121500.0,513000.0,21865.5,513000.0,0,Single___not_married,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [96]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [97]:
baseline = Baseline('SK_ID_CURR')

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 599) (61503, 599)
[100]	training's auc: 0.804322	valid_1's auc: 0.773148
[200]	training's auc: 0.83635	valid_1's auc: 0.781169
[300]	training's auc: 0.859265	valid_1's auc: 0.782693
[400]	training's auc: 0.878333	valid_1's auc: 0.783253
[500]	training's auc: 0.893901	valid_1's auc: 0.78398
[600]	training's auc: 0.906424	valid_1's auc: 0.784174
[700]	training's auc: 0.917464	valid_1's auc: 0.783865
[auc] tr:0.906655, va0.7842
-------------------- 1 --------------------
(246009, 599) (61502, 599)
[100]	training's auc: 0.80417	valid_1's auc: 0.777041
[200]	training's auc: 0.835552	valid_1's auc: 0.784992
[300]	training's auc: 0.858371	valid_1's auc: 0.786262
[400]	training's auc: 0.87632	valid_1's auc: 0.786508
[500]	training's auc: 0.891899	valid_1's auc: 0.786685
[auc] tr:0.880023, va0.7869
-------------------- 2 --------------------
(246009, 599) (61502, 599)
[100]	training's auc: 0.803802	valid_1's auc: 0.778319
[200]	training's auc: 0.835548	valid_1's auc: 0.784852
[300]	training's auc: 0.8591	valid_1's auc: 0.785551
[400]	training's auc: 0.878206	valid_1's auc: 0.786005
[500]	training's auc: 0.893606	valid_1's auc: 0.785949
[auc] tr:0.881980, va0.7861
-------------------- 3 --------------------
(246009, 599) (61502, 599)
[100]	training's auc: 0.804177	valid_1's auc: 0.775228
[200]	training's auc: 0.836371	valid_1's auc: 0.782156
[300]	training's auc: 0.859316	valid_1's auc: 0.782985
[400]	training's auc: 0.878345	valid_1's auc: 0.783484
[500]	training's auc: 0.893005	valid_1's auc: 0.783546
[600]	training's auc: 0.905798	valid_1's auc: 0.784097
[700]	training's auc: 0.916648	valid_1's auc: 0.784228
[800]	training's auc: 0.926572	valid_1's auc: 0.784267
[900]	training's auc: 0.934398	valid_1's auc: 0.784247
[auc] tr:0.929307, va0.7845
-------------------- 4 --------------------
(246009, 599) (61502, 599)
[100]	training's auc: 0.804857	valid_1's auc: 0.769421
[200]	training's auc: 0.836678	valid_1's auc: 0.776633
[300]	training's auc: 0.859835	valid_1's auc: 0.77823
[400]	training's auc: 0.877946	valid_1's auc: 0.778165
[auc] tr:0.865182, va0.7785
-------------------- result --------------------
[[0.         0.90665498 0.78419965]
 [1.         0.88002338 0.7869188 ]
 [2.         0.88198049 0.78607351]
 [3.         0.92930667 0.78446965]
 [4.         0.86518168 0.7785045 ]]
[cv] tr:0.8926+-0.0227, va:0.7840+-0.0029
[oof]0.7839

In [98]:
imp.sort_values("imp", ascending=False)[:20]

                              col           imp      imp_std
282               EXT_SOURCE_mean  95484.619544  3836.910175
420           NEW_EXT_SOURCES_GEO  17187.072619  4213.992824
414   NEW_CREDIT_TO_ANNUITY_RATIO   7408.551145   419.761977
279                  EXT_SOURCE_3   7061.931278   993.738432
108               AMT_PAYMENT_min   6588.384036   534.771557
415     NEW_CREDIT_TO_GOODS_RATIO   6001.571588   464.621785
140            ANNUITY_div_CREDIT   5985.590018  1229.865755
187    CNT_INSTALMENT_FUTURE_mean   5543.106020   745.777878
277                  EXT_SOURCE_1   5500.203786   855.176049
598        debt_credit_ratio_None   5398.936979   929.557983
0                     AMT_ANNUITY   4387.046889   789.016294
249                 DAYS_EMPLOYED   4377.409821   636.551596
245               DAYS_CREDIT_max   4360.129283   999.136839
596            credit_downpayment   4267.280658   248.474771
189     CNT_INSTALMENT_FUTURE_std   4013.240043   571.514532
236                    DAYS_BIRTH   3877.393846   699.838647
107              AMT_PAYMENT_mean   3837.603098   717.013321
418  NEW_EMPLOY_TO_BIRTH-18_RATIO   3702.303509   719.800349
281                EXT_SOURCE_max   3660.131995   947.886926
423          NEW_EXT_SOURCES_PROD   3524.501758   634.131220

In [99]:
df_test = pd.merge(app_test, bureau_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')

# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [100]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [101]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering6.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.025749
1      100005  0.137265
2      100013  0.046030
3      100028  0.046788
4      100038  0.161157

### mean mean

In [102]:
# consumer_annuity_to_max_installment_ratio
app_train_mean1 = pd.read_csv('./home-credit-default-risk/datasets/train_hc_only_consumer_annuity_to_max_installment_ratio.csv')
app_test_mean1 =  pd.read_csv('./home-credit-default-risk/datasets/test_hc_only_consumer_annuity_to_max_installment_ratio.csv')
app_train_mean1 = app_train_mean1.rename(columns={'sk_id_curr': 'SK_ID_CURR'})
app_test_mean1 = app_test_mean1.rename(columns={'sk_id_curr': 'SK_ID_CURR'})

### installment_payment_ratio_1000_mean_mean
#### consumer_installment_payment_ratio_1000_mean_mean
app_train_mean2 = pd.read_csv('./home-credit-default-risk/datasets/train_hc_only_consumer_installment_payment_ratio_1000_mean_mean.csv')
app_test_mean2 =  pd.read_csv('./home-credit-default-risk/datasets/test_hc_only_consumer_installment_payment_ratio_1000_mean_mean.csv')
app_train_mean2 = app_train_mean2.rename(columns={'sk_id_curr': 'SK_ID_CURR'})
app_test_mean2 = app_test_mean2.rename(columns={'sk_id_curr': 'SK_ID_CURR'})


#### revo_installment_payment_ratio_1000_mean_mean
app_train_mean3 = pd.read_csv('./home-credit-default-risk/datasets/train_hc_only_revo_installment_payment_ratio_1000_mean_mean.csv')
app_test_mean3 =  pd.read_csv('./home-credit-default-risk/datasets/test_hc_only_revo_installment_payment_ratio_1000_mean_mean.csv')
app_train_mean3 = app_train_mean3.rename(columns={'sk_id_curr': 'SK_ID_CURR'})
app_test_mean3 = app_test_mean3.rename(columns={'sk_id_curr': 'SK_ID_CURR'})

#### installment_payment_ratio_1000_mean_mean
app_train_mean4 = pd.read_csv('./home-credit-default-risk/datasets/train_hc_only_cash_installment_payment_ratio_1000_mean_mean.csv')
app_test_mean4 =  pd.read_csv('./home-credit-default-risk/datasets/test_hc_only_cash_installment_payment_ratio_1000_mean_mean.csv')
app_train_mean4 = app_train_mean4.rename(columns={'sk_id_curr': 'SK_ID_CURR'})
app_test_mean4 = app_test_mean4.rename(columns={'sk_id_curr': 'SK_ID_CURR'})

In [103]:
# infをnanへ置換
app_train_mean1 = app_train_mean1.replace([np.inf, -np.inf], np.nan)
app_test_mean1 = app_train_mean1.replace([np.inf, -np.inf], np.nan)

app_train_mean2 = app_train_mean2.replace([np.inf, -np.inf], np.nan)
app_test_mean2 = app_test_mean2.replace([np.inf, -np.inf], np.nan)

app_train_mean3 = app_train_mean3.replace([np.inf, -np.inf], np.nan)
app_test_mean3 = app_test_mean3.replace([np.inf, -np.inf], np.nan)

app_train_mean4 = app_train_mean4.replace([np.inf, -np.inf], np.nan)
app_test_mean4 = app_train_mean4.replace([np.inf, -np.inf], np.nan)

In [104]:
df_train = pd.merge(app_train, bureau_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')

df_train = pd.merge(df_train, app_train_mean1, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, app_train_mean2, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, app_train_mean3, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, app_train_mean4, on='SK_ID_CURR', how='left')

print(df_train.shape)
df_train.head()

(307511, 605)

,SK_ID_CURR,TARGET,CODE_GENDER,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,NAME_FAMILY_STATUS,...,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique,consumer_annuity_to_max_installment_ratio,consumer_installment_payment_ratio_1000_mean_mean,revo_installment_payment_ratio_1000_mean_mean,installment_payment_ratio_1000_mean_mean
0,100002,1,1,0,202500.0,406597.5,24700.5,351000.0,0,Single___not_married,...,0.000000,0.000000,0.0,0.0,19.0,1.0,-988.0000,0.0,NaN,NaN
1,100003,0,0,0,270000.0,1293502.5,35698.5,1129500.0,State_servant,0,...,0.000000,0.000000,0.0,0.0,28.0,3.0,NaN,0.0,NaN,0.0
2,100004,0,1,0,67500.0,135000.0,6750.0,135000.0,0,Single___not_married,...,0.000000,0.000000,0.0,0.0,4.0,1.0,NaN,NaN,NaN,NaN
3,100006,0,0,0,135000.0,312682.5,29686.5,297000.0,0,Civil_marriage,...,0.047619,0.000000,0.0,0.0,21.0,3.0,-2698.7273,0.0,NaN,0.0
4,100007,0,1,0,121500.0,513000.0,21865.5,513000.0,0,Single___not_married,...,0.000000,0.015152,0.0,0.0,66.0,5.0,NaN,NaN,NaN,0.0

In [105]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [106]:
baseline = Baseline('SK_ID_CURR')

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 603) (61503, 603)
[100]	training's auc: 0.804959	valid_1's auc: 0.773986
[200]	training's auc: 0.836183	valid_1's auc: 0.782124
[300]	training's auc: 0.859802	valid_1's auc: 0.783488
[400]	training's auc: 0.87842	valid_1's auc: 0.784092
[500]	training's auc: 0.894352	valid_1's auc: 0.784211
[auc] tr:0.892094, va0.7844
-------------------- 1 --------------------
(246009, 603) (61502, 603)
[100]	training's auc: 0.805251	valid_1's auc: 0.777484
[200]	training's auc: 0.83686	valid_1's auc: 0.785538
[300]	training's auc: 0.859974	valid_1's auc: 0.787103
[400]	training's auc: 0.878066	valid_1's auc: 0.787355
[500]	training's auc: 0.893552	valid_1's auc: 0.787715
[auc] tr:0.892489, va0.7879
-------------------- 2 --------------------
(246009, 603) (61502, 603)
[100]	training's auc: 0.8038	valid_1's auc: 0.779058
[200]	training's auc: 0.835234	valid_1's auc: 0.78503
[300]	training's auc: 0.858116	valid_1's auc: 0.786324
[400]	training's auc: 0.877367	valid_1's auc: 0.786715
[500]	training's auc: 0.892886	valid_1's auc: 0.787411
[600]	training's auc: 0.905991	valid_1's auc: 0.78772
[700]	training's auc: 0.916856	valid_1's auc: 0.78779
[800]	training's auc: 0.926226	valid_1's auc: 0.788204
[900]	training's auc: 0.934904	valid_1's auc: 0.788052
[auc] tr:0.927399, va0.7882
-------------------- 3 --------------------
(246009, 603) (61502, 603)
[100]	training's auc: 0.80504	valid_1's auc: 0.77532
[200]	training's auc: 0.837848	valid_1's auc: 0.782704
[300]	training's auc: 0.861423	valid_1's auc: 0.783759
[auc] tr:0.857396, va0.7839
-------------------- 4 --------------------
(246009, 603) (61502, 603)
[100]	training's auc: 0.806322	valid_1's auc: 0.770359
[200]	training's auc: 0.837435	valid_1's auc: 0.777383
[300]	training's auc: 0.860778	valid_1's auc: 0.778908
[400]	training's auc: 0.879006	valid_1's auc: 0.778682
[auc] tr:0.865294, va0.7792
-------------------- result --------------------
[[0.         0.89209415 0.78438019]
 [1.         0.89248857 0.78785874]
 [2.         0.92739914 0.78823926]
 [3.         0.85739594 0.78385515]
 [4.         0.8652937  0.77920653]]
[cv] tr:0.8869+-0.0246, va:0.7847+-0.0033
[oof]0.7847

In [107]:
imp.sort_values("imp", ascending=False)[:20]

                                 col           imp      imp_std
282                  EXT_SOURCE_mean  94894.880150  4284.850124
420              NEW_EXT_SOURCES_GEO  17509.425747  3971.828353
414      NEW_CREDIT_TO_ANNUITY_RATIO   6896.483000  1322.153610
279                     EXT_SOURCE_3   6771.365244   947.712475
140               ANNUITY_div_CREDIT   6000.750752   835.340840
415        NEW_CREDIT_TO_GOODS_RATIO   5698.512050   414.413474
600           debt_credit_ratio_None   5376.724568   280.008360
108                  AMT_PAYMENT_min   5244.585298   658.226780
277                     EXT_SOURCE_1   5148.595207  1051.039718
187       CNT_INSTALMENT_FUTURE_mean   5130.393925   919.183286
249                    DAYS_EMPLOYED   4431.822635   961.658441
245                  DAYS_CREDIT_max   4169.243502   610.937784
598               credit_downpayment   4064.225049   691.498659
0                        AMT_ANNUITY   3871.816316   592.733205
107                 AMT_PAYMENT_mean   3798.345334   455.134081
189        CNT_INSTALMENT_FUTURE_std   3734.547698   566.328987
236                       DAYS_BIRTH   3646.899303   727.042354
281                   EXT_SOURCE_max   3549.124547   574.998634
155  CNT_DRAWINGS_ATM_CURRENT_mean_x   3531.571376   524.305406
418     NEW_EMPLOY_TO_BIRTH-18_RATIO   3485.783838   637.270283

In [108]:
df_test = pd.merge(app_test, bureau_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')

df_test = pd.merge(df_test, app_test_mean1, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, app_test_mean2, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, app_test_mean3, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, app_test_mean4, on='SK_ID_CURR', how='left')

# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [109]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [110]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering7.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.024928
1      100005  0.119980
2      100013  0.037638
3      100028  0.036794
4      100038  0.149997

## パラメータ・チューニング

In [111]:
baseline = Baseline('SK_ID_CURR')

sampler = optuna.samplers.TPESampler(seed=123)
study = optuna.create_study(sampler=sampler, direction='maximize')
study.optimize(objective, n_trials=50, n_jobs=5)

[I 2022-06-13 23:33:11,960] A new study created in memory with name: no-name-d8b6b213-2e6c-4b59-9736-4b5709cceb60
[I 2022-06-13 23:36:11,851] Trial 3 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 213, 'min_child_samples': 143, 'min_sum_hessian_in_leaf': 0.00013528989547938037, 'feature_fraction': 0.7600749985814031, 'bagging_fraction': 0.8020753018728652, 'lambda_l1': 3.1689667438287024, 'lambda_l2': 0.032003377448432985}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:36:14,179] Trial 2 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 111, 'min_child_samples': 148, 'min_sum_hessian_in_leaf': 0.0008924421728442235, 'feature_fraction': 0.9157541378007117, 'bagging_fraction': 0.8764377114578336, 'lambda_l1': 0.39527923968086665, 'lambda_l2': 14.296397436501543}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:36:32,238] Trial 1 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 109, 'min_child_samples': 67, 'min_sum_hessian_in_leaf': 0.009081039584759979, 'feature_fraction': 0.6087255226251032, 'bagging_fraction': 0.8673824466844429, 'lambda_l1': 1.4510246529430169, 'lambda_l2': 0.8654840506154156}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:36:32,394] Trial 0 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 160, 'min_child_samples': 147, 'min_sum_hessian_in_leaf': 7.827873837500374e-05, 'feature_fraction': 0.7417334659887842, 'bagging_fraction': 0.6974114917567695, 'lambda_l1': 3.6536334299103665, 'lambda_l2': 0.20976144237889877}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:36:38,679] Trial 4 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 226, 'min_child_samples': 51, 'min_sum_hessian_in_leaf': 0.002364783636413757, 'feature_fraction': 0.6444004681393076, 'bagging_fraction': 0.9952361151083784, 'lambda_l1': 0.08260864123657452, 'lambda_l2': 0.03275224251530761}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:39:20,524] Trial 5 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 74, 'min_child_samples': 114, 'min_sum_hessian_in_leaf': 2.3368451148610207e-05, 'feature_fraction': 0.7671371392925266, 'bagging_fraction': 0.5945433942802647, 'lambda_l1': 0.2238764045039342, 'lambda_l2': 3.1838994990596783}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:39:24,007] Trial 6 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 237, 'min_child_samples': 131, 'min_sum_hessian_in_leaf': 1.8294785586795622e-05, 'feature_fraction': 0.6287855548145782, 'bagging_fraction': 0.6474173926471041, 'lambda_l1': 0.70689690592173, 'lambda_l2': 66.23616514972818}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:39:39,089] Trial 8 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 236, 'min_child_samples': 163, 'min_sum_hessian_in_leaf': 0.0019574121715984255, 'feature_fraction': 0.6774922018506844, 'bagging_fraction': 0.7127717993955587, 'lambda_l1': 52.181502236314465, 'lambda_l2': 0.1160217596327955}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:39:44,331] Trial 9 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 69, 'min_child_samples': 185, 'min_sum_hessian_in_leaf': 2.9139006998244368e-05, 'feature_fraction': 0.7770158954586368, 'bagging_fraction': 0.5482747200896978, 'lambda_l1': 22.52017732718932, 'lambda_l2': 54.00707813882843}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:40:06,916] Trial 7 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 19, 'min_child_samples': 72, 'min_sum_hessian_in_leaf': 0.0026964776702738244, 'feature_fraction': 0.6987133135751674, 'bagging_fraction': 0.5304465195099295, 'lambda_l1': 1.0319330327869765, 'lambda_l2': 98.7624741442951}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:42:38,361] Trial 10 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 71, 'min_child_samples': 136, 'min_sum_hessian_in_leaf': 0.0012952716457539978, 'feature_fraction': 0.9039043359604291, 'bagging_fraction': 0.5126229192076701, 'lambda_l1': 0.038566292549830315, 'lambda_l2': 1.3973181251105318}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:42:41,670] Trial 11 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 189, 'min_child_samples': 9, 'min_sum_hessian_in_leaf': 0.0005468336022621847, 'feature_fraction': 0.9807510338517984, 'bagging_fraction': 0.6569317224614112, 'lambda_l1': 25.847396225743914, 'lambda_l2': 0.040338778747869515}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:42:42,605] Trial 13 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 237, 'min_child_samples': 81, 'min_sum_hessian_in_leaf': 5.3141588312239804e-05, 'feature_fraction': 0.5475671065141162, 'bagging_fraction': 0.9510518992954639, 'lambda_l1': 0.012046166103205974, 'lambda_l2': 74.21227435230335}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:42:50,119] Trial 12 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 41, 'min_child_samples': 22, 'min_sum_hessian_in_leaf': 0.00046200751316672814, 'feature_fraction': 0.7114387900182642, 'bagging_fraction': 0.5538825145815831, 'lambda_l1': 0.04081211771521256, 'lambda_l2': 11.30143333591133}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:42:54,231] Trial 14 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 179, 'min_child_samples': 7, 'min_sum_hessian_in_leaf': 9.331224739313224e-05, 'feature_fraction': 0.9300981353181514, 'bagging_fraction': 0.7040501874006572, 'lambda_l1': 0.016621624691274695, 'lambda_l2': 0.3196361554656724}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:45:40,035] Trial 16 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 156, 'min_child_samples': 72, 'min_sum_hessian_in_leaf': 0.00018699822600131718, 'feature_fraction': 0.5126299633948135, 'bagging_fraction': 0.8170680355493856, 'lambda_l1': 6.364309102670595, 'lambda_l2': 0.23793929650471504}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:45:49,555] Trial 15 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 165, 'min_child_samples': 17, 'min_sum_hessian_in_leaf': 0.007902135506243484, 'feature_fraction': 0.5203472607263286, 'bagging_fraction': 0.8652655922838546, 'lambda_l1': 9.91884348650941, 'lambda_l2': 0.3026950987396155}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:45:53,290] Trial 17 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 156, 'min_child_samples': 30, 'min_sum_hessian_in_leaf': 0.007151139015425636, 'feature_fraction': 0.5158714998030991, 'bagging_fraction': 0.8025068627641294, 'lambda_l1': 3.979612588915888, 'lambda_l2': 0.268432989752081}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:45:57,017] Trial 18 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 157, 'min_child_samples': 200, 'min_sum_hessian_in_leaf': 0.009840833955601237, 'feature_fraction': 0.5142592454132773, 'bagging_fraction': 0.8009710140116032, 'lambda_l1': 5.158766336634316, 'lambda_l2': 0.2870048170193928}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:45:57,847] Trial 19 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 138, 'min_child_samples': 199, 'min_sum_hessian_in_leaf': 0.00019660128836250114, 'feature_fraction': 0.5189544251111462, 'bagging_fraction': 0.8059004496546893, 'lambda_l1': 5.619976031320606, 'lambda_l2': 0.35381139501002523}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:48:48,968] Trial 22 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 127, 'min_child_samples': 199, 'min_sum_hessian_in_leaf': 0.0002502408801427419, 'feature_fraction': 0.8024781687120605, 'bagging_fraction': 0.7487139208348704, 'lambda_l1': 7.085794126867628, 'lambda_l2': 0.10153766351211861}. Best is trial 3 with value: 0.7843801869373421.

[I 2022-06-13 23:48:51,579] Trial 24 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 117, 'min_child_samples': 101, 'min_sum_hessian_in_leaf': 1.0270694582880808e-05, 'feature_fraction': 0.8289479351206569, 'bagging_fraction': 0.7412976570156496, 'lambda_l1': 1.5491388557695431, 'lambda_l2': 0.10585632310837317}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:48:54,637] Trial 20 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 117, 'min_child_samples': 100, 'min_sum_hessian_in_leaf': 1.0995051025587481e-05, 'feature_fraction': 0.8334688414071043, 'bagging_fraction': 0.8964265319221307, 'lambda_l1': 3.0298306190150415, 'lambda_l2': 0.7840556761274772}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:49:02,035] Trial 21 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 152, 'min_child_samples': 193, 'min_sum_hessian_in_leaf': 9.159660406450002e-05, 'feature_fraction': 0.8412377840042394, 'bagging_fraction': 0.7223558122407916, 'lambda_l1': 0.012809605844970644, 'lambda_l2': 0.012571141092661447}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:49:07,348] Trial 23 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 133, 'min_child_samples': 101, 'min_sum_hessian_in_leaf': 0.00017278187787404285, 'feature_fraction': 0.8376142905502206, 'bagging_fraction': 0.7496566314189027, 'lambda_l1': 10.855811392399103, 'lambda_l2': 0.011712496733238553}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:51:58,346] Trial 26 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 142, 'min_child_samples': 171, 'min_sum_hessian_in_leaf': 6.159650606055267e-05, 'feature_fraction': 0.5750127239648346, 'bagging_fraction': 0.652572588321896, 'lambda_l1': 98.58346974596068, 'lambda_l2': 0.011302636998605297}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:51:59,188] Trial 25 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 199, 'min_child_samples': 172, 'min_sum_hessian_in_leaf': 0.004774992704221521, 'feature_fraction': 0.5652652623576864, 'bagging_fraction': 0.7695636493496064, 'lambda_l1': 2.3100944020806, 'lambda_l2': 0.010295708247651511}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:52:03,207] Trial 27 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 89, 'min_child_samples': 172, 'min_sum_hessian_in_leaf': 8.050869632793061e-05, 'feature_fraction': 0.8522269877614209, 'bagging_fraction': 0.9363593901505676, 'lambda_l1': 84.80590692382734, 'lambda_l2': 0.9720149283008593}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:52:06,834] Trial 28 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 199, 'min_child_samples': 166, 'min_sum_hessian_in_leaf': 5.791038078837165e-05, 'feature_fraction': 0.8545552644276602, 'bagging_fraction': 0.6638153656415813, 'lambda_l1': 0.24847179656620305, 'lambda_l2': 0.011023532494835916}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:52:06,944] Trial 29 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 198, 'min_child_samples': 173, 'min_sum_hessian_in_leaf': 6.796487983563401e-05, 'feature_fraction': 0.8076079631785251, 'bagging_fraction': 0.662394366152279, 'lambda_l1': 0.18434316169014367, 'lambda_l2': 0.010549208605793113}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:55:04,089] Trial 30 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 89, 'min_child_samples': 119, 'min_sum_hessian_in_leaf': 0.00026638267804499137, 'feature_fraction': 0.8067905191302954, 'bagging_fraction': 0.7644189633274834, 'lambda_l1': 14.386267600305226, 'lambda_l2': 0.08083758678822306}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:55:04,898] Trial 32 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 199, 'min_child_samples': 126, 'min_sum_hessian_in_leaf': 1.0285639403628169e-05, 'feature_fraction': 0.5839288946588003, 'bagging_fraction': 0.6789349839053297, 'lambda_l1': 1.6370898065993926, 'lambda_l2': 0.07538282470677964}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:55:05,797] Trial 31 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 93, 'min_child_samples': 106, 'min_sum_hessian_in_leaf': 4.167607881114934e-05, 'feature_fraction': 0.8716730528350101, 'bagging_fraction': 0.6862712524993775, 'lambda_l1': 12.785696186737045, 'lambda_l2': 0.06661956939700706}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:55:08,798] Trial 34 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 93, 'min_child_samples': 154, 'min_sum_hessian_in_leaf': 3.753074074142664e-05, 'feature_fraction': 0.5937742981039388, 'bagging_fraction': 0.6024872254550576, 'lambda_l1': 85.19867315250136, 'lambda_l2': 2.5041181908538097}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:55:10,344] Trial 33 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 177, 'min_child_samples': 156, 'min_sum_hessian_in_leaf': 0.004465166912827336, 'feature_fraction': 0.5680534034302077, 'bagging_fraction': 0.6004686810752697, 'lambda_l1': 1.8968010783799634, 'lambda_l2': 0.020552188478563407}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:58:12,392] Trial 38 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 101, 'min_child_samples': 119, 'min_sum_hessian_in_leaf': 0.00047265782142336333, 'feature_fraction': 0.8863831093017634, 'bagging_fraction': 0.5985006206398985, 'lambda_l1': 19.141644078668833, 'lambda_l2': 0.05524511471840068}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:58:13,640] Trial 35 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 94, 'min_child_samples': 156, 'min_sum_hessian_in_leaf': 3.8917084646146016e-05, 'feature_fraction': 0.8725898160326517, 'bagging_fraction': 0.5960510158535597, 'lambda_l1': 96.1583988370677, 'lambda_l2': 0.023704823541448237}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:58:13,652] Trial 36 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 174, 'min_child_samples': 156, 'min_sum_hessian_in_leaf': 3.922742127636001e-05, 'feature_fraction': 0.8881947600706506, 'bagging_fraction': 0.5987141862294971, 'lambda_l1': 0.19263323902931603, 'lambda_l2': 2.2569514355851554}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:58:17,188] Trial 37 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 255, 'min_child_samples': 150, 'min_sum_hessian_in_leaf': 0.00031905922326634655, 'feature_fraction': 0.7313303761761702, 'bagging_fraction': 0.6007008642273797, 'lambda_l1': 0.2670967633976314, 'lambda_l2': 0.01921425103350114}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-13 23:58:28,966] Trial 39 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 138, 'min_child_samples': 186, 'min_sum_hessian_in_leaf': 9.983346714928536e-05, 'feature_fraction': 0.7341957553164381, 'bagging_fraction': 0.8637361921657423, 'lambda_l1': 0.6336253467014847, 'lambda_l2': 0.4736790303651701}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-14 00:01:18,220] Trial 40 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 117, 'min_child_samples': 187, 'min_sum_hessian_in_leaf': 0.00011713148900250757, 'feature_fraction': 0.7349810018454833, 'bagging_fraction': 0.8548028301997123, 'lambda_l1': 0.47356761385477264, 'lambda_l2': 0.15649641428356612}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-14 00:01:21,252] Trial 43 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 127, 'min_child_samples': 186, 'min_sum_hessian_in_leaf': 0.0001156779225654534, 'feature_fraction': 0.7812680308750771, 'bagging_fraction': 0.7225846428535113, 'lambda_l1': 0.5542626426948055, 'lambda_l2': 0.15030623917390448}. Best is trial 3 with value: 0.7843801869373421.

[I 2022-06-14 00:01:39,016] Trial 41 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 135, 'min_child_samples': 193, 'min_sum_hessian_in_leaf': 0.0001150638343431994, 'feature_fraction': 0.7358036770679458, 'bagging_fraction': 0.7343649692666673, 'lambda_l1': 1.007444045162254, 'lambda_l2': 0.020791249156140147}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-14 00:01:39,244] Trial 42 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 256, 'min_child_samples': 191, 'min_sum_hessian_in_leaf': 0.00010935703294469713, 'feature_fraction': 0.7919147954246423, 'bagging_fraction': 0.7313473795651569, 'lambda_l1': 0.846912744290568, 'lambda_l2': 0.15615115650282924}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-14 00:01:45,877] Trial 44 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 109, 'min_child_samples': 91, 'min_sum_hessian_in_leaf': 1.6197584067084117e-05, 'feature_fraction': 0.7922146311221039, 'bagging_fraction': 0.7361090545436246, 'lambda_l1': 0.9492989535493347, 'lambda_l2': 0.15472016750963585}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-14 00:04:20,535] Trial 46 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 132, 'min_child_samples': 95, 'min_sum_hessian_in_leaf': 1.8486757447471026e-05, 'feature_fraction': 0.6572418148412699, 'bagging_fraction': 0.7600350498634284, 'lambda_l1': 38.2499232010323, 'lambda_l2': 0.040525968681155704}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-14 00:04:28,698] Trial 45 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 126, 'min_child_samples': 88, 'min_sum_hessian_in_leaf': 0.0007130225071297642, 'feature_fraction': 0.7898753027493155, 'bagging_fraction': 0.7585181029417888, 'lambda_l1': 2.4891616769547813, 'lambda_l2': 0.13438406865658706}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-14 00:04:38,368] Trial 47 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 218, 'min_child_samples': 87, 'min_sum_hessian_in_leaf': 1.6503231492680054e-05, 'feature_fraction': 0.6432531841230476, 'bagging_fraction': 0.7755482361731992, 'lambda_l1': 37.23258587791241, 'lambda_l2': 0.03827412398484475}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-14 00:04:38,564] Trial 48 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 59, 'min_child_samples': 172, 'min_sum_hessian_in_leaf': 1.6848705518789656e-05, 'feature_fraction': 0.6513470890061956, 'bagging_fraction': 0.640081939123877, 'lambda_l1': 46.00282209862526, 'lambda_l2': 0.6697364542025604}. Best is trial 3 with value: 0.7843801869373421.
[I 2022-06-14 00:04:39,008] Trial 49 finished with value: 0.7843801869373421 and parameters: {'num_leaves': 50, 'min_child_samples': 173, 'min_sum_hessian_in_leaf': 0.0008156559729608862, 'feature_fraction': 0.636339395648712, 'bagging_fraction': 0.9941761996868981, 'lambda_l1': 34.839161059473696, 'lambda_l2': 5.0984354749525975}. Best is trial 3 with value: 0.7843801869373421.

In [112]:
trial = study.best_trial
print("auc(best)={:.4f}".format(trial.value))
display(trial.params)

auc(best)=0.7844

{'num_leaves': 213,
 'min_child_samples': 143,
 'min_sum_hessian_in_leaf': 0.00013528989547938037,
 'feature_fraction': 0.7600749985814031,
 'bagging_fraction': 0.8020753018728652,
 'lambda_l1': 3.1689667438287024,
 'lambda_l2': 0.032003377448432985}

In [113]:
params_best = trial.params
params_best.update(params_base)
display(params_best)

{'num_leaves': 213,
 'min_child_samples': 143,
 'min_sum_hessian_in_leaf': 0.00013528989547938037,
 'feature_fraction': 0.7600749985814031,
 'bagging_fraction': 0.8020753018728652,
 'lambda_l1': 3.1689667438287024,
 'lambda_l2': 0.032003377448432985,
 'boosting_type': 'gbdt',
 'objective': 'binary',
 'metric': 'auc',
 'verbosity': -1,
 'learning_rate': 0.05,
 'n_estimators': 100000,
 'random_state': 123,
 'bagging_freq': 1}

In [114]:
train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5
                                    ,params=params_best)

-------------------- 0 --------------------
(246008, 603) (61503, 603)
[LightGBM] [Warning] feature_fraction is set=0.7600749985814031, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7600749985814031
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.00013528989547938037, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.00013528989547938037
[LightGBM] [Warning] bagging_fraction is set=0.8020753018728652, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8020753018728652
[LightGBM] [Warning] lambda_l1 is set=3.1689667438287024, reg_alpha=0.0 will be ignored. Current value: lambda_l1=3.1689667438287024
[LightGBM] [Warning] lambda_l2 is set=0.032003377448432985, reg_lambda=0.0 will be ignored. Current value: lambda_l2=0.032003377448432985
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[100]	training's auc: 0.895396	valid_1's auc: 0.777852
[200]	training's auc: 0.956505	valid_1's auc: 0.780805
[300]	training's auc: 0.983401	valid_1's auc: 0.781154
[auc] tr:0.979549, va0.7816
-------------------- 1 --------------------
(246009, 603) (61502, 603)
[LightGBM] [Warning] feature_fraction is set=0.7600749985814031, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7600749985814031
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.00013528989547938037, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.00013528989547938037
[LightGBM] [Warning] bagging_fraction is set=0.8020753018728652, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8020753018728652
[LightGBM] [Warning] lambda_l1 is set=3.1689667438287024, reg_alpha=0.0 will be ignored. Current value: lambda_l1=3.1689667438287024
[LightGBM] [Warning] lambda_l2 is set=0.032003377448432985, reg_lambda=0.0 will be ignored. Current value: lambda_l2=0.032003377448432985
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[100]	training's auc: 0.895757	valid_1's auc: 0.784321
[200]	training's auc: 0.956636	valid_1's auc: 0.788635
[300]	training's auc: 0.983241	valid_1's auc: 0.787881
[auc] tr:0.965624, va0.7893
-------------------- 2 --------------------
(246009, 603) (61502, 603)
[LightGBM] [Warning] feature_fraction is set=0.7600749985814031, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7600749985814031
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.00013528989547938037, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.00013528989547938037
[LightGBM] [Warning] bagging_fraction is set=0.8020753018728652, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8020753018728652
[LightGBM] [Warning] lambda_l1 is set=3.1689667438287024, reg_alpha=0.0 will be ignored. Current value: lambda_l1=3.1689667438287024
[LightGBM] [Warning] lambda_l2 is set=0.032003377448432985, reg_lambda=0.0 will be ignored. Current value: lambda_l2=0.032003377448432985
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[100]	training's auc: 0.895536	valid_1's auc: 0.78312
[200]	training's auc: 0.95642	valid_1's auc: 0.786161
[300]	training's auc: 0.983659	valid_1's auc: 0.787023
[400]	training's auc: 0.994218	valid_1's auc: 0.785667
[auc] tr:0.984009, va0.7872
-------------------- 3 --------------------
(246009, 603) (61502, 603)
[LightGBM] [Warning] feature_fraction is set=0.7600749985814031, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7600749985814031
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.00013528989547938037, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.00013528989547938037
[LightGBM] [Warning] bagging_fraction is set=0.8020753018728652, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8020753018728652
[LightGBM] [Warning] lambda_l1 is set=3.1689667438287024, reg_alpha=0.0 will be ignored. Current value: lambda_l1=3.1689667438287024
[LightGBM] [Warning] lambda_l2 is set=0.032003377448432985, reg_lambda=0.0 will be ignored. Current value: lambda_l2=0.032003377448432985
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[100]	training's auc: 0.896537	valid_1's auc: 0.781439
[200]	training's auc: 0.957054	valid_1's auc: 0.785437
[300]	training's auc: 0.983459	valid_1's auc: 0.784227
[auc] tr:0.965995, va0.7857
-------------------- 4 --------------------
(246009, 603) (61502, 603)
[LightGBM] [Warning] feature_fraction is set=0.7600749985814031, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7600749985814031
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.00013528989547938037, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.00013528989547938037
[LightGBM] [Warning] bagging_fraction is set=0.8020753018728652, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8020753018728652
[LightGBM] [Warning] lambda_l1 is set=3.1689667438287024, reg_alpha=0.0 will be ignored. Current value: lambda_l1=3.1689667438287024
[LightGBM] [Warning] lambda_l2 is set=0.032003377448432985, reg_lambda=0.0 will be ignored. Current value: lambda_l2=0.032003377448432985
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[100]	training's auc: 0.895906	valid_1's auc: 0.774854
[200]	training's auc: 0.956653	valid_1's auc: 0.778998
[300]	training's auc: 0.98382	valid_1's auc: 0.77885
[auc] tr:0.969122, va0.7796
-------------------- result --------------------
[[0.         0.97954869 0.78155229]
 [1.         0.96562407 0.78928096]
 [2.         0.9840086  0.78716145]
 [3.         0.96599485 0.78570054]
 [4.         0.96912234 0.7795664 ]]
[cv] tr:0.9729+-0.0075, va:0.7847+-0.0036
[oof]0.7846

In [115]:
# 推論用データセットの作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

# predict
test_pred = baseline.predict_lgb(x_test
                       ,id_test
                       ,list_nfold=[0,1,2,3,4])

# make submission-file
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv("./home-credit-default-risk/submit/submission_HyperParameterTuning.csv", index=None)

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.
(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.032223
1      100005  0.089651
2      100013  0.033355
3      100028  0.041278
4      100038  0.131509