In [1]:
import cupy as cp
import numpy as np
import pandas as pd
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import scipy.stats as st
import pickle
import optuna
import re
import gc

from lightgbm import LGBMClassifier

from sklearn import metrics
from sklearn.tree import plot_tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.impute import SimpleImputer
from sklearn_pandas import DataFrameMapper
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import log_loss
from sklearn.metrics import mean_squared_log_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.metrics import roc_auc_score
from sklearn.datasets import make_moons
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_selection import mutual_info_classif
from sklearn.experimental import enable_iterative_imputer

from keras.layers import Dense, Dropout
from keras.models import Sequential

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

from tqdm import tqdm

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

import xgboost as xgb
from sklearn.metrics import log_loss
from xgboost.sklearn import XGBClassifier

from Modules import Modules
from Baseline import Baseline
from FeatureEngineering2 import FeatureEngineering2


%matplotlib inline

print("OK\n")

OK

## 共通関数定義

In [2]:
def geometric_mean(x):
    return np.exp(np.log(x[x>0]).mean())

In [3]:
"""
params_base = {
            'boosting_type': 'gbdt'
            ,'objective': 'binary'
            ,'metric': 'auc'
            ,'verbosity': -1
            ,'learning_rate': 0.05
            ,'n_estimators': 100000
            ,'random_state':123
            ,'bagging_freq': 1   
}
"""
params_base = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_samples': 165
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

def objective(trial):
    # 探索するパラメータ
    param_tuning = {
            "num_leaves": trial.suggest_int("num_leaves", 8, 256)
            ,"min_child_samples": trial.suggest_int("min_child_samples", 5, 200)
            ,"min_sum_hessian_in_leaf": trial.suggest_float("min_sum_hessian_in_leaf", 1e-5, 1e-2, log=True)
            ,"feature_fraction": trial.suggest_float("feature_fraction", 0.5, 1.0)
            ,"bagging_fraction": trial.suggest_float("bagging_fraction", 0.5, 1.0)
            ,"lambda_l1": trial.suggest_float("lambda_l1", 1e-2, 1e+2, log=True)
            ,"lambda_l2": trial.suggest_float("lambda_l2", 1e-2, 1e+2, log=True)
    }
    param_tuning.update(params_base)

    # モデル学習・評価:
    list_metrics = []
    cv = list(StratifiedKFold(n_splits=5, shuffle=True, random_state=123).split(x_train, y_train))
    list_fold = [0]
    for nfold in list_fold:
        idx_tr, idx_va = cv[nfold][0], cv[nfold][1]
        x_tr, y_tr = x_train.loc[idx_tr, :], y_train[idx_tr]
        x_va, y_va = x_train.loc[idx_va, :], y_train[idx_va]
        model = lgb.LGBMClassifier(**params)
        model.fit(x_tr
                    ,y_tr
                    ,eval_set=[(x_tr, y_tr), (x_va, y_va)]
                    ,early_stopping_rounds=100
                    ,verbose=0
        )
        y_va_pred = model.predict_proba(x_va)[:,1]
        metric_va = roc_auc_score(y_va, y_va_pred)
        list_metrics.append(metric_va)

    # 評価指数の算出
    metrics = np.mean(list_metrics)

    return metrics

## インスタンス生成

In [4]:
baseline = Baseline('SK_ID_CURR')
modules = Modules('SK_ID_CURR')
FeatureEngineering2 = FeatureEngineering2('SK_ID_CURR')

### app特徴量作成

In [5]:
df = pd.read_csv(r'./home-credit-default-risk/application_train.csv')
test_df = pd.read_csv(r'./home-credit-default-risk/application_test.csv')
df = df.append(test_df).reset_index()

docs = [_f for _f in df.columns if 'FLAG_DOC' in _f]
live = [_f for _f in df.columns if ('FLAG_' in _f) & ('FLAG_DOC' not in _f) & ('_FLAG_' not in _f)]

# general cleaning procedures
df = df[df['CODE_GENDER'] != 'XNA']
df = df[df['AMT_INCOME_TOTAL'] < 20000000] # remove a outlier 117M
# NaN values for DAYS_EMPLOYED: 365.243 -> nan
df['DAYS_EMPLOYED'].replace(365243, np.nan, inplace=True) # set null value
df['DAYS_LAST_PHONE_CHANGE'].replace(0, np.nan, inplace=True) # set null value

### CODE_GENDER, 
# Categorical features with Binary encode (0 or 1; two categories)
for bin_feature in ['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY']:
    df[bin_feature], uniques = pd.factorize(df[bin_feature])

### NAME_INCOME_TYPE
df['NAME_INCOME_TYPE'].replace(['Maternity leave'], ['Unemployed'], inplace=True)
df['NAME_INCOME_TYPE'].replace(['Working','Commercial associate','Pensioner','State servant','Unemployed','Student','Businessman','Maternity leave'], [0, 1, 2, 3, 4, 5, 6, 7], inplace=True)
### NAME_FAMILY_STATUS
df['NAME_FAMILY_STATUS'].replace('Unknown', 'Married', inplace=True)
df['NAME_FAMILY_STATUS'].replace(['Married','Single / not married','Civil marriage','Separated','Widow'], [0, 1, 2, 3, 4], inplace=True)

### 
df = df.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '_', x))

### 列名から不正な文字を削除
for col in df.columns:
    df[col] = df[col].replace('\s', '_', regex=True)
    df[col] = df[col].replace(':', '_', regex=True)
    df[col] = df[col].replace('/', '_', regex=True)


# nullに置き換え
df['DAYS_EMPLOYED'] = df['DAYS_EMPLOYED'].replace(365243, np.nan)

inc_by_org = df[['AMT_INCOME_TOTAL', 'ORGANIZATION_TYPE']].groupby('ORGANIZATION_TYPE').median()['AMT_INCOME_TOTAL']

# 特徴量1: 総所得金額を世帯人数で除した値
df['INCOME_div_PERSON'] = df['AMT_INCOME_TOTAL'] / df['CNT_FAM_MEMBERS']

# 特徴量2: 総所得額を就労期間で除した値
df['INCOME_div_EMPLOYED'] = df['AMT_INCOME_TOTAL'] / df['DAYS_EMPLOYED']

#
df['NEW_CREDIT_TO_ANNUITY_RATIO'] = df['AMT_CREDIT'] / df['AMT_ANNUITY']

df['NEW_CREDIT_TO_GOODS_RATIO'] = df['AMT_CREDIT'] / df['AMT_GOODS_PRICE']

df['NEW_DOC_IND_KURT'] = df[docs].kurtosis(axis=1)

df['NEW_LIVE_IND_SUM'] = df[live].sum(axis=1)

df['NEW_INC_PER_CHLD'] = df['AMT_INCOME_TOTAL'] / (1 + df['CNT_CHILDREN'])

df['NEW_INC_BY_ORG'] = df['ORGANIZATION_TYPE'].map(inc_by_org)

df['NEW_EMPLOY_TO_BIRTH_RATIO'] = df['DAYS_EMPLOYED'] / df['DAYS_BIRTH']

df['NEW_EMPLOY_TO_BIRTH-18_RATIO'] = df['DAYS_EMPLOYED'] / (df['DAYS_BIRTH'] + 18*365)

df['NEW_BIRTH_TO_EMPLOY_RATIO'] = df['DAYS_BIRTH'] / (1 + df['DAYS_EMPLOYED'])

df['NEW_INCOME_TO_ANNUITY_RATIO'] = df['AMT_INCOME_TOTAL'] / (1 + df['AMT_ANNUITY'])

df['NEW_ANNUITY_TO_INCOME_RATIO'] = df['AMT_ANNUITY'] / (1 + df['AMT_INCOME_TOTAL'])


# 特徴量3: 外部スコアの平均
df['NEW_EXT_SOURCES_MEDIAN'] = df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].median(axis=1, skipna=True)

df['EXT_SOURCE_mean'] = df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis=1)
    
df['EXT_SOURCE_max'] = df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].max(axis=1)

df['EXT_SOURCE_min'] = df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].min(axis=1)

df['EXT_SOURCE_std'] = df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].std(axis=1)

df['EXT_SOURCE_count'] = df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].notnull().sum(axis=1)

df['NEW_EXT_SOURCES_PROD'] = df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].prod(axis=1, skipna=True, min_count=1)

df['NEW_EXT_SOURCES_MAD'] = df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mad(axis=1, skipna=True)

df['NEW_EXT_SOURCES_GEO'] = df[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].apply(geometric_mean, axis=1)

# 特徴量4: 就労期間を年齢で除した値
df['DAYS_EMPLOYED_div_BERTH'] = df['DAYS_EMPLOYED'] / df['DAYS_BIRTH']

# 特徴量5: 年金支払金額を所得金額で除した値
df['ANNUITY_div_INCOME'] = df['AMT_ANNUITY'] / df['AMT_INCOME_TOTAL']

# 特徴量6: 年金支払額を借入金で除した値
df['ANNUITY_div_CREDIT'] = df['AMT_ANNUITY'] / df['AMT_CREDIT']

### 
df['credit_goods_price_ratio'] = df['AMT_CREDIT'] / df['AMT_GOODS_PRICE']
 
df['credit_downpayment'] = df['AMT_GOODS_PRICE'] - df['AMT_CREDIT']

df['USER_AGE'] = abs(df['DAYS_BIRTH'])/364.25

df['NEW_CAR_TO_BIRTH_RATIO'] = df['OWN_CAR_AGE'] / df['DAYS_BIRTH']

df['NEW_CAR_TO_EMPLOY_RATIO'] = df['OWN_CAR_AGE'] / df['DAYS_EMPLOYED']

df['NEW_PHONE_TO_BIRTH_RATIO'] = df['DAYS_LAST_PHONE_CHANGE'] / df['DAYS_BIRTH']

df['NEW_PHONE_TO_EMPLOYED_RATIO'] = df['DAYS_LAST_PHONE_CHANGE'] / df['DAYS_EMPLOYED']

df['NEW_CREDIT_TO_INCOME_RATIO'] = df['AMT_CREDIT'] / df['AMT_INCOME_TOTAL']

df['NEW_INCOME_CREDIT_PERC'] = df['AMT_INCOME_TOTAL'] / df['AMT_CREDIT']

df['NEW_INCOME_PER_PERSON'] = df['AMT_INCOME_TOTAL'] / df['CNT_FAM_MEMBERS']

### 2022/06/25
df['app_EXT_SOURCE_prod'] = df['EXT_SOURCE_1'] * df['EXT_SOURCE_2'] * df['EXT_SOURCE_3']
df['app_EXT_SOURCE_1_times_EXT_SOURCE_2'] = df['EXT_SOURCE_1'] * df['EXT_SOURCE_2']
df['app_EXT_SOURCE_1_times_EXT_SOURCE_3'] = df['EXT_SOURCE_1'] * df['EXT_SOURCE_3']
df['app_EXT_SOURCE_2_times_EXT_SOURCE_3'] = df['EXT_SOURCE_2'] * df['EXT_SOURCE_3']
df['app_EXT_SOURCE_1_times_DAYS_EMPLOYED'] = df['EXT_SOURCE_1'] * df['DAYS_EMPLOYED']
df['app_EXT_SOURCE_2_times_DAYS_EMPLOYED'] = df['EXT_SOURCE_2'] * df['DAYS_EMPLOYED']
df['app_EXT_SOURCE_3_times_DAYS_EMPLOYED'] = df['EXT_SOURCE_3'] * df['DAYS_EMPLOYED']
df['app_EXT_SOURCE_1_PER_DAYS_BIRTH'] = df['EXT_SOURCE_1'] / df['DAYS_BIRTH']
df['app_EXT_SOURCE_2_PER_DAYS_BIRTH'] = df['EXT_SOURCE_2'] / df['DAYS_BIRTH']
df['app_EXT_SOURCE_3_PER_DAYS_BIRTH'] = df['EXT_SOURCE_3'] / df['DAYS_BIRTH']

### 2022/06/26
df['app_most_popular_AMT_GOODS_PRICE'] = df['AMT_GOODS_PRICE'] \
    .isin([225000, 450000, 675000, 900000]).map({True: 1, False: 0})
df['app_popular_AMT_GOODS_PRICE'] = df['AMT_GOODS_PRICE'] \
    .isin([1125000, 1350000, 1575000, 1800000, 2250000]).map({True: 1, False: 0})
df['app_OWN_CAR_AGE_div_DAYS_BIRTH'] = df['OWN_CAR_AGE'] / df['DAYS_BIRTH']
df['app_OWN_CAR_AGE_div_DAYS_EMPLOYED'] = df['OWN_CAR_AGE'] / df['DAYS_EMPLOYED']
df['app_DAYS_LAST_PHONE_CHANGE_div_DAYS_BIRTH'] = df['DAYS_LAST_PHONE_CHANGE'] / df['DAYS_BIRTH']
df['app_DAYS_LAST_PHONE_CHANGE_div_DAYS_EMPLOYED'] = df['DAYS_LAST_PHONE_CHANGE'] / df['DAYS_EMPLOYED']
df['app_DAYS_EMPLOYED_PERC'] = df['DAYS_EMPLOYED'] - df['DAYS_BIRTH']
df['app_DAYS_EMPLOYED_div_DAYS_BIRTH'] = df['DAYS_EMPLOYED'] / df['DAYS_BIRTH']
df['app_CNT_CHILDREN_div_CNT_FAM_MEMBERS'] = df['CNT_CHILDREN'] / df['CNT_FAM_MEMBERS']

### 2022/06/29
#### EXT_SOURCE_X FEATURE
#df['APP_SCORE1_TO_BIRTH_RATIO'] = df['EXT_SOURCE_1'] / (df['DAYS_BIRTH'] / 365.25)
#df['APP_SCORE2_TO_BIRTH_RATIO'] = df['EXT_SOURCE_2'] / (df['DAYS_BIRTH'] / 365.25)
#df['APP_SCORE3_TO_BIRTH_RATIO'] = df['EXT_SOURCE_3'] / (df['DAYS_BIRTH'] / 365.25)
#df['APP_SCORE1_TO_EMPLOY_RATIO'] = df['EXT_SOURCE_1'] / (df['DAYS_EMPLOYED'] / 365.25)
#### Time ratios
#df['ID_TO_BIRTH_RATIO'] = df['DAYS_ID_PUBLISH'] / df['DAYS_BIRTH']

### one-hotencoding
encoding_columns = []

#### one-hotencoding処理対象列を取得
for col in df.columns:
    if df[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

#### one-hotencoding処理対象列を追加
encoding_columns.append('CODE_GENDER')
encoding_columns.append('FLAG_OWN_CAR')
encoding_columns.append('FLAG_OWN_REALTY')
encoding_columns.append('NAME_INCOME_TYPE')
encoding_columns.append('NAME_FAMILY_STATUS')

#### one-hotencoding実行
for col in encoding_columns:
    df = pd.get_dummies(df, columns=[col], dummy_na=True)

### 列名の不正な文字を置換(ドット対応)
df = df.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '_', x))

### 極大値、極小値をNULLへ置換
df = df.replace([np.inf, -np.inf], np.nan)

len(df.columns)

df.head()

NAME_CONTRACT_TYPE
NAME_TYPE_SUITE
NAME_EDUCATION_TYPE
NAME_HOUSING_TYPE
OCCUPATION_TYPE
WEEKDAY_APPR_PROCESS_START
ORGANIZATION_TYPE
FONDKAPREMONT_MODE
HOUSETYPE_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE

,index,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_INCOME_TYPE_4_0,NAME_INCOME_TYPE_5_0,NAME_INCOME_TYPE_6_0,NAME_INCOME_TYPE_nan,NAME_FAMILY_STATUS_0_0,NAME_FAMILY_STATUS_1_0,NAME_FAMILY_STATUS_2_0,NAME_FAMILY_STATUS_3_0,NAME_FAMILY_STATUS_4_0,NAME_FAMILY_STATUS_nan
0,0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,...,0,0,0,0,0,1,0,0,0,0
1,1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,...,0,0,0,0,1,0,0,0,0,0
2,2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,...,0,0,0,0,0,1,0,0,0,0
3,3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,...,0,0,0,0,0,0,1,0,0,0
4,4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,...,0,0,0,0,0,1,0,0,0,0

In [6]:
### indexを削除
df=df.reset_index()
df.head()

,level_0,index,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,NAME_INCOME_TYPE_4_0,NAME_INCOME_TYPE_5_0,NAME_INCOME_TYPE_6_0,NAME_INCOME_TYPE_nan,NAME_FAMILY_STATUS_0_0,NAME_FAMILY_STATUS_1_0,NAME_FAMILY_STATUS_2_0,NAME_FAMILY_STATUS_3_0,NAME_FAMILY_STATUS_4_0,NAME_FAMILY_STATUS_nan
0,0,0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,0,0,0,0,0,1,0,0,0,0
1,1,1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,0,0,0,0,1,0,0,0,0,0
2,2,2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,0,0,0,0,0,1,0,0,0,0
3,3,3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,0,0,0,0,0,0,1,0,0,0
4,4,4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,0,0,0,0,0,1,0,0,0,0

In [7]:
### indexを削除
df = df.drop(columns=['index'])
df.head()

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_INCOME_TYPE_4_0,NAME_INCOME_TYPE_5_0,NAME_INCOME_TYPE_6_0,NAME_INCOME_TYPE_nan,NAME_FAMILY_STATUS_0_0,NAME_FAMILY_STATUS_1_0,NAME_FAMILY_STATUS_2_0,NAME_FAMILY_STATUS_3_0,NAME_FAMILY_STATUS_4_0,NAME_FAMILY_STATUS_nan
0,0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,...,0,0,0,0,0,1,0,0,0,0
1,1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,...,0,0,0,0,1,0,0,0,0,0
2,2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,...,0,0,0,0,0,1,0,0,0,0
3,3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,...,0,0,0,0,0,0,1,0,0,0
4,4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,...,0,0,0,0,0,1,0,0,0,0

In [8]:
df = baseline.reduce_mem_usage(df)
print(df.shape)
df.head()

Memory usage of dataframe is 489.57 MB
Memory usage of optimization is 403275128.00 MB
Decreased by -82372426.9%
(356250, 314)

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_INCOME_TYPE_4_0,NAME_INCOME_TYPE_5_0,NAME_INCOME_TYPE_6_0,NAME_INCOME_TYPE_nan,NAME_FAMILY_STATUS_0_0,NAME_FAMILY_STATUS_1_0,NAME_FAMILY_STATUS_2_0,NAME_FAMILY_STATUS_3_0,NAME_FAMILY_STATUS_4_0,NAME_FAMILY_STATUS_nan
0,0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018799,-9461,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003542,-16765,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010033,-19046,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008018,-19005,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028656,-19932,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [9]:
for col in df.columns:
    print(col)

level_0
SK_ID_CURR
TARGET
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
TOTALAREA_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR
INCOME_div_PERSON
INCOME_div_EMPLOYED
NEW_CREDIT_TO_ANNUITY_RATIO
NEW_CREDIT_TO_GOODS_RATIO
NEW_DOC_IND_KURT
NEW_LIVE_IND_SUM
NEW_INC_PER_CHLD
NEW_INC_BY_ORG
NEW_EMPLOY_TO_BIRTH_RATIO
NEW_EMPLOY_TO_BIRTH_18_RATIO
NEW_BIRTH_TO_EMPLOY_RATIO
NEW_INCOME_TO_ANNUITY_RATIO
NEW_ANNUITY_TO_INCOME_RATIO
NEW_EXT_SOURCES_MEDIAN
EXT_SOURCE_mean
EXT_SOURCE_max
EXT_SOURCE_min
EXT_SOURCE_std
EXT_SOURCE_count
NEW_EXT_SOURCES_PROD
NEW_EXT_SOURCES_MAD
NEW_EXT_SOURCES_GEO
DAYS_EMPLOYED_div_BERTH
ANNUITY_div_INCOME
ANNUITY_div_CREDIT
credit_goods_price_ratio
credit_downpayment
USER_AGE
NEW_CAR_TO_BIRTH_RATIO
NEW_CAR_TO_EMPLOY_RATIO
NEW_PHONE_TO_BIRTH_RATIO
NEW_PHONE_TO_EMPLOYED_RATIO
NEW_CREDIT_TO_INCOME_RATIO
NEW_INCOME_CREDIT_PERC
NEW_INCOME_PER_PERSON
app_EXT_SOURCE_prod
app_EXT_SOURCE_1_times_EXT_SOURCE_2
app_EXT_SOURCE_1_times_EXT_SOURCE_3
app_EXT_SOURCE_2_times_EXT_SOURCE_3
app_EXT_SOURCE_1_times_DAYS_EMPLOYED
app_EXT_SOURCE_2_times_DAYS_EMPLOYED
app_EXT_SOURCE_3_times_DAYS_EMPLOYED
app_EXT_SOURCE_1_PER_DAYS_BIRTH
app_EXT_SOURCE_2_PER_DAYS_BIRTH
app_EXT_SOURCE_3_PER_DAYS_BIRTH
app_most_popular_AMT_GOODS_PRICE
app_popular_AMT_GOODS_PRICE
app_OWN_CAR_AGE_div_DAYS_BIRTH
app_OWN_CAR_AGE_div_DAYS_EMPLOYED
app_DAYS_LAST_PHONE_CHANGE_div_DAYS_BIRTH
app_DAYS_LAST_PHONE_CHANGE_div_DAYS_EMPLOYED
app_DAYS_EMPLOYED_PERC
app_DAYS_EMPLOYED_div_DAYS_BIRTH
app_CNT_CHILDREN_div_CNT_FAM_MEMBERS
NAME_CONTRACT_TYPE_Cash_loans
NAME_CONTRACT_TYPE_Revolving_loans
NAME_CONTRACT_TYPE_nan
NAME_TYPE_SUITE_Children
NAME_TYPE_SUITE_Family
NAME_TYPE_SUITE_Group_of_people
NAME_TYPE_SUITE_Other_A
NAME_TYPE_SUITE_Other_B
NAME_TYPE_SUITE_Spouse__partner
NAME_TYPE_SUITE_Unaccompanied
NAME_TYPE_SUITE_nan
NAME_EDUCATION_TYPE_Academic_degree
NAME_EDUCATION_TYPE_Higher_education
NAME_EDUCATION_TYPE_Incomplete_higher
NAME_EDUCATION_TYPE_Lower_secondary
NAME_EDUCATION_TYPE_Secondary___secondary_special
NAME_EDUCATION_TYPE_nan
NAME_HOUSING_TYPE_Co_op_apartment
NAME_HOUSING_TYPE_House___apartment
NAME_HOUSING_TYPE_Municipal_apartment
NAME_HOUSING_TYPE_Office_apartment
NAME_HOUSING_TYPE_Rented_apartment
NAME_HOUSING_TYPE_With_parents
NAME_HOUSING_TYPE_nan
OCCUPATION_TYPE_Accountants
OCCUPATION_TYPE_Cleaning_staff
OCCUPATION_TYPE_Cooking_staff
OCCUPATION_TYPE_Core_staff
OCCUPATION_TYPE_Drivers
OCCUPATION_TYPE_HR_staff
OCCUPATION_TYPE_High_skill_tech_staff
OCCUPATION_TYPE_IT_staff
OCCUPATION_TYPE_Laborers
OCCUPATION_TYPE_Low_skill_Laborers
OCCUPATION_TYPE_Managers
OCCUPATION_TYPE_Medicine_staff
OCCUPATION_TYPE_Private_service_staff
OCCUPATION_TYPE_Realty_agents
OCCUPATION_TYPE_Sales_staff
OCCUPATION_TYPE_Secretaries
OCCUPATION_TYPE_Security_staff
OCCUPATION_TYPE_Waiters_barmen_staff
OCCUPATION_TYPE_nan
WEEKDAY_APPR_PROCESS_START_FRIDAY
WEEKDAY_APPR_PROCESS_START_MONDAY
WEEKDAY_APPR_PROCESS_START_SATURDAY
WEEKDAY_APPR_PROCESS_START_SUNDAY
WEEKDAY_APPR_PROCESS_START_THURSDAY
WEEKDAY_APPR_PROCESS_START_TUESDAY
WEEKDAY_APPR_PROCESS_START_WEDNESDAY
WEEKDAY_APPR_PROCESS_START_nan
ORGANIZATION_TYPE_Advertising
ORGANIZATION_TYPE_Agriculture
ORGANIZATION_TYPE_Bank
ORGANIZATION_TYPE_Business_Entity_Type_1
ORGANIZATION_TYPE_Business_Entity_Type_2
ORGANIZATION_TYPE_Business_Entity_Type_3
ORGANIZATION_TYPE_Cleaning
ORGANIZATION_TYPE_Construction
ORGANIZATION_TYPE_Culture
ORGANIZATION_TYPE_Electricity
ORGANIZATION_TYPE_Emergency
ORGANIZATION_TYPE_Government
ORGANIZATION_TYPE_Hotel
ORGANIZATION_TYPE_Housing
ORGANIZATION_TYPE_Industry__type_1
ORGANIZATION_TYPE_Industry__type_10
ORGANIZATION_TYPE_Industry__type_11
ORGANIZATION_TYPE_Industry__type_12
ORGANIZATION_TYPE_Industry__type_13
ORGANIZATION_TYPE_Industry__type_2
ORGANIZATION_TYPE_Industry__type_3
ORGANIZATION_TYPE_Industry__type_4
ORGANIZATION_TYPE_Industry__type_5
ORGANIZATION_TYPE_Industry__type_6
ORGANIZATION_TYPE_Industry__type_7
ORGANIZATION_TYPE_Industry__type_8
ORGANIZATION_TYPE_Industry__type_9
ORGANIZATION_TYPE_Insurance
ORGANIZATION_TYPE_Kindergarten
ORGANIZATION_TYPE_Legal_Services
ORGANIZATION_TYPE_Medicine
ORGANIZATION_TYPE_Military
ORGANIZATION_TYPE_Mobile
ORGANIZATION_TYPE_Other
ORGANIZATION_TYPE_Police
ORGANIZATION_TYPE_Postal
ORGANIZATION_TYPE_Realtor
ORGANIZATION_TYPE_Religion
ORGANIZATION_TYPE_Restaurant
ORGANIZATION_TYPE_School
ORGANIZATION_TYPE_Security
ORGANIZATION_TYPE_Security_Ministries
ORGANIZATION_TYPE_Self_employed
ORGANIZATION_TYPE_Services
ORGANIZATION_TYPE_Telecom
ORGANIZATION_TYPE_Trade__type_1
ORGANIZATION_TYPE_Trade__type_2
ORGANIZATION_TYPE_Trade__type_3
ORGANIZATION_TYPE_Trade__type_4
ORGANIZATION_TYPE_Trade__type_5
ORGANIZATION_TYPE_Trade__type_6
ORGANIZATION_TYPE_Trade__type_7
ORGANIZATION_TYPE_Transport__type_1
ORGANIZATION_TYPE_Transport__type_2
ORGANIZATION_TYPE_Transport__type_3
ORGANIZATION_TYPE_Transport__type_4
ORGANIZATION_TYPE_University
ORGANIZATION_TYPE_XNA
ORGANIZATION_TYPE_nan
FONDKAPREMONT_MODE_not_specified
FONDKAPREMONT_MODE_org_spec_account
FONDKAPREMONT_MODE_reg_oper_account
FONDKAPREMONT_MODE_reg_oper_spec_account
FONDKAPREMONT_MODE_nan
HOUSETYPE_MODE_block_of_flats
HOUSETYPE_MODE_specific_housing
HOUSETYPE_MODE_terraced_house
HOUSETYPE_MODE_nan
WALLSMATERIAL_MODE_Block
WALLSMATERIAL_MODE_Mixed
WALLSMATERIAL_MODE_Monolithic
WALLSMATERIAL_MODE_Others
WALLSMATERIAL_MODE_Panel
WALLSMATERIAL_MODE_Stone__brick
WALLSMATERIAL_MODE_Wooden
WALLSMATERIAL_MODE_nan
EMERGENCYSTATE_MODE_No
EMERGENCYSTATE_MODE_Yes
EMERGENCYSTATE_MODE_nan
CODE_GENDER_0_0
CODE_GENDER_1_0
CODE_GENDER_nan
FLAG_OWN_CAR_0_0
FLAG_OWN_CAR_1_0
FLAG_OWN_CAR_nan
FLAG_OWN_REALTY_0_0
FLAG_OWN_REALTY_1_0
FLAG_OWN_REALTY_nan
NAME_INCOME_TYPE_0_0
NAME_INCOME_TYPE_1_0
NAME_INCOME_TYPE_2_0
NAME_INCOME_TYPE_3_0
NAME_INCOME_TYPE_4_0
NAME_INCOME_TYPE_5_0
NAME_INCOME_TYPE_6_0
NAME_INCOME_TYPE_nan
NAME_FAMILY_STATUS_0_0
NAME_FAMILY_STATUS_1_0
NAME_FAMILY_STATUS_2_0
NAME_FAMILY_STATUS_3_0
NAME_FAMILY_STATUS_4_0
NAME_FAMILY_STATUS_nan

In [10]:
app_train = df[df['TARGET'].notnull()].copy()
app_test = df[df['TARGET'].isnull()].copy()
app_test = app_test.drop(columns=['TARGET'])

print(app_test.shape)
df.head()

(48744, 313)

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_INCOME_TYPE_4_0,NAME_INCOME_TYPE_5_0,NAME_INCOME_TYPE_6_0,NAME_INCOME_TYPE_nan,NAME_FAMILY_STATUS_0_0,NAME_FAMILY_STATUS_1_0,NAME_FAMILY_STATUS_2_0,NAME_FAMILY_STATUS_3_0,NAME_FAMILY_STATUS_4_0,NAME_FAMILY_STATUS_nan
0,0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018799,-9461,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003542,-16765,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010033,-19046,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008018,-19005,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028656,-19932,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [11]:
app_train = baseline.reduce_mem_usage(app_train)
app_test = baseline.reduce_mem_usage(app_test)
print(app_test.shape)
app_test.head()

Memory usage of dataframe is 334.32 MB
Memory usage of optimization is 350556840.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 52.81 MB
Memory usage of optimization is 55373184.00 MB
Decreased by -104857500.0%
(48744, 313)

,level_0,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_INCOME_TYPE_4_0,NAME_INCOME_TYPE_5_0,NAME_INCOME_TYPE_6_0,NAME_INCOME_TYPE_nan,NAME_FAMILY_STATUS_0_0,NAME_FAMILY_STATUS_1_0,NAME_FAMILY_STATUS_2_0,NAME_FAMILY_STATUS_3_0,NAME_FAMILY_STATUS_4_0,NAME_FAMILY_STATUS_nan
307506,307511,100001,0,135000.0,568800.0,20560.5,450000.0,0.018845,-19241,-2328.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
307507,307512,100005,0,99000.0,222768.0,17370.0,180000.0,0.035797,-18064,-4468.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
307508,307513,100013,0,202500.0,663264.0,69777.0,630000.0,0.019104,-20038,-4456.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
307509,307514,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026398,-13976,-1866.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
307510,307515,100038,1,180000.0,625500.0,32067.0,625500.0,0.010033,-13040,-2192.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [12]:
app_train.head()

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_INCOME_TYPE_4_0,NAME_INCOME_TYPE_5_0,NAME_INCOME_TYPE_6_0,NAME_INCOME_TYPE_nan,NAME_FAMILY_STATUS_0_0,NAME_FAMILY_STATUS_1_0,NAME_FAMILY_STATUS_2_0,NAME_FAMILY_STATUS_3_0,NAME_FAMILY_STATUS_4_0,NAME_FAMILY_STATUS_nan
0,0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018799,-9461,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003542,-16765,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010033,-19046,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008018,-19005,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028656,-19932,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [13]:
x_train = app_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = app_train['TARGET']
id_train = app_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=='O':
        x_train[col] = x_train[col].astype('category')

In [14]:
baseline = Baseline('SK_ID_CURR')

"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246004, 312) (61502, 312)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.759217	valid_1's auc: 0.744259
[200]	training's auc: 0.770645	valid_1's auc: 0.751871
[300]	training's auc: 0.780938	valid_1's auc: 0.757313
[400]	training's auc: 0.79025	valid_1's auc: 0.761884
[500]	training's auc: 0.797876	valid_1's auc: 0.764523
[600]	training's auc: 0.804576	valid_1's auc: 0.766249
[700]	training's auc: 0.810585	valid_1's auc: 0.767559
[800]	training's auc: 0.81626	valid_1's auc: 0.768437
[900]	training's auc: 0.821506	valid_1's auc: 0.769211
[1000]	training's auc: 0.826354	valid_1's auc: 0.769698
[1100]	training's auc: 0.831112	valid_1's auc: 0.770014
[1200]	training's auc: 0.835506	valid_1's auc: 0.770234
[1300]	training's auc: 0.839889	valid_1's auc: 0.770462
[1400]	training's auc: 0.844023	valid_1's auc: 0.770518
[1500]	training's auc: 0.848028	valid_1's auc: 0.770531
[1600]	training's auc: 0.851876	valid_1's auc: 0.770528
[auc] tr:0.850508, va0.7706
-------------------- 1 --------------------
(246005, 312) (61501, 312)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.759467	valid_1's auc: 0.746537
[200]	training's auc: 0.770985	valid_1's auc: 0.753807
[300]	training's auc: 0.781113	valid_1's auc: 0.759574
[400]	training's auc: 0.790093	valid_1's auc: 0.764245
[500]	training's auc: 0.797531	valid_1's auc: 0.766918
[600]	training's auc: 0.804273	valid_1's auc: 0.769083
[700]	training's auc: 0.810419	valid_1's auc: 0.770716
[800]	training's auc: 0.816021	valid_1's auc: 0.771686
[900]	training's auc: 0.821169	valid_1's auc: 0.772494
[1000]	training's auc: 0.826022	valid_1's auc: 0.773173
[1100]	training's auc: 0.830573	valid_1's auc: 0.773575
[1200]	training's auc: 0.835058	valid_1's auc: 0.773773
[1300]	training's auc: 0.839276	valid_1's auc: 0.773856
[1400]	training's auc: 0.843296	valid_1's auc: 0.773926
[1500]	training's auc: 0.847195	valid_1's auc: 0.773967
[1600]	training's auc: 0.851092	valid_1's auc: 0.773995
[1700]	training's auc: 0.85485	valid_1's auc: 0.774017
[1800]	training's auc: 0.858518	valid_1's auc: 0.774052
[auc] tr:0.856843, va0.7741
-------------------- 2 --------------------
(246005, 312) (61501, 312)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.760355	valid_1's auc: 0.73962
[200]	training's auc: 0.772275	valid_1's auc: 0.747102
[300]	training's auc: 0.782518	valid_1's auc: 0.752234
[400]	training's auc: 0.791837	valid_1's auc: 0.756122
[500]	training's auc: 0.799457	valid_1's auc: 0.758696
[600]	training's auc: 0.805981	valid_1's auc: 0.760159
[700]	training's auc: 0.811998	valid_1's auc: 0.761295
[800]	training's auc: 0.817531	valid_1's auc: 0.762137
[900]	training's auc: 0.822745	valid_1's auc: 0.762674
[1000]	training's auc: 0.827589	valid_1's auc: 0.76302
[1100]	training's auc: 0.832065	valid_1's auc: 0.763264
[1200]	training's auc: 0.836499	valid_1's auc: 0.763564
[1300]	training's auc: 0.840711	valid_1's auc: 0.763718
[1400]	training's auc: 0.844774	valid_1's auc: 0.763872
[1500]	training's auc: 0.848587	valid_1's auc: 0.764001
[1600]	training's auc: 0.852312	valid_1's auc: 0.764146
[1700]	training's auc: 0.856089	valid_1's auc: 0.764185
[1800]	training's auc: 0.859723	valid_1's auc: 0.764282
[1900]	training's auc: 0.863206	valid_1's auc: 0.764304
[auc] tr:0.861691, va0.7643
-------------------- 3 --------------------
(246005, 312) (61501, 312)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.758422	valid_1's auc: 0.749249
[200]	training's auc: 0.770056	valid_1's auc: 0.756805
[300]	training's auc: 0.780426	valid_1's auc: 0.762369
[400]	training's auc: 0.789589	valid_1's auc: 0.766612
[500]	training's auc: 0.797347	valid_1's auc: 0.769142
[600]	training's auc: 0.803927	valid_1's auc: 0.770643
[700]	training's auc: 0.810085	valid_1's auc: 0.771792
[800]	training's auc: 0.815659	valid_1's auc: 0.7726
[900]	training's auc: 0.821007	valid_1's auc: 0.773283
[1000]	training's auc: 0.826046	valid_1's auc: 0.773579
[1100]	training's auc: 0.830697	valid_1's auc: 0.773633
[1200]	training's auc: 0.835248	valid_1's auc: 0.773816
[1300]	training's auc: 0.839573	valid_1's auc: 0.773914
[1400]	training's auc: 0.84372	valid_1's auc: 0.773949
[1500]	training's auc: 0.847643	valid_1's auc: 0.774036
[1600]	training's auc: 0.851583	valid_1's auc: 0.774062
[auc] tr:0.851466, va0.7741
-------------------- 4 --------------------
(246005, 312) (61501, 312)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.758338	valid_1's auc: 0.747521
[200]	training's auc: 0.770801	valid_1's auc: 0.754382
[300]	training's auc: 0.78101	valid_1's auc: 0.759715
[400]	training's auc: 0.789828	valid_1's auc: 0.763751
[500]	training's auc: 0.797533	valid_1's auc: 0.766772
[600]	training's auc: 0.804385	valid_1's auc: 0.768696
[700]	training's auc: 0.810715	valid_1's auc: 0.770202
[800]	training's auc: 0.816372	valid_1's auc: 0.771165
[900]	training's auc: 0.821768	valid_1's auc: 0.771896
[1000]	training's auc: 0.826677	valid_1's auc: 0.772404
[1100]	training's auc: 0.831187	valid_1's auc: 0.772634
[1200]	training's auc: 0.835518	valid_1's auc: 0.772852
[1300]	training's auc: 0.839753	valid_1's auc: 0.772974
[1400]	training's auc: 0.843768	valid_1's auc: 0.773108
[1500]	training's auc: 0.847642	valid_1's auc: 0.773188
[1600]	training's auc: 0.851494	valid_1's auc: 0.773269
[1700]	training's auc: 0.855278	valid_1's auc: 0.773308
[1800]	training's auc: 0.858967	valid_1's auc: 0.773392
[1900]	training's auc: 0.862663	valid_1's auc: 0.7734
[auc] tr:0.861265, va0.7734
-------------------- result --------------------
[[0.         0.85050763 0.77058106]
 [1.         0.85684323 0.77408803]
 [2.         0.86169083 0.76434433]
 [3.         0.85146646 0.77408011]
 [4.         0.86126512 0.77342916]]
[cv] tr:0.8564+-0.0047, va:0.7713+-0.0037
[oof]0.7713

In [15]:
imp.sort_values("imp", ascending=False)[:20]

                                      col            imp       imp_std
48                        EXT_SOURCE_mean  331971.567997  18771.893434
160                   NEW_EXT_SOURCES_GEO  157662.372390  19703.916844
154           NEW_CREDIT_TO_ANNUITY_RATIO   67419.006323   1925.305204
162                NEW_EXT_SOURCES_MEDIAN   61744.984181  10721.306062
10                     ANNUITY_div_CREDIT   46700.512096   2733.098096
45                           EXT_SOURCE_3   27432.025223   1494.348750
47                         EXT_SOURCE_max   26683.261575   2766.255220
301   app_EXT_SOURCE_2_times_EXT_SOURCE_3   25822.788961   5071.475174
155             NEW_CREDIT_TO_GOODS_RATIO   24364.195729    689.892938
295       app_EXT_SOURCE_1_PER_DAYS_BIRTH   21841.784029    528.648557
309                    credit_downpayment   21325.931814   1399.328573
291                app_DAYS_EMPLOYED_PERC   20313.051643   1030.558458
29                        DAYS_ID_PUBLISH   19955.054326   1206.017506
302       app_EXT_SOURCE_3_PER_DAYS_BIRTH   19250.235020    961.717161
0                             AMT_ANNUITY   18718.738310   1559.787723
303  app_EXT_SOURCE_3_times_DAYS_EMPLOYED   17729.723513    753.876853
26                             DAYS_BIRTH   17361.988581    513.418091
163                  NEW_EXT_SOURCES_PROD   16720.448606   2788.796435
300  app_EXT_SOURCE_2_times_DAYS_EMPLOYED   16015.984178   1485.177363
30                 DAYS_LAST_PHONE_CHANGE   15983.665028   1116.516131

In [16]:
# データセット
x_test = app_test.drop(columns=['SK_ID_CURR'])
id_test = app_test[['SK_ID_CURR']]

for col in x_test.columns:
    if x_test[col].dtype=='O':
        x_test[col] = x_test[col].astype('category')

In [17]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [18]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering1.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(97488, 2)

   SK_ID_CURR    TARGET
0         NaN  0.031613
1         NaN  0.072152
2         NaN  0.015154
3         NaN  0.037028
4         NaN  0.153376

### CSVの読み込みと前処理

In [19]:
# infをnanへ置換
#app_train = app_train.replace([np.inf, -np.inf], np.nan)
#app_train.head()

In [20]:
# 欠損値補完
#app_train = app_train.fillna(-99999999)
#app_train.head()

In [21]:
# infをnanへ置換
#app_test = app_test.replace([np.inf, -np.inf], np.nan)
#app_test.head()

In [22]:
# 欠損値補完
#app_test = app_test.fillna(-99999999)
#app_test.head()

In [23]:
#app_train_origin = pd.read_csv('./home-credit-default-risk/exports/app_train.csv')
#app_test_origin =  pd.read_csv('./home-credit-default-risk/exports/app_test.csv')
bureau_origin = pd.read_csv('./home-credit-default-risk/bureau.csv')
bureau_balance_origin = pd.read_csv('./home-credit-default-risk/bureau_balance.csv')
pos_cash_balance_origin = pd.read_csv('./home-credit-default-risk/POS_CASH_balance.csv')
credit_card_balance_origin = pd.read_csv('./home-credit-default-risk/credit_card_balance.csv')
previous_application_origin = pd.read_csv('./home-credit-default-risk/previous_application.csv')
installments_payments_origin = pd.read_csv('./home-credit-default-risk/installments_payments.csv')
# custom data
#app_train_loan_from_hc_only_cash_origin = pd.read_csv('./home-credit-default-risk/datasets/app_train_loan_from_hc_only_cash.csv')
#app_test_loan_from_hc_only_cash_origin = pd.read_csv('./home-credit-default-risk/datasets/app_test_loan_from_hc_only_cash.csv')
#app_train_1000_mean_origin = pd.read_csv('./home-credit-default-risk/exports/train_hc_only_cash_installment_payment_ratio_1000_mean_mean.csv')
#app_test_1000_mean_origin = pd.read_csv('./home-credit-default-risk/exports/test_hc_only_cash_installment_payment_ratio_1000_mean_mean.csv')
#app_train_max_installment_ratio_origin = pd.read_csv('./home-credit-default-risk/exports/train_hc_annuity_to_max_installment_ratio.csv')
#app_test_max_installment_ratio_origin = pd.read_csv('./home-credit-default-risk/exports/test_hc_annuity_to_max_installment_ratio.csv')

In [24]:
#app_train = app_train_origin.copy()
#app_test = app_test_origin.copy()
bureau = bureau_origin.copy()
bureau_balance = bureau_balance_origin.copy()
pos_cash_balance = pos_cash_balance_origin.copy()
credit_card_balance = credit_card_balance_origin.copy()
previous_application = previous_application_origin.copy()
installments_payments = installments_payments_origin.copy()
#app_train_1000_mean = app_train_1000_mean_origin.copy()
#app_test_1000_mean = app_test_1000_mean_origin.copy()
#app_train_max_installment_ratio = app_train_max_installment_ratio_origin.copy()
#app_test_max_installment_ratio = app_test_max_installment_ratio_origin.copy()
pos_cash_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [25]:
# infをnanへ置換
bureau = bureau.replace([np.inf, -np.inf], np.nan)
bureau_balance = bureau_balance.replace([np.inf, -np.inf], np.nan)
pos_cash_balance = pos_cash_balance.replace([np.inf, -np.inf], np.nan)
credit_card_balance = credit_card_balance.replace([np.inf, -np.inf], np.nan)
previous_application = previous_application.replace([np.inf, -np.inf], np.nan)
installments_payments = installments_payments.replace([np.inf, -np.inf], np.nan)

pos_cash_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

### pos_cashの紐づけ

In [26]:
baseline = Baseline('SK_ID_CURR')

pos = pos_cash_balance.copy()
pos = baseline.reduce_mem_usage(pos)
print(pos.shape)
pos.head()

Memory usage of dataframe is 610.43 MB
Memory usage of optimization is 290039510.00 MB
Decreased by -47513511.5%
(10001358, 8)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [27]:
pos_ohe = pd.get_dummies(pos, columns=['NAME_CONTRACT_STATUS'], dummy_na=True)
col_ohe = sorted(list(set(pos_ohe.columns) - set(pos.columns)))
print(len(col_ohe))
col_ohe

10

['NAME_CONTRACT_STATUS_Active',
 'NAME_CONTRACT_STATUS_Amortized debt',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Canceled',
 'NAME_CONTRACT_STATUS_Completed',
 'NAME_CONTRACT_STATUS_Demand',
 'NAME_CONTRACT_STATUS_Returned to the store',
 'NAME_CONTRACT_STATUS_Signed',
 'NAME_CONTRACT_STATUS_XNA',
 'NAME_CONTRACT_STATUS_nan']

In [28]:
pos_ohe_agg = pos_ohe.groupby('SK_ID_CURR').agg({
    "MONTHS_BALANCE": ["mean", "std", "min", "max"]
    ,"CNT_INSTALMENT": ["mean", "std", "min", "max"]
    ,"CNT_INSTALMENT_FUTURE": ["mean", "std", "min", "max"]
    ,"SK_DPD": ["mean", "std", "min", "max"]
    ,"SK_DPD_DEF": ["mean", "std", "min", "max"]
    # カテゴリ変数をone-hot-encodingした値の集約
    ,"NAME_CONTRACT_STATUS_Active": ["mean"]
    ,"NAME_CONTRACT_STATUS_Amortized debt": ["mean"]
    ,"NAME_CONTRACT_STATUS_Approved": ["mean"]
    ,"NAME_CONTRACT_STATUS_Canceled": ["mean"]
    ,"NAME_CONTRACT_STATUS_Completed": ["mean"]
    ,"NAME_CONTRACT_STATUS_Demand": ["mean"]
    ,"NAME_CONTRACT_STATUS_Returned to the store": ["mean"]
    ,"NAME_CONTRACT_STATUS_Signed": ["mean"]
    ,"NAME_CONTRACT_STATUS_XNA": ["mean"]
    ,"NAME_CONTRACT_STATUS_nan": ["mean"]
    # IDのユニーク数をカウント
    ,"SK_ID_PREV":["count", "nunique"]
})

# カラム名の付与
pos_ohe_agg.columns = [i + "_" + j for i,j in pos_ohe_agg.columns]
pos_ohe_agg = pos_ohe_agg.reset_index(drop=False)

print(pos_ohe_agg.shape)
pos_ohe_agg.head()

(337252, 33)

,SK_ID_CURR,MONTHS_BALANCE_mean,MONTHS_BALANCE_std,MONTHS_BALANCE_min,MONTHS_BALANCE_max,CNT_INSTALMENT_mean,CNT_INSTALMENT_std,CNT_INSTALMENT_min,CNT_INSTALMENT_max,CNT_INSTALMENT_FUTURE_mean,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100001,-72.555556,20.863312,-96,-53,4.000000,0.000000,4.0,4.0,1.444444,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9,2
1,100002,-10.000000,5.627314,-19,-1,24.000000,0.000000,24.0,24.0,15.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,19,1
2,100003,-43.785714,24.640162,-77,-18,10.107142,2.806597,6.0,12.0,5.785714,...,0.0,0.0,0.071429,0.0,0.0,0.000000,0.0,0.0,28,3
3,100004,-25.500000,1.290994,-27,-24,3.750000,0.500000,3.0,4.0,2.250000,...,0.0,0.0,0.250000,0.0,0.0,0.000000,0.0,0.0,4,1
4,100005,-20.000000,3.316625,-25,-15,11.700000,0.948683,9.0,12.0,7.200000,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11,1

In [29]:
### infをnanへ置換
pos_ohe_agg = pos_ohe_agg.replace([np.inf, -np.inf], np.nan)
pos_ohe_agg.head()

,SK_ID_CURR,MONTHS_BALANCE_mean,MONTHS_BALANCE_std,MONTHS_BALANCE_min,MONTHS_BALANCE_max,CNT_INSTALMENT_mean,CNT_INSTALMENT_std,CNT_INSTALMENT_min,CNT_INSTALMENT_max,CNT_INSTALMENT_FUTURE_mean,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100001,-72.555556,20.863312,-96,-53,4.000000,0.000000,4.0,4.0,1.444444,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9,2
1,100002,-10.000000,5.627314,-19,-1,24.000000,0.000000,24.0,24.0,15.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,19,1
2,100003,-43.785714,24.640162,-77,-18,10.107142,2.806597,6.0,12.0,5.785714,...,0.0,0.0,0.071429,0.0,0.0,0.000000,0.0,0.0,28,3
3,100004,-25.500000,1.290994,-27,-24,3.750000,0.500000,3.0,4.0,2.250000,...,0.0,0.0,0.250000,0.0,0.0,0.000000,0.0,0.0,4,1
4,100005,-20.000000,3.316625,-25,-15,11.700000,0.948683,9.0,12.0,7.200000,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11,1

In [30]:
df_train = pd.merge(app_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307506, 346)

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018799,-9461,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003542,-16765,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010033,-19046,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008018,-19005,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028656,-19932,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [31]:
### テーブル結合
df_test = pd.merge(app_test, pos_ohe_agg, on='SK_ID_CURR', how="left")
print(df_test.shape)
df_test.head()

(48744, 345)

,level_0,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,307511,100001,0,135000.0,568800.0,20560.5,450000.0,0.018845,-19241,-2328.0,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9.0,2.0
1,307512,100005,0,99000.0,222768.0,17370.0,180000.0,0.035797,-18064,-4468.0,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11.0,1.0
2,307513,100013,0,202500.0,663264.0,69777.0,630000.0,0.019104,-20038,-4456.0,...,0.0,0.0,0.083333,0.0,0.0,0.027778,0.0,0.0,36.0,3.0
3,307514,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026398,-13976,-1866.0,...,0.0,0.0,0.064516,0.0,0.0,0.000000,0.0,0.0,31.0,2.0
4,307515,100038,1,180000.0,625500.0,32067.0,625500.0,0.010033,-13040,-2192.0,...,0.0,0.0,0.076923,0.0,0.0,0.000000,0.0,0.0,13.0,1.0

In [32]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(df_test.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')

In [33]:
### Yao-Jhonson変換
for column in encoding_columns:
    modules.process_yj_convert(df_train, df_test, column, [column])

df_train.head()

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,-2.196836,100002,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
1,-2.196523,100003,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
2,-2.196256,100004,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
3,-2.196014,100006,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
4,-2.195789,100007,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [34]:
### indexを設定
df_train = df_train.set_index('SK_ID_CURR')
df_test = df_test.set_index('SK_ID_CURR')
df_train.head()

,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,0.846146,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,0.295507,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,1.649642,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,-0.647130,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,-0.646418,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [35]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(df_train, df_test, num_cols)
        
df_train.head()

,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,0.846146,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,0.295507,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,1.649642,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,-0.647130,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,-0.646418,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [36]:
### indexを削除
df_train = df_train.reset_index()
df_test = df_test.reset_index()
df_train.head()

,SK_ID_CURR,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
1,100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
2,100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
3,100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
4,100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [37]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 487.99 MB
Memory usage of optimization is 425588432.00 MB
Decreased by -87213196.7%
Memory usage of dataframe is 77.17 MB
Memory usage of optimization is 67266848.00 MB
Decreased by -87170703.9%

,SK_ID_CURR,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,-2.197266,1.0,-0.65332,0.646973,-0.283936,0.026932,-0.324463,0.047089,1.597656,...,-0.11731,-0.006439,-1.882812,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-0.187744,-1.255859
1,100003,-2.197266,0.0,-0.65332,1.212891,1.495117,0.744629,1.433594,-1.730469,-0.222778,...,-0.11731,-0.006439,-0.045929,-0.032837,-0.122192,-0.493652,-0.002628,0.0,0.304688,0.504395
2,100004,-2.195312,0.0,-0.65332,-1.654297,-1.648438,-2.082031,-1.533203,-0.862793,-0.716309,...,-0.11731,-0.006439,2.214844,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-2.039062,-1.255859
3,100006,-2.195312,0.0,-0.65332,-0.176147,-0.635742,0.377930,-0.549316,-1.112305,-0.708008,...,-0.11731,-0.006439,0.406006,-0.032837,8.179688,-0.493652,-0.002628,0.0,-0.061310,0.504395
4,100007,-2.195312,0.0,-0.65332,-0.395020,0.042358,-0.197998,0.210327,0.799805,-0.901367,...,-0.11731,-0.006439,-0.620117,-0.032837,-0.122192,1.480469,-0.002628,0.0,1.409180,1.246094

In [38]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [39]:
baseline = Baseline('SK_ID_CURR')

"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246004, 344) (61502, 344)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.764512	valid_1's auc: 0.746438
[200]	training's auc: 0.777517	valid_1's auc: 0.754796
[300]	training's auc: 0.788828	valid_1's auc: 0.760801
[400]	training's auc: 0.798306	valid_1's auc: 0.765495
[500]	training's auc: 0.805992	valid_1's auc: 0.768355
[600]	training's auc: 0.812846	valid_1's auc: 0.770316
[700]	training's auc: 0.819063	valid_1's auc: 0.771835
[800]	training's auc: 0.824847	valid_1's auc: 0.772954
[900]	training's auc: 0.830259	valid_1's auc: 0.773721
[1000]	training's auc: 0.8354	valid_1's auc: 0.774309
[1100]	training's auc: 0.840114	valid_1's auc: 0.774729
[1200]	training's auc: 0.844575	valid_1's auc: 0.774944
[1300]	training's auc: 0.848983	valid_1's auc: 0.775066
[1400]	training's auc: 0.853153	valid_1's auc: 0.775306
[1500]	training's auc: 0.857175	valid_1's auc: 0.775658
[1600]	training's auc: 0.861055	valid_1's auc: 0.775777
[1700]	training's auc: 0.864852	valid_1's auc: 0.775878
[1800]	training's auc: 0.868563	valid_1's auc: 0.775923
[1900]	training's auc: 0.87232	valid_1's auc: 0.77586
[auc] tr:0.869746, va0.7760
-------------------- 1 --------------------
(246005, 344) (61501, 344)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.76386	valid_1's auc: 0.748935
[200]	training's auc: 0.777475	valid_1's auc: 0.757849
[300]	training's auc: 0.788492	valid_1's auc: 0.764056
[400]	training's auc: 0.797951	valid_1's auc: 0.769226
[500]	training's auc: 0.805561	valid_1's auc: 0.772171
[600]	training's auc: 0.812312	valid_1's auc: 0.774172
[700]	training's auc: 0.818595	valid_1's auc: 0.775482
[800]	training's auc: 0.824628	valid_1's auc: 0.776729
[900]	training's auc: 0.830113	valid_1's auc: 0.777426
[1000]	training's auc: 0.835264	valid_1's auc: 0.777966
[1100]	training's auc: 0.840006	valid_1's auc: 0.778273
[1200]	training's auc: 0.844461	valid_1's auc: 0.778512
[1300]	training's auc: 0.84883	valid_1's auc: 0.778784
[1400]	training's auc: 0.853133	valid_1's auc: 0.778898
[1500]	training's auc: 0.857127	valid_1's auc: 0.778992
[auc] tr:0.856608, va0.7790
-------------------- 2 --------------------
(246005, 344) (61501, 344)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.764433	valid_1's auc: 0.744281
[200]	training's auc: 0.777812	valid_1's auc: 0.753425
[300]	training's auc: 0.789164	valid_1's auc: 0.759859
[400]	training's auc: 0.798791	valid_1's auc: 0.764502
[500]	training's auc: 0.806604	valid_1's auc: 0.767109
[600]	training's auc: 0.81336	valid_1's auc: 0.768862
[700]	training's auc: 0.819556	valid_1's auc: 0.770161
[800]	training's auc: 0.82525	valid_1's auc: 0.770932
[900]	training's auc: 0.830661	valid_1's auc: 0.771561
[1000]	training's auc: 0.835786	valid_1's auc: 0.772053
[1100]	training's auc: 0.840429	valid_1's auc: 0.772556
[1200]	training's auc: 0.845007	valid_1's auc: 0.772902
[1300]	training's auc: 0.849281	valid_1's auc: 0.773193
[1400]	training's auc: 0.85352	valid_1's auc: 0.773382
[1500]	training's auc: 0.857603	valid_1's auc: 0.773597
[1600]	training's auc: 0.861438	valid_1's auc: 0.773831
[1700]	training's auc: 0.865248	valid_1's auc: 0.773938
[1800]	training's auc: 0.868951	valid_1's auc: 0.774032
[1900]	training's auc: 0.872433	valid_1's auc: 0.774078
[2000]	training's auc: 0.875897	valid_1's auc: 0.774112
[auc] tr:0.872851, va0.7741
-------------------- 3 --------------------
(246005, 344) (61501, 344)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.762656	valid_1's auc: 0.751095
[200]	training's auc: 0.776181	valid_1's auc: 0.760813
[300]	training's auc: 0.787297	valid_1's auc: 0.767076
[400]	training's auc: 0.796856	valid_1's auc: 0.771571
[500]	training's auc: 0.804673	valid_1's auc: 0.774319
[600]	training's auc: 0.811519	valid_1's auc: 0.776181
[700]	training's auc: 0.817867	valid_1's auc: 0.77755
[800]	training's auc: 0.823837	valid_1's auc: 0.77853
[900]	training's auc: 0.82931	valid_1's auc: 0.778976
[1000]	training's auc: 0.83426	valid_1's auc: 0.779322
[1100]	training's auc: 0.839069	valid_1's auc: 0.779566
[1200]	training's auc: 0.843617	valid_1's auc: 0.779729
[1300]	training's auc: 0.848034	valid_1's auc: 0.779992
[1400]	training's auc: 0.852395	valid_1's auc: 0.78011
[1500]	training's auc: 0.856472	valid_1's auc: 0.780311
[1600]	training's auc: 0.860325	valid_1's auc: 0.780448
[1700]	training's auc: 0.864068	valid_1's auc: 0.780446
[auc] tr:0.861825, va0.7805
-------------------- 4 --------------------
(246005, 344) (61501, 344)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.76325	valid_1's auc: 0.750618
[200]	training's auc: 0.776802	valid_1's auc: 0.758928
[300]	training's auc: 0.788017	valid_1's auc: 0.765131
[400]	training's auc: 0.797318	valid_1's auc: 0.76972
[500]	training's auc: 0.805147	valid_1's auc: 0.772826
[600]	training's auc: 0.81201	valid_1's auc: 0.774828
[700]	training's auc: 0.818292	valid_1's auc: 0.776305
[800]	training's auc: 0.824227	valid_1's auc: 0.777451
[900]	training's auc: 0.829832	valid_1's auc: 0.778334
[1000]	training's auc: 0.835002	valid_1's auc: 0.778765
[1100]	training's auc: 0.840009	valid_1's auc: 0.779061
[1200]	training's auc: 0.84472	valid_1's auc: 0.779332
[1300]	training's auc: 0.849112	valid_1's auc: 0.779675
[1400]	training's auc: 0.853402	valid_1's auc: 0.779993
[1500]	training's auc: 0.857463	valid_1's auc: 0.780122
[1600]	training's auc: 0.861442	valid_1's auc: 0.780199
[1700]	training's auc: 0.86517	valid_1's auc: 0.780183
[auc] tr:0.863838, va0.7802
-------------------- result --------------------
[[0.         0.86974648 0.77596454]
 [1.         0.85660849 0.77902384]
 [2.         0.87285116 0.77413954]
 [3.         0.86182521 0.78050299]
 [4.         0.86383837 0.78023125]]
[cv] tr:0.8650+-0.0058, va:0.7780+-0.0025
[oof]0.7779

In [40]:
imp.sort_values("imp", ascending=False)[:10]

                                     col            imp       imp_std
56                       EXT_SOURCE_mean  321172.876397  18754.741575
182                  NEW_EXT_SOURCES_GEO  165255.563773  13054.771304
184               NEW_EXT_SOURCES_MEDIAN   57047.194712  12382.094082
176          NEW_CREDIT_TO_ANNUITY_RATIO   51616.929113   1088.132902
10                    ANNUITY_div_CREDIT   43046.548645   3830.491827
333  app_EXT_SOURCE_2_times_EXT_SOURCE_3   27987.619144   2839.886640
53                          EXT_SOURCE_3   27681.110466   2606.986520
21            CNT_INSTALMENT_FUTURE_mean   26454.257148    991.878577
55                        EXT_SOURCE_max   25917.402562   6346.193082
177            NEW_CREDIT_TO_GOODS_RATIO   23318.586936    926.782858

In [41]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [42]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [43]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering2.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.039484
1      100005  0.069016
2      100013  0.023776
3      100028  0.040394
4      100038  0.171242

In [44]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [45]:
#baseline = Baseline('SK_ID_CURR')

#sampler = optuna.samplers.TPESampler(seed=123)
#study = optuna.create_study(sampler=sampler, direction='maximize')
#study.optimize(objective, n_trials=50, n_jobs=5)

In [46]:
#trial = study.best_trial
#print("auc(best)={:.4f}".format(trial.value))
#display(trial.params)

In [47]:
#params_best = trial.params
#params_best.update(params_base)
#display(params_best)

In [48]:
#train_oof, imp, metrics = baseline.train_lgb(x_train
#                                    ,y_train
#                                    ,id_train
#                                    ,list_nfold=[0,1,2,3,4]
#                                    ,n_splits=5
#                                    ,params=params_best)

In [49]:
# 推論用データセットの作成
#x_test = df_test.drop(columns=['SK_ID_CURR'])
#id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
#for col in x_test.columns:
#    if x_test[col].dtype=="O":
#        x_test[col] = x_test[col].astype('category')

# predict
#test_pred = baseline.predict_lgb(x_test
#                       ,id_test
#                       ,list_nfold=[0,1,2,3,4])

# make submission-file
#df_submit = test_pred.rename(columns={"pred":"TARGET"})
#print(df_submit.shape)
#display(df_submit.head())
#df_submit.to_csv("./home-credit-default-risk/submit/submission_HyperParameterTuning.csv", index=None)

### ### credit card blanceの読み込み

In [50]:
credit = credit_card_balance_origin.copy()
cerdit = baseline.reduce_mem_usage(credit)
print(credit.shape)
credit.head()

Memory usage of dataframe is 673.88 MB
Memory usage of optimization is 334107272.00 MB
Decreased by -49579318.7%
(3840312, 23)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970001,135000,0.0,877.5,0.0,877.5,1700.324951,...,0.000000,0.000000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.554688,45000,2250.0,2250.0,0.0,0.0,2250.000000,...,64875.554688,64875.554688,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.224609,450000,0.0,0.0,0.0,0.0,2250.000000,...,31460.085938,31460.085938,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.109375,225000,2250.0,2250.0,0.0,0.0,11795.759766,...,233048.968750,233048.968750,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.468750,450000,0.0,11547.0,0.0,11547.0,22924.890625,...,453919.468750,453919.468750,0.0,1,0.0,1.0,101.0,Active,0,0

In [51]:
# one-hotencoding(処理対象カラムを取得)
encoding_columns = []

for col in credit.columns:
    if credit[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

encoding_columns

NAME_CONTRACT_STATUS

['NAME_CONTRACT_STATUS']

In [52]:
# one-hot-encoding
for col in encoding_columns:
    credit_ohe = pd.get_dummies(credit, columns=[col], dummy_na=True)
    col_ohe = sorted(list(set(credit_ohe.columns) - set(credit.columns)))

print(len(col_ohe))
col_ohe

8

['NAME_CONTRACT_STATUS_Active',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Completed',
 'NAME_CONTRACT_STATUS_Demand',
 'NAME_CONTRACT_STATUS_Refused',
 'NAME_CONTRACT_STATUS_Sent proposal',
 'NAME_CONTRACT_STATUS_Signed',
 'NAME_CONTRACT_STATUS_nan']

In [53]:
print(credit.columns)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [54]:
credit_ohe_agg = credit_ohe.groupby('SK_ID_CURR').agg(
    {
        # 数値変数の集約
        'SK_ID_CURR': ['mean', 'std', 'min', 'max']
        ,'MONTHS_BALANCE': ['mean', 'std', 'min', 'max']
        ,'AMT_BALANCE': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_LIMIT_ACTUAL': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_ATM_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_OTHER_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_POS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_INST_MIN_REGULARITY': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT_TOTAL_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_RECEIVABLE_PRINCIPAL': ['mean', 'std', 'min', 'max']
        ,'AMT_RECIVABLE': ['mean', 'std', 'min', 'max']
        ,'AMT_TOTAL_RECEIVABLE': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_ATM_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_OTHER_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_POS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_INSTALMENT_MATURE_CUM': ['mean', 'std', 'min', 'max']
        ,'SK_DPD': ['mean', 'std', 'min', 'max']
        ,'SK_DPD_DEF': ['mean', 'std', 'min', 'max']
        # 
        ,'NAME_CONTRACT_STATUS_Active': ['mean']
        ,'NAME_CONTRACT_STATUS_Approved': ['mean']
        ,'NAME_CONTRACT_STATUS_Completed': ['mean']
        ,'NAME_CONTRACT_STATUS_Demand': ['mean']
        ,'NAME_CONTRACT_STATUS_Refused': ['mean']
        ,'NAME_CONTRACT_STATUS_Sent proposal': ['mean']
        ,'NAME_CONTRACT_STATUS_Signed': ['mean']
        ,'NAME_CONTRACT_STATUS_nan': ['mean']
        # IDのユニーク数をカウント
        ,"SK_ID_PREV":["count", "nunique"]
    }
)

# カラム名の付与
credit_ohe_agg.columns = [i + "_" + j for i,j in credit_ohe_agg.columns]
credit_ohe_agg = credit_ohe_agg.reset_index(drop=False)

print(credit_ohe_agg.shape)
credit_ohe_agg.head()

(103558, 95)

,SK_ID_CURR,SK_ID_CURR_mean,SK_ID_CURR_std,SK_ID_CURR_min,SK_ID_CURR_max,MONTHS_BALANCE_mean,MONTHS_BALANCE_std,MONTHS_BALANCE_min,MONTHS_BALANCE_max,AMT_BALANCE_mean,...,NAME_CONTRACT_STATUS_Active_mean,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Refused_mean,NAME_CONTRACT_STATUS_Sent proposal_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100006,100006.0,0.0,100006,100006,-3.5,1.870829,-6,-1,0.000000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,6,1
1,100011,100011.0,0.0,100011,100011,-38.5,21.505813,-75,-2,54482.109375,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,74,1
2,100013,100013.0,0.0,100013,100013,-48.5,27.856777,-96,-1,18159.919922,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,96,1
3,100021,100021.0,0.0,100021,100021,-10.0,5.049752,-18,-2,0.000000,...,0.411765,0.0,0.588235,0.0,0.0,0.0,0.0,0.0,17,1
4,100023,100023.0,0.0,100023,100023,-7.5,2.449490,-11,-4,0.000000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,8,1

In [55]:
# infをnanへ置換
credit_ohe_agg = credit_ohe_agg.replace([np.inf, -np.inf], np.nan)

In [56]:
df_train = pd.merge(app_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307506, 440)

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
0,0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018799,-9461,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003542,-16765,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010033,-19046,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008018,-19005,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028656,-19932,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [57]:
# テーブル結合
df_test = pd.merge(app_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_test.shape)
df_test.head()

(48744, 439)

,level_0,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
0,307511,100001,0,135000.0,568800.0,20560.5,450000.0,0.018845,-19241,-2328.0,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9.0,2.0
1,307512,100005,0,99000.0,222768.0,17370.0,180000.0,0.035797,-18064,-4468.0,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11.0,1.0
2,307513,100013,0,202500.0,663264.0,69777.0,630000.0,0.019104,-20038,-4456.0,...,0.0,0.0,0.083333,0.0,0.0,0.027778,0.0,0.0,36.0,3.0
3,307514,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026398,-13976,-1866.0,...,0.0,0.0,0.064516,0.0,0.0,0.000000,0.0,0.0,31.0,2.0
4,307515,100038,1,180000.0,625500.0,32067.0,625500.0,0.010033,-13040,-2192.0,...,0.0,0.0,0.076923,0.0,0.0,0.000000,0.0,0.0,13.0,1.0

In [58]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(df_test.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')

In [59]:
### Yao-Jhonson変換
for column in encoding_columns:
    modules.process_yj_convert(df_train, df_test, column, [column])

df_train.head()

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
0,-2.196836,100002,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
1,-2.196523,100003,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
2,-2.196256,100004,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
3,-2.196014,100006,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
4,-2.195789,100007,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [60]:
### indexを設定
df_train = df_train.set_index('SK_ID_CURR')
df_test = df_test.set_index('SK_ID_CURR')
df_train.head()

,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,0.846146,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,0.295507,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,1.649642,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,-0.647130,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,-0.646418,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [61]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(df_train, df_test, num_cols)
        
df_train.head()

,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,0.846146,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,0.295507,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,1.649642,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,-0.647130,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,-0.646418,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [62]:
### indexを削除
df_train = df_train.reset_index()
df_test = df_test.reset_index()
df_train.head()

,SK_ID_CURR,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
0,100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
1,100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
2,100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
3,100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
4,100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [63]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 655.73 MB
Memory usage of optimization is 541210688.00 MB
Decreased by -82535403.3%
Memory usage of dataframe is 103.76 MB
Memory usage of optimization is 85594592.00 MB
Decreased by -82495421.6%

,SK_ID_CURR,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
0,100002,-2.197266,1.0,-0.65332,0.646973,-0.283936,0.026932,-0.324463,0.047089,1.597656,...,-0.11731,-0.006439,-1.882812,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-0.187744,-1.255859
1,100003,-2.197266,0.0,-0.65332,1.212891,1.495117,0.744629,1.433594,-1.730469,-0.222778,...,-0.11731,-0.006439,-0.045929,-0.032837,-0.122192,-0.493652,-0.002628,0.0,0.304688,0.504395
2,100004,-2.195312,0.0,-0.65332,-1.654297,-1.648438,-2.082031,-1.533203,-0.862793,-0.716309,...,-0.11731,-0.006439,2.214844,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-2.039062,-1.255859
3,100006,-2.195312,0.0,-0.65332,-0.176147,-0.635742,0.377930,-0.549316,-1.112305,-0.708008,...,-0.11731,-0.006439,0.406006,-0.032837,8.179688,-0.493652,-0.002628,0.0,-0.061310,0.504395
4,100007,-2.195312,0.0,-0.65332,-0.395020,0.042358,-0.197998,0.210327,0.799805,-0.901367,...,-0.11731,-0.006439,-0.620117,-0.032837,-0.122192,1.480469,-0.002628,0.0,1.409180,1.246094

In [64]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [65]:
baseline = Baseline('SK_ID_CURR')

"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246004, 438) (61502, 438)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.767812	valid_1's auc: 0.748247
[200]	training's auc: 0.780974	valid_1's auc: 0.756657
[300]	training's auc: 0.791902	valid_1's auc: 0.762252
[400]	training's auc: 0.801195	valid_1's auc: 0.766993
[500]	training's auc: 0.808906	valid_1's auc: 0.770034
[600]	training's auc: 0.815631	valid_1's auc: 0.771957
[700]	training's auc: 0.821832	valid_1's auc: 0.773542
[800]	training's auc: 0.827625	valid_1's auc: 0.774697
[900]	training's auc: 0.833005	valid_1's auc: 0.775492
[1000]	training's auc: 0.838091	valid_1's auc: 0.77615
[1100]	training's auc: 0.84284	valid_1's auc: 0.776602
[1200]	training's auc: 0.847428	valid_1's auc: 0.777
[1300]	training's auc: 0.85169	valid_1's auc: 0.777262
[1400]	training's auc: 0.855762	valid_1's auc: 0.777447
[1500]	training's auc: 0.859644	valid_1's auc: 0.777569
[1600]	training's auc: 0.863372	valid_1's auc: 0.777759
[1700]	training's auc: 0.867031	valid_1's auc: 0.777911
[1800]	training's auc: 0.87052	valid_1's auc: 0.778118
[1900]	training's auc: 0.874124	valid_1's auc: 0.77822
[2000]	training's auc: 0.877566	valid_1's auc: 0.778332
[2100]	training's auc: 0.880794	valid_1's auc: 0.778418
[2200]	training's auc: 0.884009	valid_1's auc: 0.778467
[2300]	training's auc: 0.887183	valid_1's auc: 0.778512
[auc] tr:0.886107, va0.7786
-------------------- 1 --------------------
(246005, 438) (61501, 438)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.766915	valid_1's auc: 0.752523
[200]	training's auc: 0.780564	valid_1's auc: 0.760901
[300]	training's auc: 0.791632	valid_1's auc: 0.767262
[400]	training's auc: 0.800867	valid_1's auc: 0.772173
[500]	training's auc: 0.808446	valid_1's auc: 0.775367
[600]	training's auc: 0.815277	valid_1's auc: 0.777449
[700]	training's auc: 0.821569	valid_1's auc: 0.779132
[800]	training's auc: 0.82736	valid_1's auc: 0.780285
[900]	training's auc: 0.832921	valid_1's auc: 0.781262
[1000]	training's auc: 0.837995	valid_1's auc: 0.781808
[1100]	training's auc: 0.842891	valid_1's auc: 0.782277
[1200]	training's auc: 0.847417	valid_1's auc: 0.782491
[1300]	training's auc: 0.851652	valid_1's auc: 0.782613
[1400]	training's auc: 0.855682	valid_1's auc: 0.782709
[1500]	training's auc: 0.859627	valid_1's auc: 0.782889
[1600]	training's auc: 0.863502	valid_1's auc: 0.783001
[1700]	training's auc: 0.867216	valid_1's auc: 0.783108
[1800]	training's auc: 0.870678	valid_1's auc: 0.78314
[1900]	training's auc: 0.874209	valid_1's auc: 0.78318
[2000]	training's auc: 0.877512	valid_1's auc: 0.783265
[auc] tr:0.877096, va0.7833
-------------------- 2 --------------------
(246005, 438) (61501, 438)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.7675	valid_1's auc: 0.74669
[200]	training's auc: 0.781138	valid_1's auc: 0.755855
[300]	training's auc: 0.792417	valid_1's auc: 0.762353
[400]	training's auc: 0.801972	valid_1's auc: 0.766699
[500]	training's auc: 0.809767	valid_1's auc: 0.769475
[600]	training's auc: 0.816396	valid_1's auc: 0.771202
[700]	training's auc: 0.822546	valid_1's auc: 0.772452
[800]	training's auc: 0.828196	valid_1's auc: 0.773337
[900]	training's auc: 0.833704	valid_1's auc: 0.774142
[1000]	training's auc: 0.838855	valid_1's auc: 0.7747
[1100]	training's auc: 0.843451	valid_1's auc: 0.775091
[1200]	training's auc: 0.84793	valid_1's auc: 0.775399
[1300]	training's auc: 0.85215	valid_1's auc: 0.775639
[1400]	training's auc: 0.856246	valid_1's auc: 0.775721
[1500]	training's auc: 0.860113	valid_1's auc: 0.775937
[1600]	training's auc: 0.86377	valid_1's auc: 0.776066
[1700]	training's auc: 0.867386	valid_1's auc: 0.776135
[1800]	training's auc: 0.87102	valid_1's auc: 0.776235
[1900]	training's auc: 0.87445	valid_1's auc: 0.77628
[2000]	training's auc: 0.87763	valid_1's auc: 0.77636
[2100]	training's auc: 0.880835	valid_1's auc: 0.77642
[auc] tr:0.880516, va0.7764
-------------------- 3 --------------------
(246005, 438) (61501, 438)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.765813	valid_1's auc: 0.753591
[200]	training's auc: 0.779428	valid_1's auc: 0.763023
[300]	training's auc: 0.790771	valid_1's auc: 0.769664
[400]	training's auc: 0.800161	valid_1's auc: 0.773762
[500]	training's auc: 0.807925	valid_1's auc: 0.776462
[600]	training's auc: 0.814869	valid_1's auc: 0.77849
[700]	training's auc: 0.821102	valid_1's auc: 0.77969
[800]	training's auc: 0.827006	valid_1's auc: 0.780594
[900]	training's auc: 0.832479	valid_1's auc: 0.781615
[1000]	training's auc: 0.837557	valid_1's auc: 0.782045
[1100]	training's auc: 0.842408	valid_1's auc: 0.78236
[1200]	training's auc: 0.846891	valid_1's auc: 0.78252
[1300]	training's auc: 0.851257	valid_1's auc: 0.782756
[1400]	training's auc: 0.855332	valid_1's auc: 0.782918
[1500]	training's auc: 0.859172	valid_1's auc: 0.783117
[1600]	training's auc: 0.862917	valid_1's auc: 0.783205
[1700]	training's auc: 0.86668	valid_1's auc: 0.783377
[1800]	training's auc: 0.87029	valid_1's auc: 0.783391
[1900]	training's auc: 0.873955	valid_1's auc: 0.78351
[2000]	training's auc: 0.877492	valid_1's auc: 0.783555
[2100]	training's auc: 0.880791	valid_1's auc: 0.78358
[2200]	training's auc: 0.884028	valid_1's auc: 0.78365
[auc] tr:0.882610, va0.7837
-------------------- 4 --------------------
(246005, 438) (61501, 438)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.766131	valid_1's auc: 0.753492
[200]	training's auc: 0.779968	valid_1's auc: 0.761971
[300]	training's auc: 0.791259	valid_1's auc: 0.768329
[400]	training's auc: 0.800643	valid_1's auc: 0.773081
[500]	training's auc: 0.808475	valid_1's auc: 0.776268
[600]	training's auc: 0.815268	valid_1's auc: 0.778457
[700]	training's auc: 0.821507	valid_1's auc: 0.779889
[800]	training's auc: 0.827414	valid_1's auc: 0.781006
[900]	training's auc: 0.832849	valid_1's auc: 0.78192
[1000]	training's auc: 0.838101	valid_1's auc: 0.782511
[1100]	training's auc: 0.843006	valid_1's auc: 0.782953
[1200]	training's auc: 0.847621	valid_1's auc: 0.783239
[1300]	training's auc: 0.851937	valid_1's auc: 0.783475
[1400]	training's auc: 0.855978	valid_1's auc: 0.783603
[1500]	training's auc: 0.860013	valid_1's auc: 0.783724
[1600]	training's auc: 0.863855	valid_1's auc: 0.783839
[1700]	training's auc: 0.867448	valid_1's auc: 0.783893
[1800]	training's auc: 0.870931	valid_1's auc: 0.783954
[1900]	training's auc: 0.874463	valid_1's auc: 0.784021
[2000]	training's auc: 0.877821	valid_1's auc: 0.7841
[2100]	training's auc: 0.880981	valid_1's auc: 0.784038
[auc] tr:0.878037, va0.7841
-------------------- result --------------------
[[0.         0.88610705 0.77856054]
 [1.         0.87709594 0.78327095]
 [2.         0.88051644 0.77642517]
 [3.         0.88261018 0.78366731]
 [4.         0.8780374  0.78411378]]
[cv] tr:0.8809+-0.0033, va:0.7812+-0.0031
[oof]0.7812

In [66]:
imp.sort_values("imp", ascending=False)[:20]

                                     col            imp       imp_std
124                      EXT_SOURCE_mean  302329.710254  24999.089244
262                  NEW_EXT_SOURCES_GEO  163874.275361  10040.188080
264               NEW_EXT_SOURCES_MEDIAN   66567.102078  13029.996395
256          NEW_CREDIT_TO_ANNUITY_RATIO   52214.180928   2804.288391
58                    ANNUITY_div_CREDIT   38007.804392   1901.739965
427  app_EXT_SOURCE_2_times_EXT_SOURCE_3   28801.845195   2899.728646
123                       EXT_SOURCE_max   27497.042486   3719.016358
121                         EXT_SOURCE_3   26610.854641   2436.383451
85            CNT_INSTALMENT_FUTURE_mean   25392.509985   1036.462194
195                 MONTHS_BALANCE_std_y   23226.247990   1366.964889
125                       EXT_SOURCE_min   22561.325099  11018.415777
421      app_EXT_SOURCE_1_PER_DAYS_BIRTH   22008.974429    989.150891
257            NEW_CREDIT_TO_GOODS_RATIO   21792.920615   1580.029223
435                   credit_downpayment   20256.170954    837.175229
428      app_EXT_SOURCE_3_PER_DAYS_BIRTH   20196.348586   2604.432329
87             CNT_INSTALMENT_FUTURE_std   19207.881626   1474.095456
417               app_DAYS_EMPLOYED_PERC   19113.770780    610.195669
0                            AMT_ANNUITY   19082.321128   1670.053969
105                      DAYS_ID_PUBLISH   18992.910960    662.894474
102                           DAYS_BIRTH   18375.026793    730.863778

In [67]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [68]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [69]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering3.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.039553
1      100005  0.068104
2      100013  0.027129
3      100028  0.046693
4      100038  0.170886

### previous applicationの読み込み

In [70]:
previous = previous_application_origin.copy()
previous = baseline.reduce_mem_usage(credit)
print(previous.shape)
previous.head()

Memory usage of dataframe is 318.63 MB
Memory usage of optimization is 334107272.00 MB
Decreased by -104857500.0%
(3840312, 23)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970001,135000,0.0,877.5,0.0,877.5,1700.324951,...,0.000000,0.000000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.554688,45000,2250.0,2250.0,0.0,0.0,2250.000000,...,64875.554688,64875.554688,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.224609,450000,0.0,0.0,0.0,0.0,2250.000000,...,31460.085938,31460.085938,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.109375,225000,2250.0,2250.0,0.0,0.0,11795.759766,...,233048.968750,233048.968750,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.468750,450000,0.0,11547.0,0.0,11547.0,22924.890625,...,453919.468750,453919.468750,0.0,1,0.0,1.0,101.0,Active,0,0

In [71]:
# one-hotencoding(処理対象カラムを取得)
encoding_columns = []

for col in previous.columns:
    if previous[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

#encoding_columns

NAME_CONTRACT_STATUS

In [72]:
# one-hot-encoding
for col in encoding_columns:
    previous_ohe = pd.get_dummies(previous, columns=[col], dummy_na=True)
    col_ohe = sorted(list(set(previous_ohe.columns) - set(previous.columns)))

print(len(col_ohe))
col_ohe

8

['NAME_CONTRACT_STATUS_Active',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Completed',
 'NAME_CONTRACT_STATUS_Demand',
 'NAME_CONTRACT_STATUS_Refused',
 'NAME_CONTRACT_STATUS_Sent proposal',
 'NAME_CONTRACT_STATUS_Signed',
 'NAME_CONTRACT_STATUS_nan']

In [73]:
print(previous.columns)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [74]:
previous_ohe_agg = credit_ohe.groupby('SK_ID_CURR').agg(
    {
        # 数値変数の集約
        'MONTHS_BALANCE': ['mean', 'std', 'min', 'max']
        ,'AMT_BALANCE': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_LIMIT_ACTUAL': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_ATM_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_OTHER_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_POS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_INST_MIN_REGULARITY': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT_TOTAL_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_RECEIVABLE_PRINCIPAL': ['mean', 'std', 'min', 'max']
        ,'AMT_RECIVABLE': ['mean', 'std', 'min', 'max']
        ,'AMT_TOTAL_RECEIVABLE': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_ATM_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_OTHER_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_POS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_INSTALMENT_MATURE_CUM': ['mean', 'std', 'min', 'max']
        ,'SK_DPD': ['mean', 'std', 'min', 'max']
        ,'SK_DPD_DEF': ['mean', 'std', 'min', 'max']
        # 
        ,'NAME_CONTRACT_STATUS_Active': ['mean']
        ,'NAME_CONTRACT_STATUS_Approved': ['mean']
        ,'NAME_CONTRACT_STATUS_Completed': ['mean']
        ,'NAME_CONTRACT_STATUS_Demand': ['mean']
        ,'NAME_CONTRACT_STATUS_Refused': ['mean']
        ,'NAME_CONTRACT_STATUS_Sent proposal': ['mean']
        ,'NAME_CONTRACT_STATUS_Signed': ['mean']
        ,'NAME_CONTRACT_STATUS_nan': ['mean']
        # IDのユニーク数をカウント
        ,"SK_ID_PREV":["count", "nunique"]
    }
)

# カラム名の付与
previous_ohe_agg.columns = [i + "_" + j for i,j in previous_ohe_agg.columns]
previous_ohe_agg = previous_ohe_agg.reset_index(drop=False)

print(previous_ohe_agg.shape)
previous_ohe_agg.head()

(103558, 91)

,SK_ID_CURR,MONTHS_BALANCE_mean,MONTHS_BALANCE_std,MONTHS_BALANCE_min,MONTHS_BALANCE_max,AMT_BALANCE_mean,AMT_BALANCE_std,AMT_BALANCE_min,AMT_BALANCE_max,AMT_CREDIT_LIMIT_ACTUAL_mean,...,NAME_CONTRACT_STATUS_Active_mean,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Refused_mean,NAME_CONTRACT_STATUS_Sent proposal_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100006,-3.5,1.870829,-6,-1,0.000000,0.000000,0.0,0.00000,270000.000000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,6,1
1,100011,-38.5,21.505813,-75,-2,54482.109375,68127.238133,0.0,189000.00000,164189.189189,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,74,1
2,100013,-48.5,27.856777,-96,-1,18159.919922,43237.406465,0.0,161420.21875,131718.750000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,96,1
3,100021,-10.0,5.049752,-18,-2,0.000000,0.000000,0.0,0.00000,675000.000000,...,0.411765,0.0,0.588235,0.0,0.0,0.0,0.0,0.0,17,1
4,100023,-7.5,2.449490,-11,-4,0.000000,0.000000,0.0,0.00000,135000.000000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,8,1

In [75]:
# infをnanへ置換
previous_ohe_agg = previous_ohe_agg.replace([np.inf, -np.inf], np.nan)

In [76]:
df_train = pd.merge(app_train, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307506, 530)

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018799,-9461,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003542,-16765,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010033,-19046,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008018,-19005,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028656,-19932,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [77]:
# テーブル結合
df_test = pd.merge(app_test, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_test.shape)
df_test.head()

(48744, 529)

,level_0,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,307511,100001,0,135000.0,568800.0,20560.5,450000.0,0.018845,-19241,-2328.0,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9.0,2.0
1,307512,100005,0,99000.0,222768.0,17370.0,180000.0,0.035797,-18064,-4468.0,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11.0,1.0
2,307513,100013,0,202500.0,663264.0,69777.0,630000.0,0.019104,-20038,-4456.0,...,0.0,0.0,0.083333,0.0,0.0,0.027778,0.0,0.0,36.0,3.0
3,307514,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026398,-13976,-1866.0,...,0.0,0.0,0.064516,0.0,0.0,0.000000,0.0,0.0,31.0,2.0
4,307515,100038,1,180000.0,625500.0,32067.0,625500.0,0.010033,-13040,-2192.0,...,0.0,0.0,0.076923,0.0,0.0,0.000000,0.0,0.0,13.0,1.0

In [78]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(df_test.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')

In [79]:
### Yao-Jhonson変換
for column in encoding_columns:
    modules.process_yj_convert(df_train, df_test, column, [column])

df_train.head()

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,-2.196836,100002,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
1,-2.196523,100003,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
2,-2.196256,100004,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
3,-2.196014,100006,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
4,-2.195789,100007,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [80]:
### indexを設定
df_train = df_train.set_index('SK_ID_CURR')
df_test = df_test.set_index('SK_ID_CURR')
df_train.head()

,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,0.846146,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,0.295507,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,1.649642,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,-0.647130,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,-0.646418,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [81]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(df_train, df_test, num_cols)
        
df_train.head()

,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,0.846146,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,0.295507,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,1.649642,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,-0.647130,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,-0.646418,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [82]:
### indexを削除
df_train = df_train.reset_index()
df_test = df_test.reset_index()
df_train.head()

,SK_ID_CURR,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
1,100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
2,100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
3,100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
4,100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [83]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 814.09 MB
Memory usage of optimization is 651912848.00 MB
Decreased by -80078474.3%
Memory usage of dataframe is 128.86 MB
Memory usage of optimization is 103142432.00 MB
Decreased by -80042737.9%

,SK_ID_CURR,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,-2.197266,1.0,-0.65332,0.646973,-0.283936,0.026932,-0.324463,0.047089,1.597656,...,-0.11731,-0.006439,-1.882812,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-0.187744,-1.255859
1,100003,-2.197266,0.0,-0.65332,1.212891,1.495117,0.744629,1.433594,-1.730469,-0.222778,...,-0.11731,-0.006439,-0.045929,-0.032837,-0.122192,-0.493652,-0.002628,0.0,0.304688,0.504395
2,100004,-2.195312,0.0,-0.65332,-1.654297,-1.648438,-2.082031,-1.533203,-0.862793,-0.716309,...,-0.11731,-0.006439,2.214844,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-2.039062,-1.255859
3,100006,-2.195312,0.0,-0.65332,-0.176147,-0.635742,0.377930,-0.549316,-1.112305,-0.708008,...,-0.11731,-0.006439,0.406006,-0.032837,8.179688,-0.493652,-0.002628,0.0,-0.061310,0.504395
4,100007,-2.195312,0.0,-0.65332,-0.395020,0.042358,-0.197998,0.210327,0.799805,-0.901367,...,-0.11731,-0.006439,-0.620117,-0.032837,-0.122192,1.480469,-0.002628,0.0,1.409180,1.246094

In [84]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [85]:
baseline = Baseline('SK_ID_CURR')

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246004, 528) (61502, 528)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.767611	valid_1's auc: 0.748051
[200]	training's auc: 0.781146	valid_1's auc: 0.756601
[300]	training's auc: 0.792022	valid_1's auc: 0.762348
[400]	training's auc: 0.801394	valid_1's auc: 0.766935
[500]	training's auc: 0.809087	valid_1's auc: 0.769982
[600]	training's auc: 0.815865	valid_1's auc: 0.772052
[700]	training's auc: 0.822185	valid_1's auc: 0.773599
[800]	training's auc: 0.827891	valid_1's auc: 0.774833
[900]	training's auc: 0.833316	valid_1's auc: 0.775691
[1000]	training's auc: 0.838324	valid_1's auc: 0.77622
[1100]	training's auc: 0.843035	valid_1's auc: 0.776732
[1200]	training's auc: 0.847541	valid_1's auc: 0.777033
[1300]	training's auc: 0.851836	valid_1's auc: 0.777358
[1400]	training's auc: 0.855962	valid_1's auc: 0.777629
[1500]	training's auc: 0.859905	valid_1's auc: 0.777848
[1600]	training's auc: 0.863596	valid_1's auc: 0.777992
[1700]	training's auc: 0.867277	valid_1's auc: 0.778159
[1800]	training's auc: 0.870886	valid_1's auc: 0.778247
[1900]	training's auc: 0.87429	valid_1's auc: 0.778409
[2000]	training's auc: 0.877654	valid_1's auc: 0.778484
[2100]	training's auc: 0.880978	valid_1's auc: 0.778489
[auc] tr:0.878214, va0.7785
-------------------- 1 --------------------
(246005, 528) (61501, 528)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.767064	valid_1's auc: 0.752559
[200]	training's auc: 0.780611	valid_1's auc: 0.761175
[300]	training's auc: 0.791592	valid_1's auc: 0.767353
[400]	training's auc: 0.800901	valid_1's auc: 0.772266
[500]	training's auc: 0.808361	valid_1's auc: 0.775158
[600]	training's auc: 0.815313	valid_1's auc: 0.777324
[700]	training's auc: 0.821596	valid_1's auc: 0.778841
[800]	training's auc: 0.827547	valid_1's auc: 0.780173
[900]	training's auc: 0.832912	valid_1's auc: 0.781033
[1000]	training's auc: 0.837962	valid_1's auc: 0.781596
[1100]	training's auc: 0.842736	valid_1's auc: 0.782077
[1200]	training's auc: 0.84739	valid_1's auc: 0.782398
[1300]	training's auc: 0.851692	valid_1's auc: 0.782608
[1400]	training's auc: 0.855757	valid_1's auc: 0.782748
[1500]	training's auc: 0.859817	valid_1's auc: 0.782854
[1600]	training's auc: 0.863641	valid_1's auc: 0.782881
[1700]	training's auc: 0.867393	valid_1's auc: 0.782945
[auc] tr:0.867209, va0.7830
-------------------- 2 --------------------
(246005, 528) (61501, 528)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.767156	valid_1's auc: 0.746457
[200]	training's auc: 0.781201	valid_1's auc: 0.755872
[300]	training's auc: 0.79243	valid_1's auc: 0.762275
[400]	training's auc: 0.802036	valid_1's auc: 0.766923
[500]	training's auc: 0.809772	valid_1's auc: 0.769671
[600]	training's auc: 0.81642	valid_1's auc: 0.771355
[700]	training's auc: 0.822516	valid_1's auc: 0.772665
[800]	training's auc: 0.828256	valid_1's auc: 0.7736
[900]	training's auc: 0.833607	valid_1's auc: 0.774377
[1000]	training's auc: 0.838619	valid_1's auc: 0.774947
[1100]	training's auc: 0.843343	valid_1's auc: 0.775389
[1200]	training's auc: 0.847797	valid_1's auc: 0.775689
[1300]	training's auc: 0.851993	valid_1's auc: 0.775985
[1400]	training's auc: 0.856003	valid_1's auc: 0.77612
[1500]	training's auc: 0.860062	valid_1's auc: 0.776326
[1600]	training's auc: 0.863768	valid_1's auc: 0.776525
[1700]	training's auc: 0.867432	valid_1's auc: 0.776608
[1800]	training's auc: 0.870913	valid_1's auc: 0.776717
[1900]	training's auc: 0.874267	valid_1's auc: 0.776755
[2000]	training's auc: 0.877499	valid_1's auc: 0.776815
[2100]	training's auc: 0.880758	valid_1's auc: 0.776859
[2200]	training's auc: 0.883966	valid_1's auc: 0.776904
[auc] tr:0.881848, va0.7769
-------------------- 3 --------------------
(246005, 528) (61501, 528)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.765999	valid_1's auc: 0.753349
[200]	training's auc: 0.779266	valid_1's auc: 0.762625
[300]	training's auc: 0.790773	valid_1's auc: 0.769293
[400]	training's auc: 0.800167	valid_1's auc: 0.773426
[500]	training's auc: 0.808083	valid_1's auc: 0.776199
[600]	training's auc: 0.81492	valid_1's auc: 0.778062
[700]	training's auc: 0.821318	valid_1's auc: 0.779427
[800]	training's auc: 0.827126	valid_1's auc: 0.78038
[900]	training's auc: 0.832648	valid_1's auc: 0.781346
[1000]	training's auc: 0.837662	valid_1's auc: 0.781683
[1100]	training's auc: 0.842441	valid_1's auc: 0.782026
[1200]	training's auc: 0.84694	valid_1's auc: 0.782377
[1300]	training's auc: 0.851244	valid_1's auc: 0.782669
[1400]	training's auc: 0.855297	valid_1's auc: 0.782868
[1500]	training's auc: 0.859183	valid_1's auc: 0.783006
[1600]	training's auc: 0.862968	valid_1's auc: 0.78315
[1700]	training's auc: 0.866555	valid_1's auc: 0.783144
[auc] tr:0.863423, va0.7832
-------------------- 4 --------------------
(246005, 528) (61501, 528)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.76564	valid_1's auc: 0.753019
[200]	training's auc: 0.779905	valid_1's auc: 0.762218
[300]	training's auc: 0.791118	valid_1's auc: 0.768662
[400]	training's auc: 0.800618	valid_1's auc: 0.773428
[500]	training's auc: 0.80833	valid_1's auc: 0.77666
[600]	training's auc: 0.815262	valid_1's auc: 0.778784
[700]	training's auc: 0.821613	valid_1's auc: 0.780209
[800]	training's auc: 0.827419	valid_1's auc: 0.781214
[900]	training's auc: 0.833014	valid_1's auc: 0.782062
[1000]	training's auc: 0.838108	valid_1's auc: 0.782721
[1100]	training's auc: 0.843086	valid_1's auc: 0.783048
[1200]	training's auc: 0.847739	valid_1's auc: 0.783342
[1300]	training's auc: 0.852037	valid_1's auc: 0.783482
[1400]	training's auc: 0.856113	valid_1's auc: 0.783653
[1500]	training's auc: 0.860073	valid_1's auc: 0.783722
[1600]	training's auc: 0.86391	valid_1's auc: 0.78388
[1700]	training's auc: 0.867524	valid_1's auc: 0.783933
[1800]	training's auc: 0.871137	valid_1's auc: 0.783955
[1900]	training's auc: 0.874641	valid_1's auc: 0.78406
[2000]	training's auc: 0.87802	valid_1's auc: 0.784217
[2100]	training's auc: 0.881185	valid_1's auc: 0.784208
[auc] tr:0.878398, va0.7842
-------------------- result --------------------
[[0.         0.87821384 0.77850697]
 [1.         0.86720875 0.78296428]
 [2.         0.88184835 0.77693471]
 [3.         0.86342301 0.78317617]
 [4.         0.87839771 0.78424228]]
[cv] tr:0.8738+-0.0072, va:0.7812+-0.0029
[oof]0.7811

In [86]:
imp.sort_values("imp", ascending=False)[:20]

                                     col            imp       imp_std
192                      EXT_SOURCE_mean  325636.414168  11253.164399
342                  NEW_EXT_SOURCES_GEO  160159.741878   7484.180003
336          NEW_CREDIT_TO_ANNUITY_RATIO   52886.167117   2128.657759
344               NEW_EXT_SOURCES_MEDIAN   48860.940269   2551.981668
106                   ANNUITY_div_CREDIT   35483.728252   1843.949923
517  app_EXT_SOURCE_2_times_EXT_SOURCE_3   28882.490854   2641.913651
191                       EXT_SOURCE_max   28871.213062   2794.958448
189                         EXT_SOURCE_3   26051.998574   2230.007705
149           CNT_INSTALMENT_FUTURE_mean   24803.383864    813.154414
193                       EXT_SOURCE_min   22823.868671   7024.934369
265                   MONTHS_BALANCE_std   22173.867686   1754.081035
511      app_EXT_SOURCE_1_PER_DAYS_BIRTH   21854.893230   1965.832515
337            NEW_CREDIT_TO_GOODS_RATIO   21479.710377    750.514202
525                   credit_downpayment   19903.430141   1543.276345
151            CNT_INSTALMENT_FUTURE_std   18376.584865   1584.454125
173                      DAYS_ID_PUBLISH   18102.022806   1349.665477
0                            AMT_ANNUITY   18053.677934   2023.838587
507               app_DAYS_EMPLOYED_PERC   17723.588627    821.888583
518      app_EXT_SOURCE_3_PER_DAYS_BIRTH   17404.892091   1045.844220
170                           DAYS_BIRTH   17058.061462    837.662381

In [87]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [88]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [89]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering4.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.039883
1      100005  0.072499
2      100013  0.026741
3      100028  0.043844
4      100038  0.171433

### installments paymentsの読み込み

In [90]:
installments = installments_payments_origin.copy()
installments = baseline.reduce_mem_usage(installments)
print(installments.shape)
installments.head()

Memory usage of dataframe is 830.41 MB
Memory usage of optimization is 408162158.00 MB
Decreased by -49151908.2%
(13605401, 8)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.359863,6948.359863
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525024,1716.525024
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000000,25425.000000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130859,24350.130859
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040039,2160.584961

In [91]:
# one-hotencoding(処理対象カラムを取得)
encoding_columns = []

for col in installments.columns:
    if installments[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

encoding_columns

[]

In [92]:
# one-hot-encoding
#for col in encoding_columns:
#    installments_ohe = pd.get_dummies(installments, columns=[col], dummy_na=True)
#    col_ohe = sorted(list(set(installments_ohe.columns) - set(installments.columns)))

#print(len(col_ohe))
#col_ohe
installments_ohe = installments.copy()

In [93]:
print(installments.columns)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT'],
      dtype='object')

In [94]:
installments_ohe = installments_ohe.rename(columns={'SK_ID_PREV': 'SK_ID_PREV_IP'})

In [95]:
installments_ohe_agg = installments_ohe.groupby('SK_ID_CURR').agg(
    {
        # 数値変数の集約
        'NUM_INSTALMENT_VERSION': ['mean', 'std', 'min', 'max']
        ,'NUM_INSTALMENT_NUMBER': ['mean', 'std', 'min', 'max']
        ,'DAYS_INSTALMENT': ['mean', 'std', 'min', 'max']
        ,'DAYS_ENTRY_PAYMENT': ['mean', 'std', 'min', 'max']
        ,'AMT_INSTALMENT': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT': ['mean', 'std', 'min', 'max']
        # IDのユニーク数をカウント
        ,"SK_ID_PREV_IP":["count", "nunique"]
    }
)

# カラム名の付与
installments_ohe_agg.columns = [i + "_" + j for i,j in installments_ohe_agg.columns]
installments_ohe_agg = installments_ohe_agg.reset_index(drop=False)

print(installments_ohe_agg.shape)
installments_ohe_agg.head()

(339587, 27)

,SK_ID_CURR,NUM_INSTALMENT_VERSION_mean,NUM_INSTALMENT_VERSION_std,NUM_INSTALMENT_VERSION_min,NUM_INSTALMENT_VERSION_max,NUM_INSTALMENT_NUMBER_mean,NUM_INSTALMENT_NUMBER_std,NUM_INSTALMENT_NUMBER_min,NUM_INSTALMENT_NUMBER_max,DAYS_INSTALMENT_mean,...,AMT_INSTALMENT_mean,AMT_INSTALMENT_std,AMT_INSTALMENT_min,AMT_INSTALMENT_max,AMT_PAYMENT_mean,AMT_PAYMENT_std,AMT_PAYMENT_min,AMT_PAYMENT_max,SK_ID_PREV_IP_count,SK_ID_PREV_IP_nunique
0,100001,1.142857,0.377964,1.0,2.0,2.714286,1.112697,1,4,-2187.714355,...,5885.132324,5076.676763,3951.000000,17397.900391,5885.132324,5076.676763,3951.000000,17397.900391,7,2
1,100002,1.052632,0.229416,1.0,2.0,10.000000,5.627314,1,19,-295.000000,...,11559.247070,10058.037883,9251.775391,53093.746094,11559.247070,10058.037883,9251.775391,53093.746094,19,1
2,100003,1.040000,0.200000,1.0,2.0,5.080000,3.134751,1,12,-1378.160034,...,64754.585938,110542.594872,6662.970215,560835.375000,64754.585938,110542.594872,6662.970215,560835.375000,25,3
3,100004,1.333333,0.577350,1.0,2.0,2.000000,1.000000,1,3,-754.000000,...,7096.154785,3011.871719,5357.250000,10573.964844,7096.154785,3011.871719,5357.250000,10573.964844,3,1
4,100005,1.111111,0.333333,1.0,2.0,5.000000,2.738613,1,9,-586.000000,...,6240.205078,4281.014648,4813.200195,17656.244141,6240.205078,4281.014648,4813.200195,17656.244141,9,1

In [96]:
# infをnanへ置換
installments_ohe_agg = installments_ohe_agg.replace([np.inf, -np.inf], np.nan)

In [97]:
df_train = pd.merge(app_train, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307506, 556)

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018799,-9461,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003542,-16765,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010033,-19046,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008018,-19005,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028656,-19932,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [98]:
# テーブル結合
df_test = pd.merge(app_test, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_test.shape)
df_test.head()

(48744, 555)

,level_0,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,307511,100001,0,135000.0,568800.0,20560.5,450000.0,0.018845,-19241,-2328.0,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9.0,2.0
1,307512,100005,0,99000.0,222768.0,17370.0,180000.0,0.035797,-18064,-4468.0,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11.0,1.0
2,307513,100013,0,202500.0,663264.0,69777.0,630000.0,0.019104,-20038,-4456.0,...,0.0,0.0,0.083333,0.0,0.0,0.027778,0.0,0.0,36.0,3.0
3,307514,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026398,-13976,-1866.0,...,0.0,0.0,0.064516,0.0,0.0,0.000000,0.0,0.0,31.0,2.0
4,307515,100038,1,180000.0,625500.0,32067.0,625500.0,0.010033,-13040,-2192.0,...,0.0,0.0,0.076923,0.0,0.0,0.000000,0.0,0.0,13.0,1.0

In [99]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(df_test.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')

In [100]:
### Yao-Jhonson変換
for column in encoding_columns:
    modules.process_yj_convert(df_train, df_test, column, [column])

df_train.head()

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,-2.196836,100002,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
1,-2.196523,100003,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
2,-2.196256,100004,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
3,-2.196014,100006,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
4,-2.195789,100007,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [101]:
### indexを設定
df_train = df_train.set_index('SK_ID_CURR')
df_test = df_test.set_index('SK_ID_CURR')
df_train.head()

,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,0.846146,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,0.295507,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,1.649642,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,-0.647130,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,-0.646418,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [102]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(df_train, df_test, num_cols)
        
df_train.head()

,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,0.846146,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,0.295507,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,1.649642,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,-0.647130,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,-0.646418,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [103]:
### indexを削除
df_train = df_train.reset_index()
df_test = df_test.reset_index()
df_train.head()

,SK_ID_CURR,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
1,100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
2,100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
3,100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
4,100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [104]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 857.49 MB
Memory usage of optimization is 683893472.00 MB
Decreased by -79754795.0%
Memory usage of dataframe is 135.74 MB
Memory usage of optimization is 108211808.00 MB
Decreased by -79720426.7%

,SK_ID_CURR,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,-2.197266,1.0,-0.65332,0.646973,-0.283936,0.026932,-0.324463,0.047089,1.597656,...,-0.11731,-0.006439,-1.882812,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-0.187744,-1.255859
1,100003,-2.197266,0.0,-0.65332,1.212891,1.495117,0.744629,1.433594,-1.730469,-0.222778,...,-0.11731,-0.006439,-0.045929,-0.032837,-0.122192,-0.493652,-0.002628,0.0,0.304688,0.504395
2,100004,-2.195312,0.0,-0.65332,-1.654297,-1.648438,-2.082031,-1.533203,-0.862793,-0.716309,...,-0.11731,-0.006439,2.214844,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-2.039062,-1.255859
3,100006,-2.195312,0.0,-0.65332,-0.176147,-0.635742,0.377930,-0.549316,-1.112305,-0.708008,...,-0.11731,-0.006439,0.406006,-0.032837,8.179688,-0.493652,-0.002628,0.0,-0.061310,0.504395
4,100007,-2.195312,0.0,-0.65332,-0.395020,0.042358,-0.197998,0.210327,0.799805,-0.901367,...,-0.11731,-0.006439,-0.620117,-0.032837,-0.122192,1.480469,-0.002628,0.0,1.409180,1.246094

In [105]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [106]:
baseline = Baseline('SK_ID_CURR')

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246004, 554) (61502, 554)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.769562	valid_1's auc: 0.749374
[200]	training's auc: 0.783646	valid_1's auc: 0.75811
[300]	training's auc: 0.794845	valid_1's auc: 0.763944
[400]	training's auc: 0.804609	valid_1's auc: 0.769054
[500]	training's auc: 0.812719	valid_1's auc: 0.772428
[600]	training's auc: 0.819809	valid_1's auc: 0.77479
[700]	training's auc: 0.826355	valid_1's auc: 0.776579
[800]	training's auc: 0.832135	valid_1's auc: 0.777857
[900]	training's auc: 0.837694	valid_1's auc: 0.778799
[1000]	training's auc: 0.84296	valid_1's auc: 0.779523
[1100]	training's auc: 0.847916	valid_1's auc: 0.780065
[1200]	training's auc: 0.852556	valid_1's auc: 0.780465
[1300]	training's auc: 0.856993	valid_1's auc: 0.780728
[1400]	training's auc: 0.861177	valid_1's auc: 0.780911
[1500]	training's auc: 0.865191	valid_1's auc: 0.781134
[1600]	training's auc: 0.869117	valid_1's auc: 0.781384
[1700]	training's auc: 0.873022	valid_1's auc: 0.781555
[1800]	training's auc: 0.876655	valid_1's auc: 0.781682
[1900]	training's auc: 0.880153	valid_1's auc: 0.781734
[2000]	training's auc: 0.883559	valid_1's auc: 0.781835
[2100]	training's auc: 0.886859	valid_1's auc: 0.781887
[2200]	training's auc: 0.890102	valid_1's auc: 0.781907
[auc] tr:0.887064, va0.7819
-------------------- 1 --------------------
(246005, 554) (61501, 554)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.769465	valid_1's auc: 0.753827
[200]	training's auc: 0.783187	valid_1's auc: 0.762141
[300]	training's auc: 0.794664	valid_1's auc: 0.768536
[400]	training's auc: 0.804377	valid_1's auc: 0.773775
[500]	training's auc: 0.812442	valid_1's auc: 0.777067
[600]	training's auc: 0.819536	valid_1's auc: 0.779589
[700]	training's auc: 0.826028	valid_1's auc: 0.781364
[800]	training's auc: 0.832112	valid_1's auc: 0.782834
[900]	training's auc: 0.83775	valid_1's auc: 0.783968
[1000]	training's auc: 0.843002	valid_1's auc: 0.784708
[1100]	training's auc: 0.848073	valid_1's auc: 0.785244
[1200]	training's auc: 0.852748	valid_1's auc: 0.785654
[1300]	training's auc: 0.857056	valid_1's auc: 0.785951
[1400]	training's auc: 0.861198	valid_1's auc: 0.786146
[1500]	training's auc: 0.865211	valid_1's auc: 0.786375
[1600]	training's auc: 0.869105	valid_1's auc: 0.786531
[1700]	training's auc: 0.872934	valid_1's auc: 0.786629
[1800]	training's auc: 0.876537	valid_1's auc: 0.786663
[1900]	training's auc: 0.880019	valid_1's auc: 0.786709
[auc] tr:0.879073, va0.7867
-------------------- 2 --------------------
(246005, 554) (61501, 554)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.769335	valid_1's auc: 0.748243
[200]	training's auc: 0.78364	valid_1's auc: 0.757823
[300]	training's auc: 0.795345	valid_1's auc: 0.764676
[400]	training's auc: 0.805328	valid_1's auc: 0.769574
[500]	training's auc: 0.813409	valid_1's auc: 0.772477
[600]	training's auc: 0.820461	valid_1's auc: 0.77444
[700]	training's auc: 0.826878	valid_1's auc: 0.775978
[800]	training's auc: 0.8328	valid_1's auc: 0.777132
[900]	training's auc: 0.83841	valid_1's auc: 0.778087
[1000]	training's auc: 0.843748	valid_1's auc: 0.77872
[1100]	training's auc: 0.848807	valid_1's auc: 0.779223
[1200]	training's auc: 0.853379	valid_1's auc: 0.779516
[1300]	training's auc: 0.857738	valid_1's auc: 0.779799
[1400]	training's auc: 0.86198	valid_1's auc: 0.780023
[1500]	training's auc: 0.865964	valid_1's auc: 0.780183
[1600]	training's auc: 0.869849	valid_1's auc: 0.78047
[1700]	training's auc: 0.873661	valid_1's auc: 0.780687
[1800]	training's auc: 0.877142	valid_1's auc: 0.780783
[1900]	training's auc: 0.880676	valid_1's auc: 0.780848
[2000]	training's auc: 0.884105	valid_1's auc: 0.780805
[auc] tr:0.881639, va0.7809
-------------------- 3 --------------------
(246005, 554) (61501, 554)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.76793	valid_1's auc: 0.754759
[200]	training's auc: 0.781811	valid_1's auc: 0.76384
[300]	training's auc: 0.793731	valid_1's auc: 0.770901
[400]	training's auc: 0.803639	valid_1's auc: 0.775487
[500]	training's auc: 0.811916	valid_1's auc: 0.778574
[600]	training's auc: 0.819054	valid_1's auc: 0.78066
[700]	training's auc: 0.825701	valid_1's auc: 0.782014
[800]	training's auc: 0.831783	valid_1's auc: 0.783044
[900]	training's auc: 0.837359	valid_1's auc: 0.783759
[1000]	training's auc: 0.84273	valid_1's auc: 0.784274
[1100]	training's auc: 0.847747	valid_1's auc: 0.784724
[1200]	training's auc: 0.852439	valid_1's auc: 0.785062
[1300]	training's auc: 0.85695	valid_1's auc: 0.785363
[1400]	training's auc: 0.861269	valid_1's auc: 0.785547
[1500]	training's auc: 0.865371	valid_1's auc: 0.785724
[1600]	training's auc: 0.86929	valid_1's auc: 0.785989
[1700]	training's auc: 0.872978	valid_1's auc: 0.786043
[1800]	training's auc: 0.876596	valid_1's auc: 0.786128
[1900]	training's auc: 0.880181	valid_1's auc: 0.786221
[2000]	training's auc: 0.883522	valid_1's auc: 0.786292
[auc] tr:0.882900, va0.7863
-------------------- 4 --------------------
(246005, 554) (61501, 554)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.768035	valid_1's auc: 0.754263
[200]	training's auc: 0.782621	valid_1's auc: 0.763399
[300]	training's auc: 0.794362	valid_1's auc: 0.770054
[400]	training's auc: 0.804113	valid_1's auc: 0.775026
[500]	training's auc: 0.812299	valid_1's auc: 0.778281
[600]	training's auc: 0.819326	valid_1's auc: 0.780568
[700]	training's auc: 0.825916	valid_1's auc: 0.782262
[800]	training's auc: 0.831979	valid_1's auc: 0.783506
[900]	training's auc: 0.837756	valid_1's auc: 0.784598
[1000]	training's auc: 0.843135	valid_1's auc: 0.785333
[1100]	training's auc: 0.848058	valid_1's auc: 0.785909
[1200]	training's auc: 0.852929	valid_1's auc: 0.786348
[1300]	training's auc: 0.857369	valid_1's auc: 0.786619
[1400]	training's auc: 0.861747	valid_1's auc: 0.786905
[1500]	training's auc: 0.865921	valid_1's auc: 0.787049
[1600]	training's auc: 0.869751	valid_1's auc: 0.787196
[1700]	training's auc: 0.873512	valid_1's auc: 0.787313
[1800]	training's auc: 0.877156	valid_1's auc: 0.787407
[1900]	training's auc: 0.88057	valid_1's auc: 0.787596
[2000]	training's auc: 0.883889	valid_1's auc: 0.787614
[2100]	training's auc: 0.88729	valid_1's auc: 0.787638
[auc] tr:0.886177, va0.7877
-------------------- result --------------------
[[0.         0.8870641  0.78190914]
 [1.         0.87907269 0.7867216 ]
 [2.         0.88163878 0.78086982]
 [3.         0.88290007 0.78632633]
 [4.         0.88617678 0.78766263]]
[cv] tr:0.8834+-0.0029, va:0.7847+-0.0028
[oof]0.7847

In [107]:
imp.sort_values("imp", ascending=False)[:20]

                                     col            imp      imp_std
208                      EXT_SOURCE_mean  330574.376484  4399.960123
358                  NEW_EXT_SOURCES_GEO  145196.567763  6193.807550
360               NEW_EXT_SOURCES_MEDIAN   64948.744166  4642.014584
352          NEW_CREDIT_TO_ANNUITY_RATIO   49234.331459  1215.534980
114                   ANNUITY_div_CREDIT   32988.476494  1388.063109
82                       AMT_PAYMENT_min   30788.047127  1251.099828
205                         EXT_SOURCE_3   26426.145246  3059.957168
543  app_EXT_SOURCE_2_times_EXT_SOURCE_3   26146.694105  2519.035780
157           CNT_INSTALMENT_FUTURE_mean   24800.313419   708.414454
207                       EXT_SOURCE_max   24018.998301  2337.471801
537      app_EXT_SOURCE_1_PER_DAYS_BIRTH   20951.880623   867.681938
353            NEW_CREDIT_TO_GOODS_RATIO   20829.206432  1198.275480
551                   credit_downpayment   19787.602369  1333.133787
0                            AMT_ANNUITY   18774.578457  1747.317971
209                       EXT_SOURCE_min   18086.948227  3238.394136
159            CNT_INSTALMENT_FUTURE_std   17547.491370  1512.617920
361                 NEW_EXT_SOURCES_PROD   17541.524823  2494.342476
533               app_DAYS_EMPLOYED_PERC   17390.093746  1175.414952
81                      AMT_PAYMENT_mean   17232.030046   851.393173
178                           DAYS_BIRTH   17092.551334   430.705982

In [108]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [109]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [110]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering5.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.032827
1      100005  0.080884
2      100013  0.031239
3      100028  0.042919
4      100038  0.149888

### bureauの読み込み

In [111]:
bureau = bureau_origin.copy()
bureau = baseline.reduce_mem_usage(bureau)
print(bureau.shape)
bureau.head()

Memory usage of dataframe is 222.62 MB
Memory usage of optimization is 125299372.00 MB
Decreased by -56283785.5%
(1716428, 17)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [112]:
### 
for col in bureau.columns:
    bureau[col] = bureau[col].replace('\s', '_', regex=True)
    bureau[col] = bureau[col].replace(':', '_', regex=True)
    bureau[col] = bureau[col].replace('/', '_', regex=True)
    
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency_1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer_credit,-131,NaN
1,215354,5714463,Active,currency_1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit_card,-20,NaN
2,215354,5714464,Active,currency_1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer_credit,-16,NaN
3,215354,5714465,Active,currency_1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit_card,-16,NaN
4,215354,5714466,Active,currency_1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer_credit,-21,NaN

In [113]:
# one-hotencoding(処理対象カラムを取得)
encoding_columns = []

for col in bureau.columns:
    if bureau[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

CREDIT_ACTIVE
CREDIT_CURRENCY
CREDIT_TYPE

In [114]:
# one-hot-encoding
bureau_ohe = pd.get_dummies(bureau, columns=['CREDIT_ACTIVE'], dummy_na=True)
col_ohe = sorted(list(set(bureau_ohe.columns) - set(bureau.columns)))

bureau_ohe = pd.get_dummies(bureau_ohe, columns=['CREDIT_CURRENCY'], dummy_na=True)
col_ohe = sorted(list(set(bureau_ohe.columns) - set(bureau.columns)))

bureau_ohe = pd.get_dummies(bureau_ohe, columns=['CREDIT_TYPE'], dummy_na=True)
col_ohe = sorted(list(set(bureau_ohe.columns) - set(bureau.columns)))

print(len(col_ohe))
col_ohe

26

['CREDIT_ACTIVE_Active',
 'CREDIT_ACTIVE_Bad_debt',
 'CREDIT_ACTIVE_Closed',
 'CREDIT_ACTIVE_Sold',
 'CREDIT_ACTIVE_nan',
 'CREDIT_CURRENCY_currency_1',
 'CREDIT_CURRENCY_currency_2',
 'CREDIT_CURRENCY_currency_3',
 'CREDIT_CURRENCY_currency_4',
 'CREDIT_CURRENCY_nan',
 'CREDIT_TYPE_Another_type_of_loan',
 'CREDIT_TYPE_Car_loan',
 'CREDIT_TYPE_Cash_loan_(non-earmarked)',
 'CREDIT_TYPE_Consumer_credit',
 'CREDIT_TYPE_Credit_card',
 'CREDIT_TYPE_Interbank_credit',
 'CREDIT_TYPE_Loan_for_business_development',
 'CREDIT_TYPE_Loan_for_purchase_of_shares_(margin_lending)',
 'CREDIT_TYPE_Loan_for_the_purchase_of_equipment',
 'CREDIT_TYPE_Loan_for_working_capital_replenishment',
 'CREDIT_TYPE_Microloan',
 'CREDIT_TYPE_Mobile_operator_loan',
 'CREDIT_TYPE_Mortgage',
 'CREDIT_TYPE_Real_estate_loan',
 'CREDIT_TYPE_Unknown_type_of_loan',
 'CREDIT_TYPE_nan']

In [115]:
bureau_ohe = bureau_ohe.rename(columns={'SK_ID_BUREAU': 'SK_ID_BUREAU_BUREAU'})

In [116]:
bureau_ohe.head()

,SK_ID_CURR,SK_ID_BUREAU_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,...,CREDIT_TYPE_Loan_for_business_development,CREDIT_TYPE_Loan_for_purchase_of_shares_(margin_lending),CREDIT_TYPE_Loan_for_the_purchase_of_equipment,CREDIT_TYPE_Loan_for_working_capital_replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile_operator_loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real_estate_loan,CREDIT_TYPE_Unknown_type_of_loan,CREDIT_TYPE_nan
0,215354,5714462,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,215354,5714463,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,...,0,0,0,0,0,0,0,0,0,0
2,215354,5714464,-203,0,528.0,NaN,NaN,0,464323.5,NaN,...,0,0,0,0,0,0,0,0,0,0
3,215354,5714465,-203,0,NaN,NaN,NaN,0,90000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
4,215354,5714466,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,...,0,0,0,0,0,0,0,0,0,0

In [117]:
bureau_ohe_agg = bureau_ohe.groupby('SK_ID_CURR').agg(
    {
        # 数値変数の集約
        'DAYS_CREDIT': ['mean', 'std', 'min', 'max', 'var']
        ,'CREDIT_DAY_OVERDUE': ['mean', 'std', 'min', 'max']
        ,'DAYS_CREDIT_ENDDATE': ['mean', 'std', 'min', 'max']
        ,'DAYS_ENDDATE_FACT': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_MAX_OVERDUE': ['mean', 'std', 'min', 'max']
        ,'CNT_CREDIT_PROLONG': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_SUM': ['mean', 'std', 'min', 'max', 'sum']
        ,'AMT_CREDIT_SUM_DEBT': ['mean', 'std', 'min', 'max', 'sum']
        ,'AMT_CREDIT_SUM_LIMIT': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_SUM_OVERDUE': ['mean', 'std', 'min', 'max']
        ,'DAYS_CREDIT_UPDATE': ['mean', 'std', 'min', 'max']
        ,'AMT_ANNUITY': ['mean', 'std', 'min', 'max']
        # 
        ,'CREDIT_TYPE_Another_type_of_loan': ['mean']
        ,'CREDIT_TYPE_Car_loan': ['mean']
        ,'CREDIT_TYPE_Cash_loan_(non-earmarked)': ['mean']
        ,'CREDIT_TYPE_Consumer_credit': ['mean']
        ,'CREDIT_TYPE_Credit_card': ['mean']
        ,'CREDIT_TYPE_Interbank_credit': ['mean']
        ,'CREDIT_TYPE_Loan_for_business_development': ['mean']
        ,'CREDIT_TYPE_Loan_for_purchase_of_shares_(margin_lending)': ['mean']
        ,'CREDIT_TYPE_Loan_for_the_purchase_of_equipment': ['mean']
        ,'CREDIT_TYPE_Loan_for_working_capital_replenishment': ['mean']
        ,'CREDIT_TYPE_Microloan': ['mean']
        ,'CREDIT_TYPE_Mobile_operator_loan': ['mean']
        ,'CREDIT_TYPE_Mortgage': ['mean']
        ,'CREDIT_TYPE_Real_estate_loan': ['mean']
        ,'CREDIT_TYPE_Unknown_type_of_loan': ['mean']
        ,'CREDIT_TYPE_nan': ['mean']
        ,'CREDIT_ACTIVE_Active': ['mean']
        ,'CREDIT_ACTIVE_Bad_debt': ['mean']
        ,'CREDIT_ACTIVE_Closed': ['mean']
        ,'CREDIT_ACTIVE_Sold': ['mean']
        ,'CREDIT_ACTIVE_nan': ['mean']
        ,'CREDIT_CURRENCY_currency_1': ['mean']
        ,'CREDIT_CURRENCY_currency_2': ['mean']
        ,'CREDIT_CURRENCY_currency_3': ['mean']
        ,'CREDIT_CURRENCY_currency_4': ['mean']
        ,'CREDIT_CURRENCY_nan': ['mean']
        ,'CREDIT_TYPE_Another_type_of_loan': ['mean']
        ,'CREDIT_TYPE_Car_loan': ['mean']
        ,'CREDIT_TYPE_Cash_loan_(non-earmarked)': ['mean']
        ,'CREDIT_TYPE_Consumer_credit': ['mean']
        ,'CREDIT_TYPE_Credit_card': ['mean']
        ,'CREDIT_TYPE_Interbank_credit': ['mean']
        ,'CREDIT_TYPE_Loan_for_business_development': ['mean']
        ,'CREDIT_TYPE_Loan_for_purchase_of_shares_(margin_lending)': ['mean']
        ,'CREDIT_TYPE_Loan_for_the_purchase_of_equipment': ['mean']
        ,'CREDIT_TYPE_Loan_for_working_capital_replenishment': ['mean']
        ,'CREDIT_TYPE_Microloan': ['mean']
        ,'CREDIT_TYPE_Mobile_operator_loan': ['mean']
        ,'CREDIT_TYPE_Mortgage': ['mean']
        ,'CREDIT_TYPE_Real_estate_loan': ['mean']
        ,'CREDIT_TYPE_Unknown_type_of_loan': ['mean']
        ,'CREDIT_TYPE_nan': ['mean']
        # IDのユニーク数をカウント
        ,'SK_ID_BUREAU_BUREAU': ["count", "nunique"]
    }
)

# カラム名の付与
bureau_ohe_agg.columns = [i + "_" + j for i,j in bureau_ohe_agg.columns]
bureau_ohe_agg = bureau_ohe_agg.reset_index(drop=False)

#
bureau_ohe_agg['debt_credit_ratio_None'] = bureau_ohe_agg['AMT_CREDIT_SUM_DEBT_sum'] / bureau_ohe_agg['AMT_CREDIT_SUM_sum']

print(bureau_ohe_agg.shape)
bureau_ohe_agg.head()

(305811, 81)

,SK_ID_CURR,DAYS_CREDIT_mean,DAYS_CREDIT_std,DAYS_CREDIT_min,DAYS_CREDIT_max,DAYS_CREDIT_var,CREDIT_DAY_OVERDUE_mean,CREDIT_DAY_OVERDUE_std,CREDIT_DAY_OVERDUE_min,CREDIT_DAY_OVERDUE_max,...,CREDIT_ACTIVE_Sold_mean,CREDIT_ACTIVE_nan_mean,CREDIT_CURRENCY_currency_1_mean,CREDIT_CURRENCY_currency_2_mean,CREDIT_CURRENCY_currency_3_mean,CREDIT_CURRENCY_currency_4_mean,CREDIT_CURRENCY_nan_mean,SK_ID_BUREAU_BUREAU_count,SK_ID_BUREAU_BUREAU_nunique,debt_credit_ratio_None
0,100001,-735.000000,489.942514,-1572,-49,240043.666667,0.0,0.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7,7,0.410555
1,100002,-874.000000,431.451040,-1437,-103,186150.000000,0.0,0.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,8,8,0.284122
2,100003,-1400.750000,909.826128,-2586,-606,827783.583333,0.0,0.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4,4,0.000000
3,100004,-867.000000,649.124025,-1326,-408,421362.000000,0.0,0.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2,2,0.000000
4,100005,-190.666667,162.297053,-373,-62,26340.333333,0.0,0.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3,3,0.864992

In [118]:
# infをnanへ置換
bureau_ohe_agg = bureau_ohe_agg.replace([np.inf, -np.inf], np.nan)

In [119]:
df_train = pd.merge(app_train, bureau_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307506, 636)

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018799,-9461,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003542,-16765,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010033,-19046,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008018,-19005,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028656,-19932,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [120]:
df_test = pd.merge(app_test, bureau_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_test.shape)
df_test.head()

(48744, 635)

,level_0,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,307511,100001,0,135000.0,568800.0,20560.5,450000.0,0.018845,-19241,-2328.0,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9.0,2.0
1,307512,100005,0,99000.0,222768.0,17370.0,180000.0,0.035797,-18064,-4468.0,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11.0,1.0
2,307513,100013,0,202500.0,663264.0,69777.0,630000.0,0.019104,-20038,-4456.0,...,0.0,0.0,0.083333,0.0,0.0,0.027778,0.0,0.0,36.0,3.0
3,307514,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026398,-13976,-1866.0,...,0.0,0.0,0.064516,0.0,0.0,0.000000,0.0,0.0,31.0,2.0
4,307515,100038,1,180000.0,625500.0,32067.0,625500.0,0.010033,-13040,-2192.0,...,0.0,0.0,0.076923,0.0,0.0,0.000000,0.0,0.0,13.0,1.0

In [121]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(df_test.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')
encoding_columns.remove('EXT_SOURCE_3')
encoding_columns.remove('EXT_SOURCE_2')
encoding_columns.remove('EXT_SOURCE_1')

In [122]:
### Yao-Jhonson変換
for column in encoding_columns:
    modules.process_yj_convert(df_train, df_test, column, [column])

df_train.head()

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,-2.196836,100002,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
1,-2.196523,100003,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
2,-2.196256,100004,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
3,-2.196014,100006,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
4,-2.195789,100007,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [123]:
encoding_columns.append('EXT_SOURCE_3')
encoding_columns.append('EXT_SOURCE_2')
encoding_columns.append('EXT_SOURCE_1')

In [124]:
### indexを設定
df_train = df_train.set_index('SK_ID_CURR')
df_test = df_test.set_index('SK_ID_CURR')
df_train.head()

,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,0.846146,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,0.295507,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,1.649642,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,-0.647130,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,-0.646418,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [125]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(df_train, df_test, num_cols)
        
df_train.head()

,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,0.846146,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,0.295507,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,1.649642,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,-0.647130,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,-0.646418,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [126]:
### indexを削除
df_train = df_train.reset_index()
df_test = df_test.reset_index()
df_train.head()

,SK_ID_CURR,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,-2.196836,1.0,-0.653131,0.647085,-0.284046,0.026932,-0.324380,0.047085,1.597501,...,-0.117324,-0.006439,-1.882714,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-0.187757,-1.255497
1,100003,-2.196523,0.0,-0.653131,1.213324,1.495396,0.744618,1.433694,-1.730864,-0.222757,...,-0.117324,-0.006439,-0.045923,-0.03285,-0.122221,-0.493724,-0.002629,0.0,0.304656,0.504269
2,100004,-2.196256,0.0,-0.653131,-1.654456,-1.648319,-2.082107,-1.533668,-0.863026,-0.716549,...,-0.117324,-0.006439,2.215187,-0.03285,-0.122221,-0.493724,-0.002629,0.0,-2.038472,-1.255497
3,100006,-2.196014,0.0,-0.653131,-0.176134,-0.635707,0.377928,-0.549543,-1.112439,-0.707904,...,-0.117324,-0.006439,0.405962,-0.03285,8.181937,-0.493724,-0.002629,0.0,-0.061302,0.504269
4,100007,-2.195789,0.0,-0.653131,-0.394983,0.042350,-0.198042,0.210360,0.799714,-0.901463,...,-0.117324,-0.006439,-0.620243,-0.03285,-0.122221,1.480653,-0.002629,0.0,1.408833,1.246159

In [127]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 1045.18 MB
Memory usage of optimization is 782295392.00 MB
Decreased by -74847752.7%
Memory usage of dataframe is 165.49 MB
Memory usage of optimization is 123809888.00 MB
Decreased by -74814052.5%

,SK_ID_CURR,level_0,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,-2.197266,1.0,-0.65332,0.646973,-0.283936,0.026932,-0.324463,0.047089,1.597656,...,-0.11731,-0.006439,-1.882812,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-0.187744,-1.255859
1,100003,-2.197266,0.0,-0.65332,1.212891,1.495117,0.744629,1.433594,-1.730469,-0.222778,...,-0.11731,-0.006439,-0.045929,-0.032837,-0.122192,-0.493652,-0.002628,0.0,0.304688,0.504395
2,100004,-2.195312,0.0,-0.65332,-1.654297,-1.648438,-2.082031,-1.533203,-0.862793,-0.716309,...,-0.11731,-0.006439,2.214844,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-2.039062,-1.255859
3,100006,-2.195312,0.0,-0.65332,-0.176147,-0.635742,0.377930,-0.549316,-1.112305,-0.708008,...,-0.11731,-0.006439,0.406006,-0.032837,8.179688,-0.493652,-0.002628,0.0,-0.061310,0.504395
4,100007,-2.195312,0.0,-0.65332,-0.395020,0.042358,-0.197998,0.210327,0.799805,-0.901367,...,-0.11731,-0.006439,-0.620117,-0.032837,-0.122192,1.480469,-0.002628,0.0,1.409180,1.246094

In [128]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [129]:
baseline = Baseline('SK_ID_CURR')

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246004, 634) (61502, 634)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.771469	valid_1's auc: 0.750464
[200]	training's auc: 0.786264	valid_1's auc: 0.759437
[300]	training's auc: 0.798639	valid_1's auc: 0.766244
[400]	training's auc: 0.809305	valid_1's auc: 0.771954
[500]	training's auc: 0.817924	valid_1's auc: 0.775594
[600]	training's auc: 0.825693	valid_1's auc: 0.778371
[700]	training's auc: 0.832527	valid_1's auc: 0.780394
[800]	training's auc: 0.838889	valid_1's auc: 0.781955
[900]	training's auc: 0.84473	valid_1's auc: 0.78318
[1000]	training's auc: 0.850215	valid_1's auc: 0.784067
[1100]	training's auc: 0.855497	valid_1's auc: 0.784846
[1200]	training's auc: 0.860479	valid_1's auc: 0.785357
[1300]	training's auc: 0.865289	valid_1's auc: 0.786026
[1400]	training's auc: 0.869832	valid_1's auc: 0.786438
[1500]	training's auc: 0.874061	valid_1's auc: 0.786786
[1600]	training's auc: 0.878084	valid_1's auc: 0.787047
[1700]	training's auc: 0.882062	valid_1's auc: 0.787192
[1800]	training's auc: 0.885875	valid_1's auc: 0.787392
[1900]	training's auc: 0.889552	valid_1's auc: 0.787578
[2000]	training's auc: 0.893004	valid_1's auc: 0.787664
[2100]	training's auc: 0.896321	valid_1's auc: 0.787797
[2200]	training's auc: 0.899589	valid_1's auc: 0.787914
[2300]	training's auc: 0.902657	valid_1's auc: 0.787881
[auc] tr:0.900292, va0.7879
-------------------- 1 --------------------
(246005, 634) (61501, 634)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.77079	valid_1's auc: 0.754155
[200]	training's auc: 0.785419	valid_1's auc: 0.762825
[300]	training's auc: 0.798123	valid_1's auc: 0.770467
[400]	training's auc: 0.808574	valid_1's auc: 0.776418
[500]	training's auc: 0.817244	valid_1's auc: 0.780319
[600]	training's auc: 0.824722	valid_1's auc: 0.782913
[700]	training's auc: 0.831736	valid_1's auc: 0.784984
[800]	training's auc: 0.838272	valid_1's auc: 0.786596
[900]	training's auc: 0.844388	valid_1's auc: 0.787897
[1000]	training's auc: 0.849979	valid_1's auc: 0.78877
[1100]	training's auc: 0.855331	valid_1's auc: 0.789555
[1200]	training's auc: 0.860329	valid_1's auc: 0.790121
[1300]	training's auc: 0.865126	valid_1's auc: 0.790523
[1400]	training's auc: 0.869596	valid_1's auc: 0.790823
[1500]	training's auc: 0.873923	valid_1's auc: 0.791072
[1600]	training's auc: 0.877935	valid_1's auc: 0.791258
[1700]	training's auc: 0.88186	valid_1's auc: 0.791382
[1800]	training's auc: 0.885681	valid_1's auc: 0.79149
[1900]	training's auc: 0.889324	valid_1's auc: 0.79154
[2000]	training's auc: 0.892868	valid_1's auc: 0.791597
[2100]	training's auc: 0.896317	valid_1's auc: 0.791722
[2200]	training's auc: 0.89972	valid_1's auc: 0.791696
[2300]	training's auc: 0.902858	valid_1's auc: 0.791771
[2400]	training's auc: 0.905956	valid_1's auc: 0.791831
[2500]	training's auc: 0.908995	valid_1's auc: 0.791827
[auc] tr:0.906239, va0.7918
-------------------- 2 --------------------
(246005, 634) (61501, 634)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.77097	valid_1's auc: 0.749607
[200]	training's auc: 0.786039	valid_1's auc: 0.759423
[300]	training's auc: 0.798815	valid_1's auc: 0.76685
[400]	training's auc: 0.809411	valid_1's auc: 0.772307
[500]	training's auc: 0.818235	valid_1's auc: 0.776066
[600]	training's auc: 0.82587	valid_1's auc: 0.778423
[700]	training's auc: 0.832682	valid_1's auc: 0.780033
[800]	training's auc: 0.839039	valid_1's auc: 0.781435
[900]	training's auc: 0.844981	valid_1's auc: 0.782442
[1000]	training's auc: 0.850416	valid_1's auc: 0.783304
[1100]	training's auc: 0.8557	valid_1's auc: 0.783901
[1200]	training's auc: 0.860707	valid_1's auc: 0.784403
[1300]	training's auc: 0.865338	valid_1's auc: 0.784771
[1400]	training's auc: 0.869751	valid_1's auc: 0.785043
[1500]	training's auc: 0.873889	valid_1's auc: 0.785273
[1600]	training's auc: 0.877896	valid_1's auc: 0.785488
[1700]	training's auc: 0.881841	valid_1's auc: 0.785617
[1800]	training's auc: 0.885548	valid_1's auc: 0.785726
[1900]	training's auc: 0.889175	valid_1's auc: 0.785813
[2000]	training's auc: 0.892663	valid_1's auc: 0.785992
[2100]	training's auc: 0.896092	valid_1's auc: 0.786166
[2200]	training's auc: 0.899353	valid_1's auc: 0.786302
[2300]	training's auc: 0.902552	valid_1's auc: 0.786467
[2400]	training's auc: 0.905656	valid_1's auc: 0.786508
[2500]	training's auc: 0.908672	valid_1's auc: 0.786612
[2600]	training's auc: 0.911596	valid_1's auc: 0.786543
[auc] tr:0.908778, va0.7866
-------------------- 3 --------------------
(246005, 634) (61501, 634)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.769145	valid_1's auc: 0.755984
[200]	training's auc: 0.78378	valid_1's auc: 0.765768
[300]	training's auc: 0.796993	valid_1's auc: 0.773605
[400]	training's auc: 0.807779	valid_1's auc: 0.778824
[500]	training's auc: 0.81668	valid_1's auc: 0.782372
[600]	training's auc: 0.824481	valid_1's auc: 0.784897
[700]	training's auc: 0.831509	valid_1's auc: 0.786719
[800]	training's auc: 0.837934	valid_1's auc: 0.788053
[900]	training's auc: 0.843931	valid_1's auc: 0.789193
[1000]	training's auc: 0.84956	valid_1's auc: 0.790048
[1100]	training's auc: 0.854836	valid_1's auc: 0.790865
[1200]	training's auc: 0.859723	valid_1's auc: 0.79134
[1300]	training's auc: 0.86445	valid_1's auc: 0.791661
[1400]	training's auc: 0.868989	valid_1's auc: 0.79205
[1500]	training's auc: 0.873274	valid_1's auc: 0.792313
[1600]	training's auc: 0.877311	valid_1's auc: 0.792531
[1700]	training's auc: 0.881286	valid_1's auc: 0.792621
[1800]	training's auc: 0.884973	valid_1's auc: 0.792627
[1900]	training's auc: 0.888579	valid_1's auc: 0.792671
[2000]	training's auc: 0.892098	valid_1's auc: 0.792854
[2100]	training's auc: 0.895469	valid_1's auc: 0.792941
[2200]	training's auc: 0.898943	valid_1's auc: 0.793031
[2300]	training's auc: 0.902133	valid_1's auc: 0.793138
[2400]	training's auc: 0.905227	valid_1's auc: 0.793172
[2500]	training's auc: 0.90827	valid_1's auc: 0.793233
[2600]	training's auc: 0.911223	valid_1's auc: 0.793294
[auc] tr:0.909671, va0.7933
-------------------- 4 --------------------
(246005, 634) (61501, 634)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.769745	valid_1's auc: 0.755015
[200]	training's auc: 0.784989	valid_1's auc: 0.764446
[300]	training's auc: 0.79792	valid_1's auc: 0.771915
[400]	training's auc: 0.808588	valid_1's auc: 0.777438
[500]	training's auc: 0.817274	valid_1's auc: 0.781052
[600]	training's auc: 0.825011	valid_1's auc: 0.783754
[700]	training's auc: 0.83202	valid_1's auc: 0.785727
[800]	training's auc: 0.83849	valid_1's auc: 0.787338
[900]	training's auc: 0.844431	valid_1's auc: 0.78838
[1000]	training's auc: 0.850023	valid_1's auc: 0.789439
[1100]	training's auc: 0.855395	valid_1's auc: 0.790264
[1200]	training's auc: 0.860498	valid_1's auc: 0.790861
[1300]	training's auc: 0.865264	valid_1's auc: 0.791383
[1400]	training's auc: 0.869857	valid_1's auc: 0.791793
[1500]	training's auc: 0.87431	valid_1's auc: 0.791994
[1600]	training's auc: 0.878382	valid_1's auc: 0.792142
[1700]	training's auc: 0.882258	valid_1's auc: 0.792229
[1800]	training's auc: 0.886009	valid_1's auc: 0.792311
[1900]	training's auc: 0.889735	valid_1's auc: 0.792383
[2000]	training's auc: 0.893285	valid_1's auc: 0.792405
[auc] tr:0.890084, va0.7924
-------------------- result --------------------
[[0.         0.90029201 0.78794565]
 [1.         0.9062389  0.79184915]
 [2.         0.90877809 0.78662246]
 [3.         0.90967098 0.79330258]
 [4.         0.89008385 0.79241863]]
[cv] tr:0.9030+-0.0072, va:0.7904+-0.0026
[oof]0.7904

In [130]:
imp.sort_values("imp", ascending=False)[:20]

                                      col            imp       imp_std
285                       EXT_SOURCE_mean  311643.472622  12531.853492
435                   NEW_EXT_SOURCES_GEO  171759.982530   8809.139185
437                NEW_EXT_SOURCES_MEDIAN   62687.475443  20943.737260
429           NEW_CREDIT_TO_ANNUITY_RATIO   44553.827681   1214.128747
140                    ANNUITY_div_CREDIT   32198.376199   2721.713249
108                       AMT_PAYMENT_min   30684.801762   1422.261737
284                        EXT_SOURCE_max   28079.097182   4736.985600
632                debt_credit_ratio_None   24308.265761   1229.056281
187            CNT_INSTALMENT_FUTURE_mean   24098.291150   1221.278018
622   app_EXT_SOURCE_2_times_EXT_SOURCE_3   21271.383354   3227.067310
430             NEW_CREDIT_TO_GOODS_RATIO   20967.425314   1305.580849
616       app_EXT_SOURCE_1_PER_DAYS_BIRTH   20887.618671    690.892578
630                    credit_downpayment   19811.712150    623.191706
0                             AMT_ANNUITY   18544.906312    525.260943
247                       DAYS_CREDIT_max   18230.518151    966.282295
282                          EXT_SOURCE_3   18170.569013   1873.346576
612                app_DAYS_EMPLOYED_PERC   17925.146005   1591.192267
107                      AMT_PAYMENT_mean   17159.041469    788.007876
189             CNT_INSTALMENT_FUTURE_std   16630.838128   1190.403423
621  app_EXT_SOURCE_2_times_DAYS_EMPLOYED   15500.916085    947.373314

In [131]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [132]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [133]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering6.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.034923
1      100005  0.109607
2      100013  0.036768
3      100028  0.034721
4      100038  0.153525

### mean mean

In [134]:
# consumer_annuity_to_max_installment_ratio
app_train_mean1 = pd.read_csv('./home-credit-default-risk/datasets/train_hc_only_consumer_annuity_to_max_installment_ratio.csv')
app_test_mean1 =  pd.read_csv('./home-credit-default-risk/datasets/test_hc_only_consumer_annuity_to_max_installment_ratio.csv')
app_train_mean1 = app_train_mean1.rename(columns={'sk_id_curr': 'SK_ID_CURR'})
app_test_mean1 = app_test_mean1.rename(columns={'sk_id_curr': 'SK_ID_CURR'})

### installment_payment_ratio_1000_mean_mean
#### consumer_installment_payment_ratio_1000_mean_mean
app_train_mean2 = pd.read_csv('./home-credit-default-risk/datasets/train_hc_only_consumer_installment_payment_ratio_1000_mean_mean.csv')
app_test_mean2 =  pd.read_csv('./home-credit-default-risk/datasets/test_hc_only_consumer_installment_payment_ratio_1000_mean_mean.csv')
app_train_mean2 = app_train_mean2.rename(columns={'sk_id_curr': 'SK_ID_CURR'})
app_test_mean2 = app_test_mean2.rename(columns={'sk_id_curr': 'SK_ID_CURR'})


#### revo_installment_payment_ratio_1000_mean_mean
app_train_mean3 = pd.read_csv('./home-credit-default-risk/datasets/train_hc_only_revo_installment_payment_ratio_1000_mean_mean.csv')
app_test_mean3 =  pd.read_csv('./home-credit-default-risk/datasets/test_hc_only_revo_installment_payment_ratio_1000_mean_mean.csv')
app_train_mean3 = app_train_mean3.rename(columns={'sk_id_curr': 'SK_ID_CURR'})
app_test_mean3 = app_test_mean3.rename(columns={'sk_id_curr': 'SK_ID_CURR'})

#### installment_payment_ratio_1000_mean_mean
app_train_mean4 = pd.read_csv('./home-credit-default-risk/datasets/train_hc_only_cash_installment_payment_ratio_1000_mean_mean.csv')
app_test_mean4 =  pd.read_csv('./home-credit-default-risk/datasets/test_hc_only_cash_installment_payment_ratio_1000_mean_mean.csv')
app_train_mean4 = app_train_mean4.rename(columns={'sk_id_curr': 'SK_ID_CURR'})
app_test_mean4 = app_test_mean4.rename(columns={'sk_id_curr': 'SK_ID_CURR'})

In [135]:
# infをnanへ置換
app_train_mean1 = app_train_mean1.replace([np.inf, -np.inf], np.nan)
app_test_mean1 = app_train_mean1.replace([np.inf, -np.inf], np.nan)

app_train_mean2 = app_train_mean2.replace([np.inf, -np.inf], np.nan)
app_test_mean2 = app_test_mean2.replace([np.inf, -np.inf], np.nan)

app_train_mean3 = app_train_mean3.replace([np.inf, -np.inf], np.nan)
app_test_mean3 = app_test_mean3.replace([np.inf, -np.inf], np.nan)

app_train_mean4 = app_train_mean4.replace([np.inf, -np.inf], np.nan)
app_test_mean4 = app_train_mean4.replace([np.inf, -np.inf], np.nan)

In [136]:
#
#app_train_mean1 = app_train_mean1.fillna(0)
#app_test_mean1 = app_test_mean1.fillna(0)

#app_train_mean2 = app_train_mean2.fillna(0)
#app_test_mean2 = app_test_mean2.fillna(0)

#app_train_mean3 = app_train_mean3.fillna(0)
#app_test_mean3 = app_test_mean3.fillna(0)

#app_train_mean4 = app_train_mean4.fillna(0)
#app_test_mean4 = app_test_mean4.fillna(0)

In [137]:
df_train = pd.merge(app_train, bureau_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')

df_train = pd.merge(df_train, app_train_mean1, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, app_train_mean2, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, app_train_mean3, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, app_train_mean4, on='SK_ID_CURR', how='left')

df_train = df_train.fillna(0)

print(df_train.shape)
df_train.head()

(307506, 640)

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique,consumer_annuity_to_max_installment_ratio,consumer_installment_payment_ratio_1000_mean_mean,revo_installment_payment_ratio_1000_mean_mean,installment_payment_ratio_1000_mean_mean
0,0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018799,-9461,...,0.000000,0.000000,0.0,0.0,19.0,1.0,-988.0000,0.0,0.0,0.0
1,1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003542,-16765,...,0.000000,0.000000,0.0,0.0,28.0,3.0,0.0000,0.0,0.0,0.0
2,2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010033,-19046,...,0.000000,0.000000,0.0,0.0,4.0,1.0,0.0000,0.0,0.0,0.0
3,3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008018,-19005,...,0.047619,0.000000,0.0,0.0,21.0,3.0,-2698.7273,0.0,0.0,0.0
4,4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028656,-19932,...,0.000000,0.015152,0.0,0.0,66.0,5.0,0.0000,0.0,0.0,0.0

In [138]:
df_test = pd.merge(app_test, bureau_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')

df_test = pd.merge(df_test, app_test_mean1, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, app_test_mean2, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, app_test_mean3, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, app_test_mean4, on='SK_ID_CURR', how='left')

df_test = df_test.fillna(0)

print(df_test.shape)
df_test.head()

(48744, 639)

,level_0,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique,consumer_annuity_to_max_installment_ratio,consumer_installment_payment_ratio_1000_mean_mean,revo_installment_payment_ratio_1000_mean_mean,installment_payment_ratio_1000_mean_mean
0,307511,100001,0,135000.0,568800.0,20560.5,450000.0,0.018845,-19241,-2328.0,...,0.0,0.000000,0.0,0.0,9.0,2.0,0.0,0.00000,0.000000,0.0
1,307512,100005,0,99000.0,222768.0,17370.0,180000.0,0.035797,-18064,-4468.0,...,0.0,0.090909,0.0,0.0,11.0,1.0,0.0,0.00000,0.000000,0.0
2,307513,100013,0,202500.0,663264.0,69777.0,630000.0,0.019104,-20038,-4456.0,...,0.0,0.027778,0.0,0.0,36.0,3.0,0.0,-1185.60375,0.000000,0.0
3,307514,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026398,-13976,-1866.0,...,0.0,0.000000,0.0,0.0,31.0,2.0,0.0,0.00000,-1148.027459,0.0
4,307515,100038,1,180000.0,625500.0,32067.0,625500.0,0.010033,-13040,-2192.0,...,0.0,0.000000,0.0,0.0,13.0,1.0,0.0,0.00000,0.000000,0.0

In [139]:
# 処理対象の列名をリスト化(Rev/Cashのcolumnを取得する)
replace_columns = list(df_test.select_dtypes(include='number').columns)
replace_columns.remove('SK_ID_CURR')
replace_columns.remove('EXT_SOURCE_3')
replace_columns.remove('EXT_SOURCE_2')
replace_columns.remove('EXT_SOURCE_1')

In [140]:
### 欠損値を補完する()

#for column in processing_columns:
#    #print("Missing Value Completion Process: " + column + "\n")
#    result = modules.process_imputer(df_train, df_test, replace_columns, column)
#    if result != True:
#        print("Can not Process: " + column + "\n")

In [141]:
### infをnanへ置換
df_train = df_train.replace([np.inf, -np.inf], np.nan)
df_train.head()

,level_0,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,...,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique,consumer_annuity_to_max_installment_ratio,consumer_installment_payment_ratio_1000_mean_mean,revo_installment_payment_ratio_1000_mean_mean,installment_payment_ratio_1000_mean_mean
0,0,100002,1.0,0,202500.0,406597.5,24700.5,351000.0,0.018799,-9461,...,0.000000,0.000000,0.0,0.0,19.0,1.0,-988.0000,0.0,0.0,0.0
1,1,100003,0.0,0,270000.0,1293502.5,35698.5,1129500.0,0.003542,-16765,...,0.000000,0.000000,0.0,0.0,28.0,3.0,0.0000,0.0,0.0,0.0
2,2,100004,0.0,0,67500.0,135000.0,6750.0,135000.0,0.010033,-19046,...,0.000000,0.000000,0.0,0.0,4.0,1.0,0.0000,0.0,0.0,0.0
3,3,100006,0.0,0,135000.0,312682.5,29686.5,297000.0,0.008018,-19005,...,0.047619,0.000000,0.0,0.0,21.0,3.0,-2698.7273,0.0,0.0,0.0
4,4,100007,0.0,0,121500.0,513000.0,21865.5,513000.0,0.028656,-19932,...,0.000000,0.015152,0.0,0.0,66.0,5.0,0.0000,0.0,0.0,0.0

In [142]:
### 欠損値を補完する
#df_train = df_train.fillna(df_train.max() + (df_train.max() * 0.4))
#df_train.head()

In [143]:
### infをnanへ置換
df_test = df_test.replace([np.inf, -np.inf], np.nan)
df_test.head()

,level_0,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique,consumer_annuity_to_max_installment_ratio,consumer_installment_payment_ratio_1000_mean_mean,revo_installment_payment_ratio_1000_mean_mean,installment_payment_ratio_1000_mean_mean
0,307511,100001,0,135000.0,568800.0,20560.5,450000.0,0.018845,-19241,-2328.0,...,0.0,0.000000,0.0,0.0,9.0,2.0,0.0,0.00000,0.000000,0.0
1,307512,100005,0,99000.0,222768.0,17370.0,180000.0,0.035797,-18064,-4468.0,...,0.0,0.090909,0.0,0.0,11.0,1.0,0.0,0.00000,0.000000,0.0
2,307513,100013,0,202500.0,663264.0,69777.0,630000.0,0.019104,-20038,-4456.0,...,0.0,0.027778,0.0,0.0,36.0,3.0,0.0,-1185.60375,0.000000,0.0
3,307514,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026398,-13976,-1866.0,...,0.0,0.000000,0.0,0.0,31.0,2.0,0.0,0.00000,-1148.027459,0.0
4,307515,100038,1,180000.0,625500.0,32067.0,625500.0,0.010033,-13040,-2192.0,...,0.0,0.000000,0.0,0.0,13.0,1.0,0.0,0.00000,0.000000,0.0

In [144]:
### 欠損値補完
#df_test = df_test.fillna(df_test.max() + (df_test.max() * 0.4))
#df_test.head()

In [145]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(df_test.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')
#encoding_columns.remove('EXT_SOURCE_3')
#encoding_columns.remove('EXT_SOURCE_2')
#encoding_columns.remove('EXT_SOURCE_1')

In [146]:
### Yao-Jhonson変換
for column in encoding_columns:
    modules.process_yj_convert(df_train, df_test, column, [column])

df_train.head()

Unexpected err=KeyboardInterrupt(), type(err)=<class 'KeyboardInterrupt'>

KeyboardInterrupt:

In [ ]:
#encoding_columns.append('EXT_SOURCE_3')
#encoding_columns.append('EXT_SOURCE_2')
#encoding_columns.append('EXT_SOURCE_1')

In [ ]:
### indexを設定
df_train = df_train.set_index('SK_ID_CURR')
df_test = df_test.set_index('SK_ID_CURR')
df_train.head()

In [ ]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(df_train, df_test, num_cols)
        
df_train.head()

In [ ]:
### indexを削除
df_train = df_train.reset_index()
df_test = df_test.reset_index()
df_train.head()

In [ ]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

In [ ]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [ ]:
baseline = Baseline('SK_ID_CURR')

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

In [ ]:
imp.sort_values("imp", ascending=False)[:20]

In [ ]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [ ]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

In [ ]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering7.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

### 変数選択001

In [ ]:
length = int(len(df_train.columns) * 0.95)
length

In [ ]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

In [ ]:
df_train = df_train[train_columns]
df_test = df_test[test_columns]
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

In [ ]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

In [ ]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [ ]:
baseline = Baseline('SK_ID_CURR')

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

In [ ]:
imp.sort_values("imp", ascending=False)[:20]

In [ ]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [ ]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

In [ ]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering8.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

## パラメータ・チューニング

In [ ]:
baseline = Baseline('SK_ID_CURR')

sampler = optuna.samplers.TPESampler(seed=123)
study = optuna.create_study(sampler=sampler, direction='maximize')
study.optimize(objective, n_trials=50, n_jobs=5)

In [ ]:
trial = study.best_trial
print("auc(best)={:.4f}".format(trial.value))
display(trial.params)

In [ ]:
params_best = trial.params
params_best.update(params_base)
display(params_best)

In [ ]:
train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5
                                    ,params=params_best)

In [ ]:
# 推論用データセットの作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

# predict
test_pred = baseline.predict_lgb(x_test
                       ,id_test
                       ,list_nfold=[0,1,2,3,4])

# make submission-file
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv("./home-credit-default-risk/submit/submission_HyperParameterTuning.csv", index=None)

In [ ]:
del df_train
del df_test
gc.collect()