In [1]:
import cupy as cp
import numpy as np
import pandas as pd
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
import scipy.stats as st
import pickle
import optuna
import re
import gc

from lightgbm import LGBMClassifier

from sklearn import metrics
from sklearn.tree import plot_tree
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.impute import SimpleImputer
from sklearn_pandas import DataFrameMapper
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import log_loss
from sklearn.metrics import mean_squared_log_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.experimental import enable_iterative_imputer
from sklearn.metrics import roc_auc_score
from sklearn.datasets import make_moons
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_selection import mutual_info_classif
from sklearn.experimental import enable_iterative_imputer

from keras.layers import Dense, Dropout
from keras.models import Sequential

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

from tqdm import tqdm

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

import xgboost as xgb
from sklearn.metrics import log_loss
from xgboost.sklearn import XGBClassifier

from Modules import Modules
from Baseline import Baseline


%matplotlib inline

print("OK\n")

OK

In [2]:
baseline = Baseline('SK_ID_CURR')
modules = Modules('SK_ID_CURR')

In [3]:
def geometric_mean(x):
    return np.exp(np.log(x[x>0]).mean())

In [4]:
app_train_origin =  pd.read_csv('./home-credit-default-risk/application_train.csv')
app_test_origin =  pd.read_csv('./home-credit-default-risk/application_test.csv')
app_train_origin.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
app_train = app_train_origin.copy()
app_test = app_test_origin.copy()
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
display(app_train['DAYS_EMPLOYED'].value_counts())
print("正の値の割合: {:.4f}".format((app_train['DAYS_EMPLOYED']>0).mean()))
print("正の値の個数: {}".format((app_train['DAYS_EMPLOYED']>0).sum()))

 365243    55374
-200         156
-224         152
-230         151
-199         151
           ...
-13961         1
-11827         1
-10176         1
-9459          1
-8694          1
Name: DAYS_EMPLOYED, Length: 12574, dtype: int64

正の値の割合: 0.1801
正の値の個数: 55374

### one-hot-encoding

In [7]:
app_train = app_train_origin.copy()
app_test = app_test_origin.copy()
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
### CODE_GENDER
app_train['CODE_GENDER'].replace(['XNA'], ['M'], inplace=True)
app_test['CODE_GENDER'].replace(['XNA'], ['M'], inplace=True)
app_train['CODE_GENDER'].replace(['F', 'M'], [0, 1], inplace=True)
app_test['CODE_GENDER'].replace(['F', 'M'], [0, 1], inplace=True)
#encoding_columns.remove('CODE_GENDER')
### NAME_INCOME_TYPE
app_train['NAME_INCOME_TYPE'].replace(['Maternity leave'], ['Unemployed'], inplace=True)
app_test['NAME_INCOME_TYPE'].replace(['Maternity leave'], ['Unemployed'], inplace=True)
app_train['NAME_INCOME_TYPE'].replace(['Working','Commercial associate','Pensioner','State servant','Unemployed','Student','Businessman','Maternity leave'], [0, 1, 2, 3, 4, 5, 6, 7], inplace=True)
app_test['NAME_INCOME_TYPE'].replace(['Working','Commercial associate','Pensioner','State servant','Unemployed','Student','Businessman','Maternity leave'], [0, 1, 2, 3, 4, 5, 6, 7], inplace=True)
#encoding_columns.remove('NAME_INCOME_TYPE')
### NAME_FAMILY_STATUS
app_train['NAME_FAMILY_STATUS'].replace('Unknown', 'Married', inplace=True)
app_test['NAME_FAMILY_STATUS'].replace('Unknown', 'Married', inplace=True)
app_train['NAME_FAMILY_STATUS'].replace(['Married','Single / not married','Civil marriage','Separated','Widow'], [0, 1, 2, 3, 4], inplace=True)
app_test['NAME_FAMILY_STATUS'].replace(['Married','Single / not married','Civil marriage','Separated','Widow'], [0, 1, 2, 3, 4], inplace=True)
#encoding_columns.remove('NAME_FAMILY_STATUS')

In [9]:
# one-hotencoding
encoding_columns = []

for col in app_test.columns:
    if app_test[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

encoding_columns.append('CODE_GENDER')
encoding_columns.append('NAME_INCOME_TYPE')
encoding_columns.append('NAME_FAMILY_STATUS')

NAME_CONTRACT_TYPE
FLAG_OWN_CAR
FLAG_OWN_REALTY
NAME_TYPE_SUITE
NAME_EDUCATION_TYPE
NAME_HOUSING_TYPE
OCCUPATION_TYPE
WEEKDAY_APPR_PROCESS_START
ORGANIZATION_TYPE
FONDKAPREMONT_MODE
HOUSETYPE_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE

In [10]:
for col in encoding_columns:
    app_train = pd.get_dummies(app_train, columns=[col], dummy_na=True)
    app_test = pd.get_dummies(app_test, columns=[col], dummy_na=True)
    
app_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_INCOME_TYPE_4.0,NAME_INCOME_TYPE_5.0,NAME_INCOME_TYPE_6.0,NAME_INCOME_TYPE_nan,NAME_FAMILY_STATUS_0.0,NAME_FAMILY_STATUS_1.0,NAME_FAMILY_STATUS_2.0,NAME_FAMILY_STATUS_3.0,NAME_FAMILY_STATUS_4.0,NAME_FAMILY_STATUS_nan
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0,0,0,0,0,1,0,0,0,0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0,0,0,0,1,0,0,0,0,0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0,0,0,0,0,1,0,0,0,0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0,0,0,0,0,0,1,0,0,0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0,0,0,0,0,1,0,0,0,0

In [11]:
### 
for col in app_train.columns:
    app_train[col] = app_train[col].replace('\s', '_', regex=True)
    app_train[col] = app_train[col].replace(':', '_', regex=True)
    app_train[col] = app_train[col].replace('/', '_', regex=True)
    
app_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_INCOME_TYPE_4.0,NAME_INCOME_TYPE_5.0,NAME_INCOME_TYPE_6.0,NAME_INCOME_TYPE_nan,NAME_FAMILY_STATUS_0.0,NAME_FAMILY_STATUS_1.0,NAME_FAMILY_STATUS_2.0,NAME_FAMILY_STATUS_3.0,NAME_FAMILY_STATUS_4.0,NAME_FAMILY_STATUS_nan
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0,0,0,0,0,1,0,0,0,0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0,0,0,0,1,0,0,0,0,0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0,0,0,0,0,1,0,0,0,0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0,0,0,0,0,0,1,0,0,0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0,0,0,0,0,1,0,0,0,0

In [12]:
### 
for col in app_test.columns:
    app_test[col] = app_test[col].replace('\s', '_', regex=True)
    app_test[col] = app_test[col].replace(':', '_', regex=True)
    app_test[col] = app_test[col].replace('/', '_', regex=True)
    
app_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_INCOME_TYPE_4.0,NAME_INCOME_TYPE_5.0,NAME_INCOME_TYPE_6.0,NAME_INCOME_TYPE_nan,NAME_FAMILY_STATUS_0.0,NAME_FAMILY_STATUS_1.0,NAME_FAMILY_STATUS_2.0,NAME_FAMILY_STATUS_3.0,NAME_FAMILY_STATUS_4.0,NAME_FAMILY_STATUS_nan
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637,...,0,0,0,0,0,1,0,0,0,0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188,...,0,0,0,0,1,0,0,0,0,0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225,...,0,0,0,0,0,1,0,0,0,0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039,...,0,0,0,0,0,0,1,0,0,0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038,...,0,0,0,0,0,1,0,0,0,0

In [13]:
len(app_train.columns)

259

In [14]:
len(app_test.columns)

258

In [15]:
app_test.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_INCOME_TYPE_4.0,NAME_INCOME_TYPE_5.0,NAME_INCOME_TYPE_6.0,NAME_INCOME_TYPE_nan,NAME_FAMILY_STATUS_0.0,NAME_FAMILY_STATUS_1.0,NAME_FAMILY_STATUS_2.0,NAME_FAMILY_STATUS_3.0,NAME_FAMILY_STATUS_4.0,NAME_FAMILY_STATUS_nan
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241,-2329,-5170.0,...,0,0,0,0,1,0,0,0,0,0
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064,-4469,-9118.0,...,0,0,0,0,1,0,0,0,0,0
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038,-4458,-2175.0,...,0,0,0,0,1,0,0,0,0,0
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976,-1866,-2000.0,...,0,0,0,0,1,0,0,0,0,0
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010032,-13040,-2191,-4000.0,...,0,0,0,0,1,0,0,0,0,0

In [16]:
app_train = app_train.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '_', x))
app_test = app_test.rename(columns = lambda x:re.sub('[^A-Za-z0-9_]+', '_', x))

### app特徴量作成

In [17]:
app_train['DAYS_EMPLOYED'] = app_train['DAYS_EMPLOYED'].replace(365243, np.nan)

In [18]:
docs = [_f for _f in app_train.columns if 'FLAG_DOC' in _f]
live = [_f for _f in app_train.columns if ('FLAG_' in _f) & ('FLAG_DOC' not in _f) & ('_FLAG_' not in _f)]
app_train['ORGANIZATION_TYPE'] = app_train_origin['ORGANIZATION_TYPE'].copy()

# nullに置き換え
app_train['DAYS_EMPLOYED'] = app_train['DAYS_EMPLOYED'].replace(365243, np.nan)

inc_by_org = app_train[['AMT_INCOME_TOTAL', 'ORGANIZATION_TYPE']].groupby('ORGANIZATION_TYPE').median()['AMT_INCOME_TOTAL']

# 特徴量1: 総所得金額を世帯人数で除した値
app_train['INCOME_div_PERSON'] = app_train['AMT_INCOME_TOTAL'] / app_train['CNT_FAM_MEMBERS']

# 特徴量2: 総所得額を就労期間で除した値
app_train['INCOME_div_EMPLOYED'] = app_train['AMT_INCOME_TOTAL'] / app_train['DAYS_EMPLOYED']

#
app_train['NEW_CREDIT_TO_ANNUITY_RATIO'] = app_train['AMT_CREDIT'] / app_train['AMT_ANNUITY']

app_train['NEW_CREDIT_TO_GOODS_RATIO'] = app_train['AMT_CREDIT'] / app_train['AMT_GOODS_PRICE']

app_train['NEW_DOC_IND_KURT'] = app_train[docs].kurtosis(axis=1)

app_train['NEW_LIVE_IND_SUM'] = app_train[live].sum(axis=1)

app_train['NEW_INC_PER_CHLD'] = app_train['AMT_INCOME_TOTAL'] / (1 + app_train['CNT_CHILDREN'])

app_train['NEW_INC_BY_ORG'] = app_train['ORGANIZATION_TYPE'].map(inc_by_org)

app_train['NEW_EMPLOY_TO_BIRTH_RATIO'] = app_train['DAYS_EMPLOYED'] / app_train['DAYS_BIRTH']

app_train['NEW_EMPLOY_TO_BIRTH-18_RATIO'] = app_train['DAYS_EMPLOYED'] / (app_train['DAYS_BIRTH'] + 18*365)

app_train['NEW_BIRTH_TO_EMPLOY_RATIO'] = app_train['DAYS_BIRTH'] / (1 + app_train['DAYS_EMPLOYED'])

app_train['NEW_INCOME_TO_ANNUITY_RATIO'] = app_train['AMT_INCOME_TOTAL'] / (1 + app_train['AMT_ANNUITY'])

app_train['NEW_ANNUITY_TO_INCOME_RATIO'] = app_train['AMT_ANNUITY'] / (1 + app_train['AMT_INCOME_TOTAL'])


# 特徴量3: 外部スコアの平均
app_train['NEW_EXT_SOURCES_MEDIAN'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].median(axis=1, skipna=True)

app_train['EXT_SOURCE_mean'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis=1)
    
app_train['EXT_SOURCE_max'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].max(axis=1)

app_train['EXT_SOURCE_min'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].min(axis=1)

app_train['EXT_SOURCE_std'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].std(axis=1)

app_train['EXT_SOURCE_count'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].notnull().sum(axis=1)

app_train['NEW_EXT_SOURCES_PROD'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].prod(axis=1, skipna=True, min_count=1)

app_train['NEW_EXT_SOURCES_MAD'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mad(axis=1, skipna=True)

app_train['NEW_EXT_SOURCES_GEO'] = app_train[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].apply(geometric_mean, axis=1)

# 特徴量4: 就労期間を年齢で除した値
app_train['DAYS_EMPLOYED_div_BERTH'] = app_train['DAYS_EMPLOYED'] / app_train['DAYS_BIRTH']

# 特徴量5: 年金支払金額を所得金額で除した値
app_train['ANNUITY_div_INCOME'] = app_train['AMT_ANNUITY'] / app_train['AMT_INCOME_TOTAL']

# 特徴量6: 年金支払額を借入金で除した値
app_train['ANNUITY_div_CREDIT'] = app_train['AMT_ANNUITY'] / app_train['AMT_CREDIT']

### 
app_train['credit_goods_price_ratio'] = app_train['AMT_CREDIT'] / app_train['AMT_GOODS_PRICE']
 
app_train['credit_downpayment'] = app_train['AMT_GOODS_PRICE'] - app_train['AMT_CREDIT']

app_train['USER_AGE'] = abs(app_train['DAYS_BIRTH'])/364.25

app_train['NEW_CAR_TO_BIRTH_RATIO'] = app_train['OWN_CAR_AGE'] / app_train['DAYS_BIRTH']

app_train['NEW_CAR_TO_EMPLOY_RATIO'] = app_train['OWN_CAR_AGE'] / app_train['DAYS_EMPLOYED']

app_train['NEW_PHONE_TO_BIRTH_RATIO'] = app_train['DAYS_LAST_PHONE_CHANGE'] / app_train['DAYS_BIRTH']

app_train['NEW_PHONE_TO_EMPLOYED_RATIO'] = app_train['DAYS_LAST_PHONE_CHANGE'] / app_train['DAYS_EMPLOYED']

app_train['NEW_CREDIT_TO_INCOME_RATIO'] = app_train['AMT_CREDIT'] / app_train['AMT_INCOME_TOTAL']

app_train['NEW_INCOME_CREDIT_PERC'] = app_train['AMT_INCOME_TOTAL'] / app_train['AMT_CREDIT']

app_train['NEW_INCOME_PER_PERSON'] = app_train['AMT_INCOME_TOTAL'] / app_train['CNT_FAM_MEMBERS']

### 2022/06/25
app_train['app_EXT_SOURCE_prod'] = app_train['EXT_SOURCE_1'] * app_train['EXT_SOURCE_2'] * app_train['EXT_SOURCE_3']
app_train['app_EXT_SOURCE_1_times_EXT_SOURCE_2'] = app_train['EXT_SOURCE_1'] * app_train['EXT_SOURCE_2']
app_train['app_EXT_SOURCE_1_times_EXT_SOURCE_3'] = app_train['EXT_SOURCE_1'] * app_train['EXT_SOURCE_3']
app_train['app_EXT_SOURCE_2_times_EXT_SOURCE_3'] = app_train['EXT_SOURCE_2'] * app_train['EXT_SOURCE_3']
app_train['app_EXT_SOURCE_1_times_DAYS_EMPLOYED'] = app_train['EXT_SOURCE_1'] * app_train['DAYS_EMPLOYED']
app_train['app_EXT_SOURCE_2_times_DAYS_EMPLOYED'] = app_train['EXT_SOURCE_2'] * app_train['DAYS_EMPLOYED']
app_train['app_EXT_SOURCE_3_times_DAYS_EMPLOYED'] = app_train['EXT_SOURCE_3'] * app_train['DAYS_EMPLOYED']
app_train['app_EXT_SOURCE_1_PER_DAYS_BIRTH'] = app_train['EXT_SOURCE_1'] / app_train['DAYS_BIRTH']
app_train['app_EXT_SOURCE_2_PER_DAYS_BIRTH'] = app_train['EXT_SOURCE_2'] / app_train['DAYS_BIRTH']
app_train['app_EXT_SOURCE_3_PER_DAYS_BIRTH'] = app_train['EXT_SOURCE_3'] / app_train['DAYS_BIRTH']

### 2022/06/26
#app_train['app_most_popular_AMT_GOODS_PRICE'] = app_train['AMT_GOODS_PRICE'] \
#    .isin([225000, 450000, 675000, 900000]).map({True: 1, False: 0})
#app_train['app_popular_AMT_GOODS_PRICE'] = app_train['AMT_GOODS_PRICE'] \
#    .isin([1125000, 1350000, 1575000, 1800000, 2250000]).map({True: 1, False: 0})
#app_train['app_OWN_CAR_AGE_div_DAYS_BIRTH'] = app_train['OWN_CAR_AGE'] / app_train['DAYS_BIRTH']
#app_train['app_OWN_CAR_AGE_div_DAYS_EMPLOYED'] = app_train['OWN_CAR_AGE'] / app_train['DAYS_EMPLOYED']
#app_train['app_DAYS_LAST_PHONE_CHANGE_div_DAYS_BIRTH'] = app_train['DAYS_LAST_PHONE_CHANGE'] / app_train['DAYS_BIRTH']
#app_train['app_DAYS_LAST_PHONE_CHANGE_div_DAYS_EMPLOYED'] = app_train['DAYS_LAST_PHONE_CHANGE'] / app_train['DAYS_EMPLOYED']
#app_train['app_DAYS_EMPLOYED_PERC'] = app_train['DAYS_EMPLOYED'] - app_train['DAYS_BIRTH']
#app_train['app_DAYS_EMPLOYED_div_DAYS_BIRTH'] = app_train['DAYS_EMPLOYED'] / app_train['DAYS_BIRTH']
#app_train['app_CNT_CHILDREN_div_CNT_FAM_MEMBERS'] = app_train['CNT_CHILDREN'] / app_train['CNT_FAM_MEMBERS']

### 
app_train.drop('ORGANIZATION_TYPE', axis=1, inplace=True)

len(app_train.columns)

304

In [19]:
x_train = app_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = app_train['TARGET']
id_train = app_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=='O':
        x_train[col] = x_train[col].astype('category')

In [20]:
baseline = Baseline('SK_ID_CURR')

"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 302) (61503, 302)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.758829	valid_1's auc: 0.744355
[200]	training's auc: 0.770282	valid_1's auc: 0.752125
[300]	training's auc: 0.780319	valid_1's auc: 0.758258
[400]	training's auc: 0.789328	valid_1's auc: 0.762774
[500]	training's auc: 0.7967	valid_1's auc: 0.765617
[600]	training's auc: 0.803214	valid_1's auc: 0.767493
[700]	training's auc: 0.809013	valid_1's auc: 0.768655
[800]	training's auc: 0.814534	valid_1's auc: 0.769543
[900]	training's auc: 0.819668	valid_1's auc: 0.77018
[1000]	training's auc: 0.82451	valid_1's auc: 0.770786
[1100]	training's auc: 0.829059	valid_1's auc: 0.771145
[1200]	training's auc: 0.833475	valid_1's auc: 0.771381
[1300]	training's auc: 0.837598	valid_1's auc: 0.771384
[1400]	training's auc: 0.841598	valid_1's auc: 0.771472
[1500]	training's auc: 0.845621	valid_1's auc: 0.7716
[1600]	training's auc: 0.849759	valid_1's auc: 0.771659
[1700]	training's auc: 0.85355	valid_1's auc: 0.771766
[1800]	training's auc: 0.857132	valid_1's auc: 0.771738
[auc] tr:0.853690, va0.7718
-------------------- 1 --------------------
(246009, 302) (61502, 302)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.758972	valid_1's auc: 0.744108
[200]	training's auc: 0.77051	valid_1's auc: 0.752074
[300]	training's auc: 0.780429	valid_1's auc: 0.757604
[400]	training's auc: 0.789651	valid_1's auc: 0.76229
[500]	training's auc: 0.796948	valid_1's auc: 0.764968
[600]	training's auc: 0.803543	valid_1's auc: 0.766694
[700]	training's auc: 0.809525	valid_1's auc: 0.768282
[800]	training's auc: 0.815168	valid_1's auc: 0.769355
[900]	training's auc: 0.820247	valid_1's auc: 0.770153
[1000]	training's auc: 0.825077	valid_1's auc: 0.770622
[1100]	training's auc: 0.829614	valid_1's auc: 0.771009
[1200]	training's auc: 0.833913	valid_1's auc: 0.771306
[1300]	training's auc: 0.838188	valid_1's auc: 0.771636
[1400]	training's auc: 0.842271	valid_1's auc: 0.771752
[1500]	training's auc: 0.846293	valid_1's auc: 0.771875
[1600]	training's auc: 0.850073	valid_1's auc: 0.77202
[1700]	training's auc: 0.853877	valid_1's auc: 0.772008
[auc] tr:0.851414, va0.7721
-------------------- 2 --------------------
(246009, 302) (61502, 302)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.758476	valid_1's auc: 0.751912
[200]	training's auc: 0.769781	valid_1's auc: 0.75791
[300]	training's auc: 0.77989	valid_1's auc: 0.762588
[400]	training's auc: 0.789508	valid_1's auc: 0.766834
[500]	training's auc: 0.797075	valid_1's auc: 0.769246
[600]	training's auc: 0.803701	valid_1's auc: 0.770621
[700]	training's auc: 0.809541	valid_1's auc: 0.771618
[800]	training's auc: 0.815236	valid_1's auc: 0.772375
[900]	training's auc: 0.820481	valid_1's auc: 0.772909
[1000]	training's auc: 0.825353	valid_1's auc: 0.773295
[1100]	training's auc: 0.829934	valid_1's auc: 0.77351
[1200]	training's auc: 0.834261	valid_1's auc: 0.773745
[1300]	training's auc: 0.838478	valid_1's auc: 0.773846
[1400]	training's auc: 0.842435	valid_1's auc: 0.773941
[1500]	training's auc: 0.846255	valid_1's auc: 0.77402
[1600]	training's auc: 0.849914	valid_1's auc: 0.774038
[auc] tr:0.849189, va0.7741
-------------------- 3 --------------------
(246009, 302) (61502, 302)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.759492	valid_1's auc: 0.74591
[200]	training's auc: 0.771229	valid_1's auc: 0.753204
[300]	training's auc: 0.781018	valid_1's auc: 0.757975
[400]	training's auc: 0.790095	valid_1's auc: 0.762381
[500]	training's auc: 0.79765	valid_1's auc: 0.764976
[600]	training's auc: 0.804325	valid_1's auc: 0.767013
[700]	training's auc: 0.810247	valid_1's auc: 0.76838
[800]	training's auc: 0.815893	valid_1's auc: 0.769229
[900]	training's auc: 0.821098	valid_1's auc: 0.769882
[1000]	training's auc: 0.825957	valid_1's auc: 0.770123
[1100]	training's auc: 0.830581	valid_1's auc: 0.770231
[1200]	training's auc: 0.834796	valid_1's auc: 0.770337
[1300]	training's auc: 0.839083	valid_1's auc: 0.770465
[1400]	training's auc: 0.843235	valid_1's auc: 0.770572
[auc] tr:0.842606, va0.7706
-------------------- 4 --------------------
(246009, 302) (61502, 302)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.760779	valid_1's auc: 0.7424
[200]	training's auc: 0.771834	valid_1's auc: 0.748267
[300]	training's auc: 0.781754	valid_1's auc: 0.753315
[400]	training's auc: 0.790929	valid_1's auc: 0.757649
[500]	training's auc: 0.798488	valid_1's auc: 0.760405
[600]	training's auc: 0.805029	valid_1's auc: 0.762194
[700]	training's auc: 0.811028	valid_1's auc: 0.763391
[800]	training's auc: 0.816476	valid_1's auc: 0.764228
[900]	training's auc: 0.821775	valid_1's auc: 0.764943
[1000]	training's auc: 0.826679	valid_1's auc: 0.765404
[1100]	training's auc: 0.831198	valid_1's auc: 0.76567
[1200]	training's auc: 0.835577	valid_1's auc: 0.765783
[1300]	training's auc: 0.839711	valid_1's auc: 0.765979
[1400]	training's auc: 0.843739	valid_1's auc: 0.766103
[1500]	training's auc: 0.84759	valid_1's auc: 0.766197
[1600]	training's auc: 0.851415	valid_1's auc: 0.766248
[1700]	training's auc: 0.854994	valid_1's auc: 0.766247
[auc] tr:0.854246, va0.7663
-------------------- result --------------------
[[0.         0.85369041 0.77177331]
 [1.         0.85141398 0.77207475]
 [2.         0.84918947 0.7740702 ]
 [3.         0.84260628 0.77060347]
 [4.         0.85424647 0.76628746]]
[cv] tr:0.8502+-0.0042, va:0.7710+-0.0026
[oof]0.7709

In [21]:
imp.sort_values("imp", ascending=False)[:10]

                                     col            imp      imp_std
48                       EXT_SOURCE_mean  308790.949113  3119.898229
160                  NEW_EXT_SOURCES_GEO  130238.175772   768.721642
162               NEW_EXT_SOURCES_MEDIAN   64955.152573  1746.048339
154          NEW_CREDIT_TO_ANNUITY_RATIO   64494.314278  4846.845580
10                    ANNUITY_div_CREDIT   48383.429829  6688.071842
49                        EXT_SOURCE_min   47423.612644  1565.068819
47                        EXT_SOURCE_max   38713.765939  2325.247474
296  app_EXT_SOURCE_2_times_EXT_SOURCE_3   28399.558829  2095.607610
155            NEW_CREDIT_TO_GOODS_RATIO   28076.889760  1273.774998
45                          EXT_SOURCE_3   25028.728452   702.911022

In [22]:
app_test['DAYS_EMPLOYED'] = app_test['DAYS_EMPLOYED'].replace(365243, np.nan)

In [23]:
docs = [_f for _f in app_test.columns if 'FLAG_DOC' in _f]
live = [_f for _f in app_test.columns if ('FLAG_' in _f) & ('FLAG_DOC' not in _f) & ('_FLAG_' not in _f)]
app_test['ORGANIZATION_TYPE'] = app_test_origin['ORGANIZATION_TYPE'].copy()

# nullに置き換え
app_test['DAYS_EMPLOYED'] = app_test['DAYS_EMPLOYED'].replace(365243, np.nan)

inc_by_org = app_test[['AMT_INCOME_TOTAL', 'ORGANIZATION_TYPE']].groupby('ORGANIZATION_TYPE').median()['AMT_INCOME_TOTAL']

# 特徴量1: 総所得金額を世帯人数で除した値
app_test['INCOME_div_PERSON'] = app_test['AMT_INCOME_TOTAL'] / app_test['CNT_FAM_MEMBERS']

# 特徴量2: 総所得額を就労期間で除した値
app_test['INCOME_div_EMPLOYED'] = app_test['AMT_INCOME_TOTAL'] / app_test['DAYS_EMPLOYED']

#
app_test['NEW_CREDIT_TO_ANNUITY_RATIO'] = app_test['AMT_CREDIT'] / app_test['AMT_ANNUITY']

app_test['NEW_CREDIT_TO_GOODS_RATIO'] = app_test['AMT_CREDIT'] / app_test['AMT_GOODS_PRICE']

app_test['NEW_DOC_IND_KURT'] = app_test[docs].kurtosis(axis=1)

app_test['NEW_LIVE_IND_SUM'] = app_test[live].sum(axis=1)

app_test['NEW_INC_PER_CHLD'] = app_test['AMT_INCOME_TOTAL'] / (1 + app_test['CNT_CHILDREN'])

app_test['NEW_INC_BY_ORG'] = app_test['ORGANIZATION_TYPE'].map(inc_by_org)

app_test['NEW_EMPLOY_TO_BIRTH_RATIO'] = app_test['DAYS_EMPLOYED'] / app_test['DAYS_BIRTH']

app_test['NEW_EMPLOY_TO_BIRTH-18_RATIO'] = app_test['DAYS_EMPLOYED'] / (app_test['DAYS_BIRTH'] + 18*365)

app_test['NEW_BIRTH_TO_EMPLOY_RATIO'] = app_test['DAYS_BIRTH'] / (1 + app_test['DAYS_EMPLOYED'])

app_test['NEW_INCOME_TO_ANNUITY_RATIO'] = app_test['AMT_INCOME_TOTAL'] / (1 + app_test['AMT_ANNUITY'])

app_test['NEW_ANNUITY_TO_INCOME_RATIO'] = app_test['AMT_ANNUITY'] / (1 + app_test['AMT_INCOME_TOTAL'])


# 特徴量3: 外部スコアの平均
app_test['NEW_EXT_SOURCES_MEDIAN'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].median(axis=1, skipna=True)

app_test['EXT_SOURCE_mean'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mean(axis=1)
    
app_test['EXT_SOURCE_max'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].max(axis=1)

app_test['EXT_SOURCE_min'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].min(axis=1)

app_test['EXT_SOURCE_std'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].std(axis=1)

app_test['EXT_SOURCE_count'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].notnull().sum(axis=1)

app_test['NEW_EXT_SOURCES_PROD'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].prod(axis=1, skipna=True, min_count=1)

app_test['NEW_EXT_SOURCES_MAD'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].mad(axis=1, skipna=True)

app_test['NEW_EXT_SOURCES_GEO'] = app_test[['EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3']].apply(geometric_mean, axis=1)

# 特徴量4: 就労期間を年齢で除した値
app_test['DAYS_EMPLOYED_div_BERTH'] = app_test['DAYS_EMPLOYED'] / app_test['DAYS_BIRTH']

# 特徴量5: 年金支払金額を所得金額で除した値
app_test['ANNUITY_div_INCOME'] = app_test['AMT_ANNUITY'] / app_test['AMT_INCOME_TOTAL']

# 特徴量6: 年金支払額を借入金で除した値
app_test['ANNUITY_div_CREDIT'] = app_test['AMT_ANNUITY'] / app_test['AMT_CREDIT']

###
app_test['credit_goods_price_ratio'] = app_test['AMT_CREDIT'] / app_test['AMT_GOODS_PRICE']
 
app_test['credit_downpayment'] = app_test['AMT_GOODS_PRICE'] - app_test['AMT_CREDIT']

app_test['USER_AGE'] = abs(app_test['DAYS_BIRTH'])/364.25

app_test['NEW_CAR_TO_BIRTH_RATIO'] = app_test['OWN_CAR_AGE'] / app_test['DAYS_BIRTH']

app_test['NEW_CAR_TO_EMPLOY_RATIO'] = app_test['OWN_CAR_AGE'] / app_test['DAYS_EMPLOYED']

app_test['NEW_PHONE_TO_BIRTH_RATIO'] = app_test['DAYS_LAST_PHONE_CHANGE'] / app_test['DAYS_BIRTH']

app_test['NEW_PHONE_TO_EMPLOYED_RATIO'] = app_test['DAYS_LAST_PHONE_CHANGE'] / app_test['DAYS_EMPLOYED']

app_test['NEW_CREDIT_TO_INCOME_RATIO'] = app_test['AMT_CREDIT'] / app_test['AMT_INCOME_TOTAL']

app_test['NEW_INCOME_CREDIT_PERC'] = app_test['AMT_INCOME_TOTAL'] / app_test['AMT_CREDIT']

app_test['NEW_INCOME_PER_PERSON'] = app_test['AMT_INCOME_TOTAL'] / app_test['CNT_FAM_MEMBERS']

### 2022/06/25
app_test['app_EXT_SOURCE_prod'] = app_test['EXT_SOURCE_1'] * app_test['EXT_SOURCE_2'] * app_test['EXT_SOURCE_3']
app_test['app_EXT_SOURCE_1_times_EXT_SOURCE_2'] = app_test['EXT_SOURCE_1'] * app_test['EXT_SOURCE_2']
app_test['app_EXT_SOURCE_1_times_EXT_SOURCE_3'] = app_test['EXT_SOURCE_1'] * app_test['EXT_SOURCE_3']
app_test['app_EXT_SOURCE_2_times_EXT_SOURCE_3'] = app_test['EXT_SOURCE_2'] * app_test['EXT_SOURCE_3']
app_test['app_EXT_SOURCE_1_times_DAYS_EMPLOYED'] = app_test['EXT_SOURCE_1'] * app_test['DAYS_EMPLOYED']
app_test['app_EXT_SOURCE_2_times_DAYS_EMPLOYED'] = app_test['EXT_SOURCE_2'] * app_test['DAYS_EMPLOYED']
app_test['app_EXT_SOURCE_3_times_DAYS_EMPLOYED'] = app_test['EXT_SOURCE_3'] * app_test['DAYS_EMPLOYED']
app_test['app_EXT_SOURCE_1_PER_DAYS_BIRTH'] = app_test['EXT_SOURCE_1'] / app_test['DAYS_BIRTH']
app_test['app_EXT_SOURCE_2_PER_DAYS_BIRTH'] = app_test['EXT_SOURCE_2'] / app_test['DAYS_BIRTH']
app_test['app_EXT_SOURCE_3_PER_DAYS_BIRTH'] = app_test['EXT_SOURCE_3'] / app_test['DAYS_BIRTH']

### 2022/06/26
#app_test['app_most_popular_AMT_GOODS_PRICE'] = app_test['AMT_GOODS_PRICE'] \
#    .isin([225000, 450000, 675000, 900000]).map({True: 1, False: 0})
#app_test['app_popular_AMT_GOODS_PRICE'] = app_test['AMT_GOODS_PRICE'] \
#    .isin([1125000, 1350000, 1575000, 1800000, 2250000]).map({True: 1, False: 0})
#app_test['app_OWN_CAR_AGE_div_DAYS_BIRTH'] = app_test['OWN_CAR_AGE'] / app_test['DAYS_BIRTH']
#app_test['app_OWN_CAR_AGE_div_DAYS_EMPLOYED'] = app_test['OWN_CAR_AGE'] / app_test['DAYS_EMPLOYED']
#app_test['app_DAYS_LAST_PHONE_CHANGE_div_DAYS_BIRTH'] = app_test['DAYS_LAST_PHONE_CHANGE'] / app_test['DAYS_BIRTH']
#app_test['app_DAYS_LAST_PHONE_CHANGE_div_DAYS_EMPLOYED'] = app_test['DAYS_LAST_PHONE_CHANGE'] / app_test['DAYS_EMPLOYED']
#app_test['app_DAYS_EMPLOYED_PERC'] = app_test['DAYS_EMPLOYED'] - app_test['DAYS_BIRTH']
#app_test['app_DAYS_EMPLOYED_div_DAYS_BIRTH'] = app_test['DAYS_EMPLOYED'] / app_test['DAYS_BIRTH']
#app_test['app_CNT_CHILDREN_div_CNT_FAM_MEMBERS'] = app_test['CNT_CHILDREN'] / app_test['CNT_FAM_MEMBERS']


### 2022/06/27


### 
app_test.drop('ORGANIZATION_TYPE', axis=1, inplace=True)

len(app_test.columns)

303

In [24]:
# データセット
x_test = app_test.drop(columns=['SK_ID_CURR'])
id_test = app_test[['SK_ID_CURR']]

for col in x_test.columns:
    if x_test[col].dtype=='O':
        x_test[col] = x_test[col].astype('category')

In [25]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [26]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering1.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.032711
1      100005  0.069395
2      100013  0.014633
3      100028  0.044881
4      100038  0.167964

### CSVの読み込みと前処理

In [27]:
# infをnanへ置換
app_train = app_train.replace([np.inf, -np.inf], np.nan)
app_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,app_EXT_SOURCE_prod,app_EXT_SOURCE_1_times_EXT_SOURCE_2,app_EXT_SOURCE_1_times_EXT_SOURCE_3,app_EXT_SOURCE_2_times_EXT_SOURCE_3,app_EXT_SOURCE_1_times_DAYS_EMPLOYED,app_EXT_SOURCE_2_times_DAYS_EMPLOYED,app_EXT_SOURCE_3_times_DAYS_EMPLOYED,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_PER_DAYS_BIRTH,app_EXT_SOURCE_3_PER_DAYS_BIRTH
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637.0,...,0.003043,0.021834,0.011573,0.036649,-52.894548,-167.498254,-88.782372,-0.000009,-0.000028,-0.000015
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,...,NaN,0.193685,NaN,NaN,-369.785566,-739.227981,NaN,-0.000019,-0.000037,NaN
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225.0,...,NaN,NaN,NaN,0.405575,NaN,-125.080219,-164.152505,NaN,-0.000029,-0.000038
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,...,NaN,NaN,NaN,NaN,NaN,-1976.692297,NaN,NaN,-0.000034,NaN
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,...,NaN,NaN,NaN,NaN,NaN,-980.478916,NaN,NaN,-0.000016,NaN

In [28]:
# 欠損値補完
app_train = app_train.fillna(-99999999)
app_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,app_EXT_SOURCE_prod,app_EXT_SOURCE_1_times_EXT_SOURCE_2,app_EXT_SOURCE_1_times_EXT_SOURCE_3,app_EXT_SOURCE_2_times_EXT_SOURCE_3,app_EXT_SOURCE_1_times_DAYS_EMPLOYED,app_EXT_SOURCE_2_times_DAYS_EMPLOYED,app_EXT_SOURCE_3_times_DAYS_EMPLOYED,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_PER_DAYS_BIRTH,app_EXT_SOURCE_3_PER_DAYS_BIRTH
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637.0,...,3.043194e-03,2.183445e-02,1.157334e-02,3.664867e-02,-5.289455e+01,-167.498254,-8.878237e+01,-8.776764e-06,-0.000028,-1.473161e-05
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,...,-1.000000e+08,1.936848e-01,-1.000000e+08,-1.000000e+08,-3.697856e+02,-739.227981,-1.000000e+08,-1.856650e-05,-0.000037,-1.000000e+08
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225.0,...,-1.000000e+08,-1.000000e+08,-1.000000e+08,4.055749e-01,-1.000000e+08,-125.080219,-1.641525e+02,-1.000000e+08,-0.000029,-3.830551e-05
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,...,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1976.692297,-1.000000e+08,-1.000000e+08,-0.000034,-1.000000e+08
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,...,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-1.000000e+08,-980.478916,-1.000000e+08,-1.000000e+08,-0.000016,-1.000000e+08

In [29]:
# infをnanへ置換
app_test = app_test.replace([np.inf, -np.inf], np.nan)
app_test.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,app_EXT_SOURCE_prod,app_EXT_SOURCE_1_times_EXT_SOURCE_2,app_EXT_SOURCE_1_times_EXT_SOURCE_3,app_EXT_SOURCE_2_times_EXT_SOURCE_3,app_EXT_SOURCE_1_times_DAYS_EMPLOYED,app_EXT_SOURCE_2_times_DAYS_EMPLOYED,app_EXT_SOURCE_3_times_DAYS_EMPLOYED,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_PER_DAYS_BIRTH,app_EXT_SOURCE_3_PER_DAYS_BIRTH
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241,-2329.0,-5170.0,...,0.094803,0.594305,0.120057,0.125965,-1752.839149,-1839.104984,-371.521010,-0.000039,-0.000041,-0.000008
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064,-4469.0,-9118.0,...,0.071345,0.164783,0.244619,0.126276,-2524.941212,-1303.408573,-1934.905690,-0.000031,-0.000016,-0.000024
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038,-4458.0,-2175.0,...,NaN,NaN,NaN,0.427564,NaN,-3119.649689,-2723.799341,NaN,-0.000035,-0.000030
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976,-1866.0,-2000.0,...,0.164177,0.267955,0.322119,0.312281,-981.019602,-951.057432,-1143.306119,-0.000038,-0.000036,-0.000044
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010032,-13040,-2191.0,-4000.0,...,NaN,0.086051,NaN,NaN,-442.899678,-932.680861,NaN,-0.000016,-0.000033,NaN

In [30]:
# 欠損値補完
app_test = app_test.fillna(-99999999)
app_test.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,app_EXT_SOURCE_prod,app_EXT_SOURCE_1_times_EXT_SOURCE_2,app_EXT_SOURCE_1_times_EXT_SOURCE_3,app_EXT_SOURCE_2_times_EXT_SOURCE_3,app_EXT_SOURCE_1_times_DAYS_EMPLOYED,app_EXT_SOURCE_2_times_DAYS_EMPLOYED,app_EXT_SOURCE_3_times_DAYS_EMPLOYED,app_EXT_SOURCE_1_PER_DAYS_BIRTH,app_EXT_SOURCE_2_PER_DAYS_BIRTH,app_EXT_SOURCE_3_PER_DAYS_BIRTH
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241,-2329.0,-5170.0,...,9.480331e-02,5.943053e-01,1.200567e-01,1.259653e-01,-1.752839e+03,-1839.104984,-3.715210e+02,-3.911514e-05,-0.000041,-8.290606e-06
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064,-4469.0,-9118.0,...,7.134451e-02,1.647825e-01,2.446191e-01,1.262757e-01,-2.524941e+03,-1303.408573,-1.934906e+03,-3.127714e-05,-0.000016,-2.396821e-05
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038,-4458.0,-2175.0,...,-1.000000e+08,-1.000000e+08,-1.000000e+08,4.275637e-01,-1.000000e+08,-3119.649689,-2.723799e+03,-1.000000e+08,-0.000035,-3.049163e-05
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976,-1866.0,-2000.0,...,1.641769e-01,2.679546e-01,3.221194e-01,3.122813e-01,-9.810196e+02,-951.057432,-1.143306e+03,-3.761691e-05,-0.000036,-4.383974e-05
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010032,-13040,-2191.0,-4000.0,...,-1.000000e+08,8.605055e-02,-1.000000e+08,-1.000000e+08,-4.428997e+02,-932.680861,-1.000000e+08,-1.550192e-05,-0.000033,-1.000000e+08

In [31]:
#app_train_origin = pd.read_csv('./home-credit-default-risk/exports/app_train.csv')
#app_test_origin =  pd.read_csv('./home-credit-default-risk/exports/app_test.csv')
bureau_origin = pd.read_csv('./home-credit-default-risk/bureau.csv')
bureau_balance_origin = pd.read_csv('./home-credit-default-risk/bureau_balance.csv')
pos_cash_balance_origin = pd.read_csv('./home-credit-default-risk/POS_CASH_balance.csv')
credit_card_balance_origin = pd.read_csv('./home-credit-default-risk/credit_card_balance.csv')
previous_application_origin = pd.read_csv('./home-credit-default-risk/previous_application.csv')
installments_payments_origin = pd.read_csv('./home-credit-default-risk/installments_payments.csv')
# custom data
#app_train_loan_from_hc_only_cash_origin = pd.read_csv('./home-credit-default-risk/datasets/app_train_loan_from_hc_only_cash.csv')
#app_test_loan_from_hc_only_cash_origin = pd.read_csv('./home-credit-default-risk/datasets/app_test_loan_from_hc_only_cash.csv')
#app_train_1000_mean_origin = pd.read_csv('./home-credit-default-risk/exports/train_hc_only_cash_installment_payment_ratio_1000_mean_mean.csv')
#app_test_1000_mean_origin = pd.read_csv('./home-credit-default-risk/exports/test_hc_only_cash_installment_payment_ratio_1000_mean_mean.csv')
#app_train_max_installment_ratio_origin = pd.read_csv('./home-credit-default-risk/exports/train_hc_annuity_to_max_installment_ratio.csv')
#app_test_max_installment_ratio_origin = pd.read_csv('./home-credit-default-risk/exports/test_hc_annuity_to_max_installment_ratio.csv')

In [32]:
#app_train = app_train_origin.copy()
#app_test = app_test_origin.copy()
bureau = bureau_origin.copy()
bureau_balance = bureau_balance_origin.copy()
pos_cash_balance = pos_cash_balance_origin.copy()
credit_card_balance = credit_card_balance_origin.copy()
previous_application = previous_application_origin.copy()
installments_payments = installments_payments_origin.copy()
#app_train_1000_mean = app_train_1000_mean_origin.copy()
#app_test_1000_mean = app_test_1000_mean_origin.copy()
#app_train_max_installment_ratio = app_train_max_installment_ratio_origin.copy()
#app_test_max_installment_ratio = app_test_max_installment_ratio_origin.copy()
pos_cash_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [33]:
# infをnanへ置換
bureau = bureau.replace([np.inf, -np.inf], np.nan)
bureau_balance = bureau_balance.replace([np.inf, -np.inf], np.nan)
pos_cash_balance = pos_cash_balance.replace([np.inf, -np.inf], np.nan)
credit_card_balance = credit_card_balance.replace([np.inf, -np.inf], np.nan)
previous_application = previous_application.replace([np.inf, -np.inf], np.nan)
installments_payments = installments_payments.replace([np.inf, -np.inf], np.nan)

pos_cash_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

### pos_cashの紐づけ

In [34]:
baseline = Baseline('SK_ID_CURR')

pos = pos_cash_balance.copy()
pos = baseline.reduce_mem_usage(pos)
print(pos.shape)
pos.head()

Memory usage of dataframe is 610.43 MB
Memory usage of optimization is 290039510.00 MB
Decreased by -47513511.5%
(10001358, 8)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [35]:
pos_ohe = pd.get_dummies(pos, columns=['NAME_CONTRACT_STATUS'], dummy_na=True)
col_ohe = sorted(list(set(pos_ohe.columns) - set(pos.columns)))
print(len(col_ohe))
col_ohe

10

['NAME_CONTRACT_STATUS_Active',
 'NAME_CONTRACT_STATUS_Amortized debt',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Canceled',
 'NAME_CONTRACT_STATUS_Completed',
 'NAME_CONTRACT_STATUS_Demand',
 'NAME_CONTRACT_STATUS_Returned to the store',
 'NAME_CONTRACT_STATUS_Signed',
 'NAME_CONTRACT_STATUS_XNA',
 'NAME_CONTRACT_STATUS_nan']

In [36]:
pos_ohe_agg = pos_ohe.groupby('SK_ID_CURR').agg({
    "MONTHS_BALANCE": ["mean", "std", "min", "max"]
    ,"CNT_INSTALMENT": ["mean", "std", "min", "max"]
    ,"CNT_INSTALMENT_FUTURE": ["mean", "std", "min", "max"]
    ,"SK_DPD": ["mean", "std", "min", "max"]
    ,"SK_DPD_DEF": ["mean", "std", "min", "max"]
    # カテゴリ変数をone-hot-encodingした値の集約
    ,"NAME_CONTRACT_STATUS_Active": ["mean"]
    ,"NAME_CONTRACT_STATUS_Amortized debt": ["mean"]
    ,"NAME_CONTRACT_STATUS_Approved": ["mean"]
    ,"NAME_CONTRACT_STATUS_Canceled": ["mean"]
    ,"NAME_CONTRACT_STATUS_Completed": ["mean"]
    ,"NAME_CONTRACT_STATUS_Demand": ["mean"]
    ,"NAME_CONTRACT_STATUS_Returned to the store": ["mean"]
    ,"NAME_CONTRACT_STATUS_Signed": ["mean"]
    ,"NAME_CONTRACT_STATUS_XNA": ["mean"]
    ,"NAME_CONTRACT_STATUS_nan": ["mean"]
    # IDのユニーク数をカウント
    ,"SK_ID_PREV":["count", "nunique"]
})

# カラム名の付与
pos_ohe_agg.columns = [i + "_" + j for i,j in pos_ohe_agg.columns]
pos_ohe_agg = pos_ohe_agg.reset_index(drop=False)

print(pos_ohe_agg.shape)
pos_ohe_agg.head()

(337252, 33)

,SK_ID_CURR,MONTHS_BALANCE_mean,MONTHS_BALANCE_std,MONTHS_BALANCE_min,MONTHS_BALANCE_max,CNT_INSTALMENT_mean,CNT_INSTALMENT_std,CNT_INSTALMENT_min,CNT_INSTALMENT_max,CNT_INSTALMENT_FUTURE_mean,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100001,-72.555556,20.863312,-96,-53,4.000000,0.000000,4.0,4.0,1.444444,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9,2
1,100002,-10.000000,5.627314,-19,-1,24.000000,0.000000,24.0,24.0,15.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,19,1
2,100003,-43.785714,24.640162,-77,-18,10.107142,2.806597,6.0,12.0,5.785714,...,0.0,0.0,0.071429,0.0,0.0,0.000000,0.0,0.0,28,3
3,100004,-25.500000,1.290994,-27,-24,3.750000,0.500000,3.0,4.0,2.250000,...,0.0,0.0,0.250000,0.0,0.0,0.000000,0.0,0.0,4,1
4,100005,-20.000000,3.316625,-25,-15,11.700000,0.948683,9.0,12.0,7.200000,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11,1

In [37]:
### infをnanへ置換
pos_ohe_agg = pos_ohe_agg.replace([np.inf, -np.inf], np.nan)
pos_ohe_agg.head()

,SK_ID_CURR,MONTHS_BALANCE_mean,MONTHS_BALANCE_std,MONTHS_BALANCE_min,MONTHS_BALANCE_max,CNT_INSTALMENT_mean,CNT_INSTALMENT_std,CNT_INSTALMENT_min,CNT_INSTALMENT_max,CNT_INSTALMENT_FUTURE_mean,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100001,-72.555556,20.863312,-96,-53,4.000000,0.000000,4.0,4.0,1.444444,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9,2
1,100002,-10.000000,5.627314,-19,-1,24.000000,0.000000,24.0,24.0,15.000000,...,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,19,1
2,100003,-43.785714,24.640162,-77,-18,10.107142,2.806597,6.0,12.0,5.785714,...,0.0,0.0,0.071429,0.0,0.0,0.000000,0.0,0.0,28,3
3,100004,-25.500000,1.290994,-27,-24,3.750000,0.500000,3.0,4.0,2.250000,...,0.0,0.0,0.250000,0.0,0.0,0.000000,0.0,0.0,4,1
4,100005,-20.000000,3.316625,-25,-15,11.700000,0.948683,9.0,12.0,7.200000,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11,1

In [38]:
df_train = pd.merge(app_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307511, 336)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225.0,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [39]:
### テーブル結合
df_test = pd.merge(app_test, pos_ohe_agg, on='SK_ID_CURR', how="left")
print(df_test.shape)
df_test.head()

(48744, 335)

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241,-2329.0,-5170.0,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9.0,2.0
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064,-4469.0,-9118.0,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11.0,1.0
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038,-4458.0,-2175.0,...,0.0,0.0,0.083333,0.0,0.0,0.027778,0.0,0.0,36.0,3.0
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976,-1866.0,-2000.0,...,0.0,0.0,0.064516,0.0,0.0,0.000000,0.0,0.0,31.0,2.0
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010032,-13040,-2191.0,-4000.0,...,0.0,0.0,0.076923,0.0,0.0,0.000000,0.0,0.0,13.0,1.0

In [40]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(df_test.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')

In [41]:
### Yao-Jhonson変換
for column in encoding_columns:
    modules.process_yj_convert(df_train, df_test, column, [column])

df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
1,100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
2,100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
3,100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
4,100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [42]:
### indexを設定
df_train = df_train.set_index('SK_ID_CURR')
df_test = df_test.set_index('SK_ID_CURR')
df_train.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,0.171087,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,1.122551,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,-0.007087,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,-1.245078,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,-0.021335,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [43]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(df_train, df_test, num_cols)
        
df_train.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,0.171087,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,1.122551,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,-0.007087,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,-1.245078,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,-0.021335,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [44]:
### indexを削除
df_train = df_train.reset_index()
df_test = df_test.reset_index()
df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
1,100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
2,100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
3,100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
4,100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [45]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 781.26 MB
Memory usage of optimization is 412372379.00 MB
Decreased by -52782956.8%
Memory usage of dataframe is 123.47 MB
Memory usage of optimization is 65317088.00 MB
Decreased by -52902505.6%

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,-0.65332,0.647461,-0.283936,-0.203247,-0.507324,0.047089,1.597656,0.809082,...,-0.11731,-0.006439,-1.882812,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-0.187744,-1.255859
1,100003,0,-0.65332,1.212891,1.495117,0.526367,1.580078,-1.730469,-0.222778,0.439209,...,-0.11731,-0.006439,-0.045929,-0.032837,-0.122192,-0.493652,-0.002628,0.0,0.304688,0.504395
2,100004,0,-0.65332,-1.656250,-1.648438,-1.231445,-1.004883,-0.863281,-0.716797,1.556641,...,-0.11731,-0.006439,2.214844,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-2.039062,-1.255859
3,100006,0,-0.65332,-0.175293,-0.635742,0.120605,-0.637207,-1.112305,-0.708008,-0.026917,...,-0.11731,-0.006439,0.406006,-0.032837,8.179688,-0.493652,-0.002628,0.0,-0.061310,0.504395
4,100007,0,-0.65332,-0.394287,0.042358,-0.381348,-0.101807,0.800293,-0.901367,-0.026764,...,-0.11731,-0.006439,-0.620117,-0.032837,-0.122192,1.480469,-0.002628,0.0,1.409180,1.246094

In [46]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [47]:
baseline = Baseline('SK_ID_CURR')

"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 334) (61503, 334)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.762301	valid_1's auc: 0.746659
[200]	training's auc: 0.775309	valid_1's auc: 0.755415
[300]	training's auc: 0.786134	valid_1's auc: 0.761801
[400]	training's auc: 0.795243	valid_1's auc: 0.766533
[500]	training's auc: 0.802812	valid_1's auc: 0.769561
[600]	training's auc: 0.809347	valid_1's auc: 0.771392
[700]	training's auc: 0.815375	valid_1's auc: 0.772893
[800]	training's auc: 0.820904	valid_1's auc: 0.773987
[900]	training's auc: 0.826136	valid_1's auc: 0.774947
[1000]	training's auc: 0.830976	valid_1's auc: 0.775543
[1100]	training's auc: 0.835452	valid_1's auc: 0.775876
[1200]	training's auc: 0.839779	valid_1's auc: 0.776125
[1300]	training's auc: 0.843856	valid_1's auc: 0.776451
[1400]	training's auc: 0.847777	valid_1's auc: 0.776563
[1500]	training's auc: 0.851608	valid_1's auc: 0.776691
[1600]	training's auc: 0.855418	valid_1's auc: 0.776737
[1700]	training's auc: 0.85926	valid_1's auc: 0.776845
[1800]	training's auc: 0.862943	valid_1's auc: 0.776888
[1900]	training's auc: 0.866438	valid_1's auc: 0.776912
[2000]	training's auc: 0.870026	valid_1's auc: 0.776954
[2100]	training's auc: 0.873292	valid_1's auc: 0.777025
[2200]	training's auc: 0.876505	valid_1's auc: 0.777088
[auc] tr:0.875590, va0.7771
-------------------- 1 --------------------
(246009, 334) (61502, 334)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.761978	valid_1's auc: 0.747329
[200]	training's auc: 0.775272	valid_1's auc: 0.757215
[300]	training's auc: 0.785974	valid_1's auc: 0.763675
[400]	training's auc: 0.795366	valid_1's auc: 0.76892
[500]	training's auc: 0.802732	valid_1's auc: 0.771853
[600]	training's auc: 0.809306	valid_1's auc: 0.773909
[700]	training's auc: 0.815278	valid_1's auc: 0.775321
[800]	training's auc: 0.820785	valid_1's auc: 0.776483
[900]	training's auc: 0.825983	valid_1's auc: 0.77752
[1000]	training's auc: 0.830871	valid_1's auc: 0.778242
[1100]	training's auc: 0.835594	valid_1's auc: 0.778782
[1200]	training's auc: 0.839931	valid_1's auc: 0.779187
[1300]	training's auc: 0.844063	valid_1's auc: 0.779532
[1400]	training's auc: 0.84798	valid_1's auc: 0.779799
[1500]	training's auc: 0.851805	valid_1's auc: 0.780097
[1600]	training's auc: 0.855488	valid_1's auc: 0.780256
[1700]	training's auc: 0.859089	valid_1's auc: 0.780422
[1800]	training's auc: 0.862673	valid_1's auc: 0.780578
[1900]	training's auc: 0.866111	valid_1's auc: 0.780661
[2000]	training's auc: 0.869572	valid_1's auc: 0.780759
[2100]	training's auc: 0.87292	valid_1's auc: 0.780747
[auc] tr:0.871180, va0.7808
-------------------- 2 --------------------
(246009, 334) (61502, 334)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.761375	valid_1's auc: 0.753943
[200]	training's auc: 0.774493	valid_1's auc: 0.761895
[300]	training's auc: 0.785327	valid_1's auc: 0.767369
[400]	training's auc: 0.794937	valid_1's auc: 0.771897
[500]	training's auc: 0.802564	valid_1's auc: 0.774321
[600]	training's auc: 0.809144	valid_1's auc: 0.775789
[700]	training's auc: 0.815129	valid_1's auc: 0.777046
[800]	training's auc: 0.820639	valid_1's auc: 0.777858
[900]	training's auc: 0.825873	valid_1's auc: 0.778606
[1000]	training's auc: 0.830638	valid_1's auc: 0.779179
[1100]	training's auc: 0.835268	valid_1's auc: 0.779546
[1200]	training's auc: 0.839681	valid_1's auc: 0.779832
[1300]	training's auc: 0.843937	valid_1's auc: 0.779948
[1400]	training's auc: 0.847935	valid_1's auc: 0.780035
[1500]	training's auc: 0.851754	valid_1's auc: 0.780172
[1600]	training's auc: 0.855404	valid_1's auc: 0.780327
[1700]	training's auc: 0.85918	valid_1's auc: 0.780383
[1800]	training's auc: 0.862667	valid_1's auc: 0.780429
[1900]	training's auc: 0.866098	valid_1's auc: 0.780474
[auc] tr:0.865346, va0.7805
-------------------- 3 --------------------
(246009, 334) (61502, 334)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.763147	valid_1's auc: 0.748216
[200]	training's auc: 0.775909	valid_1's auc: 0.756587
[300]	training's auc: 0.786753	valid_1's auc: 0.762765
[400]	training's auc: 0.795899	valid_1's auc: 0.767412
[500]	training's auc: 0.80333	valid_1's auc: 0.770258
[600]	training's auc: 0.80988	valid_1's auc: 0.77214
[700]	training's auc: 0.815968	valid_1's auc: 0.773698
[800]	training's auc: 0.821585	valid_1's auc: 0.774967
[900]	training's auc: 0.826884	valid_1's auc: 0.77602
[1000]	training's auc: 0.8317	valid_1's auc: 0.776609
[1100]	training's auc: 0.836193	valid_1's auc: 0.777078
[1200]	training's auc: 0.840529	valid_1's auc: 0.777337
[1300]	training's auc: 0.844728	valid_1's auc: 0.777653
[1400]	training's auc: 0.848678	valid_1's auc: 0.77788
[1500]	training's auc: 0.852496	valid_1's auc: 0.778129
[1600]	training's auc: 0.856234	valid_1's auc: 0.778212
[1700]	training's auc: 0.86013	valid_1's auc: 0.77819
[auc] tr:0.858074, va0.7782
-------------------- 4 --------------------
(246009, 334) (61502, 334)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.763507	valid_1's auc: 0.744971
[200]	training's auc: 0.776575	valid_1's auc: 0.752634
[300]	training's auc: 0.787183	valid_1's auc: 0.758037
[400]	training's auc: 0.796032	valid_1's auc: 0.762266
[500]	training's auc: 0.803621	valid_1's auc: 0.765104
[600]	training's auc: 0.810319	valid_1's auc: 0.766939
[700]	training's auc: 0.816535	valid_1's auc: 0.768381
[800]	training's auc: 0.822264	valid_1's auc: 0.769632
[900]	training's auc: 0.827711	valid_1's auc: 0.770536
[1000]	training's auc: 0.832635	valid_1's auc: 0.771082
[1100]	training's auc: 0.837196	valid_1's auc: 0.771403
[1200]	training's auc: 0.841675	valid_1's auc: 0.771771
[1300]	training's auc: 0.845811	valid_1's auc: 0.77198
[1400]	training's auc: 0.849689	valid_1's auc: 0.772149
[1500]	training's auc: 0.853564	valid_1's auc: 0.772211
[1600]	training's auc: 0.857453	valid_1's auc: 0.772242
[1700]	training's auc: 0.861193	valid_1's auc: 0.772352
[1800]	training's auc: 0.864728	valid_1's auc: 0.77243
[1900]	training's auc: 0.868293	valid_1's auc: 0.772465
[2000]	training's auc: 0.87158	valid_1's auc: 0.772556
[auc] tr:0.871223, va0.7726
-------------------- result --------------------
[[0.         0.87559046 0.7771048 ]
 [1.         0.87117962 0.78081988]
 [2.         0.86534616 0.78047956]
 [3.         0.85807434 0.77824333]
 [4.         0.87122325 0.77257168]]
[cv] tr:0.8683+-0.0061, va:0.7778+-0.0030
[oof]0.7778

In [48]:
imp.sort_values("imp", ascending=False)[:10]

                                     col            imp      imp_std
56                       EXT_SOURCE_mean  340425.267342  8062.892655
182                  NEW_EXT_SOURCES_GEO  155927.165308  5855.517941
184               NEW_EXT_SOURCES_MEDIAN   64111.647093  2049.390423
176          NEW_CREDIT_TO_ANNUITY_RATIO   58020.846781  3437.932269
10                    ANNUITY_div_CREDIT   43782.493319  2085.818931
21            CNT_INSTALMENT_FUTURE_mean   28700.184668  1002.936748
53                          EXT_SOURCE_3   26012.237024  1238.414148
123                   MONTHS_BALANCE_std   25684.363078  1503.995116
55                        EXT_SOURCE_max   24841.509377  2060.070321
328  app_EXT_SOURCE_2_times_EXT_SOURCE_3   24837.987352  2127.586294

In [49]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [50]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [51]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering2.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.035506
1      100005  0.081070
2      100013  0.024152
3      100028  0.044840
4      100038  0.184463

In [52]:
"""
params_base = {
            'boosting_type': 'gbdt'
            ,'objective': 'binary'
            ,'metric': 'auc'
            ,'verbosity': -1
            ,'learning_rate': 0.05
            ,'n_estimators': 100000
            ,'random_state':123
            ,'bagging_freq': 1   
}
"""
params_base = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_samples': 165
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

def objective(trial):
    # 探索するパラメータ
    param_tuning = {
            "num_leaves": trial.suggest_int("num_leaves", 8, 256)
            ,"min_child_samples": trial.suggest_int("min_child_samples", 5, 200)
            ,"min_sum_hessian_in_leaf": trial.suggest_float("min_sum_hessian_in_leaf", 1e-5, 1e-2, log=True)
            ,"feature_fraction": trial.suggest_float("feature_fraction", 0.5, 1.0)
            ,"bagging_fraction": trial.suggest_float("bagging_fraction", 0.5, 1.0)
            ,"lambda_l1": trial.suggest_float("lambda_l1", 1e-2, 1e+2, log=True)
            ,"lambda_l2": trial.suggest_float("lambda_l2", 1e-2, 1e+2, log=True)
    }
    param_tuning.update(params_base)

    # モデル学習・評価:
    list_metrics = []
    cv = list(StratifiedKFold(n_splits=5, shuffle=True, random_state=123).split(x_train, y_train))
    list_fold = [0]
    for nfold in list_fold:
        idx_tr, idx_va = cv[nfold][0], cv[nfold][1]
        x_tr, y_tr = x_train.loc[idx_tr, :], y_train[idx_tr]
        x_va, y_va = x_train.loc[idx_va, :], y_train[idx_va]
        model = lgb.LGBMClassifier(**params)
        model.fit(x_tr
                    ,y_tr
                    ,eval_set=[(x_tr, y_tr), (x_va, y_va)]
                    ,early_stopping_rounds=100
                    ,verbose=0
        )
        y_va_pred = model.predict_proba(x_va)[:,1]
        metric_va = roc_auc_score(y_va, y_va_pred)
        list_metrics.append(metric_va)

    # 評価指数の算出
    metrics = np.mean(list_metrics)

    return metrics

In [53]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [54]:
#baseline = Baseline('SK_ID_CURR')

#sampler = optuna.samplers.TPESampler(seed=123)
#study = optuna.create_study(sampler=sampler, direction='maximize')
#study.optimize(objective, n_trials=50, n_jobs=5)

In [55]:
#trial = study.best_trial
#print("auc(best)={:.4f}".format(trial.value))
#display(trial.params)

In [56]:
#params_best = trial.params
#params_best.update(params_base)
#display(params_best)

In [57]:
#train_oof, imp, metrics = baseline.train_lgb(x_train
#                                    ,y_train
#                                    ,id_train
#                                    ,list_nfold=[0,1,2,3,4]
#                                    ,n_splits=5
#                                    ,params=params_best)

In [58]:
# 推論用データセットの作成
#x_test = df_test.drop(columns=['SK_ID_CURR'])
#id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
#for col in x_test.columns:
#    if x_test[col].dtype=="O":
#        x_test[col] = x_test[col].astype('category')

# predict
#test_pred = baseline.predict_lgb(x_test
#                       ,id_test
#                       ,list_nfold=[0,1,2,3,4])

# make submission-file
#df_submit = test_pred.rename(columns={"pred":"TARGET"})
#print(df_submit.shape)
#display(df_submit.head())
#df_submit.to_csv("./home-credit-default-risk/submit/submission_HyperParameterTuning.csv", index=None)

### ### credit card blanceの読み込み

In [59]:
credit = credit_card_balance_origin.copy()
cerdit = baseline.reduce_mem_usage(credit)
print(credit.shape)
credit.head()

Memory usage of dataframe is 673.88 MB
Memory usage of optimization is 334107272.00 MB
Decreased by -49579318.7%
(3840312, 23)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970001,135000,0.0,877.5,0.0,877.5,1700.324951,...,0.000000,0.000000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.554688,45000,2250.0,2250.0,0.0,0.0,2250.000000,...,64875.554688,64875.554688,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.224609,450000,0.0,0.0,0.0,0.0,2250.000000,...,31460.085938,31460.085938,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.109375,225000,2250.0,2250.0,0.0,0.0,11795.759766,...,233048.968750,233048.968750,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.468750,450000,0.0,11547.0,0.0,11547.0,22924.890625,...,453919.468750,453919.468750,0.0,1,0.0,1.0,101.0,Active,0,0

In [60]:
# one-hotencoding(処理対象カラムを取得)
encoding_columns = []

for col in credit.columns:
    if credit[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

encoding_columns

NAME_CONTRACT_STATUS

['NAME_CONTRACT_STATUS']

In [61]:
# one-hot-encoding
for col in encoding_columns:
    credit_ohe = pd.get_dummies(credit, columns=[col], dummy_na=True)
    col_ohe = sorted(list(set(credit_ohe.columns) - set(credit.columns)))

print(len(col_ohe))
col_ohe

8

['NAME_CONTRACT_STATUS_Active',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Completed',
 'NAME_CONTRACT_STATUS_Demand',
 'NAME_CONTRACT_STATUS_Refused',
 'NAME_CONTRACT_STATUS_Sent proposal',
 'NAME_CONTRACT_STATUS_Signed',
 'NAME_CONTRACT_STATUS_nan']

In [62]:
print(credit.columns)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [63]:
credit_ohe_agg = credit_ohe.groupby('SK_ID_CURR').agg(
    {
        # 数値変数の集約
        'SK_ID_CURR': ['mean', 'std', 'min', 'max']
        ,'MONTHS_BALANCE': ['mean', 'std', 'min', 'max']
        ,'AMT_BALANCE': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_LIMIT_ACTUAL': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_ATM_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_OTHER_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_POS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_INST_MIN_REGULARITY': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT_TOTAL_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_RECEIVABLE_PRINCIPAL': ['mean', 'std', 'min', 'max']
        ,'AMT_RECIVABLE': ['mean', 'std', 'min', 'max']
        ,'AMT_TOTAL_RECEIVABLE': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_ATM_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_OTHER_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_POS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_INSTALMENT_MATURE_CUM': ['mean', 'std', 'min', 'max']
        ,'SK_DPD': ['mean', 'std', 'min', 'max']
        ,'SK_DPD_DEF': ['mean', 'std', 'min', 'max']
        # 
        ,'NAME_CONTRACT_STATUS_Active': ['mean']
        ,'NAME_CONTRACT_STATUS_Approved': ['mean']
        ,'NAME_CONTRACT_STATUS_Completed': ['mean']
        ,'NAME_CONTRACT_STATUS_Demand': ['mean']
        ,'NAME_CONTRACT_STATUS_Refused': ['mean']
        ,'NAME_CONTRACT_STATUS_Sent proposal': ['mean']
        ,'NAME_CONTRACT_STATUS_Signed': ['mean']
        ,'NAME_CONTRACT_STATUS_nan': ['mean']
        # IDのユニーク数をカウント
        ,"SK_ID_PREV":["count", "nunique"]
    }
)

# カラム名の付与
credit_ohe_agg.columns = [i + "_" + j for i,j in credit_ohe_agg.columns]
credit_ohe_agg = credit_ohe_agg.reset_index(drop=False)

print(credit_ohe_agg.shape)
credit_ohe_agg.head()

(103558, 95)

,SK_ID_CURR,SK_ID_CURR_mean,SK_ID_CURR_std,SK_ID_CURR_min,SK_ID_CURR_max,MONTHS_BALANCE_mean,MONTHS_BALANCE_std,MONTHS_BALANCE_min,MONTHS_BALANCE_max,AMT_BALANCE_mean,...,NAME_CONTRACT_STATUS_Active_mean,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Refused_mean,NAME_CONTRACT_STATUS_Sent proposal_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100006,100006.0,0.0,100006,100006,-3.5,1.870829,-6,-1,0.000000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,6,1
1,100011,100011.0,0.0,100011,100011,-38.5,21.505813,-75,-2,54482.109375,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,74,1
2,100013,100013.0,0.0,100013,100013,-48.5,27.856777,-96,-1,18159.919922,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,96,1
3,100021,100021.0,0.0,100021,100021,-10.0,5.049752,-18,-2,0.000000,...,0.411765,0.0,0.588235,0.0,0.0,0.0,0.0,0.0,17,1
4,100023,100023.0,0.0,100023,100023,-7.5,2.449490,-11,-4,0.000000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,8,1

In [64]:
# infをnanへ置換
credit_ohe_agg = credit_ohe_agg.replace([np.inf, -np.inf], np.nan)

In [65]:
df_train = pd.merge(app_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307511, 430)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225.0,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [66]:
# テーブル結合
df_test = pd.merge(app_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_test.shape)
df_test.head()

(48744, 429)

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241,-2329.0,-5170.0,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9.0,2.0
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064,-4469.0,-9118.0,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11.0,1.0
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038,-4458.0,-2175.0,...,0.0,0.0,0.083333,0.0,0.0,0.027778,0.0,0.0,36.0,3.0
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976,-1866.0,-2000.0,...,0.0,0.0,0.064516,0.0,0.0,0.000000,0.0,0.0,31.0,2.0
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010032,-13040,-2191.0,-4000.0,...,0.0,0.0,0.076923,0.0,0.0,0.000000,0.0,0.0,13.0,1.0

In [67]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(df_test.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')

In [68]:
### Yao-Jhonson変換
for column in encoding_columns:
    modules.process_yj_convert(df_train, df_test, column, [column])

df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
0,100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
1,100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
2,100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
3,100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
4,100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [69]:
### indexを設定
df_train = df_train.set_index('SK_ID_CURR')
df_test = df_test.set_index('SK_ID_CURR')
df_train.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,0.171087,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,1.122551,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,-0.007087,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,-1.245078,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,-0.021335,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [70]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(df_train, df_test, num_cols)
        
df_train.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,0.171087,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,1.122551,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,-0.007087,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,-1.245078,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,-0.021335,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [71]:
### indexを削除
df_train = df_train.reset_index()
df_test = df_test.reset_index()
df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
0,100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
1,100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
2,100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
3,100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
4,100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [72]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 949.01 MB
Memory usage of optimization is 527996515.00 MB
Decreased by -55636649.0%
Memory usage of dataframe is 150.06 MB
Memory usage of optimization is 83644832.00 MB
Decreased by -55742084.2%

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean_y,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean_y,NAME_CONTRACT_STATUS_Demand_mean_y,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean_y,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean_y,SK_ID_PREV_count_y,SK_ID_PREV_nunique_y
0,100002,1,-0.65332,0.647461,-0.283936,-0.203247,-0.507324,0.047089,1.597656,0.809082,...,-0.11731,-0.006439,-1.882812,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-0.187744,-1.255859
1,100003,0,-0.65332,1.212891,1.495117,0.526367,1.580078,-1.730469,-0.222778,0.439209,...,-0.11731,-0.006439,-0.045929,-0.032837,-0.122192,-0.493652,-0.002628,0.0,0.304688,0.504395
2,100004,0,-0.65332,-1.656250,-1.648438,-1.231445,-1.004883,-0.863281,-0.716797,1.556641,...,-0.11731,-0.006439,2.214844,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-2.039062,-1.255859
3,100006,0,-0.65332,-0.175293,-0.635742,0.120605,-0.637207,-1.112305,-0.708008,-0.026917,...,-0.11731,-0.006439,0.406006,-0.032837,8.179688,-0.493652,-0.002628,0.0,-0.061310,0.504395
4,100007,0,-0.65332,-0.394287,0.042358,-0.381348,-0.101807,0.800293,-0.901367,-0.026764,...,-0.11731,-0.006439,-0.620117,-0.032837,-0.122192,1.480469,-0.002628,0.0,1.409180,1.246094

In [73]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [74]:
baseline = Baseline('SK_ID_CURR')

"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'learning_rate': 0.05
    ,'num_leaves': 32
    ,'n_estimators': 100000
    ,'random_state':123
    ,'importance_type': 'gain'
}
"""
params = {
    'boosting_type': 'gbdt'
    ,'objective': 'binary'
    ,'metric': 'auc'
    ,'nthread': -1
    #,'device_type': 'gpu'
    ,'n_estimators': 5000
    ,'learning_rate': 0.01
    ,'max_depth': 11
    ,'num_leaves': 58
    ,'colsample_bytree': 0.613
    ,'subsample': 0.708
    ,'max_bin': 407
    ,'reg_alpha': 3.564
    ,'reg_lambda': 4.930
    ,'min_child_weight': 6
    ,'min_child_samples': 165
    #,'keep_training_booster': True
    ,'silent': -1
    ,'verbose': -1
    ,'importance_type': 'gain'
}

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 428) (61503, 428)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.765712	valid_1's auc: 0.748431
[200]	training's auc: 0.778519	valid_1's auc: 0.757154
[300]	training's auc: 0.789741	valid_1's auc: 0.763897
[400]	training's auc: 0.799004	valid_1's auc: 0.7687
[500]	training's auc: 0.806551	valid_1's auc: 0.771706
[600]	training's auc: 0.813066	valid_1's auc: 0.773591
[700]	training's auc: 0.818955	valid_1's auc: 0.774994
[800]	training's auc: 0.824419	valid_1's auc: 0.776233
[900]	training's auc: 0.829551	valid_1's auc: 0.777026
[1000]	training's auc: 0.83431	valid_1's auc: 0.777661
[1100]	training's auc: 0.838791	valid_1's auc: 0.778249
[1200]	training's auc: 0.84312	valid_1's auc: 0.778618
[1300]	training's auc: 0.84734	valid_1's auc: 0.778996
[1400]	training's auc: 0.851244	valid_1's auc: 0.779296
[1500]	training's auc: 0.855039	valid_1's auc: 0.779411
[1600]	training's auc: 0.858553	valid_1's auc: 0.779446
[auc] tr:0.856855, va0.7795
-------------------- 1 --------------------
(246009, 428) (61502, 428)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.764974	valid_1's auc: 0.750348
[200]	training's auc: 0.77812	valid_1's auc: 0.760091
[300]	training's auc: 0.789203	valid_1's auc: 0.767279
[400]	training's auc: 0.798434	valid_1's auc: 0.772485
[500]	training's auc: 0.805839	valid_1's auc: 0.775605
[600]	training's auc: 0.812399	valid_1's auc: 0.777811
[700]	training's auc: 0.818319	valid_1's auc: 0.779354
[800]	training's auc: 0.823876	valid_1's auc: 0.780618
[900]	training's auc: 0.828961	valid_1's auc: 0.781703
[1000]	training's auc: 0.833783	valid_1's auc: 0.782635
[1100]	training's auc: 0.838257	valid_1's auc: 0.783127
[1200]	training's auc: 0.842682	valid_1's auc: 0.783528
[1300]	training's auc: 0.846719	valid_1's auc: 0.783929
[1400]	training's auc: 0.850631	valid_1's auc: 0.784141
[1500]	training's auc: 0.854337	valid_1's auc: 0.784312
[1600]	training's auc: 0.857982	valid_1's auc: 0.784435
[1700]	training's auc: 0.861606	valid_1's auc: 0.784619
[1800]	training's auc: 0.864923	valid_1's auc: 0.784858
[1900]	training's auc: 0.868199	valid_1's auc: 0.785059
[2000]	training's auc: 0.871406	valid_1's auc: 0.785175
[2100]	training's auc: 0.874496	valid_1's auc: 0.785192
[auc] tr:0.871473, va0.7852
-------------------- 2 --------------------
(246009, 428) (61502, 428)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.764652	valid_1's auc: 0.756271
[200]	training's auc: 0.778035	valid_1's auc: 0.763738
[300]	training's auc: 0.788922	valid_1's auc: 0.769263
[400]	training's auc: 0.79856	valid_1's auc: 0.773678
[500]	training's auc: 0.806154	valid_1's auc: 0.776015
[600]	training's auc: 0.812706	valid_1's auc: 0.77758
[700]	training's auc: 0.818664	valid_1's auc: 0.77877
[800]	training's auc: 0.824189	valid_1's auc: 0.779699
[900]	training's auc: 0.829383	valid_1's auc: 0.780436
[1000]	training's auc: 0.834109	valid_1's auc: 0.780922
[1100]	training's auc: 0.838581	valid_1's auc: 0.781364
[1200]	training's auc: 0.842814	valid_1's auc: 0.781623
[1300]	training's auc: 0.846891	valid_1's auc: 0.781923
[1400]	training's auc: 0.850796	valid_1's auc: 0.781975
[1500]	training's auc: 0.854548	valid_1's auc: 0.782069
[1600]	training's auc: 0.858243	valid_1's auc: 0.782343
[1700]	training's auc: 0.861902	valid_1's auc: 0.782498
[1800]	training's auc: 0.865342	valid_1's auc: 0.782525
[1900]	training's auc: 0.868752	valid_1's auc: 0.782581
[2000]	training's auc: 0.872009	valid_1's auc: 0.782676
[2100]	training's auc: 0.87515	valid_1's auc: 0.782773
[2200]	training's auc: 0.878196	valid_1's auc: 0.782842
[2300]	training's auc: 0.88126	valid_1's auc: 0.782938
[2400]	training's auc: 0.88413	valid_1's auc: 0.78295
[auc] tr:0.882844, va0.7830
-------------------- 3 --------------------
(246009, 428) (61502, 428)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.76547	valid_1's auc: 0.751294
[200]	training's auc: 0.7788	valid_1's auc: 0.759961
[300]	training's auc: 0.789695	valid_1's auc: 0.766265
[400]	training's auc: 0.798847	valid_1's auc: 0.770859
[500]	training's auc: 0.806317	valid_1's auc: 0.77396
[600]	training's auc: 0.81292	valid_1's auc: 0.776013
[700]	training's auc: 0.818936	valid_1's auc: 0.777545
[800]	training's auc: 0.824583	valid_1's auc: 0.778838
[900]	training's auc: 0.829821	valid_1's auc: 0.779901
[1000]	training's auc: 0.834707	valid_1's auc: 0.780653
[1100]	training's auc: 0.839244	valid_1's auc: 0.781299
[1200]	training's auc: 0.843574	valid_1's auc: 0.781716
[1300]	training's auc: 0.847662	valid_1's auc: 0.782012
[1400]	training's auc: 0.851688	valid_1's auc: 0.782188
[1500]	training's auc: 0.855657	valid_1's auc: 0.782399
[1600]	training's auc: 0.859432	valid_1's auc: 0.782612
[1700]	training's auc: 0.862946	valid_1's auc: 0.782715
[1800]	training's auc: 0.866322	valid_1's auc: 0.782862
[1900]	training's auc: 0.869746	valid_1's auc: 0.782964
[2000]	training's auc: 0.873228	valid_1's auc: 0.782963
[auc] tr:0.870763, va0.7830
-------------------- 4 --------------------
(246009, 428) (61502, 428)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.766372	valid_1's auc: 0.747127
[200]	training's auc: 0.779581	valid_1's auc: 0.754846
[300]	training's auc: 0.790212	valid_1's auc: 0.760114
[400]	training's auc: 0.799331	valid_1's auc: 0.764653
[500]	training's auc: 0.806926	valid_1's auc: 0.767626
[600]	training's auc: 0.813631	valid_1's auc: 0.76966
[700]	training's auc: 0.819613	valid_1's auc: 0.771054
[800]	training's auc: 0.825383	valid_1's auc: 0.772176
[900]	training's auc: 0.830587	valid_1's auc: 0.773179
[1000]	training's auc: 0.835636	valid_1's auc: 0.773934
[1100]	training's auc: 0.84022	valid_1's auc: 0.774316
[1200]	training's auc: 0.844531	valid_1's auc: 0.774671
[1300]	training's auc: 0.848511	valid_1's auc: 0.77494
[1400]	training's auc: 0.852291	valid_1's auc: 0.775121
[1500]	training's auc: 0.856081	valid_1's auc: 0.775302
[1600]	training's auc: 0.859765	valid_1's auc: 0.775426
[1700]	training's auc: 0.863234	valid_1's auc: 0.775544
[1800]	training's auc: 0.866495	valid_1's auc: 0.775606
[1900]	training's auc: 0.869749	valid_1's auc: 0.775722
[2000]	training's auc: 0.873055	valid_1's auc: 0.77574
[2100]	training's auc: 0.876322	valid_1's auc: 0.775792
[auc] tr:0.874525, va0.7758
-------------------- result --------------------
[[0.         0.85685461 0.77952326]
 [1.         0.87147275 0.78520466]
 [2.         0.88284362 0.78298978]
 [3.         0.87076311 0.78300421]
 [4.         0.87452503 0.7758135 ]]
[cv] tr:0.8713+-0.0084, va:0.7813+-0.0033
[oof]0.7813

In [75]:
imp.sort_values("imp", ascending=False)[:20]

                                      col            imp      imp_std
124                       EXT_SOURCE_mean  357900.713639  3577.004933
262                   NEW_EXT_SOURCES_GEO  142168.597623  1896.246273
256           NEW_CREDIT_TO_ANNUITY_RATIO   55470.175087  3545.614900
264                NEW_EXT_SOURCES_MEDIAN   54359.949152  1942.824597
58                     ANNUITY_div_CREDIT   38839.464107  1930.261911
123                        EXT_SOURCE_max   29543.733540  2587.650915
85             CNT_INSTALMENT_FUTURE_mean   25746.084448  1957.301732
195                  MONTHS_BALANCE_std_y   24175.628328  1620.515287
121                          EXT_SOURCE_3   23973.252711  1650.836870
265                  NEW_EXT_SOURCES_PROD   23495.977674  2810.617692
257             NEW_CREDIT_TO_GOODS_RATIO   22578.241483  1622.267730
102                            DAYS_BIRTH   22555.888608  2182.746977
422   app_EXT_SOURCE_2_times_EXT_SOURCE_3   22429.698036  1897.004526
426                    credit_downpayment   21637.679228  1615.485263
424  app_EXT_SOURCE_3_times_DAYS_EMPLOYED   21522.481130   393.405981
87              CNT_INSTALMENT_FUTURE_std   21369.345894  1104.301601
0                             AMT_ANNUITY   20721.143241   450.810492
105                       DAYS_ID_PUBLISH   20205.803586  2370.438676
393                              USER_AGE   19988.699199  1578.050166
26                        AMT_GOODS_PRICE   17986.984833   607.638522

In [76]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [77]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [78]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering3.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.036257
1      100005  0.077221
2      100013  0.024883
3      100028  0.049665
4      100038  0.183508

### previous applicationの読み込み

In [79]:
previous = previous_application_origin.copy()
previous = baseline.reduce_mem_usage(credit)
print(previous.shape)
previous.head()

Memory usage of dataframe is 318.63 MB
Memory usage of optimization is 334107272.00 MB
Decreased by -104857500.0%
(3840312, 23)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970001,135000,0.0,877.5,0.0,877.5,1700.324951,...,0.000000,0.000000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.554688,45000,2250.0,2250.0,0.0,0.0,2250.000000,...,64875.554688,64875.554688,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.224609,450000,0.0,0.0,0.0,0.0,2250.000000,...,31460.085938,31460.085938,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.109375,225000,2250.0,2250.0,0.0,0.0,11795.759766,...,233048.968750,233048.968750,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.468750,450000,0.0,11547.0,0.0,11547.0,22924.890625,...,453919.468750,453919.468750,0.0,1,0.0,1.0,101.0,Active,0,0

In [80]:
# one-hotencoding(処理対象カラムを取得)
encoding_columns = []

for col in previous.columns:
    if previous[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

#encoding_columns

NAME_CONTRACT_STATUS

In [81]:
# one-hot-encoding
for col in encoding_columns:
    previous_ohe = pd.get_dummies(previous, columns=[col], dummy_na=True)
    col_ohe = sorted(list(set(previous_ohe.columns) - set(previous.columns)))

print(len(col_ohe))
col_ohe

8

['NAME_CONTRACT_STATUS_Active',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Completed',
 'NAME_CONTRACT_STATUS_Demand',
 'NAME_CONTRACT_STATUS_Refused',
 'NAME_CONTRACT_STATUS_Sent proposal',
 'NAME_CONTRACT_STATUS_Signed',
 'NAME_CONTRACT_STATUS_nan']

In [82]:
print(previous.columns)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [83]:
previous_ohe_agg = credit_ohe.groupby('SK_ID_CURR').agg(
    {
        # 数値変数の集約
        'MONTHS_BALANCE': ['mean', 'std', 'min', 'max']
        ,'AMT_BALANCE': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_LIMIT_ACTUAL': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_ATM_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_OTHER_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_DRAWINGS_POS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_INST_MIN_REGULARITY': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT_TOTAL_CURRENT': ['mean', 'std', 'min', 'max']
        ,'AMT_RECEIVABLE_PRINCIPAL': ['mean', 'std', 'min', 'max']
        ,'AMT_RECIVABLE': ['mean', 'std', 'min', 'max']
        ,'AMT_TOTAL_RECEIVABLE': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_ATM_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_OTHER_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_DRAWINGS_POS_CURRENT': ['mean', 'std', 'min', 'max']
        ,'CNT_INSTALMENT_MATURE_CUM': ['mean', 'std', 'min', 'max']
        ,'SK_DPD': ['mean', 'std', 'min', 'max']
        ,'SK_DPD_DEF': ['mean', 'std', 'min', 'max']
        # 
        ,'NAME_CONTRACT_STATUS_Active': ['mean']
        ,'NAME_CONTRACT_STATUS_Approved': ['mean']
        ,'NAME_CONTRACT_STATUS_Completed': ['mean']
        ,'NAME_CONTRACT_STATUS_Demand': ['mean']
        ,'NAME_CONTRACT_STATUS_Refused': ['mean']
        ,'NAME_CONTRACT_STATUS_Sent proposal': ['mean']
        ,'NAME_CONTRACT_STATUS_Signed': ['mean']
        ,'NAME_CONTRACT_STATUS_nan': ['mean']
        # IDのユニーク数をカウント
        ,"SK_ID_PREV":["count", "nunique"]
    }
)

# カラム名の付与
previous_ohe_agg.columns = [i + "_" + j for i,j in previous_ohe_agg.columns]
previous_ohe_agg = previous_ohe_agg.reset_index(drop=False)

print(previous_ohe_agg.shape)
previous_ohe_agg.head()

(103558, 91)

,SK_ID_CURR,MONTHS_BALANCE_mean,MONTHS_BALANCE_std,MONTHS_BALANCE_min,MONTHS_BALANCE_max,AMT_BALANCE_mean,AMT_BALANCE_std,AMT_BALANCE_min,AMT_BALANCE_max,AMT_CREDIT_LIMIT_ACTUAL_mean,...,NAME_CONTRACT_STATUS_Active_mean,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Refused_mean,NAME_CONTRACT_STATUS_Sent proposal_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100006,-3.5,1.870829,-6,-1,0.000000,0.000000,0.0,0.00000,270000.000000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,6,1
1,100011,-38.5,21.505813,-75,-2,54482.109375,68127.238133,0.0,189000.00000,164189.189189,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,74,1
2,100013,-48.5,27.856777,-96,-1,18159.919922,43237.406465,0.0,161420.21875,131718.750000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,96,1
3,100021,-10.0,5.049752,-18,-2,0.000000,0.000000,0.0,0.00000,675000.000000,...,0.411765,0.0,0.588235,0.0,0.0,0.0,0.0,0.0,17,1
4,100023,-7.5,2.449490,-11,-4,0.000000,0.000000,0.0,0.00000,135000.000000,...,1.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,8,1

In [84]:
# infをnanへ置換
previous_ohe_agg = previous_ohe_agg.replace([np.inf, -np.inf], np.nan)

In [85]:
df_train = pd.merge(app_train, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307511, 520)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225.0,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [86]:
# テーブル結合
df_test = pd.merge(app_test, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_test.shape)
df_test.head()

(48744, 519)

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241,-2329.0,-5170.0,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9.0,2.0
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064,-4469.0,-9118.0,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11.0,1.0
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038,-4458.0,-2175.0,...,0.0,0.0,0.083333,0.0,0.0,0.027778,0.0,0.0,36.0,3.0
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976,-1866.0,-2000.0,...,0.0,0.0,0.064516,0.0,0.0,0.000000,0.0,0.0,31.0,2.0
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010032,-13040,-2191.0,-4000.0,...,0.0,0.0,0.076923,0.0,0.0,0.000000,0.0,0.0,13.0,1.0

In [87]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(df_test.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')

In [88]:
### Yao-Jhonson変換
for column in encoding_columns:
    modules.process_yj_convert(df_train, df_test, column, [column])

df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
1,100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
2,100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
3,100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
4,100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [89]:
### indexを設定
df_train = df_train.set_index('SK_ID_CURR')
df_test = df_test.set_index('SK_ID_CURR')
df_train.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,0.171087,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,1.122551,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,-0.007087,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,-1.245078,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,-0.021335,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [90]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(df_train, df_test, num_cols)
        
df_train.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,0.171087,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,1.122551,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,-0.007087,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,-1.245078,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,-0.021335,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [91]:
### indexを削除
df_train = df_train.reset_index()
df_test = df_test.reset_index()
df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
1,100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
2,100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
3,100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
4,100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [92]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 1107.37 MB
Memory usage of optimization is 638700475.00 MB
Decreased by -57677139.1%
Memory usage of dataframe is 175.16 MB
Memory usage of optimization is 101192672.00 MB
Decreased by -57771795.2%

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,-0.65332,0.647461,-0.283936,-0.203247,-0.507324,0.047089,1.597656,0.809082,...,-0.11731,-0.006439,-1.882812,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-0.187744,-1.255859
1,100003,0,-0.65332,1.212891,1.495117,0.526367,1.580078,-1.730469,-0.222778,0.439209,...,-0.11731,-0.006439,-0.045929,-0.032837,-0.122192,-0.493652,-0.002628,0.0,0.304688,0.504395
2,100004,0,-0.65332,-1.656250,-1.648438,-1.231445,-1.004883,-0.863281,-0.716797,1.556641,...,-0.11731,-0.006439,2.214844,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-2.039062,-1.255859
3,100006,0,-0.65332,-0.175293,-0.635742,0.120605,-0.637207,-1.112305,-0.708008,-0.026917,...,-0.11731,-0.006439,0.406006,-0.032837,8.179688,-0.493652,-0.002628,0.0,-0.061310,0.504395
4,100007,0,-0.65332,-0.394287,0.042358,-0.381348,-0.101807,0.800293,-0.901367,-0.026764,...,-0.11731,-0.006439,-0.620117,-0.032837,-0.122192,1.480469,-0.002628,0.0,1.409180,1.246094

In [93]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [94]:
baseline = Baseline('SK_ID_CURR')

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 518) (61503, 518)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.765774	valid_1's auc: 0.748311
[200]	training's auc: 0.778697	valid_1's auc: 0.757212
[300]	training's auc: 0.789643	valid_1's auc: 0.763738
[400]	training's auc: 0.798777	valid_1's auc: 0.768627
[500]	training's auc: 0.80643	valid_1's auc: 0.771533
[600]	training's auc: 0.813036	valid_1's auc: 0.773545
[700]	training's auc: 0.818988	valid_1's auc: 0.774978
[800]	training's auc: 0.824486	valid_1's auc: 0.7762
[900]	training's auc: 0.829607	valid_1's auc: 0.777104
[1000]	training's auc: 0.834447	valid_1's auc: 0.777764
[1100]	training's auc: 0.838927	valid_1's auc: 0.778107
[1200]	training's auc: 0.843257	valid_1's auc: 0.778402
[1300]	training's auc: 0.847377	valid_1's auc: 0.778596
[1400]	training's auc: 0.851326	valid_1's auc: 0.77881
[1500]	training's auc: 0.855032	valid_1's auc: 0.779022
[1600]	training's auc: 0.858631	valid_1's auc: 0.779115
[1700]	training's auc: 0.862201	valid_1's auc: 0.77923
[1800]	training's auc: 0.86566	valid_1's auc: 0.7792
[auc] tr:0.864055, va0.7792
-------------------- 1 --------------------
(246009, 518) (61502, 518)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.764996	valid_1's auc: 0.750372
[200]	training's auc: 0.778169	valid_1's auc: 0.759952
[300]	training's auc: 0.7892	valid_1's auc: 0.766973
[400]	training's auc: 0.798604	valid_1's auc: 0.772395
[500]	training's auc: 0.806004	valid_1's auc: 0.775518
[600]	training's auc: 0.812562	valid_1's auc: 0.777694
[700]	training's auc: 0.818573	valid_1's auc: 0.779357
[800]	training's auc: 0.824148	valid_1's auc: 0.780689
[900]	training's auc: 0.829396	valid_1's auc: 0.781677
[1000]	training's auc: 0.83419	valid_1's auc: 0.782414
[1100]	training's auc: 0.838718	valid_1's auc: 0.782859
[1200]	training's auc: 0.843028	valid_1's auc: 0.783248
[1300]	training's auc: 0.847149	valid_1's auc: 0.783431
[1400]	training's auc: 0.851111	valid_1's auc: 0.783685
[1500]	training's auc: 0.854817	valid_1's auc: 0.783918
[1600]	training's auc: 0.858491	valid_1's auc: 0.784068
[1700]	training's auc: 0.862049	valid_1's auc: 0.784167
[1800]	training's auc: 0.865439	valid_1's auc: 0.784387
[1900]	training's auc: 0.868717	valid_1's auc: 0.784567
[2000]	training's auc: 0.871863	valid_1's auc: 0.784645
[2100]	training's auc: 0.87503	valid_1's auc: 0.784781
[2200]	training's auc: 0.878055	valid_1's auc: 0.784957
[2300]	training's auc: 0.880959	valid_1's auc: 0.784971
[2400]	training's auc: 0.883764	valid_1's auc: 0.785066
[2500]	training's auc: 0.886528	valid_1's auc: 0.785087
[auc] tr:0.884486, va0.7851
-------------------- 2 --------------------
(246009, 518) (61502, 518)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.764759	valid_1's auc: 0.75622
[200]	training's auc: 0.778241	valid_1's auc: 0.763856
[300]	training's auc: 0.788948	valid_1's auc: 0.769322
[400]	training's auc: 0.798533	valid_1's auc: 0.773755
[500]	training's auc: 0.806118	valid_1's auc: 0.776193
[600]	training's auc: 0.812708	valid_1's auc: 0.777761
[700]	training's auc: 0.818632	valid_1's auc: 0.778902
[800]	training's auc: 0.824148	valid_1's auc: 0.779864
[900]	training's auc: 0.829329	valid_1's auc: 0.780493
[1000]	training's auc: 0.834087	valid_1's auc: 0.781061
[1100]	training's auc: 0.83867	valid_1's auc: 0.781476
[1200]	training's auc: 0.843032	valid_1's auc: 0.781892
[1300]	training's auc: 0.847101	valid_1's auc: 0.782146
[1400]	training's auc: 0.85103	valid_1's auc: 0.782291
[1500]	training's auc: 0.854761	valid_1's auc: 0.782397
[1600]	training's auc: 0.858501	valid_1's auc: 0.782506
[1700]	training's auc: 0.862163	valid_1's auc: 0.782632
[1800]	training's auc: 0.865734	valid_1's auc: 0.782749
[1900]	training's auc: 0.869082	valid_1's auc: 0.782879
[auc] tr:0.868966, va0.7829
-------------------- 3 --------------------
(246009, 518) (61502, 518)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.765667	valid_1's auc: 0.751245
[200]	training's auc: 0.779111	valid_1's auc: 0.760456
[300]	training's auc: 0.789906	valid_1's auc: 0.766573
[400]	training's auc: 0.799046	valid_1's auc: 0.771147
[500]	training's auc: 0.806518	valid_1's auc: 0.774002
[600]	training's auc: 0.813214	valid_1's auc: 0.776221
[700]	training's auc: 0.819195	valid_1's auc: 0.777738
[800]	training's auc: 0.824871	valid_1's auc: 0.778788
[900]	training's auc: 0.830077	valid_1's auc: 0.779745
[1000]	training's auc: 0.834956	valid_1's auc: 0.780454
[1100]	training's auc: 0.839581	valid_1's auc: 0.780975
[1200]	training's auc: 0.843937	valid_1's auc: 0.781348
[1300]	training's auc: 0.848075	valid_1's auc: 0.781597
[1400]	training's auc: 0.852166	valid_1's auc: 0.781745
[1500]	training's auc: 0.855952	valid_1's auc: 0.782002
[1600]	training's auc: 0.859529	valid_1's auc: 0.782205
[1700]	training's auc: 0.863119	valid_1's auc: 0.782183
[auc] tr:0.860677, va0.7822
-------------------- 4 --------------------
(246009, 518) (61502, 518)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.766322	valid_1's auc: 0.746842
[200]	training's auc: 0.779625	valid_1's auc: 0.754879
[300]	training's auc: 0.790274	valid_1's auc: 0.760238
[400]	training's auc: 0.799389	valid_1's auc: 0.764771
[500]	training's auc: 0.806978	valid_1's auc: 0.767575
[600]	training's auc: 0.813549	valid_1's auc: 0.769645
[700]	training's auc: 0.819611	valid_1's auc: 0.771193
[800]	training's auc: 0.825357	valid_1's auc: 0.772344
[900]	training's auc: 0.830745	valid_1's auc: 0.773358
[1000]	training's auc: 0.835639	valid_1's auc: 0.774023
[1100]	training's auc: 0.84035	valid_1's auc: 0.774348
[1200]	training's auc: 0.844551	valid_1's auc: 0.774671
[1300]	training's auc: 0.848441	valid_1's auc: 0.774887
[1400]	training's auc: 0.852278	valid_1's auc: 0.775052
[1500]	training's auc: 0.855989	valid_1's auc: 0.775228
[1600]	training's auc: 0.85962	valid_1's auc: 0.775335
[1700]	training's auc: 0.863147	valid_1's auc: 0.775463
[1800]	training's auc: 0.866748	valid_1's auc: 0.775587
[1900]	training's auc: 0.870053	valid_1's auc: 0.775663
[2000]	training's auc: 0.873382	valid_1's auc: 0.775688
[2100]	training's auc: 0.87665	valid_1's auc: 0.775745
[auc] tr:0.874946, va0.7758
-------------------- result --------------------
[[0.         0.86405527 0.77923632]
 [1.         0.88448635 0.78513088]
 [2.         0.86896645 0.78288721]
 [3.         0.86067691 0.78224771]
 [4.         0.87494625 0.77577397]]
[cv] tr:0.8706+-0.0084, va:0.7811+-0.0032
[oof]0.7810

In [95]:
imp.sort_values("imp", ascending=False)[:20]

                                      col            imp      imp_std
192                       EXT_SOURCE_mean  352786.697783  5356.100643
342                   NEW_EXT_SOURCES_GEO  140389.615211  3890.191698
336           NEW_CREDIT_TO_ANNUITY_RATIO   53486.627593  3754.068909
344                NEW_EXT_SOURCES_MEDIAN   45066.881992  2891.133891
106                    ANNUITY_div_CREDIT   40155.707471  2908.017123
191                        EXT_SOURCE_max   30404.484207  1733.521331
189                          EXT_SOURCE_3   28324.734176  1306.409351
149            CNT_INSTALMENT_FUTURE_mean   26066.471029  1344.971626
265                    MONTHS_BALANCE_std   24517.452384  1318.346901
170                            DAYS_BIRTH   22974.215739  1916.819004
514  app_EXT_SOURCE_3_times_DAYS_EMPLOYED   22710.065307  1176.509274
337             NEW_CREDIT_TO_GOODS_RATIO   21937.123850  1266.218028
516                    credit_downpayment   21645.291991  1448.046332
512   app_EXT_SOURCE_2_times_EXT_SOURCE_3   21543.578010  1992.144671
193                        EXT_SOURCE_min   20924.078888  1313.794273
0                             AMT_ANNUITY   20643.592974  1263.722992
151             CNT_INSTALMENT_FUTURE_std   19559.910224  1819.555406
173                       DAYS_ID_PUBLISH   19376.444941  1562.863080
483                              USER_AGE   19374.035927  1759.003261
345                  NEW_EXT_SOURCES_PROD   18373.775994  1241.155825

In [96]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [97]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [98]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering4.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.035149
1      100005  0.078028
2      100013  0.027956
3      100028  0.047872
4      100038  0.184289

### installments paymentsの読み込み

In [99]:
installments = installments_payments_origin.copy()
installments = baseline.reduce_mem_usage(installments)
print(installments.shape)
installments.head()

Memory usage of dataframe is 830.41 MB
Memory usage of optimization is 408162158.00 MB
Decreased by -49151908.2%
(13605401, 8)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.359863,6948.359863
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525024,1716.525024
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000000,25425.000000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130859,24350.130859
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040039,2160.584961

In [100]:
# one-hotencoding(処理対象カラムを取得)
encoding_columns = []

for col in installments.columns:
    if installments[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

encoding_columns

[]

In [101]:
# one-hot-encoding
#for col in encoding_columns:
#    installments_ohe = pd.get_dummies(installments, columns=[col], dummy_na=True)
#    col_ohe = sorted(list(set(installments_ohe.columns) - set(installments.columns)))

#print(len(col_ohe))
#col_ohe
installments_ohe = installments.copy()

In [102]:
print(installments.columns)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT'],
      dtype='object')

In [103]:
installments_ohe = installments_ohe.rename(columns={'SK_ID_PREV': 'SK_ID_PREV_IP'})

In [104]:
installments_ohe_agg = installments_ohe.groupby('SK_ID_CURR').agg(
    {
        # 数値変数の集約
        'NUM_INSTALMENT_VERSION': ['mean', 'std', 'min', 'max']
        ,'NUM_INSTALMENT_NUMBER': ['mean', 'std', 'min', 'max']
        ,'DAYS_INSTALMENT': ['mean', 'std', 'min', 'max']
        ,'DAYS_ENTRY_PAYMENT': ['mean', 'std', 'min', 'max']
        ,'AMT_INSTALMENT': ['mean', 'std', 'min', 'max']
        ,'AMT_PAYMENT': ['mean', 'std', 'min', 'max']
        # IDのユニーク数をカウント
        ,"SK_ID_PREV_IP":["count", "nunique"]
    }
)

# カラム名の付与
installments_ohe_agg.columns = [i + "_" + j for i,j in installments_ohe_agg.columns]
installments_ohe_agg = installments_ohe_agg.reset_index(drop=False)

print(installments_ohe_agg.shape)
installments_ohe_agg.head()

(339587, 27)

,SK_ID_CURR,NUM_INSTALMENT_VERSION_mean,NUM_INSTALMENT_VERSION_std,NUM_INSTALMENT_VERSION_min,NUM_INSTALMENT_VERSION_max,NUM_INSTALMENT_NUMBER_mean,NUM_INSTALMENT_NUMBER_std,NUM_INSTALMENT_NUMBER_min,NUM_INSTALMENT_NUMBER_max,DAYS_INSTALMENT_mean,...,AMT_INSTALMENT_mean,AMT_INSTALMENT_std,AMT_INSTALMENT_min,AMT_INSTALMENT_max,AMT_PAYMENT_mean,AMT_PAYMENT_std,AMT_PAYMENT_min,AMT_PAYMENT_max,SK_ID_PREV_IP_count,SK_ID_PREV_IP_nunique
0,100001,1.142857,0.377964,1.0,2.0,2.714286,1.112697,1,4,-2187.714355,...,5885.132324,5076.676763,3951.000000,17397.900391,5885.132324,5076.676763,3951.000000,17397.900391,7,2
1,100002,1.052632,0.229416,1.0,2.0,10.000000,5.627314,1,19,-295.000000,...,11559.247070,10058.037883,9251.775391,53093.746094,11559.247070,10058.037883,9251.775391,53093.746094,19,1
2,100003,1.040000,0.200000,1.0,2.0,5.080000,3.134751,1,12,-1378.160034,...,64754.585938,110542.594872,6662.970215,560835.375000,64754.585938,110542.594872,6662.970215,560835.375000,25,3
3,100004,1.333333,0.577350,1.0,2.0,2.000000,1.000000,1,3,-754.000000,...,7096.154785,3011.871719,5357.250000,10573.964844,7096.154785,3011.871719,5357.250000,10573.964844,3,1
4,100005,1.111111,0.333333,1.0,2.0,5.000000,2.738613,1,9,-586.000000,...,6240.205078,4281.014648,4813.200195,17656.244141,6240.205078,4281.014648,4813.200195,17656.244141,9,1

In [105]:
# infをnanへ置換
installments_ohe_agg = installments_ohe_agg.replace([np.inf, -np.inf], np.nan)

In [106]:
df_train = pd.merge(app_train, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307511, 546)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225.0,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [107]:
# テーブル結合
df_test = pd.merge(app_test, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_test.shape)
df_test.head()

(48744, 545)

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241,-2329.0,-5170.0,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9.0,2.0
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064,-4469.0,-9118.0,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11.0,1.0
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038,-4458.0,-2175.0,...,0.0,0.0,0.083333,0.0,0.0,0.027778,0.0,0.0,36.0,3.0
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976,-1866.0,-2000.0,...,0.0,0.0,0.064516,0.0,0.0,0.000000,0.0,0.0,31.0,2.0
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010032,-13040,-2191.0,-4000.0,...,0.0,0.0,0.076923,0.0,0.0,0.000000,0.0,0.0,13.0,1.0

In [108]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(df_test.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')

In [109]:
### Yao-Jhonson変換
for column in encoding_columns:
    modules.process_yj_convert(df_train, df_test, column, [column])

df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
1,100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
2,100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
3,100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
4,100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [110]:
### indexを設定
df_train = df_train.set_index('SK_ID_CURR')
df_test = df_test.set_index('SK_ID_CURR')
df_train.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,0.171087,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,1.122551,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,-0.007087,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,-1.245078,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,-0.021335,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [111]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(df_train, df_test, num_cols)
        
df_train.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,0.171087,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,1.122551,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,-0.007087,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,-1.245078,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,-0.021335,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [112]:
### indexを削除
df_train = df_train.reset_index()
df_test = df_test.reset_index()
df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
1,100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
2,100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
3,100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
4,100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [113]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 1150.77 MB
Memory usage of optimization is 670681619.00 MB
Decreased by -58280849.3%
Memory usage of dataframe is 182.04 MB
Memory usage of optimization is 106262048.00 MB
Decreased by -58373161.0%

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,-0.65332,0.647461,-0.283936,-0.203247,-0.507324,0.047089,1.597656,0.809082,...,-0.11731,-0.006439,-1.882812,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-0.187744,-1.255859
1,100003,0,-0.65332,1.212891,1.495117,0.526367,1.580078,-1.730469,-0.222778,0.439209,...,-0.11731,-0.006439,-0.045929,-0.032837,-0.122192,-0.493652,-0.002628,0.0,0.304688,0.504395
2,100004,0,-0.65332,-1.656250,-1.648438,-1.231445,-1.004883,-0.863281,-0.716797,1.556641,...,-0.11731,-0.006439,2.214844,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-2.039062,-1.255859
3,100006,0,-0.65332,-0.175293,-0.635742,0.120605,-0.637207,-1.112305,-0.708008,-0.026917,...,-0.11731,-0.006439,0.406006,-0.032837,8.179688,-0.493652,-0.002628,0.0,-0.061310,0.504395
4,100007,0,-0.65332,-0.394287,0.042358,-0.381348,-0.101807,0.800293,-0.901367,-0.026764,...,-0.11731,-0.006439,-0.620117,-0.032837,-0.122192,1.480469,-0.002628,0.0,1.409180,1.246094

In [114]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [115]:
baseline = Baseline('SK_ID_CURR')

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 544) (61503, 544)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.768296	valid_1's auc: 0.74952
[200]	training's auc: 0.781381	valid_1's auc: 0.758318
[300]	training's auc: 0.792932	valid_1's auc: 0.765247
[400]	training's auc: 0.802566	valid_1's auc: 0.770453
[500]	training's auc: 0.810524	valid_1's auc: 0.773852
[600]	training's auc: 0.817426	valid_1's auc: 0.776054
[700]	training's auc: 0.823775	valid_1's auc: 0.777755
[800]	training's auc: 0.829475	valid_1's auc: 0.779023
[900]	training's auc: 0.834744	valid_1's auc: 0.779951
[1000]	training's auc: 0.839685	valid_1's auc: 0.780567
[1100]	training's auc: 0.84438	valid_1's auc: 0.781064
[1200]	training's auc: 0.848724	valid_1's auc: 0.781513
[1300]	training's auc: 0.853042	valid_1's auc: 0.781752
[1400]	training's auc: 0.857087	valid_1's auc: 0.781931
[1500]	training's auc: 0.860966	valid_1's auc: 0.782189
[1600]	training's auc: 0.864639	valid_1's auc: 0.782292
[1700]	training's auc: 0.868343	valid_1's auc: 0.782469
[1800]	training's auc: 0.871937	valid_1's auc: 0.78258
[1900]	training's auc: 0.875325	valid_1's auc: 0.782631
[2000]	training's auc: 0.878572	valid_1's auc: 0.782623
[auc] tr:0.875905, va0.7827
-------------------- 1 --------------------
(246009, 544) (61502, 544)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.767298	valid_1's auc: 0.752098
[200]	training's auc: 0.780767	valid_1's auc: 0.761818
[300]	training's auc: 0.79222	valid_1's auc: 0.769287
[400]	training's auc: 0.801795	valid_1's auc: 0.774963
[500]	training's auc: 0.809809	valid_1's auc: 0.778564
[600]	training's auc: 0.816673	valid_1's auc: 0.780898
[700]	training's auc: 0.822986	valid_1's auc: 0.78275
[800]	training's auc: 0.828737	valid_1's auc: 0.78414
[900]	training's auc: 0.834159	valid_1's auc: 0.785239
[1000]	training's auc: 0.839257	valid_1's auc: 0.786119
[1100]	training's auc: 0.844043	valid_1's auc: 0.78666
[1200]	training's auc: 0.848617	valid_1's auc: 0.787007
[1300]	training's auc: 0.852815	valid_1's auc: 0.787497
[1400]	training's auc: 0.85693	valid_1's auc: 0.787819
[1500]	training's auc: 0.860895	valid_1's auc: 0.788011
[1600]	training's auc: 0.864619	valid_1's auc: 0.788172
[1700]	training's auc: 0.868257	valid_1's auc: 0.788371
[1800]	training's auc: 0.871799	valid_1's auc: 0.78848
[1900]	training's auc: 0.875139	valid_1's auc: 0.788673
[2000]	training's auc: 0.878369	valid_1's auc: 0.788785
[2100]	training's auc: 0.881591	valid_1's auc: 0.788884
[2200]	training's auc: 0.884802	valid_1's auc: 0.788974
[auc] tr:0.884504, va0.7890
-------------------- 2 --------------------
(246009, 544) (61502, 544)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.767014	valid_1's auc: 0.757808
[200]	training's auc: 0.780758	valid_1's auc: 0.765263
[300]	training's auc: 0.792057	valid_1's auc: 0.771099
[400]	training's auc: 0.80199	valid_1's auc: 0.775934
[500]	training's auc: 0.810052	valid_1's auc: 0.778775
[600]	training's auc: 0.816977	valid_1's auc: 0.780715
[700]	training's auc: 0.823185	valid_1's auc: 0.782113
[800]	training's auc: 0.828961	valid_1's auc: 0.782963
[900]	training's auc: 0.834385	valid_1's auc: 0.783908
[1000]	training's auc: 0.83943	valid_1's auc: 0.784622
[1100]	training's auc: 0.844163	valid_1's auc: 0.785015
[1200]	training's auc: 0.848723	valid_1's auc: 0.785334
[1300]	training's auc: 0.853023	valid_1's auc: 0.785635
[1400]	training's auc: 0.857216	valid_1's auc: 0.785769
[1500]	training's auc: 0.861065	valid_1's auc: 0.785914
[1600]	training's auc: 0.864986	valid_1's auc: 0.786065
[1700]	training's auc: 0.868627	valid_1's auc: 0.786195
[1800]	training's auc: 0.872114	valid_1's auc: 0.786268
[1900]	training's auc: 0.875514	valid_1's auc: 0.786341
[2000]	training's auc: 0.878877	valid_1's auc: 0.786405
[auc] tr:0.877625, va0.7864
-------------------- 3 --------------------
(246009, 544) (61502, 544)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.76803	valid_1's auc: 0.75312
[200]	training's auc: 0.781473	valid_1's auc: 0.761647
[300]	training's auc: 0.792814	valid_1's auc: 0.768183
[400]	training's auc: 0.802458	valid_1's auc: 0.773036
[500]	training's auc: 0.810629	valid_1's auc: 0.776506
[600]	training's auc: 0.817448	valid_1's auc: 0.778425
[700]	training's auc: 0.82384	valid_1's auc: 0.780125
[800]	training's auc: 0.829747	valid_1's auc: 0.781248
[900]	training's auc: 0.835348	valid_1's auc: 0.782249
[1000]	training's auc: 0.840545	valid_1's auc: 0.782989
[1100]	training's auc: 0.845403	valid_1's auc: 0.783763
[1200]	training's auc: 0.84983	valid_1's auc: 0.784136
[1300]	training's auc: 0.85414	valid_1's auc: 0.784503
[1400]	training's auc: 0.858179	valid_1's auc: 0.784756
[1500]	training's auc: 0.862149	valid_1's auc: 0.784963
[1600]	training's auc: 0.866109	valid_1's auc: 0.785197
[1700]	training's auc: 0.869753	valid_1's auc: 0.785346
[1800]	training's auc: 0.873306	valid_1's auc: 0.785554
[1900]	training's auc: 0.876688	valid_1's auc: 0.785675
[2000]	training's auc: 0.88022	valid_1's auc: 0.785619
[auc] tr:0.877879, va0.7857
-------------------- 4 --------------------
(246009, 544) (61502, 544)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.768635	valid_1's auc: 0.748181
[200]	training's auc: 0.782227	valid_1's auc: 0.756326
[300]	training's auc: 0.79335	valid_1's auc: 0.76202
[400]	training's auc: 0.802898	valid_1's auc: 0.766694
[500]	training's auc: 0.810873	valid_1's auc: 0.770081
[600]	training's auc: 0.817876	valid_1's auc: 0.772451
[700]	training's auc: 0.824309	valid_1's auc: 0.774037
[800]	training's auc: 0.830228	valid_1's auc: 0.775191
[900]	training's auc: 0.835662	valid_1's auc: 0.776186
[1000]	training's auc: 0.84075	valid_1's auc: 0.77709
[1100]	training's auc: 0.845544	valid_1's auc: 0.777603
[1200]	training's auc: 0.850117	valid_1's auc: 0.778042
[1300]	training's auc: 0.854555	valid_1's auc: 0.778304
[1400]	training's auc: 0.858673	valid_1's auc: 0.778475
[1500]	training's auc: 0.862748	valid_1's auc: 0.778659
[1600]	training's auc: 0.866551	valid_1's auc: 0.778753
[1700]	training's auc: 0.870252	valid_1's auc: 0.778873
[1800]	training's auc: 0.873793	valid_1's auc: 0.779004
[1900]	training's auc: 0.877265	valid_1's auc: 0.779082
[2000]	training's auc: 0.880569	valid_1's auc: 0.779127
[2100]	training's auc: 0.883768	valid_1's auc: 0.779216
[2200]	training's auc: 0.886925	valid_1's auc: 0.779266
[2300]	training's auc: 0.889989	valid_1's auc: 0.779286
[2400]	training's auc: 0.893057	valid_1's auc: 0.779373
[auc] tr:0.892093, va0.7794
-------------------- result --------------------
[[0.         0.87590478 0.78266376]
 [1.         0.88450419 0.7889884 ]
 [2.         0.87762474 0.78644428]
 [3.         0.87787906 0.78570644]
 [4.         0.8920932  0.7794074 ]]
[cv] tr:0.8816+-0.0060, va:0.7846+-0.0033
[oof]0.7846

In [116]:
imp.sort_values("imp", ascending=False)[:20]

                                      col            imp      imp_std
208                       EXT_SOURCE_mean  350142.887250  6117.192710
358                   NEW_EXT_SOURCES_GEO  151596.024510  4613.331522
352           NEW_CREDIT_TO_ANNUITY_RATIO   50669.651889  4291.799058
360                NEW_EXT_SOURCES_MEDIAN   46532.403845  3244.478959
114                    ANNUITY_div_CREDIT   36228.473423   913.738732
82                        AMT_PAYMENT_min   32595.000565  1953.843346
538   app_EXT_SOURCE_2_times_EXT_SOURCE_3   26311.410411  2948.229252
157            CNT_INSTALMENT_FUTURE_mean   25813.149772  1335.364236
207                        EXT_SOURCE_max   23818.541006  2236.439459
205                          EXT_SOURCE_3   23616.173122   856.680820
209                        EXT_SOURCE_min   22491.379598  1219.693982
0                             AMT_ANNUITY   21850.243278   719.962952
178                            DAYS_BIRTH   21507.253551  1176.589074
353             NEW_CREDIT_TO_GOODS_RATIO   21469.965751   972.837660
540  app_EXT_SOURCE_3_times_DAYS_EMPLOYED   21419.203565  1190.391985
542                    credit_downpayment   20624.358023  1157.534430
81                       AMT_PAYMENT_mean   20009.243346  1222.506385
509                              USER_AGE   19286.684121  1352.043074
159             CNT_INSTALMENT_FUTURE_std   18652.237193   883.774655
185                       DAYS_ID_PUBLISH   18090.752518  1143.299228

In [117]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [118]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [119]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering5.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.031053
1      100005  0.091903
2      100013  0.031174
3      100028  0.048822
4      100038  0.159629

### bureauの読み込み

In [128]:
bureau = bureau_origin.copy()
bureau = baseline.reduce_mem_usage(bureau)
print(bureau.shape)
bureau.head()

Memory usage of dataframe is 222.62 MB
Memory usage of optimization is 125299372.00 MB
Decreased by -56283785.5%
(1716428, 17)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [129]:
### 
for col in bureau.columns:
    bureau[col] = bureau[col].replace('\s', '_', regex=True)
    bureau[col] = bureau[col].replace(':', '_', regex=True)
    bureau[col] = bureau[col].replace('/', '_', regex=True)
    
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency_1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer_credit,-131,NaN
1,215354,5714463,Active,currency_1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit_card,-20,NaN
2,215354,5714464,Active,currency_1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer_credit,-16,NaN
3,215354,5714465,Active,currency_1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit_card,-16,NaN
4,215354,5714466,Active,currency_1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer_credit,-21,NaN

In [130]:
# one-hotencoding(処理対象カラムを取得)
encoding_columns = []

for col in bureau.columns:
    if bureau[col].dtype=="O":
        print(col)
        encoding_columns.append(col)

CREDIT_ACTIVE
CREDIT_CURRENCY
CREDIT_TYPE

In [131]:
# one-hot-encoding
bureau_ohe = pd.get_dummies(bureau, columns=['CREDIT_ACTIVE'], dummy_na=True)
col_ohe = sorted(list(set(bureau_ohe.columns) - set(bureau.columns)))

bureau_ohe = pd.get_dummies(bureau_ohe, columns=['CREDIT_CURRENCY'], dummy_na=True)
col_ohe = sorted(list(set(bureau_ohe.columns) - set(bureau.columns)))

bureau_ohe = pd.get_dummies(bureau_ohe, columns=['CREDIT_TYPE'], dummy_na=True)
col_ohe = sorted(list(set(bureau_ohe.columns) - set(bureau.columns)))

print(len(col_ohe))
col_ohe

26

['CREDIT_ACTIVE_Active',
 'CREDIT_ACTIVE_Bad_debt',
 'CREDIT_ACTIVE_Closed',
 'CREDIT_ACTIVE_Sold',
 'CREDIT_ACTIVE_nan',
 'CREDIT_CURRENCY_currency_1',
 'CREDIT_CURRENCY_currency_2',
 'CREDIT_CURRENCY_currency_3',
 'CREDIT_CURRENCY_currency_4',
 'CREDIT_CURRENCY_nan',
 'CREDIT_TYPE_Another_type_of_loan',
 'CREDIT_TYPE_Car_loan',
 'CREDIT_TYPE_Cash_loan_(non-earmarked)',
 'CREDIT_TYPE_Consumer_credit',
 'CREDIT_TYPE_Credit_card',
 'CREDIT_TYPE_Interbank_credit',
 'CREDIT_TYPE_Loan_for_business_development',
 'CREDIT_TYPE_Loan_for_purchase_of_shares_(margin_lending)',
 'CREDIT_TYPE_Loan_for_the_purchase_of_equipment',
 'CREDIT_TYPE_Loan_for_working_capital_replenishment',
 'CREDIT_TYPE_Microloan',
 'CREDIT_TYPE_Mobile_operator_loan',
 'CREDIT_TYPE_Mortgage',
 'CREDIT_TYPE_Real_estate_loan',
 'CREDIT_TYPE_Unknown_type_of_loan',
 'CREDIT_TYPE_nan']

In [132]:
bureau_ohe = bureau_ohe.rename(columns={'SK_ID_BUREAU': 'SK_ID_BUREAU_BUREAU'})

In [133]:
bureau_ohe.head()

,SK_ID_CURR,SK_ID_BUREAU_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,...,CREDIT_TYPE_Loan_for_business_development,CREDIT_TYPE_Loan_for_purchase_of_shares_(margin_lending),CREDIT_TYPE_Loan_for_the_purchase_of_equipment,CREDIT_TYPE_Loan_for_working_capital_replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile_operator_loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real_estate_loan,CREDIT_TYPE_Unknown_type_of_loan,CREDIT_TYPE_nan
0,215354,5714462,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,215354,5714463,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,...,0,0,0,0,0,0,0,0,0,0
2,215354,5714464,-203,0,528.0,NaN,NaN,0,464323.5,NaN,...,0,0,0,0,0,0,0,0,0,0
3,215354,5714465,-203,0,NaN,NaN,NaN,0,90000.0,NaN,...,0,0,0,0,0,0,0,0,0,0
4,215354,5714466,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,...,0,0,0,0,0,0,0,0,0,0

In [135]:
bureau_ohe_agg = bureau_ohe.groupby('SK_ID_CURR').agg(
    {
        # 数値変数の集約
        'DAYS_CREDIT': ['mean', 'std', 'min', 'max', 'var']
        ,'CREDIT_DAY_OVERDUE': ['mean', 'std', 'min', 'max']
        ,'DAYS_CREDIT_ENDDATE': ['mean', 'std', 'min', 'max']
        ,'DAYS_ENDDATE_FACT': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_MAX_OVERDUE': ['mean', 'std', 'min', 'max']
        ,'CNT_CREDIT_PROLONG': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_SUM': ['mean', 'std', 'min', 'max', 'sum']
        ,'AMT_CREDIT_SUM_DEBT': ['mean', 'std', 'min', 'max', 'sum']
        ,'AMT_CREDIT_SUM_LIMIT': ['mean', 'std', 'min', 'max']
        ,'AMT_CREDIT_SUM_OVERDUE': ['mean', 'std', 'min', 'max']
        ,'DAYS_CREDIT_UPDATE': ['mean', 'std', 'min', 'max']
        ,'AMT_ANNUITY': ['mean', 'std', 'min', 'max']
        # 
        ,'CREDIT_TYPE_Another_type_of_loan': ['mean']
        ,'CREDIT_TYPE_Car_loan': ['mean']
        ,'CREDIT_TYPE_Cash_loan_(non-earmarked)': ['mean']
        ,'CREDIT_TYPE_Consumer_credit': ['mean']
        ,'CREDIT_TYPE_Credit_card': ['mean']
        ,'CREDIT_TYPE_Interbank_credit': ['mean']
        ,'CREDIT_TYPE_Loan_for_business_development': ['mean']
        ,'CREDIT_TYPE_Loan_for_purchase_of_shares_(margin_lending)': ['mean']
        ,'CREDIT_TYPE_Loan_for_the_purchase_of_equipment': ['mean']
        ,'CREDIT_TYPE_Loan_for_working_capital_replenishment': ['mean']
        ,'CREDIT_TYPE_Microloan': ['mean']
        ,'CREDIT_TYPE_Mobile_operator_loan': ['mean']
        ,'CREDIT_TYPE_Mortgage': ['mean']
        ,'CREDIT_TYPE_Real_estate_loan': ['mean']
        ,'CREDIT_TYPE_Unknown_type_of_loan': ['mean']
        ,'CREDIT_TYPE_nan': ['mean']
        ,'CREDIT_ACTIVE_Active': ['mean']
        ,'CREDIT_ACTIVE_Bad_debt': ['mean']
        ,'CREDIT_ACTIVE_Closed': ['mean']
        ,'CREDIT_ACTIVE_Sold': ['mean']
        ,'CREDIT_ACTIVE_nan': ['mean']
        ,'CREDIT_CURRENCY_currency_1': ['mean']
        ,'CREDIT_CURRENCY_currency_2': ['mean']
        ,'CREDIT_CURRENCY_currency_3': ['mean']
        ,'CREDIT_CURRENCY_currency_4': ['mean']
        ,'CREDIT_CURRENCY_nan': ['mean']
        ,'CREDIT_TYPE_Another_type_of_loan': ['mean']
        ,'CREDIT_TYPE_Car_loan': ['mean']
        ,'CREDIT_TYPE_Cash_loan_(non-earmarked)': ['mean']
        ,'CREDIT_TYPE_Consumer_credit': ['mean']
        ,'CREDIT_TYPE_Credit_card': ['mean']
        ,'CREDIT_TYPE_Interbank_credit': ['mean']
        ,'CREDIT_TYPE_Loan_for_business_development': ['mean']
        ,'CREDIT_TYPE_Loan_for_purchase_of_shares_(margin_lending)': ['mean']
        ,'CREDIT_TYPE_Loan_for_the_purchase_of_equipment': ['mean']
        ,'CREDIT_TYPE_Loan_for_working_capital_replenishment': ['mean']
        ,'CREDIT_TYPE_Microloan': ['mean']
        ,'CREDIT_TYPE_Mobile_operator_loan': ['mean']
        ,'CREDIT_TYPE_Mortgage': ['mean']
        ,'CREDIT_TYPE_Real_estate_loan': ['mean']
        ,'CREDIT_TYPE_Unknown_type_of_loan': ['mean']
        ,'CREDIT_TYPE_nan': ['mean']
        # IDのユニーク数をカウント
        ,'SK_ID_BUREAU_BUREAU': ["count", "nunique"]
    }
)

# カラム名の付与
bureau_ohe_agg.columns = [i + "_" + j for i,j in bureau_ohe_agg.columns]
bureau_ohe_agg = bureau_ohe_agg.reset_index(drop=False)

#
bureau_ohe_agg['debt_credit_ratio_None'] = bureau_ohe_agg['AMT_CREDIT_SUM_DEBT_sum'] / bureau_ohe_agg['AMT_CREDIT_SUM_sum']

print(bureau_ohe_agg.shape)
bureau_ohe_agg.head()

(305811, 81)

,SK_ID_CURR,DAYS_CREDIT_mean,DAYS_CREDIT_std,DAYS_CREDIT_min,DAYS_CREDIT_max,DAYS_CREDIT_var,CREDIT_DAY_OVERDUE_mean,CREDIT_DAY_OVERDUE_std,CREDIT_DAY_OVERDUE_min,CREDIT_DAY_OVERDUE_max,...,CREDIT_ACTIVE_Sold_mean,CREDIT_ACTIVE_nan_mean,CREDIT_CURRENCY_currency_1_mean,CREDIT_CURRENCY_currency_2_mean,CREDIT_CURRENCY_currency_3_mean,CREDIT_CURRENCY_currency_4_mean,CREDIT_CURRENCY_nan_mean,SK_ID_BUREAU_BUREAU_count,SK_ID_BUREAU_BUREAU_nunique,debt_credit_ratio_None
0,100001,-735.000000,489.942514,-1572,-49,240043.666667,0.0,0.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,7,7,0.410555
1,100002,-874.000000,431.451040,-1437,-103,186150.000000,0.0,0.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,8,8,0.284122
2,100003,-1400.750000,909.826128,-2586,-606,827783.583333,0.0,0.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,4,4,0.000000
3,100004,-867.000000,649.124025,-1326,-408,421362.000000,0.0,0.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2,2,0.000000
4,100005,-190.666667,162.297053,-373,-62,26340.333333,0.0,0.0,0,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3,3,0.864992

In [136]:
# infをnanへ置換
bureau_ohe_agg = bureau_ohe_agg.replace([np.inf, -np.inf], np.nan)

In [137]:
df_train = pd.merge(app_train, bureau_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_train.shape)
df_train.head()

(307511, 626)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,19.0,1.0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,...,0.0,0.0,0.071429,0.0,0.000000,0.000000,0.0,0.0,28.0,3.0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225.0,...,0.0,0.0,0.250000,0.0,0.000000,0.000000,0.0,0.0,4.0,1.0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,...,0.0,0.0,0.095238,0.0,0.047619,0.000000,0.0,0.0,21.0,3.0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,...,0.0,0.0,0.045455,0.0,0.000000,0.015152,0.0,0.0,66.0,5.0

In [138]:
df_test = pd.merge(app_test, bureau_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')
print(df_test.shape)
df_test.head()

(48744, 625)

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241,-2329.0,-5170.0,...,0.0,0.0,0.222222,0.0,0.0,0.000000,0.0,0.0,9.0,2.0
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064,-4469.0,-9118.0,...,0.0,0.0,0.090909,0.0,0.0,0.090909,0.0,0.0,11.0,1.0
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038,-4458.0,-2175.0,...,0.0,0.0,0.083333,0.0,0.0,0.027778,0.0,0.0,36.0,3.0
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976,-1866.0,-2000.0,...,0.0,0.0,0.064516,0.0,0.0,0.000000,0.0,0.0,31.0,2.0
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010032,-13040,-2191.0,-4000.0,...,0.0,0.0,0.076923,0.0,0.0,0.000000,0.0,0.0,13.0,1.0

In [139]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(df_test.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')
encoding_columns.remove('EXT_SOURCE_3')
encoding_columns.remove('EXT_SOURCE_2')
encoding_columns.remove('EXT_SOURCE_1')

In [140]:
### Yao-Jhonson変換
for column in encoding_columns:
    modules.process_yj_convert(df_train, df_test, column, [column])

df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
1,100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
2,100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
3,100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
4,100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [141]:
encoding_columns.append('EXT_SOURCE_3')
encoding_columns.append('EXT_SOURCE_2')
encoding_columns.append('EXT_SOURCE_1')

In [142]:
### indexを設定
df_train = df_train.set_index('SK_ID_CURR')
df_test = df_test.set_index('SK_ID_CURR')
df_train.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,0.171087,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,1.122551,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,-0.007087,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,-1.245078,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,-0.021335,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [143]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(df_train, df_test, num_cols)
        
df_train.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,0.171087,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,1.122551,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,-0.007087,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,-1.245078,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,-0.021335,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [144]:
### indexを削除
df_train = df_train.reset_index()
df_test = df_test.reset_index()
df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,...,-0.117323,-0.006439,-1.882730,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-0.187765,-1.255506
1,100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,...,-0.117323,-0.006439,-0.045919,-0.03285,-0.122220,-0.493725,-0.002629,0.0,0.304646,0.504252
2,100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,...,-0.117323,-0.006439,2.215201,-0.03285,-0.122220,-0.493725,-0.002629,0.0,-2.038484,-1.255506
3,100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,...,-0.117323,-0.006439,0.405970,-0.03285,8.182009,-0.493725,-0.002629,0.0,-0.061310,0.504252
4,100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,...,-0.117323,-0.006439,-0.620244,-0.03285,-0.122220,1.480658,-0.002629,0.0,1.408814,1.246139

In [145]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 1338.46 MB
Memory usage of optimization is 769085139.00 MB
Decreased by -57460214.9%
Memory usage of dataframe is 211.79 MB
Memory usage of optimization is 121860128.00 MB
Decreased by -57538118.7%

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Approved_mean,NAME_CONTRACT_STATUS_Canceled_mean,NAME_CONTRACT_STATUS_Completed_mean,NAME_CONTRACT_STATUS_Demand_mean,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique
0,100002,1,-0.65332,0.647461,-0.283936,-0.203247,-0.507324,0.047089,1.597656,0.809082,...,-0.11731,-0.006439,-1.882812,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-0.187744,-1.255859
1,100003,0,-0.65332,1.212891,1.495117,0.526367,1.580078,-1.730469,-0.222778,0.439209,...,-0.11731,-0.006439,-0.045929,-0.032837,-0.122192,-0.493652,-0.002628,0.0,0.304688,0.504395
2,100004,0,-0.65332,-1.656250,-1.648438,-1.231445,-1.004883,-0.863281,-0.716797,1.556641,...,-0.11731,-0.006439,2.214844,-0.032837,-0.122192,-0.493652,-0.002628,0.0,-2.039062,-1.255859
3,100006,0,-0.65332,-0.175293,-0.635742,0.120605,-0.637207,-1.112305,-0.708008,-0.026917,...,-0.11731,-0.006439,0.406006,-0.032837,8.179688,-0.493652,-0.002628,0.0,-0.061310,0.504395
4,100007,0,-0.65332,-0.394287,0.042358,-0.381348,-0.101807,0.800293,-0.901367,-0.026764,...,-0.11731,-0.006439,-0.620117,-0.032837,-0.122192,1.480469,-0.002628,0.0,1.409180,1.246094

In [146]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [147]:
baseline = Baseline('SK_ID_CURR')

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 624) (61503, 624)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.769512	valid_1's auc: 0.74975
[200]	training's auc: 0.784044	valid_1's auc: 0.759372
[300]	training's auc: 0.796833	valid_1's auc: 0.767178
[400]	training's auc: 0.80734	valid_1's auc: 0.772806
[500]	training's auc: 0.815749	valid_1's auc: 0.77642
[600]	training's auc: 0.823278	valid_1's auc: 0.779033
[700]	training's auc: 0.829832	valid_1's auc: 0.780976
[800]	training's auc: 0.83598	valid_1's auc: 0.782372
[900]	training's auc: 0.841751	valid_1's auc: 0.783428
[1000]	training's auc: 0.847076	valid_1's auc: 0.78437
[1100]	training's auc: 0.852093	valid_1's auc: 0.785104
[1200]	training's auc: 0.856921	valid_1's auc: 0.785675
[1300]	training's auc: 0.861559	valid_1's auc: 0.786177
[1400]	training's auc: 0.865922	valid_1's auc: 0.786554
[1500]	training's auc: 0.870198	valid_1's auc: 0.786952
[1600]	training's auc: 0.874219	valid_1's auc: 0.787172
[1700]	training's auc: 0.878025	valid_1's auc: 0.787348
[1800]	training's auc: 0.881577	valid_1's auc: 0.787602
[1900]	training's auc: 0.88522	valid_1's auc: 0.787662
[2000]	training's auc: 0.888643	valid_1's auc: 0.787843
[2100]	training's auc: 0.891837	valid_1's auc: 0.788026
[2200]	training's auc: 0.895019	valid_1's auc: 0.788109
[2300]	training's auc: 0.898053	valid_1's auc: 0.788205
[2400]	training's auc: 0.901007	valid_1's auc: 0.788277
[2500]	training's auc: 0.903992	valid_1's auc: 0.788418
[2600]	training's auc: 0.906819	valid_1's auc: 0.788427
[auc] tr:0.904921, va0.7885
-------------------- 1 --------------------
(246009, 624) (61502, 624)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.769041	valid_1's auc: 0.752485
[200]	training's auc: 0.78331	valid_1's auc: 0.762362
[300]	training's auc: 0.795976	valid_1's auc: 0.770832
[400]	training's auc: 0.806551	valid_1's auc: 0.776787
[500]	training's auc: 0.815216	valid_1's auc: 0.780709
[600]	training's auc: 0.822755	valid_1's auc: 0.783388
[700]	training's auc: 0.829535	valid_1's auc: 0.785526
[800]	training's auc: 0.835803	valid_1's auc: 0.787308
[900]	training's auc: 0.841657	valid_1's auc: 0.788688
[1000]	training's auc: 0.846907	valid_1's auc: 0.789531
[1100]	training's auc: 0.852071	valid_1's auc: 0.790348
[1200]	training's auc: 0.856847	valid_1's auc: 0.791015
[1300]	training's auc: 0.861365	valid_1's auc: 0.791568
[1400]	training's auc: 0.86578	valid_1's auc: 0.791979
[1500]	training's auc: 0.87	valid_1's auc: 0.792315
[1600]	training's auc: 0.873892	valid_1's auc: 0.792595
[1700]	training's auc: 0.877652	valid_1's auc: 0.792779
[1800]	training's auc: 0.881388	valid_1's auc: 0.792958
[1900]	training's auc: 0.88496	valid_1's auc: 0.793143
[2000]	training's auc: 0.888515	valid_1's auc: 0.793358
[2100]	training's auc: 0.891859	valid_1's auc: 0.793558
[2200]	training's auc: 0.895125	valid_1's auc: 0.793626
[2300]	training's auc: 0.898393	valid_1's auc: 0.7937
[2400]	training's auc: 0.901473	valid_1's auc: 0.793778
[2500]	training's auc: 0.904394	valid_1's auc: 0.793874
[2600]	training's auc: 0.907305	valid_1's auc: 0.793991
[2700]	training's auc: 0.910131	valid_1's auc: 0.793976
[auc] tr:0.907520, va0.7940
-------------------- 2 --------------------
(246009, 624) (61502, 624)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.76907	valid_1's auc: 0.759279
[200]	training's auc: 0.783614	valid_1's auc: 0.767258
[300]	training's auc: 0.79586	valid_1's auc: 0.773894
[400]	training's auc: 0.806486	valid_1's auc: 0.779181
[500]	training's auc: 0.815241	valid_1's auc: 0.782863
[600]	training's auc: 0.822704	valid_1's auc: 0.785137
[700]	training's auc: 0.82936	valid_1's auc: 0.786703
[800]	training's auc: 0.835565	valid_1's auc: 0.787916
[900]	training's auc: 0.841291	valid_1's auc: 0.788827
[1000]	training's auc: 0.846712	valid_1's auc: 0.789739
[1100]	training's auc: 0.851672	valid_1's auc: 0.790356
[1200]	training's auc: 0.856465	valid_1's auc: 0.790765
[1300]	training's auc: 0.861203	valid_1's auc: 0.791273
[1400]	training's auc: 0.865638	valid_1's auc: 0.79157
[1500]	training's auc: 0.869788	valid_1's auc: 0.791849
[1600]	training's auc: 0.873798	valid_1's auc: 0.792103
[1700]	training's auc: 0.877583	valid_1's auc: 0.792356
[1800]	training's auc: 0.881293	valid_1's auc: 0.79253
[1900]	training's auc: 0.884847	valid_1's auc: 0.792642
[2000]	training's auc: 0.888282	valid_1's auc: 0.792668
[2100]	training's auc: 0.891584	valid_1's auc: 0.792698
[2200]	training's auc: 0.89486	valid_1's auc: 0.792683
[auc] tr:0.892818, va0.7927
-------------------- 3 --------------------
(246009, 624) (61502, 624)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.769802	valid_1's auc: 0.752829
[200]	training's auc: 0.784215	valid_1's auc: 0.761807
[300]	training's auc: 0.796543	valid_1's auc: 0.769493
[400]	training's auc: 0.807211	valid_1's auc: 0.7749
[500]	training's auc: 0.816052	valid_1's auc: 0.778854
[600]	training's auc: 0.823555	valid_1's auc: 0.781226
[700]	training's auc: 0.830336	valid_1's auc: 0.783126
[800]	training's auc: 0.836539	valid_1's auc: 0.784635
[900]	training's auc: 0.842361	valid_1's auc: 0.785768
[1000]	training's auc: 0.847871	valid_1's auc: 0.786735
[1100]	training's auc: 0.853102	valid_1's auc: 0.787594
[1200]	training's auc: 0.857893	valid_1's auc: 0.788139
[1300]	training's auc: 0.862454	valid_1's auc: 0.78861
[1400]	training's auc: 0.866667	valid_1's auc: 0.789006
[1500]	training's auc: 0.870717	valid_1's auc: 0.789295
[1600]	training's auc: 0.874693	valid_1's auc: 0.789453
[1700]	training's auc: 0.878479	valid_1's auc: 0.789602
[1800]	training's auc: 0.882224	valid_1's auc: 0.789931
[1900]	training's auc: 0.885744	valid_1's auc: 0.79008
[2000]	training's auc: 0.889124	valid_1's auc: 0.790204
[2100]	training's auc: 0.892477	valid_1's auc: 0.790213
[2200]	training's auc: 0.895804	valid_1's auc: 0.790267
[2300]	training's auc: 0.898897	valid_1's auc: 0.790367
[2400]	training's auc: 0.901964	valid_1's auc: 0.790519
[2500]	training's auc: 0.904953	valid_1's auc: 0.790613
[2600]	training's auc: 0.907896	valid_1's auc: 0.790628
[auc] tr:0.906436, va0.7906
-------------------- 4 --------------------
(246009, 624) (61502, 624)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.770629	valid_1's auc: 0.749649
[200]	training's auc: 0.784835	valid_1's auc: 0.758426
[300]	training's auc: 0.797151	valid_1's auc: 0.765135
[400]	training's auc: 0.807576	valid_1's auc: 0.770273
[500]	training's auc: 0.816245	valid_1's auc: 0.77392
[600]	training's auc: 0.823747	valid_1's auc: 0.776501
[700]	training's auc: 0.830677	valid_1's auc: 0.77833
[800]	training's auc: 0.837033	valid_1's auc: 0.779693
[900]	training's auc: 0.84285	valid_1's auc: 0.780767
[1000]	training's auc: 0.848313	valid_1's auc: 0.781655
[1100]	training's auc: 0.853535	valid_1's auc: 0.78255
[1200]	training's auc: 0.858357	valid_1's auc: 0.783074
[1300]	training's auc: 0.862955	valid_1's auc: 0.783524
[1400]	training's auc: 0.867391	valid_1's auc: 0.783935
[1500]	training's auc: 0.871468	valid_1's auc: 0.784263
[1600]	training's auc: 0.875466	valid_1's auc: 0.784486
[1700]	training's auc: 0.879331	valid_1's auc: 0.784641
[1800]	training's auc: 0.883025	valid_1's auc: 0.784735
[1900]	training's auc: 0.886741	valid_1's auc: 0.784866
[2000]	training's auc: 0.89026	valid_1's auc: 0.785025
[2100]	training's auc: 0.893661	valid_1's auc: 0.785151
[2200]	training's auc: 0.897022	valid_1's auc: 0.785324
[2300]	training's auc: 0.900259	valid_1's auc: 0.785421
[2400]	training's auc: 0.903452	valid_1's auc: 0.785424
[auc] tr:0.903177, va0.7854
-------------------- result --------------------
[[0.         0.90492087 0.78846477]
 [1.         0.90751978 0.79400579]
 [2.         0.89281849 0.79272656]
 [3.         0.90643638 0.79064575]
 [4.         0.90317656 0.78544439]]
[cv] tr:0.9030+-0.0053, va:0.7903+-0.0031
[oof]0.7902

In [148]:
imp.sort_values("imp", ascending=False)[:20]

                                      col            imp      imp_std
285                       EXT_SOURCE_mean  289495.109057  3768.681102
435                   NEW_EXT_SOURCES_GEO  203348.008996  1985.831560
437                NEW_EXT_SOURCES_MEDIAN   56118.559326  2960.825632
429           NEW_CREDIT_TO_ANNUITY_RATIO   48690.040556  2440.012523
140                    ANNUITY_div_CREDIT   33002.813404  2250.849289
108                       AMT_PAYMENT_min   32414.899942  1150.586686
284                        EXT_SOURCE_max   31510.085930  2291.194260
187            CNT_INSTALMENT_FUTURE_mean   26017.693279   968.411467
623                debt_credit_ratio_None   25980.987288  2108.633575
430             NEW_CREDIT_TO_GOODS_RATIO   21538.801309   705.811983
238                            DAYS_BIRTH   21370.869054  1773.834708
286                        EXT_SOURCE_min   21178.919625  1575.694400
617   app_EXT_SOURCE_2_times_EXT_SOURCE_3   20965.020348  1771.426385
621                    credit_downpayment   20690.079340  1194.434414
0                             AMT_ANNUITY   20671.964935  1215.222264
247                       DAYS_CREDIT_max   19981.844850  1531.453651
619  app_EXT_SOURCE_3_times_DAYS_EMPLOYED   19904.975799  1815.547623
107                      AMT_PAYMENT_mean   19215.410665  1457.784014
189             CNT_INSTALMENT_FUTURE_std   18267.215983  1505.244086
588                              USER_AGE   17625.574165  1012.992077

In [149]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [150]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [151]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering6.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.035476
1      100005  0.115863
2      100013  0.039537
3      100028  0.047273
4      100038  0.154564

### mean mean

In [152]:
# consumer_annuity_to_max_installment_ratio
app_train_mean1 = pd.read_csv('./home-credit-default-risk/datasets/train_hc_only_consumer_annuity_to_max_installment_ratio.csv')
app_test_mean1 =  pd.read_csv('./home-credit-default-risk/datasets/test_hc_only_consumer_annuity_to_max_installment_ratio.csv')
app_train_mean1 = app_train_mean1.rename(columns={'sk_id_curr': 'SK_ID_CURR'})
app_test_mean1 = app_test_mean1.rename(columns={'sk_id_curr': 'SK_ID_CURR'})

### installment_payment_ratio_1000_mean_mean
#### consumer_installment_payment_ratio_1000_mean_mean
app_train_mean2 = pd.read_csv('./home-credit-default-risk/datasets/train_hc_only_consumer_installment_payment_ratio_1000_mean_mean.csv')
app_test_mean2 =  pd.read_csv('./home-credit-default-risk/datasets/test_hc_only_consumer_installment_payment_ratio_1000_mean_mean.csv')
app_train_mean2 = app_train_mean2.rename(columns={'sk_id_curr': 'SK_ID_CURR'})
app_test_mean2 = app_test_mean2.rename(columns={'sk_id_curr': 'SK_ID_CURR'})


#### revo_installment_payment_ratio_1000_mean_mean
app_train_mean3 = pd.read_csv('./home-credit-default-risk/datasets/train_hc_only_revo_installment_payment_ratio_1000_mean_mean.csv')
app_test_mean3 =  pd.read_csv('./home-credit-default-risk/datasets/test_hc_only_revo_installment_payment_ratio_1000_mean_mean.csv')
app_train_mean3 = app_train_mean3.rename(columns={'sk_id_curr': 'SK_ID_CURR'})
app_test_mean3 = app_test_mean3.rename(columns={'sk_id_curr': 'SK_ID_CURR'})

#### installment_payment_ratio_1000_mean_mean
app_train_mean4 = pd.read_csv('./home-credit-default-risk/datasets/train_hc_only_cash_installment_payment_ratio_1000_mean_mean.csv')
app_test_mean4 =  pd.read_csv('./home-credit-default-risk/datasets/test_hc_only_cash_installment_payment_ratio_1000_mean_mean.csv')
app_train_mean4 = app_train_mean4.rename(columns={'sk_id_curr': 'SK_ID_CURR'})
app_test_mean4 = app_test_mean4.rename(columns={'sk_id_curr': 'SK_ID_CURR'})

In [153]:
# infをnanへ置換
app_train_mean1 = app_train_mean1.replace([np.inf, -np.inf], np.nan)
app_test_mean1 = app_train_mean1.replace([np.inf, -np.inf], np.nan)

app_train_mean2 = app_train_mean2.replace([np.inf, -np.inf], np.nan)
app_test_mean2 = app_test_mean2.replace([np.inf, -np.inf], np.nan)

app_train_mean3 = app_train_mean3.replace([np.inf, -np.inf], np.nan)
app_test_mean3 = app_test_mean3.replace([np.inf, -np.inf], np.nan)

app_train_mean4 = app_train_mean4.replace([np.inf, -np.inf], np.nan)
app_test_mean4 = app_train_mean4.replace([np.inf, -np.inf], np.nan)

In [154]:
#
#app_train_mean1 = app_train_mean1.fillna(0)
#app_test_mean1 = app_test_mean1.fillna(0)

#app_train_mean2 = app_train_mean2.fillna(0)
#app_test_mean2 = app_test_mean2.fillna(0)

#app_train_mean3 = app_train_mean3.fillna(0)
#app_test_mean3 = app_test_mean3.fillna(0)

#app_train_mean4 = app_train_mean4.fillna(0)
#app_test_mean4 = app_test_mean4.fillna(0)

In [155]:
df_train = pd.merge(app_train, bureau_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, pos_ohe_agg, on='SK_ID_CURR', how='left')

df_train = pd.merge(df_train, app_train_mean1, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, app_train_mean2, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, app_train_mean3, on='SK_ID_CURR', how='left')
df_train = pd.merge(df_train, app_train_mean4, on='SK_ID_CURR', how='left')

df_train = df_train.fillna(0)

print(df_train.shape)
df_train.head()

(307511, 630)

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique,consumer_annuity_to_max_installment_ratio,consumer_installment_payment_ratio_1000_mean_mean,revo_installment_payment_ratio_1000_mean_mean,installment_payment_ratio_1000_mean_mean
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637.0,...,0.000000,0.000000,0.0,0.0,19.0,1.0,-988.0000,0.0,0.0,0.0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,...,0.000000,0.000000,0.0,0.0,28.0,3.0,0.0000,0.0,0.0,0.0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225.0,...,0.000000,0.000000,0.0,0.0,4.0,1.0,0.0000,0.0,0.0,0.0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,...,0.047619,0.000000,0.0,0.0,21.0,3.0,-2698.7273,0.0,0.0,0.0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,...,0.000000,0.015152,0.0,0.0,66.0,5.0,0.0000,0.0,0.0,0.0

In [156]:
df_test = pd.merge(app_test, bureau_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, installments_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, previous_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, credit_ohe_agg, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, pos_ohe_agg, on='SK_ID_CURR', how='left')

df_test = pd.merge(df_test, app_test_mean1, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, app_test_mean2, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, app_test_mean3, on='SK_ID_CURR', how='left')
df_test = pd.merge(df_test, app_test_mean4, on='SK_ID_CURR', how='left')

df_test = df_test.fillna(0)

print(df_test.shape)
df_test.head()

(48744, 629)

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique,consumer_annuity_to_max_installment_ratio,consumer_installment_payment_ratio_1000_mean_mean,revo_installment_payment_ratio_1000_mean_mean,installment_payment_ratio_1000_mean_mean
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241,-2329.0,-5170.0,...,0.0,0.000000,0.0,0.0,9.0,2.0,0.0,0.00000,0.000000,0.0
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064,-4469.0,-9118.0,...,0.0,0.090909,0.0,0.0,11.0,1.0,0.0,0.00000,0.000000,0.0
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038,-4458.0,-2175.0,...,0.0,0.027778,0.0,0.0,36.0,3.0,0.0,-1185.60375,0.000000,0.0
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976,-1866.0,-2000.0,...,0.0,0.000000,0.0,0.0,31.0,2.0,0.0,0.00000,-1148.027459,0.0
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010032,-13040,-2191.0,-4000.0,...,0.0,0.000000,0.0,0.0,13.0,1.0,0.0,0.00000,0.000000,0.0

In [157]:
# 処理対象の列名をリスト化(Rev/Cashのcolumnを取得する)
replace_columns = list(df_test.select_dtypes(include='number').columns)
replace_columns.remove('SK_ID_CURR')
replace_columns.remove('EXT_SOURCE_3')
replace_columns.remove('EXT_SOURCE_2')
replace_columns.remove('EXT_SOURCE_1')

In [158]:
### 欠損値を補完する()

#for column in processing_columns:
#    #print("Missing Value Completion Process: " + column + "\n")
#    result = modules.process_imputer(df_train, df_test, replace_columns, column)
#    if result != True:
#        print("Can not Process: " + column + "\n")

In [159]:
### infをnanへ置換
df_train = df_train.replace([np.inf, -np.inf], np.nan)
df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique,consumer_annuity_to_max_installment_ratio,consumer_installment_payment_ratio_1000_mean_mean,revo_installment_payment_ratio_1000_mean_mean,installment_payment_ratio_1000_mean_mean
0,100002,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,-9461,-637.0,...,0.000000,0.000000,0.0,0.0,19.0,1.0,-988.0000,0.0,0.0,0.0
1,100003,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765,-1188.0,...,0.000000,0.000000,0.0,0.0,28.0,3.0,0.0000,0.0,0.0,0.0
2,100004,0,0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046,-225.0,...,0.000000,0.000000,0.0,0.0,4.0,1.0,0.0000,0.0,0.0,0.0
3,100006,0,0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005,-3039.0,...,0.047619,0.000000,0.0,0.0,21.0,3.0,-2698.7273,0.0,0.0,0.0
4,100007,0,0,121500.0,513000.0,21865.5,513000.0,0.028663,-19932,-3038.0,...,0.000000,0.015152,0.0,0.0,66.0,5.0,0.0000,0.0,0.0,0.0

In [160]:
### 欠損値を補完する
#df_train = df_train.fillna(df_train.max() + (df_train.max() * 0.4))
#df_train.head()

In [161]:
### infをnanへ置換
df_test = df_test.replace([np.inf, -np.inf], np.nan)
df_test.head()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique,consumer_annuity_to_max_installment_ratio,consumer_installment_payment_ratio_1000_mean_mean,revo_installment_payment_ratio_1000_mean_mean,installment_payment_ratio_1000_mean_mean
0,100001,0,135000.0,568800.0,20560.5,450000.0,0.018850,-19241,-2329.0,-5170.0,...,0.0,0.000000,0.0,0.0,9.0,2.0,0.0,0.00000,0.000000,0.0
1,100005,0,99000.0,222768.0,17370.0,180000.0,0.035792,-18064,-4469.0,-9118.0,...,0.0,0.090909,0.0,0.0,11.0,1.0,0.0,0.00000,0.000000,0.0
2,100013,0,202500.0,663264.0,69777.0,630000.0,0.019101,-20038,-4458.0,-2175.0,...,0.0,0.027778,0.0,0.0,36.0,3.0,0.0,-1185.60375,0.000000,0.0
3,100028,2,315000.0,1575000.0,49018.5,1575000.0,0.026392,-13976,-1866.0,-2000.0,...,0.0,0.000000,0.0,0.0,31.0,2.0,0.0,0.00000,-1148.027459,0.0
4,100038,1,180000.0,625500.0,32067.0,625500.0,0.010032,-13040,-2191.0,-4000.0,...,0.0,0.000000,0.0,0.0,13.0,1.0,0.0,0.00000,0.000000,0.0

In [162]:
### 欠損値補完
#df_test = df_test.fillna(df_test.max() + (df_test.max() * 0.4))
#df_test.head()

In [163]:
### 処理対象の列名を配列化
#encoding_columns = []
encoding_columns = list(df_test.select_dtypes(include='number').columns)

#for col in df_test.columns:
#    print(col)
#    encoding_columns.append(col)
    
encoding_columns.remove('SK_ID_CURR')
#encoding_columns.remove('EXT_SOURCE_3')
#encoding_columns.remove('EXT_SOURCE_2')
#encoding_columns.remove('EXT_SOURCE_1')

In [164]:
### Yao-Jhonson変換
for column in encoding_columns:
    modules.process_yj_convert(df_train, df_test, column, [column])

df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique,consumer_annuity_to_max_installment_ratio,consumer_installment_payment_ratio_1000_mean_mean,revo_installment_payment_ratio_1000_mean_mean,installment_payment_ratio_1000_mean_mean
0,100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,...,-0.118523,-0.476503,-0.00255,0.0,-0.118159,-0.856749,-3.049664,0.086846,0.222678,0.011144
1,100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,...,-0.118523,-0.476503,-0.00255,0.0,0.298617,0.462282,0.328005,0.086846,0.222678,0.011144
2,100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,...,-0.118523,-0.476503,-0.00255,0.0,-1.311051,-0.856749,0.328005,0.086846,0.222678,0.011144
3,100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,...,8.437188,-0.476503,-0.00255,0.0,-0.015781,0.462282,-3.049843,0.086846,0.222678,0.011144
4,100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,...,-0.118523,1.595367,-0.00255,0.0,1.433840,1.232306,0.328005,0.086846,0.222678,0.011144

In [165]:
#encoding_columns.append('EXT_SOURCE_3')
#encoding_columns.append('EXT_SOURCE_2')
#encoding_columns.append('EXT_SOURCE_1')

In [166]:
### indexを設定
df_train = df_train.set_index('SK_ID_CURR')
df_test = df_test.set_index('SK_ID_CURR')
df_train.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique,consumer_annuity_to_max_installment_ratio,consumer_installment_payment_ratio_1000_mean_mean,revo_installment_payment_ratio_1000_mean_mean,installment_payment_ratio_1000_mean_mean
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,0.171087,...,-0.118523,-0.476503,-0.00255,0.0,-0.118159,-0.856749,-3.049664,0.086846,0.222678,0.011144
100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,1.122551,...,-0.118523,-0.476503,-0.00255,0.0,0.298617,0.462282,0.328005,0.086846,0.222678,0.011144
100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,-0.007087,...,-0.118523,-0.476503,-0.00255,0.0,-1.311051,-0.856749,0.328005,0.086846,0.222678,0.011144
100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,-1.245078,...,8.437188,-0.476503,-0.00255,0.0,-0.015781,0.462282,-3.049843,0.086846,0.222678,0.011144
100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,-0.021335,...,-0.118523,1.595367,-0.00255,0.0,1.433840,1.232306,0.328005,0.086846,0.222678,0.011144

In [167]:
### 標準化
for column in encoding_columns:
    num_cols = []
    num_cols.append(column)
    result = modules.process_standardization(df_train, df_test, num_cols)
        
df_train.head()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique,consumer_annuity_to_max_installment_ratio,consumer_installment_payment_ratio_1000_mean_mean,revo_installment_payment_ratio_1000_mean_mean,installment_payment_ratio_1000_mean_mean
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,0.171087,...,-0.118523,-0.476503,-0.00255,0.0,-0.118159,-0.856749,-3.049664,0.086846,0.222678,0.011144
100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,1.122551,...,-0.118523,-0.476503,-0.00255,0.0,0.298617,0.462282,0.328005,0.086846,0.222678,0.011144
100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,-0.007087,...,-0.118523,-0.476503,-0.00255,0.0,-1.311051,-0.856749,0.328005,0.086846,0.222678,0.011144
100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,-1.245078,...,8.437188,-0.476503,-0.00255,0.0,-0.015781,0.462282,-3.049843,0.086846,0.222678,0.011144
100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,-0.021335,...,-0.118523,1.595367,-0.00255,0.0,1.433840,1.232306,0.328005,0.086846,0.222678,0.011144

In [168]:
### indexを削除
df_train = df_train.reset_index()
df_test = df_test.reset_index()
df_train.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique,consumer_annuity_to_max_installment_ratio,consumer_installment_payment_ratio_1000_mean_mean,revo_installment_payment_ratio_1000_mean_mean,installment_payment_ratio_1000_mean_mean
0,100002,1,-0.653139,0.647486,-0.284044,-0.203186,-0.507253,0.047087,1.597495,0.808839,...,-0.118523,-0.476503,-0.00255,0.0,-0.118159,-0.856749,-3.049664,0.086846,0.222678,0.011144
1,100003,0,-0.653139,1.212688,1.495411,0.526520,1.580121,-1.730597,-0.222770,0.439156,...,-0.118523,-0.476503,-0.00255,0.0,0.298617,0.462282,0.328005,0.086846,0.222678,0.011144
2,100004,0,-0.653139,-1.655798,-1.648326,-1.231482,-1.005031,-0.863129,-0.716560,1.556409,...,-0.118523,-0.476503,-0.00255,0.0,-1.311051,-0.856749,0.328005,0.086846,0.222678,0.011144
3,100006,0,-0.653139,-0.175278,-0.635708,0.120608,-0.637240,-1.112298,-0.707915,-0.026918,...,8.437188,-0.476503,-0.00255,0.0,-0.015781,0.462282,-3.049843,0.086846,0.222678,0.011144
4,100007,0,-0.653139,-0.394208,0.042354,-0.381375,-0.101780,0.800124,-0.901472,-0.026771,...,-0.118523,1.595367,-0.00255,0.0,1.433840,1.232306,0.328005,0.086846,0.222678,0.011144

In [169]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 1347.85 MB
Memory usage of optimization is 774005315.00 MB
Decreased by -57425182.6%
Memory usage of dataframe is 213.28 MB
Memory usage of optimization is 122640032.00 MB
Decreased by -57502481.9%

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,NAME_CONTRACT_STATUS_Returned to the store_mean,NAME_CONTRACT_STATUS_Signed_mean,NAME_CONTRACT_STATUS_XNA_mean,NAME_CONTRACT_STATUS_nan_mean,SK_ID_PREV_count,SK_ID_PREV_nunique,consumer_annuity_to_max_installment_ratio,consumer_installment_payment_ratio_1000_mean_mean,revo_installment_payment_ratio_1000_mean_mean,installment_payment_ratio_1000_mean_mean
0,100002,1,-0.65332,0.647461,-0.283936,-0.203247,-0.507324,0.047089,1.597656,0.809082,...,-0.11853,-0.476562,-0.00255,0.0,-0.118164,-0.856934,-3.048828,0.086853,0.222656,0.011147
1,100003,0,-0.65332,1.212891,1.495117,0.526367,1.580078,-1.730469,-0.222778,0.439209,...,-0.11853,-0.476562,-0.00255,0.0,0.298584,0.462402,0.328125,0.086853,0.222656,0.011147
2,100004,0,-0.65332,-1.656250,-1.648438,-1.231445,-1.004883,-0.863281,-0.716797,1.556641,...,-0.11853,-0.476562,-0.00255,0.0,-1.311523,-0.856934,0.328125,0.086853,0.222656,0.011147
3,100006,0,-0.65332,-0.175293,-0.635742,0.120605,-0.637207,-1.112305,-0.708008,-0.026917,...,8.43750,-0.476562,-0.00255,0.0,-0.015778,0.462402,-3.050781,0.086853,0.222656,0.011147
4,100007,0,-0.65332,-0.394287,0.042358,-0.381348,-0.101807,0.800293,-0.901367,-0.026764,...,-0.11853,1.595703,-0.00255,0.0,1.433594,1.232422,0.328125,0.086853,0.222656,0.011147

In [170]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [171]:
baseline = Baseline('SK_ID_CURR')

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 628) (61503, 628)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.768197	valid_1's auc: 0.749952
[200]	training's auc: 0.783017	valid_1's auc: 0.760214
[300]	training's auc: 0.796056	valid_1's auc: 0.768142
[400]	training's auc: 0.806453	valid_1's auc: 0.773562
[500]	training's auc: 0.814891	valid_1's auc: 0.777282
[600]	training's auc: 0.822397	valid_1's auc: 0.779848
[700]	training's auc: 0.829014	valid_1's auc: 0.78188
[800]	training's auc: 0.835008	valid_1's auc: 0.78335
[900]	training's auc: 0.840673	valid_1's auc: 0.784469
[1000]	training's auc: 0.846003	valid_1's auc: 0.785438
[1100]	training's auc: 0.850952	valid_1's auc: 0.786097
[1200]	training's auc: 0.855688	valid_1's auc: 0.786559
[1300]	training's auc: 0.860127	valid_1's auc: 0.786859
[1400]	training's auc: 0.86446	valid_1's auc: 0.787281
[1500]	training's auc: 0.868516	valid_1's auc: 0.78749
[1600]	training's auc: 0.872424	valid_1's auc: 0.787832
[1700]	training's auc: 0.876145	valid_1's auc: 0.788037
[1800]	training's auc: 0.879784	valid_1's auc: 0.788185
[1900]	training's auc: 0.883234	valid_1's auc: 0.788307
[2000]	training's auc: 0.886675	valid_1's auc: 0.78851
[2100]	training's auc: 0.890153	valid_1's auc: 0.788581
[2200]	training's auc: 0.893418	valid_1's auc: 0.788725
[2300]	training's auc: 0.896531	valid_1's auc: 0.788743
[2400]	training's auc: 0.89942	valid_1's auc: 0.788875
[2500]	training's auc: 0.902299	valid_1's auc: 0.788901
[2600]	training's auc: 0.905139	valid_1's auc: 0.788986
[2700]	training's auc: 0.907826	valid_1's auc: 0.789039
[2800]	training's auc: 0.910576	valid_1's auc: 0.789128
[2900]	training's auc: 0.913238	valid_1's auc: 0.789176
[3000]	training's auc: 0.91577	valid_1's auc: 0.78919
[auc] tr:0.914131, va0.7892
-------------------- 1 --------------------
(246009, 628) (61502, 628)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.7679	valid_1's auc: 0.751313
[200]	training's auc: 0.782843	valid_1's auc: 0.762003
[300]	training's auc: 0.795588	valid_1's auc: 0.770894
[400]	training's auc: 0.806079	valid_1's auc: 0.777184
[500]	training's auc: 0.814539	valid_1's auc: 0.781079
[600]	training's auc: 0.821965	valid_1's auc: 0.783804
[700]	training's auc: 0.828644	valid_1's auc: 0.785939
[800]	training's auc: 0.834731	valid_1's auc: 0.787686
[900]	training's auc: 0.84042	valid_1's auc: 0.78905
[1000]	training's auc: 0.84576	valid_1's auc: 0.790036
[1100]	training's auc: 0.850733	valid_1's auc: 0.790776
[1200]	training's auc: 0.855609	valid_1's auc: 0.791559
[1300]	training's auc: 0.860143	valid_1's auc: 0.792156
[1400]	training's auc: 0.864433	valid_1's auc: 0.792646
[1500]	training's auc: 0.868593	valid_1's auc: 0.792986
[1600]	training's auc: 0.872487	valid_1's auc: 0.793223
[1700]	training's auc: 0.876233	valid_1's auc: 0.793476
[1800]	training's auc: 0.879868	valid_1's auc: 0.793703
[1900]	training's auc: 0.883411	valid_1's auc: 0.793875
[2000]	training's auc: 0.886908	valid_1's auc: 0.793927
[2100]	training's auc: 0.890202	valid_1's auc: 0.794082
[2200]	training's auc: 0.893412	valid_1's auc: 0.794226
[2300]	training's auc: 0.896509	valid_1's auc: 0.794332
[2400]	training's auc: 0.899526	valid_1's auc: 0.794403
[2500]	training's auc: 0.90262	valid_1's auc: 0.794456
[2600]	training's auc: 0.905446	valid_1's auc: 0.794478
[2700]	training's auc: 0.908301	valid_1's auc: 0.794588
[2800]	training's auc: 0.910967	valid_1's auc: 0.794653
[2900]	training's auc: 0.913619	valid_1's auc: 0.794692
[3000]	training's auc: 0.916114	valid_1's auc: 0.794762
[3100]	training's auc: 0.918644	valid_1's auc: 0.794755
[auc] tr:0.916163, va0.7948
-------------------- 2 --------------------
(246009, 628) (61502, 628)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.76773	valid_1's auc: 0.757962
[200]	training's auc: 0.782818	valid_1's auc: 0.766445
[300]	training's auc: 0.795255	valid_1's auc: 0.773333
[400]	training's auc: 0.805689	valid_1's auc: 0.778468
[500]	training's auc: 0.814291	valid_1's auc: 0.782097
[600]	training's auc: 0.821767	valid_1's auc: 0.784431
[700]	training's auc: 0.828476	valid_1's auc: 0.786192
[800]	training's auc: 0.834487	valid_1's auc: 0.787364
[900]	training's auc: 0.840158	valid_1's auc: 0.788378
[1000]	training's auc: 0.845492	valid_1's auc: 0.78924
[1100]	training's auc: 0.850387	valid_1's auc: 0.78992
[1200]	training's auc: 0.855032	valid_1's auc: 0.790427
[1300]	training's auc: 0.859459	valid_1's auc: 0.790994
[1400]	training's auc: 0.863773	valid_1's auc: 0.791285
[1500]	training's auc: 0.867953	valid_1's auc: 0.791515
[1600]	training's auc: 0.872007	valid_1's auc: 0.79163
[1700]	training's auc: 0.875924	valid_1's auc: 0.791798
[1800]	training's auc: 0.879778	valid_1's auc: 0.791887
[1900]	training's auc: 0.883452	valid_1's auc: 0.791983
[2000]	training's auc: 0.886934	valid_1's auc: 0.792194
[2100]	training's auc: 0.890408	valid_1's auc: 0.792298
[2200]	training's auc: 0.893628	valid_1's auc: 0.792419
[2300]	training's auc: 0.896829	valid_1's auc: 0.792484
[2400]	training's auc: 0.899859	valid_1's auc: 0.792497
[2500]	training's auc: 0.902813	valid_1's auc: 0.792546
[2600]	training's auc: 0.905731	valid_1's auc: 0.792606
[auc] tr:0.904515, va0.7926
-------------------- 3 --------------------
(246009, 628) (61502, 628)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.768061	valid_1's auc: 0.752405
[200]	training's auc: 0.783133	valid_1's auc: 0.762103
[300]	training's auc: 0.795893	valid_1's auc: 0.770049
[400]	training's auc: 0.806352	valid_1's auc: 0.775677
[500]	training's auc: 0.815162	valid_1's auc: 0.77963
[600]	training's auc: 0.82254	valid_1's auc: 0.782324
[700]	training's auc: 0.82929	valid_1's auc: 0.784376
[800]	training's auc: 0.835511	valid_1's auc: 0.785953
[900]	training's auc: 0.841215	valid_1's auc: 0.787202
[1000]	training's auc: 0.846556	valid_1's auc: 0.788059
[1100]	training's auc: 0.851798	valid_1's auc: 0.788736
[1200]	training's auc: 0.856482	valid_1's auc: 0.789365
[1300]	training's auc: 0.860874	valid_1's auc: 0.789729
[1400]	training's auc: 0.865092	valid_1's auc: 0.79011
[1500]	training's auc: 0.869086	valid_1's auc: 0.790393
[1600]	training's auc: 0.873002	valid_1's auc: 0.790698
[1700]	training's auc: 0.876801	valid_1's auc: 0.790905
[1800]	training's auc: 0.880455	valid_1's auc: 0.79098
[1900]	training's auc: 0.884022	valid_1's auc: 0.791132
[2000]	training's auc: 0.887475	valid_1's auc: 0.791301
[2100]	training's auc: 0.890842	valid_1's auc: 0.791281
[auc] tr:0.887808, va0.7913
-------------------- 4 --------------------
(246009, 628) (61502, 628)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.769459	valid_1's auc: 0.749169
[200]	training's auc: 0.784182	valid_1's auc: 0.758229
[300]	training's auc: 0.796376	valid_1's auc: 0.764979
[400]	training's auc: 0.806834	valid_1's auc: 0.77058
[500]	training's auc: 0.815366	valid_1's auc: 0.774451
[600]	training's auc: 0.822743	valid_1's auc: 0.777298
[700]	training's auc: 0.829502	valid_1's auc: 0.779121
[800]	training's auc: 0.83584	valid_1's auc: 0.780615
[900]	training's auc: 0.841699	valid_1's auc: 0.781681
[1000]	training's auc: 0.847098	valid_1's auc: 0.782538
[1100]	training's auc: 0.852182	valid_1's auc: 0.783253
[1200]	training's auc: 0.856956	valid_1's auc: 0.783948
[1300]	training's auc: 0.861555	valid_1's auc: 0.784448
[1400]	training's auc: 0.865776	valid_1's auc: 0.784845
[1500]	training's auc: 0.869695	valid_1's auc: 0.785161
[1600]	training's auc: 0.873722	valid_1's auc: 0.785425
[1700]	training's auc: 0.877554	valid_1's auc: 0.78554
[1800]	training's auc: 0.881184	valid_1's auc: 0.78572
[1900]	training's auc: 0.884756	valid_1's auc: 0.785881
[2000]	training's auc: 0.888226	valid_1's auc: 0.785946
[2100]	training's auc: 0.891572	valid_1's auc: 0.785966
[2200]	training's auc: 0.894758	valid_1's auc: 0.78606

[2300]	training's auc: 0.897936	valid_1's auc: 0.78609
[2400]	training's auc: 0.900997	valid_1's auc: 0.786111
[2500]	training's auc: 0.903847	valid_1's auc: 0.7863
[2600]	training's auc: 0.906644	valid_1's auc: 0.786343
[2700]	training's auc: 0.909486	valid_1's auc: 0.786418
[2800]	training's auc: 0.912135	valid_1's auc: 0.786428
[auc] tr:0.911148, va0.7865
-------------------- result --------------------
[[0.         0.9141312  0.78923305]
 [1.         0.91616303 0.79478045]
 [2.         0.90451507 0.79263255]
 [3.         0.88780837 0.79130726]
 [4.         0.91114776 0.78646016]]
[cv] tr:0.9068+-0.0103, va:0.7909+-0.0029
[oof]0.7909

In [172]:
imp.sort_values("imp", ascending=False)[:20]

                                      col            imp      imp_std
285                       EXT_SOURCE_mean  363719.918992  5892.906498
435                   NEW_EXT_SOURCES_GEO  129496.859260  5189.145577
437                NEW_EXT_SOURCES_MEDIAN   58386.748389  2862.934092
429           NEW_CREDIT_TO_ANNUITY_RATIO   48087.582596  3964.910998
140                    ANNUITY_div_CREDIT   37660.669162  2402.113036
284                        EXT_SOURCE_max   28801.524707  1862.297933
187            CNT_INSTALMENT_FUTURE_mean   25651.611565   781.000846
0                             AMT_ANNUITY   22759.453500  1709.591045
108                       AMT_PAYMENT_min   22710.329138  2220.053262
238                            DAYS_BIRTH   22201.689936  1452.527291
286                        EXT_SOURCE_min   21741.398437  1996.910605
430             NEW_CREDIT_TO_GOODS_RATIO   21658.083096  1148.923585
623                    credit_downpayment   21430.639198  1930.620809
619  app_EXT_SOURCE_3_times_DAYS_EMPLOYED   21352.683764  2159.718533
617   app_EXT_SOURCE_2_times_EXT_SOURCE_3   21258.407433  1541.687128
625                debt_credit_ratio_None   21250.272646  1124.024406
588                              USER_AGE   20227.804771  1313.209004
247                       DAYS_CREDIT_max   19597.381777  1223.513575
262                       DAYS_ID_PUBLISH   19037.742796  1236.286302
616  app_EXT_SOURCE_2_times_DAYS_EMPLOYED   18007.232885  3509.531076

In [173]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [174]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [175]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering7.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.036222
1      100005  0.135552
2      100013  0.040300
3      100028  0.050022
4      100038  0.147079

### 変数選択001

In [176]:
length = int(len(df_train.columns) * 0.95)
length

598

In [177]:
cols = list(imp.sort_values("imp", ascending=False)['col'][:length])
if 'TARGET' not in cols:
    print('aa')
    
if 'SK_ID_CURR' not in cols:
    print('bb')
    
train_columns = cols.copy()
train_columns.append('SK_ID_CURR')
train_columns.append('TARGET')

test_columns = cols.copy()
test_columns.append('SK_ID_CURR')

aa
bb

In [178]:
df_train = df_train[train_columns]
df_test = df_test[test_columns]
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 702.96 MB
Memory usage of optimization is 737103995.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 111.38 MB
Memory usage of optimization is 116790752.00 MB
Decreased by -104857500.0%

,EXT_SOURCE_mean,NEW_EXT_SOURCES_GEO,NEW_EXT_SOURCES_MEDIAN,NEW_CREDIT_TO_ANNUITY_RATIO,ANNUITY_div_CREDIT,EXT_SOURCE_max,CNT_INSTALMENT_FUTURE_mean,AMT_ANNUITY,AMT_PAYMENT_min,DAYS_BIRTH,...,ORGANIZATION_TYPE_Insurance,NAME_CONTRACT_TYPE_nan,ORGANIZATION_TYPE_Legal_Services,CREDIT_TYPE_Another_type_of_loan_mean,ORGANIZATION_TYPE_Mobile,ORGANIZATION_TYPE_Religion,CREDIT_DAY_OVERDUE_min,CREDIT_CURRENCY_nan_mean,SK_ID_CURR,TARGET
0,-1.963867,-1.798828,-1.984375,-0.696289,0.276123,-1.943359,1.053711,-0.203247,1.005859,1.597656,...,-0.044098,0.0,-0.031494,-0.051483,-0.032135,-0.016632,-0.021866,0.0,100002,1
1,-0.384766,-0.392822,-0.397705,2.062500,-1.100586,-0.103394,-0.263184,0.526367,0.860840,-0.222778,...,-0.044098,0.0,-0.031494,-0.051483,-0.032135,-0.016632,-0.021866,0.0,100003,0
2,0.902832,0.920410,0.830078,-0.307373,-0.183105,0.746582,-1.155273,-1.231445,0.767578,-0.716797,...,-0.044098,0.0,-0.031494,-0.051483,-0.032135,-0.016632,-0.021866,0.0,100004,0
3,0.966309,1.023438,0.890625,-1.231445,1.821289,0.104248,0.237305,0.120605,0.455078,-0.708008,...,-0.044098,0.0,-0.031494,-0.051483,-0.032135,-0.016632,-0.021866,0.0,100006,0
4,-1.225586,-1.027344,-1.198242,0.119629,-0.491211,-1.726562,0.286377,-0.381348,-1.541992,-0.901367,...,-0.044098,0.0,-0.031494,-0.051483,-0.032135,60.125000,-0.021866,0.0,100007,0

In [179]:
### メモリサイズを縮小
df_train = baseline.reduce_mem_usage(df_train)
df_test = baseline.reduce_mem_usage(df_test)
df_train.head()

Memory usage of dataframe is 702.96 MB
Memory usage of optimization is 737103995.00 MB
Decreased by -104857500.0%
Memory usage of dataframe is 111.38 MB
Memory usage of optimization is 116790752.00 MB
Decreased by -104857500.0%

,EXT_SOURCE_mean,NEW_EXT_SOURCES_GEO,NEW_EXT_SOURCES_MEDIAN,NEW_CREDIT_TO_ANNUITY_RATIO,ANNUITY_div_CREDIT,EXT_SOURCE_max,CNT_INSTALMENT_FUTURE_mean,AMT_ANNUITY,AMT_PAYMENT_min,DAYS_BIRTH,...,ORGANIZATION_TYPE_Insurance,NAME_CONTRACT_TYPE_nan,ORGANIZATION_TYPE_Legal_Services,CREDIT_TYPE_Another_type_of_loan_mean,ORGANIZATION_TYPE_Mobile,ORGANIZATION_TYPE_Religion,CREDIT_DAY_OVERDUE_min,CREDIT_CURRENCY_nan_mean,SK_ID_CURR,TARGET
0,-1.963867,-1.798828,-1.984375,-0.696289,0.276123,-1.943359,1.053711,-0.203247,1.005859,1.597656,...,-0.044098,0.0,-0.031494,-0.051483,-0.032135,-0.016632,-0.021866,0.0,100002,1
1,-0.384766,-0.392822,-0.397705,2.062500,-1.100586,-0.103394,-0.263184,0.526367,0.860840,-0.222778,...,-0.044098,0.0,-0.031494,-0.051483,-0.032135,-0.016632,-0.021866,0.0,100003,0
2,0.902832,0.920410,0.830078,-0.307373,-0.183105,0.746582,-1.155273,-1.231445,0.767578,-0.716797,...,-0.044098,0.0,-0.031494,-0.051483,-0.032135,-0.016632,-0.021866,0.0,100004,0
3,0.966309,1.023438,0.890625,-1.231445,1.821289,0.104248,0.237305,0.120605,0.455078,-0.708008,...,-0.044098,0.0,-0.031494,-0.051483,-0.032135,-0.016632,-0.021866,0.0,100006,0
4,-1.225586,-1.027344,-1.198242,0.119629,-0.491211,-1.726562,0.286377,-0.381348,-1.541992,-0.901367,...,-0.044098,0.0,-0.031494,-0.051483,-0.032135,60.125000,-0.021866,0.0,100007,0

In [180]:
x_train = df_train.drop(columns=['TARGET', 'SK_ID_CURR'])
y_train = df_train['TARGET']
id_train = df_train[['SK_ID_CURR']]

for col in x_train.columns:
    if x_train[col].dtype=="O":
        x_train[col] = x_train[col].astype('category')

In [181]:
baseline = Baseline('SK_ID_CURR')

train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,params
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5)

-------------------- 0 --------------------
(246008, 598) (61503, 598)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.768274	valid_1's auc: 0.749998
[200]	training's auc: 0.783121	valid_1's auc: 0.760233
[300]	training's auc: 0.796175	valid_1's auc: 0.768208
[400]	training's auc: 0.806616	valid_1's auc: 0.773701
[500]	training's auc: 0.815007	valid_1's auc: 0.777299
[600]	training's auc: 0.822338	valid_1's auc: 0.779895
[700]	training's auc: 0.828832	valid_1's auc: 0.781862
[800]	training's auc: 0.83486	valid_1's auc: 0.783311
[900]	training's auc: 0.840581	valid_1's auc: 0.784464
[1000]	training's auc: 0.84595	valid_1's auc: 0.785499
[1100]	training's auc: 0.850817	valid_1's auc: 0.786128
[1200]	training's auc: 0.855509	valid_1's auc: 0.786684
[1300]	training's auc: 0.859998	valid_1's auc: 0.786979
[1400]	training's auc: 0.864264	valid_1's auc: 0.787399
[1500]	training's auc: 0.868304	valid_1's auc: 0.787781
[1600]	training's auc: 0.872287	valid_1's auc: 0.787933
[1700]	training's auc: 0.876052	valid_1's auc: 0.788195
[1800]	training's auc: 0.87962	valid_1's auc: 0.788285
[1900]	training's auc: 0.883144	valid_1's auc: 0.788375
[2000]	training's auc: 0.886526	valid_1's auc: 0.788473
[2100]	training's auc: 0.889783	valid_1's auc: 0.788457
[2200]	training's auc: 0.892873	valid_1's auc: 0.788507
[2300]	training's auc: 0.895997	valid_1's auc: 0.788633
[2400]	training's auc: 0.899025	valid_1's auc: 0.788753
[2500]	training's auc: 0.901866	valid_1's auc: 0.788797
[2600]	training's auc: 0.904793	valid_1's auc: 0.788879
[2700]	training's auc: 0.907413	valid_1's auc: 0.788912
[2800]	training's auc: 0.910064	valid_1's auc: 0.788942
[2900]	training's auc: 0.912787	valid_1's auc: 0.789039
[3000]	training's auc: 0.915342	valid_1's auc: 0.789154
[3100]	training's auc: 0.917826	valid_1's auc: 0.78921
[3200]	training's auc: 0.920277	valid_1's auc: 0.789219
[3300]	training's auc: 0.922918	valid_1's auc: 0.789224
[auc] tr:0.920982, va0.7893
-------------------- 1 --------------------
(246009, 598) (61502, 598)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.768003	valid_1's auc: 0.751648
[200]	training's auc: 0.782733	valid_1's auc: 0.762053
[300]	training's auc: 0.795505	valid_1's auc: 0.77111
[400]	training's auc: 0.805878	valid_1's auc: 0.777256
[500]	training's auc: 0.814459	valid_1's auc: 0.781221
[600]	training's auc: 0.821931	valid_1's auc: 0.784155
[700]	training's auc: 0.828626	valid_1's auc: 0.786313
[800]	training's auc: 0.834765	valid_1's auc: 0.78795
[900]	training's auc: 0.840451	valid_1's auc: 0.789173
[1000]	training's auc: 0.84577	valid_1's auc: 0.790209
[1100]	training's auc: 0.850678	valid_1's auc: 0.791011
[1200]	training's auc: 0.855431	valid_1's auc: 0.791578
[1300]	training's auc: 0.86008	valid_1's auc: 0.79212
[1400]	training's auc: 0.864263	valid_1's auc: 0.792559
[1500]	training's auc: 0.86834	valid_1's auc: 0.792733
[1600]	training's auc: 0.872238	valid_1's auc: 0.793018
[1700]	training's auc: 0.875909	valid_1's auc: 0.793126
[1800]	training's auc: 0.879509	valid_1's auc: 0.793357
[1900]	training's auc: 0.883136	valid_1's auc: 0.79357
[2000]	training's auc: 0.886475	valid_1's auc: 0.793723
[2100]	training's auc: 0.889908	valid_1's auc: 0.793788
[2200]	training's auc: 0.893196	valid_1's auc: 0.79386
[2300]	training's auc: 0.896351	valid_1's auc: 0.794014
[2400]	training's auc: 0.899419	valid_1's auc: 0.794111
[2500]	training's auc: 0.902376	valid_1's auc: 0.794161
[auc] tr:0.901540, va0.7942
-------------------- 2 --------------------
(246009, 598) (61502, 598)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.767912	valid_1's auc: 0.758501
[200]	training's auc: 0.78301	valid_1's auc: 0.766733
[300]	training's auc: 0.795533	valid_1's auc: 0.773613
[400]	training's auc: 0.806012	valid_1's auc: 0.778941
[500]	training's auc: 0.814651	valid_1's auc: 0.782469
[600]	training's auc: 0.822016	valid_1's auc: 0.784868
[700]	training's auc: 0.828732	valid_1's auc: 0.78655
[800]	training's auc: 0.834738	valid_1's auc: 0.787812
[900]	training's auc: 0.840524	valid_1's auc: 0.788797
[1000]	training's auc: 0.845856	valid_1's auc: 0.789457
[1100]	training's auc: 0.850757	valid_1's auc: 0.790119
[1200]	training's auc: 0.85546	valid_1's auc: 0.790651
[1300]	training's auc: 0.859913	valid_1's auc: 0.791203
[1400]	training's auc: 0.864193	valid_1's auc: 0.791492
[1500]	training's auc: 0.868331	valid_1's auc: 0.791705
[1600]	training's auc: 0.872366	valid_1's auc: 0.791882
[1700]	training's auc: 0.876186	valid_1's auc: 0.792108
[1800]	training's auc: 0.879959	valid_1's auc: 0.792239
[1900]	training's auc: 0.883536	valid_1's auc: 0.792316
[2000]	training's auc: 0.887093	valid_1's auc: 0.792556
[2100]	training's auc: 0.890464	valid_1's auc: 0.792677
[2200]	training's auc: 0.893656	valid_1's auc: 0.792809
[2300]	training's auc: 0.896658	valid_1's auc: 0.792944
[2400]	training's auc: 0.899892	valid_1's auc: 0.792971
[2500]	training's auc: 0.902814	valid_1's auc: 0.793033
[2600]	training's auc: 0.905631	valid_1's auc: 0.793074
[2700]	training's auc: 0.908304	valid_1's auc: 0.793154
[2800]	training's auc: 0.910998	valid_1's auc: 0.793131
[auc] tr:0.908364, va0.7932
-------------------- 3 --------------------
(246009, 598) (61502, 598)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.768184	valid_1's auc: 0.752529
[200]	training's auc: 0.783177	valid_1's auc: 0.762279
[300]	training's auc: 0.795833	valid_1's auc: 0.770169
[400]	training's auc: 0.806348	valid_1's auc: 0.775898
[500]	training's auc: 0.814939	valid_1's auc: 0.779758
[600]	training's auc: 0.822371	valid_1's auc: 0.782378
[700]	training's auc: 0.829037	valid_1's auc: 0.784451
[800]	training's auc: 0.83523	valid_1's auc: 0.785921
[900]	training's auc: 0.841024	valid_1's auc: 0.787089
[1000]	training's auc: 0.846377	valid_1's auc: 0.788037
[1100]	training's auc: 0.851522	valid_1's auc: 0.788844
[1200]	training's auc: 0.856247	valid_1's auc: 0.789386
[1300]	training's auc: 0.860887	valid_1's auc: 0.789779
[1400]	training's auc: 0.865154	valid_1's auc: 0.79009
[1500]	training's auc: 0.869277	valid_1's auc: 0.790382
[1600]	training's auc: 0.873181	valid_1's auc: 0.790685
[1700]	training's auc: 0.876922	valid_1's auc: 0.790827
[1800]	training's auc: 0.880614	valid_1's auc: 0.790993
[1900]	training's auc: 0.884272	valid_1's auc: 0.791195
[2000]	training's auc: 0.887711	valid_1's auc: 0.791345
[2100]	training's auc: 0.89111	valid_1's auc: 0.79142
[2200]	training's auc: 0.894359	valid_1's auc: 0.79152
[2300]	training's auc: 0.897393	valid_1's auc: 0.791655
[2400]	training's auc: 0.900423	valid_1's auc: 0.791636
[auc] tr:0.897801, va0.7917
-------------------- 4 --------------------
(246009, 598) (61502, 598)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[100]	training's auc: 0.76965	valid_1's auc: 0.749237
[200]	training's auc: 0.784059	valid_1's auc: 0.758216
[300]	training's auc: 0.796336	valid_1's auc: 0.7649
[400]	training's auc: 0.806683	valid_1's auc: 0.770611
[500]	training's auc: 0.815169	valid_1's auc: 0.774425
[600]	training's auc: 0.822482	valid_1's auc: 0.777118
[700]	training's auc: 0.829297	valid_1's auc: 0.778989
[800]	training's auc: 0.835598	valid_1's auc: 0.780484
[900]	training's auc: 0.841458	valid_1's auc: 0.781636
[1000]	training's auc: 0.846925	valid_1's auc: 0.782646
[1100]	training's auc: 0.851879	valid_1's auc: 0.783427
[1200]	training's auc: 0.85666	valid_1's auc: 0.783987
[1300]	training's auc: 0.861129	valid_1's auc: 0.784473
[1400]	training's auc: 0.865409	valid_1's auc: 0.784771
[1500]	training's auc: 0.869401	valid_1's auc: 0.785077
[1600]	training's auc: 0.87325	valid_1's auc: 0.785245
[1700]	training's auc: 0.877005	valid_1's auc: 0.785484
[1800]	training's auc: 0.880702	valid_1's auc: 0.785651
[1900]	training's auc: 0.884371	valid_1's auc: 0.785787
[2000]	training's auc: 0.887924	valid_1's auc: 0.785986

[2100]	training's auc: 0.891277	valid_1's auc: 0.786066
[2200]	training's auc: 0.894543	valid_1's auc: 0.78607
[2300]	training's auc: 0.897777	valid_1's auc: 0.786214
[2400]	training's auc: 0.900765	valid_1's auc: 0.786248
[auc] tr:0.899278, va0.7863
-------------------- result --------------------
[[0.         0.92098209 0.78926209]
 [1.         0.90153978 0.79419354]
 [2.         0.90836401 0.79317326]
 [3.         0.89780134 0.79168451]
 [4.         0.89927777 0.7862955 ]]
[cv] tr:0.9056+-0.0085, va:0.7909+-0.0028
[oof]0.7909

In [182]:
imp.sort_values("imp", ascending=False)[:20]

                                      col            imp      imp_std
277                       EXT_SOURCE_mean  298059.260837  5755.134637
426                   NEW_EXT_SOURCES_GEO  172221.202667  5516.139021
428                NEW_EXT_SOURCES_MEDIAN   68636.302515  1483.766735
420           NEW_CREDIT_TO_ANNUITY_RATIO   50348.811556  3038.679629
276                        EXT_SOURCE_max   40707.577385  2812.194605
140                    ANNUITY_div_CREDIT   35296.410475  1469.610771
187            CNT_INSTALMENT_FUTURE_mean   25700.266422  1226.824082
0                             AMT_ANNUITY   23019.393967  2054.084096
278                        EXT_SOURCE_min   22868.449735  2614.759089
108                       AMT_PAYMENT_min   22246.647939  1227.834249
593                    credit_downpayment   21745.031690  1027.906937
230                            DAYS_BIRTH   21624.947441   791.616917
595                debt_credit_ratio_None   21302.286434  1244.018419
421             NEW_CREDIT_TO_GOODS_RATIO   21172.178785  1215.968738
558                              USER_AGE   20749.760840   987.540743
589  app_EXT_SOURCE_3_times_DAYS_EMPLOYED   19980.747348  1869.591337
239                       DAYS_CREDIT_max   19694.010860  1170.615216
587   app_EXT_SOURCE_2_times_EXT_SOURCE_3   18657.133617  1708.377696
586  app_EXT_SOURCE_2_times_DAYS_EMPLOYED   18360.838802  2635.542932
254                       DAYS_ID_PUBLISH   18345.007346  1041.086033

In [183]:
# データセット作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

In [184]:
test_pred = baseline.predict_lgb(x_test
                                ,id_test
                                ,list_nfold=[0,1,2,3,4])

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.

In [185]:
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submission_featureEngineering8.csv" # 出力先
    ,index=None                                        # indexの出力有無
)

(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.036470
1      100005  0.133856
2      100013  0.038518
3      100028  0.054370
4      100038  0.146074

## パラメータ・チューニング

In [186]:
baseline = Baseline('SK_ID_CURR')

sampler = optuna.samplers.TPESampler(seed=123)
study = optuna.create_study(sampler=sampler, direction='maximize')
study.optimize(objective, n_trials=50, n_jobs=5)

[I 2022-06-29 00:30:11,383] A new study created in memory with name: no-name-790d0528-4d76-4b92-b857-0671f7ab03dd
[I 2022-06-29 00:49:43,727] Trial 0 finished with value: 0.789262090995524 and parameters: {'num_leaves': 153, 'min_child_samples': 60, 'min_sum_hessian_in_leaf': 0.0006650872452558587, 'feature_fraction': 0.8382013426865338, 'bagging_fraction': 0.7111857053220034, 'lambda_l1': 0.04783548481564155, 'lambda_l2': 83.41839564147887}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 00:49:57,972] Trial 4 finished with value: 0.789262090995524 and parameters: {'num_leaves': 179, 'min_child_samples': 132, 'min_sum_hessian_in_leaf': 0.00010447550132245846, 'feature_fraction': 0.8173798892605688, 'bagging_fraction': 0.9795640877240517, 'lambda_l1': 0.15639356432720944, 'lambda_l2': 83.07085203603161}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 00:50:32,710] Trial 2 finished with value: 0.789262090995524 and parameters: {'num_leaves': 249, 'min_child_samples': 191, 'min_sum_hessian_in_leaf': 0.0001465867982054289, 'feature_fraction': 0.5861232966691793, 'bagging_fraction': 0.9011461374545624, 'lambda_l1': 43.35296755357363, 'lambda_l2': 4.425904545760795}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 00:50:33,965] Trial 3 finished with value: 0.789262090995524 and parameters: {'num_leaves': 204, 'min_child_samples': 87, 'min_sum_hessian_in_leaf': 0.0007791130939344127, 'feature_fraction': 0.7410861771717226, 'bagging_fraction': 0.5575558283285227, 'lambda_l1': 0.026400166241565028, 'lambda_l2': 0.10453310750502193}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 00:50:57,409] Trial 1 finished with value: 0.789262090995524 and parameters: {'num_leaves': 121, 'min_child_samples': 6, 'min_sum_hessian_in_leaf': 8.983443900371617e-05, 'feature_fraction': 0.9991140547590251, 'bagging_fraction': 0.5455703486138095, 'lambda_l1': 5.075080527107835, 'lambda_l2': 0.055103498858213244}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:08:16,023] Trial 5 finished with value: 0.789262090995524 and parameters: {'num_leaves': 193, 'min_child_samples': 29, 'min_sum_hessian_in_leaf': 0.00015890738543497022, 'feature_fraction': 0.8448360675401627, 'bagging_fraction': 0.8425564133063601, 'lambda_l1': 0.013480048544599138, 'lambda_l2': 11.69645672742209}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:08:38,835] Trial 7 finished with value: 0.789262090995524 and parameters: {'num_leaves': 189, 'min_child_samples': 18, 'min_sum_hessian_in_leaf': 1.5262708846591715e-05, 'feature_fraction': 0.5261578191618663, 'bagging_fraction': 0.8697134525459165, 'lambda_l1': 0.03540181976906225, 'lambda_l2': 1.33185802796374}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:08:48,736] Trial 6 finished with value: 0.789262090995524 and parameters: {'num_leaves': 225, 'min_child_samples': 23, 'min_sum_hessian_in_leaf': 0.0010782585573968005, 'feature_fraction': 0.7251591565356013, 'bagging_fraction': 0.5488673064042325, 'lambda_l1': 95.9071547591694, 'lambda_l2': 0.06752191689012046}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:09:14,293] Trial 8 finished with value: 0.789262090995524 and parameters: {'num_leaves': 118, 'min_child_samples': 41, 'min_sum_hessian_in_leaf': 0.0002977617296191784, 'feature_fraction': 0.6221335035727875, 'bagging_fraction': 0.5284253091127915, 'lambda_l1': 0.6606269380185327, 'lambda_l2': 0.14317216311227043}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:09:19,947] Trial 9 finished with value: 0.789262090995524 and parameters: {'num_leaves': 240, 'min_child_samples': 137, 'min_sum_hessian_in_leaf': 0.0001599283148241564, 'feature_fraction': 0.9568743467616363, 'bagging_fraction': 0.6829673589383247, 'lambda_l1': 0.01632066462724979, 'lambda_l2': 1.9387186633108995}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:25:06,076] Trial 10 finished with value: 0.789262090995524 and parameters: {'num_leaves': 185, 'min_child_samples': 99, 'min_sum_hessian_in_leaf': 2.7503991896053504e-05, 'feature_fraction': 0.516006700199235, 'bagging_fraction': 0.8730860317929515, 'lambda_l1': 1.837791645015632, 'lambda_l2': 6.011069140568328}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:25:24,172] Trial 11 finished with value: 0.789262090995524 and parameters: {'num_leaves': 182, 'min_child_samples': 42, 'min_sum_hessian_in_leaf': 0.0005876999573881463, 'feature_fraction': 0.6332990392464498, 'bagging_fraction': 0.6897685169611236, 'lambda_l1': 16.71371283694481, 'lambda_l2': 0.669167869324082}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:25:43,774] Trial 12 finished with value: 0.789262090995524 and parameters: {'num_leaves': 190, 'min_child_samples': 40, 'min_sum_hessian_in_leaf': 1.3792947898682516e-05, 'feature_fraction': 0.5007997764147858, 'bagging_fraction': 0.9731773174468685, 'lambda_l1': 0.14505303546679585, 'lambda_l2': 21.22706186574629}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:25:54,886] Trial 14 finished with value: 0.789262090995524 and parameters: {'num_leaves': 37, 'min_child_samples': 77, 'min_sum_hessian_in_leaf': 0.009661563811767556, 'feature_fraction': 0.8615307080303058, 'bagging_fraction': 0.7208989733120853, 'lambda_l1': 0.35825242157653614, 'lambda_l2': 83.2678927406988}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:26:03,684] Trial 13 finished with value: 0.789262090995524 and parameters: {'num_leaves': 184, 'min_child_samples': 197, 'min_sum_hessian_in_leaf': 0.00229884537065923, 'feature_fraction': 0.7290462660512502, 'bagging_fraction': 0.5349330653336153, 'lambda_l1': 7.4893674644325605, 'lambda_l2': 43.88137661037369}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:41:53,099] Trial 15 finished with value: 0.789262090995524 and parameters: {'num_leaves': 58, 'min_child_samples': 61, 'min_sum_hessian_in_leaf': 0.0040565436500999315, 'feature_fraction': 0.9750954834324731, 'bagging_fraction': 0.6836357697651806, 'lambda_l1': 6.992502924757977, 'lambda_l2': 0.012172398054210028}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:42:09,320] Trial 16 finished with value: 0.789262090995524 and parameters: {'num_leaves': 61, 'min_child_samples': 72, 'min_sum_hessian_in_leaf': 0.0081323026877773, 'feature_fraction': 0.9794629691292503, 'bagging_fraction': 0.6387072092345059, 'lambda_l1': 4.608362543936519, 'lambda_l2': 55.353909141169595}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:42:26,946] Trial 18 finished with value: 0.789262090995524 and parameters: {'num_leaves': 118, 'min_child_samples': 67, 'min_sum_hessian_in_leaf': 0.003136600033186477, 'feature_fraction': 0.9639207869579446, 'bagging_fraction': 0.6245852182631382, 'lambda_l1': 3.7184898575028353, 'lambda_l2': 0.012671304992058442}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:42:37,036] Trial 17 finished with value: 0.789262090995524 and parameters: {'num_leaves': 56, 'min_child_samples': 70, 'min_sum_hessian_in_leaf': 0.004039489574829395, 'feature_fraction': 0.998713509881631, 'bagging_fraction': 0.6373857207918705, 'lambda_l1': 3.490844692277477, 'lambda_l2': 0.012393361633587095}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:42:48,748] Trial 19 finished with value: 0.789262090995524 and parameters: {'num_leaves': 118, 'min_child_samples': 67, 'min_sum_hessian_in_leaf': 4.992003301169392e-05, 'feature_fraction': 0.9977557886341188, 'bagging_fraction': 0.6261754701116998, 'lambda_l1': 2.61588312948487, 'lambda_l2': 0.013565999197065505}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:58:37,978] Trial 20 finished with value: 0.789262090995524 and parameters: {'num_leaves': 124, 'min_child_samples': 8, 'min_sum_hessian_in_leaf': 5.051737157973437e-05, 'feature_fraction': 0.9143826675771596, 'bagging_fraction': 0.6218791479397937, 'lambda_l1': 1.7259074029598869, 'lambda_l2': 0.015806773265533525}. Best is trial 0 with value: 0.789262090995524.

[I 2022-06-29 01:58:53,090] Trial 21 finished with value: 0.789262090995524 and parameters: {'num_leaves': 30, 'min_child_samples': 128, 'min_sum_hessian_in_leaf': 0.008823477575346428, 'feature_fraction': 0.8869988045256659, 'bagging_fraction': 0.7841671732246611, 'lambda_l1': 0.14928162908169837, 'lambda_l2': 18.81201829732441}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:59:03,684] Trial 22 finished with value: 0.789262090995524 and parameters: {'num_leaves': 87, 'min_child_samples': 124, 'min_sum_hessian_in_leaf': 0.002929352443636569, 'feature_fraction': 0.918019697750742, 'bagging_fraction': 0.7840650780739538, 'lambda_l1': 0.07127459516347671, 'lambda_l2': 0.3993505399140104}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:59:25,398] Trial 23 finished with value: 0.789262090995524 and parameters: {'num_leaves': 90, 'min_child_samples': 128, 'min_sum_hessian_in_leaf': 4.3534647768397515e-05, 'feature_fraction': 0.886900486036355, 'bagging_fraction': 0.7782659198543835, 'lambda_l1': 0.12090577149379302, 'lambda_l2': 20.22696327403706}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 01:59:30,913] Trial 24 finished with value: 0.789262090995524 and parameters: {'num_leaves': 151, 'min_child_samples': 128, 'min_sum_hessian_in_leaf': 0.0012629289437436362, 'feature_fraction': 0.8997276919971198, 'bagging_fraction': 0.7918569475541463, 'lambda_l1': 0.07639591901321997, 'lambda_l2': 0.3236321611349128}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:15:21,710] Trial 25 finished with value: 0.789262090995524 and parameters: {'num_leaves': 86, 'min_child_samples': 122, 'min_sum_hessian_in_leaf': 0.0020585952978433826, 'feature_fraction': 0.9087699602584839, 'bagging_fraction': 0.7989391125151379, 'lambda_l1': 0.752630730799261, 'lambda_l2': 0.4561453690423024}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:15:34,931] Trial 26 finished with value: 0.789262090995524 and parameters: {'num_leaves': 151, 'min_child_samples': 55, 'min_sum_hessian_in_leaf': 0.0015052765941508046, 'feature_fraction': 0.8011527547101951, 'bagging_fraction': 0.7743417075044381, 'lambda_l1': 0.6400109725222529, 'lambda_l2': 0.2949885437894259}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:15:43,136] Trial 27 finished with value: 0.789262090995524 and parameters: {'num_leaves': 149, 'min_child_samples': 51, 'min_sum_hessian_in_leaf': 4.737637514782132e-05, 'feature_fraction': 0.8019056729780658, 'bagging_fraction': 0.5889221039627937, 'lambda_l1': 1.0241219274274953, 'lambda_l2': 0.03943233924943221}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:16:09,303] Trial 29 finished with value: 0.789262090995524 and parameters: {'num_leaves': 9, 'min_child_samples': 153, 'min_sum_hessian_in_leaf': 0.00221986340493425, 'feature_fraction': 0.7920077781314395, 'bagging_fraction': 0.8027356485447334, 'lambda_l1': 0.05799989895687197, 'lambda_l2': 3.3141851918607617}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:16:21,702] Trial 28 finished with value: 0.789262090995524 and parameters: {'num_leaves': 154, 'min_child_samples': 165, 'min_sum_hessian_in_leaf': 0.000475845529693659, 'feature_fraction': 0.7951195371945392, 'bagging_fraction': 0.7456276778486042, 'lambda_l1': 0.37803301024247277, 'lambda_l2': 4.06107796363651}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:32:03,384] Trial 30 finished with value: 0.789262090995524 and parameters: {'num_leaves': 87, 'min_child_samples': 160, 'min_sum_hessian_in_leaf': 0.0003883151686608827, 'feature_fraction': 0.8113255023223722, 'bagging_fraction': 0.7514041939120538, 'lambda_l1': 0.055475399586011366, 'lambda_l2': 2.3654691352408843}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:32:16,588] Trial 31 finished with value: 0.789262090995524 and parameters: {'num_leaves': 146, 'min_child_samples': 156, 'min_sum_hessian_in_leaf': 0.00040665940577598575, 'feature_fraction': 0.777960327101394, 'bagging_fraction': 0.7349733627164203, 'lambda_l1': 0.06212252966743363, 'lambda_l2': 4.529899671875975}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:32:22,323] Trial 32 finished with value: 0.789262090995524 and parameters: {'num_leaves': 150, 'min_child_samples': 153, 'min_sum_hessian_in_leaf': 0.00030862606204863993, 'feature_fraction': 0.7830547446192953, 'bagging_fraction': 0.8241671550428301, 'lambda_l1': 0.050748769399907606, 'lambda_l2': 2.334460288027314}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:32:51,177] Trial 33 finished with value: 0.789262090995524 and parameters: {'num_leaves': 155, 'min_child_samples': 95, 'min_sum_hessian_in_leaf': 0.0003319961400164433, 'feature_fraction': 0.6892286167648888, 'bagging_fraction': 0.7324937016409113, 'lambda_l1': 0.4595306766567841, 'lambda_l2': 0.24184325261600542}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:33:24,709] Trial 34 finished with value: 0.789262090995524 and parameters: {'num_leaves': 148, 'min_child_samples': 54, 'min_sum_hessian_in_leaf': 0.0003340169502333784, 'feature_fraction': 0.6805307888297623, 'bagging_fraction': 0.5750225380474636, 'lambda_l1': 0.2771694913341836, 'lambda_l2': 0.040285897640416936}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:50:10,467] Trial 35 finished with value: 0.789262090995524 and parameters: {'num_leaves': 149, 'min_child_samples': 52, 'min_sum_hessian_in_leaf': 0.0003062164189733135, 'feature_fraction': 0.7785341664096058, 'bagging_fraction': 0.5836758066643233, 'lambda_l1': 0.35877114565319823, 'lambda_l2': 0.02961615021043425}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:50:38,577] Trial 36 finished with value: 0.789262090995524 and parameters: {'num_leaves': 160, 'min_child_samples': 181, 'min_sum_hessian_in_leaf': 0.00022940464327294172, 'feature_fraction': 0.6846920464558066, 'bagging_fraction': 0.5889379029430969, 'lambda_l1': 0.3353315135157689, 'lambda_l2': 0.030415178290574833}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:50:46,881] Trial 37 finished with value: 0.789262090995524 and parameters: {'num_leaves': 8, 'min_child_samples': 178, 'min_sum_hessian_in_leaf': 0.000585458949369988, 'feature_fraction': 0.6951771222508248, 'bagging_fraction': 0.7182237048695277, 'lambda_l1': 0.28855225293661063, 'lambda_l2': 9.000007672041685}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:51:08,773] Trial 38 finished with value: 0.789262090995524 and parameters: {'num_leaves': 14, 'min_child_samples': 182, 'min_sum_hessian_in_leaf': 0.000797892671523423, 'feature_fraction': 0.8444281845146053, 'bagging_fraction': 0.7080482977460252, 'lambda_l1': 0.026288907744266635, 'lambda_l2': 7.560901989681853}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 02:51:53,659] Trial 39 finished with value: 0.789262090995524 and parameters: {'num_leaves': 109, 'min_child_samples': 6, 'min_sum_hessian_in_leaf': 7.129617157967487e-05, 'feature_fraction': 0.9368807776566281, 'bagging_fraction': 0.6133056411342968, 'lambda_l1': 1.5490744587587495, 'lambda_l2': 0.02316333047463443}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 03:06:51,554] Trial 40 finished with value: 0.789262090995524 and parameters: {'num_leaves': 100, 'min_child_samples': 115, 'min_sum_hessian_in_leaf': 0.005210192511274881, 'feature_fraction': 0.9206771252404472, 'bagging_fraction': 0.6985051207527085, 'lambda_l1': 0.02839857401586091, 'lambda_l2': 9.447449412367233}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 03:07:18,870] Trial 42 finished with value: 0.789262090995524 and parameters: {'num_leaves': 88, 'min_child_samples': 115, 'min_sum_hessian_in_leaf': 0.00579288302663737, 'feature_fraction': 0.8631340465075176, 'bagging_fraction': 0.9014698984991295, 'lambda_l1': 0.11856931545553803, 'lambda_l2': 20.35188387543888}. Best is trial 0 with value: 0.789262090995524.

[I 2022-06-29 03:07:20,445] Trial 41 finished with value: 0.789262090995524 and parameters: {'num_leaves': 8, 'min_child_samples': 7, 'min_sum_hessian_in_leaf': 0.005856566760444814, 'feature_fraction': 0.93346973275941, 'bagging_fraction': 0.6982484823268215, 'lambda_l1': 0.020477692333448594, 'lambda_l2': 12.149413297699521}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 03:07:55,664] Trial 43 finished with value: 0.789262090995524 and parameters: {'num_leaves': 98, 'min_child_samples': 113, 'min_sum_hessian_in_leaf': 0.00657838287295069, 'feature_fraction': 0.8732187309779104, 'bagging_fraction': 0.8398411135040066, 'lambda_l1': 0.12198944407545113, 'lambda_l2': 19.908016119116873}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 03:09:02,351] Trial 44 finished with value: 0.789262090995524 and parameters: {'num_leaves': 96, 'min_child_samples': 114, 'min_sum_hessian_in_leaf': 0.001198442575171534, 'feature_fraction': 0.8721177172657749, 'bagging_fraction': 0.9405958320682688, 'lambda_l1': 0.09920305303945783, 'lambda_l2': 0.11875157043162655}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 03:26:51,206] Trial 46 finished with value: 0.789262090995524 and parameters: {'num_leaves': 169, 'min_child_samples': 139, 'min_sum_hessian_in_leaf': 0.0013701641253590715, 'feature_fraction': 0.8860320718997391, 'bagging_fraction': 0.7677484046279403, 'lambda_l1': 0.08594360253116756, 'lambda_l2': 0.7765865781980336}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 03:26:57,917] Trial 47 finished with value: 0.789262090995524 and parameters: {'num_leaves': 169, 'min_child_samples': 139, 'min_sum_hessian_in_leaf': 0.0013523356611262415, 'feature_fraction': 0.8791821370192965, 'bagging_fraction': 0.7662502746060712, 'lambda_l1': 0.7395705233008156, 'lambda_l2': 0.7898337640087522}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 03:27:15,966] Trial 45 finished with value: 0.789262090995524 and parameters: {'num_leaves': 81, 'min_child_samples': 112, 'min_sum_hessian_in_leaf': 0.0013573903860763915, 'feature_fraction': 0.8913734859495515, 'bagging_fraction': 0.840270674543518, 'lambda_l1': 0.08983667072985364, 'lambda_l2': 0.7091090724768827}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 03:27:37,510] Trial 48 finished with value: 0.789262090995524 and parameters: {'num_leaves': 133, 'min_child_samples': 92, 'min_sum_hessian_in_leaf': 0.0015307776960925366, 'feature_fraction': 0.8305009082210295, 'bagging_fraction': 0.5141109535943689, 'lambda_l1': 0.774259702056192, 'lambda_l2': 0.11187975311439176}. Best is trial 0 with value: 0.789262090995524.
[I 2022-06-29 03:27:54,650] Trial 49 finished with value: 0.789262090995524 and parameters: {'num_leaves': 169, 'min_child_samples': 84, 'min_sum_hessian_in_leaf': 0.00148034954067043, 'feature_fraction': 0.7510103148242596, 'bagging_fraction': 0.6635964154212741, 'lambda_l1': 0.8568015466160791, 'lambda_l2': 0.7628823391196541}. Best is trial 0 with value: 0.789262090995524.

In [187]:
trial = study.best_trial
print("auc(best)={:.4f}".format(trial.value))
display(trial.params)

auc(best)=0.7893

{'num_leaves': 153,
 'min_child_samples': 60,
 'min_sum_hessian_in_leaf': 0.0006650872452558587,
 'feature_fraction': 0.8382013426865338,
 'bagging_fraction': 0.7111857053220034,
 'lambda_l1': 0.04783548481564155,
 'lambda_l2': 83.41839564147887}

In [188]:
params_best = trial.params
params_best.update(params_base)
display(params_best)

{'num_leaves': 153,
 'min_child_samples': 165,
 'min_sum_hessian_in_leaf': 0.0006650872452558587,
 'feature_fraction': 0.8382013426865338,
 'bagging_fraction': 0.7111857053220034,
 'lambda_l1': 0.04783548481564155,
 'lambda_l2': 83.41839564147887,
 'boosting_type': 'gbdt',
 'objective': 'binary',
 'metric': 'auc',
 'nthread': -1,
 'n_estimators': 5000,
 'learning_rate': 0.01,
 'max_depth': 11,
 'colsample_bytree': 0.613,
 'subsample': 0.708,
 'max_bin': 407,
 'reg_alpha': 3.564,
 'reg_lambda': 4.93,
 'silent': -1,
 'verbose': -1,
 'importance_type': 'gain'}

In [189]:
train_oof, imp, metrics = baseline.train_lgb(x_train
                                    ,y_train
                                    ,id_train
                                    ,list_nfold=[0,1,2,3,4]
                                    ,n_splits=5
                                    ,params=params_best)

-------------------- 0 --------------------
(246008, 598) (61503, 598)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[LightGBM] [Warning] feature_fraction is set=0.8382013426865338, colsample_bytree=0.613 will be ignored. Current value: feature_fraction=0.8382013426865338
[LightGBM] [Warning] lambda_l1 is set=0.04783548481564155, reg_alpha=3.564 will be ignored. Current value: lambda_l1=0.04783548481564155
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.0006650872452558587, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.0006650872452558587
[LightGBM] [Warning] bagging_fraction is set=0.7111857053220034, subsample=0.708 will be ignored. Current value: bagging_fraction=0.7111857053220034
[LightGBM] [Warning] lambda_l2 is set=83.41839564147887, reg_lambda=4.93 will be ignored. Current value: lambda_l2=83.41839564147887
[100]	training's auc: 0.780915	valid_1's auc: 0.751715
[200]	training's auc: 0.797417	valid_1's auc: 0.7609
[300]	training's auc: 0.812352	valid_1's auc: 0.768344
[400]	training's auc: 0.824353	valid_1's auc: 0.773439
[500]	training's auc: 0.834285	valid_1's auc: 0.776711
[600]	training's auc: 0.843014	valid_1's auc: 0.778931
[700]	training's auc: 0.850628	valid_1's auc: 0.780507
[800]	training's auc: 0.85683	valid_1's auc: 0.781854
[900]	training's auc: 0.862773	valid_1's auc: 0.782822
[1000]	training's auc: 0.868468	valid_1's auc: 0.78371
[1100]	training's auc: 0.873817	valid_1's auc: 0.78443
[1200]	training's auc: 0.878965	valid_1's auc: 0.785089
[1300]	training's auc: 0.883882	valid_1's auc: 0.785552
[1400]	training's auc: 0.888552	valid_1's auc: 0.785933
[1500]	training's auc: 0.893117	valid_1's auc: 0.786287
[1600]	training's auc: 0.897171	valid_1's auc: 0.786653
[1700]	training's auc: 0.901167	valid_1's auc: 0.786888
[1800]	training's auc: 0.904716	valid_1's auc: 0.787126
[1900]	training's auc: 0.908194	valid_1's auc: 0.78726
[2000]	training's auc: 0.911305	valid_1's auc: 0.787356
[2100]	training's auc: 0.914186	valid_1's auc: 0.787477
[2200]	training's auc: 0.916932	valid_1's auc: 0.787573
[2300]	training's auc: 0.919438	valid_1's auc: 0.787648
[2400]	training's auc: 0.921971	valid_1's auc: 0.787669
[2500]	training's auc: 0.924415	valid_1's auc: 0.787709
[2600]	training's auc: 0.926631	valid_1's auc: 0.78776
[2700]	training's auc: 0.928776	valid_1's auc: 0.787917
[2800]	training's auc: 0.930975	valid_1's auc: 0.787894
[auc] tr:0.928794, va0.7879
-------------------- 1 --------------------
(246009, 598) (61502, 598)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[LightGBM] [Warning] feature_fraction is set=0.8382013426865338, colsample_bytree=0.613 will be ignored. Current value: feature_fraction=0.8382013426865338
[LightGBM] [Warning] lambda_l1 is set=0.04783548481564155, reg_alpha=3.564 will be ignored. Current value: lambda_l1=0.04783548481564155
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.0006650872452558587, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.0006650872452558587
[LightGBM] [Warning] bagging_fraction is set=0.7111857053220034, subsample=0.708 will be ignored. Current value: bagging_fraction=0.7111857053220034
[LightGBM] [Warning] lambda_l2 is set=83.41839564147887, reg_lambda=4.93 will be ignored. Current value: lambda_l2=83.41839564147887
[100]	training's auc: 0.780548	valid_1's auc: 0.753665
[200]	training's auc: 0.797329	valid_1's auc: 0.763198
[300]	training's auc: 0.811755	valid_1's auc: 0.770709
[400]	training's auc: 0.823605	valid_1's auc: 0.776478
[500]	training's auc: 0.833933	valid_1's auc: 0.780307
[600]	training's auc: 0.842878	valid_1's auc: 0.783079
[700]	training's auc: 0.850639	valid_1's auc: 0.785177
[800]	training's auc: 0.857764	valid_1's auc: 0.786785
[900]	training's auc: 0.864076	valid_1's auc: 0.788085
[1000]	training's auc: 0.870022	valid_1's auc: 0.7891
[1100]	training's auc: 0.87525	valid_1's auc: 0.789929
[1200]	training's auc: 0.879719	valid_1's auc: 0.790575
[1300]	training's auc: 0.88413	valid_1's auc: 0.791085
[1400]	training's auc: 0.888085	valid_1's auc: 0.791546
[1500]	training's auc: 0.892103	valid_1's auc: 0.791951
[1600]	training's auc: 0.895726	valid_1's auc: 0.792412
[1700]	training's auc: 0.899008	valid_1's auc: 0.792728
[1800]	training's auc: 0.902306	valid_1's auc: 0.793034
[1900]	training's auc: 0.905592	valid_1's auc: 0.793211
[2000]	training's auc: 0.909005	valid_1's auc: 0.793387
[2100]	training's auc: 0.912114	valid_1's auc: 0.793525
[2200]	training's auc: 0.915016	valid_1's auc: 0.793709
[2300]	training's auc: 0.917957	valid_1's auc: 0.793867
[2400]	training's auc: 0.920787	valid_1's auc: 0.794033
[2500]	training's auc: 0.923688	valid_1's auc: 0.794155
[2600]	training's auc: 0.926278	valid_1's auc: 0.794249
[2700]	training's auc: 0.928777	valid_1's auc: 0.794403
[2800]	training's auc: 0.931233	valid_1's auc: 0.794462
[2900]	training's auc: 0.933518	valid_1's auc: 0.794534
[3000]	training's auc: 0.935961	valid_1's auc: 0.794525
[auc] tr:0.933446, va0.7945
-------------------- 2 --------------------
(246009, 598) (61502, 598)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[LightGBM] [Warning] feature_fraction is set=0.8382013426865338, colsample_bytree=0.613 will be ignored. Current value: feature_fraction=0.8382013426865338
[LightGBM] [Warning] lambda_l1 is set=0.04783548481564155, reg_alpha=3.564 will be ignored. Current value: lambda_l1=0.04783548481564155
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.0006650872452558587, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.0006650872452558587
[LightGBM] [Warning] bagging_fraction is set=0.7111857053220034, subsample=0.708 will be ignored. Current value: bagging_fraction=0.7111857053220034
[LightGBM] [Warning] lambda_l2 is set=83.41839564147887, reg_lambda=4.93 will be ignored. Current value: lambda_l2=83.41839564147887
[100]	training's auc: 0.780694	valid_1's auc: 0.759012
[200]	training's auc: 0.797687	valid_1's auc: 0.767103
[300]	training's auc: 0.812088	valid_1's auc: 0.773437
[400]	training's auc: 0.824025	valid_1's auc: 0.778175
[500]	training's auc: 0.834107	valid_1's auc: 0.781704
[600]	training's auc: 0.842488	valid_1's auc: 0.78407
[700]	training's auc: 0.849914	valid_1's auc: 0.785734
[800]	training's auc: 0.856493	valid_1's auc: 0.786892
[900]	training's auc: 0.862667	valid_1's auc: 0.787764
[1000]	training's auc: 0.868303	valid_1's auc: 0.788509
[1100]	training's auc: 0.873718	valid_1's auc: 0.789322
[1200]	training's auc: 0.878442	valid_1's auc: 0.789939
[1300]	training's auc: 0.882929	valid_1's auc: 0.790338
[1400]	training's auc: 0.887449	valid_1's auc: 0.790574
[1500]	training's auc: 0.891547	valid_1's auc: 0.79077
[1600]	training's auc: 0.894946	valid_1's auc: 0.791037
[1700]	training's auc: 0.898422	valid_1's auc: 0.791282
[1800]	training's auc: 0.902078	valid_1's auc: 0.791517
[1900]	training's auc: 0.905343	valid_1's auc: 0.791705
[2000]	training's auc: 0.908853	valid_1's auc: 0.791816
[2100]	training's auc: 0.912337	valid_1's auc: 0.791955
[2200]	training's auc: 0.915136	valid_1's auc: 0.791975
[2300]	training's auc: 0.917864	valid_1's auc: 0.791993
[2400]	training's auc: 0.920564	valid_1's auc: 0.792026
[2500]	training's auc: 0.923147	valid_1's auc: 0.792059
[2600]	training's auc: 0.925628	valid_1's auc: 0.792089
[2700]	training's auc: 0.928037	valid_1's auc: 0.792099
[2800]	training's auc: 0.930223	valid_1's auc: 0.792146
[2900]	training's auc: 0.932613	valid_1's auc: 0.792145
[auc] tr:0.931880, va0.7922
-------------------- 3 --------------------
(246009, 598) (61502, 598)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[LightGBM] [Warning] feature_fraction is set=0.8382013426865338, colsample_bytree=0.613 will be ignored. Current value: feature_fraction=0.8382013426865338
[LightGBM] [Warning] lambda_l1 is set=0.04783548481564155, reg_alpha=3.564 will be ignored. Current value: lambda_l1=0.04783548481564155
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.0006650872452558587, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.0006650872452558587
[LightGBM] [Warning] bagging_fraction is set=0.7111857053220034, subsample=0.708 will be ignored. Current value: bagging_fraction=0.7111857053220034
[LightGBM] [Warning] lambda_l2 is set=83.41839564147887, reg_lambda=4.93 will be ignored. Current value: lambda_l2=83.41839564147887

[100]	training's auc: 0.781088	valid_1's auc: 0.755109
[200]	training's auc: 0.798101	valid_1's auc: 0.763682
[300]	training's auc: 0.81267	valid_1's auc: 0.770433
[400]	training's auc: 0.824874	valid_1's auc: 0.775363
[500]	training's auc: 0.834887	valid_1's auc: 0.778692
[600]	training's auc: 0.843746	valid_1's auc: 0.780873
[700]	training's auc: 0.851593	valid_1's auc: 0.782614
[800]	training's auc: 0.858557	valid_1's auc: 0.784157
[900]	training's auc: 0.864827	valid_1's auc: 0.785337
[1000]	training's auc: 0.870964	valid_1's auc: 0.786349
[1100]	training's auc: 0.876577	valid_1's auc: 0.787118
[1200]	training's auc: 0.881376	valid_1's auc: 0.787618
[1300]	training's auc: 0.885809	valid_1's auc: 0.788142
[1400]	training's auc: 0.890311	valid_1's auc: 0.788615
[1500]	training's auc: 0.894285	valid_1's auc: 0.788963
[1600]	training's auc: 0.898115	valid_1's auc: 0.789249
[1700]	training's auc: 0.90171	valid_1's auc: 0.789498
[1800]	training's auc: 0.904942	valid_1's auc: 0.789646
[1900]	training's auc: 0.908056	valid_1's auc: 0.78976
[2000]	training's auc: 0.910974	valid_1's auc: 0.78991
[2100]	training's auc: 0.913843	valid_1's auc: 0.790043
[2200]	training's auc: 0.916782	valid_1's auc: 0.790199
[2300]	training's auc: 0.919433	valid_1's auc: 0.790243
[2400]	training's auc: 0.922118	valid_1's auc: 0.790219
[2500]	training's auc: 0.924823	valid_1's auc: 0.790203
[auc] tr:0.923029, va0.7903
-------------------- 4 --------------------
(246009, 598) (61502, 598)
[LightGBM] [Warning] num_threads is set with n_jobs=-1, nthread=-1 will be ignored. Current value: num_threads=-1
[LightGBM] [Warning] feature_fraction is set=0.8382013426865338, colsample_bytree=0.613 will be ignored. Current value: feature_fraction=0.8382013426865338
[LightGBM] [Warning] lambda_l1 is set=0.04783548481564155, reg_alpha=3.564 will be ignored. Current value: lambda_l1=0.04783548481564155
[LightGBM] [Warning] min_sum_hessian_in_leaf is set=0.0006650872452558587, min_child_weight=0.001 will be ignored. Current value: min_sum_hessian_in_leaf=0.0006650872452558587
[LightGBM] [Warning] bagging_fraction is set=0.7111857053220034, subsample=0.708 will be ignored. Current value: bagging_fraction=0.7111857053220034
[LightGBM] [Warning] lambda_l2 is set=83.41839564147887, reg_lambda=4.93 will be ignored. Current value: lambda_l2=83.41839564147887
[100]	training's auc: 0.781943	valid_1's auc: 0.750293
[200]	training's auc: 0.798629	valid_1's auc: 0.759013
[300]	training's auc: 0.813022	valid_1's auc: 0.765449
[400]	training's auc: 0.824848	valid_1's auc: 0.770442
[500]	training's auc: 0.834799	valid_1's auc: 0.773948
[600]	training's auc: 0.84347	valid_1's auc: 0.776458
[700]	training's auc: 0.850958	valid_1's auc: 0.778316
[800]	training's auc: 0.857985	valid_1's auc: 0.779501
[900]	training's auc: 0.864333	valid_1's auc: 0.78058
[1000]	training's auc: 0.870058	valid_1's auc: 0.781434
[1100]	training's auc: 0.875232	valid_1's auc: 0.78212
[1200]	training's auc: 0.880112	valid_1's auc: 0.782654
[1300]	training's auc: 0.884465	valid_1's auc: 0.78322
[1400]	training's auc: 0.888822	valid_1's auc: 0.783685
[1500]	training's auc: 0.892815	valid_1's auc: 0.784111
[1600]	training's auc: 0.89673	valid_1's auc: 0.784377
[1700]	training's auc: 0.900412	valid_1's auc: 0.784661
[1800]	training's auc: 0.904053	valid_1's auc: 0.784919
[1900]	training's auc: 0.907322	valid_1's auc: 0.785146
[2000]	training's auc: 0.910432	valid_1's auc: 0.785308
[2100]	training's auc: 0.9136	valid_1's auc: 0.785438
[2200]	training's auc: 0.916551	valid_1's auc: 0.785658
[2300]	training's auc: 0.919346	valid_1's auc: 0.785796
[2400]	training's auc: 0.922034	valid_1's auc: 0.78592
[2500]	training's auc: 0.924621	valid_1's auc: 0.786033
[2600]	training's auc: 0.927139	valid_1's auc: 0.786049
[2700]	training's auc: 0.929866	valid_1's auc: 0.786057
[auc] tr:0.927640, va0.7861
-------------------- result --------------------
[[0.         0.92879368 0.78792462]
 [1.         0.93344607 0.79454318]
 [2.         0.93188038 0.79219582]
 [3.         0.9230294  0.79027245]
 [4.         0.92764021 0.78607486]]
[cv] tr:0.9290+-0.0036, va:0.7902+-0.0030
[oof]0.7902

In [190]:
# 推論用データセットの作成
x_test = df_test.drop(columns=['SK_ID_CURR'])
id_test = df_test[['SK_ID_CURR']]

# カテゴリ変数をcategory型へ変換
for col in x_test.columns:
    if x_test[col].dtype=="O":
        x_test[col] = x_test[col].astype('category')

# predict
test_pred = baseline.predict_lgb(x_test
                       ,id_test
                       ,list_nfold=[0,1,2,3,4])

# make submission-file
df_submit = test_pred.rename(columns={"pred":"TARGET"})
print(df_submit.shape)
display(df_submit.head())
df_submit.to_csv("./home-credit-default-risk/submit/submission_HyperParameterTuning.csv", index=None)

-------------------- 0 --------------------
-------------------- 1 --------------------
-------------------- 2 --------------------
-------------------- 3 --------------------
-------------------- 4 --------------------
Done.
(48744, 2)

   SK_ID_CURR    TARGET
0      100001  0.034005
1      100005  0.124841
2      100013  0.046288
3      100028  0.050267
4      100038  0.146359

In [191]:
del df_train
del df_test
gc.collect()

250