In [1]:
import pandas as pd
#import pandas_profiling
import numpy as np
import cupy as cp
from sklearn.model_selection import train_test_split
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import KFold
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.metrics import roc_auc_score
from sklearn.tree import plot_tree

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import optuna.integration.lightgbm as lgb
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

print("OK\n")

OK

In [2]:
app_test_origin =  pd.read_csv('./home-credit-default-risk/application_test.csv')
data1 = pd.read_csv('./home-credit-default-risk/submit/submission_KB_1-1.csv')
data2 = pd.read_csv('./home-credit-default-risk/submit/submission_featureEngineeringOtherSourceXgb2-1.csv')
data3 = pd.read_csv('./home-credit-default-risk/submit/submission_OS_3-1.csv')
data4 = pd.read_csv('./home-credit-default-risk/submit/submission_featureEngineeringOtherSource2-2.csv')
data5 = pd.read_csv('./home-credit-default-risk/submit/submission_OS_5-1.csv')

In [3]:
app_test = app_test_origin[['SK_ID_CURR']].copy()

In [4]:
df = pd.DataFrame({
                    'data1': data1['TARGET'].values
                    ,'data2': data2['TARGET'].values
                    ,'data3': data3['TARGET'].values
                    ,'data4': data4['TARGET'].values
                    ,'data5': data4['TARGET'].values
                  })
df.head()

      data1     data2     data3     data4     data5
0  0.035196  0.032829  0.036622  0.037050  0.037050
1  0.118957  0.103780  0.104281  0.107536  0.107536
2  0.046725  0.035130  0.073944  0.052280  0.052280
3  0.040540  0.027752  0.038765  0.043154  0.043154
4  0.172782  0.154395  0.162438  0.170126  0.170126

In [5]:
df.corr()

          data1     data2     data3     data4     data5
data1  1.000000  0.981626  0.987568  0.987242  0.987242
data2  0.981626  1.000000  0.985612  0.988620  0.988620
data3  0.987568  0.985612  1.000000  0.992599  0.992599
data4  0.987242  0.988620  0.992599  1.000000  1.000000
data5  0.987242  0.988620  0.992599  1.000000  1.000000

In [6]:
sub = app_test.copy()
#
sub['TARGET'] = ((data1['TARGET'] * 0.1) + (data2['TARGET'] * 0.1) + (data3['TARGET'] * 0.0) + (data4['TARGET'] * 0.1) + (data5['TARGET'] * 0.7))
sub.head()

   SK_ID_CURR    TARGET
0      100001  0.035935
1      100005  0.110222
2      100013  0.041251
3      100028  0.042148
4      100038  0.149985

In [7]:
sub.to_csv('./home-credit-default-risk/submit/submission_ansumble_test.csv', index=False)
sub.head()

   SK_ID_CURR    TARGET
0      100001  0.035935
1      100005  0.110222
2      100013  0.041251
3      100028  0.042148
4      100038  0.149985

###