In [1]:
import pandas as pd
#import pandas_profiling
import numpy as np
import cupy as cp
from sklearn.model_selection import train_test_split
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import KFold
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.metrics import roc_auc_score
from sklearn.tree import plot_tree

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import optuna.integration.lightgbm as lgb
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

print("OK\n")

OK

In [2]:
app_test_origin =  pd.read_csv('./home-credit-default-risk/application_test.csv')
data1 = pd.read_csv('./home-credit-default-risk/submit/submission_KB_1-1.csv')
data2 = pd.read_csv('./home-credit-default-risk/submit/submission_featureEngineeringOtherSourceXgb2-2.csv')
data3 = pd.read_csv('./home-credit-default-risk/submit/submission_OS_3-1.csv')
data4 = pd.read_csv('./home-credit-default-risk/submit/submission_featureEngineeringOtherSource2-2.csv')

In [3]:
app_test = app_test_origin[['SK_ID_CURR']].copy()

In [4]:
df = pd.DataFrame({
                    'data1': data1['TARGET'].values
                    ,'data2': data2['TARGET'].values
                    ,'data3': data3['TARGET'].values
                    ,'data4': data4['TARGET'].values
                  })
df.head()

      data1     data2     data3     data4
0  0.034225  0.048181  0.038155  0.039569
1  0.107773  0.131152  0.130656  0.102449
2  0.033887  0.040155  0.062050  0.043964
3  0.040450  0.033271  0.039034  0.048765
4  0.160611  0.190030  0.196963  0.164586

In [5]:
df.corr()

          data1     data2     data3     data4
data1  1.000000  0.969391  0.978286  0.983297
data2  0.969391  1.000000  0.976242  0.977175
data3  0.978286  0.976242  1.000000  0.986145
data4  0.983297  0.977175  0.986145  1.000000

In [6]:
sub = app_test.copy()
#
sub['TARGET'] = ((data1['TARGET'] * 0.3) + (data2['TARGET'] * 0.0) + (data3['TARGET'] * 0.3) + (data4['TARGET'] * 0.4))
sub.head()

   SK_ID_CURR    TARGET
0      100001  0.037683
1      100005  0.109688
2      100013  0.044558
3      100028  0.044324
4      100038  0.169869

In [7]:
sub.to_csv('./home-credit-default-risk/submit/submission_ansumble_test.csv', index=False)
sub.head()

   SK_ID_CURR    TARGET
0      100001  0.037683
1      100005  0.109688
2      100013  0.044558
3      100028  0.044324
4      100038  0.169869