In [1]:
import pandas as pd
#import pandas_profiling
import numpy as np
import cupy as cp
from sklearn.model_selection import train_test_split
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import KFold
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.metrics import roc_auc_score
from sklearn.tree import plot_tree

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import optuna.integration.lightgbm as lgb
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

print("OK\n")

OK

In [2]:
app_test_origin =  pd.read_csv('./home-credit-default-risk/application_test.csv')
data1 = pd.read_csv('./home-credit-default-risk/submit/submission_KB_1-1.csv')
data2 = pd.read_csv('./home-credit-default-risk/submit/submission_featureEngineeringOtherSourceXgb2-1.csv')
data3 = pd.read_csv('./home-credit-default-risk/submit/submission_OS_3-1.csv')
data4 = pd.read_csv('./home-credit-default-risk/submit/submission_featureEngineeringOtherSource2-2.csv')

In [3]:
app_test = app_test_origin[['SK_ID_CURR']].copy()

In [4]:
df = pd.DataFrame({
                    'data1': data1['TARGET'].values
                    ,'data2': data2['TARGET'].values
                    ,'data3': data3['TARGET'].values
                    ,'data4': data4['TARGET'].values
                  })
df.head()

      data1     data2     data3     data4
0  0.033999  0.038159  0.043545  0.039482
1  0.103862  0.125007  0.099132  0.096614
2  0.042356  0.046856  0.062258  0.043337
3  0.040399  0.025520  0.034962  0.044793
4  0.166730  0.193569  0.192450  0.167878

In [5]:
df.corr()

          data1     data2     data3     data4
data1  1.000000  0.978127  0.981719  0.984002
data2  0.978127  1.000000  0.983268  0.985136
data3  0.981719  0.983268  1.000000  0.988355
data4  0.984002  0.985136  0.988355  1.000000

In [6]:
sub = app_test.copy()
#
sub['TARGET'] = ((data1['TARGET'] * 0.6) + (data2['TARGET'] * 0.1) + (data3['TARGET'] * 0.1) + (data4['TARGET'] * 0.2))
sub.head()

   SK_ID_CURR    TARGET
0      100001  0.036466
1      100005  0.104054
2      100013  0.044992
3      100028  0.039246
4      100038  0.172216

In [7]:
sub.to_csv('./home-credit-default-risk/submit/submission_ansumble_test.csv', index=False)
sub.head()

   SK_ID_CURR    TARGET
0      100001  0.036466
1      100005  0.104054
2      100013  0.044992
3      100028  0.039246
4      100038  0.172216

###