In [3]:
import pandas as pd
#import pandas_profiling
import numpy as np
import cupy as cp
from sklearn.model_selection import train_test_split
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import KFold
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.metrics import roc_auc_score
from sklearn.tree import plot_tree

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import optuna.integration.lightgbm as lgb
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

print("OK\n")

OK

In [9]:
app_test_origin =  pd.read_csv('./home-credit-default-risk/application_test.csv')
hcr_app_res_01 = pd.read_csv('./home-credit-default-risk/submit/hcr_app_res_01.csv')
submit_br_main_test = pd.read_csv('./home-credit-default-risk/submit/submit_br_main_test.csv')
submit_cc_test = pd.read_csv('./home-credit-default-risk/submit/submit_cc_test.csv')
submit_hc_only_cash_test = pd.read_csv('./home-credit-default-risk/submit/submit_hc_only_cash_test.csv')

In [13]:
app_test = app_test_origin[['SK_ID_CURR']].copy()

In [14]:
df = pd.DataFrame({'hcr_app_res_01': hcr_app_res_01['TARGET'].values
                    ,'submit_br_main_test': submit_br_main_test['TARGET'].values
                    ,'submit_cc_test': submit_cc_test['TARGET'].values
                    ,'submit_hc_only_cash_test': submit_hc_only_cash_test['TARGET'].values})
df.head()

,hcr_app_res_01,submit_br_main_test,submit_cc_test,submit_hc_only_cash_test
0,0.016287,0.009093,0.038545,0.010582
1,0.018439,0.015558,0.121523,0.011449
2,0.010717,0.008639,0.090656,0.008634
3,0.010696,0.003616,0.032635,0.007648
4,0.025055,0.020333,0.073309,0.021088

In [15]:
df.corr()

,hcr_app_res_01,submit_br_main_test,submit_cc_test,submit_hc_only_cash_test
hcr_app_res_01,1.000000,0.890137,0.341937,0.846759
submit_br_main_test,0.890137,1.000000,0.363870,0.767019
submit_cc_test,0.341937,0.363870,1.000000,0.241377
submit_hc_only_cash_test,0.846759,0.767019,0.241377,1.000000

In [16]:
sub = app_test.copy()
sub['TARGET'] = (hcr_app_res_01['TARGET'] + submit_br_main_test['TARGET'] + submit_cc_test['TARGET'] + submit_hc_only_cash_test['TARGET']) / 4
sub.head()

   SK_ID_CURR    TARGET
0      100001  0.018627
1      100005  0.041742
2      100013  0.029661
3      100028  0.013648
4      100038  0.034946

In [17]:
sub.to_csv('./home-credit-default-risk/submit/submission_ansumble_test.csv', index=False)
sub.head()

   SK_ID_CURR    TARGET
0      100001  0.018627
1      100005  0.041742
2      100013  0.029661
3      100028  0.013648
4      100038  0.034946