In [1]:
import pandas as pd
#import pandas_profiling
import numpy as np
import cupy as cp
from sklearn.model_selection import train_test_split
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import KFold
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.metrics import roc_auc_score
from sklearn.tree import plot_tree

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import optuna.integration.lightgbm as lgb
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

print("OK\n")

OK

In [2]:
app_test_origin =  pd.read_csv('./home-credit-default-risk/application_test.csv')
hcr_app_res_01 = pd.read_csv('./home-credit-default-risk/submit/hcr_app_res_01.csv')
hcr_app_nn_res_01 = pd.read_csv('./home-credit-default-risk/submit/hcr_app_nn_res_01.csv')
submit_br_main_test = pd.read_csv('./home-credit-default-risk/submit/submit_br_main_test.csv')
submit_cc_test = pd.read_csv('./home-credit-default-risk/submit/submit_cc_test.csv')
submit_hc_only_cash_test = pd.read_csv('./home-credit-default-risk/submit/submit_hc_only_cash_test.csv')
submit_hc_only_revo_test = pd.read_csv('./home-credit-default-risk/submit/submit_hc_only_revo_test.csv')

In [3]:
app_test = app_test_origin[['SK_ID_CURR']].copy()

In [4]:
df = pd.DataFrame({
                    'hcr_app_res_01': hcr_app_res_01['TARGET'].values
                    ,'hcr_app_nn_res_01': hcr_app_nn_res_01['TARGET'].values
                    #,'submit_br_main_test': submit_br_main_test['TARGET'].values
                    #,'submit_cc_test': submit_cc_test['TARGET'].values
                    #,'submit_hc_only_cash_test': submit_hc_only_cash_test['TARGET'].values
                    #,'submit_hc_only_revo_test': submit_hc_only_revo_test['TARGET'].values
                  })
df.head()

   hcr_app_res_01  hcr_app_nn_res_01
0        0.016039           0.008283
1        0.020274           0.050648
2        0.005912           0.006548
3        0.008829           0.006317
4        0.026247           0.045297

In [5]:
df.corr()

                   hcr_app_res_01  hcr_app_nn_res_01
hcr_app_res_01           1.000000           0.839181
hcr_app_nn_res_01        0.839181           1.000000

In [6]:
sub = app_test.copy()
#
sub['TARGET'] = (hcr_app_res_01['TARGET'] + hcr_app_nn_res_01['TARGET']) / 2
sub.head()

   SK_ID_CURR    TARGET
0      100001  0.012161
1      100005  0.035461
2      100013  0.006230
3      100028  0.007573
4      100038  0.035772

In [7]:
sub.to_csv('./home-credit-default-risk/submit/submission_ansumble_test.csv', index=False)
sub.head()

   SK_ID_CURR    TARGET
0      100001  0.012161
1      100005  0.035461
2      100013  0.006230
3      100028  0.007573
4      100038  0.035772