In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
# %cd /content/drive/MyDrive/

In [3]:
import torch
# GPUの名称、CUDA Compute Capabilityを取得
print(torch.cuda.get_device_name())

NVIDIA GeForce RTX 2080 Ti

In [4]:
from tensorflow.python.client import device_lib
device_lib.list_local_devices()

[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 1962829010488683897
 xla_global_id: -1,
 name: "/device:GPU:0"
 device_type: "GPU"
 memory_limit: 9399762944
 locality {
   bus_id: 1
   links {
   }
 }
 incarnation: 6222240287870267223
 physical_device_desc: "device: 0, name: NVIDIA GeForce RTX 2080 Ti, pci bus id: 0000:22:00.0, compute capability: 7.5"
 xla_global_id: 416903419,
 name: "/device:GPU:1"
 device_type: "GPU"
 memory_limit: 1745276110
 locality {
   bus_id: 1
   links {
   }
 }
 incarnation: 11644214416427625027
 physical_device_desc: "device: 1, name: NVIDIA RTX A2000 Laptop GPU, pci bus id: 0000:01:00.0, compute capability: 8.6"
 xla_global_id: 2144165316]

In [5]:
import pandas as pd
#import pandas_profiling
import numpy as np
import cupy as cp
from sklearn.model_selection import train_test_split
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import KFold
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.metrics import roc_auc_score
from sklearn.tree import plot_tree
from sklearn.metrics import mean_squared_error

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import optuna.integration.lightgbm as lgb
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

import xgboost as xgb
from sklearn.metrics import log_loss
from xgboost.sklearn import XGBClassifier


print("OK\n")

OK

In [6]:
app_train =  pd.read_csv('./home-credit-default-risk/exports/app_train_nn.csv')
app_test =  pd.read_csv('./home-credit-default-risk/exports/app_test_nn.csv')
# 他社債務
hc_br_train = pd.read_csv('./home-credit-default-risk/exports/hc_br_train_axis-60.csv')
hc_br_test = pd.read_csv('./home-credit-default-risk/exports/hc_br_test_axis-60.csv')
# hc Cash loans/Cash loans
hc_only_cash_cash_train = pd.read_csv('./home-credit-default-risk/exports/hc_only-cash-cash_train_axis-24.csv')
hc_only_cash_cash_test = pd.read_csv('./home-credit-default-risk/exports/hc_only-cash-cash_test_axis-24.csv')
# Revolving loans/Consumer loans
hc_only_rev_cons_train = pd.read_csv('./home-credit-default-risk/exports/hc_only-rev-cons_train_axis-24.csv')
hc_only_rev_cons_test = pd.read_csv('./home-credit-default-risk/exports/hc_only-rev-cons_test_axis-24.csv')
# hc  Revolving loans/Cash loans

app_test.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,...,FLAG_DOCUMENT_16,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_YEAR,CREDIT_TERM,DAYS_EMPLOYED_PERCENT,credit_annuity_ratio,DAYS_EMPLOYED_ANOM,credit_goods_price_ratio,credit_downpayment,AGE_INT
0,100001,0,0,0,0,135000.0,568800.0,20560.5,450000.0,0,...,0,0.0,0.0,0.036147,0.121044,19.775662,False,1.2640,-118800.0,52.715068
1,100005,0,1,0,0,99000.0,222768.0,17370.0,180000.0,0,...,0,0.0,3.0,0.077973,0.247398,74.467617,False,1.2376,-42768.0,49.490411
2,100013,0,1,1,0,202500.0,663264.0,69777.0,630000.0,0,...,0,0.0,4.0,0.105202,0.222477,1.934735,False,1.0528,-33264.0,54.898630
3,100028,0,0,0,2,315000.0,1575000.0,49018.5,1575000.0,0,...,0,0.0,3.0,0.031123,0.133515,6.378867,False,1.0000,0.0,38.290411
4,100038,0,1,1,1,180000.0,625500.0,32067.0,625500.0,0,...,0,NaN,NaN,0.051266,0.168021,15.997755,False,1.0000,0.0,35.726027

In [7]:
columns = ['TARGET']
hc_br_train.drop(columns, axis=1, inplace=True)
hc_only_cash_cash_train.drop(columns, axis=1, inplace=True)
hc_only_rev_cons_train.drop(columns, axis=1, inplace=True)
#hc_only_consumer_train.drop(columns, axis=1, inplace=True)
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_16,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_YEAR,CREDIT_TERM,DAYS_EMPLOYED_PERCENT,credit_annuity_ratio,DAYS_EMPLOYED_ANOM,credit_goods_price_ratio,credit_downpayment,AGE_INT
0,100002,1,0,1,0,0,202500.0,406597.5,24700.5,351000.0,...,0,0.0,1.0,0.060749,-0.067329,16.461104,False,1.158397,-55597.5,-25.920548
1,100003,0,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0.0,0.0,0.027598,-0.070862,36.234085,False,1.145199,-164002.5,-45.931507
2,100004,0,1,1,1,0,67500.0,135000.0,6750.0,135000.0,...,0,0.0,0.0,0.050000,-0.011814,20.000000,False,1.000000,0.0,-52.180822
3,100006,0,0,0,0,0,135000.0,312682.5,29686.5,297000.0,...,0,NaN,NaN,0.094941,-0.159905,10.532818,False,1.052803,-15682.5,-52.068493
4,100007,0,0,1,0,0,121500.0,513000.0,21865.5,513000.0,...,0,0.0,0.0,0.042623,-0.152418,23.461618,False,1.000000,0.0,-54.608219

In [8]:
# trainへマージ
app_train = pd.merge(app_train, hc_br_train, on='SK_ID_CURR', how='left')
# testへマージ
app_test = pd.merge(app_test, hc_br_test, on='SK_ID_CURR', how='left')
len(app_train)

307511

In [9]:
# trainへマージ
app_train = pd.merge(app_train, hc_only_cash_cash_train, on='SK_ID_CURR', how='left')
# testへマージ
app_test = pd.merge(app_test, hc_only_cash_cash_test, on='SK_ID_CURR', how='left')
len(app_train)

307511

In [10]:
# trainへマージ
app_train = pd.merge(app_train, hc_only_rev_cons_train, on='SK_ID_CURR', how='left')
# testへマージ
app_test = pd.merge(app_test, hc_only_rev_cons_test, on='SK_ID_CURR', how='left')
len(app_train)

307511

In [11]:
# trainへマージ
#app_train = pd.merge(app_train, hc_only_consumer_train, on='SK_ID_CURR', how='left')
# testへマージ
#app_test = pd.merge(app_test, hc_only_consumer_test, on='SK_ID_CURR', how='left')
#len(app_train)

In [12]:
#num_cols = ['max_credit_day_overdue', 'max_days_credit_enddate', 'min_days_enddate_fact', 'max_amt_credit_max_overdue', 'cnt_credit_prolong_in_6month', 'sum_amt_credit_sum', 'sum_amt_credit_sum_debt', 'sum_amt_credit_sum_limit', 'sum_amt_credit_sum_overdue', 'avg_amt_annuity']

data = pd.concat([app_train, app_test], sort=False)
train = data[:len(app_train)]
test = data[len(app_test):]


y_train = train['TARGET']
X_train = app_train.copy().drop('TARGET', axis=1)
X_test = app_test.copy()

# 学習データに基づいてYao-Johnson変換を定義
#pt = PowerTransformer(method = 'yeo-johnson')
#pt.fit(X_train[num_cols])

# 変換後のデータで各列を置換
#X_train[num_cols] = pt.transform(X_train[num_cols])
#X_test[num_cols] = pt.transform(X_test[num_cols])

X_train.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_INCOME_TYPE,...,hc_re_cons_variance_samp_rate_interest_privileged,hc_re_cons_max_sk_dpd,hc_re_cons_min_sk_dpd,hc_re_cons_sum_sk_dpd,hc_re_cons_avg_sk_dpd,hc_re_cons_cnt_sk_dpd,hc_re_cons_stddev_sk_dpd,hc_re_cons_stddev_pop_sk_dpd,hc_re_cons_var_pop_sk_dpd,hc_re_cons_variance_samp_sk_dpd
0,100002,0,1,0,0,202500.0,406597.5,24700.5,351000.0,0,...,-0.355567,-0.084506,0.195024,0.286131,0.028207,-0.185807,-0.453571,-0.453571,-0.131680,-0.131680
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,3,...,-0.229200,-1.959827,-1.838999,-1.256639,-2.158378,0.465464,-1.009195,-1.009195,0.086914,0.086914
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0,...,-1.204110,-0.198441,0.187722,0.059347,0.009637,-2.543880,-0.567230,-0.567230,-0.370260,-0.370260
3,100006,0,0,0,0,135000.0,312682.5,29686.5,297000.0,0,...,0.068768,0.070916,0.850526,0.315517,0.096725,-0.733422,-0.874109,-0.874109,-0.130120,-0.130120
4,100007,0,1,0,0,121500.0,513000.0,21865.5,513000.0,0,...,-1.542637,0.310938,0.217133,0.236815,0.158444,-0.335089,0.271508,0.271508,-0.050526,-0.050526

## 特徴量の重要度

In [13]:
dtrain = xgb.DMatrix(X_train, label=y_train)
params = {
    'booster': 'gbtree'
    ,'objective': 'binary:logistic'
    ,'silent': 1
    ,'random_state': 17
    ,'gpu_id': 0
    ,'tree_method': 'gpu_hist'
    ,'eval_metric': 'auc'
    ,'eta': 0.1
    ,'num_round': 10000
    ,'early_stopping_round': 50
    ,'max_depth': 8
    ,'subsample': 0.8
    ,'colsample_state': 71
    ,'colsample_bytree': 1.0
    ,'colsample_bylevel': 0.3
    ,'subsumple': 0.9
    ,'gamma': 0
    ,'lambda': 1
    ,'alpha': 0
    ,'min_child_weight': 1
}
num_round = 50
model = xgb.train(params, dtrain, num_round)

# 重要度の上位を出力する
fscore = model.get_score(importance_type = 'total_gain')
fscore = sorted([(k, v) for k, v in fscore.items()], key=lambda tpl: tpl[1], reverse=True)
len(fscore)

[00:43:39] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/learner.cc:627:
Parameters: { "colsample_state", "early_stopping_round", "num_round", "silent", "subsumple" } might not be used.

  This could be a false alarm, with some parameters getting used by language bindings but
  then being mistakenly passed down to XGBoost core, or some parameter actually being used
  but getting flagged wrongly here. Please open an issue if you find any such cases.

281

In [14]:
fscore[:20]

[('EXT_SOURCE_2', 21990.13671875),
 ('EXT_SOURCE_3', 19936.939453125),
 ('EXT_SOURCE_1', 8480.5419921875),
 ('br_avg_days_enddate_fact', 5072.23095703125),
 ('br_min_days_enddate_fact', 3502.65966796875),
 ('CREDIT_TERM', 3219.704833984375),
 ('DAYS_EMPLOYED', 3216.174560546875),
 ('credit_annuity_ratio', 2887.123779296875),
 ('credit_goods_price_ratio', 2581.095458984375),
 ('br_avg_days_credit_update', 2535.46240234375),
 ('NAME_EDUCATION_TYPE', 2086.20654296875),
 ('br_min_days_credit_update', 1523.6754150390625),
 ('CODE_GENDER', 1507.6973876953125),
 ('credit_downpayment', 1472.287841796875),
 ('hc_re_cons_max_rate_down_payment', 1240.0396728515625),
 ('OWN_CAR_AGE', 1180.2392578125),
 ('DAYS_BIRTH', 1150.0172119140625),
 ('AMT_ANNUITY', 986.1251831054688),
 ('DAYS_EMPLOYED_PERCENT', 953.03857421875),
 ('hc_cc_max_sk_dpd', 869.81591796875)]

In [15]:
type(fscore)

list

In [16]:
test_columns = []
for i in range(50):
    test_columns.append(fscore[i][0])
test_columns.append('SK_ID_CURR')

In [17]:
train_columns = test_columns.copy()
train_columns.append('TARGET')

In [18]:
app_train = app_train[train_columns].copy()
app_test = app_test[test_columns].copy()
app_train.head()

,EXT_SOURCE_2,EXT_SOURCE_3,EXT_SOURCE_1,br_avg_days_enddate_fact,br_min_days_enddate_fact,CREDIT_TERM,DAYS_EMPLOYED,credit_annuity_ratio,credit_goods_price_ratio,br_avg_days_credit_update,...,hc_re_cons_var_pop_rate_interest_primary,hc_cc_min_sk_dpd,br_avg_days_credit_enddate,hc_re_cons_avg_sk_dpd,hc_re_cons_stddev_sk_dpd,APARTMENTS_AVG,hc_re_cons_sum_sk_dpd,hc_cc_avg_amt_annuity,SK_ID_CURR,TARGET
0,0.262949,0.139376,0.083037,0.011667,-0.077509,0.060749,-637.0,16.461104,1.158397,-0.231633,...,-0.317444,1.619737,-0.717493,0.028207,-0.453571,-1.279061,0.286131,0.181728,100002,1
1,0.622246,NaN,0.311267,0.189417,0.096564,0.027598,-1188.0,36.234085,1.145199,0.301921,...,-0.109333,-0.542562,0.356002,-2.158378,-1.009195,0.051825,-1.256639,3.282963,100003,0
2,0.555912,0.729567,NaN,-0.849594,-0.701319,0.050000,-225.0,20.000000,1.000000,-1.102623,...,-1.217143,1.333542,0.029206,0.009637,-0.567230,NaN,0.059347,-0.949926,100004,0
3,0.650442,NaN,NaN,-0.280843,-0.249665,0.094941,-3039.0,10.532818,1.052803,-0.341181,...,-0.052282,-0.542562,0.068150,0.096725,-0.874109,NaN,0.315517,-0.064456,100006,0
4,0.322738,NaN,NaN,-0.278519,-0.206053,0.042623,-3038.0,23.461618,1.000000,-0.334401,...,-1.523674,-0.542562,-0.087052,0.158444,0.271508,NaN,0.236815,-0.905506,100007,0

## 学習

In [19]:
#num_cols = ['max_credit_day_overdue', 'max_days_credit_enddate', 'min_days_enddate_fact', 'max_amt_credit_max_overdue', 'cnt_credit_prolong_in_6month', 'sum_amt_credit_sum', 'sum_amt_credit_sum_debt', 'sum_amt_credit_sum_limit', 'sum_amt_credit_sum_overdue', 'avg_amt_annuity']

data = pd.concat([app_train, app_test], sort=False)
train = data[:len(app_train)]
test = data[len(app_test):]


y_train = train['TARGET']
X_train = app_train.copy().drop('TARGET', axis=1)
X_test = app_test.copy()

# 学習データに基づいてYao-Johnson変換を定義
#pt = PowerTransformer(method = 'yeo-johnson')
#pt.fit(X_train[num_cols])

# 変換後のデータで各列を置換
#X_train[num_cols] = pt.transform(X_train[num_cols])
#X_test[num_cols] = pt.transform(X_test[num_cols])

X_train.head()

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [ ]:
y_preds = []
models = []
scores = []
oof_train = np.zeros((len(X_train),))
cv = KFold(n_splits=5, shuffle=True, random_state=0)

categorical_features = columns

params = {
    'booster': 'gbtree'
    ,'objective': 'binary:logistic'
    ,'silent': 1
    ,'random_state': 17
    ,'gpu_id': 0
    ,'tree_method': 'gpu_hist'
    ,'eval_metric': 'auc'
    ,'eta': 0.1
    ,'num_round': 10000
    ,'early_stopping_round': 50
    ,'max_depth': 8
    ,'subsample': 0.8
    ,'colsample_state': 71
    ,'colsample_bytree': 1.0
    ,'colsample_bylevel': 0.3
    ,'subsumple': 0.9
    ,'gamma': 0
    ,'lambda': 1
    ,'alpha': 0
    ,'min_child_weight': 1
}

num_round = 50

for fold_id, (train_index, valid_index) in enumerate(cv.split(X_train)):
    X_tr = X_train.loc[train_index, :]
    X_val = X_train.loc[valid_index, :]
    y_tr = y_train[train_index]
    y_val = y_train[valid_index]
    
    dtrain = xgb.DMatrix(X_tr, label=y_tr)
    dvalid = xgb.DMatrix(X_val, label=y_val)
    dtest = xgb.DMatrix(X_test)
    
    watchlist = [(dtrain, 'train'), (dvalid, 'eval')]
    model = xgb.train(params, dtrain, num_round, evals=watchlist)
    
    va_pred = model.predict(dvalid)
    score = log_loss(y_val, va_pred)
    oof_train[valid_index] = va_pred
    
    y_pred = model.predict(dtest) 
    
    
    #oof_train[valid_index] = model.predict(X_val, num_iteration=model.best_iteration)
    #y_pred = model.predict(X_test, num_iteration=model.best_iteration)##

    y_preds.append(y_pred)
    models.append(model)
    scores.append(score)

In [ ]:
# CSV-00
submit_all = app_test[["SK_ID_CURR"]].copy()
# 予測確率の変数名はTARGET
submit_all["TARGET"] = y_preds[0]
submit_all.isnull().sum()

# Submit File
submit_all.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submit_all_00.csv", # 出力先
    sep=",",                                            # 区切り文字
    index=False,                                        # indexの出力有無
    header=True                                        # headerの出力有無
)

In [ ]:
# CSV-01
submit_all = app_test[["SK_ID_CURR"]].copy()
# 予測確率の変数名はTARGET
submit_all["TARGET"] = y_preds[1]

# Submit File
submit_all.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submit_all_01.csv", # 出力先
    sep=",",                                            # 区切り文字
    index=False,                                        # indexの出力有無
    header=True                                        # headerの出力有無
)

In [ ]:
# CSV-02
submit_all = app_test[["SK_ID_CURR"]].copy()
# 予測確率の変数名はTARGET
submit_all["TARGET"] = y_preds[2]

# Submit File
submit_all.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submit_all_02.csv", # 出力先
    sep=",",                                            # 区切り文字
    index=False,                                        # indexの出力有無
    header=True                                        # headerの出力有無
)

In [ ]:
# CSV-03
submit_all = app_test[["SK_ID_CURR"]].copy()
# 予測確率の変数名はTARGET
submit_all["TARGET"] = y_preds[3]

# Submit File
submit_all.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submit_all_03.csv", # 出力先
    sep=",",                                            # 区切り文字
    index=False,                                        # indexの出力有無
    header=True                                        # headerの出力有無
)

In [ ]:
# CSV-04
submit_all = app_test[["SK_ID_CURR"]].copy()
# 予測確率の変数名はTARGET
submit_all["TARGET"] = y_preds[4]

# Submit File
submit_all.to_csv(
    path_or_buf="./home-credit-default-risk/submit/submit_all_04.csv", # 出力先
    sep=",",                                            # 区切り文字
    index=False,                                        # indexの出力有無
    header=True                                        # headerの出力有無
)

In [ ]:
submit_all_00 = pd.read_csv('./home-credit-default-risk/submit/submit_all_00.csv')
submit_all_01 = pd.read_csv('./home-credit-default-risk/submit/submit_all_01.csv')
submit_all_02 = pd.read_csv('./home-credit-default-risk/submit/submit_all_02.csv')
submit_all_03 = pd.read_csv('./home-credit-default-risk/submit/submit_all_03.csv')
submit_all_04 = pd.read_csv('./home-credit-default-risk/submit/submit_all_04.csv')

In [ ]:
submit_all = pd.DataFrame({
    'submit_all_00': submit_all_00['TARGET'].values
    ,'submit_all_01': submit_all_01['TARGET'].values
    ,'submit_all_02': submit_all_02['TARGET'].values
    ,'submit_all_03': submit_all_03['TARGET'].values
    ,'submit_all_04': submit_all_04['TARGET'].values
    })
submit_all.head()

In [ ]:
submit_all.corr()

In [ ]:
submit_all = app_test[["SK_ID_CURR"]].copy()
submit_all['TARGET'] = (submit_all_00['TARGET'] + submit_all_01['TARGET'] + submit_all_02['TARGET'] + submit_all_03['TARGET'] + submit_all_04['TARGET'])/5
submit_all.head()

In [ ]:
submit_all['TARGET'] = (submit_all['TARGET'] / 5)
submit_all.to_csv('./home-credit-default-risk/submit/submit_all_xgb.csv', index=False)
submit_all.head()

In [ ]:
submit_all.count()