# Home Credit Revolving loans/Cash loans 00か月

In [ ]:
import torch
# GPUの名称、CUDA Compute Capabilityを取得
print(torch.cuda.get_device_name())

In [ ]:
from tensorflow.python.client import device_lib
device_lib.list_local_devices()

In [1]:
import cupy as cp
import numpy as np
import pandas as pd
import lightgbm as lgb
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

from lightgbm import LGBMClassifier

from sklearn import metrics
from sklearn_pandas import DataFrameMapper
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss
from sklearn.metrics import mean_squared_log_error
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.experimental import enable_iterative_imputer
from sklearn.metrics import roc_auc_score
from sklearn.tree import plot_tree
from sklearn.datasets import make_moons

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import SimpleImputer

from keras.layers import Dense, Dropout
from keras.models import Sequential

from six import StringIO

from IPython.display import Image
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import math
from scipy import stats
import numpy as np
import pandas as pd
import tensorflow as tf

from datetime import datetime
from tensorflow import feature_column
from tensorflow.keras import layers

from tqdm import tqdm

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

print("OK\n")

OK

In [21]:
app_train_origin = pd.read_csv('./home-credit-default-risk/exports/app_train.csv')
app_test_origin =  pd.read_csv('./home-credit-default-risk/exports/app_test.csv')
app_hc_train_origin = pd.read_csv('./home-credit-default-risk/datasets/app_train_hc_rev_cash_axis-00-monthes.csv')
app_hc_test_origin =  pd.read_csv('./home-credit-default-risk/datasets/app_test_hc_rev_cash_axis-00-monthes.csv')
app_train_origin.head()

,LANDAREA_MEDI,NAME_TYPE_SUITE,DAYS_REGISTRATION,DAYS_EMPLOYED,CNT_CHILDREN,LIVINGAREA_MEDI,NONLIVINGAPARTMENTS_MODE,TARGET,NAME_EDUCATION_TYPE,FLAG_MOBIL,...,DAYS_ID_PUBLISH,DAYS_BIRTH,NAME_CONTRACT_TYPE,CODE_GENDER,AMT_ANNUITY,FLOORSMIN_MODE,LIVINGAPARTMENTS_MODE,YEARS_BEGINEXPLUATATION_MEDI,BASEMENTAREA_MEDI,AMT_CREDIT
0,1.203650,0,0.379837,-637.0,0,0.975354,1.506565,1,0,1,...,0.579154,-1.506880,0,0,-0.088844,0.1250,1.188621,0.973233,-0.726610,-0.478095
1,1.199766,1,1.078697,-1188.0,0,0.985873,1.506565,0,1,1,...,1.790855,0.166821,0,1,0.670508,0.3333,1.556671,0.978441,-0.377455,1.725450
2,-0.827100,0,0.206116,-225.0,0,-0.995749,-0.663503,0,0,1,...,0.306869,0.689509,1,0,-1.666947,NaN,-0.668443,-1.024592,NaN,-1.152888
3,-0.827100,0,-1.375829,-3039.0,0,-0.995749,-0.663503,0,0,1,...,0.369143,0.680114,0,1,0.266951,NaN,-0.668443,-1.024592,NaN,-0.711430
4,-0.827100,0,0.191639,-3038.0,0,-0.995749,-0.663503,0,0,1,...,-0.307263,0.892535,0,0,-0.301776,NaN,-0.668443,-1.024592,NaN,-0.213734

## OriginデータのCOPY

In [22]:
app_train = app_train_origin[['SK_ID_CURR', 'TARGET']].copy()
app_test = app_test_origin[['SK_ID_CURR']].copy()
app_hc_train = app_hc_train_origin.copy()
app_hc_test = app_hc_test_origin.copy()
app_test.head()

   SK_ID_CURR
0      100001
1      100005
2      100013
3      100028
4      100038

In [24]:
app_hc_train = app_hc_train.rename(columns={'sk_id_curr': 'SK_ID_CURR'})
app_hc_test = app_hc_test.rename(columns={'sk_id_curr': 'SK_ID_CURR'})
len(app_hc_train)

8604

In [25]:
# trainへマージ
app_train = pd.merge(app_train, app_hc_train, on='SK_ID_CURR', how='left')
# testへマージ
app_test = pd.merge(app_test, app_hc_test, on='SK_ID_CURR', how='left')
len(app_test)

48744

In [26]:
# Plots the disribution of a variable colored by value of the target
def kde_target(var_name, df):
    
    # Calculate the correlation coefficient between the new variable and the target
    corr = df['TARGET'].corr(df[var_name])
    
    # Calculate medians for repaid vs not repaid
    avg_repaid = df.loc[df['TARGET'] == 0, var_name].median()
    avg_not_repaid = df.loc[df['TARGET'] == 1, var_name].median()
    
    plt.figure(figsize = (12, 6))
    
    # Plot the distribution for target == 0 and target == 1
    sns.kdeplot(df.loc[df['TARGET'] == 0, var_name], label = 'TARGET == 0')
    sns.kdeplot(df.loc[df['TARGET'] == 1, var_name], label = 'TARGET == 1')
    
    # label the plot
    plt.xlabel(var_name); plt.ylabel('Density'); plt.title('%s Distribution' % var_name)
    plt.legend();
    
    # print out the correlation
    print('The correlation between %s and the TARGET is %0.4f' % (var_name, corr))
    # Print out average values
    print('Median value for loan that was not repaid = %0.4f' % avg_not_repaid)
    print('Median value for loan that was repaid =     %0.4f' % avg_repaid)

## データの確認